USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__Activity_Data]    Script Date: 19/03/2021 12:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__Activity_Data] 
-- Amended for PD Upgrade
AS
BEGIN

  IF OBJECT_ID('tempdb..#PatGP') IS NOT NULL 
			dROP TABLE #PatGP
 SELECT   
 distinct
	[CMC_ID]
      ,[PatientSummary]
	  , RANK() OVER  (partition by [CMC_ID]  ORDER BY right([PatientSummary], charindex('||', reverse([PatientSummary])) - 1) ASC)  AS SummaryOrder 
	  ,null as lastFlag
      ,[RegisteredGP]
	  ,d.ChildODS as GPODS
 
      --,[CCG]
	  ,ltrim(rtrim(REplace(CCG, ' CCG', ''))) as CCG
      ,[London_CCG_ODS]
      ,[CCG_ODS]
      ,[CommissioningArea]
      ,[SurgeryEId]
      ,[GPEId]
      ,[Surgery]

	  into #PatGP

  FROM [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]a
  	inner join [ETL_Local_PROD].[dbo].[AT_ORGtoORG]d on d.ChildOrganizationEID = a.SurgeryEId
 
  --where CMC_ID = 100055975
  where charindex('test',[Surgery]) = 0
  order by cmc_ID,[PatientSummary]


  update r
		set r.lastFlag = 1
  from #PatGP r
  inner join 
  (
  select 
  CMC_ID,
  Max(summaryOrder) as LastOne
  from #PatGP 
  group by CMC_ID
  )s on s.CMC_ID = r.CMC_ID 
  and s.LastOne = r.SummaryOrder

  --select * from #PatGP order by cmc_ID, [PatientSummary]
  delete from #PatGP where lastFlag is null



 IF OBJECT_ID('tempdb..#PatGCMC_ID') IS NOT NULL 
			dROP TABLE #PatGCMC_ID
			select 
			a.CMC_ID,
			a.PatientSummary  ,
			cast(null as varchar(25)) as ODSCode,
			--d.ChildODS,
			a.GP_Practice,

			cast(null as varchar(255)) as Ward,
			cast(null as varchar(max)) as CCG,
			cast(null as varchar(max)) as OriginalCCG 

			into #PatGCMC_ID

			FROM [ETL_Local_PROD].[dbo].[AT_Patient_General] a


			update r
					set r.ODSCode = d.ChildODS,
						r.Ward = f.[Health Authority],
						r.CCG = ltrim(rtrim(REplace(e.[GP CCG], ' CCG', ''))) ,
						r.OriginalCCG =  ltrim(rtrim(REplace(f.CCG, ' CCG', '')))

			from #PatGCMC_ID r
			 left join [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]b on b.PatientSummary= r.PatientSummary
			inner join [ETL_Local_PROD].[dbo].[AT_PD_Dept]c on c.DeptEnterpriseID = b.SurgeryEId
			inner join [ETL_Local_PROD].[dbo].[AT_ORGtoORG]d on d.ChildOrganizationEID = c.DeptEnterpriseID 
			left join [ETL_Local_PROD].[ODSData].[searchods]e on e.ODS = d.ChildODS  and e.Type = 'General Medical Practice'
			left join  [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]f on f.PCDS = e.Postcode
 
 
  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]') is not null
 		drop table [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]

		select 
		*
		into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]
		from #PatGCMC_ID


			IF OBJECT_ID('tempdb..#MissingStuff') IS NOT NULL 
					 dROP TABLE #MissingStuff
		 select 
		   distinct
		   UserFullName as StaffFullName,
		   UserID as StaffUserID,
		   StaffEnterpriseID,
		   UserRegistryID as StaffRegistryID,
		   oRGANIZATIONrEGISTRYid AS pdregistryID,
		   OrganizationName as Team,
		   [Parent Org],
		   TeamType,
		   PostCode,
		   OrganisationCCG,
		   OrgSTP,
		   [NHS Region],
		 
		   deptenterpriseid as EnterpriseID
		   into #MissingStuff
  	from [ETL_Local_PROD].[dbo].[AT_Login_Details] with (nolock)

	 


--DROP INDEX  [AuditPatient_New].CMC_ID_Date

 
			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanData]
			select 
			a.PatAuditID,
			A.FromPatientSummary,
			a.ToPatientSummary,
			a.CMC_ID,
			actionTime,
			ActionType,
			comment,
			null  as RNumber,
			case ActionType when 'custom-consent_removed' then 'delete' else REPLACE(ActionType,'custom-','') end as DerivedActionType,
			ActionTypeOrder as ActivityOrderNo,
			OverAllOrder,
			y.STAFFEnterpriseID,		
			y.StaffUserId as [StaffUserId],
			y.StaffODSCode as ODSCode,
			y.StaffActiveDescription as[StaffActiveDescription],
			y.StaffProviderTypeDescription,
 
			y.StaffForename +' ' + y.StaffSurname as StaffFullName,
 
			a.StaffRegistryId,
	 
			a.DeptPDRegistryID   as PDRegistryID,
 
			z.Organization as  [ItemId],
			z.DeptName as [Team],
			cast(null as [nvarchar](255)) as [Parent Org],
			cast(null as [varchar](255)) as [TeamType],
			cast(null as [varchar](255)) as [PostCode],
			cast(null as varchar(255)) as OrganisationCCG,
			cast(null as varchar(255)) as OrgSTP,
			cast(null as varchar(255)) as [NHS Region],
			z.DeptODSCode,
			a.Role,
			z.deptEnterpriseID as EnterpriseID,
			coalesce(b.OriginalCCG,bb.ccg) as [PatientCCG],
			coalesce(b.GP_Practice,bb.surgery) as PatientGP_Practice,
			coalesce(b.ODSCode,bb.GPOds) as GPODDS,
			c.STP as [PatientSTP],

			LoginReference,
			z.Organization as CMC_OrItem,
			y.Individual CMC_Individual_ItemID,
			y.StaffRegistryId as CMC_Individual_PDRegistryID,
 
			cast(null as varchar(50))  as App
		 

  
		  into [ETL_Local_PROD].[dbo].[AT_CarePlanData]


		  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a with (nolock)
		left join [ETL_Local_PROD].[dbo].[AT_Staff]y on y.StaffRegistryId = a.StaffRegistryId	
		left join [ETL_Local_PROD].[dbo].[AT_PD_Dept] z on z.DeptPDRegistryID = a.DeptPDRegistryID
		left join #PatGCMC_ID b on b.CMC_ID = a.CMC_ID
		left join #PatGP bb on bb.CMC_ID = a.CMC_ID
		left join [ETL_Local_PROD].[Reference].[STP]c on c.CCGLONG_TRUNC = coalesce(b.OriginalCCG,bb.CCG)
		order by a.ActionTime
		
		
		
		WAITFOR DELAY '00:01:00' -- WAIT ONE before first incremental builds



	update f


	set f.PatientGP_Practice = g.GP_Practice


	from [ETL_Local_PROD].[dbo].[AT_CarePlanData]f
	inner join [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_GPName_ODSCode]g on g.ODSCode = f.ODSCode


	update x
		set x.RNumber = y.RNumber

	from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]x
	left join
		(
		select
		PatAuditID,
		  ROW_NUMBER() OVER(partition by cmc_id, [actionTime],[ActionType],stafffullname,team  ORDER BY OverAllOrder)  as RNumber -- removed [comment] field from partition by - some duplicates have a null value in the field
		 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		 ) y on y.PatAuditID = x.PatAuditID



					IF OBJECT_ID('tempdb..#ProviderTypes') IS NOT NULL 
					 dROP TABLE #ProviderTypes
					 select  
					 *,
					 ROW_NUMBER() over (PARTITION by individual order by individual) as rn 
					 into #ProviderTypes
					 from ETL_PROD.dbo.CMC_Individual_ProviderTypes with (nolock)

 
 	--delete from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where RNumber >1  --and DerivedActionType = 'view'
 
--select * FROM [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans] where CMC_ID =  100028917
--select * FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]  where CMC_ID =  
--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where cmc_id = 100010139 order by OverAllOrder
--select * from #PatGCMC_ID where CMC_ID =  100028917
 --select * from  [ETL_Local_PROD].[dbo].[AT_CarePlanData] where team = 'WILLOW TREE FAMILY DOCTORS'
  --select * from  [ETL_Local_PROD].[dbo].[AT_CarePlanData] where patientccg is null
 
--CREATE NONCLUSTERED INDEX CMC_ID_Date
--ON [ETL_Local_PROD].[dbo].[AuditPatient_New](CMC_ID,actionTime);

/** From Julia Hopper 24/11/2020

%HS_CC = Care Community, professional user login directly to CMC using login page and username and password
%HS_EMIS = professional user launches CMC via EMIS in-context link
%HS_PC = Personal Community, i.e. myCMC, patient user logs in to myCMC – please confirm if patient logins are in this table?
%HS_SAML = user launches CMC via A N Other system (i.e. not EMIS) generic in-context link
%HS_SmartCard = user login directly to CMC using login page and Smartcard Login button



**/
  update r

			set	
			
			r.app = case Domain when '%HS_EMIS' then 'EMIS' when '%HS_SAML' then 'Generic In-Context Link' when '%HS_PC' then 'MyCMC Portal' when '%HS_Smartcard' then 'Smartcard' else 'CMC' end

 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r

	left join [ETL_PROD].[dbo].[CMC_AuditLogin]aa with (nolock) on aa.ItemId = r.LoginReference


	--select distinct domain from [ETL_PROD].[dbo].[CMC_AuditLogin]



	 update r

			set	
	 
			[Parent Org] = f.[Parent Org],
			TeamType = f.TeamType,
		    PostCode = cast(f.POSTCODE as varchar(255)),
  
			r.OrganisationCCG = f.[Team Specified CCG]

	 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r with (nolock)
	left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on f.ActivityTeam = r.team
 
 
		WAITFOR DELAY '00:01:00' -- WAIT ONE before first incremental builds

		 update r

			set	 PatientCCG = coalesce(r.PatientCCG,g.CCG,'(Care plan not currently published)')
			--,
			--PatientSTP = coalesce(r.PatientSTP,j.STP) 

	 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r with (nolock)
	left join [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]g with (nolock) on g.CMC_ID = r.CMC_ID
	--left join [ETL_Local_PROD].[Reference].[STP]j on j.CCGLONG_TRUNC =coalesce(r.PatientCCG,g.CCG)

	update r

		set PatientSTP = coalesce(r.PatientSTP,j.STP) 

	 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r  with (nolock)
	 inner join [ETL_Local_PROD].[Reference].[STP]j on j.CCGLONG_TRUNC = r.PatientCCG


		WAITFOR DELAY '00:01:00' -- WAIT ONE before first incremental builds
 

	 update r

			set	
			 
			StaffProviderTypeDescription =  tt.Description 
	 

	 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r  with (nolock)
 
 
	left join #ProviderTypes pt on pt.Individual = CMC_Individual_ItemID  and pt.rn=1
	left join ETL_PROD.dbo.Coded_IndType tt  with (nolock)on tt.Code =  pt.ProviderType  
	where StaffProviderTypeDescription is null
 



 update a

    set a.PostCode = coalesce(hh.Postcode,g.postcode)


  from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]a  with (nolock)

	left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]g on g.[Organisation Code] = DEptODSCode
	left join [ETL_Local_PROD].[ODSData].[searchods]hh on hh.ODS = DEptODSCode

	where a.PostCode is null

--select *  from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where team = 'WILLOW TREE FAMILY DOCTORS'
--select   * from [ETL_Local_PROD].[ODSData].[searchods] where Postcode = 'N12 8TT'
	


	update a

		set a.PostCode = coalesce(hhh.postcode,hhhh.postcode,gg.postcode,ggg.postcode)

	from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]a  with (nolock)

	left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]gg on gg.[Organisation Name] = a.Team
	left join [ETL_Local_PROD].[ODSData].[searchods]hhh on hhh.[Team or GP] = a.Team
		left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]ggg on ggg.[Organisation Name] = a.[Parent Org]
	left join [ETL_Local_PROD].[ODSData].[searchods]hhhh on hhhh.[Parent] = a.[Parent Org]

	where a.PostCode is null




	if object_id('tempdb..#Temp1') is not null
	 drop table #Temp1

		select 
		distinct  
		ltrim(rtrim(REPLACE(CCG, ' CCG', ''))) as CCG, 
		STP,
		[NHS England REgion] 
		into #Temp1
		from [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]



	update f
			set		f.OrganisationCCG =  coalesce(hh.[GP CCG],f.OrganisationCCG,i.ccg),
					f.OrgSTP = coalesce(hhh.stp,k.stp,i.stp),
					f.[NHS Region] = coalesce(k.[NHS England REgion],i.[NHS England REgion])


	from [ETL_Local_PROD].[dbo].[AT_CarePlanData]f  with (nolock)
	left join [ETL_Local_PROD].[ODSData].[searchods]hh on hh.ODS = f.DEptODSCode
	left join [ETL_Local_PROD].[Reference].[STP]hhh on hhh.CCGLONGNAME = hh.[GP CCG]
	left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = f.Postcode
	left join #Temp1 k on k.CCG = f.OrganisationCCG




		update r
				set r.ActivityOrderNo = a.RN2
		
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r  with (nolock)
		inner join 
					(
					select
					CMC_ID,
					DerivedActionType, 
					actiontime,
					ROW_NUMBER() OVER(PARTITION BY CMC_ID,DerivedActionType ORDER by actiontime  ) AS RN2
					from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		 
					)a on a.CMC_ID = r.CMC_ID
					and a.ActionTime = r.ActionTime
						and a.DerivedActionType = r.DerivedActionType



		-------------------------------------------------------------------------


			update rr
				set rr.postcode = x.postcode,
					rr.OrganisationCCG = x.OrganisationCCG,
					rr.OrgSTP = x.OrgSTP,
					rr.[NHS Region] = x.[NHS Region]

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]rr  with (nolock)
		left join #MissingStuff x on x.StaffRegistryID = rr.StaffRegistryId
									and x.Team = rr.Team

		where rr.OrganisationCCG is null


	update rr
				set rr.postcode = x.postcode,
					rr.OrganisationCCG = x.OrganisationCCG,
					rr.OrgSTP = x.OrgSTP,
					rr.[NHS Region] = x.[NHS Region],
					rr.Team = x.Team,
					rr.[Parent Org] = x.[Parent Org],
					rr.TeamType = x.TeamType,
					rr.EnterpriseID = x.EnterpriseID

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]rr  with (nolock)
		left join #MissingStuff x on x.StaffRegistryID = rr.StaffRegistryId
									and x.pdregistryID  = rr.PDRegistryID
where rr.Team is null



			update r
		set OrganisationCCG  = REPLACE(OrganisationCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r


		update r
		set PatientCCG  = REPLACE(PatientCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r

 
		update r
		set PatientCCG  = REPLACE(PatientCCG, 'Cross Border: ', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r
		where charindex('Cross Border: ',PatientCCG)>0

		 
		update X
				set x.OrgSTP = z.STP,
				x.PatientSTP = y.STP

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] X  with (nolock)
		left join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = X.PatientCCG
		left join [ETL_Local_PROD].[Reference].[STP]z on z.CCGLONG_TRUNC = X.OrganisationCCG

 
	--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] 

	--where cmc_id = 100077583	order by overallorder
	--select * from AT_Staff where left((StaffForename +' '+ StaffSurname),11) = 'JEan Harris'


	  update a


		set team = case	
									 when a.team = 'ST GEORGES UNIVERSITY HOSPITALS EMERGENCY DEPARTMENT' then 'ST GEORGE''S UNIVERSITY HOSPITALS EMERGENCY DEPARTMENT'
									 when a.team = 'BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOSPITALS NHS TRUST' then 'BARKING HAVERING AND REDBRIDGE UNIVERSITY HOSPITALS NHS TRUST'
									 when a.team = 'CNWL Community Independence Service K and C' then 'CNWL Community Independence Service K & C'
									 when a.team = 'ROYAL BROMPTON & HAREFIELD NHS FOUNDATION TRUST'then 'ROYAL BROMPTON and HAREFIELD NHS FOUNDATION TRUST' 
									 when a.team in ('LCW','LCW OOH GPs') then 'LCW 111'
									 when a.team = 'MARIE CURIE CANCER CARE' then 'MARIE CURIE'
									 when a.team = 'MICHAEL SOBELL HOUSE/MVCC' then 'MICHAEL SOBELL HOUSE HOSPICE'
									 when a.team in ('ST JOSEPHS HOSPICE ( )','ST JOSEPHS HOSPICE (DO NOT USE)','ST JOSEPHS HOSPICE') then 'ST.JOSEPH''S HOSPICE'
									 when a.team = 'ST LUKES HOSPICE CMC USER (HARROW)' then 'ST LUKES HOSPICE (HARROW)'
									 when a.team = 'TRINITY HOSPICE - CMC User' then 'THE ROYAL TRINITY HOSPICE - CMC User'
									 when a.team = 'The Pines Care Home with Nursing' then 'THE PINES NURSING HOME'
									 when a.team in ('UNIVERSITY COLLEGE HOSPITAL EMERGENCY DEPARTMENT','University College London Hospital A & E Dept') then 'UCLH EMERGENCY DEPARTMENT'
									 when a.team = 'SOUTH LONDON DOCTORS URGENT CARE' then 'South London Doctors Urgent Care 111'
									 when a.team = '111 LAS' then '111 LAS SEL CAS'
									 when a.team = 'LONDON CENTRAL AND WEST UNSCHEDULED CARE COLLABORATIVE' then 'LCW 111'
									 else team
									 end

  from [ETL_Local_PROD].[dbo].[AT_CarePlanData]a  with (nolock)


  		WAITFOR DELAY '00:01:00' -- WAIT ONE before first incremental builds
 


		IF OBJECT_ID('tempdb..#tempSingleLog') IS NOT NULL 
		dROP TABLE #tempSingleLog
 
		select
	   
       a.[SessionID]
      ,[Active]
      ,[UserRegistryID]
      ,[OrganizationRegistryID]
      ,a.[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
	  ,TeamType
	  ,[Parent Org]
	  ,ROW_NUMBER() OVER(PARTITION BY [UserRegistryID] ORDER by [LoginRowId],a.itemid  ASC) AS RN2
	  ,d.FirstSesionLogin as FinalLoginTime
	  ,c.LastSessionLogout as FinalLogoutTime
	  ,e.SessionDur as TotalActiveTimeOfSession
      ,[UserAgent]
	  , DerivedDevicetype
      ,[Browser]
      ,[BrowserVersion]
      ,[BrowserMode]
      ,[IsMobile]
	  ,Domain
	  ,Success
	  ,SoftFailure
	  ,OrganisationCCG
	  ,OrgSTP
	  ,[NHS Region]
	  --,case when b.LastSessionRow = a.RN3 then 1 else null end as lastRowFlag
	  into #tempSingleLog
from ETL_Local_PROD.dbo.AT_Login_Details a
left join
				(
				select 
			sessionid,
			UserID,
			max(rn3) as LastSessionRow 
			from   ETL_Local_PROD.dbo.AT_Login_Details 
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)b on b.SessionID = a.SessionID and b.UserID = a.UserID
		left join
				(
					select 
			sessionid,
			UserID,
			max(FinalLogoutTime) as LastSessionLogout
			from   ETL_Local_PROD.dbo.AT_Login_Details 
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)c on c.SessionID = a.SessionID and c.UserID = a.UserID

		left join 
				(
 					select 
					sessionid,
					UserID,
					min(FinalLoginTime) as FirstSesionLogin
					from   ETL_Local_PROD.dbo.AT_Login_Details 
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)d on d.SessionID = a.SessionID and d.UserID = a.UserID


		left join 
				(
 					select 
					sessionid,
					UserID,
					sum(SessionDurationInMinutes) SessionDur
					from   ETL_Local_PROD.dbo.AT_Login_Details 
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)e on e.SessionID = a.SessionID and e.UserID = a.UserID

	where  b.LastSessionRow = a.RN3


			--Need to split views into one care plan per person per hour and look at per 2 hours...


			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanViewData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

			Select 
			distinct
			a.CMC_ID,
			a.PatientCCG,
			a.PatientSTP,
			a.ActionTime,
			a.ActionType,
			a.DerivedActionType,
			ActivityOrderNo,
			Comment,
			a.StaffRegistryId,
			a.StaffEnterpriseID,
			PDregistryID as OrganizationRegistryID,
			a.EnterpriseID,
			a.ODSCode,
			a.StaffFullName,
			StaffUserid as StaffUserID,
			--coalesce(b.UserID,StaffUserid) as StaffUserID,
			a.StaffProviderTypeDescription,
			a.Team,
			a.TeamType,
			a.[Parent Org],
			PostCode,
			organisationccg as OrganisationCCG,
			orgSTP as OrgSTP,
			[NHS Region] as OrgNHSRegion,
			a.App,
			cast(null as varchar(max)) as UserRole, 
			cast(null as varchar(max)) as UserAgent, 
			cast(null as varchar(max)) as DerivedDevicetype, 
			cast(null as varchar(max)) as Browser,
			cast(null as varchar(max)) as BrowserVersion, 
			null as Success,
			null as SoftFailure,
			cast(null as datetime) as FinalLoginTime,
			cast(null as datetime) as FinalLogoutTime, 
			null as TotalActiveTimeOfSession 

		

			into [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

			From [ETL_Local_PROD].[dbo].[AT_CarePlanData] a 
			--Left Join #tempSingleLog b On b.UserRegistryID = a.StaffRegistryId
			--							And
			--							(
			--							b.FinalLoginTime <= a.actionTime 
			--							And 
			--							b.FinalLogoutTime >= coalesce(a.actionTime,GetDate())
			--							)
			Where  a.DerivedActionType = 'view' 
			Order By a.actionTime


			--select * from  #tempSingleLog
			--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]where FinalLoginTime is null 
			--and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')
		-------------------------------------------------------
		
			update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				OrganizationRegistryID = coalesce(r.OrganizationRegistryID,s.OrganizationRegistryID),
				StaffUserID = coalesce(r.StaffUserID,s.UserID),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.TotalActiveTimeOfSession

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
	Left Join #tempSingleLog s On s.UserRegistryID = r.StaffRegistryId
										And
										(
										s.FinalLoginTime <= r.actionTime 
										And 
										s.FinalLogoutTime >= coalesce(r.actionTime,GetDate())
										)


		------------------------------------------

		update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.SessionDurationInMinutes

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
		 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
														and 
														(
														s.FinalLoginTime <= r.actiontime
														And 
														s.FinalLogoutTime >= r.ActionTime
														)
			where r.FinalLoginTime is null
	
	 
										 
			--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]where FinalLoginTime is null 
			--and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')
			

update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.SessionDurationInMinutes

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
		 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
														 
														and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime)
														and s.App = r.App
														 
			where r.FinalLoginTime is null
			and s.FinalLogoutTime is null
	
	
update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.FinalLoginTime <= r.actiontime and s.OrganizationName = r.Team), 
				FinalLogoutTime = (select min(FinalLogoutTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.FinalLogoutTime >= r.actiontime and s.OrganizationName = r.Team)
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
			
			where r.FinalLoginTime is null
	 
	and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')


	update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.OrganizationName = r.Team ) 
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
 
		where r.FinalLoginTime is null
	 
	and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')

	update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and dateadd(day,-1,convert(Date,s.FinalLoginTime)) = convert(date,r.actiontime) and s.OrganizationName = r.Team ) 
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
	     
		 where r.FinalLoginTime is null
	 
		and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')




	update r
			set  
				 USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure 

	 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
	 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
													and s.FinalLoginTime = r.FinalLoginTime
													and s.App = r.app
													and s.OrganizationName = r.Team
where r.UserRole is null


--select top 1000*  from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]where team = '111 LAS'and convert(date,ActionTime) >= '2020-07-01' and convert(date,ActionTime) <= '2020-07-31'
--select top 1000* From [ETL_Local_PROD].[dbo].[AT_CarePlanData]where team = '111 LAS'and convert(date,ActionTime) >= '2020-07-01' and convert(date,ActionTime) <= '2020-07-31'and DerivedActionType = 'view'
-------------------------------------------------------------------------------------------------------------------------------------------------


			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]


			SELECT  
			[CMC_ID]
		  ,[actionTime]
		  ,[Financial Year]
		  ,[ActionType]
		  ,[DerivedActionType]
		  ,[StaffEnterpriseID]
 
		  ,[StaffFullName]
		  ,[StaffUserId]
		  ,[ODSCode]
		  ,[StaffActiveDescription]
		  ,[StaffProviderTypeDescription]
		  ,[PDRegistryID]
		  ,[ItemId]
		  ,[Team]
		  --,[StaffODSCode]
		  ,[EnterpriseID]
		  ,[PatientCCG]
		  ,PatientSTP
		  ,[NHS Region]
		  ,TeamType
		  ,PostCode
		  ,OrganisationCCG as [TeamCCG]
		  --,ORgCCG as [TeamCCG]
		  ,ORGSTP
		  ,[Parent Org] 
		  ,[App]


	  into [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]

	from [ETL_Local_PROD].[dbo].[AT_CarePlanData]a
	left join  [ETL_Local_PROD].[dbo].[DIM_Date]b on b.[Calendar Day] = convert(date,a.ActionTime)
	where DerivedActionType = 'create'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/**

Care Plans with a draft that has been created after the most recent published date

**/
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	if OBJECT_ID ('Tempdb..#AT_LastAction') is not null
 	drop table #AT_LastAction
		select
		[CMC_ID]
		,[actionTime]
		,DerivedActionType
		,comment
		,row_number() over (partition by [CMC_ID] order by OverAllOrder)  as ActionOverAllOrder
		,null as LastAction  
		,null as SecondLastAction
		into #AT_LastAction
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		where DerivedActionType in ('revise','publish','discard')
		order by OverAllOrder

		Update r

				set r.LastAction = case when s.LastAction is not null then 1 else 0 end

		from #AT_LastAction r
		left join
				(
				select
				CMC_id,
				max(ActionOverAllOrder) as LastAction
				from #AT_LastAction 
				group by 
				CMC_id
				)s on s.CMC_ID = r.CMC_ID
				and s.LastAction = r.ActionOverAllOrder

		Update r

				set r.SecondLastAction = case when s.ActionOverAllOrder is not null then 1 else 0 end

		from #AT_LastAction r
		left join
				(
				select
				CMC_id ,
				ActionOverAllOrder
				from #AT_LastAction 
				where LastAction = 1
				)s on s.CMC_ID = r.CMC_ID
				and s.ActionOverAllOrder = r.ActionOverAllOrder + 1




		--select * from #AT_LastAction order by CMC_ID,ActionOverAllOrder


		  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]') is not null
				drop table [ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]
				select 
				a.cmc_id,
				a.DerivedActionType,
				a.Comment,
				convert(date,a.ActionTime) as ActionDate,
				convert(time,a.ActionTime) as ActionTime,
				b.NHS_Number,
				b.Date_Original_Approval,
				b.Date_Latest_Approval,
				Title +' '+FORENAME+' '+SURNAME as PatientName,
				DoB,
				DoD,
				DoD_PDS,
				PRIMARY_ADDRESS,
				PRIMARY_POSTCODE,
				GP_Practice,
				CCG,
				CommissioningArea

				into [ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]

				from #AT_LastAction a
				inner join [ETL_Local_PROD].[dbo].[AT_Patient_General]b on b.CMC_ID = a.CMC_ID
				where LastAction = 1 and DerivedActionType = 'revise'


		 


--select top 50000 * 
--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where cmc_id = 100000013

--order by CMC_ID, OverAllOrder
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/**

Unpublished Careplan Information

**/
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



	if OBJECT_ID ('Tempdb..#AT_Patient_CMCID') is not null
 	drop table #AT_Patient_CMCID 
	select 
	Patient, 
	cast(n.PatientNumber as bigint) as CMC_ID 
	into #AT_Patient_CMCID
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	where AssigningAuthority = 'CMC'

 


	if OBJECT_ID ('Tempdb..#AT_Patient_NHs') is not null
 	drop table #AT_Patient_NHs 
	select 
	pn.Patient, 
	n.PatientNumber as NHS_Number ,
	o.CMC_ID
	into #AT_Patient_NHs
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	left join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	left join #AT_Patient_CMCID o on o.Patient = pn.Patient
	where AssigningAuthority = 'NHS'


 --select *from #AT_Patient_NHs
 
 


	if OBJECT_ID ('Tempdb..#AT_Patient_Numbers') is not null
 	drop table #AT_Patient_Numbers
	select 
	distinct
	--a.Patient, 
	CMC_ID,
	--b.NHS_Number  
	cast(null as nvarchar(20)) as NHS_Number
	into #AT_Patient_Numbers
	from #AT_Patient_CMCID a

	union

	select
	distinct
	CMC_ID,
	cast(null as nvarchar(20)) as NHS_Number
	FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	--left join #AT_Patient_NHs b on b.Patient = a.Patient


	update r
			set r.NHS_Number = b.NHS_Number

	from #AT_Patient_Numbers r
	left join #AT_Patient_NHs b on b.CMC_ID = r.CMC_ID


	--select * from #AT_Patient_Numbers where NHS_Number is null
 
 	if OBJECT_ID ('Tempdb..#AT_Patient_NumbersNotPub') is not null
 	drop table #AT_Patient_NumbersNotPub
 SELECT a.[ItemID]
      ,[Patient]
      ,[AssigningAuthorityName]
      ,[Extension] as NHS_Number
	  ,MRN as CMC_id
      ,[Root]
      ,[Status]
      ,[Type]
      ,[Usage]
	   ,[AssigningAuthority]
      ,[BirthDateTime]
      ,[BirthMonth]
      ,[BirthOrder]
      ,[BirthYear]
      ,[CommunicationPreference]
      ,[CreatedBy]
      ,[CreatedOn]
      ,[CustomClassName]
      ,[CustomXMLString]
      ,[DeathTime]
      ,[Facility]
      ,[FullName]
      ,[LastEnteredBy]
      ,[LastEnteredOn]
      ,[LastEnteredOnC]
      ,[UTCLastEnteredOn]
      ,[UTCLastEnteredOnC]
      ,[LastUpdated]
      ,[MothersMaidenSurname]
      ,[MPIID]
      --,[MRN]
      ,[SSN]
      ,[VIP]
	  into #AT_Patient_NumbersNotPub
  FROM [ETL_PROD].[dbo].[CMC_Registry_Patient_Identifier]a
  inner join [ETL_PROD].[dbo].[CMC_Registry_Patient]b on b.ItemID = a.Patient
  
 
--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General]  where cmc_ID =  100011450



	if OBJECT_ID ('Tempdb..#Published') is not null
		drop table #Published

 select cmc_id into #Published from [ETL_Local_PROD].[dbo].[AT_Patient_General] 

    	if OBJECT_ID ('Tempdb..#UnPublished') is not null
		drop table #UnPublished

		SELECT [CMC_ID]
		,max(OverAllOrder) as LAstActionOrder,
		DerivedActionType 

	   into #UnPublished

	   FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	   where cmc_id not in (select * from #Published)
	   group by cmc_id,DerivedActionType




	    if OBJECT_ID ('Tempdb..#UnpublishedPLans') is not null
		drop table #UnpublishedPLans
		select

		a.CMC_ID,
		coalesce(d.NHS_Number,dd.nhs_number) as NHS_Number,
		dd.FullName,
		convert(Date,dd.BirthDateTime) as DOB,
	 
		c.actionTime,
		c.DerivedActionType,
		--c. ,
		row_number() over (partition by a.[CMC_ID] order by LAstActionOrder)  as LastActionOverAllOrder, 
		case  when c.DerivedActionType in ('create','publish') then  row_number() over (partition by a.[CMC_ID],c.DerivedActionType order by LAstActionOrder) else null end  as CreatePublishOrder, 
		case when b.LastActionOVerAll is not null then 1 else null end  as LastActionFlag,
		f.Description as WithdrawnReason, 
		c.StaffFullName,
		c.StaffUserId,
		c.StaffProviderTypeDescription,
		c.Team,
		c.PostCode,
		c.OrganisationCCG as TeamCCG,
		c.TeamType,
		c.App,
		c.[Parent Org] as TeamParentOrg 

		into #UnpublishedPLans
		from #UnPublished a
		left join
				(
				select
				CMC_ID,
				Max(LAstActionOrder) as LastActionOVerAll
		from #UnPublished 
		group by CMC_ID
		)b on b.CMC_ID = a.CMC_ID and b.LastActionOVerAll = a.LAstActionOrder
		left join [ETL_Local_PROD].[dbo].[AT_CarePlanData]c on c.CMC_ID = a.CMC_ID and c.OverAllOrder = a.LAstActionOrder and c.DerivedActionType = a.DerivedActionType
		left join #AT_Patient_Numbers d on d.CMC_ID = a.CMC_ID
		left join #AT_Patient_NumbersNotPub dd on dd.CMC_id = a.CMC_ID
		left join [ETL_PROD].[dbo].[CMC_ConsentWithdrawn]e on e.CMCID = a.CMC_ID
		left join [ETL_PROD].[dbo].[Coded_DeleteType]f on f.code = e.DeleteType
		left join AT_Staff g on g.StaffRegistryId = c.StaffRegistryId


 
	
	
			if OBJECT_ID ('Tempdb..#DEleted') is not null
				drop table #DEleted
			select
			*
			into #DEleted
			from
			(

			select 
			* 
			from #UnpublishedPLans
			where cmc_ID in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('delete'))
			--and LastActionFlag = 1

			) d where d.LastActionFlag = 1

			order by cmc_id, LastActionOverAllOrder


		if OBJECT_ID ('Tempdb..#NeverPublished') is not null
			drop table #NeverPublished

 
				select
				 *
				 into #NeverPublished
				from
				(
					 select 
					 * 
					 from #UnpublishedPLans
					 where CMC_ID not in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('publish'))
					 --and LastActionFlag = 1
					 and WithdrawnReason is null
					 --and actionTime >= '2019-04-01'
				)d
				where d.CMC_ID not in	(
										(select CMC_id from #DEleted)
										)
						order by cmc_id, LastActionOverAllOrder
		
 		if OBJECT_ID ('Tempdb..#Restricted') is not null
			drop table #Restricted
 
			select   		 
			distinct
					cast(	RIGHT(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1),
							len(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1)
								) -1
							)
						 as bigint)
								as CMC_ID,
1 as IsProtected
	
	into #Restricted
		FROM [ETL_PROD].[dbo].[CMC_Patient]
where IsProtected = 1 



 --select * from #Restricted where CMC_ID = 100011450


  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]

		select
		a.CMC_ID,
		a.NHS_Number,
		a.FullName as [Patient Name],
		a.DOB as [Patient DOB],
		a.team as [Created by Team],
		a.TeamType as [Created by TeamType],
		a.TeamCCG as [Created by TEam CCG],
		a.actionTime  as [Date Care Plan Created],
		d.[Month Name],
		d.[Financial Year],
		a.staffFullName as [Created By],
		a.StaffProviderTypeDescription as [Created Staff-Type],
		case when c.CMC_ID is not null then 1 else null end as 'NEver Published Flag'
 

		into [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]
		
		from #UnpublishedPLans a
		left join #DEleted b on b.CMC_ID = a.CMC_ID
		left join #NeverPublished c on c.CMC_ID = a.CMC_ID and c.LastActionFlag = 1
		left join [ETL_Local_PROD].[dbo].[DIM_Date]d on d.[Calendar Day] = convert(date,a.ActionTime)

		where 
		a.DerivedActionType = 'create'
		and a.WithdrawnReason is null
		and b.CMC_ID is null


	--  Report tables addded May 2020 - we always need more tables in the poxy database!! --------------	
	
 IF OBJECT_ID('tempdb..#FPB1') IS NOT NULL 
		dROP TABLE #FPB1
		select
		 Distinct
		 CMC_ID,
		 Convert(Date,ActionTime) as Date_Original_Publication

		 into #FPB1

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		 where cmc_ID
		 in
		 (
		 select
		 distinct
		 CMC_ID 
		 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		  where   DerivedActionType = 'create' 
		)
		and ActivityOrderNo = 1 
		and DerivedActionType = 'publish'
 
 
	IF OBJECT_ID('tempdb..#FPB2') IS NOT NULL 
		dROP TABLE #FPB2
 		select
		a.[CMC_ID],
		coalesce(convert(Date,[Date_Original_Approval]),convert(Date,a.[Add_Date])) as Date_Original_Publication
 
      into #FPB2

		FROM [ETL_Local_PROD].[dbo].[PatientDetailHistoric]a
		left join [ETL_Local_PROD].[Protocol].[OldSystemCarePlans]b on b.CMC_ID = a.CMC_ID
		 where a.cmc_ID not in (select cmc_id from #FPB1)
	 




			IF OBJECT_ID('tempdb..#FPB3') IS NOT NULL 
			dROP TABLE #FPB3

		;
		with CTeCombo as 
		(
		select cmc_id from #FPB1 union select cmc_id from #FPB2
		)
		
		  select 
		 Distinct
		 CMC_ID,
		coalesce(convert(Date,[Date_Original_Approval]),convert(Date,a.[Add_Date])) as Date_Original_Publication

		into #FPB3

		 from [ETL_Local_PROD].[dbo].[AT_Patient_General]a 
		 where a.cmc_ID not in (select cmc_id from CTeCombo)
		 and CMC_ID <> 2720

 			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]') is not null
			    drop table [ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]

				select

				*

				into [ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]

				from #FPB1

				union

				select
				*
				from #FPB2
		 

				union

				select
				*
				from #FPB3
		 

 
		update r
			set r.Date_Original_Publication = coalesce(s.original_approval_date,s.add_Date) 


		from [ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]r
		inner join [ETL_Local_PROD].[Protocol].[OldSystemCarePlans]s on s.CMC_ID = r.CMC_ID
	
		
IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Created_And_Published_By_Team]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Created_And_Published_By_Team]


select
'Published' as ReportType,
a.CMC_ID,
a.Date_Original_Publication as   Date_Original_Approval,
team,
TeamType,
d.CCGLONG_TRUNC as CCG,
b.[NHS Region]

into [ETL_Local_PROD].[dbo].[AT_Created_And_Published_By_Team]

FROM [ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]a

left join
(
SELECT 
distinct
a.CMC_ID, 
TEam,
coalesce(
		case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'
		--when TeamType = 'PRIMARY CARE' then 'GP'
		when (charindex('mental',TeamType)>0 or charindex('Community',TeamType)>0)  then 'COMMUNITY PROVIDER'
		--when TeamType ='SECONDARY CARE' then 'Acute/Tertiary Services'
		when TeamType is null and charindex('CCG',[Parent Org]) > 0 and  charindex('GP Practices',[Team])> 0 then 'PRIMARY CARE'
		When TeamType = 'UNKNOWN' then 'Not recorded'
			else TeamType
			end,'Not Recorded'
		)  as  TeamType,
a.ccg,
a.CommissioningArea as [NHS Region]
FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]a with (nolock)

left join  (
 select
 *
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData] with (nolock)
 where cmc_ID
 in
 (
 select
 distinct
 CMC_ID 
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData] with (nolock)
  where   DerivedActionType = 'create' 
)
and ActivityOrderNo = 1 
and DerivedActionType = 'publish'
)c on c.CMC_ID = a.CMC_ID
  where   DerivedActionType = 'publish' and ActivityOrderNo = 1 
  )b on b.CMC_ID = a.CMC_ID
left join [ETL_Local_PROD].[Reference].[STP]d on d.CCGLONGNAME = b.ccg
  WHere Date_Original_Publication >= '2018-04-01'
 



 union 

 select
 'Create' as ReportType,
CMC_ID,
actionTime,
team,
coalesce(
		case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'
		--when TeamType = 'PRIMARY CARE' then 'GP'
		when (charindex('mental',TeamType)>0 or charindex('Community',TeamType)>0)  then 'COMMUNITY PROVIDER'
		--when TeamType ='SECONDARY CARE' then 'Acute/Tertiary Services'
		when TeamType is null and charindex('CCG',[Parent Org]) > 0 and  charindex('GP Practices',[Team])> 0 then 'PRIMARY CARE'
		When TeamType = 'UNKNOWN' then 'Not recorded'
			else TeamType
			end,'Not Recorded'
		)  as  TeamType,
OrganisationCCG,
[NHS Region]
  FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData] with (nolock)
  where   DerivedActionType = 'create' 
  and  convert(Date,actionTime) >= '2018-04-01'

 

		end