USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__Activity_Data]    Script Date: 06/10/2021 14:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__Activity_Data] 
-- Amended for PD Upgrade
AS
BEGIN

			IF OBJECT_ID('tempdb..#PatGP') IS NOT NULL 
			dROP TABLE #PatGP
			SELECT   
			distinct
			[CMC_ID]
			,[PatientSummary]
			, RANK() OVER  (partition by [CMC_ID]  ORDER BY right([PatientSummary], charindex('||', reverse([PatientSummary])) - 1) ASC)  AS SummaryOrder 
			,null as lastFlag
			,[RegisteredGP]
			--,d.ChildODS as GPODS
			,d.DeptODSCode as GPODS
			--,[CCG]
			,d.CCG CCG
			,[London_CCG_ODS]
			,[CCG_ODS]
			,[CommissioningArea]
			,[SurgeryEId]
			,[GPEId]
			,[Surgery]

			into #PatGP

			FROM [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]a
			--inner join [ETL_Local_PROD].[dbo].[AT_ORGtoORG]d on d.ChildOrganizationEID = a.SurgeryEId
			inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]d on d.EnterpriseID = a.SurgeryEId
			--where CMC_ID = 100055975
			where charindex('test',[Surgery]) = 0
			order by cmc_ID,[PatientSummary]


			update r
			set r.lastFlag = 1
			from #PatGP r
			inner join 
			(
			select 
			CMC_ID,
			Max(summaryOrder) as LastOne
			from #PatGP 
			group by CMC_ID
			)s on s.CMC_ID = r.CMC_ID 
			and s.LastOne = r.SummaryOrder

			--select * from #PatGP  where cmc_ID = 19226
			delete from #PatGP where lastFlag is null

			--IFERROR('Unique Records Alive at Month End'/'GP practice registered population',0)

			IF OBJECT_ID('tempdb..#PatGCMC_ID') IS NOT NULL 
			dROP TABLE #PatGCMC_ID
			select 
			a.CMC_ID,
			a.PatientSummary  ,
			a.GPODSCode as ODSCode,
			--d.ChildODS,
			a.GP_Practice,
			--a. ,

			cast(null as varchar(255)) as Ward,
			cast(null as varchar(max)) as CCG,
			a.CCG as OriginalCCG 

			into #PatGCMC_ID

			FROM [ETL_Local_PROD].[dbo].[AT_Patient_General] a


			update r
			set r.ODSCode = c.DeptODSCode,
			r.Ward = c.[Local Authority],
			r.CCG = d.NEW_CCG_Pseudo ,
			r.OriginalCCG = c.CCG

			from #PatGCMC_ID r
			left join [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]b on b.PatientSummary= r.PatientSummary
			inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]c on c.EnterpriseID = b.SurgeryEId
			left join [ETL_Local_PROD].[Reference].[STP]d on d.CCGLONG_TRUNC = c.CCG
 
		--select * from #PatGCMC_ID where cmc_ID = 19226

			--select * FROM [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP] where cmc_id = 19226


			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]

			select 
			*
			into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]
			from #PatGCMC_ID


	 

			IF OBJECT_ID('tempdb..#MaxID') IS NOT NULL 
			dROP TABLE #MaxID
			select max([AuditID]) as LastID into #MaxID from [ETL_Local_PROD].[dbo].[AT_CarePlanData]

			IF OBJECT_ID('tempdb..#CPD') IS NOT NULL 
			dROP TABLE #CPD
			select 
			a.PatAuditID,
			rid.AuditID,
			cast(null as [bigint]) as  [AuditIDORder],
			A.FromPatientSummary,
			a.ToPatientSummary,
			convert(bigint,a.CMC_ID) as CMC_ID,
			a.actionTime,
			ActionType,
			comment,
			null  as RNumber,
			case ActionType when 'custom-consent_removed' then 'delete' else REPLACE(ActionType,'custom-','') end as DerivedActionType,
			ActionTypeOrder as ActivityOrderNo,
			a.OverAllOrder,
			y.STAFFEnterpriseID,		
			y.StaffUserId as [StaffUserId],
			y.StaffODSCode,
			y.StaffActiveDescription as[StaffActiveDescription],
			y.StaffProviderTypeDescription,
 
			y.StaffForename +' ' + y.StaffSurname as StaffFullName,
			a.StaffRegistryId,
	 
			a.DeptPDRegistryID   as PDRegistryID,

			cast(null as [varchar] (max)) as [Team],
			cast(null as [varchar](max)) as [Parent Org],
			cast(null as [varchar](max)) as  [TeamType],
			cast(null as [varchar](50)) as  [PostCode],
			cast(null as [varchar](255)) as  [OrganisationCCG],
			cast(null as [varchar](255)) as  [OrgSTP],
			cast(null as [varchar](255)) as  [NHS Region],
			cast(null as [varchar](255)) as  [DeptODSCode],
			caST(NULL AS INT) AS DeptEnterpriseID,
			a.DeptPDRegistryID,
			a.Role,
			
			coalesce(b.OriginalCCG,bb.ccg) as [PatientCCG],
			coalesce(b.GP_Practice,bb.surgery) as PatientGP_Practice,
			coalesce(b.ODSCode,bb.GPOds) as GPODDS,
			cast(null as [varchar](255)) as   [PatientSTP],

			y.Individual CMC_Individual_ItemID,
			y.StaffRegistryId as CMC_Individual_PDRegistryID,
			a.LoginReference,
			cast(null as varchar(50))  as App


			into #CPD


			FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a with (nolock)
			inner join [ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_New_RowID]rid on rid.PatAuditID = a.PatAuditID
			left join [ETL_Local_PROD].[dbo].[AT_Staff]y on y.StaffRegistryId = a.StaffRegistryId	
			left join #PatGCMC_ID b on b.CMC_ID = a.CMC_ID
			left join #PatGP bb on bb.CMC_ID = a.CMC_ID

			where rid.AuditID > (select lastid from #MaxID)
			 
			order by a.ActionTime

	 

	 --select *	FROM [ETL_Local_PROD].[dbo].[AT_Patient_General] where cmc_id = 19226



			update f

			set  f.[Team] = zz.team,
			f.[Parent Org] = zz.parent,
			f.[TeamType] = zz.DerivedTeamType,
			f.[PostCode] = zz.PostCode,
			f.[OrganisationCCG] = zz.ccg,
			f.[OrgSTP] = c.stp,
			f.[NHS Region] = zz.region,
			f.[DeptODSCode] = zz.DeptODSCode,
			f.DeptEnterpriseID = zz.EnterpriseID



			from [#CPD]f
		 
			left join [AT_Organisation_to_Department_Provider_Directory]zz on ltrim(rtrim(zz.DeptPDRegistryId)) = f.PDRegistryID
			left join [ETL_Local_PROD].[Reference].[STP]c on c.CCGLONG_TRUNC = zz.ccg


			update f

			set  f.[AuditIDORder] = aa.OverAllOrder


			from [#CPD]f
			left join [ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_New_RowID]aa on aa.PatAuditID = f.PatAuditID and aa.actionTime = f.ActionTime


			update PSTP
			set PatientSTP = c.STP

			from [#CPD]PSTP
			inner join [ETL_Local_PROD].[Reference].[STP]c on c.CCGLONG_TRUNC = PSTP.PatientCCG

 
 
 
  
	


			update r

			set	
			
			r.app = case Domain 
					when '%HS_EMIS' then 'EMIS' 
					when '%HS_SAML' then 'Generic In-Context Link' 
					when '%HS_PC' then 'MyCMC Portal' 
					when '%HS_Smartcard' then 'Smartcard' else 'CMC' 
					end

			from  [#CPD]r

			left join [ETL_PROD].[dbo].[CMC_AuditLogin]aa with (nolock) on aa.ItemId = r.LoginReference
 

 	update r

			set	
			
			r.app =  'NRL'  

			from  [#CPD]r
			where r.DerivedActionType = 'nrl-document_retrieve'



 

 

			IF OBJECT_ID('tempdb..#ProviderTypes') IS NOT NULL 
			dROP TABLE #ProviderTypes
			select  
			*,
			ROW_NUMBER() over (PARTITION by individual order by individual) as rn 
			into #ProviderTypes
			from ETL_PROD.dbo.CMC_Individual_ProviderTypes with (nolock)


 
			update r

			set	
			 
			StaffProviderTypeDescription =  tt.Description 
	 

			from [#CPD]r  with (nolock)
 
 
			left join #ProviderTypes pt on pt.Individual = r.CMC_Individual_ItemID  and pt.rn=1
			left join ETL_PROD.dbo.Coded_IndType tt  with (nolock)on tt.Code =  pt.ProviderType  
			where StaffProviderTypeDescription is null
 
 
  
		-------------------------------------------------------------------------

			IF OBJECT_ID('tempdb..#MissingStuff') IS NOT NULL 
					 dROP TABLE #MissingStuff
		 select 
		   distinct
		   UserFullName as StaffFullName,
		   UserID as StaffUserID,
		   StaffEnterpriseID,
		   deptenterpriseid,
		   UserRegistryID as StaffRegistryID,
		   oRGANIZATIONrEGISTRYid AS pdregistryID,
		   OrganizationName as Team,
		   [Parent Org],
		   TeamType,
		   PostCode,
		   OrganisationCCG,
		   OrgSTP,
		   [NHS Region],
		 
		   deptenterpriseid as EnterpriseID
		   into #MissingStuff
  	from [ETL_Local_PROD].[dbo].[AT_Login_Details] with (nolock)

 

			update rr
				set rr.postcode = x.postcode,
					rr.OrganisationCCG = x.OrganisationCCG,
					rr.OrgSTP = x.OrgSTP,
					rr.[NHS Region] = x.[NHS Region]

		from [#CPD]rr  with (nolock)
		left join #MissingStuff x on x.StaffEnterpriseID = rr.StaffEnterpriseID
									and x.EnterpriseID = rr.DeptEnterpriseID

		where rr.OrganisationCCG is null


	update rr
				set rr.postcode = x.postcode,
					rr.OrganisationCCG = x.OrganisationCCG,
					rr.OrgSTP = x.OrgSTP,
					rr.[NHS Region] = x.[NHS Region],
					rr.Team = x.Team,
					rr.[Parent Org] = x.[Parent Org],
					rr.TeamType = x.TeamType,
					rr.DeptEnterpriseID = x.EnterpriseID

		from [#CPD]rr  with (nolock)
		left join #MissingStuff x on x.StaffRegistryID = rr.StaffRegistryId
									and x.pdregistryID  = rr.PDRegistryID
where rr.Team is null



			update r
		set OrganisationCCG  = REPLACE(OrganisationCCG, ' CCG', '')

		from [#CPD] r


		update r
		set PatientCCG  = REPLACE(PatientCCG, ' CCG', '')

		from [#CPD] r

 
		update r
		set PatientCCG  = REPLACE(PatientCCG, 'Cross Border: ', '')

		from [#CPD] r
		where charindex('Cross Border: ',PatientCCG)>0

		 
		update X
				set x.OrgSTP = z.STP,
				x.PatientSTP = y.STP

		from [#CPD] X  with (nolock)
		left join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = X.PatientCCG
		left join [ETL_Local_PROD].[Reference].[STP]z on z.CCGLONG_TRUNC = X.OrganisationCCG

 

 insert into [ETL_Local_PROD].[dbo].[AT_CarePlanData]
 select * from [#CPD]

 
 		update x
			set x.RNumber = y.RNumber

			from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]x
			inner join
			(
			select
			AuditID,
			ROW_NUMBER() OVER(partition by cmc_id, [actionTime],[ActionType],stafffullname,team  ORDER BY OverAllOrder)  as RNumber -- removed [comment] field from partition by - some duplicates have a null value in the field
			from  [#CPD]
			) y on y.AuditID = x.AuditID

 


-- ALTER TABLE  [ETL_Local_PROD].[dbo].[AT_CarePlanData]
--ALTER COLUMN CMC_ID bigint;




  		WAITFOR DELAY '00:01:00' -- WAIT ONE before first incremental builds
 
 update f
	set f.Team = g.Team ,
	f.[Parent Org] = g.Parent,
	f.TeamType = g.DerivedTeamType,
	f.OrganisationCCG = g.CCG,
	f.OrgSTP = g.STP,
	f.[NHS Region] = g.Region,
	f.DeptODSCode = g.DeptODSCode


 from   [ETL_Local_PROD].[dbo].[AT_CarePlanData]f with (nolock)
 inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]g on g.EnterpriseID = f.DeptEnterpriseID
 where f.team <> g.Team
	or f.[Parent Org] <> g.Parent
	or f.TeamType <> g.DerivedTeamType 
	or f.OrganisationCCG <> g.ccg
	or f.OrgSTP <> g.STP
	or f.[NHS Region] <> g.Region
	or f.DeptODSCode <> g.DeptODSCode


 update g
		set g.PatientCCG = h.OriginalCCG
		--,
		--g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]g with (nolock)
 inner join #PatGCMC_ID h on h.CMC_ID = g.CMC_ID 
 WHere (g.PatientCCG <> h.OriginalCCG) OR (g.PatientCCG is null) OR (h.OriginalCCG is null)

 --select * from #PatGCMC_ID  where cmc_id = 19226
--update a set a.PatientSTP = null from [ETL_Local_PROD].[dbo].[AT_CarePlanData]a where PatientCCG is null

 update g
		set  g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]g with (nolock)
inner join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = g.PatientCCG

--where y.stp <> g.PatientSTP
--select * from  [ETL_Local_PROD].[dbo].[AT_CarePlanData] where team = 'PHYSICIAN RESPONSE UNIT BARTS HEALTH NHS TRUST'


		IF OBJECT_ID('tempdb..#tempSingleLog') IS NOT NULL 
		dROP TABLE #tempSingleLog
 
		select
	   
       a.[SessionID]
      ,[Active]
      ,[UserRegistryID]
      ,[OrganizationRegistryID]
      ,a.[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
	  ,TeamType
	  ,[Parent Org]
	  ,ROW_NUMBER() OVER(PARTITION BY [UserRegistryID] ORDER by [LoginRowId],a.itemid  ASC) AS RN2
	  ,d.FirstSesionLogin as FinalLoginTime
	  ,c.LastSessionLogout as FinalLogoutTime
	  ,e.SessionDur as TotalActiveTimeOfSession
      ,[UserAgent]
	  , DerivedDevicetype
      ,[Browser]
      ,[BrowserVersion]
      ,[BrowserMode]
      ,[IsMobile]
	  ,Domain
	  ,Success
	  ,SoftFailure
	  ,OrganisationCCG
	  ,OrgSTP
	  ,[NHS Region]
	  --,case when b.LastSessionRow = a.RN3 then 1 else null end as lastRowFlag
	  into #tempSingleLog
from ETL_Local_PROD.dbo.AT_Login_Details a 
left join
				(
				select 
			sessionid,
			UserID,
			max(rn3) as LastSessionRow 
			from   ETL_Local_PROD.dbo.AT_Login_Details  with (nolock)
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)b on b.SessionID = a.SessionID and b.UserID = a.UserID
		left join
				(
					select 
			sessionid,
			UserID,
			max(FinalLogoutTime) as LastSessionLogout
			from   ETL_Local_PROD.dbo.AT_Login_Details  with (nolock)
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)c on c.SessionID = a.SessionID and c.UserID = a.UserID

		left join 
				(
 					select 
					sessionid,
					UserID,
					min(FinalLoginTime) as FirstSesionLogin
					from   ETL_Local_PROD.dbo.AT_Login_Details  with (nolock)
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)d on d.SessionID = a.SessionID and d.UserID = a.UserID


		left join 
				(
 					select 
					sessionid,
					UserID,
					sum(SessionDurationInMinutes) SessionDur
					from   ETL_Local_PROD.dbo.AT_Login_Details  with (nolock)
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)e on e.SessionID = a.SessionID and e.UserID = a.UserID

	where  b.LastSessionRow = a.RN3


			--Need to split views into one care plan per person per hour and look at per 2 hours...
			 
			--drop table [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataTest]
			 --select * into [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataTest] from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]
			 --delete from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataTest] where auditid in
			 --(
			 --select top 5000 auditid from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataTest] order by AuditID desc
			 --)


		 IF OBJECT_ID('tempdb..#MaxID2') IS NOT NULL 
			dROP TABLE #MaxID2
			select max([AuditID]) as LastID into #MaxID2 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]


			IF OBJECT_ID('tempdb..#CPV') IS NOT NULL 
			dROP TABLE #CPV
			Select 
			distinct
			a.CMC_ID,
			a.AuditID,
			a.PatientCCG,
			a.PatientSTP,
			a.ActionTime,
			a.ActionType,
			a.DerivedActionType,
			ActivityOrderNo,
			Comment,
			a.StaffRegistryId,
			a.StaffEnterpriseID,
			PDregistryID as OrganizationRegistryID,
			a.DEptEnterpriseID as EnterpriseID,
			a.DEptODSCode as ODSCode,
			a.StaffFullName,
			StaffUserid as StaffUserID,
			--coalesce(b.UserID,StaffUserid) as StaffUserID,
			a.StaffProviderTypeDescription,
			a.Team,
			a.TeamType,
			a.[Parent Org],
			PostCode,
			organisationccg as OrganisationCCG,
			orgSTP as OrgSTP,
			[NHS Region] as OrgNHSRegion,
			a.App,
			cast(null as varchar(max)) as UserRole, 
			cast(null as varchar(max)) as UserAgent, 
			cast(null as varchar(max)) as DerivedDevicetype, 
			cast(null as varchar(max)) as Browser,
			cast(null as varchar(max)) as BrowserVersion, 
			null as Success,
			null as SoftFailure,
			cast(null as datetime) as FinalLoginTime,
			cast(null as datetime) as FinalLogoutTime, 
			null as TotalActiveTimeOfSession 

		

			into #CPV

			From [ETL_Local_PROD].[dbo].[AT_CarePlanData] a  with (nolock)
 
			Where a.AuditID > (select lastid from #MaxID2)
			and a.DerivedActionType = 'view' 

			Order By a.actionTime


			--union 

		--select top 1000*	from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

	update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				OrganizationRegistryID = coalesce(r.OrganizationRegistryID,s.OrganizationRegistryID),
				StaffUserID = coalesce(r.StaffUserID,s.UserID),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.TotalActiveTimeOfSession

		 from [#CPV]r  with (nolock)
	Left Join #tempSingleLog s On s.UserRegistryID = r.StaffRegistryId
										And
										(
										s.FinalLoginTime <= r.actionTime 
										And 
										s.FinalLogoutTime >= coalesce(r.actionTime,GetDate())
										)


		------------------------------------------

		update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.SessionDurationInMinutes

		 from [#CPV]r  with (nolock)
		 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
														and 
														(
														s.FinalLoginTime <= r.actiontime
														And 
														s.FinalLogoutTime >= r.ActionTime
														)
			where r.FinalLoginTime is null
	
	 
										 
			--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]where FinalLoginTime is null 
			--and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')
			

update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.SessionDurationInMinutes

		 from [#CPV]r  with (nolock)
		 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
														 
														and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime)
														and s.App = r.App
														 
			where r.FinalLoginTime is null
			and s.FinalLogoutTime is null
	
	
update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.FinalLoginTime <= r.actiontime and s.OrganizationName = r.Team), 
				FinalLogoutTime = (select min(FinalLogoutTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.FinalLogoutTime >= r.actiontime and s.OrganizationName = r.Team)
	 

		 from [#CPV]r  with (nolock)
			
			where r.FinalLoginTime is null
	 
	and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')


	update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.OrganizationName = r.Team ) 
	 

		 from [#CPV]r  with (nolock)
 
		where r.FinalLoginTime is null
	 
	and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')

	update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and dateadd(day,-1,convert(Date,s.FinalLoginTime)) = convert(date,r.actiontime) and s.OrganizationName = r.Team ) 
	 

		 from [#CPV]r  with (nolock)
	     
		 where r.FinalLoginTime is null
	 
		and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')




	update r
			set  
				 USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure 

	 from [#CPV]r  with (nolock)
	 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
													and s.FinalLoginTime = r.FinalLoginTime
													and s.App = r.app
													and s.OrganizationName = r.Team
where r.UserRole is null





insert into [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]
select * from [#CPV]order by AuditID




 update f
	set f.Team = g.Team ,
	f.[Parent Org] = g.Parent,
	f.TeamType = g.DerivedTeamType,
	f.OrganisationCCG = g.CCG,
	f.OrgSTP = g.STP,
	f.[OrgNHSRegion] = g.Region,
	f.ODSCode = g.DeptODSCode


 from   [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]f with (nolock)
 inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]g on g.EnterpriseID = f.EnterpriseID



 update g
		set g.PatientCCG = h.OriginalCCG,
		g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]g with (nolock)
 inner join #PatGCMC_ID h on h.CMC_ID = g.CMC_ID 
  left join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = h.OriginalCCG

  --------------------NRL data table (views)

  	IF OBJECT_ID('tempdb..#NRL') IS NOT NULL 
			dROP TABLE #NRL
			Select 
			distinct
			a.CMC_ID,
			a.AuditID,
			a.PatientCCG,
			a.PatientSTP,
			a.ActionTime,
			a.ActionType,
			a.DerivedActionType,
			ActivityOrderNo,
			Comment,
			a.StaffRegistryId,
			a.StaffEnterpriseID,
			PDregistryID as OrganizationRegistryID,
			a.DEptEnterpriseID as EnterpriseID,
			ltrim(rtrim(SUBSTRING(comment,CHARINDEX('ods-organization-code|',comment)+22,CHARINDEX(' 2',comment)-CHARINDEX('ods-organization-code|',comment)-22))) as ODSCode,
			a.StaffFullName,
			StaffUserid as StaffUserID,
			--coalesce(b.UserID,StaffUserid) as StaffUserID,
			a.StaffProviderTypeDescription,
			a.Team,
			a.TeamType,
			a.[Parent Org],
			PostCode,
			organisationccg as OrganisationCCG,
			orgSTP as OrgSTP,
			[NHS Region] as OrgNHSRegion,
			a.App,
			cast(null as varchar(max)) as UserRole, 
			cast(null as varchar(max)) as UserAgent, 
			cast(null as varchar(max)) as DerivedDevicetype, 
			cast(null as varchar(max)) as Browser,
			cast(null as varchar(max)) as BrowserVersion, 
			null as Success,
			null as SoftFailure,
			cast(null as datetime) as FinalLoginTime,
			cast(null as datetime) as FinalLogoutTime, 
			null as TotalActiveTimeOfSession 

		

			into #NRL

			From [ETL_Local_PROD].[dbo].[AT_CarePlanData] a  with (nolock)
			inner join [ETL_Local_PROD].[dbo].[AT_Patient_General]b on b.cmc_id = a.cmc_id

  --where cmc_id = 100120717
  where app = 'NRL'
  and charindex('test', patientGP_Practice)=0
	 

			Order By a.actionTime

 

update r

set r.TEAM = s.[team or gp],
R.[Parent Org] = COALESCE(S.Parent,s.[team or gp]),
r.TeamType = s.Type,
r.PostCode = s.Postcode
from #NRL r 
left join  [ETL_Local_PROD].[ODSData].[searchods] s on s.ods = r.ODSCode

update f

	set f.Team = coalesce(f.team,g.team),
		f.[Parent Org] = coalesce(f.[Parent Org],g.parent),
		f.TeamType = coalesce(g.DerivedTeamType,f.teamType),
		f.PostCode = coalesce(g.postcode,f.postcode),
		f.OrganisationCCG = g.CCG,
		f.OrgSTP = g.STP,
		f.OrgNHSRegion = g.Region,
		f.EnterpriseID = g.EnterpriseID

from #NRL f
left join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]g on g.DeptODSCode = f.ODSCode

 
 --select * into [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL] from #NRL
insert into [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL] 
select * from #NRL a where not exists (select auditID from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL]b where b.AuditID = a.AuditID)

 update g
		set g.PatientCCG = h.OriginalCCG,
		g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL]g with (nolock)
 inner join #PatGCMC_ID h on h.CMC_ID = g.CMC_ID 
  left join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = h.OriginalCCG

--select top 1000*  from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]where team = '111 LAS'and convert(date,ActionTime) >= '2020-07-01' and convert(date,ActionTime) <= '2020-07-31'
--select top 1000* From [ETL_Local_PROD].[dbo].[AT_CarePlanData]where team = '111 LAS'and convert(date,ActionTime) >= '2020-07-01' and convert(date,ActionTime) <= '2020-07-31'and DerivedActionType = 'view'
-------------------------------------------------------------------------------------------------------------------------------------------------


			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]


			SELECT  
			[CMC_ID]
		  ,[actionTime]
		  ,[Financial Year]
		  ,[ActionType]
		  ,[DerivedActionType]
		  ,[StaffEnterpriseID]
 
		  ,[StaffFullName]
		  ,[StaffUserId]
		  ,DeptODSCode as [ODSCode]
		  ,[StaffActiveDescription]
		  ,[StaffProviderTypeDescription]
		  ,[PDRegistryID]
		  --,[ItemId]
		  ,[Team]
		  --,[StaffODSCode]
		  ,DeptEnterpriseID as [EnterpriseID]
		  ,[PatientCCG]
		  ,PatientSTP
		  ,[NHS Region]
		  ,TeamType
		  ,PostCode
		  ,OrganisationCCG as [TeamCCG]
		  --,ORgCCG as [TeamCCG]
		  ,ORGSTP
		  ,[Parent Org] 
		  ,[App]


	  into [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]

	from [ETL_Local_PROD].[dbo].[AT_CarePlanData]a
	left join  [ETL_Local_PROD].[dbo].[DIM_Date]b on b.[Calendar Day] = convert(date,a.ActionTime)
	where DerivedActionType = 'create'


		end