USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__Activity_Data_Update_View_Data]    Script Date: 09/09/2021 15:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__Activity_Data_Update_View_Data] 
-- Amended for PD Upgrade
AS
BEGIN





		IF OBJECT_ID('tempdb..#tempSingleLog') IS NOT NULL 
		dROP TABLE #tempSingleLog
 
		select
	   
       a.[SessionID]
      ,[Active]
      ,[UserRegistryID]
      ,[OrganizationRegistryID]
      ,a.[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
	  ,TeamType
	  ,[Parent Org]
	  ,ROW_NUMBER() OVER(PARTITION BY [UserRegistryID] ORDER by [LoginRowId],a.itemid  ASC) AS RN2
	  ,d.FirstSesionLogin as FinalLoginTime
	  ,c.LastSessionLogout as FinalLogoutTime
	  ,e.SessionDur as TotalActiveTimeOfSession
      ,[UserAgent]
	  , DerivedDevicetype
      ,[Browser]
      ,[BrowserVersion]
      ,[BrowserMode]
      ,[IsMobile]
	  ,Domain
	  ,Success
	  ,SoftFailure
	  ,OrganisationCCG
	  ,OrgSTP
	  ,[NHS Region]
	  --,case when b.LastSessionRow = a.RN3 then 1 else null end as lastRowFlag
	  into #tempSingleLog
from ETL_Local_PROD.dbo.AT_Login_Details a 
left join
				(
				select 
			sessionid,
			UserID,
			max(rn3) as LastSessionRow 
			from   ETL_Local_PROD.dbo.AT_Login_Details  with (nolock)
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)b on b.SessionID = a.SessionID and b.UserID = a.UserID
		left join
				(
					select 
			sessionid,
			UserID,
			max(FinalLogoutTime) as LastSessionLogout
			from   ETL_Local_PROD.dbo.AT_Login_Details  with (nolock)
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)c on c.SessionID = a.SessionID and c.UserID = a.UserID

		left join 
				(
 					select 
					sessionid,
					UserID,
					min(FinalLoginTime) as FirstSesionLogin
					from   ETL_Local_PROD.dbo.AT_Login_Details  with (nolock)
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)d on d.SessionID = a.SessionID and d.UserID = a.UserID


		left join 
				(
 					select 
					sessionid,
					UserID,
					sum(SessionDurationInMinutes) SessionDur
					from   ETL_Local_PROD.dbo.AT_Login_Details  with (nolock)
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)e on e.SessionID = a.SessionID and e.UserID = a.UserID

	where  b.LastSessionRow = a.RN3



	update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				OrganizationRegistryID = coalesce(r.OrganizationRegistryID,s.OrganizationRegistryID),
				StaffUserID = coalesce(r.StaffUserID,s.UserID),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.TotalActiveTimeOfSession

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r  with (nolock)
	Left Join #tempSingleLog s On s.UserRegistryID = r.StaffRegistryId
										And
										(
										s.FinalLoginTime <= r.actionTime 
										And 
										s.FinalLogoutTime >= coalesce(r.actionTime,GetDate())
										)









update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.SessionDurationInMinutes

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r  with (nolock)
		 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
														and 
														(
														s.FinalLoginTime <= r.actiontime
														And 
														s.FinalLogoutTime >= r.ActionTime
														)
			where r.FinalLoginTime is null
	
	 
										 
			--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]where FinalLoginTime is null 
			--and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')
			

update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.SessionDurationInMinutes

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r  with (nolock)
		 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
														 
														and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime)
														and s.App = r.App
														 
			where r.FinalLoginTime is null
			and s.FinalLogoutTime is null
	
	
update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.FinalLoginTime <= r.actiontime and s.OrganizationName = r.Team), 
				FinalLogoutTime = (select min(FinalLogoutTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.FinalLogoutTime >= r.actiontime and s.OrganizationName = r.Team)
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r  with (nolock)
			
			where r.FinalLoginTime is null
	 
	and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')


	update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.OrganizationName = r.Team ) 
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r  with (nolock)
 
		where r.FinalLoginTime is null
	 
	and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')

	update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and dateadd(day,-1,convert(Date,s.FinalLoginTime)) = convert(date,r.actiontime) and s.OrganizationName = r.Team ) 
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r  with (nolock)
	     
		 where r.FinalLoginTime is null
	 
		and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')




	update r
			set  
				 USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure 

	 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r  with (nolock)
	 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
													and s.FinalLoginTime = r.FinalLoginTime
													and s.App = r.app
													and s.OrganizationName = r.Team
where r.UserRole is null
 

  	IF OBJECT_ID('tempdb..#PatGCMC_ID') IS NOT NULL 
			dROP TABLE #PatGCMC_ID
			select 
			a.CMC_ID,
			a.PatientSummary  ,
			cast(null as varchar(25)) as ODSCode,
			cast(null as varchar(25)) as ParentODS,

			--d.ChildODS,
			a.GP_Practice,
			a.GP_EnterpriseID as EID ,
			cast(null as varchar(255)) as Ward,
			cast(null as varchar(max)) as CCG,
			cast(null as varchar(max)) as OriginalCCG ,
 
			cast(null as varchar(30)) as PostCode

			into #PatGCMC_ID

			FROM [ETL_Local_PROD].[dbo].[AT_Patient_General] a


			update r
					set r.ODSCode =  c.deptODSCode ,
						r.Ward = c.[Local Authority],
						r.CCG = ltrim(rtrim(REplace(e.[GP CCG], ' CCG', ''))) ,
						r.OriginalCCG =  c.CCG,
						r.PostCode = c.Postcode,
						r.ParentODS = e.ParentODS
						

			from #PatGCMC_ID r
 
			 inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]c on c.EnterpriseID = r.EID
	 
			left join [ETL_Local_PROD].[ODSData].[searchods]e on e.ODS = c.deptODSCode  and e.Type = 'General Medical Practice'
		 
			left join [ETL_Local_PROD].[dbo].[AT_Commissioners_Report_Overall_Weighted_Populations_GP]g on g.[Practice] =  c.deptODSCode 


			update r

			set r.OriginalCCG =  b.OriginalCCG,
				r.ODSCode = coalesce(r.ODSCode,b.odscode)

			from #PatGCMC_ID r
			left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_GPName_ODSCode]b on b.GP_Practice = r.GP_Practice

			where r.OriginalCCG is null







 	IF OBJECT_ID('tempdb..#PatGEn') IS NOT NULL 
		dROP TABLE #PatGEn
		select
		a.CMC_ID,
  
		ltrim(rtrim(REplace(b.[CCG], ' CCG', ''))) AS CCG,
		ltrim(rtrim(REplace(b.OriginalCCG, ' CCG', ''))) AS OriginalCCG,
		a.GP_Practice,
		b.ODSCode,
		CommissioningArea,
		b.Ward
		into #PatGen	
		FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]a
		left join [#PatGCMC_ID] b on b.CMC_ID = a.CMC_ID

		
	

 update g
		set g.PatientCCG = h.OriginalCCG
		--,
		--g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]g with (nolock)
 inner join [#PatGCMC_ID] h on h.CMC_ID = g.CMC_ID 
 WHere g.PatientCCG is null


 
 update g
		set g.PatientCCG = h.OriginalCCG
		--,
		--g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]g with (nolock)
 inner join [#PatGen] h on h.CMC_ID = g.CMC_ID 
 WHere g.PatientCCG is null

 
 --select * from #PatGen where cmc_ID = 5207



 update g
		set  g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL]g with (nolock)
inner join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = g.PatientCCG


--NRL


 update g
		set g.PatientCCG = h.OriginalCCG
		--,
		--g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL]g with (nolock)
 inner join [#PatGCMC_ID] h on h.CMC_ID = g.CMC_ID 
 WHere g.PatientCCG is null


 
 update g
		set g.PatientCCG = h.OriginalCCG
		--,
		--g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL]g with (nolock)
 inner join [#PatGen] h on h.CMC_ID = g.CMC_ID 
 WHere g.PatientCCG is null

 
 --select * from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL] where cmc_ID = 5207



 update g
		set  g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]g with (nolock)
inner join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = g.PatientCCG


---ALL Care Plan Data


 update g
		set g.PatientCCG = h.OriginalCCG
		--,
		--g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]g with (nolock)
 inner join [#PatGCMC_ID] h on h.CMC_ID = g.CMC_ID 
 WHere g.PatientCCG is null


 
 update g
		set g.PatientCCG = h.OriginalCCG
		--,
		--g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]g with (nolock)
 inner join [#PatGen] h on h.CMC_ID = g.CMC_ID 
 WHere g.PatientCCG is null

 
 --select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where cmc_ID = 5207



 update g
		set  g.PatientSTP = y.STP
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]g with (nolock)
inner join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = g.PatientCCG




------------------------------------------------------------------------------------------------------------------------------------------
end