USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__Activity_Report_Data]    Script Date: 09/04/2021 17:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__Activity_Report_Data] 
-- Amended for PD Upgrade
AS
BEGIN
 

 	IF OBJECT_ID('tempdb..#TempTeam') IS NOT NULL 
	dROP TABLE #TempTeam
 
--select 
--distinct 
----a.[Parent Org],

--a.uSERid,
--UserRole,
--a.UserFullName as [StaffFullName],
--UserRegistryID,
--a.deptenterpriseid,
--a.OrganisationOriginalCCG,
--cast (null as varchar(max))as StaffProviderTypeDescription,
--b.DeptName as Team,
--b.DeptODSCode,
--[Parent org],
--a.TeamType,
--a.StaffOrgStartDate,
--a.StaffOrgEndDate,
--PostCode 
--into #TempTeam
--FROM [ETL_Local_PROD].[dbo].[AT_Logins_Daily]a
--inner join [ETL_Local_PROD].[dbo].[AT_PD_Dept]b on b.DeptEnterpriseID = a.deptenterpriseid
--where a.OrganizationName is not null

--union

select 
distinct 
--a.[Parent Org],

a.LoginId as uSERid,
null as UserRole,
a.StaffName as [StaffFullName],
staffregistryid as UserRegistryID,
a.deptenterpriseid,
ltrim(rtrim(REplace(coalesce(b.[Team specified ccg],e.ccg), ' CCG', '')) )  as OrganisationOriginalCCG,
CMCRoleDescription,
StaffJobTitle as StaffProviderTypeDescription,
a.deptname as Team,
bb.DeptODSCode,
b.[Parent org],
b.TeamType,
created as StaffOrgStartDate,
removed as StaffOrgEndDate,
d.Postcode 
 into #TempTeam
FROM [ETL_Local_PROD].[dbo].[Logins]a with (nolock)
left join [ETL_Local_PROD].[dbo].[AT_PD_Dept]bb with (nolock) on bb.DeptEnterpriseID = a.deptenterpriseid
  inner join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b with (nolock) on b.ActivityTeam = a.DeptName
  inner join [ETL_Local_PROD].[dbo].[AT_PD_Dept]c with (nolock) on c.DeptEnterpriseID = a.deptenterpriseid
left join [ETL_Local_PROD].[ODSData].[searchods]d with (nolock) on d.ODS = c.DeptODSCode  
 left join  [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]e with (nolock) on e.PCDS = d.Postcode

   where Removed is null
   and (StaffActiveDescription not in ('closed','Retired') OR StaffActiveDescription is null)
 
 update x 
		set OrganisationOriginalCCG = 'NHS Merton',
			DeptODSCode = 'H85020',
			deptenterpriseid = 100063292,
			PostCode = 'SW20 8DA'


 from #TempTeam x 
 where team =  'THE NELSON MEDICAL PRACTICE'
 and deptenterpriseid = 100099109
 --select * from #TempTeam where team =  'THE NELSON MEDICAL PRACTICE'
 --select * from [ETL_Local_PROD].[dbo].[AT_PD_Dept]where DeptEnterpriseID in (100099168)
  --select * from [ETL_Local_PROD].[dbo].[AT_PD_Dept]where deptname =  'THE NELSON MEDICAL PRACTICE'
  --select * from [ETL_Local_PROD].[dbo].[AT_Dept]where DeptEnterpriseID in (100133399)
 --select * FROM [ETL_Local_PROD].[dbo].[AT_Logins_Daily] where DeptEnterpriseID in (100034281,100044079)
 --select * from #TempTeam where charindex('LONDON CENTRAL AND WEST UNSCHEDULED CARE COLLABORATIVE',team)>0 order by stafffullname
  --select * from [ETL_Local_PROD].[dbo].[AT_PD_Dept] where charindex('LCW',deptname)>0
  --select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData]where charindex('LCW',team)>0 order by actiontime desc

   

	--  Report tables addded May 2020 - we always need more tables in the poxy database!! --------------	
		

	DECLARE 
		@EndDate date,  
		@StartDate Date
 

		
	set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	set @EndDate =  dateadd(day,-2,getdate())
	print @StartDate
	Print @EndDate

 

 

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT   [ID]
	,ROW_NUMBER() OVER(ORDER by ID ASC) AS RowNumb
	,DEnse_RANK() OVER  ( ORDER BY [Week Of Year] ASC)  AS RowNumbWeek
	--,convert(date,dateadd(week,datediff(week,0,[Calendar Day]),0)) as WeekStart
	,case when [Week Day] = 1 then  DATEADD(DAY, 2 - DATEPART(WEEKDAY, dateadd(day,-1,[Calendar Day])), CAST(dateadd(day,-1,[Calendar Day]) AS DATE)) else DATEADD(DAY, 2 - DATEPART(WEEKDAY, [Calendar Day]), CAST([Calendar Day] AS DATE))end  as WeekStart
	,case when [Week Day] = 1 then [Calendar Day] else dateadd(day,6,DATEADD(DAY, 2 - DATEPART(WEEKDAY, [Calendar Day]), CAST([Calendar Day] AS DATE)))end  as  WeekEnd
	--,convert(date,case when [Week day] = 1 then dateadd(day,6,[Calendar Day]) else  dateadd(day,6,DATEADD(dd, -(DATEPART(dw, [Calendar Day])-1), [Calendar Day]))end)   as WeekEnd
      ,[Calendar Day] as MyDate
	  ,convert(varchar,[Calendar Day],103) as CalendarDayField
	  ,[Month Start Date]

    
  FROM [ETL_Local_PROD].[dbo].[DIM_Date] with (nolock)
  where [Calendar Day] >= @StartDate and [Calendar Day] < @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT *
	into #Temp_CTE_Date		
	FROM cte
	OPTION (MAXRECURSION 0)

	--select * from #Temp_CTE_Date order by WeekStart
	--select dateadd(d,-(day(getdate()-1)),getdate())
	 



 
		if OBJECT_ID ('Tempdb..#PreReport') is not null
			drop table #PreReport




	  SELECT
	  distinct
	  --[PatAuditID]
      a.[CMC_ID]
      ,[actionTime]
      ,[ActionType]
      ,[comment]
      ,[DerivedActionType]
	  ,ROW_NUMBER() OVER(partition by a.cmc_id, [actionTime],[ActionType],stafffullname,team,[parent org],teamtype,postcode  ORDER BY OverAllOrder)  as RNumber
	  ,[ActivityOrderNo]
      ,[OverAllOrder]
      ,[STAFFEnterpriseID]
      ,[StaffUserId]
      ,[ODSCode]
      ,[StaffActiveDescription]
      ,coalesce([StaffProviderTypeDescription],'Not Recorded') as [StaffProviderTypeDescription]
	  ,[StaffFullName]
      --,dbo.ProperCase([StaffFullName]) as [StaffFullName]
      ,[StaffRegistryId]
      ,[PDRegistryID]
	  
      ,[ItemId]
	  ,c.DeptName as Team
      --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
      ,[Parent Org]
      ,[TeamType]
      ,[PostCode]
      ,REPLACE(bb.CCG, ' CCG', '') as [OrganisationCCG]
      ,[OrgSTP]
      ,[NHS Region]
      ,c.[DeptODSCode]
      ,[EnterpriseID]
      ,coalesce([PatientCCG],b.ccg) as [PatientCCG]
      ,coalesce([PatientSTP],cc.stp) as [PatientSTP]
      ,[LoginReference]
      ,[CMC_OrItem]
      ,[CMC_Individual_ItemID]
      ,[CMC_Individual_PDRegistryID]
      ,[App]
	  ,case
	  when charindex('audit',DerivedActionType)> 0 then 'Audit'
	  when DerivedActionType in ('clinic_event_added','clinical_event_updated','death_date_added','death_date_removed','deceased_updated','generate_dna_cpr','revise') then 'Revise'
	  when charindex('create',DerivedActionType)> 0 then 'Create'
	  when charindex('publish',DerivedActionType)> 0 then 'Publish'
	  when charindex('delete',DerivedActionType)> 0 then 'Delete'
	  when charindex('discard',DerivedActionType)> 0 then 'Discard'
	  when charindex('enroll',DerivedActionType)> 0 then 'Enroll'
	  when charindex('initiated',DerivedActionType)> 0 then 'Initiated'
	  when DerivedActionType in ('lr_claimed','lr_expired','patient_found','patient_list') then 'Search'
	  when charindex('print',DerivedActionType)> 0 then 'Print'
	  when charindex('proxy',DerivedActionType)> 0 then 'Proxy'
	  when charindex('request',DerivedActionType)> 0 then 'Request'
	  when charindex('subscription',DerivedActionType)> 0 then 'Subscription'
	  when charindex('view',DerivedActionType)> 0 then 'View'
	  else DerivedActionType
	  End as REport_ActionType

	  into #PreReport
	

  FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]a with (nolock)
    inner join [ETL_Local_PROD].[dbo].[AT_PD_Dept]c with (nolock) on c.DeptEnterpriseID = a.enterpriseid
  left join [ETL_Local_PROD].[dbo].[AT_Patient_General]b with (nolock) on b.CMC_ID = a.cmc_id
  left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]bb with (nolock) on bb.PCDs = a.PostCode
   left join [ETL_Local_PROD].[Reference].[STP] cc with (nolock) on cc.CCGLONGNAME = bb.CCG

  where convert(Date,actiontime)>= @StartDate and convert(Date,actiontime) < @EndDate
	and StaffFullName <> 'Jean Harris ( Do not use )'
  and DerivedActionType <> 'save'

  --union 
  --select * from #PreReport where StaffFullName = 'Patricia Mills' order by actiontime, DeptODSCode
  --select * FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData] where StaffFullName = 'Patricia Mills' order by actiontime, DeptODSCode
  --   select * from #PreReport where CHARINDEX('Epsom',Team)>0
	 --select * from #PreReport where team =  'THE NELSON MEDICAL PRACTICE'
	 --select * from [ETL_Local_PROD].[dbo].[AT_PD_Dept] where DeptName = 'EPSOM AND ST HELIER CARE HOME SUPPORT TEAM'
	 --staffenterpriseid = 100157746
	 --Enterpriseid = 100126868

	  update x 
		set  DeptODSCode = 'H85020',
			enterpriseid = 100063292


 from #PreReport x 
 where team =  'THE NELSON MEDICAL PRACTICE'
 and enterpriseid = 100099109




		
 	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_AuditTable_DQ]') is not null
 		drop table [ETL_Local_PROD].[dbo].[AT_AuditTable_DQ]

		select 
		* 
		into  [ETL_Local_PROD].[dbo].[AT_AuditTable_DQ]
		from #PreReport  with (nolock)
		where   RNumber > 1 
		order by cmc_id,OverAllOrder

		delete from #PreReport where RNumber > 1


delete from #PreReport where DerivedActionType = 'publish' and [ActivityOrderNo] > 1


delete a
from #preReport a
inner join
		(
		SELECT  
		[CMC_ID]
       ,[Date_Original_Publication]
		FROM [ETL_Local_PROD].[dbo].[AT_First_Published_Dates]
		)b on b.CMC_ID = a.CMC_ID
		and convert(Date,b.Date_Original_Publication) <> convert(date,a.actionTime)

Where a.DerivedActionType = 'publish'



--select * from #PreReport where cmc_id = 100088174
--select * from #PreReport where deptodscode = 'CMC060'
--select * from #PreReport where  DerivedActionType = 'Publish' and convert(Date,actiontime)> '2020-06-01'

--

--select 
--* 
--from #PreReport
--where team = 'LONDON CENTRAL AND WEST UNSCHEDULED CARE COLLABORATIVE' and stafffullname = 'Sandra Babalola'
--and DerivedActionType = 'view' 
--and convert(Date,actiontime)>= '2020-11-01'
--and convert(Date,actiontime)<'2020-12-01'
--Provider 966014, Organization 196870, SessionId 961999498

--select top 500 * from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]
--select top 500 * FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData] where staffregistryid = 196870


if OBJECT_ID ('Tempdb..#Publishers') is not null
			drop table #Publishers
			select
			CMC_ID,
			Team,
			DeptODSCode,
			[EnterpriseID],
			[OrganisationCCG],
			PatientCCG,
			[Parent Org],
			OrgSTP

			into #Publishers

			from #PreReport with (nolock)
			where DerivedActionType = 'publish'

 


  	if OBJECT_ID ('Tempdb..#ExternalViewers') is not null
			drop table #ExternalViewers

			select
			distinct
			convert(date,DATEADD(month, DATEDIFF(month, 0, actionTime), 0))   as MonthActivity,
			  b.Team as PublishingTEam,
			  b.DeptODSCode,
			  b.[EnterpriseID],
			  b.[Parent Org],
			 b.OrganisationCCG as PublishingCCG,
			 a.PatientCCG,
			 b.[OrgSTP],
			 a.TEam as ViewingTEam,
			
			 case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'
			else 'NON URGENT CARE'
			end as DErivedTEamTypeViewing,
			 TeamType as ViewingTeamType,
			 count(*) as [Total Views]

			 into #ExternalViewers

			from #PreReport a  with (nolock)
			inner join #Publishers b on b.CMC_ID = a.CMC_ID
			where DerivedActionType = 'view'
			and b.Team <> a.Team
			group by
			convert(date,DATEADD(month, DATEDIFF(month, 0, actionTime), 0)) ,
			b.[Parent Org],
			 a.TEam,
			 b.Team,
			  b.DeptODSCode,
			  b.[EnterpriseID],
			 b.OrganisationCCG,
			 a.PatientCCG,
			 b.[OrgSTP],
			 TeamType

			   	if OBJECT_ID ('Tempdb..#ExternalRevisors') is not null
			drop table #ExternalRevisors

			select
			distinct
			convert(date,DATEADD(month, DATEDIFF(month, 0, actionTime), 0))  as MonthActivity,
			  b.Team as PublishingTEam,
			   b.DeptODSCode,
			   b.[EnterpriseID],
			  b.[Parent Org] as PublishingORg,
			 b.OrganisationCCG as PublishingCCG,
			 a.PatientCCG,
			 b.[OrgSTP] as PublishingSTP,
			 
			 a.TEam as RevisingTEam,

			
			 case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'

			else 'NON URGENT CARE'
			end as DErivedTEamTypeRevising,
			 TeamType as RevisingTeamType,
			 count(*) as [Total Views]

			 into #ExternalRevisors

			from #PreReport a  with (nolock)
			inner join #Publishers b on b.CMC_ID = a.CMC_ID
			where DerivedActionType = 'revise'
			and b.Team <> a.Team
			group by
			convert(date,DATEADD(month, DATEDIFF(month, 0, actionTime), 0)),
			b.[Parent Org],
			 a.TEam,
			 b.Team,
			  b.DeptODSCode,
			  b.[EnterpriseID],
			 b.OrganisationCCG,
			 a.PatientCCG,
			 b.[OrgSTP],
			 TeamType

 

  	if OBJECT_ID ('Tempdb..#PreReportUsers') is not null
			drop table #PreReportUsers
			select
			distinct 
			  [StaffFullName]
			  ,[StaffProviderTypeDescription]
				,StaffRegistryId
			  ,TEam
			  ,DeptODSCode
			  --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
		 
			  ,[TeamType]
	
			,[EnterpriseID]
			  into #PreReportUsers

			from #PreReport with (nolock)

			union 

			select
			distinct
			[StaffFullName]
			  ,[StaffProviderTypeDescription]
			,UserRegistryID
			  ,TEam
			  ,DeptODSCode
			 
			  --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
		 
			  ,[TeamType]
			  ,deptenterpriseid as EnterpriseID
			from #TempTeam

			--select * from #PreReportUsers
  
		if OBJECT_ID ('Tempdb..#PreReportLogins') is not null
			drop table #PreReportLogins

			SELECT  
			distinct
			[UserRegistryID]
			  --,[OrganizationRegistryID]
			  --,
			  ,[UserID]
			  --,[UserRole]
			  ,[ETL_Local_PROD].[dbo].[ProperCase]([UserFullName])as [UserFullName]
			  ,bb.deptName as [OrganizationName]
			  ,a.[deptenterpriseid]
			  ,bb.DeptODSCode
			  --,[StaffEnterpriseID]
			  ,[StaffORgStartDate]
			  ,[StaffORgEndDate]
			  ,a.[TeamType]
			  ,c.StaffProviderTypeDescription
			  ,a.[Parent Org]
			  ,b.[Month Start Date] as MonthActivity
			
			  ----,[LoginDate]
			  --,[SessionDuration]
			  --,[DerivedDevicetype]
			  ,a.[PostCode]
			  ,a.[OrganisationOriginalCCG] as OrganisationCCG

			  ,[OrgOriginalSTP] as OrgStp
			  ,[NHS Region]
			  ,count(*) as Total
			  --,[Domain]
			  --,[App]
			  --,[ActionType]

			  into #PreReportLogins

		  FROM [ETL_Local_PROD].[dbo].[AT_Logins_Daily]a with (nolock)
		  inner join [ETL_Local_PROD].[dbo].[AT_PD_Dept]bb with (nolock) on bb.DeptEnterpriseID = a.deptenterpriseid
		  left join [ETL_Local_PROD].[dbo].[DIM_Date]b with (nolock) on b.[Calendar Day] = convert(Date,LoginDate)
		  inner join #PreReportUsers c with (nolock) on c.StaffRegistryId = a.UserRegistryID
									and c.DeptODSCode = bb.DeptODSCode 
									 
		  group by
		   [UserID]
		   ,[UserRegistryID]
			  --,[UserRole]
			  ,[UserFullName]
			 ,bb.deptName 
			  ,a.[deptenterpriseid]
			  ,bb.DeptODSCode
			  ,c.StaffProviderTypeDescription
			  ,[StaffORgStartDate]
			  ,[StaffORgEndDate]
			  ,a.[TeamType]
			  ,a.[Parent Org]
			  ,b.[Month Start Date]
			  --,[DerivedDevicetype]
			  ,a.[PostCode]
			  ,a.[OrganisationOriginalCCG]

			  ,[OrgOriginalSTP]
			  ,[NHS Region]




--select * from #PreReportLogins where UserFullName = 'Ghazala Jarwar' order by MonthActivity
--select top 5 * from #PreReportUsers where StaffFullName = 'Ghazala Jarwar'
--select top 5 * from #TempTeam where StaffFullName = 'Ghazala Jarwar'

 --select * from [#PreReportLogins]where DeptEnterpriseID in (100034281,100044079)


		if OBJECT_ID ('Tempdb..#NoActivityLogins') is not null
			drop table #NoActivityLogins

			select
			distinct
			a.UserRegistryID,
			a.deptenterpriseid
			
		into #NoActivityLogins 

		from #TempTeam a with (nolock)
		left join
				(
				select 
				distinct 
				UserRegistryID,
				deptenterpriseid
				from #PreReportLogins with (nolock)
				)b on b.deptenterpriseid = a.deptenterpriseid
				and b.UserRegistryID = a.UserRegistryID
		Where b.UserRegistryID is null
		and b.deptenterpriseid is null


			 
 

 




--select * from #NoActivityLogins

		if OBJECT_ID ('Tempdb..#PreReport2') is not null
			drop table #PreReport2
			select
			d.*
			into #PreReport2
			from
			(
			select
			distinct
			convert(date,DATEADD(month, DATEDIFF(month, 0, b.actionTime), 0))  as MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[StaffFullName]
			 ,b.StaffRegistryId
			 ,b.[Team]
			 ,b.DeptODSCode
			 ,b.EnterpriseID
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  --,b.PatientCCG
			  ,b.REport_ActionType
			  ,Count(*) as Total
			   
			   from [#PreReport]b with (nolock)
		--where team = 'LONDON AMBULANCE SERVICE NHS TRUST'and convert(date,ActionTime) >= '2020-07-01' 
		--and convert(date,ActionTime) <= '2020-07-31'and DerivedActionType = 'view'

			
			   group by

	   			convert(date,DATEADD(month, DATEDIFF(month, 0, b.actionTime), 0))
				 ,b.[StaffProviderTypeDescription]
				 ,b.[StaffFullName]
				 ,b.StaffRegistryId
				 ,b.[Team]
				 ,b.DeptODSCode
				 ,b.EnterpriseID
				  ,b.[Parent Org]
				  ,b.[TeamType]
				  ,b.[OrganisationCCG]
				  --,b.PatientCCG
				  ,b.REport_ActionType



				  union all

				  select
				  distinct
			 MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[UserFullName]
			 ,b.UserRegistryID
			 ,b.[OrganizationName]
			 ,b.DeptODSCode
			 ,b.deptenterpriseid
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,REPLACE(b.[OrganisationCCG], ' CCG', '') as [OrganisationCCG]
			  --,cast(null as varchar(400))as  PatientCCG
			  ,'Daily Logins' as REport_ActionType
			  ,sum(Total) as Total

				  from #PreReportLogins b with (nolock)
 
				 group by
				  MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[UserFullName]
			 ,b.UserRegistryID
			 ,b.[OrganizationName]
			 ,b.DeptODSCode
			 ,b.deptenterpriseid
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  --,e.CCG

			  union all

			  select 
			  distinct
			  '2018-04-01' as MonthActivity,
			  StaffProviderTypeDescription,
			  StaffFullName as UserFullName,
			  a.UserRegistryID,
				team as OrganizationName,
				DeptODSCode,
				a.deptenterpriseid,
				[Parent Org],
				TeamType,
				OrganisationOriginalCCG as OrganisationCCG,
				'Active Logins with No Activity' as REport_ActionType,
				null as Total
 

from #TempTeam a with (nolock)
inner join [ETL_Local_PROD].[Reference].[STP]b with (nolock) on b.CCGLONG_TRUNC = a.OrganisationOriginalCCG
inner join #NoActivityLogins c with (nolock) on c.UserRegistryID = a.UserRegistryID
						and c.deptenterpriseid = a.deptenterpriseid

	  )d
	 
	 --select * from #PreReport2

	   update x
				set StaffFullName = [ETL_Local_PROD].[dbo].[ProperCase]([StaffFullName])
				--,
				--TEam = [ETL_Local_PROD].[dbo].[ProperCase](convert(varchar(400),[Team])) 

	   from #PreReport2 x  


	   update r
				set r.StaffProviderTypeDescription = replace([StaffProviderTypeDescription],'General Medical Practitioner: No Organisation Sub-Type','GP')

	   from [#prereport2]r   
	    


 

	update f

			set f.[Parent Org] = g.[Parent Org]

	from #PreReport2 f  
	inner join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]g  with (nolock)on g.ActivityTeam = f.Team
	where f.[Parent Org] is null




  			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]
   
    

			select  
			distinct
			[Parent Org]+[Team]+coalesce(DeptODSCode,'XXX-XXX') as UniqueTeamIDentity
			 ,a.[Month Start Date] as ActionTime
 
			 , replace([StaffProviderTypeDescription],'General Medical Practitioner: No Organisation Sub-Type','GP') as [StaffProviderTypeDescription]
			 , [StaffFullName]
			 ,StaffRegistryId
			 , [Team]
			 ,Team as DeptName
			 ,DeptODSCode
			 ,EnterpriseID
			  , [Parent Org]
			  , [TeamType]
			  , [OrganisationCCG]
			  --,PatientCCG
			  ,CAST(NULL AS VARCHAR(400)) AS STP
			  ,cast(null as date) as [Staff ORganisation Start Date]
			  ,cast(null as date) as [Staff ORganisation End Date]
			  ,cast(null as date) as [DeptClosedDate]
			  , Report_ActionType
			  ,null as Total

			  into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]
 
				from [#PreReport2]b with (nolock)
				cross join (select distinct [Month Start Date]from #Temp_CTE_Date  )a


			order by   a.[Month Start Date]



			 
			   --select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where [OrganisationCCG] is null order by team
			  --select * from   [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]
		


insert into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]  

select
[Parent Org]+PublishingTEam+coalesce(DeptODSCode,'XXX-XXX') as UniqueTeamIDentity,
MonthActivity as ActionTime,
Null as [StaffProviderTypeDescription],
null as StaffFullName,
null as StaffRegistryId,
PublishingTEam as Team,
PublishingTEam as DeptName,
DeptODSCode,
[EnterpriseID],
[Parent Org] as ParentOrg,
Null as TEamType,
PublishingCCG as ORganisationCCG,
--null as PatientCCG,
orgStp as STP,
cast(null as date) as [Staff ORganisation Start Date],
cast(null as date) as [Staff ORganisation End Date],
cast(null as date) as [DEptClosedDateDate],
'URGENT CARE' as Report_ActionType,
[Total Views] as Total

from #ExternalViewers with (nolock)
where DErivedTEamTypeViewing = 'URGENT CARE'
--and PublishingCCG is not null

union all

select
[Parent Org]+PublishingTEam+coalesce(DeptODSCode,'XXX-XXX') as UniqueTeamIDentity,
MonthActivity as ActionTime,
Null as [StaffProviderTypeDescription],
null as StaffFullName,
null as StaffRegistryId,
PublishingTEam as Team,
PublishingTEam as DeptName,
DeptODSCode,
[EnterpriseID],
[Parent Org] as ParentOrg,
Null as TEamType,
PublishingCCG as ORganisationCCG,
--null as PatientCCG,
orgStp as STP,
cast(null as date) as [Staff ORganisation Start Date],
cast(null as date) as [Staff ORganisation End Date],
cast(null as date) as [DEptClosedDateDate],
'NON URGENT CARE' as Report_ActionType,
[Total Views] as Total

from #ExternalViewers with (nolock)
where DErivedTEamTypeViewing = 'NON URGENT CARE'
--and PublishingCCG is not null

Union all

select
[PublishingORg]+PublishingTEam+coalesce(DeptODSCode,'XXX-XXX') as UniqueTeamIDentity,
MonthActivity as ActionTime,
Null as [StaffProviderTypeDescription],
null as StaffFullName,
null as StaffRegistryId,
PublishingTEam as Team,
PublishingTEam as DeptName,
DeptODSCode,
[EnterpriseID],
[PublishingORg] as ParentOrg,
Null as TEamType,
PublishingCCG as ORganisationCCG,
PublishingStp as STP,
cast(null as date) as [Staff ORganisation Start Date],
cast(null as date) as [Staff ORganisation End Date],
cast(null as date) as [DEptClosedDateDate],
'Revisions by Others' as Report_ActionType,
[Total Views] as Total

from #ExternalRevisors with (nolock)
--Where PublishingCCG is not null
			 








  --delete from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where [OrganisationCCG] is null
  	--select * from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where team = 'LONDON CENTRAL AND WEST UNSCHEDULED CARE COLLABORATIVE' and report_Actiontype = 'View' and ActionTime = '2020-11-01' order by StaffFullName
   
	delete from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where TeamType in ('CMC TEAM','EXCLUDE') or [Parent Org] in( 'CMC TEAM','HARLINGTON HOSPICE')


	 --select *  from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where [OrganisationCCG] is null

	 

	update f

 
	set f.[Parent Org] = g.Parent,
		f.Team = g.Team ,
		f.DeptClosedDate = g.ORgCloseDate 


	from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] f  
	inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]g on g.EnterpriseID = f.EnterpriseID







update a

		set a.TeamType = b.TeamType

 from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]a  

 left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b with (nolock) on b.ActivityTeam = a.team	
  where  REport_ActionType   in ('NON URGENT CARE','URGENT CARE','Revisions by Others' )


	update f

 
	set f.[Parent Org] = g.Parent,
		f.Team = g.Team  


	from [#PreReport2] f  
	inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]g on g.EnterpriseID = f.EnterpriseID


	update f

 
	set f.[Parent Org] = g.Parent,
		f.OrganizationName = g.Team  


	from #PreReportLogins f  
	inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]g on g.EnterpriseID = f.deptenterpriseid

 

update b
		set b.Total = coalesce(c.Total,0),
		b.[Staff ORganisation Start Date] = d.StaffORgStartDate,
		b.[Staff ORganisation End Date] = d.StaffORgEndDate,
		B.STP = E.STP

from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]b  

left join #PreReport2 c with (nolock) on c.MonthActivity = ActionTime
					and c.[StaffProviderTypeDescription] = b.StaffProviderTypeDescription
					and c.StaffRegistryId = b.StaffRegistryId
					and c.TEam = b.Team
					and coalesce(c.DEptODSCode,c.[Parent Org]) = coalesce(b.DEptODSCode,b.[Parent Org]) 
					and c.REport_ActionType = b.REport_ActionType
left join #PreReportLogins d with (nolock) on d.UserFullName = b.StaffFullName
							and coalesce(d.DeptODSCode,d.OrganizationName) = coalesce(b.deptODSCode,b.Team)

LEFT JOIN [ETL_Local_PROD].[Reference].[STP]E with (nolock) ON E.CCGLONG_TRUNC = B.OrganisationCCG
where b.REport_ActionType not in ('NON URGENT CARE','URGENT CARE','Revisions by Others' )

 
 
 update l

	set l.STP = e.stp	

from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]l 
LEFT JOIN [ETL_Local_PROD].[Reference].[STP]E with (nolock) ON E.CCGLONG_TRUNC = l.OrganisationCCG
where l.STP is null

	update f

 
	set f.[Parent Org] = g.Parent,
		f.Team = g.Team ,
		f.DeptClosedDate = g.ORgCloseDate,
		f.OrganisationCCG = coalesce(g.ccg,f.OrganisationCCG ),
		f.STP = g.STP


	from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] f  
	inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]g on g.EnterpriseID = f.EnterpriseID


	update f
			set f.UniqueTeamIDentity =  [Parent Org]+team +coalesce(DeptODSCode,'XXX-XXX') 
	from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] f

	--select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]   where charindex( 'JOSEPh',[Parent ORg])>0  order by team, [Parent Org]
	-- select * from [#PreReport2] where  team = 'KILBURN PARK MEDICAL CENTRE' and MonthActivity = '2020-06-01'

	--select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where  TEam = 'THE NELSON MEDICAL PRACTICE' order by deptODSCode
--update x

--		set x.Team

--from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]x 
--left join [ETL_Local_PROD].[ODSData].[searchods]y on y.ODS = x.DeptODSCode

  	--if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]') is not null
			--drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]
 

     IF OBJECT_ID('tempdb..#ORGS') IS NOT NULL 
			dROP TABLE #ORGS
   SELECT 
   distinct
   ROW_NUMBER()  over (partition by     Team order by enterpriseID,DEptODSCode ) as RN,
 
   *
   into #ORGS
   from
   (
   select
   distinct
  --UniqueTeamIDentity,
   enterpriseid,
  --ROW_NUMBER()  over (partition by     Team order by enterpriseID ) as RN,
 
   STP,
   [Parent Org],
    Team, 
	case when TeamType = 'Primary Care' then 1 else null end as GPFlag,
	cast(null as varchar(600)) as TEamAdjusted,
	a.OrganisationCCG,
--team+' ( '+ltrim(rtrim(REplace(a.OrganisationCCG, 'NHS ', '')) ) +' )' as TEamWithCCG,
--team+' ( '+ DEptODSCode +' )' as TEamWithODS,
	DEptODSCode,
   (select min(actiontime)from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where team = a.Team and Total > 0 ) as TeamStartDate,
    (select max(actiontime)from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where team = a.Team and Total > 0) as LastTeamAction,
	DeptClosedDate
	
   --into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]
  FROM [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]a with (nolock)
  --where Team = 'AT MORNINGTON SURGERY'
  )d

  --select * from #ORGS order by team

 
 --select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference] where  charindex('LONDON CENTRAL AND WEST UNSCHEDULED CARE COLLABORATIVE',TEam)>0

-- update r
--		set r.TEamAdjusted = b.team+' ( '+ b.DEptODSCode +' )',
--			r.[Parent Org] = case when r.GPFlag = 1 then  b.team+' ( '+ b.DEptODSCode +' )' else r.[Parent Org] end

-- from [#ORGS] r 
-- inner join
-- (
 
--  select a.* from [#ORGS] a with (nolock)
--  inner join
--  (
-- select * from [#ORGS]  with (nolock)
-- where team in (select team from [#ORGS] with (nolock) where rn  > 1)
-- --order by [Parent Org], rn,rn2
-- )b on b.Team = a.team
--inner join
--  (
--  select
--  *
--  from
--  (
-- select team,Max(rn) as MaxRN2 from [#ORGS] 
-- Group by Team
-- )d where d.MaxRN2 = 1
-- --order by [Parent Org], rn,rn2
-- )c on c.Team = a.Team

-- ) b on b.Team = r.Team 
-- and  b.EnterpriseID = r.EnterpriseID
 


 update r
		set r.TEamAdjusted = b.team+' ( '+ltrim(rtrim(REplace(b.DEptODSCode, 'NHS ', '')) ) +' )',
		r.[Parent Org] = case when r.GPFlag = 1 then b.[Parent Org]+' ( '+ltrim(rtrim(REplace(b.DEptODSCode, 'NHS ', '')) ) +' )' else r.[Parent Org] end

 from [#ORGS] r 
 inner join
 (
 
  select a.* from [#ORGS] a with (nolock)
  inner join
  (
 select 
 a.*
 
 from [#ORGS]a  with (nolock)

 where a.team in (select team from [#ORGS] where rn  > 1)
  
 )b on b.Team = a.team
inner join
  (
  select
  *
  from
  (
 select team,Max(rn) as MaxRN2 from [#ORGS]  with (nolock)
 Group by Team
 )d where d.MaxRN2 >1
 --order by [Parent Org], rn,rn2
 )c on c.Team = a.Team

 ) b on b.Team = r.Team 
 and  b.EnterpriseID = r.EnterpriseID

 




	IF OBJECT_ID('tempdb..#ORGS2') IS NOT NULL 
	dROP TABLE #ORGS2
	select 
 rANK()  over (partition by     Team order by enterpriseID,ORGANISATIONCCG DESC) as RN2,
	S.* 
	 INTO #oRGS2
	from #ORGS S
	order by 
	team,
	EnterpriseID,
	RN 


	DELETE FROM #oRGS2 WHERE RN = 2 AND RN2 = 1
 

	 
 -- select 
  
 -- b.TeamType,
 -- a.* 
 -- from [#ORGS] a
 -- left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.Team
 --where team in (select team from [#ORGS] where rn  > 1)
 --order by [Parent Org], rn,rn2

   	if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]
 

			  select 
			  distinct
			  [Parent Org]+team +coalesce(DeptODSCode,'XXX-XXX')  AS UniqueTeamIDentity,
			  [Parent Org],
			  coalesce(TEamAdjusted,Team) as Team,
			  Team as OriginalTeam,
			  a.OrganisationCCG as CCG,
			 
			  DeptODSCode,
			  EnterpriseID,
			  TeamStartDate,
			  LastTeamAction,
			  DeptClosedDate

			  into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]
			  from [#ORGS2]a  with (nolock)
 --where team in (select team from [#ORGS] where rn  > 1)
 



 update r
		
		set r.[Parent Org] = s.Parent
  from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]r  
 left join  [ETL_Local_PROD].[ODSData].[searchods]s  with (nolock)on s.ods = r.DeptODSCode
 where [Parent Org] is null


 update f
			set f.[Parent Org] =   ltrim(rtrim(REplace(f.[Parent Org] , '(NHS Trust)', '')) )
 from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference] f

  
  

 update f

	set f.Team = g.Team,
		f.[Parent Org] = g.[Parent Org],
		f.UniqueTeamIDentity =g.UniqueTeamIDentity,
		f.OrganisationCCG = g.CCG

  from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]f  
  inner join  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]g  with (nolock)on g.EnterpriseID = f.EnterpriseID


  alter table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] 
   alter column team nvarchar(400)
   
	  CREATE INDEX ActiTeam
ON [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]  (actiontime, team);





 


  
  
 --select 
 --* 

 --from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]

  --select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference] where  charindex('CHurchill Medical Centre',TEam)>0
   --select * from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where  charindex('CHurchill Medical Centre',TEam)>0
     --select * from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where team =  'CENTRAL LONDON COMMUNITY HEALTHCARE NHS TRUST  BULLIMORE HOUSE TEAM'
--select * from  [#PreReport] where Team is null
  
 -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			--Hospital Report Data 
 

		if OBJECT_ID ('Tempdb..#PreHos') is not null
			drop table #PreHos

			select 
			*
			  into #PreHos
			  from
			  (
			  select
			 convert(date,dateadd(d,-(day(b.actionTime-1)),b.actionTime))  as MonthActivity
			 --,b.[StaffProviderTypeDescription]
			 --,b.[StaffFullName]
			 ,b.[Team]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  ,b.PatientCCG
			  ,case 
			  when b.REport_ActionType = 'revise' then 'Own Revisions'
			  when b.REport_ActionType = 'view' then 'Own Views'
			  else b.REport_ActionType 
			  end as REport_ActionType 
			 
			  ,Count(*) as Total
			   
			 

			   from [#PreReport]b
				where REport_ActionType in ('publish','revise','view')
			   group by

	   				 convert(date,dateadd(d,-(day(b.actionTime-1)),b.actionTime)) 
				 --,b.[StaffProviderTypeDescription]
				 --,b.[StaffFullName]
				 ,b.[Team]
 
				  ,b.[Parent Org]
				  ,b.[TeamType]
				  ,b.[OrganisationCCG]
				  ,b.PatientCCG
				  ,b.REport_ActionType

			 
			 union all

		 

			  select 
			  MonthActivity,
			  PublishingTEam as Team,
			  publishingORg as [Parent Org],
			  b.TeamType,
			  PublishingCCG as OrganisationCCG,
			  PatientCCG,
			    'Revisions  by Others' as REport_ActionType,
			 --case 
			 --when  DErivedTEamTypeRevising = 'NON URGENT CARE' then 'Views by Others' 
			 --when DErivedTEamTypeRevising = 'URGENT CARE' then 'Urgent Care Views' 
			 --end as REport_ActionType,
			  sum([Total Views]) as Total
			from  #ExternalRevisors  a
			left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.PublishingTEam
			group by
			MonthActivity,
			  PublishingTEam,
			  b.TeamType,
			  publishingORg,
			  PublishingCCG,
			  PatientCCG 


			  union all

			  	  select 
			  MonthActivity,
			  PublishingTEam as Team,
			  b.[Parent Org] as [Parent Org],
			   b.TeamType,
			  PublishingCCG as OrganisationCCG,
			  PatientCCG,
			  	 case 
			 when  DErivedTEamTypeViewing = 'NON URGENT CARE' then 'Views by Others' 
			 when DErivedTEamTypeViewing = 'URGENT CARE' then 'Urgent Care Views' 
			 end as REport_ActionType,
			  sum([Total Views]) as Total
			from  #ExternalViewers  a
			left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.PublishingTEam
			group by
			MonthActivity,
			  PublishingTEam,
			  b.TeamType,
			   b.[Parent Org],
			  PublishingCCG,
			  PatientCCG ,
			  DErivedTEamTypeViewing
			  )d





			  --select top 5 * from #PRehos
 
  			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table]
   
    

			select  
			distinct
			a.[Month Start Date] as ActionTime
  
			 , [Team]
			 ,cast(null as date) as LastTeamActiveDate
			  , [Parent Org]
			  , [TeamType]
			  , [OrganisationCCG]
			  ,PatientCCG
			  , Report_ActionType
			  ,null as Total


			  into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table]
 
				from #PreHos b
				cross join (select distinct [Month Start Date]from #Temp_CTE_Date  )a


			order by   a.[Month Start Date]

			  --delete from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where [OrganisationCCG] is null






  update x
				set  x.Total =  y.Total ,
				x.LastTeamActiveDate =  z.LastAct

	   from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table] x
	   left join #PreHos y on y.MonthActivity = x.ActionTime
							and y.[Parent Org] = x.[Parent Org]
							and y.Team = x.Team
							and y.REport_ActionType = x.REport_ActionType
							and y.PatientCCG = x.PatientCCG
							and y.OrganisationCCG = x.OrganisationCCG
		left join
				(
				select 
				Team,
				[Parent Org],
				max(MonthActivity)as LastAct
				from #PreHos 
				group by
				Team,
				[Parent Org]

				)z on z.Team = x.Team
				and z.[Parent Org] = x.[Parent Org]
				 
--select *  from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table] where team = ''

  --select *
  -- from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table] 
---------------------------------------------------------------------------------------------------------------------------------------------------------------------

   alter table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table] 
   alter column team nvarchar(400)
   
	  CREATE INDEX ActiTeam
ON [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table]  (actiontime, team);





End