USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__Activity_Report_Data]    Script Date: 02/09/2020 14:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__Activity_Report_Data] 
-- Amended for PD Upgrade
AS
BEGIN

 

 	IF OBJECT_ID('tempdb..#TempTeam') IS NOT NULL 
	dROP TABLE #TempTeam
 
select 
distinct 
--a.[Parent Org],

a.uSERid,
UserRole,
a.UserFullName as [StaffFullName],
UserRegistryID,
deptenterpriseid,
a.OrganisationCCG,
cast (null as varchar(max))as StaffProviderTypeDescription,
a.OrganizationName as Team,
[Parent org],
a.TeamType
--a.StaffOrgStartDate,
--a.StaffOrgEndDate
into #TempTeam
FROM [ETL_Local_PROD].[dbo].[AT_Logins_Daily]a

where a.OrganizationName is not null

   
 update a

		set a.StaffProviderTypeDescription = b.StaffProviderTypeDescription

 from #TempTeam a 
 left join 
			(
select
Distinct
			a.uSERid,
UserRole,
a.UserFullName as [StaffFullName],
UserRegistryID,
deptenterpriseid,
--a.OrganisationCCG,
StaffProviderTypeDescription,
a.OrganizationName,
[Parent org],
a.TeamType
--a.StaffOrgStartDate,
--a.StaffOrgEndDate

FROM   [ETL_Local_PROD].[dbo].[AT_Login_Details]a

where a.OrganizationName is not null

			)b on b.UserRole = a.UserRole
													and b.UserRegistryID = a.UserRegistryID
													and b.OrganizationName = a.team
													and b.deptenterpriseid = a.deptenterpriseid
													and b.[Parent Org] = a.[Parent Org]



delete from #tempTeam  where exists 
( 
select 
distinct 
team,
StaffUserId,
StaffFullName,
StaffProviderTypeDescription
from [ETL_Local_PROD].[dbo].[AT_CarePlanData]a 
where a.team = team
and a.StaffFullName = StaffFullName
and a.StaffUserId = uSERid
and a.StaffProviderTypeDescription = StaffProviderTypeDescription
and a.Team is not null
)


--select top 5* from[ETL_Local_PROD].[dbo].[AT_Logins_Daily]
--select top 5* from [ETL_Local_PROD].[dbo].[AT_Login_Details]
--select top 5* from [ETL_Local_PROD].[dbo].[AT_CarePlanData]

--select * from #TempTeam

	--  Report tables addded May 2020 - we always need more tables in the poxy database!! --------------	
		

	DECLARE 
		@EndDate date,  
		@StartDate Date
 

		
	set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	set @EndDate =  dateadd(day,-2,getdate())
	print @StartDate
	Print @EndDate

 

 

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT   [ID]
	,ROW_NUMBER() OVER(ORDER by ID ASC) AS RowNumb
	,DEnse_RANK() OVER  ( ORDER BY [Week Of Year] ASC)  AS RowNumbWeek
	--,convert(date,dateadd(week,datediff(week,0,[Calendar Day]),0)) as WeekStart
	,case when [Week Day] = 1 then  DATEADD(DAY, 2 - DATEPART(WEEKDAY, dateadd(day,-1,[Calendar Day])), CAST(dateadd(day,-1,[Calendar Day]) AS DATE)) else DATEADD(DAY, 2 - DATEPART(WEEKDAY, [Calendar Day]), CAST([Calendar Day] AS DATE))end  as WeekStart
	,case when [Week Day] = 1 then [Calendar Day] else dateadd(day,6,DATEADD(DAY, 2 - DATEPART(WEEKDAY, [Calendar Day]), CAST([Calendar Day] AS DATE)))end  as  WeekEnd
	--,convert(date,case when [Week day] = 1 then dateadd(day,6,[Calendar Day]) else  dateadd(day,6,DATEADD(dd, -(DATEPART(dw, [Calendar Day])-1), [Calendar Day]))end)   as WeekEnd
      ,[Calendar Day] as MyDate
	  ,convert(varchar,[Calendar Day],103) as CalendarDayField
	  ,[Month Start Date]

    
  FROM [ETL_Local_PROD].[dbo].[DIM_Date]
  where [Calendar Day] >= @StartDate and [Calendar Day] < @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT *
	into #Temp_CTE_Date		
	FROM cte
	OPTION (MAXRECURSION 0)

	--select * from #Temp_CTE_Date order by WeekStart
	--select dateadd(d,-(day(getdate()-1)),getdate())
	 



 
		if OBJECT_ID ('Tempdb..#PreReport') is not null
			drop table #PreReport




	  SELECT
	  distinct
	  --[PatAuditID]
      a.[CMC_ID]
      ,[actionTime]
      ,[ActionType]
      ,[comment]
      ,[DerivedActionType]
	  ,ROW_NUMBER() OVER(partition by a.cmc_id, [actionTime],[ActionType],stafffullname,team,[parent org],teamtype,postcode  ORDER BY OverAllOrder)  as RNumber
	  ,[ActivityOrderNo]
      ,[OverAllOrder]
      ,[STAFFEnterpriseID]
      ,[StaffUserId]
      ,[ODSCode]
      ,[StaffActiveDescription]
      ,coalesce([StaffProviderTypeDescription],'Not Recorded') as [StaffProviderTypeDescription]
	  ,[StaffFullName]
      --,dbo.ProperCase([StaffFullName]) as [StaffFullName]
      ,[StaffRegistryId]
      ,[PDRegistryID]
      ,[ItemId]
	  ,TEam
      --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
      ,[Parent Org]
      ,[TeamType]
      ,[PostCode]
      ,REPLACE([OrganisationCCG], ' CCG', '') as [OrganisationCCG]
      ,[OrgSTP]
      ,[NHS Region]
      ,[DeptODSCode]
      ,[EnterpriseID]
      ,coalesce([PatientCCG],b.ccg) as [PatientCCG]
      ,coalesce([PatientSTP],cc.stp) as [PatientSTP]
      ,[LoginReference]
      ,[CMC_OrItem]
      ,[CMC_Individual_ItemID]
      ,[CMC_Individual_PDRegistryID]
      ,[App]
	  ,case
	  when charindex('audit',DerivedActionType)> 0 then 'Audit'
	  when DerivedActionType in ('clinic_event_added','clinical_event_updated','death_date_added','death_date_removed','deceased_updated','generate_dna_cpr','revise') then 'Revise'
	  when charindex('create',DerivedActionType)> 0 then 'Create'
	  when charindex('publish',DerivedActionType)> 0 then 'Publish'
	  when charindex('delete',DerivedActionType)> 0 then 'Delete'
	  when charindex('discard',DerivedActionType)> 0 then 'Discard'
	  when charindex('enroll',DerivedActionType)> 0 then 'Enroll'
	  when charindex('initiated',DerivedActionType)> 0 then 'Initiated'
	  when DerivedActionType in ('lr_claimed','lr_expired','patient_found','patient_list') then 'Search'
	  when charindex('print',DerivedActionType)> 0 then 'Print'
	  when charindex('proxy',DerivedActionType)> 0 then 'Proxy'
	  when charindex('request',DerivedActionType)> 0 then 'Request'
	  when charindex('subscription',DerivedActionType)> 0 then 'Subscription'
	  when charindex('view',DerivedActionType)> 0 then 'View'
	  else DerivedActionType
	  End as REport_ActionType

	  into #PreReport
	

  FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]a
  left join [ETL_Local_PROD].[dbo].[AT_Patient_General]b on b.CMC_ID = a.cmc_id
   left join [ETL_Local_PROD].[Reference].[STP] cc on cc.CCGLONG_TRUNC =  b.CCG

  where convert(Date,actiontime)>= @StartDate and convert(Date,actiontime) < @EndDate
	and StaffFullName <> 'Jean Harris ( Do not use )'
  and DerivedActionType <> 'save'

  --union 

  ----SELECT TOP 5 * FROM [ETL_Local_PROD].[dbo].[AT_Login_Details]
  	--  select 
	  --* 
	  --from [#PreReport] 
	  --where StaffFullName = 'Adam Brookes' 
	  --and derivedactiontype = 'view' 
	  --and convert(date,actiontime)>= '2020-08-01'

  -- SELECT
	 -- distinct
	 -- --[PatAuditID]
  --     NULL AS [CMC_ID]
  --    ,[actionTime]
  --    ,[ActionType]
  --    ,[comment]
  --    ,[DerivedActionType]
	 -- ,ROW_NUMBER() OVER(partition by a.cmc_id, [actionTime],[ActionType],stafffullname,team,[parent org],teamtype,postcode  ORDER BY OverAllOrder)  as RNumber
	 -- ,[ActivityOrderNo]
  --    ,[OverAllOrder]
  --    ,[STAFFEnterpriseID]
  --    ,[StaffUserId]
  --    ,[ODSCode]
  --    ,[StaffActiveDescription]
  --    ,coalesce([StaffProviderTypeDescription],'Not Recorded') as [StaffProviderTypeDescription]
	 -- ,[StaffFullName]
  --    --,dbo.ProperCase([StaffFullName]) as [StaffFullName]
  --    ,[StaffRegistryId]
  --    ,[PDRegistryID]
  --    ,[ItemId]
	 -- ,a.OrganizationName AS TEam
  --    --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
  --    ,[Parent Org]
  --    ,[TeamType]
  --    ,[PostCode]
  --    ,REPLACE([OrganisationCCG], ' CCG', '') as [OrganisationCCG]
  --    ,[OrgSTP]
  --    ,[NHS Region]
  --    ,[DeptODSCode]
  --    ,[EnterpriseID]
  --    ,coalesce([PatientCCG],b.ccg) as [PatientCCG]
  --    ,coalesce([PatientSTP],cc.stp) as [PatientSTP]
  --    ,[LoginReference]
  --    ,[CMC_OrItem]
  --    ,[CMC_Individual_ItemID]
  --    ,[CMC_Individual_PDRegistryID]
  --    ,[App]
	 -- ,case
	 -- when charindex('audit',DerivedActionType)> 0 then 'Audit'
	 -- when DerivedActionType in ('clinic_event_added','clinical_event_updated','death_date_added','death_date_removed','deceased_updated','generate_dna_cpr','revise') then 'Revise'
	 -- when charindex('create',DerivedActionType)> 0 then 'Create'
	 -- when charindex('publish',DerivedActionType)> 0 then 'Publish'
	 -- when charindex('delete',DerivedActionType)> 0 then 'Delete'
	 -- when charindex('discard',DerivedActionType)> 0 then 'Discard'
	 -- when charindex('enroll',DerivedActionType)> 0 then 'Enroll'
	 -- when charindex('initiated',DerivedActionType)> 0 then 'Initiated'
	 -- when DerivedActionType in ('lr_claimed','lr_expired','patient_found','patient_list') then 'Search'
	 -- when charindex('print',DerivedActionType)> 0 then 'Print'
	 -- when charindex('proxy',DerivedActionType)> 0 then 'Proxy'
	 -- when charindex('request',DerivedActionType)> 0 then 'Request'
	 -- when charindex('subscription',DerivedActionType)> 0 then 'Subscription'
	 -- when charindex('view',DerivedActionType)> 0 then 'View'
	 -- else DerivedActionType
	 -- End as REport_ActionType
	 -- from #TempTeam a
	 -- left join  [ETL_Local_PROD].[dbo].[AT_Login_Details]b on b.OrganizationName = a.OrganizationName




		
 	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_AuditTable_DQ]') is not null
 		drop table [ETL_Local_PROD].[dbo].[AT_AuditTable_DQ]

		select 
		* 
		into  [ETL_Local_PROD].[dbo].[AT_AuditTable_DQ]
		from #PreReport 
		where   RNumber > 1 
		order by cmc_id,OverAllOrder

		delete from #PreReport where RNumber > 1


delete from #PreReport where DerivedActionType = 'publish' and [ActivityOrderNo] > 1



--select * from #PreReport where cmc_id = 100088174
--select * from #PreReport where  DerivedActionType = 'Publish' and convert(Date,actiontime)> '2020-06-01'

--select * from #PreReport where team = 'KILBURN PARK MEDICAL CENTRE' and DerivedActionType = 'Publish' and convert(Date,actiontime)>= '2020-06-01'
--Provider 966014, Organization 196870, SessionId 961999498

--select top 500 * from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]
--select top 500 * FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData] where staffregistryid = 196870


if OBJECT_ID ('Tempdb..#Publishers') is not null
			drop table #Publishers
			select
			CMC_ID,
			Team,
			[OrganisationCCG],
			PatientCCG,
			[Parent Org],
			OrgSTP

			into #Publishers

			from #PreReport
			where DerivedActionType = 'publish'

  	if OBJECT_ID ('Tempdb..#ExternalViewers') is not null
			drop table #ExternalViewers

			select
			distinct
			convert(date,DATEADD(month, DATEDIFF(month, 0, actionTime), 0))   as MonthActivity,
			  b.Team as PublishingTEam,
			  b.[Parent Org],
			 b.OrganisationCCG as PublishingCCG,
			 a.PatientCCG,
			 b.[OrgSTP],
			 a.TEam as ViewingTEam,
			
			 case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'
			else 'NON URGENT CARE'
			end as DErivedTEamTypeViewing,
			 TeamType as ViewingTeamType,
			 count(*) as [Total Views]

			 into #ExternalViewers

			from #PreReport a 
			inner join #Publishers b on b.CMC_ID = a.CMC_ID
			where DerivedActionType = 'view'
			and b.Team <> a.Team
			group by
			convert(date,DATEADD(month, DATEDIFF(month, 0, actionTime), 0)) ,
			b.[Parent Org],
			 a.TEam,
			 b.Team,
			 b.OrganisationCCG,
			 a.PatientCCG,
			 b.[OrgSTP],
			 TeamType

			   	if OBJECT_ID ('Tempdb..#ExternalRevisors') is not null
			drop table #ExternalRevisors

			select
			distinct
			convert(date,DATEADD(month, DATEDIFF(month, 0, actionTime), 0))  as MonthActivity,
			  b.Team as PublishingTEam,
			  b.[Parent Org] as PublishingORg,
			 b.OrganisationCCG as PublishingCCG,
			 a.PatientCCG,
			 b.[OrgSTP] as PublishingSTP,
			 
			 a.TEam as RevisingTEam,

			
			 case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'

			else 'NON URGENT CARE'
			end as DErivedTEamTypeRevising,
			 TeamType as RevisingTeamType,
			 count(*) as [Total Views]

			 into #ExternalRevisors

			from #PreReport a 
			inner join #Publishers b on b.CMC_ID = a.CMC_ID
			where DerivedActionType = 'revise'
			and b.Team <> a.Team
			group by
			convert(date,DATEADD(month, DATEDIFF(month, 0, actionTime), 0)),
			b.[Parent Org],
			 a.TEam,
			 b.Team,
			 b.OrganisationCCG,
			 a.PatientCCG,
			 b.[OrgSTP],
			 TeamType

/**
			 --select * from #ExternalViewers where charindex('marsden',publishingteam)>0 order by publishingteam
		select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where StaffFullName = 	 'Nathan Massoud' and Team = 'LONDON AMBULANCE SERVICE NHS TRUST' 
		and convert(date,ActionTime) >= '2020-07-01' 
		and convert(date,ActionTime) <= '2020-07-31'
		--and DerivedActionType = 'view'

		order by overallorder

		--select 
		--top 1000* 
		
		--from #PreReport
		--where team = '111 LAS'and convert(date,ActionTime) >= '2020-07-01' 
		--and convert(date,ActionTime) <= '2020-07-31'and DerivedActionType = 'view'

		select *
		from [#PreReport]b
			   	where team = 'LONDON AMBULANCE SERVICE NHS TRUST'and convert(date,ActionTime) >= '2020-07-01' 
		and convert(date,ActionTime) <= '2020-07-31'and DerivedActionType = 'view'
		and StaffFullName = 'Nathan Massoud'



			select

			 convert(date,dateadd(d,-(day(b.actionTime-1)),b.actionTime))  as MonthActivity
			  ,convert(date,DATEADD(month, DATEDIFF(month, 0, b.actionTime), 0))  as MonthActivity2
			 ,b.actionTime
			 ,b.[StaffProviderTypeDescription]
			 ,b.[StaffFullName]
			 ,b.[Team]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  --,b.PatientCCG
			  ,b.REport_ActionType
			  --,Count(*) as Total
			   
			   from [#PreReport]b
			   	where team = 'LONDON AMBULANCE SERVICE NHS TRUST'and convert(date,ActionTime) >= '2020-07-01' 
		and convert(date,ActionTime) <= '2020-07-31'and DerivedActionType = 'view'
		and StaffFullName = 'Nathan Massoud'
			
			   group by

	   				b.actionTime
				 ,b.[StaffProviderTypeDescription]
				 ,b.[StaffFullName]
				 ,b.[Team]
 
				  ,b.[Parent Org]
				  ,b.[TeamType]
				  ,b.[OrganisationCCG]
				  --,b.PatientCCG
				  ,b.REport_ActionType


		select

			convert(date,DATEADD(month, DATEDIFF(month, 0, b.actionTime), 0))  as MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[StaffFullName]
			 ,b.[Team]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  --,b.PatientCCG
			  ,b.REport_ActionType
			  ,Count(*) as Total
			   
			   from [#PreReport]b
		where team = 'LONDON AMBULANCE SERVICE NHS TRUST'and convert(date,ActionTime) >= '2020-07-01' 
		and convert(date,ActionTime) <= '2020-07-31'and DerivedActionType = 'view'

			
			   group by

	   			convert(date,DATEADD(month, DATEDIFF(month, 0, b.actionTime), 0))
				 ,b.[StaffProviderTypeDescription]
				 ,b.[StaffFullName]
				 ,b.[Team]
 
				  ,b.[Parent Org]
				  ,b.[TeamType]
				  ,b.[OrganisationCCG]
				  --,b.PatientCCG
				  ,b.REport_ActionType





**/

  	if OBJECT_ID ('Tempdb..#PreReportUsers') is not null
			drop table #PreReportUsers
			select
			distinct 
			  [StaffFullName]
			  ,[StaffProviderTypeDescription]
 
			  ,TEam
			  --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
		 
			  ,[TeamType]
	 

			  into #PreReportUsers

			from #PreReport

			union 

			select
			distinct
			[StaffFullName]
			  ,[StaffProviderTypeDescription]
 
			  ,TEam
			  --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
		 
			  ,[TeamType]
			from #TempTeam

			--select * from #PreReportUsers
  
		if OBJECT_ID ('Tempdb..#PreReportLogins') is not null
			drop table #PreReportLogins

			SELECT  
			distinct
			--[UserRegistryID]
			--  ,[OrganizationRegistryID]
			  --,
			  [UserID]
			  ,[UserRole]
			  ,[ETL_Local_PROD].[dbo].[ProperCase]([UserFullName])as [UserFullName]
			  ,[OrganizationName]
			  --,[deptenterpriseid]
			  --,[StaffEnterpriseID]
			  ,[StaffORgStartDate]
			  ,[StaffORgEndDate]
			  ,a.[TeamType]
			  ,c.StaffProviderTypeDescription
			  ,a.[Parent Org]
			  ,b.[Month Start Date] as MonthActivity
			
			  ----,[LoginDate]
			  --,[SessionDuration]
			  --,[DerivedDevicetype]
			  ,a.[PostCode]
			  ,a.[OrganisationCCG]

			  ,[OrgSTP]
			  ,[NHS Region]
			  ,count(*) as Total
			  --,[Domain]
			  --,[App]
			  --,[ActionType]

			  into #PreReportLogins

		  FROM [ETL_Local_PROD].[dbo].[AT_Logins_Daily]a
		  left join [ETL_Local_PROD].[dbo].[DIM_Date]b on b.[Calendar Day] = convert(Date,LoginDate)
		  inner join #PreReportUsers c on c.StaffFullName = a.UserFullName
									and c.Team = a.OrganizationName
									 
		  group by
		   [UserID]
			  ,[UserRole]
			  ,[UserFullName]
			  ,[OrganizationName]
			  ,c.StaffProviderTypeDescription
			  ,[StaffORgStartDate]
			  ,[StaffORgEndDate]
			  ,a.[TeamType]
			  ,a.[Parent Org]
			  ,b.[Month Start Date]
			  --,[DerivedDevicetype]
			  ,a.[PostCode]
			  ,a.[OrganisationCCG]
			  ,[OrgSTP]
			  ,[NHS Region]




		if OBJECT_ID ('Tempdb..#PreReport2') is not null
			drop table #PreReport2
			select
			d.*
			into #PreReport2
			from
			(
			select
			distinct
			convert(date,DATEADD(month, DATEDIFF(month, 0, b.actionTime), 0))  as MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[StaffFullName]
			 ,b.[Team]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  --,b.PatientCCG
			  ,b.REport_ActionType
			  ,Count(*) as Total
			   
			   from [#PreReport]b
		--where team = 'LONDON AMBULANCE SERVICE NHS TRUST'and convert(date,ActionTime) >= '2020-07-01' 
		--and convert(date,ActionTime) <= '2020-07-31'and DerivedActionType = 'view'

			
			   group by

	   			convert(date,DATEADD(month, DATEDIFF(month, 0, b.actionTime), 0))
				 ,b.[StaffProviderTypeDescription]
				 ,b.[StaffFullName]
				 ,b.[Team]
 
				  ,b.[Parent Org]
				  ,b.[TeamType]
				  ,b.[OrganisationCCG]
				  --,b.PatientCCG
				  ,b.REport_ActionType



				  union all

				  select
				  distinct
			 MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[UserFullName]
			 ,b.[OrganizationName]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,REPLACE(b.[OrganisationCCG], ' CCG', '') as [OrganisationCCG]
			  --,cast(null as varchar(400))as  PatientCCG
			  ,'Daily Logins' as REport_ActionType
			  ,Count(*) as Total

				  from #PreReportLogins b
 
				 group by
				  MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[UserFullName]
			 ,b.[OrganizationName]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  --,e.CCG

	  )d
	 
	 --select * from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]

	   update x
				set StaffFullName = [ETL_Local_PROD].[dbo].[ProperCase]([StaffFullName])
				--,
				--TEam = [ETL_Local_PROD].[dbo].[ProperCase](convert(varchar(400),[Team])) 

	   from #PreReport2 x


	   update r
				set r.StaffProviderTypeDescription = replace([StaffProviderTypeDescription],'General Medical Practitioner: No Organisation Sub-Type','GP')

	   from [#prereport2]r 

	   --  update x
				--set  x.PublishingTEam = [ETL_Local_PROD].[dbo].[ProperCase](convert(varchar(400),PublishingTEam)) ,
				--x.ViewingTEam = [ETL_Local_PROD].[dbo].[ProperCase](convert(varchar(400),ViewingTEam)) 

	   --from #ExternalViewers x

	   --     update x
				--set  x.PublishingTEam = [ETL_Local_PROD].[dbo].[ProperCase](convert(varchar(400),PublishingTEam)) ,
				--x.RevisingTEam = [ETL_Local_PROD].[dbo].[ProperCase](convert(varchar(400),RevisingTEam)) 

	   --from #ExternalRevisors x

	  --select sum(total) from [#PreReport2] where  team = 'LONDON AMBULANCE SERVICE NHS TRUST' and MonthActivity = '2020-07-01'and Report_ActionType = 'view'
	  --select top 5 * from [#PreReport2] where StaffFullName = 'Adam Brookes' and MonthActivity = '2020-08-01'
	   --select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where ltrim(rtrim(team)) = ''
	   --select * 	from #ExternalViewers where PublishingTEam is null
	   
--select * from #TempTeam

		--if OBJECT_ID ('Tempdb..#PreReport3') is not null
		--	drop table #PreReport3

		--	select  
		--	distinct
 
		--	 replace([StaffProviderTypeDescription],'General Medical Practitioner: No Organisation Sub-Type','GP') as [StaffProviderTypeDescription]
		--	 , [StaffFullName]
		--	 , [Team]
		--	  , [Parent Org]
		--	  , [TeamType]
		--	  , [OrganisationCCG]
 
		 
		--	  , Report_ActionType

		--	  into #PreReport3

		--	  from [#PreReport2]b

		--	  union 

		--	  select
		--	  distinct
		--	   replace([StaffProviderTypeDescription],'General Medical Practitioner: No Organisation Sub-Type','GP') as [StaffProviderTypeDescription]
		--	   ,[StaffFullName]
		--	 ,[Team]
		--	  , [Parent Org]
		--	  , [TeamType]
		--	  , [OrganisationCCG]
 
		 
		--	  , 'Login' as Report_ActionType


		--	  from #TempTeam






  			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]
   
    

			select  
			distinct
			a.[Month Start Date] as ActionTime
 
			 , replace([StaffProviderTypeDescription],'General Medical Practitioner: No Organisation Sub-Type','GP') as [StaffProviderTypeDescription]
			 , [StaffFullName]
			 , [Team]
			  , [Parent Org]
			  , [TeamType]
			  , [OrganisationCCG]
			  --,PatientCCG
			  ,CAST(NULL AS VARCHAR(400)) AS STP
			  ,cast(null as date) as [Staff ORganisation Start Date]
			  ,cast(null as date) as [Staff ORganisation End Date]
			  , Report_ActionType
			  ,null as Total

			  into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]
 
				from [#PreReport2]b
				cross join (select distinct [Month Start Date]from #Temp_CTE_Date  )a


			order by   a.[Month Start Date]

			  delete from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where [OrganisationCCG] is null


		


insert into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]

select
MonthActivity as ActionTime,
Null as [StaffProviderTypeDescription],
null as StaffFullName,
PublishingTEam as Team,
[Parent Org] as ParentOrg,
Null as TEamType,
PublishingCCG as ORganisationCCG,
--null as PatientCCG,
orgStp as STP,
cast(null as date) as [Staff ORganisation Start Date],
cast(null as date) as [Staff ORganisation End Date],
'URGENT CARE' as Report_ActionType,
[Total Views] as Total

from #ExternalViewers
where DErivedTEamTypeViewing = 'URGENT CARE'
and PublishingCCG is not null

union all

select
MonthActivity as ActionTime,
Null as [StaffProviderTypeDescription],
null as StaffFullName,
PublishingTEam as Team,
[Parent Org] as ParentOrg,
Null as TEamType,
PublishingCCG as ORganisationCCG,
--null as PatientCCG,
orgStp as STP,
cast(null as date) as [Staff ORganisation Start Date],
cast(null as date) as [Staff ORganisation End Date],
'NON URGENT CARE' as Report_ActionType,
[Total Views] as Total

from #ExternalViewers
where DErivedTEamTypeViewing = 'NON URGENT CARE'
and PublishingCCG is not null

Union all

select
MonthActivity as ActionTime,
Null as [StaffProviderTypeDescription],
null as StaffFullName,
PublishingTEam as Team,
[PublishingORg] as ParentOrg,
Null as TEamType,
PublishingCCG as ORganisationCCG,
PublishingStp as STP,
cast(null as date) as [Staff ORganisation Start Date],
cast(null as date) as [Staff ORganisation End Date],
'Revisions by Others' as Report_ActionType,
[Total Views] as Total

from #ExternalRevisors
Where PublishingCCG is not null
			 

update a

		set a.TeamType = b.TeamType

 from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]a

 left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.team	
  where  REport_ActionType   in ('NON URGENT CARE','URGENT CARE','Revisions by Others' )


update b
		set b.Total = coalesce(c.Total,0),
		b.[Staff ORganisation Start Date] = d.StaffORgStartDate,
		b.[Staff ORganisation End Date] = d.StaffORgEndDate,
		B.STP = E.STP

from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]b

left join #PreReport2 c on c.MonthActivity = ActionTime
					and c.[StaffProviderTypeDescription] = b.StaffProviderTypeDescription
					and ltrim(rtrim(c.StaffFullName)) = ltrim(rtrim(b.StaffFullName))
					and c.TEam = b.Team
					and c.[Parent Org] = b.[Parent Org]
					and c.REport_ActionType = b.REport_ActionType
left join #PreReportLogins d on d.UserFullName = b.StaffFullName
							and d.OrganizationName = b.Team
LEFT JOIN [ETL_Local_PROD].[Reference].[STP]E ON E.CCGLONG_TRUNC = B.OrganisationCCG
where b.REport_ActionType not in ('NON URGENT CARE','URGENT CARE','Revisions by Others' )


	--select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]   where  team = 'KILBURN PARK MEDICAL CENTRE' and ActionTime = '2020-06-01' order by stafffullname
	-- select * from [#PreReport2] where  team = 'KILBURN PARK MEDICAL CENTRE' and MonthActivity = '2020-06-01'





  	if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]
 

   SELECT 
   distinct
   STP,
   [Parent Org],
    Team, 
   (select min(actiontime)from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where team = a.Team and Total > 0 ) as TeamStartDate,
    (select max(actiontime)from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where team = a.Team and Total > 0) as LastTeamAction

   into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]
  FROM [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]a

 
 --select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference] where  TEam = 'Homerton University Hospital Care of The Elderly Dept' 

   alter table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] 
   alter column team nvarchar(400)
   
	  CREATE INDEX ActiTeam
ON [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]  (actiontime, team);





--select * from  [#PreReport] where Team is null
  
 -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			--Hospital Report Data 
 

		if OBJECT_ID ('Tempdb..#PreHos') is not null
			drop table #PreHos

			select 
			*
			  into #PreHos
			  from
			  (
			  select
			 convert(date,dateadd(d,-(day(b.actionTime-1)),b.actionTime))  as MonthActivity
			 --,b.[StaffProviderTypeDescription]
			 --,b.[StaffFullName]
			 ,b.[Team]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  ,b.PatientCCG
			  ,case 
			  when b.REport_ActionType = 'revise' then 'Own Revisions'
			  when b.REport_ActionType = 'view' then 'Own Views'
			  else b.REport_ActionType 
			  end as REport_ActionType 
			 
			  ,Count(*) as Total
			   
			 

			   from [#PreReport]b
				where REport_ActionType in ('publish','revise','view')
			   group by

	   				 convert(date,dateadd(d,-(day(b.actionTime-1)),b.actionTime)) 
				 --,b.[StaffProviderTypeDescription]
				 --,b.[StaffFullName]
				 ,b.[Team]
 
				  ,b.[Parent Org]
				  ,b.[TeamType]
				  ,b.[OrganisationCCG]
				  ,b.PatientCCG
				  ,b.REport_ActionType

			 
			 union all

		 

			  select 
			  MonthActivity,
			  PublishingTEam as Team,
			  publishingORg as [Parent Org],
			  b.TeamType,
			  PublishingCCG as OrganisationCCG,
			  PatientCCG,
			    'Revisions  by Others' as REport_ActionType,
			 --case 
			 --when  DErivedTEamTypeRevising = 'NON URGENT CARE' then 'Views by Others' 
			 --when DErivedTEamTypeRevising = 'URGENT CARE' then 'Urgent Care Views' 
			 --end as REport_ActionType,
			  sum([Total Views]) as Total
			from  #ExternalRevisors  a
			left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.PublishingTEam
			group by
			MonthActivity,
			  PublishingTEam,
			  b.TeamType,
			  publishingORg,
			  PublishingCCG,
			  PatientCCG 


			  union all

			  	  select 
			  MonthActivity,
			  PublishingTEam as Team,
			  b.[Parent Org] as [Parent Org],
			   b.TeamType,
			  PublishingCCG as OrganisationCCG,
			  PatientCCG,
			  	 case 
			 when  DErivedTEamTypeViewing = 'NON URGENT CARE' then 'Views by Others' 
			 when DErivedTEamTypeViewing = 'URGENT CARE' then 'Urgent Care Views' 
			 end as REport_ActionType,
			  sum([Total Views]) as Total
			from  #ExternalViewers  a
			left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.PublishingTEam
			group by
			MonthActivity,
			  PublishingTEam,
			  b.TeamType,
			   b.[Parent Org],
			  PublishingCCG,
			  PatientCCG ,
			  DErivedTEamTypeViewing
			  )d





			  --select top 5 * from #PRehos
 
  			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table]
   
    

			select  
			distinct
			a.[Month Start Date] as ActionTime
  
			 , [Team]
			 ,cast(null as date) as LastTeamActiveDate
			  , [Parent Org]
			  , [TeamType]
			  , [OrganisationCCG]
			  ,PatientCCG
			  , Report_ActionType
			  ,null as Total


			  into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table]
 
				from #PreHos b
				cross join (select distinct [Month Start Date]from #Temp_CTE_Date  )a


			order by   a.[Month Start Date]

			  --delete from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where [OrganisationCCG] is null






  update x
				set  x.Total =  y.Total ,
				x.LastTeamActiveDate =  z.LastAct

	   from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table] x
	   left join #PreHos y on y.MonthActivity = x.ActionTime
							and y.[Parent Org] = x.[Parent Org]
							and y.Team = x.Team
							and y.REport_ActionType = x.REport_ActionType
							and y.PatientCCG = x.PatientCCG
							and y.OrganisationCCG = x.OrganisationCCG
		left join
				(
				select 
				Team,
				[Parent Org],
				max(MonthActivity)as LastAct
				from #PreHos 
				group by
				Team,
				[Parent Org]

				)z on z.Team = x.Team
				and z.[Parent Org] = x.[Parent Org]
				 
--select *  from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table] where team = ''

  --select *
  -- from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table] 
---------------------------------------------------------------------------------------------------------------------------------------------------------------------

   alter table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table] 
   alter column team nvarchar(400)
   
	  CREATE INDEX ActiTeam
ON [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Hospital_Report_Data_Table]  (actiontime, team);





End