USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_DQ11_Base_Tables_SP]    Script Date: 01/06/2021 14:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[AT_DQ11_Base_Tables_SP] 
 --Amended for PD Upgrade
AS
BEGIN
 
 /**
 Preferred place of care – PPC  (deterioration not dying)	Actual Place selected or Pt. not able / wanting to state
Preferred place for dying – PPD 	Actual Place selected or Pt. not able / wanting to state
Prognosis	Any option chosen
Patient wishes	Free text
Family awareness	Free text
Cultural / Religious	Free text
Ceiling of Treatment 	Any value (‘Other’ must have free text with it)
CPR Decision (Yes or No)	Yes/No value
Some Symptoms fields interacted with	One or more fields - Free text
Contacts - family	Any name & any telephone number
Contacts – professionals 	
In-hours & Out –of –hours (other than GP)	Any name/service & any telephone number 



 **/
 
/**
 

--DataQuality.scorespersonalcontacts
select patientsummary,personalcontactno,Name
from [ETL_Local_PROD].[dbo].[AT_PatientPersonalContacts]
where Name is not null and rtrim(Name) <> ''
and nameexcludeflag is null
order by name


personalcontactcounts as
(select patientsummary,COUNT(*) as numcontacts
from DataQuality.scorespersonalcontacts c
group by PatientSummary),
personalcontactinfocounts as
(select patientsummary,COUNT(*) as numcontactinfo
from PatientPersonalContactsContactInfo i
join DataQuality.ScoresPersonalContacts c on i.PersonalContactNo = c.PersonalContactNo 
and ContactValue is not null and rtrim(ContactValue) <> ''
group by PatientSummary),




select * from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts] 

select * from [ETL_Local_PROD].[dbo].[AT_PatientPersonalContacts] where nameexcludeflag = 1

 
 **/
	  if OBJECT_ID ('Tempdb..#scorespersonalcontactsInfo') is not null
		drop table #scorespersonalcontactsInfo
	 SELECT
	CMC_ID, 
	p.SupportContact, 
	LPANo,
	i.ContactType, 
	i.ContactValue,
	ROW_NUMBER() over (partition by cmc_id,LPANo order by ContactInfo) as ContactInfoNo

	into #scorespersonalcontactsInfo

	from PatientLPA p
	join ETL_PROD.dbo.CMC_SupportContact_ContactInfo sci on p.SupportContact = sci.SupportContact
	join ETL_PROD.dbo.CMC_ContactInfo i on sci.ContactInfo = i.ItemID
  
  	  if OBJECT_ID ('Tempdb..#scorespersonalcontactsContactsInfo') is not null
		drop table #scorespersonalcontactsContactsInfo
	  SELECT
	CMC_ID, 
	PersonalContactNo, 
	p.SupportContact,
	i.ContactType, 
	ct.Description as ContactTypeDescription, 
	i.ContactValue,
	ROW_NUMBER() over (partition by cmc_id,
	PersonalContactNo order by ContactInfo) as ContactInfoNo

	into #scorespersonalcontactsContactsInfo

	from [ETL_Local_PROD].[dbo].[AT_PatientPersonalContacts] p
	join ETL_PROD.dbo.CMC_SupportContact_ContactInfo sci on p.SupportContact = sci.SupportContact
	join ETL_PROD.dbo.CMC_ContactInfo i on sci.ContactInfo = i.ItemID
	left join etl_PROD.dbo.Coded_ContactType ct on i.ContactType = ct.Code






 if OBJECT_ID ('Tempdb..#scorespersonalcontacts') is not null
	drop table #scorespersonalcontacts
	select 
	patientsummary,
	personalcontactno,
	Name
	into #scorespersonalcontacts

from [ETL_Local_PROD].[dbo].[AT_PatientPersonalContacts]
where Name is not null and rtrim(Name) <> ''
--and nameexcludeflag is null
 


--select * from [ETL_Local_PROD].[dbo].[AT_PatientPersonalContacts]
--select * from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts] 

 
 if OBJECT_ID ('Tempdb..#ProfessionalNamedContactCount') is not null
	drop table #ProfessionalNamedContactCount
	  select
	Distinct
	CMC_ID,
	patientsummary,
	ltrim(rtrim(c.FamilyName)) as FamilyName,
	ltrim(rtrim(c.GivenName)) as GivenName,
	RoleDescription

	into #ProfessionalNamedContactCount

	from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts] c
	where (c.FamilyName is not null and rtrim(c.FamilyName) <> '')
	or (c.GivenName is not null and rtrim(c.GivenName) <> '')
	and  RoleDescription <> 'Patient''s Registered GP'

	 if OBJECT_ID ('Tempdb..#PhoneContacts') is not null
	drop table #PhoneContacts
		SELECT 
		distinct 
		a.CMC_ID,
		b.PatientSummary,
		ContactTypeDescription,
		ContactValue,
		case
			when charindex('work phone',ContactTypeDescription )>0 then 'Work Phone'
				Else 'Mobile Phone'
		End as [Contact Type]

		into #PhoneContacts

	  FROM [ETL_Local_PROD].[dbo].[AT_PatientHSC_ContactInfo]a with (nolock)
	  inner join [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts] b on b.Provider = a.Provider
	  where 
	  (
	  charindex('work phone',ContactTypeDescription )>0
	  OR
	  charindex('mobile',ContactTypeDescription )>0
	  )
	and a.RoleDescription <> 'Patient''s Registered GP'
 
  

  if OBJECT_ID ('Tempdb..#ProfCOntact') is not null
	drop table #ProfCOntact
	select
	distinct
	CMC_ID,
	PatientSummary ,
	null as ProfessionalNamedContactCount,
	null as professionalWorkPhoneContacts,
	Null as ProfessionalMobilePhoneContacts,
	null as ProfessionalNamedContactCountScore,
	null as professionalWorkPhoneContactsScore,
	null as ProfessionalMobilePhoneContactsScore,
	null as OverAllScore



	into #ProfCOntact
	FROM [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts]




	update r
		set	r.ProfessionalNamedContactCount = s.Total,
			r.professionalWorkPhoneContacts = t.Total,
			r.ProfessionalMobilePhoneContacts = u.Total
	from #ProfCOntact r

	left join
	(
select
Distinct
	PatientSummary,
	COUNT(*) as Total
	from #ProfessionalNamedContactCount c
	group by PatientSummary
	)s on s.PatientSummary = r.PatientSummary

left join
	(
	SELECT   
	PatientSummary,
	Count(*) as Total
	FROM #PhoneContacts
	where [Contact Type] = 'Work Phone'
	  group by PatientSummary
	  )t on t.PatientSummary = r.PatientSummary
left join
	(
	SELECT   
	PatientSummary,
	Count(*) as Total
	FROM #PhoneContacts
	where [Contact Type] = 'Mobile Phone'
	  group by PatientSummary
	  )u on u.PatientSummary = r.PatientSummary


   

   Update x
			set x.ProfessionalMobilePhoneContactsScore = case when x.ProfessionalMobilePhoneContacts > 0 then 1 else 0 end,
				x.professionalWorkPhoneContactsScore = case when x.professionalWorkPhoneContacts > 0 then 1 else 0 end,
				x.ProfessionalNamedContactCountScore = case when x.ProfessionalNamedContactCount> 0 then 1 else 0 end


   from #ProfCOntact x

 
 update y
			set y.OverAllScore = z.Total

 from #ProfCOntact y
 left join
			(
			select
			PatientSummary,
			sum(ProfessionalMobilePhoneContactsScore + professionalWorkPhoneContactsScore + ProfessionalNamedContactCountScore) as Total
			from #ProfCOntact
			group by 
			PatientSummary

			) as z on z.PatientSummary = y.PatientSummary


			  if OBJECT_ID ('Tempdb..#Symptoms') is not null
			drop table #Symptoms
			SELECT

			no.PatientNumber as CMC_ID,
			ps.ItemId as PatientSummary,
			pscp.CarePlan,
			sp.Symptom,
			sp.NoteText,
			ROW_NUMBER() over (partition by pscp.CarePlan order by sp.Symptom) as SymptomNo,
			sc.Description as SymptomDescription

			into #Symptoms

			from ETL_PROD.dbo.CMC_PatientSummary ps with (nolock)
			join ETL_PROD.dbo.CMC_Patient p with (nolock) on ps.Patient = p.ItemId
			join ETL_PROD.dbo.CMC_Patient_PatientNumbers po with (nolock) on po.Patient = ps.ItemID
			join ETL_PROD.dbo.CMC_PatientNumber no with (nolock) on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
			join ETL_PROD.dbo.CMC_PatientSummary_CarePlan pscp with (nolock) on pscp.PatientSummary = ps.ItemId
			join ETL_PROD.dbo.CMC_CarePlan_SymptomPlans cps with (nolock) on pscp.CarePlan = cps.CarePlan
			join ETL_PROD.dbo.CMC_SymptomPlan sp with (nolock) on cps.SymptomPlan = sp.ItemId
			left join ETL_PROD.dbo.Coded_Symptom sc with (nolock) on sp.Symptom = sc.code
			where sp.NoteText is not null




			--select * from [ETL_PROD].[dbo].[CMC_CPR] --CPR Decision
			--select * from [ETL_Local_PROD].[dbo].[AT_Symptoms] -- Syptoms
			--select * from ETL_PROD.dbo.CMC_PatientSummary 
		--select * FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]where cmc_id =	100057036

	 --select  *  from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts] where cmc_id = 100004124 
	 ----select  *  FROM #PhoneContacts where cmc_id = 100031428 
	 --select  * from  #ProfCOntact where cmc_id = 100012660 
	 --select  * from  #ProfessionalNamedContactCount where cmc_id = 100004124 
	 --	SELECT *   FROM [ETL_Local_PROD].[dbo].[AT_PatientHSC_ContactInfo]   where cmc_id = 100012660 
	  --where charindex('mobile',ContactTypeDescription )>0

	    if OBJECT_ID ('Tempdb..#Symptoms2') is not null
			drop table #Symptoms2
	 select 
	 careplan, 
	 count(*) as numsymptoms 
	 into #Symptoms2 
	 from #Symptoms
	where notetext is not null
	and rtrim(notetext) <> 'N/A'
	and rtrim(notetext) <> 'NA'
	and rtrim(notetext) <> '..'
	and rtrim(notetext) <> ''
	and LEN(rtrim(notetext)) > 1
	group by careplan


	--select * from #Symptoms
	--select * from #Symptoms2
   	--select * FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]
 
		if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_DQ11]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_DQ11]
  
		select
		[CMC_ID]
		,prognosis as [Patient Prognosis]
		,GP_Practice
		,[OriginalApproverParentORg]
		,[OriginalApproverTeam]
 
		, OriginalApproverWorkbaseEId as DEptEnterpriseID
		,d.ccg
		,e.STP
		,[PatientSummary]
		,DateOfDeath
		, Date_Original_Approval
		,ppcscore as PPC
		,ppd1score as PPD
		,prognosisscore as PROGNOSIS
		,percare_planscore_WISHES as [PATIENT WISHES]
		,family_awarscore as [FAMILY AWARENESS]
		,culturalscore as [CULTURAL / RELIGIOUS]
		,CPRScore as [CPR DECISION]
		,ceiltreatscor as [CEILING OF TREATMENT]
		,SymptomsScore as [SYMPTOMS TREATMENT PLANS]
		,numcontactsscore as [PERSONAL CONTACTS]
		,ProfessionalContactsScore as [CONTACT - PREFESSIONAL]
 
		,Sum(
		SymptomsScore + ProfessionalContactsScore + numcontactsscore + prognosisscore + 
		ceiltreatscor + CPRScore + culturalscore + family_awarscore + percare_planscore_WISHES +
		ppcscore + ppd1score
		) as OverAllScore
		,11 as MaxScore


		into [ETL_Local_PROD].[dbo].[AT_DQ11]

		from(

		SELECT   a.[CMC_ID]
		,a.ALT_PROGNOSIS as [prognosis]
		,coalesce(a.DoD,a.DoD_PDS) as DateOfDeath
		,REPLACE(a.ccg, ' CCG', '') as ccg
		,GP_Practice
		,cc.Parent as [OriginalApproverParentORg]
		,cc.team as [OriginalApproverTeam]
		,a.OriginalApproverWorkbase
		,a.OriginalApproverWorkbaseEId
		,a.[PatientSummary]
		
		----,[Care_Plan]
		,a.Date_Original_Approval
		,case
		when b.numsymptoms is null then 0
		when b.numsymptoms  = 0 then 0
		when b.numsymptoms  = 1 then 1
		when b.numsymptoms  between 2 and 4 then 1
		else 1 end as SymptomsScore
		,case when e.OverAllScore >0 then 1 else 0 end as PRofessionalContactsScore
		,case
		when  c.numcontacts  is null then 0
		when c.numcontacts  = 0 then 0
		when d.numcontactinfo is null then 0
		when d.numcontactinfo  = 0 then 0
		else 1 end as numcontactsscore
     
		----,[ALT_PROGNOSIS]
 
		,case
		when alt_prognosis is null then 0
		else 1 end as prognosisscore
   
		----,[CEILTREAT]
		,case
		when ceiltreat is null then 0
		when CEILTREAT like '%Not recorded' OR ceiltreat like '%Other' then 
		case
		when CT_DET is null then 0
		when rtrim(CT_DET) = 'N/A' then 0
		when rtrim(CT_DET) = 'NA' then 0
		when rtrim(CT_DET) = '..' then 0
		when rtrim(CT_DET) = '' then 0
		when LEN(rtrim(CT_DET)) = 1 then 0
		else 1 end
		else 1 
		end as ceiltreatscor
     
		--,[CARDIO_YN]
		,case
		when cardio_yn is null then 0
		when cardio_yn='NY' then 0
		else 1 end as CPRScore
      


		--,[CULTURAL]
		,case
		when CULTURAL is null then 0
		when rtrim(CULTURAL) = 'N/A' then 0
		when rtrim(CULTURAL) = 'NA' then 0
		when rtrim(CULTURAL) = '..' then 0
		when rtrim(CULTURAL) = '' then 0
		when LEN(rtrim(CULTURAL)) = 1 then 0
		else 1 end as culturalscore
		--,[FAMILY_AWAR]
		,case
		when FAMILY_AWAR is null then 0
		when rtrim(FAMILY_AWAR) = 'N/A' then 0
		when rtrim(FAMILY_AWAR) = 'NA' then 0
		when rtrim(FAMILY_AWAR) = '..' then 0
		when rtrim(FAMILY_AWAR) = '' then 0
		when LEN(rtrim(FAMILY_AWAR)) = 1 then 0
		else 1 end as family_awarscore
 

		--select distinct ltrim(rtrim(percare_plan)) FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]
		--,[PERCARE_PLAN]
		,case
		when percare_plan is null then 0
		when rtrim(percare_plan) = 'N/A' then 0
		when rtrim(percare_plan) = 'NA' then 0
		when rtrim(percare_plan) = '..' then 0
		when rtrim(percare_plan) = '' then 0
		when LEN(rtrim(percare_plan)) = 1 then 0
		else 1 end as percare_planscore_WISHES
		--,[PPC]
		,case
		when ppc is null then 0
		when ppc in ('NOTYETDISC','NOT YET DISCUSSED WITH PATIENT') then 0
		else 1 end as ppcscore
 
		--,[PPD1]
		,case
		when ppd1 is null then 0
		when ppd1 in ('NOTYETDISC','NOT YET DISCUSSED WITH PATIENT') then 0
		else 1 end as ppd1score
		--,[PPCDiscuss]
		--,[PlaceDeath1Det]
		--,[PPD2]
		--,[PlaceDeath2Det]
		FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]a
		left join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]cc on cc.EnterpriseID = a.OriginalApproverWorkbaseEId
		left join #Symptoms2 b on b.CarePlan = a.Care_Plan
		left join  (	select 
		patientsummary,
		COUNT(*) as numcontacts
		from #scorespersonalcontacts  
		group by PatientSummary
		)as c on c.PatientSummary = a.PatientSummary --personalcontactcounts
		left join  
		(
		select 
		patientsummary,
		COUNT(*) as numcontactinfo
		from #scorespersonalcontactsContactsInfo i
		join #scorespersonalcontacts c on i.PersonalContactNo = c.PersonalContactNo 
		and ContactValue is not null 
		and rtrim(ContactValue) <> ''
		group by PatientSummary
		) d on d.patientsummary = a.PatientSummary   --personalcontactinfocounts
		left join #ProfCOntact e on e.PatientSummary = a.PatientSummary
		inner join
		(
		SELECT distinct a.[CMC_ID]
      
		FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]a

		inner join [ETL_Local_PROD].[dbo].[AT_CarePlanData] b on b.CMC_ID = a.CMC_ID
										and b.DerivedActionType = 'create'


		)f on f.CMC_ID = a.CMC_ID

		)d
		left join [ETL_Local_PROD].[Reference].[STP]e on e.CCGLONG_TRUNC = d.ccg
		group by

		[CMC_ID]
		,GP_Practice
		,[OriginalApproverParentORg]
		,[OriginalApproverTeam]
		--,OriginalApproverWorkbase
		, OriginalApproverWorkbaseEId
		,d.ccg
		,e.stp
		, d.prognosis
		,[PatientSummary]
		,DateOfDeath
		, Date_Original_Approval
		,SymptomsScore
		,ProfessionalContactsScore
		,numcontactsscore
		,prognosisscore
		,ceiltreatscor
		,CPRScore
		,culturalscore
		,family_awarscore
		,percare_planscore_WISHES
		,ppcscore
		,ppd1score
		order by Date_Original_Approval desc

 --select top 5000 * from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
 --select * from  [ETL_Local_PROD].[dbo].[AT_DQ11]
 



 	    if OBJECT_ID ('Tempdb..#PrePivot') is not null
			drop table #PrePivot
 select 
	  STP 
	  ,CCG 
	  --,sum([PPC]) as [PPC]
	  --,count(*) As TOtal
	  ,sum([PPC])/cast(Count(*) as float) as [1] --as [PPC Percentage]
      --,sum([PPD]) as [PPD]
	  ,sum([PPD])/cast(Count(*) as float) as [2]--as [PPD PErcentage]
      --,sum([PROGNOSIS]) as [PROGNOSIS]
	  ,sum([PROGNOSIS])/cast(Count(*) as float) as [3] -- as [PROGNOSIS PErcentage]
      --,sum([PATIENT WISHES]) as [PATIENT WISHES]
	  ,sum([PATIENT WISHES])/cast(Count(*) as float) as [4] --as [PATIENT WISHES PErcentage]
      --,sum([FAMILY AWARENESS]) as [FAMILY AWARENESS]
	  ,sum([FAMILY AWARENESS])/cast(Count(*) as float) as [5]-- as [FAMILY AWARENESS PErcentage]
      --,sum([CULTURAL / RELIGIOUS]) as [CULTURAL / RELIGIOUS]
	  ,sum([CULTURAL / RELIGIOUS])/cast(Count(*) as float) as [6]-- as [CULTURAL / RELIGIOUS PErcentage]
      --,sum([CPR DECISION]) as [CPR DECISION]
	  ,sum([CPR DECISION])/cast(Count(*) as float)as [7]-- as [CPR DECISION PErcentage]
      --,sum([CEILING OF TREATMENT]) as [CEILING OF TREATMENT]
	  ,sum([CEILING OF TREATMENT])/cast(Count(*) as float)as [8]-- as [CEILING OF TREATMENT PErcentage]
      --,sum([SYMPTOMS TREATMENT PLANS]) as [SYMPTOMS TREATMENT PLANS]
	  ,sum([SYMPTOMS TREATMENT PLANS])/cast(Count(*) as float)as [9]-- as [SYMPTOMS TREATMENT PLANS PErcentage]
      --,sum([PERSONAL CONTACTS]) as [PERSONAL CONTACTS]
	  ,sum([PERSONAL CONTACTS])/cast(Count(*) as float)as [10]-- as [PERSONAL CONTACTS PErcentage]
      --,sum([CONTACT - PREFESSIONAL]) as [CONTACT - PREFESSIONAL]
	  ,sum([CONTACT - PREFESSIONAL])/cast(Count(*) as float)as [11]-- as [CONTACT - PREFESSIONAL PErcentage]
      --,sum([OverAllScore]) as [OverAllScore]
	  --,sum([OverAllScore])/cast(Count(*) as float) as [OverAllScore PErcentage]
      --,sum([MaxScore]) as [MaxScore]
 
	into #PrePivot
 
 from  [ETL_Local_PROD].[dbo].[AT_DQ11]
 where STP is not null
 group by

  STP 
	  ,CCG 
 
  		if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_DQ11_Pivot]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_DQ11_Pivot]


     if OBJECT_ID ('Tempdb..#Pivot') is not null
			drop table #Pivot
	  select 
	  U.STP,
	  u.CCG,
	  u.Measure, 
	  u.Score,
	  1 as MaxScore

	  into #Pivot

from #PrePivot s
unpivot
(
  Score
  for Measure in (
					[1],[2],[3],[4],
					[5],[6],[7],
					[8],[9],
					[10],[11]
					)
) u
 
;

 
 select 
a.* ,
b.AverageScore,
b.TotalCarePlansPublished

into  [ETL_Local_PROD].[dbo].[AT_DQ11_Pivot]
 
 
 from #Pivot a
inner join
(
select

CCG,
Count(*) as TotalCarePlansPublished,
convert(decimal(18,2),avg(convert(float,OVerallScore)))as AverageScore

from  [ETL_Local_PROD].[dbo].[AT_DQ11]
group by CCG
) b on b.ccg = a.ccg



--select * from  [ETL_Local_PROD].[dbo].[AT_DQ11]
  if OBJECT_ID ('Tempdb..#PrePivot2') is not null
			drop table #PrePivot2
 select 
	
 
	  OriginalApproverParentORg
	  --,sum([PPC]) as [PPC]
	  --,count(*) As TOtal
	  ,sum([PPC])/cast(Count(*) as float) as [1] --as [PPC Percentage]
      --,sum([PPD]) as [PPD]
	  ,sum([PPD])/cast(Count(*) as float) as [2]--as [PPD PErcentage]
      --,sum([PROGNOSIS]) as [PROGNOSIS]
	  ,sum([PROGNOSIS])/cast(Count(*) as float) as [3] -- as [PROGNOSIS PErcentage]
      --,sum([PATIENT WISHES]) as [PATIENT WISHES]
	  ,sum([PATIENT WISHES])/cast(Count(*) as float) as [4] --as [PATIENT WISHES PErcentage]
      --,sum([FAMILY AWARENESS]) as [FAMILY AWARENESS]
	  ,sum([FAMILY AWARENESS])/cast(Count(*) as float) as [5]-- as [FAMILY AWARENESS PErcentage]
      --,sum([CULTURAL / RELIGIOUS]) as [CULTURAL / RELIGIOUS]
	  ,sum([CULTURAL / RELIGIOUS])/cast(Count(*) as float) as [6]-- as [CULTURAL / RELIGIOUS PErcentage]
      --,sum([CPR DECISION]) as [CPR DECISION]
	  ,sum([CPR DECISION])/cast(Count(*) as float)as [7]-- as [CPR DECISION PErcentage]
      --,sum([CEILING OF TREATMENT]) as [CEILING OF TREATMENT]
	  ,sum([CEILING OF TREATMENT])/cast(Count(*) as float)as [8]-- as [CEILING OF TREATMENT PErcentage]
      --,sum([SYMPTOMS TREATMENT PLANS]) as [SYMPTOMS TREATMENT PLANS]
	  ,sum([SYMPTOMS TREATMENT PLANS])/cast(Count(*) as float)as [9]-- as [SYMPTOMS TREATMENT PLANS PErcentage]
      --,sum([PERSONAL CONTACTS]) as [PERSONAL CONTACTS]
	  ,sum([PERSONAL CONTACTS])/cast(Count(*) as float)as [10]-- as [PERSONAL CONTACTS PErcentage]
      --,sum([CONTACT - PREFESSIONAL]) as [CONTACT - PREFESSIONAL]
	  ,sum([CONTACT - PREFESSIONAL])/cast(Count(*) as float)as [11]-- as [CONTACT - PREFESSIONAL PErcentage]
      --,sum([OverAllScore]) as [OverAllScore]
	  --,sum([OverAllScore])/cast(Count(*) as float) as [OverAllScore PErcentage]
      --,sum([MaxScore]) as [MaxScore]
 
	into #PrePivot2
 
 from  [ETL_Local_PROD].[dbo].[AT_DQ11]
 --where STP is not null
 group by

  OriginalApproverParentORg
 
  		if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_DQ11_Pivot_ORg]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_DQ11_Pivot_ORg]


     if OBJECT_ID ('Tempdb..#Pivot2') is not null
			drop table #Pivot2
	  select 
 
	  OriginalApproverParentORg,
	  u.Measure, 
	  u.Score,
	  1 as MaxScore

	  into #Pivot2

from #PrePivot2 s
unpivot
(
  Score
  for Measure in (
					[1],[2],[3],[4],
					[5],[6],[7],
					[8],[9],
					[10],[11]
					)
) u
 
;

 
 select 
a.* ,
b.AverageScore,
b.TotalCarePlansPublished

into  [ETL_Local_PROD].[dbo].[AT_DQ11_Pivot_Org]
 
 
 from #Pivot2 a
inner join
(
select

 
OriginalApproverParentORg,
Count(*) as TotalCarePlansPublished,
convert(decimal(18,2),avg(convert(float,OVerallScore)))as AverageScore

from  [ETL_Local_PROD].[dbo].[AT_DQ11]
group by OriginalApproverParentORg,CCG
) b on b.OriginalApproverParentORg = a.OriginalApproverParentORg




--select * from [ETL_Local_PROD].[dbo].[AT_DQ11_Pivot_ORg]

End