USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_AuditApprovals-AllPublishedVersions_SP]    Script Date: 22/02/2021 11:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT_AuditApprovals-AllPublishedVersions_SP] 
-- Amended for PD Upgrade
AS
BEGIN
 

IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AuditApprovals-AllPublishedVersions]') IS NOT NULL 
dROP TABLE [ETL_Local_PROD].[dbo].[AuditApprovals-AllPublishedVersions]

select
distinct
p.cmc_id,
p.VersionNumber,
p.Patient,
ao.deptpdregistryid,
ao.StaffRegistryId,
 

null as ApproverEID,
cast(null as varchar(max)) as Approver,
cast(null as varchar(max)) as ApproverEmail,
cast(null as varchar(max)) as ApproverJobTitle,
cast(null as varchar(max)) as ApproverODS,


null as ApproverWorkbaseEid,
cast(null as varchar(max)) as ApproverWorkbase,
cast(null as varchar(max)) as ApproverProfGroup,
cast(null as varchar(255)) as ApproverWorkbaseODS,
cast(null as varchar(max)) as ApproverWorkbaseEmail
into [ETL_Local_PROD].[dbo].[AuditApprovals-AllPublishedVersions]

from [ETL_Local_PROD].[dbo].[AT_Patient_General_All_Care_Plan_Versions] p
left join [AuditPatient_CarePlan_New] ao on ApprovedBy = ao.FromCarePlan
and ao.ActionType = 'publish'

 --select top 50 * from [AuditPatient_CarePlan_New]
 --select * from #APV
 







 IF OBJECT_ID('tempdb..#WorkbaseDQInfo') IS NOT NULL 
dROP TABLE #WorkbaseDQInfo
select
distinct
DeptLocalCMCId,
DeptEnterpriseID,
DeptName,
LocalCMCOrgTypeDescription,
DeptODSCode,
WorkbaseEmail,
a.deptpdregistryid

into #WorkbaseDQInfo
from  AT_WorkbaseDQInfo a 
inner join [ETL_Local_PROD].[dbo].[AuditApprovals-AllPublishedVersions] b on  b.deptpdregistryid = a.deptpdregistryid


--select * from [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo]
 
 


 update ao

		set ApproverEID = so.StaffEnterpriseID, 
			ao.Approver = ISNULL(so.StaffTitleDescription,'')+' '+isnull(so.StaffForename,'')+' '+isnull(StaffSurname,''),--so.Approver,
			ApproverEmail = so.AssessorEmail,
			ApproverJobTitle = so.StaffProviderTypeDescription,
			ApproverODS = so.StaffODSCode
			--,
			--ApproverWorkbaseEid = do.DeptEnterpriseID,
			--ApproverWorkbase = do.DeptName,
			--ApproverProfGroup = do.LocalCMCOrgTypeDescription,
			--ApproverWorkbaseODS = do.DeptODSCode,
			--ApproverWorkbaseEmail = do.WorkbaseEmail
  

 from [ETL_Local_PROD].[dbo].[AuditApprovals-AllPublishedVersions] ao
left join [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo] so on ao.StaffRegistryId = so.StaffRegistryId and ao.deptpdregistryid = so.deptpdregistryid
--left join #WorkbaseDQInfo do on ao.DeptPDRegistryId = do.DeptPDRegistryID

 update ao

		set ApproverWorkbaseEid = do.DeptEnterpriseID,
			ApproverWorkbase = do.DeptName,
			ApproverProfGroup = do.LocalCMCOrgTypeDescription,
			ApproverWorkbaseODS = do.DeptODSCode,
			ApproverWorkbaseEmail = do.WorkbaseEmail
  

 from [ETL_Local_PROD].[dbo].[AuditApprovals-AllPublishedVersions] ao
left join #WorkbaseDQInfo do on ao.DeptPDRegistryId = do.DeptPDRegistryID




 END