USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MASTERBUILD_Team_Audit_Build]    Script Date: 23/02/2021 10:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[AT_MASTERBUILD_Team_Audit_Build] 

AS
BEGIN



  





      if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_EpisodeTeams]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_EpisodeTeams]
  --[dbo].[EpisodeTeams]
--as
 
select 
p.cmc_id,
replace(eb.actiontype,'revise','update') as ActivityType,
eb.DeptEnterpriseId as ActivityDeptId,
-- MS 21.2.16 add episode date so we can correct Update handling on Demo Stats report
ActionTime as EpisodeDate
-- MS 3.2.16 change from createdby to enteredby for consistency with PatientDetail logic
-- MS 20.2.16 use accurate source for EnteredBy information

into [ETL_Local_PROD].[dbo].[AT_EpisodeTeams]

from [ETL_Local_PROD].[dbo].[AT_AccuratelyEnteredBy] eb
join [ETL_Local_PROD].[dbo].[AT_Patient_General] p on eb.cmc_id = p.cmc_id 



--select * from [ETL_Local_PROD].[dbo].[AT_DisambiguatedOriginatingTeams]


      if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_DisambiguatedOriginatingTeams]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_DisambiguatedOriginatingTeams]
--[Reporting].[DisambiguatedOriginatingTeams] as
select 
distinct 
name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
activitydeptid as original_workbase_id,
activitydeptid
into [ETL_Local_PROD].[dbo].[AT_DisambiguatedOriginatingTeams]
from [ETL_Local_PROD].[dbo].[AT_EpisodeTeams] e 
join AT_Dept_Heirarchy h on e.activitydeptid = h.eid7



	IF OBJECT_ID('tempdb..#TempCMCCG') IS NOT NULL 
	dROP TABLE #TempCMCCG
select 
cmc_id,
ccg 
into #TempCMCCG
from 
[ETL_Local_PROD].[dbo].[AT_Patient_General]

 



 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TeamAudit]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_TeamAudit]
select
*
into
[ETL_Local_PROD].[dbo].[AT_TeamAudit]
from
(
select
pa.PatAuditID,
'Yes' as OnNewSystem,
year(ActivityDate) as [Year],
datename(month,ActivityDate) as [Activity Month Name],
[User Name],
UserType,
CMCRoleDescription,
[ActivityDate],
ROW_NUMBER() over (partition by pa.cmc_id  order by [ActivityDate]) as ActivityOrder,
pa.cmc_id, 
surname, 
left(gender,1) as Gender, 
dob, 
OriginalWorkbaseEId, 
isnull(CCG,'(Care plan not currently published)') as CCG,
case [Access Type] when 'custom-consent_removed' then 'delete' else REPLACE([Access Type],'custom-','') end as [Access Type],
MONTH(ActivityDate) as [Month],
--case
--  when TeamType = 'Acute Trust' and CMCRoleDescription = 'isUrgentCare' then 'A&E'
--  when rtrim(TeamType) = 'CCG' then 'Community Trust'
--  else TeamType end as TeamType,
case when charindex('CCG', ActivityTeam)>0 then 'Community Trust' else c.TeamType end as TeamType,
ActivityEnterpriseId,
name as ActivityTeam,
StaffEnterpriseId
from [ETL_Local_PROD].[dbo].[AT_AccessDataDetail] pa with (nolock)
left join [ETL_Local_PROD].[dbo].[AT_Patient_General] demo on demo.CMC_ID = pa.cmc_id
left join  [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]c on c.ActivityTeam = name
-- Exclude view and revise activities by originating team on day of origination
--edit by Andrew Turner - these criteria below are very poorly coded - It means any one of these conditions can NOT be true for the record to be valid... Hmmm...
where CAST(activitydate as DATE) <> cast(Add_Date as date) 
or OriginalWorkbaseEId <> ActivityEnterpriseId 
or REPLACE([Access Type],'custom-','') not in ('view','revise')
 
) sel1






		if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_DisambiguatedActivityTeams]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_DisambiguatedActivityTeams]

--LTER view [Reporting].[Cache-DisambiguatedActivityTeams] as
select distinct * into [ETL_Local_PROD].[dbo].[AT_DisambiguatedActivityTeams] 
from

(select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
activityenterpriseid as ActivityDepartmentID
 from [ETL_Local_PROD].[dbo].[AT_TeamAudit] a 
 join AT_Dept_Heirarchy h on activityenterpriseid = h.eid7

union all

select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
eid7 as ActivityDepartmentID
 from AT_Dept_Heirarchy h where typedesc7 in ('Out Of Hour GP Provider','111 Provider','Ambulance Trust')
-- add login teams if not already present MS 12.4.16

union all

select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
eid7 as ActivityDepartmentID
 from [ETL_Local_PROD].[dbo].[AT_AuditAuthentication] a 
 join [AT_PD_Dept] d on d.DeptPDRegistryID = a.OrganizationRegistryID
 join AT_Dept_Heirarchy h on h.eid7 = d.DeptEnterpriseID
-- add availability service callers if not already present MS 12.4.16

union all

select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
eid7 as ActivityDepartmentID
 from (select distinct ODSCode from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]) ss   ---ooooooooooooooooooooooooooooooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOooooooooooooooooooooooooooooooooooooooOOOOOOOOOOOOOOOOooooooooooooo
 join [AT_PD_Dept] d on d.DeptODSCode = ss.ODSCode
 join AT_Dept_Heirarchy h on h.eid7 = d.DeptEnterpriseID
-- add generic availability service callers if not already present MS 9.5.17

union all

select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
eid7 as ActivityDepartmentID
 from (select distinct ODS from ServiceSearchGeneric) ss  ---ooooooooooooooooooooooooooooooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOooooooooooooooooooooooooooooooooooooooOOOOOOOOOOOOOOOOooooooooooooo
 join [AT_PD_Dept] d on d.DeptODSCode = ss.ODS
 join AT_Dept_Heirarchy h on h.eid7 = d.DeptEnterpriseID) sel1


  
		End