USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MASTERBUILD_Team_Audit_Build]    Script Date: 24/09/2021 09:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[AT_MASTERBUILD_Team_Audit_Build] 

AS
BEGIN



  





      if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_EpisodeTeams]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_EpisodeTeams]
  --[dbo].[EpisodeTeams]
--as
 
select 
p.cmc_id,
replace(eb.actiontype,'revise','update') as ActivityType,
eb.DeptEnterpriseId as ActivityDeptId,
-- MS 21.2.16 add episode date so we can correct Update handling on Demo Stats report
ActionTime as EpisodeDate
-- MS 3.2.16 change from createdby to enteredby for consistency with PatientDetail logic
-- MS 20.2.16 use accurate source for EnteredBy information

into [ETL_Local_PROD].[dbo].[AT_EpisodeTeams]

from [ETL_Local_PROD].[dbo].[AT_AccuratelyEnteredBy] eb
join [ETL_Local_PROD].[dbo].[AT_Patient_General] p on eb.cmc_id = p.cmc_id 



--select * from [ETL_Local_PROD].[dbo].[AT_DisambiguatedOriginatingTeams]


      if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_DisambiguatedOriginatingTeams]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_DisambiguatedOriginatingTeams]
--[Reporting].[DisambiguatedOriginatingTeams] as
select 
distinct 
name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
activitydeptid as original_workbase_id,
activitydeptid
into [ETL_Local_PROD].[dbo].[AT_DisambiguatedOriginatingTeams]
from [ETL_Local_PROD].[dbo].[AT_EpisodeTeams] e 
join AT_Dept_Heirarchy h on e.activitydeptid = h.eid7



	IF OBJECT_ID('tempdb..#TempCMCCG') IS NOT NULL 
	dROP TABLE #TempCMCCG
select 
cmc_id,
ccg 
into #TempCMCCG
from 
[ETL_Local_PROD].[dbo].[AT_Patient_General]

 



 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TeamAudit]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_TeamAudit]
select
*
into
[ETL_Local_PROD].[dbo].[AT_TeamAudit]
from
(
select
pa.PatAuditID,
'Yes' as OnNewSystem,
year(ActivityDate) as [Year],
datename(month,ActivityDate) as [Activity Month Name],
[User Name],
UserType,
CMCRoleDescription,
[ActivityDate],
ROW_NUMBER() over (partition by pa.cmc_id  order by [ActivityDate]) as ActivityOrder,
pa.cmc_id, 
surname, 
left(gender,1) as Gender, 
dob, 
OriginalWorkbaseEId, 
isnull(CCG,'(Care plan not currently published)') as CCG,
case [Access Type] when 'custom-consent_removed' then 'delete' else REPLACE([Access Type],'custom-','') end as [Access Type],
MONTH(ActivityDate) as [Month],
--case
--  when TeamType = 'Acute Trust' and CMCRoleDescription = 'isUrgentCare' then 'A&E'
--  when rtrim(TeamType) = 'CCG' then 'Community Trust'
--  else TeamType end as TeamType,
case when charindex('CCG', ActivityTeam)>0 then 'Community Trust' else c.TeamType end as TeamType,
ActivityEnterpriseId,
name as ActivityTeam,
StaffEnterpriseId
from [ETL_Local_PROD].[dbo].[AT_AccessDataDetail] pa with (nolock)
left join [ETL_Local_PROD].[dbo].[AT_Patient_General] demo on demo.CMC_ID = pa.cmc_id
left join  [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]c on c.ActivityTeam = name
-- Exclude view and revise activities by originating team on day of origination
--edit by Andrew Turner - these criteria below are very poorly coded - It means any one of these conditions can NOT be true for the record to be valid... Hmmm...
where CAST(activitydate as DATE) <> cast(Add_Date as date) 
or OriginalWorkbaseEId <> ActivityEnterpriseId 
or REPLACE([Access Type],'custom-','') not in ('view','revise')
 
) sel1






		if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_DisambiguatedActivityTeams]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_DisambiguatedActivityTeams]

--LTER view [Reporting].[Cache-DisambiguatedActivityTeams] as
select distinct * into [ETL_Local_PROD].[dbo].[AT_DisambiguatedActivityTeams] 
from

(select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
activityenterpriseid as ActivityDepartmentID
 from [ETL_Local_PROD].[dbo].[AT_TeamAudit] a 
 join AT_Dept_Heirarchy h on activityenterpriseid = h.eid7

union all

select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
eid7 as ActivityDepartmentID
 from AT_Dept_Heirarchy h where typedesc7 in ('Out Of Hour GP Provider','111 Provider','Ambulance Trust')
-- add login teams if not already present MS 12.4.16

union all

select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
eid7 as ActivityDepartmentID
 from [ETL_Local_PROD].[dbo].[AT_AuditAuthentication] a 
 join [AT_PD_Dept] d on d.DeptPDRegistryID = a.OrganizationRegistryID
 join AT_Dept_Heirarchy h on h.eid7 = d.DeptEnterpriseID
-- add availability service callers if not already present MS 12.4.16

union all

select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
eid7 as ActivityDepartmentID
 from (select distinct ODSCode from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]) ss   ---ooooooooooooooooooooooooooooooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOooooooooooooooooooooooooooooooooooooooOOOOOOOOOOOOOOOOooooooooooooo
 join [AT_PD_Dept] d on d.DeptODSCode = ss.ODSCode
 join AT_Dept_Heirarchy h on h.eid7 = d.DeptEnterpriseID
-- add generic availability service callers if not already present MS 9.5.17

union all

select 
distinct name7 + isnull('/' + case when name6 = 'COORDINATE MY CARE TEAM' then null else name6 end,'') + ISNULL(', '+ods7,'') as team,
Name7 as TeamName,
Name6 as CCG,
eid7,
eid7 as ActivityDepartmentID
 from (select distinct ODS from ServiceSearchGeneric) ss  ---ooooooooooooooooooooooooooooooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOooooooooooooooooooooooooooooooooooooooOOOOOOOOOOOOOOOOooooooooooooo
 join [AT_PD_Dept] d on d.DeptODSCode = ss.ODS
 join AT_Dept_Heirarchy h on h.eid7 = d.DeptEnterpriseID) sel1


 --run this again to update missing data

 			IF OBJECT_ID('tempdb..#PatGP') IS NOT NULL 
			dROP TABLE #PatGP
			SELECT   
			distinct
			[CMC_ID]
			,[PatientSummary]
			, RANK() OVER  (partition by [CMC_ID]  ORDER BY right([PatientSummary], charindex('||', reverse([PatientSummary])) - 1) ASC)  AS SummaryOrder 
			,null as lastFlag
			,[RegisteredGP]
			--,d.ChildODS as GPODS
			,d.DeptODSCode as GPODS
			--,[CCG]
			,d.CCG CCG
			,[London_CCG_ODS]
			,[CCG_ODS]
			,[CommissioningArea]
			,[SurgeryEId]
			,[GPEId]
			,[Surgery]

			into #PatGP

			FROM [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]a
			--inner join [ETL_Local_PROD].[dbo].[AT_ORGtoORG]d on d.ChildOrganizationEID = a.SurgeryEId
			inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]d on d.EnterpriseID = a.SurgeryEId
			--where CMC_ID = 100055975
			where charindex('test',[Surgery]) = 0
			order by cmc_ID,[PatientSummary]


			update r
			set r.lastFlag = 1
			from #PatGP r
			inner join 
			(
			select 
			CMC_ID,
			Max(summaryOrder) as LastOne
			from #PatGP 
			group by CMC_ID
			)s on s.CMC_ID = r.CMC_ID 
			and s.LastOne = r.SummaryOrder

			--select * from #PatGP order by cmc_ID, [PatientSummary]
			delete from #PatGP where lastFlag is null

			--IFERROR('Unique Records Alive at Month End'/'GP practice registered population',0)

			IF OBJECT_ID('tempdb..#PatGCMC_ID') IS NOT NULL 
			dROP TABLE #PatGCMC_ID
			select 
			a.CMC_ID,
			a.PatientSummary  ,
			a.GPODSCode as ODSCode,
			--d.ChildODS,
			a.GP_Practice,
			--a. ,

			cast(null as varchar(255)) as Ward,
			cast(null as varchar(max)) as CCG,
			a.CCG as OriginalCCG 

			into #PatGCMC_ID

			FROM [ETL_Local_PROD].[dbo].[AT_Patient_General] a


			update r
			set r.ODSCode = c.DeptODSCode,
			r.Ward = c.[Local Authority],
			r.CCG = d.NEW_CCG_Pseudo ,
			r.OriginalCCG = c.CCG

			from #PatGCMC_ID r
			left join [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]b on b.PatientSummary= r.PatientSummary
			inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]c on c.EnterpriseID = b.SurgeryEId
			left join [ETL_Local_PROD].[Reference].[STP]d on d.CCGLONG_TRUNC = c.CCG
 
		--select * from #PatGCMC_ID where cmc_ID = 100128145

			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]

			select 
			*
			into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]
			from #PatGCMC_ID



				update f

				set f.[PatientCCG] = g.OriginalCCG,
				f.[PatientGP_Practice] = g.GP_Practice,
				f.[GPODDS] = g.ODSCode,
				f.[PatientSTP] = y.STP

				from [ETL_Local_PROD].[dbo].[AT_CarePlanData]f
				inner join [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]g on g.CMC_ID = f.CMC_ID
				left join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = g.OriginalCCG
				where f.PatientGP_Practice is null


				update f

				set f.[PatientCCG] = g.OriginalCCG,
					f.[PatientSTP] = y.STP

				from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]f
				inner join [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]g on g.CMC_ID = f.CMC_ID
				left join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = g.OriginalCCG
				where f.[PatientCCG] is null


		update f

				set f.[PatientCCG] = g.OriginalCCG,
					f.[PatientSTP] = y.STP

				from [ETL_Local_PROD].[dbo].[AT_CarePlanViewDataNRL] f
				inner join [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]g on g.CMC_ID = f.CMC_ID
				left join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = g.OriginalCCG
				where f.[PatientCCG] is null


		update f

				set f.[PatientCCG] = g.OriginalCCG,
					f.[PatientSTP] = y.STP

				from [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData] f
				inner join [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_CMC_ID_ODS_CCG]g on g.CMC_ID = f.CMC_ID
				left join [ETL_Local_PROD].[Reference].[STP]Y on Y.CCGLONG_TRUNC = g.OriginalCCG
				where f.[PatientCCG] is null

				


----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/**

Care Plans with a draft that has been created after the most recent published date

**/
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	if OBJECT_ID ('Tempdb..#AT_LastAction') is not null
 	drop table #AT_LastAction
		select
		[CMC_ID]
		,DeptEnterpriseID as EnterpriseID
		,[actionTime]
		,DerivedActionType
		,comment
		,row_number() over (partition by [CMC_ID] order by OverAllOrder)  as ActionOverAllOrder
		,null as LastAction  
		,null as SecondLastAction
		into #AT_LastAction
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		where DerivedActionType in ('revise','publish','discard')
		order by OverAllOrder

		Update r

				set r.LastAction = case when s.LastAction is not null then 1 else 0 end

		from #AT_LastAction r
		left join
				(
				select
				CMC_id,
				max(ActionOverAllOrder) as LastAction
				from #AT_LastAction 
				group by 
				CMC_id
				)s on s.CMC_ID = r.CMC_ID
				and s.LastAction = r.ActionOverAllOrder

		Update r

				set r.SecondLastAction = case when s.ActionOverAllOrder is not null then 1 else 0 end

		from #AT_LastAction r
		left join
				(
				select
				CMC_id ,
				ActionOverAllOrder
				from #AT_LastAction 
				where LastAction = 1
				)s on s.CMC_ID = r.CMC_ID
				and s.ActionOverAllOrder = r.ActionOverAllOrder + 1




		--select * from #AT_LastAction order by CMC_ID,ActionOverAllOrder


		  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]') is not null
				drop table [ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]
				select 
				a.cmc_id,
				a.DerivedActionType,
				a.Comment,
				case when a.comment = 'death recording' then 1 else null end as [Death REcording Flag],
				a.enterpriseid,
				convert(date,a.ActionTime) as ActionDate,
				convert(time,a.ActionTime) as ActionTime,
				b.NHS_Number,
				b.Date_Original_Approval,
				b.Date_Latest_Approval,
				Title +' '+FORENAME+' '+SURNAME as PatientName,
				DoB,
				DoD,
				DoD_PDS,
				PRIMARY_ADDRESS,
				PRIMARY_POSTCODE,
				GP_Practice,
				CCG,
				CommissioningArea

				into [ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]

				from #AT_LastAction a
				inner join [ETL_Local_PROD].[dbo].[AT_Patient_General]b on b.CMC_ID = a.CMC_ID
				where LastAction = 1 and DerivedActionType = 'revise'


		 --select * from [ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft] where comment <> 'death recording'


--select top 50000 * 
--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where cmc_id = 100000013

--order by CMC_ID, OverAllOrder
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/**

Unpublished Careplan Information

**/
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



	if OBJECT_ID ('Tempdb..#AT_Patient_CMCID') is not null
 	drop table #AT_Patient_CMCID 
	select 
	Patient, 
	cast(n.PatientNumber as bigint) as CMC_ID 
	into #AT_Patient_CMCID
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	where AssigningAuthority = 'CMC'

 


	if OBJECT_ID ('Tempdb..#AT_Patient_NHs') is not null
 	drop table #AT_Patient_NHs 
	select 
	pn.Patient, 
	n.PatientNumber as NHS_Number ,
	o.CMC_ID
	into #AT_Patient_NHs
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	left join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	left join #AT_Patient_CMCID o on o.Patient = pn.Patient
	where AssigningAuthority = 'NHS'


 --select *from #AT_Patient_NHs
 
 


	if OBJECT_ID ('Tempdb..#AT_Patient_Numbers') is not null
 	drop table #AT_Patient_Numbers
	select 
	distinct
	--a.Patient, 
	CMC_ID,
	--b.NHS_Number  
	cast(null as nvarchar(20)) as NHS_Number
	into #AT_Patient_Numbers
	from #AT_Patient_CMCID a

	union

	select
	distinct
	CMC_ID,
	cast(null as nvarchar(20)) as NHS_Number
	FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	--left join #AT_Patient_NHs b on b.Patient = a.Patient


	update r
			set r.NHS_Number = b.NHS_Number

	from #AT_Patient_Numbers r
	left join #AT_Patient_NHs b on b.CMC_ID = r.CMC_ID


	--select * from #AT_Patient_Numbers where NHS_Number is null
 
 	if OBJECT_ID ('Tempdb..#AT_Patient_NumbersNotPub') is not null
 	drop table #AT_Patient_NumbersNotPub
 SELECT a.[ItemID]
      ,[Patient]
      ,[AssigningAuthorityName]
      ,[Extension] as NHS_Number
	  ,MRN as CMC_id
      ,[Root]
      ,[Status]
      ,[Type]
      ,[Usage]
	   ,[AssigningAuthority]
      ,[BirthDateTime]
      ,[BirthMonth]
      ,[BirthOrder]
      ,[BirthYear]
      ,[CommunicationPreference]
      ,[CreatedBy]
      ,[CreatedOn]
      ,[CustomClassName]
      ,[CustomXMLString]
      ,[DeathTime]
      ,[Facility]
      ,[FullName]
      ,[LastEnteredBy]
      ,[LastEnteredOn]
      ,[LastEnteredOnC]
      ,[UTCLastEnteredOn]
      ,[UTCLastEnteredOnC]
      ,[LastUpdated]
      ,[MothersMaidenSurname]
      ,[MPIID]
      --,[MRN]
      ,[SSN]
      ,[VIP]
	  into #AT_Patient_NumbersNotPub
  FROM [ETL_PROD].[dbo].[CMC_Registry_Patient_Identifier]a
  inner join [ETL_PROD].[dbo].[CMC_Registry_Patient]b on b.ItemID = a.Patient
  

 --select * from #AT_Patient_NumbersNotPub
--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General]  where cmc_ID =  100011450



	if OBJECT_ID ('Tempdb..#Published') is not null
		drop table #Published

 select cmc_id into #Published from [ETL_Local_PROD].[dbo].[AT_Patient_General] 

    	if OBJECT_ID ('Tempdb..#UnPublished') is not null
		drop table #UnPublished

		SELECT [CMC_ID]
		,max(OverAllOrder) as LAstActionOrder,
		DerivedActionType 

	   into #UnPublished

	   FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	   where cmc_id not in (select * from #Published)
	   group by cmc_id,DerivedActionType




	    if OBJECT_ID ('Tempdb..#UnpublishedPLans') is not null
		drop table #UnpublishedPLans
		select

		a.CMC_ID,
		coalesce(d.NHS_Number,dd.nhs_number) as NHS_Number,
		dd.FullName,
		convert(Date,dd.BirthDateTime) as DOB,
	 
		c.actionTime,
		c.DerivedActionType,
		--c. ,
		row_number() over (partition by a.[CMC_ID] order by LAstActionOrder)  as LastActionOverAllOrder, 
		case  when c.DerivedActionType in ('create','publish') then  row_number() over (partition by a.[CMC_ID],c.DerivedActionType order by LAstActionOrder) else null end  as CreatePublishOrder, 
		case when b.LastActionOVerAll is not null then 1 else null end  as LastActionFlag,
		f.Description as WithdrawnReason, 
		c.DeptEnterpriseID as EnterpriseID,
		
		c.StaffFullName,
		c.StaffUserId,
		c.StaffProviderTypeDescription,
		c.Team,
		c.PostCode,
		c.OrganisationCCG as TeamCCG,
		c.TeamType,
		c.App,
		c.[Parent Org] as TeamParentOrg 

		into #UnpublishedPLans
		from #UnPublished a
		left join
				(
				select
				CMC_ID,
				Max(LAstActionOrder) as LastActionOVerAll
		from #UnPublished 
		group by CMC_ID
		)b on b.CMC_ID = a.CMC_ID and b.LastActionOVerAll = a.LAstActionOrder
		left join [ETL_Local_PROD].[dbo].[AT_CarePlanData]c on c.CMC_ID = a.CMC_ID and c.OverAllOrder = a.LAstActionOrder and c.DerivedActionType = a.DerivedActionType
		left join #AT_Patient_Numbers d on d.CMC_ID = a.CMC_ID
		left join #AT_Patient_NumbersNotPub dd on dd.CMC_id = a.CMC_ID
		left join [ETL_PROD].[dbo].[CMC_ConsentWithdrawn]e on e.CMCID = a.CMC_ID
		left join [ETL_PROD].[dbo].[Coded_DeleteType]f on f.code = e.DeleteType
		left join AT_Staff g on g.StaffRegistryId = c.StaffRegistryId


 
	
	
			if OBJECT_ID ('Tempdb..#DEleted') is not null
				drop table #DEleted
			select
			*
			into #DEleted
			from
			(

			select 
			* 
			from #UnpublishedPLans
			where cmc_ID in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('delete'))
			--and LastActionFlag = 1

			) d where d.LastActionFlag = 1

			order by cmc_id, LastActionOverAllOrder


		if OBJECT_ID ('Tempdb..#NeverPublished') is not null
			drop table #NeverPublished

 
				select
				 *
				 into #NeverPublished
				from
				(
					 select 
					 * 
					 from #UnpublishedPLans
					 where CMC_ID not in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('publish'))
					 --and LastActionFlag = 1
					 and WithdrawnReason is null
					 --and actionTime >= '2019-04-01'
				)d
				where d.CMC_ID not in	(
										(select CMC_id from #DEleted)
										)
						order by cmc_id, LastActionOverAllOrder
		
 		if OBJECT_ID ('Tempdb..#Restricted') is not null
			drop table #Restricted
 
			select   		 
			distinct
					cast(	RIGHT(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1),
							len(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1)
								) -1
							)
						 as bigint)
								as CMC_ID,
1 as IsProtected
	
	into #Restricted
		FROM [ETL_PROD].[dbo].[CMC_Patient]
where IsProtected = 1 



 --select * from #Restricted where CMC_ID = 100011450


  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]

		select
		a.CMC_ID,
		a.NHS_Number,
		a.EnterpriseID,
		a.FullName as [Patient Name],
		a.DOB as [Patient DOB],
		a.team as [Created by Team],
		a.TeamType as [Created by TeamType],
		a.TeamCCG as [Created by TEam CCG],
		a.actionTime  as [Date Care Plan Created],
		d.[Month Name],
		d.[Financial Year],
		a.staffFullName as [Created By],
		a.StaffProviderTypeDescription as [Created Staff-Type],
		case when c.CMC_ID is not null then 1 else null end as 'NEver Published Flag'
 

		into [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]
		
		from #UnpublishedPLans a
		left join #DEleted b on b.CMC_ID = a.CMC_ID
		left join #NeverPublished c on c.CMC_ID = a.CMC_ID and c.LastActionFlag = 1
		left join [ETL_Local_PROD].[dbo].[DIM_Date]d on d.[Calendar Day] = convert(date,a.ActionTime)

		where 
		a.DerivedActionType = 'create'
		and a.WithdrawnReason is null
		and b.CMC_ID is null


	--  Report tables addded May 2020 - we always need more tables in the poxy database!! --------------	
	
 IF OBJECT_ID('tempdb..#FPB1') IS NOT NULL 
		dROP TABLE #FPB1
		select
		 Distinct
		 CMC_ID,
		 Convert(Date,ActionTime) as Date_Original_Publication

		 into #FPB1

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		 where cmc_ID
		 in
		 (
		 select
		 distinct
		 CMC_ID 
		 from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		  where   DerivedActionType = 'create' 
		)
		and ActivityOrderNo = 1 
		and DerivedActionType = 'publish'
 
 
	IF OBJECT_ID('tempdb..#FPB2') IS NOT NULL 
		dROP TABLE #FPB2
 		select
		a.[CMC_ID],
		coalesce(convert(Date,[Date_Original_Approval]),convert(Date,a.[Add_Date])) as Date_Original_Publication
 
      into #FPB2

		FROM [ETL_Local_PROD].[dbo].[PatientDetailHistoric]a
		left join [ETL_Local_PROD].[Protocol].[OldSystemCarePlans]b on b.CMC_ID = a.CMC_ID
		 where a.cmc_ID not in (select cmc_id from #FPB1)
	 




			IF OBJECT_ID('tempdb..#FPB3') IS NOT NULL 
			dROP TABLE #FPB3

		;
		with CTeCombo as 
		(
		select cmc_id from #FPB1 union select cmc_id from #FPB2
		)
		
		  select 
		 Distinct
		 CMC_ID,
		coalesce(convert(Date,[Date_Original_Approval]),convert(Date,a.[Add_Date])) as Date_Original_Publication

		into #FPB3

		 from [ETL_Local_PROD].[dbo].[AT_Patient_General]a 
		 where a.cmc_ID not in (select cmc_id from CTeCombo)
		 and CMC_ID <> 2720

 			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]') is not null
			    drop table [ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]

				select

				*

				into [ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]

				from #FPB1

				union

				select
				*
				from #FPB2
		 

				union

				select
				*
				from #FPB3
		 

 
		update r
			set r.Date_Original_Publication = coalesce(s.original_approval_date,s.add_Date) 


		from [ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]r
		inner join [ETL_Local_PROD].[Protocol].[OldSystemCarePlans]s on s.CMC_ID = r.CMC_ID
	
		
IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Created_And_Published_By_Team]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Created_And_Published_By_Team]


select
'Published' as ReportType,
a.CMC_ID,
a.Date_Original_Publication as   Date_Original_Approval,
team,
TeamType,
d.CCGLONG_TRUNC as CCG,
b.[NHS Region]

into [ETL_Local_PROD].[dbo].[AT_Created_And_Published_By_Team]

FROM [ETL_Local_PROD].[dbo].[AT_First_Published_Dates_Report]a

left join
(
SELECT 
distinct
a.CMC_ID, 
TEam,
coalesce(
		case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'
		--when TeamType = 'PRIMARY CARE' then 'GP'
		when (charindex('mental',TeamType)>0 or charindex('Community',TeamType)>0)  then 'COMMUNITY PROVIDER'
		--when TeamType ='SECONDARY CARE' then 'Acute/Tertiary Services'
		when TeamType is null and charindex('CCG',[Parent Org]) > 0 and  charindex('GP Practices',[Team])> 0 then 'PRIMARY CARE'
		When TeamType = 'UNKNOWN' then 'Not recorded'
			else TeamType
			end,'Not Recorded'
		)  as  TeamType,
a.ccg,
a.CommissioningArea as [NHS Region]
FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]a with (nolock)

left join  (
 select
 *
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData] with (nolock)
 where cmc_ID
 in
 (
 select
 distinct
 CMC_ID 
 from [ETL_Local_PROD].[dbo].[AT_CarePlanData] with (nolock)
  where   DerivedActionType = 'create' 
)
and ActivityOrderNo = 1 
and DerivedActionType = 'publish'
)c on c.CMC_ID = a.CMC_ID
  where   DerivedActionType = 'publish' and ActivityOrderNo = 1 
  )b on b.CMC_ID = a.CMC_ID
left join [ETL_Local_PROD].[Reference].[STP]d on d.CCGLONG_TRUNC = b.ccg
  WHere Date_Original_Publication >= '2018-04-01'
 



 union 

 select
 'Create' as ReportType,
CMC_ID,
actionTime,
team,
coalesce(
		case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'
		--when TeamType = 'PRIMARY CARE' then 'GP'
		when (charindex('mental',TeamType)>0 or charindex('Community',TeamType)>0)  then 'COMMUNITY PROVIDER'
		--when TeamType ='SECONDARY CARE' then 'Acute/Tertiary Services'
		when TeamType is null and charindex('CCG',[Parent Org]) > 0 and  charindex('GP Practices',[Team])> 0 then 'PRIMARY CARE'
		When TeamType = 'UNKNOWN' then 'Not recorded'
			else TeamType
			end,'Not Recorded'
		)  as  TeamType,
OrganisationCCG,
[NHS Region]
  FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData] with (nolock)
  where   DerivedActionType = 'create' 
  and  convert(Date,actionTime) >= '2018-04-01'

 
  
		End