USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MASTERBUILD_Service_Search_Update]    Script Date: 17/09/2021 12:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[AT_MASTERBUILD_Service_Search_Update] 

AS
BEGIN



 

 


			DECLARE @TSQL varchar(8000), @LastRowID  varchar(36), @LastDateStamp datetime
			--set @LastRowID = (select convert(varchar(36),lastrow) from #MaxServiceSearchId)
			set @LastRowID = (select * from [REgistryDataProcess].[dbo].[RegistryData_LastID])
			print @LastRowID
 
			SELECT @TSQL = 
			'
			 insert into [REgistryDataProcess].[dbo].[RegistryData]
			select 
			* 
			
			from OPENQUERY 
			(
			CMCMIRROR, 
			''SELECT 
			ID, 
			EventDateTime, 
			LocalDateTime, 
			UserName, 
			EventCodes, 
			SourceURI, 
			Roles, 
			MRNs, 
			EventType 
			FROM HS_IHE_ATNA_Repository.Aggregation 
			where id >'   + @LastRowID + '
			order by ID desc''
			)

			'
		  EXEC (@TSQL)


		  --delete from [REgistryDataProcess].
		  --where id[dbo].[RegistryData] 
		  --select
		  --id
		  --from
		  --(
		  --select 
		  --ID<
		  --count(*)  as Total
		  --from [REgistryDataProcess].[dbo].[RegistryData] 
		  --group by ID)d
		  --where total >1
		  



	if OBJECT_ID ('[REgistryDataProcess].[dbo].[RegistryData_LastID]') is not null
			drop table [REgistryDataProcess].[dbo].[RegistryData_LastID]
			select 
			distinct
			max(ID) as LastID
			into [REgistryDataProcess].[dbo].[RegistryData_LastID]
			from [REgistryDataProcess].[dbo].[RegistryData] 



			insert into [ETL_Local_PROD].[dbo].[ServiceSearch]

		select 
		CAST(ID as numeric(18,0)) as RowItemID,
		null as OverAllOrder,
		'Registry' + Cast(ID as varchar(36))as ItemId,
		EventDateTime as ActionTime,
		case when MRNS is not null then 1 else 0 end as MRNs,
		UserName as Actor,
		Roles as REGISTRYRoles,
		---- add stripped actor for performance MS 21.5.16
		 ltrim(rtrim(REPLACE(REPLACE(replace(replace(UserName,'AvailabilityGeneralRoyalFree',''),'AvailabilityGeneralMarsden',''),'AvailGen',''),'EMISAvail',''))) as ODS
 
		from [REgistryDataProcess].[dbo].[RegistryData]  a
		
		where EventType = 'SearchPatient'
		and Roles like '%HSCC_Service_Search%'
		and not exists (select RowitemID from  [ETL_Local_PROD].[dbo].[ServiceSearch] where rowitemid = a.id )

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

		--select * from [ETL_Local_PROD].[dbo].[ServiceSearch]
				--select * from [ETL_Local_PROD].[dbo].[ServiceSearchGeneric]

		
			  insert into  [ETL_Local_PROD].[dbo].[ServiceSearchGeneric]

			 select
			 *,
			rtrim(REPLACE(Actor,'AvailGen','')) as ODS2
			 from [ETL_Local_PROD].[dbo].[ServiceSearch] a
			where Actor like 'AvailGen%' or actor like 'AvailabilityGeneral%'
			and not exists (
							select
							ItemID
							--,
							--Actiontime
							from [ETL_Local_PROD].[dbo].[ServiceSearchGeneric]b 
							where b.ItemId = a.ItemId
							--and b.ActionTime = a.ActionTime
						 
							)


 

				-- if OBJECT_ID ('Tempdb..#Teams') is not null
				--drop table #Teams
				--select *,
				--row_number() over (partition by activitydepartmentid order by team) rn 
				--into #teams
				--from [ETL_Local_PROD].[dbo].AT_DisambiguatedActivityTeams




				--if OBJECT_ID ('Tempdb..#ODSCODE') is not null
				--drop table #ODSCODE
				--select deptodscode,
				--deptenterpriseid,
				--ROW_NUMBER() over (PARTITION by deptodscode order by deptodscode) as rn 

				--into #ODSCODE

				--from [ETL_Local_PROD].[dbo].AT_Dept


		 

			insert into [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]

			select 
			RowItemID,
			ItemId as id,
			cast(actiontime as datetime) as EventDateTime,
			cast(actiontime as date) as EventDate,
			case when MRNs='0' then 'N' else 'Y' end as match,
			'EMIS' as Service, 
			EnterpriseID as DeptEnterpriseID, 
			Team,
			ODS

 

			from [ETL_Local_PROD].[dbo].ServiceSearch a
 
			left join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]b on b.DeptODSCode = a.ODS
 
	 

				--select top 5* from [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] 

 

update x

	set x.Team = b.team,
		x.DEptEnterpriseID  = b.EnterpriseID

from [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] x
left join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]b on b.DeptODSCode = x.ODS
 


 

 /**
	  CREATE INDEX RID_EVT
ON [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]  (RowItemID, EventDateTime);
	

	  CREATE INDEX EVT
ON [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]  (EventDate);


**/
 
			

			 	 if OBJECT_ID ('Tempdb..#MaxID2') is not null
					drop table #MaxID2
					select 
					DeptEnterpriseID, 
					ODS,
					rtrim(REPLACE(ODS,'AvailGen','')) as ODS2,
					Max(EventDate) as LastDate 
					into #MaxID2
					FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] 
					group by DeptEnterpriseID,ODS


				 if OBJECT_ID ('Tempdb..#MinID2') is not null
					drop table #MinID2
					select 
					DeptEnterpriseID, 
					ODS,
					rtrim(REPLACE(ODS,'AvailGen','')) as ODS2,
					Min(EventDate) as LastDate 
					into #MinID2
					FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] 
					group by DeptEnterpriseID,ODS



--UPDATE tbl1
--SET Status = 'Finished' 
--WHERE NOT EXISTS (SELECT id FROM tbl1_temp 
--    WHERE tbl1.id = tbl1_temp.id)







				 if OBJECT_ID ('Tempdb..#EmisPractices') is not null
					drop table #EmisPractices

			select  
			distinct
			cast(null as Varchar(max)) as DeptName,
			cast(null as varchar(max))as TEamType,
			a.DeptEnterpriseID,
			cast(null as varchar(255)) as ODSCode,
			cast(null as varchar(255)) as CCG,
			cast(null as varchar(255)) as Postcode,
			cast(null as varchar(500)) as STP,
			cast(null as varchar(500))as [NHS Region],
			v.LastDate as FirstEventDate,
			w.LastDate as LastEventDate

			into #EmisPractices
		--into [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]

		FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]a
		left join #MaxID2 w on w.DeptEnterpriseID = a.DeptEnterpriseID
		left join #MinID2 v on v.DeptEnterpriseID = a.DeptEnterpriseID

		Where a.DeptEnterpriseID is not null


		  update f

				set f.DeptName = e.name,
					f.ODSCode = d.ODSCode

		  from [#EmisPractices]f
		  inner join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.EnterpriseID = f.DEptEnterpriseID
		  inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name

		  --select * from  [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices] where odscode is null
		  		  --select * from [#EmisPractices]

	
	  update a

			set a.PostCode = f.PostCode,
				a.TEamType = f.DerivedTeamType,
				a.CCG = f.CCG,
				a.[NHS Region] = f.Region,
				a.STP = k.STP

	  from [#EmisPractices]a
	  left join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]f on f.EnterpriseID = a.DeptEnterpriseID
	  left join [ETL_Local_PROD].[Reference].[STP]k on k.CCGLONG_TRUNC = f.CCG
 




 


	--select * from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices] 


	insert into [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]

	select
	*
	from [#EmisPractices]a
	where not exists (select DEptEnterpriseID from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]b where b.DeptEnterpriseID = a.DeptEnterpriseID)


	update r
			set r.LastEventDate = case 
										when ( r.LastEventDate < s.LastEventDate) 
								
											then s.LastEventDate 
												else r.LastEventDate 
										end

	from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]r
	inner join [#EmisPractices]s on s.DeptEnterpriseID = r.DeptEnterpriseID

	 
			insert into [ETL_Local_PROD].[dbo].[AT_EMIS_Practice_Used_In_Month]
			select 
			distinct
			 DeptEnterpriseID ,
			 convert(date,DATEADD(month, DATEDIFF(month, 0, convert(date,LastEventDate)), 0)) as ActivityMonth 
 
			from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices] a
			Where NOT EXISTS (
							 select
							 * 
 
							from [ETL_Local_PROD].[dbo].[AT_EMIS_Practice_Used_In_Month]x
							where x.DeptEnterpriseID = a.DeptEnterpriseID 
								and x.ActivityMonth = convert(date,DATEADD(month, DATEDIFF(month, 0, convert(date,a.LastEventDate)), 0)) 
							)
			and LastEventDate >= '2020-01-01'

 

			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp]') is not null
			drop table [ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp]
			select 
			distinct
			max(actiontime) as LastDate
			into [ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp]
			from [ETL_Local_PROD].[dbo].[ServiceSearch]  

			--select * from [ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp]
			truncate table [ETL_Local_PROD].[dbo].[ServiceSearch]
			truncate table [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]
			truncate table [REgistryDataProcess].[dbo].[RegistryData] 



END


