USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MASTERBUILD_Service_Search_Update]    Script Date: 30/03/2021 06:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[AT_MASTERBUILD_Service_Search_Update] 

AS
BEGIN




 
	
		insert into [ETL_Local_PROD].[dbo].[ServiceSearch]

		select 
		CAST(SUBSTRING(a.ItemId,9,Len(a.ItemId)) as numeric) as RowItemID,
		b.OverAllOrder,
		a.ItemId,
		a.ActionTime,
		MRNs,
		Actor,
		REGISTRYRoles,
		---- add stripped actor for performance MS 21.5.16
		 ltrim(rtrim(REPLACE(REPLACE(replace(replace(actor,'AvailabilityGeneralRoyalFree',''),'AvailabilityGeneralMarsden',''),'AvailGen',''),'EMISAvail',''))) as ODS
 
		from etl_PROD.dbo.cmc_auditdata a with (nolock)
		 inner join [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID]b with (nolock) on b.Itemid = a.ItemId
		where ActionType = 'SearchPatient'
		and REGISTRYRoles like '%HSCC_Service_Search%'
		--and CAST(SUBSTRING(a.ItemId,9,Len(a.ItemId)) as numeric) > (
		--																select RowItemID from #MaxID
		--																)
		and convert(date,a.actionTime)  >=  (select convert(date,lastDate) from [ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp])
		
		--select * from ServiceSearch
 

			  insert into  [ETL_Local_PROD].[dbo].[ServiceSearchGeneric]

			 select
			 *,
			rtrim(REPLACE(Actor,'AvailGen','')) as ODS2
			 from ServiceSearch a
			where Actor like 'AvailGen%' or actor like 'AvailabilityGeneral%'
			and not exists (
							select
							ItemID,
							Actiontime
							from [ServiceSearchGeneric]b 
							where b.ItemId = a.ItemId
							and b.ActionTime = a.ActionTime
							and b.OverAllOrder = a.OverAllOrder
							)


 

				 if OBJECT_ID ('Tempdb..#Teams') is not null
				drop table #Teams
				select *,
				row_number() over (partition by activitydepartmentid order by team) rn 
				into #teams
				from AT_DisambiguatedActivityTeams




				if OBJECT_ID ('Tempdb..#ODSCODE') is not null
				drop table #ODSCODE
				select deptodscode,
				deptenterpriseid,
				ROW_NUMBER() over (PARTITION by deptodscode order by deptodscode) as rn 

				into #ODSCODE

				from AT_Dept


		 

			insert into [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]

			select 
			RowItemID,
			ItemId as id,
			cast(actiontime as datetime) as EventDateTime,
			cast(actiontime as date) as EventDate,
			case when MRNs='0' then 'N' else 'Y' end as match,
			'EMIS' as Service, 
			DeptEnterpriseID, 
			Team,
			ODS

 

			from ServiceSearch a
 
			left join #ODSCODE d on a.ODS = DeptODSCode and d.rn=1
 
 
			left join #teams at on at.ActivityDepartmentID = d.DeptEnterpriseID and at.rn=1
 
	 

				--select top 5* from #teams

 

update x

	set x.Team = at.team

from [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] x
	left join #ODSCODE d on x.ODS = DeptODSCode and d.rn=1
left join #teams at on at.ActivityDepartmentID = d.DeptEnterpriseID and at.rn=1




update x

	set x.DEptEnterpriseID  = d.DeptEnterpriseID

from [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] x
	left join #ODSCODE d on x.ODS = DeptODSCode and d.rn=1
 where x.DeptEnterpriseID is null

 /**
	  CREATE INDEX RID_EVT
ON [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]  (RowItemID, EventDateTime);
	

	  CREATE INDEX EVT
ON [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]  (EventDate);


**/
 
			

			 	 if OBJECT_ID ('Tempdb..#MaxID2') is not null
					drop table #MaxID2
					select 
					DeptEnterpriseID, 
					ODS,
					rtrim(REPLACE(ODS,'AvailGen','')) as ODS2,
					Max(EventDate) as LastDate 
					into #MaxID2
					FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] 
					group by DeptEnterpriseID,ODS


				 if OBJECT_ID ('Tempdb..#MinID2') is not null
					drop table #MinID2
					select 
					DeptEnterpriseID, 
					ODS,
					rtrim(REPLACE(ODS,'AvailGen','')) as ODS2,
					Min(EventDate) as LastDate 
					into #MinID2
					FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] 
					group by DeptEnterpriseID,ODS



--UPDATE tbl1
--SET Status = 'Finished' 
--WHERE NOT EXISTS (SELECT id FROM tbl1_temp 
--    WHERE tbl1.id = tbl1_temp.id)







				 if OBJECT_ID ('Tempdb..#EmisPractices') is not null
					drop table #EmisPractices

			select  
			distinct
			cast(null as Varchar(max)) as DeptName,
			cast(null as varchar(max))as TEamType,
			a.DeptEnterpriseID,
			cast(null as varchar(255)) as ODSCode,
			cast(null as varchar(255)) as CCG,
			cast(null as varchar(255)) as Postcode,
			cast(null as varchar(500)) as STP,
			cast(null as varchar(500))as [NHS Region],
			v.LastDate as FirstEventDate,
			w.LastDate as LastEventDate

			into #EmisPractices
		--into [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]

		FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]a
		left join #MaxID2 w on w.DeptEnterpriseID = a.DeptEnterpriseID
		left join #MinID2 v on v.DeptEnterpriseID = a.DeptEnterpriseID

		Where a.DeptEnterpriseID is not null


		  update f

				set f.DeptName = e.name,
					f.ODSCode = d.ODSCode

		  from [#EmisPractices]f
		  inner join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.EnterpriseID = f.DEptEnterpriseID
		  inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name

		  --select * from  [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices] where odscode is null


	
	  update a

			set a.PostCode = coalesce(hh.postcode,g.postcode),
				a.TEamType = f.TeamType

	  from [#EmisPractices]a
	left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on f.ActivityTeam = a.DeptName
	left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]g on g.[Organisation Code] = ODSCode
	left join [ETL_Local_PROD].[ODSData].[searchods]hh on hh.ODS = ODSCode







	update f
			set		f.CCG =  coalesce(k.CCGLONGNAME,i.ccg),
				 
					f.[NHS Region] = i.[NHS England REgion]


	from [#EmisPractices]f
	left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = f.Postcode
	left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Wrong_CCG_Lookup]j on j.ODS = f.ODSCode
	left join [ETL_Local_PROD].[Reference].[STP]k on k.CCGLONG_TRUNC = j.Actual_CCG



	update g
			set g.STP = k.STP

	from [#EmisPractices]g
	inner join [ETL_Local_PROD].[Reference].[STP]k on k.CCGLONGNAME = g.ccg





	insert into [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]

	select
	*
	from [#EmisPractices]a
	where not exists (select DEptEnterpriseID from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]b where b.DeptEnterpriseID = a.DeptEnterpriseID)


	update r
			set r.LastEventDate = case 
										when ( r.LastEventDate < s.LastEventDate) 
								
											then s.LastEventDate 
												else r.LastEventDate 
										end

	from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]r
	inner join [#EmisPractices]s on s.DeptEnterpriseID = r.DeptEnterpriseID

	update r
		set r.ccg = coalesce(s.CCG,t.ccg,u.ccg,v.ccg)

	from  [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]r 
	left join  [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]s on left(s.PCDS,7) = left(r.Postcode,7)
	left join  [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]t on left(t.PCDS,6) = left(r.Postcode,6)
	left join  [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]u on left(u.PCDS,5) = left(r.Postcode,5)
	left join  [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]v on left(v.PCDS,4) = left(r.Postcode,4)
	Where r.CCG is null

	
			insert into [ETL_Local_PROD].[dbo].[AT_EMIS_Practice_Used_In_Month]
			select 
			distinct
			 DeptEnterpriseID ,
			 convert(date,DATEADD(month, DATEDIFF(month, 0, convert(date,LastEventDate)), 0)) as ActivityMonth 
 
			from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices] a
			Where NOT EXISTS (
							 select
							 * 
 
							from [ETL_Local_PROD].[dbo].[AT_EMIS_Practice_Used_In_Month]x
							where x.DeptEnterpriseID = a.DeptEnterpriseID 
								and x.ActivityMonth = convert(date,DATEADD(month, DATEDIFF(month, 0, convert(date,a.LastEventDate)), 0)) 
							)
			and LastEventDate >= '2020-01-01'

 

			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp]') is not null
			drop table [ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp]
			select 
			distinct
			max(actiontime) as LastDate
			into [ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp]
			from [ETL_Local_PROD].[dbo].[ServiceSearch]  

			--select * from [ETL_Local_PROD].[dbo].[ServiceSearch_LastDateStamp]
			truncate table [ETL_Local_PROD].[dbo].[ServiceSearch]
			truncate table [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]







--select * from #MinID2 where DeptEnterpriseID is null  order by ODS

--select * from #ODSCODE where DeptODSCode = 'RFL'
--select * from #Teams where charindex('royal free',teamname)>0
--				select top 5 * from ServiceSearch
--				select top 5 * from ServiceSearchGeneric
--				select * FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] where ODS = 'RFL'

--				select distinct ODS FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]


--select * from #ODSCODE where DeptODSCode = 'RJ1' and rn=1
--select * from #Teams where ActivityDepartmentID = 100043375
--select * from AT_Dept where deptenterpriseid = 100043375
--select * from [ETL_Local_PROD].[dbo].[AT_TeamAudit]where staffenterpriseid = 100043375

--select * from etl_PROD.dbo.cmc_auditdata where itemid = 'Registry1217745842'

--		select * from [ServiceSearch] where charindex('AvailabilityGeneralRoyalFreeRFL',Actor)>0

		










END


