/****** Script for SelectTopNRows command from SSMS  ******/

USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [ref].[SP_Claim_Reserve_Change]    Script Date: 12/12/2018 13:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter procedure [ref].[SP_Claimant]

 AS
 BEGIN



		if OBJECT_ID('[NHR Data Mart Test].[ref].[Claimant]') is not null
		drop table [NHR Data Mart Test].[ref].[Claimant]

SELECT 
		a.[ClaimId]
		,Cast(null as varchar(10)) as NHSNumber
      ,[ClaimantTitle]
      ,[ClaimantFirstName] + ' ' +[ClaimantSurname] as ClaimantName
      ,case when [PatientIsClaimant] = 1 then null else 1 end as ThirdPartyClaimantFlag
      ,b.RelationshipName as ClaimantRelationShip
      ,[PatientTitle]
      ,[PatientFirstName]+' ' +[PatientSurname] as PatientName
      ,[PatientOccupation]
      ,[PatientSex]
      ,convert(date,[DOB]) as DOB
      ,convert(date,[DOD]) as DOD
	  ,case when c.GroupedClaimsId is not null then 1 else null end as GroupedClaimFlag
	  ,d.GroupedClaimsName
	  ,d.Description as GroupedClaimDesc

    into [NHR Data Mart Test].[ref].[Claimant]

  FROM [ldndw1\reporting].[Archive1].[dbo].[Claimant]a
  left join [ldndw1\reporting].[Archive1].[dbo].[Relationship]b on b.RelationshipId = a.ClaimantRelationshipId
  left join [ldndw1\reporting].[Archive1].[dbo].[Claim]c on c.ClaimId = a.claimid
  left join [ldndw1\reporting].[Archive1].[dbo].[GroupedClaims]d on d.GroupedclaimsId = c.GroupedClaimsId

	
ALTER TABLE [NHR Data Mart Test].[ref].[Claimant]  ADD PK_ClaimantKey int identity(1,1) not null

ALTER TABLE  [NHR Data Mart Test].[ref].[Claimant] 
add CONSTRAINT  Claimant_PK  PRIMARY KEY CLUSTERED(PK_ClaimantKey)


--select * from  [Informatics_Reporting].[dbo].[DIM_Claimant] 
end