/****** Script for SelectTopNRows command from SSMS  ******/
USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [ref].[SP_Claim_Reserve_Change]    Script Date: 12/12/2018 13:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter procedure [ref].[SP_MemberScheme]

 AS
 BEGIN



		if OBJECT_ID('tempdb..#Temp1') is not null
		drop table #Temp1

		SELECT 
		--a.[MemberId]
 
		--,
		d.OrgName as MEmberName
	
		,e.MemberNum
		,sh.StHAName
      ,b.SchemeName
	  ,b.SchemeAbbrev
      ,[JoinDate]
      ,[LeaveDate]
	  ,case when LeaveDate is null then 1 else null end as IsCurrent
     
	 into #Temp1

  FROM [ldndw1\reporting].[Archive1].[dbo].[MemberScheme]a
  inner join [ldndw1\reporting].[Archive1].[dbo].[Scheme]b on b.SchemeId = a.SchemeId
  left join [ldndw1\reporting].[Archive1].[dbo].[Organisation]d on d.OrganisationId = a.MemberId	
  left join [ldndw1\reporting].[Archive1].[dbo].[Member]e on e.MemberId = d.OrganisationId
  LEFT JOIN [ldndw1\reporting].[Archive1].[dbo].[stHA] SH on sh.StHAId = e.StHAId

  order by memberNum





	ALTER TABLE [#temp1]  ADD MEmberSchemeID int identity(1,1) not null

	ALTER TABLE [#temp1]
	add CONSTRAINT  MEmberScheme_PK  PRIMARY KEY CLUSTERED(MEmberSchemeID)


		if OBJECT_ID('[NHR Data Mart Test].[dbo].[MemberScheme]') is not null
		drop table [NHR Data Mart Test].[dbo].[MemberScheme]
		select
		*
		into [NHR Data Mart Test].[dbo].[MemberScheme]
		from #Temp1
		


	--Select * from [Informatics_Reporting].[dbo].[DIM_MemberScheme]


	End