USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_Payments_All]    Script Date: 23/07/2019 14:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure  [dbo].[SP_Payments_All]

 AS
 BEGIN

 IF OBJECT_ID('[NHR Data Mart Test].[dbo].[Payments_All]' ) IS NOT NULL

	DROP TABLE [NHR Data Mart Test].[dbo].[Payments_All]
	
	Select  * into [NHR Data Mart Test].[dbo].[Payments_All] from [ldndw1\reporting].[Informatics_Reporting].[dbo].[payments_All]

 END