USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [ref].[SP_Claim_Reference_Change]    Script Date: 30/07/2018 10:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [ref].[SP_Claim_Reference_Change]

 AS
 BEGIN
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/** 

Collate all Information about references changes from The Claim History Table

**/

	

	IF OBJECT_ID('tempdb..#Text_Table') IS NOT NULL 
	dROP TABLE #Text_Table
		SELECt
		Claimid,
		ChangeDateTime,
		Details
		into #Text_Table
		FROM [ldndw1\reporting].[ClaimsManagement].[dbo].[ClaimHistory]with (nolock)
		where charindex('claim Reference changed',details)>0


	IF OBJECT_ID('tempdb..#Text_Table2') IS NOT NULL 
	dROP TABLE #Text_Table2
		select *, 
		charindex('from: ', Details ,0) as From_Index,
		charindex(' to: ', Details , charindex('from: ', Details ,0)) as to_index,
		charindex('.', Details , charindex(' to: ', Details , charindex('from: ', Details ,0))) as dot_index
		into #Text_Table2
		from #text_table

	delete from #text_table2 where From_Index <> 25

	insert into #text_table2
		select *, 
		charindex('from ', Details ,0) as From_Index,
		charindex(' to ', Details , charindex('from ', Details ,0)) as to_index,
		len(details) as dot_index

		from #text_table a
		where not exists(select claimid, changedatetime from #text_table2 b where b.ClaimId = a.claimid and b.ChangeDateTime = a.ChangeDateTime )


	IF OBJECT_ID('tempdb..#Text_Table11') IS NOT NULL 
	dROP TABLE #text_table11	 
		SELECt
		Claimid,
		ChangeDateTime,
		Details
		into #text_table11	
		FROM [ldndw1\reporting].[ClaimsManagement].[dbo].[ClaimHistory]with (nolock)
		where charindex('Claim Added - Claim Ref:',details)>0

	IF OBJECT_ID('tempdb..#Text_Table22') IS NOT NULL 
	dROP TABLE #text_table22
		select *, 
		charindex('Claim Ref: ', Details ,0) as From_Index,
		charindex('.', Details , charindex('Claim Ref: ',0)) as dot_index
		into #text_table22
		from #text_table11


	

	IF OBJECT_ID('tempdb..#FinText') IS NOT NULL 
	dROP TABLE #FinText
		select
		RANK() OVER(PARTITION BY d.claimid ORDER BY ChangeDateTime) as RowNum,
		d.*
		into #FinText
		from
		(

		select
		a.ClaimId,
		ChangeDateTime,
		cast(null as varchar(30)) as From_Value,
		ltrim(rtrim(substring(Details, From_index +11, dot_index-(From_index +11)))) as To_Value
 

		from #text_table22 a
		--LEFT JOIN [#Temp_CTE_Date]B on b.myDate <= convert(date,ChangeDateTime)
		--						and b.MyEnd >= convert(date,ChangeDateTime)
		left join [ldndw1\reporting].[ClaimsManagement].[dbo].[vw_ClaimGeneral]C with (nolock) on c.ClaimId = a.ClaimId
 
		union all

		 select
		a.ClaimId,
		ChangeDateTime, 
		substring(Details, from_index+5, to_index - from_index - 6) as From_Value,
		substring(Details, to_index+4, dot_index - to_index - 4) as To_Value

		from #text_table2 a
		--LEFT JOIN [#Temp_CTE_Date]B on b.myDate <= convert(date,ChangeDateTime)
		--						and b.MyEnd >= convert(date,ChangeDateTime)
		left join [ldndw1\reporting].[ClaimsManagement].[dbo].[vw_ClaimGeneral]C with (nolock) on c.ClaimId = a.ClaimId

 
		)d

		order by claimid,ChangeDateTime

	IF OBJECT_ID('tempdb..#ClaimRef') IS NOT NULL 
	dROP TABLE #ClaimRef

		select
		RANK() OVER(PARTITION BY claimid ORDER BY  ChangeDateTime)  as RowNum,
		d.*,
		convert(date,DATEADD(month, DATEDIFF(month, 0, ChangeDateTime), 0)) as [Snapshot Month],
		Convert(varchar,(year(dateadd(month, 9, convert(date,ChangeDateTime) )) - 1)) + '/' + right(convert(varchar,(year(dateadd(month, 9, convert(date,ChangeDateTime) )))),2) as [Snapshot year],
		b.[Year Start Date] as Year_Start,
		b.[Year End Date] as Year_End,	
		null as First_Reference_Number,
		null as Last_Reference_Number,
		null as Last_For_Month,
		null as Last_For_YEar

		into #ClaimRef

		from
		(
		select
		a.Claimid,
		a.CreationDate as ChangeDateTime,
		a.ClaimRef
		from [ldndw1\reporting].[ClaimsManagement].[dbo].[vw_ClaimGeneral]a with (nolock)
		where a.claimid not in (Select distinct Claimid from #FinText  )

		union all

		select
		Claimid,
		ChangeDateTime,
		ltrim(rtrim(From_Value)) as ClaimRef
		from #FinText
		WHere RowNum = 1
		and (From_Value is not null)


		union all

		select
		Claimid,
		ChangeDateTime,
		ltrim(rtrim(To_Value)) as ClaimRef
		from #FinText
		WHere RowNum > 1

		union all

		select
		Claimid,
		ChangeDateTime,
		ltrim(rtrim(To_Value)) as ClaimRef
		from #FinText
		WHere RowNum = 1
		and From_Value is null

		)d
		LEFT JOIN  [NHR Data Mart Test].[dbo].[DIM_Date]B with (nolock) on b.[Calendar Day] = convert(date,d.ChangeDateTime)
							 
		order by ClaimId







   update y
		
		set y.Last_For_YEar = case when x.Last is not null then 1 else null end,
			y.Last_For_Month = case when z.Last is not null then 1 else null end,
			y.First_Reference_Number = case when w.Last is not null then 1 else null end,
			y.Last_Reference_Number = case when v.Last is not null then 1 else null end

   from  #ClaimRef y
   left join
			(
			select
			claimid,
			[Snapshot year],
			max(Rownum) as Last
			from  #ClaimRef 
			group by
			Claimid,
			[Snapshot year]
			)as x on x.ClaimId = y.claimid
				and x.Last = y.RowNum
				and x.[Snapshot year] = y.[Snapshot year]
left join
			(
			select
			claimid,
			[Snapshot Month],
			max(Rownum) as Last
			from  #ClaimRef 
			group by
			Claimid,
			[Snapshot Month]
			)as z on z.ClaimId = y.claimid
				and z.Last = y.RowNum
				and z.[Snapshot Month]= y.[Snapshot Month]
left join
			(
			select
			claimid,
			min(Rownum) as Last
			from  #ClaimRef 
			group by
			Claimid
			)as w on w.ClaimId = y.claimid
				and w.Last = y.RowNum
left join
			(
			select
			claimid,
			max(Rownum) as Last
			from  #ClaimRef 
			group by
			Claimid
			)as v on v.ClaimId = y.claimid
				and v.Last = y.RowNum	

	if OBJECT_ID('[NHR Data Mart Test].[ref].[Claim_Reference_Change]') is not null
		drop table [NHR Data Mart Test].[ref].[Claim_Reference_Change]

		Select
		*
		into [NHR Data Mart Test].[ref].[Claim_Reference_Change]
		from #ClaimRef



		drop table #ClaimRef
		drop table #FinText
		drop table #Text_Table
		drop table #text_table11
		drop table #Text_Table2
		drop table #text_table22


	end	


/**

Adding data to a table with an index
Option 1

	DROP INDEX mycolumnstoreindex ON mytable  
-- update mytable --  
CREATE NONCLUSTERED COLUMNSTORE INDEX mycolumnstoreindex ON mytable;  

Option 2

ALTER INDEX mycolumnstoreindex ON mytable DISABLE;  
-- update mytable --  
ALTER INDEX mycolumnstoreindex on mytable REBUILD  



--Create a non-clustered columnstore index on a disk-based table.  

CREATE [NONCLUSTERED]  COLUMNSTORE INDEX index_name   
    ON [database_name. [schema_name ] . | schema_name . ] table_name   
        ( column  [ ,...n ] )  
    [ WHERE <filter_expression> [ AND <filter_expression> ] ]
    [ WITH ( < with_option> [ ,...n ] ) ]  
    [ ON <on_option> ]   
[ ; ]  

<with_option> ::=  
      DROP_EXISTING = { ON | OFF } -- default is OFF  
    | MAXDOP = max_degree_of_parallelism 
    | ONLINE = { ON | OFF } 
    | COMPRESSION_DELAY  = { 0 | delay [ Minutes ] }  
    | DATA_COMPRESSION = { COLUMNSTORE | COLUMNSTORE_ARCHIVE }  
      [ ON PARTITIONS ( { partition_number_expression | range } [ ,...n ] ) ]  

<on_option>::=  
      partition_scheme_name ( column_name )   
    | filegroup_name   
    | "default"   

<filter_expression> ::=  
      column_name IN ( constant [ ,...n ]  
    | column_name { IS | IS NOT | = | <> | != | > | >= | !> | < | <= | !< } constant  
**/