USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [ref].[SP_Claim_Share_Activity]    Script Date: 30/07/2018 11:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [ref].[SP_Claim_Share_Activity]

 AS
 BEGIN


/*

 
 A query that lists the PercentageShare of a Claim over time, on any occasion it might have changed for a given claim.
 
 This query does not include the ShareLink at creation, which will always be 100% 
 (as claims can only be shared once they have been created).
 The following will get the PercentageShare at creation fro a given claim
 
SELECT	PercentageShare
FROM	dbo.ShareLinkClaim 
WHERE	ShareLinkId = (
			SELECT	MIN(ShareLinkId) 
			FROM	dbo.ShareLinkClaim 
			WHERE	ClaimId = 185336)
	AND	ClaimId = 185336
*/

 
	iF OBJECT_ID('tempdb..#Temp44') IS NOT NULL 
			drop table #Temp44
SELECT 
		Dense_Rank() OVER (partition by slc.claimid order by slc.ShareLinkId) as SequenceNumber,
		null as dayRank,
		slc.PercentageShare,	-- the percentage share when the task was approved
		slc.ShareLinkId,
		slc.claimid,		-- the ShareLink the claim belonged to when the task was approved 
		cast(null as datetime) as ActivityCompletedDate,
		--apa.CompletedDate as ActivityCompletedDate1,		-- the date an Approve Payment task that made a reserve or claim share change was completed
		--araa.CompletedDate as ActivityCompletedDate2,		-- the date a Send Referral task that made a reserve or claim share change was approved
		--apa.ClaimId as ClaimID1,			-- the claim the Make Payment task was performed on 
		--ara.ClaimId as ClaimID2,
		null as LastForDayFlag
		into #Temp44

FROM			[ldndw1\reporting].[ClaimsManagement].[dbo].[ShareLinkClaim] slc  with (nolock)

order by claimid,ShareLinkId


update slc

		set slc.ActivityCompletedDate = coalesce(apa.CompletedDate,araa.CompletedDate)
			
			
			

from [#Temp44]slc


 --Find approved changes to reserves or claim shares made via a send referral task 
LEFT OUTER JOIN	[ldndw1\reporting].[ClaimsManagement].[dbo].[ActivityReferral] ar  with (nolock) ON		ar.NewShareLinkId = slc.ShareLinkId
										AND		ar.Outcome = 1
-- Get the related activity (a send referral task)
LEFT OUTER JOIN		[ldndw1\reporting].[ClaimsManagement].[dbo].[Activity] ara  with (nolock)  ON		ar.ActivityId = ara.ActivityId
-- Get the related approval activity (an approve referral task)
LEFT OUTER JOIN		[ldndw1\reporting].[ClaimsManagement].[dbo].[Activity] araa  with (nolock)  ON		ara.ActivityId = araa.ParentActivityId

-- Find approved changes to reserves or claim shares made via a make payment task 
LEFT OUTER JOIN	[ldndw1\reporting].[ClaimsManagement].[dbo].[ActivityPayment] ap  with (nolock) ON		ap.NewShareLinkId = slc.ShareLinkId
										AND		ap.Outcome = 1
-- Get the related activity (an approve payment task)
LEFT OUTER JOIN		[ldndw1\reporting].[ClaimsManagement].[dbo].[Activity] apa  with (nolock) ON		ap.ActivityId = apa.ActivityId

WHERE	
----	slc.ClaimId = 185336--185336
--	-- excludes ShareLinkClaim records that were created but never approved. 
--	-- also excludes the ShareLinkClaim when the claim was created.
--	--AND	
	(ap.NewShareLinkId IS NOT NULL
		OR ar.NewShareLinkId IS NOT NULL)







update r
		set r.ActivityCompletedDate = convert(date,c.CreationDate)
from [#Temp44]r
left join [ldndw1\reporting].[ClaimsManagement].[dbo].[vw_ClaimGeneral] c  with (nolock) on c.ClaimId = r.ClaimId
Where SequenceNumber = 1



delete a from [#Temp44]a where ActivityCompletedDate is null


update r
		set r.SequenceNumber = b.SequenceNumber2

from [#Temp44]r
left join 
		(
		select
		Claimid,
		Sharelinkid,
		SequenceNumber,
		ActivityCompletedDate,
		Dense_Rank() OVER (partition by  claimid order by ShareLinkId,SequenceNumber)  as SequenceNumber2
		from #Temp44
		--where 
		--claimid = 201347

		) as b on b.ClaimId = r.ClaimId
			and b.ShareLinkId = r.ShareLinkId
			and b.SequenceNumber = r.SequenceNumber





update slc
		set slc.dayRank = b.SequenceNumber2
from [#Temp44]slc

left join 
		(
		select
		Claimid,
		Sharelinkid,
		SequenceNumber,
		ActivityCompletedDate,
		Rank() OVER (partition by claimid,ActivityCompletedDate order by ShareLinkId) as SequenceNumber2
		from #Temp44
	

		) as b on b.ClaimId = slc.ClaimId
			and b.ShareLinkId = slc.ShareLinkId
			and b.SequenceNumber = slc.SequenceNumber


update f
		set f.LastForDayFlag = 1

from [#Temp44]f
inner join 
		(
		select
		Claimid,
		ActivityCompletedDate,
		Max(DayRank) as LastForDay
       from [#Temp44]
	   --where claimid = 201347
	   group by
	   Claimid,
		ActivityCompletedDate
		) as d on d.claimid = f.claimid 
			and d.ActivityCompletedDate = f.ActivityCompletedDate 
			and d.LastForDay = f.dayRank

	delete from #Temp44 where LastForDayFlag is null


	update r
		set r.SequenceNumber = b.SequenceNumber2

from [#Temp44]r
left join 
		(
		select
		Claimid,
		Sharelinkid,
		SequenceNumber,
		ActivityCompletedDate,
		Dense_Rank() OVER (partition by  claimid order by ShareLinkId,SequenceNumber)  as SequenceNumber2
		from #Temp44
		--where 
		--claimid = 201347

		) as b on b.ClaimId = r.ClaimId
			and b.ShareLinkId = r.ShareLinkId
			and b.SequenceNumber = r.SequenceNumber


--ALTER TABLE #Temp44 DROP COLUMN DayRank,LastForDayFlag ;  
--select * from #Temp44


	iF OBJECT_ID('[NHR Data Mart Test].[ref].[Claim_Share_Activity]') IS NOT NULL 
			drop table [NHR Data Mart Test].[ref].[Claim_Share_Activity]
			select
			SequenceNumber,
			PercentageShare,
			ShareLinkId,
			ClaimId,
			ActivityCompletedDate
			into [NHR Data Mart Test].[ref].[Claim_Share_Activity]
			from #Temp44 

 end


