USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_PortalClaim_ExtractHistoryEpisodes]    Script Date: 28/08/2018 14:49:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_Update_PortalClaim_ExtractHistoryEpisodes]

 AS
 BEGIN

 --Populate Staging Table from Informatics delta Feeds

if OBJECT_ID('[NHR Data Mart Test].[Staging].[PortalClaim]') is Not Null
drop table [NHR Data Mart Test].[Staging].[PortalClaim]

if OBJECT_ID('tempdb..#Temp1') is Not Null -- Not sure why buyt extrmemly slow when trying to write directly to table...
 drop table #Temp1

 select 
		[PortalClaimId]
      ,[ApplicationId]
      ,[ClaimId]
      ,[PhaseCacheName]
      ,[CurrentTimeout]
      ,[ClaimType]
      ,[ClaimValue]
      ,[Status]
      ,[StatusDate]
      ,[ExitReason]
      ,[ExitComments]
      ,[ExitedBy]
      ,[ReallocatedCompensatorName]
      ,[ReallocatedContactName]
      ,[ReallocatedCompensatorPath]
      ,[ReallocatedReason]
      ,[ReallocatedDate]
      ,[ReceivedDate]
      ,[NotificationDate]
      ,[DefendantName]
      ,[InjuredPartyName]
      ,[CMSTimestamp]
      ,[ExtractDate]
      ,[DailyLoadNumber]
  into  #Temp1
  from [ldndw1\reporting].[Informatics_Reporting].[staging].[PortalClaim] WITH (NOLOCK)

  insert into [NHR Data Mart Test].[Staging].[PortalClaim] select * from #Temp1
-----------------------------------------------------------------------------------------------------------------------------------------------
	
	 drop table #Temp1
	
	-- Remove duplicate rows (occur when testing takes place)
	
	delete a 
	FROM [NHR Data Mart Test].[dbo].[PortalClaim]a
	  inner join
	  (
	select 
	Claimid,
	ROW_NUMBER() OVER(PARTITION BY 
					 [ClaimId]
				
				ORDER BY [ExtractDate]) AS RowNum
	FROM [NHR Data Mart Test].[dbo].[PortalClaim]
	) b on b.ClaimId = a.ClaimId
	where b.RowNum > 1
--select * from [NHR Data Mart Test].[Staging].[PortalClaim]

 --Get a unique list of ClaimID's from delta that either don't exist in the Warehouse claimGeneral or have changed---

if OBJECT_ID('tempdb..#TempHistory') is Not Null
 drop table #TempHistory

SELECT 
distinct

a.ClaimId,
a.extractDate

into #temphistory

FROM [NHR Data Mart Test].[Staging].[PortalClaim] a WITH (NOLOCK) JOIN [NHR Data Mart Test].[dbo].[PortalClaim] b WITH (NOLOCK)
ON a.ClaimId = b.ClaimId
WHERE
(
ISNULL(a.PortalClaimId,0) <> ISNULL(b.PortalClaimId,0) OR
ISNULL(a.ApplicationId,'') <> ISNULL(b.ApplicationId,'') OR
ISNULL(a.ClaimId,0) <> ISNULL(b.ClaimId,0) OR
ISNULL(a.PhaseCacheName,'') <> ISNULL(b.PhaseCacheName,'') OR
ISNULL(a.CurrentTimeout,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.CurrentTimeout,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.ClaimType,'') <> ISNULL(b.ClaimType,'') OR
ISNULL(a.ClaimValue,'') <> ISNULL(b.ClaimValue,'') OR
ISNULL(a.Status,'') <> ISNULL(b.Status,'') OR
ISNULL(a.StatusDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.StatusDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.ExitReason,'') <> ISNULL(b.ExitReason,'') OR
ISNULL(a.ExitComments,'') <> ISNULL(b.ExitComments,'') OR
ISNULL(a.ExitedBy,'') <> ISNULL(b.ExitedBy,'') OR
ISNULL(a.ReallocatedCompensatorName,'') <> ISNULL(b.ReallocatedCompensatorName,'') OR
ISNULL(a.ReallocatedContactName,'') <> ISNULL(b.ReallocatedContactName,'') OR
ISNULL(a.ReallocatedCompensatorPath,'') <> ISNULL(b.ReallocatedCompensatorPath,'') OR
ISNULL(a.ReallocatedReason,'') <> ISNULL(b.ReallocatedReason,'') OR
a.ReallocatedDate <> b.ReallocatedDate OR
ISNULL(a.ReceivedDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.ReceivedDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.NotificationDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.NotificationDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.DefendantName,'') <> ISNULL(b.DefendantName,'') OR
ISNULL(a.InjuredPartyName,'') <> ISNULL(b.InjuredPartyName,'')
)
and ISNULL(b.ExtractDate,'')  <  ISNULL(a.ExtractDate,'') 

-------------------------------------------------------------------------------------------------------------------------------------

--Sequence Changed rows for populating events table

if OBJECT_ID('tempdb..#TempHistoryA') is Not Null
 drop table #TempHistoryA
  select 
  *
  into #TempHistoryA
  from(

  select
  * 
  , 1 as Version
 
  ,null as DeleteFlag
  

   FROM [NHR Data Mart Test].[dbo].[PortalClaim] WITH (NOLOCK)
   where ClaimID in (select distinct claimid  FROM #TempHistory)

   union all

 
  SELECT 
		b.PK_DateKey as DateKey
	  ,a.*
	  ,(RANK() OVER(PARTITION BY a.[ClaimId] ORDER BY a.[ExtractDate])) + 1 as Version
 
     ,null as DeleteFlag

  FROM [NHR Data Mart Test].[Staging].[PortalClaim]a WITH (NOLOCK)
    inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
	inner join #temphistory c on c.claimid = a.claimid
							 and a.extractdate >= c.extractdate 

  )d
  Order by claimid, Version

  Update r

  set r.Version = b.version


  from [#TempHistoryA]r

Inner join
		(
		select 
		Claimid, 
		Version,
		RANK() OVER(PARTITION BY [ClaimId] ORDER BY Version) as NEwOrder
		from [#TempHistoryA]
		) as  B on b.ClaimId = r.claimid
			and b.Version = r.version



  --select * from #TempHistoryA Order by claimid, Version where claimid = 209190

 if OBJECT_ID('tempdb..#TempChangesX') is Not Null
 drop table #TempChangesX

DECLARE @x xml

SET @x = (
   SELECT  
        t2.ClaimID AS [@key]
      , t2.Version AS [@version]
      , ( SELECT t1.* FOR XML PATH('t1'), TYPE ,ELEMENTS XSINIL) AS [*]
      , ( SELECT t2.* FOR XML PATH('t2'), TYPE ,ELEMENTS XSINIL) AS [*]
   FROM #TempHistoryA AS t1
   INNER JOIN #TempHistoryA AS t2
   ON t1.ClaimID = t2.ClaimID
   AND t1.Version = t2.Version - 1
   FOR XML PATH('row'), ROOT('root')
   );

--WITH Nodes AS (
   SELECT
        C.value('../../@key', 'int') AS [Key]
      , C.value('../../@version', 'int') AS Version_ID
      , C.value('local-name(..)', 'varchar(255)')AS Version_Alias
      , C.value('local-name(.)', 'varchar(255)') AS Field
      , C.value('.', 'varchar(max)') AS Val
	  into #TempChangesX

   FROM @x.nodes('/root/row/*/*') AS T(C)
   --)


    if OBJECT_ID('tempdb..#TempChanges') is Not Null
	drop table #TempChanges
	SELECT 
	[Key] as ClaimID,
	x.ExtractDate, 
	Field
	, case when Max(CASE Version_Alias WHEN 't1' THEN Val END) = '' then null else Max(CASE Version_Alias WHEN 't1' THEN Val END) end  AS [Initial Value]
	, case when Max(CASE Version_Alias WHEN 't2' THEN Val END) = '' then null else Max(CASE Version_Alias WHEN 't2' THEN Val END) end  AS [New Value]

	Into #TempChanges

	FROM [#TempChangesX]v
	inner join [#TempHistoryA]x on x.ClaimId = v.[Key]
						and x.Version = v.Version_ID
						--and x.ExtractDate = v.
	where Field not in ('CMSTimestamp','ExtractDate','Version','DailyLoadNumber','DateKey')

	GROUP BY 
	[Key],
	x.ExtractDate,
	Field
	HAVING Max(CASE Version_Alias WHEN 't1' THEN Val END) <> Max(CASE Version_Alias WHEN 't2' THEN Val END)

 

delete from  [NHR Data Mart Test].[dbo].[PortalClaim] where ClaimID in (select distinct claimid  FROM #TempHistoryA)

 update a
		set a.DeleteFlag = 1
 from [#TempHistoryA]a
 inner join(
			select 
			claimid, 
			max(Version) as LastVersion  
			FROM #TempHistoryA  
			  
			group by ClaimId
			) b on b.ClaimId = a.ClaimId 
			and b.LastVersion <> a.Version
 



delete   from [#TempHistoryA] where DeleteFlag = 1 --get only latest version to replace what is in Warehouse ClaimGeneral



 --select * from [ldndw1\reporting].[Informatics_Reporting].[staging].[ClaimGeneral]  where claimid = 221869
--select * from [NHR Data Mart Test].[dbo].[PortalClaim] where claimid = 91897
--select * from [#TempHistoryA]  where claimid = 249710
--select * from #TempChanges order by claimid, ExtractDate, Field where claimid = 249710
--select * from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where claimid = 249710
 --select * from [NHR Data Mart Test].[dbo].[PortalClaim]

insert into [NHR Data Mart Test].[dbo].[PortalClaim]
select
	  b.id as DateKey
	  ,[PortalClaimId]
      ,[ApplicationId]
      ,[ClaimId]
      ,[PhaseCacheName]
      ,[CurrentTimeout]
      ,[ClaimType]
      ,[ClaimValue]
      ,[Status]
      ,[StatusDate]
      ,[ExitReason]
      ,[ExitComments]
      ,[ExitedBy]
      ,[ReallocatedCompensatorName]
      ,[ReallocatedContactName]
      ,[ReallocatedCompensatorPath]
      ,[ReallocatedReason]
      ,[ReallocatedDate]
      ,[ReceivedDate]
      ,[NotificationDate]
      ,[DefendantName]
      ,[InjuredPartyName]
      ,[CMSTimestamp]
      ,[ExtractDate]
      ,[DailyLoadNumber]
	  from [#TempHistoryA]a
	  inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)

	  --Populate stuff into episodes table

	  	--An attempt to speed things up...
			 if OBJECT_ID('tempdb..#TempClaimID') is Not Null
			drop table #TempClaimID
			 select distinct  claimid into #TempClaimID from [NHR Data Mart Test].[dbo].[PortalClaim]

insert into [NHR Data Mart Test].[dbo].[PortalClaim]
select
	  b.id as DateKey
	  ,a.[PortalClaimId]
      ,[ApplicationId]
      ,a.[ClaimId]
      ,[PhaseCacheName]
      ,[CurrentTimeout]
      ,[ClaimType]
      ,[ClaimValue]
      ,[Status]
      ,[StatusDate]
      ,[ExitReason]
      ,[ExitComments]
      ,[ExitedBy]
      ,[ReallocatedCompensatorName]
      ,[ReallocatedContactName]
      ,[ReallocatedCompensatorPath]
      ,[ReallocatedReason]
      ,[ReallocatedDate]
      ,[ReceivedDate]
      ,[NotificationDate]
      ,[DefendantName]
      ,[InjuredPartyName]
      ,[CMSTimestamp]
      ,[ExtractDate]
      ,[DailyLoadNumber]
	  from [ldndw1\reporting].[Informatics_Reporting].[etl].[PortalClaim] a
	  inner join [ldndw1\reporting].[Informatics_Reporting].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)

	  --where not exists (select claimid from [NHR Data Mart Test].[dbo].[PortalClaim] where ClaimId = a.claimid)
	   left join #TempClaimID c on c.claimid = a.claimid	
	  
	  where c.claimid is null



	INSERT INTO [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes](
																	[ExtractSourceID],
																	[DateKey],
																	Claimid,
																	[ExtractDate] ,
																	[Field],
																	[Initial Value],
																	[New Value],
																	OldDateTime,
																	NewDateTime,
																	OldMoneyValue,
																	NewMoneyValue 
																	)

	SELECT 
	(select [ExtractSourceID] from [ref].[ExtractSourceID] where TableName = 'PortalClaim' and TableSchema = 'dbo'),
	b.ID as DateKey,
	Claimid,
	ExtractDate,
	Field,
	case when ((TRY_PARSE([Initial Value] as datetime)is null OR (TRY_PARSE([Initial Value] as datetime)is not null AND CHARINDEX('.',[Initial Value]) > 0)) AND (TRY_PARSE([Initial Value] as float) is null OR (TRY_PARSE([Initial Value] as float)is not null AND CHARINDEX('.',[Initial Value]) = 0)) ) then [Initial Value] else null end,
	case when ((TRY_PARSE([New Value] as datetime)is null OR (TRY_PARSE([New Value] as datetime)is not null AND CHARINDEX('.',[New Value]) > 0)) AND (TRY_PARSE([New Value] as float) is null OR (TRY_PARSE([New Value] as float)is not null AND CHARINDEX('.',[New Value]) = 0)) ) then [New Value] else null end,
	case when (TRY_PARSE([Initial Value] as datetime)is not null AND CHARINDEX('.',[Initial Value]) = 0)then  convert(datetime,[Initial Value]) else null end,
	case when (TRY_PARSE([New Value] as datetime)is not null AND CHARINDEX('.',[New Value]) = 0) then  convert(datetime,[New Value]) else null end,
	case when (TRY_PARSE([Initial Value] as float)is not null AND CHARINDEX('.',[Initial Value]) > 0) then  convert(money,[Initial Value]) else null end,
	case when (TRY_PARSE([New Value] as float)is not null AND CHARINDEX('.',[New Value]) > 0) then  convert(money,[New Value]) else null end
	from #TempChanges a
	inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
	order by claimid, Field, ExtractDate

 Update r


   set r.SequenceOfChange = b.SequenceOfChange


  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]r

Inner join
		(
		select 
		Claimid, 
		[ExtractSourceID],
		Field,
		ExtractDate,
		RANK() OVER(PARTITION BY [ExtractSourceID],[ClaimId],Field ORDER BY ExtractDate) as SequenceOfChange
		from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]
		) as  B on b.ClaimId = r.claimid
			and b.ExtractDate = r.ExtractDate
			and b.Field = r.Field
			and b.[ExtractSourceID] = r.[ExtractSourceID]
 

    Update s


   set s.LastForDay = case when b.LastForDay = s.SequenceOfChange then 1 else null end


  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]s

left join
		(
		select 
		[ExtractSourceID],
		Claimid, 
		Field,
		Convert(Date,ExtractDate) as ExtractDate,
		 Max(SequenceOfChange) as LastForDay
		from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]
	 
		Group by
		[ExtractSourceID], 
		Claimid, 
		Field,
		Convert(Date,ExtractDate)
		) as  B on b.ClaimId = s.claimid
			and b.ExtractDate = Convert(Date,s.ExtractDate)
			and b.Field = s.Field
			and b.[ExtractSourceID] = s.[ExtractSourceID]
 
 
  drop table #TempHistory
 drop table #TempHistoryA
 drop table #TempChanges
 drop table #TempChangesX
 
 End

 --delete from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where field = 'DateKey'
 --select *  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where ExtractSourceID = 13 order by claimid, ExtractHistoryId
  --select *  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] order by claimid, ExtractHistoryId
   --select *  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where claimid = 12658 and field = 'ClaimStatusTypeName'
   --   select *  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where claimid = 12658  order by claimid, ExtractHistoryId
	  --select *  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where OldDateTime is null and NewDateTime is not null order by claimid, ExtractHistoryId
