USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Member_Table]    Script Date: 13/09/2018 11:19:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_Update_Member_Table]

 AS
 BEGIN





if OBJECT_ID('[NHR Data Mart Test].[dbo].[Member]') is not null
	drop table [NHR Data Mart Test].[dbo].[Member]




if OBJECT_ID('tempdb..#sum23') is not null
	drop table #sum23

	;WITH baseData AS 
	
		(
		SELECT *
FROM OPENQUERY([ldndw1\reporting], '
		SELECT
		RANK() OVER(PARTITION BY M.MemberNum order by S.SpecialityName) as RowNum, 
		ltrim(rtrim(M.MemberNum)) as MemberNum,
		ltrim(rtrim(m.MemberId)) as MemberID,
		ltrim(rtrim(O.OrgName)) as OrgName, 
		ltrim(rtrim(o.Postcode)) as PostCode,
		LEFT(ltrim(rtrim(o.Postcode)), CASE WHEN charindex('' '', ltrim(rtrim(o.Postcode))) = 0 THEN 
    LEN(ltrim(rtrim(o.Postcode))) ELSE charindex('' '', ltrim(rtrim(o.Postcode))) - 1 END) as PostCodePrefix,
		M.Dissolved,
		ltrim(rtrim(M.NHSCode)) as NHSCode, 
		ltrim(rtrim(SH.StHAName)) as StHAName, 
		ltrim(rtrim(S.SpecialityName)) as SpecialityName,
		ltrim(rtrim(t.MemberTypeName)) as MemberType

		FROM [ClaimsManagement].[dbo].[Member]M

		INNER JOIN [ClaimsManagement].[dbo].[Organisation] O ON O.OrganisationId = M.MemberId
		LEFT JOIN [ClaimsManagement].[dbo].[stHA] SH on M.StHAId = SH.StHAId
		LEFT JOIN [ClaimsManagement].[dbo].[MemberSpeciality] MS on M.MemberId = MS.MemberId
		LEFT JOIN [ClaimsManagement].[dbo].[Speciality] S on MS.SpecialityID = S.SpecialityId 
		left join [ClaimsManagement].[dbo].[MemberType]t on t.membertypeid = m.membertypeid
		WHERE Dissolved = 0 
		--and Left(ltrim(rtrim(M.MemberNum)),1) in (''F'',''T'',''C'',''G'',''I'',''S'')')

		) ,
		
	contactNames AS

	(
	SELECT *
FROM OPENQUERY([ldndw1\reporting], '
	select 
	distinct
	d.MemberId,
	d.MemberNum,
	e.MemberRoleName as  JobTitle,
	e.RankMember,
	e.MemberRoleId
	from  [ClaimsManagement].[dbo].[MemberFixedRole]a

	inner join [ClaimsManagement].[dbo].[Member]d on d.MemberId = a.MemberId
	cross join
		(
		select 
		RANK() OVER( order by  MemberRoleId) as RankMember,
		MemberRoleId,
		MemberRolename
		from [ClaimsManagement].[dbo].[MemberRole] where MemberRoleId in (1,2,3,4,5,9,10,11,19,29)
			)e
	where d.Dissolved = 0 ')
	
	)
	


	
		select
		distinct
		a.MemberId,
		a.MemberNum,
		a.RankMember as RowNum,  
		f.Title+' '+f.FirstName+' '+f.Surname as ContactName,
		a.JobTitle,
		g.NHSCode, 
		g.PostCode,
		PostCodePrefix,
		g.OrgName, 
		g.StHAName,
		coalesce(c.SpecialtyName,d.SpecialtyName) as SpecialityName, 
		g.MemberType,
		case when b.MemberNum is not null then 'Y' else null end as [Maternity Flag],
		a.MemberRoleId

		into #sum23

		from [contactNames]a
		left join [ldndw1\reporting].[ClaimsManagement].[dbo].[MemberFixedRole]dd on dd.MemberId = a.MemberId
														and dd.MemberRoleId = a.MemberRoleId
		left join [ldndw1\reporting].[ClaimsManagement].[dbo].[Contact]f on f.ContactId = dd.ContactId
		left join [basedata]g on g.MemberId = a.MemberId
		 outer apply
				(
				select 
				distinct
				 MemberNum 
				 from basedata 
				 where ltrim(rtrim(SpecialityName)) = 'Maternity'
				and MemberNum = a.MemberNum 
				) b
		outer apply
				(
				select 
				distinct
				 MemberNum,
				 ltrim(rtrim(SpecialityName)) as SpecialtyName
				 from basedata 
				 where ltrim(rtrim(SpecialityName)) <> 'Maternity'
				and MemberNum = a.MemberNum 
				) c
			outer apply
				(
				select 
				distinct
				 MemberNum,
				 ltrim(rtrim(SpecialityName)) as SpecialtyName
				 from basedata 
				 where ltrim(rtrim(SpecialityName)) = 'Maternity'
				and MemberNum = a.MemberNum 
				and MemberNum <> c.MemberNum 
				) d

	 

 DECLARE @SQL VARCHAR(MAX) = 
			'SELECT 
			memberNum,
			OrgName,
			a.PostCode,
			PostCodePrefix, 
			NHSCode,
			StHAName,
			SpecialityName,
			MemberType,
			[Maternity Flag],
			[eastings]
		  ,[northings]
		  ,[latitude]
		  ,[longitude]
		  ,[town]
		  ,[region]
		  ,[uk_region]
		  ,[country]
		  ,[country_string]
		  ,[HEE_Region]
		  ,[Map_Region]
		  ,[AreaShape]
		  ,[LengthShape]
		  ,[Geometry] ';
			SELECT @SQL += ', MAX(CASE WHEN rownum = ' + CONVERT(VARCHAR, rownum) + ' THEN ContactName END) AS ['+ JobTitle + ']'
			FROM (SELECT DISTINCT rownum,JobTitle FROM #sum23  where rownum <= (select max(rownum) from #sum23)) AS T ORDER BY T.rownum;
SET @SQL += 'into [NHR Data Mart Test].[dbo].[Member]
 
			FROM [#sum23]a 
			left join [NHR Data Mart Test].[dbo].[POSTCODES]b on b.postcode = a.PostcodePrefix
 
			GROUP BY MemberNum,
			OrgName,
			a.PostCode,
			PostCodePrefix,
			NHSCode,
			StHAName,
			SpecialityName,
			MemberType,
			[Maternity Flag],
			[eastings]
		  ,[northings]
		  ,[latitude]
		  ,[longitude]
		  ,[town]
		  ,[region]
		  ,[uk_region]
		  ,[country]
		  ,[country_string]
		  ,[HEE_Region]
		  ,[Map_Region]
		  ,[AreaShape]
		  ,[LengthShape]
		  ,[Geometry] ;';

EXECUTE (@SQL);

end
--select * from [NHR Data Mart Test].[dbo].[Member] order by postcodePrefix
 