USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_ClaimGeneral_ExtractHistoryEpisodes]    Script Date: 28/08/2018 08:38:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_Update_ClaimGeneral_ExtractHistoryEpisodes]

 AS
 BEGIN

 /**
 --Populate Staging Table from Informatics delta Feeds
 -- 19/07/2018 Added  [Void Claim Flag] as [VoidClaimFlag], [SchemeAbbrev adj] as [SchemeAbbrevAdj], [Clinical / Non Clinical] as [ClinicalNonClinical],
        [Successful/Unsuccessful] as [SuccessfulUnsuccessful],[Closure Date (Settlement Year for PPOs)] as [ClosureDateSettlementDateForPPOs]
        [InternalGroupedClaimsCode],[InternalGroupedClaimsDescription]
		- The last two are additional data columns (i.e. they need to be populated. The previous ones are merely to add user functionality to claimGeneral in the warehouse. 
		(i.e. they are derived and can be derived from the data currently held in the episodes table (if a change has occurred))
	  **/

if OBJECT_ID('[NHR Data Mart Test].[Staging].[ClaimGeneral]') is Not Null
drop table [NHR Data Mart Test].[Staging].[ClaimGeneral]



 select
	   [ClaimId]
      ,[ClaimRef]
      ,[OldRef]
      ,[ClaimantFirstName]
      ,[ClaimantSurname]
      ,[PatientFirstName]
      ,[PatientSurname]
      ,[ScheduleName]
      ,[ClaimStatusTypeName]
      ,[CurrentStatusType]
      ,[StatusDateChange]
      ,[SettlementDate]
      ,[IncidentDate]
      ,[NotificationDate]
      ,[DateOfEntry]
      ,[CreationDate]
      ,[OpenDate]
      ,[CloseDate]
      ,[SchemeAbbrev]
      ,[MemberCode]
      ,[MemberName]
      ,[MemberRef]
      ,[GroupedClaimsCode]
      ,[GroupedClaimsDescription]
      ,[SiteCode]
      ,[SiteName]
      ,[EstSettlementDate]
      ,[IncidentDescription]
      ,[UserWhoEnteredFirstName]
      ,[UserWhoEnteredSurname]
      ,[HandlerFirstName]
      ,[HandlerSurname]
      ,[TotalClaim]
      ,[TotalOSEstimate]
      ,[OSDamages]
      ,[OSDefenceCosts]
      ,[OSPlaintifCosts]
      ,[TotalPaid]
      ,[DamagesPaid]
      ,[DefenceCostsPaid]
      ,[ClaimantCostsPaid]
      ,[NHSLAPayments]
      ,[MemberPayments]
      ,[NHSLADefenceCostsPaid]
      ,[ApplicableExcess]
      ,[ActualExcessRPSTOnly]
      ,[NHSLAFunded]
      ,[InquestCosts]
      ,[Mediation]
      ,[Probability]
      ,[PercentageShare]
      ,[DefenceSolicitorId]
      ,[SolicitorDescription]
      ,[SolicitorRef]
      ,[DefenceSolicitorName]
      ,[ClaimantSolicitorOrganisationId]
      ,[ClaimantSolicitor]
      ,[PendingFirstReserve]
      ,[PortalClaim]
      ,[ExitReason]
      ,[ExitComments]
      ,[ExitedBy]
      ,[ClaimType]
      ,[CMSTimestamp]
      ,[ExtractDate]
      ,[DailyLoadNumber]
      ,[Void Claim Flag] as [VoidClaimFlag]
      ,[SchemeAbbrev adj] as [SchemeAbbrevAdj]
      ,[Clinical / Non Clinical] as [ClinicalNonClinical]
      ,[Successful/Unsuccessful] as [SuccessfulUnsuccessful]
      ,[Closure Date (Settlement Year for PPOs)] as [ClosureDateSettlementDateForPPOs]
      ,[InternalGroupedClaimsCode]
      ,[InternalGroupedClaimsDescription]
 
 into  [NHR Data Mart Test].[Staging].[ClaimGeneral] 

 from [ldndw1\reporting].[Informatics_Reporting].[staging].[ClaimGeneral] WITH (NOLOCK)
-----------------------------------------------------------------------------------------------------------------------------------------------
	
	
	
	-- Remove duplicate rows (occur when testing takes place)
	
	delete a 
	FROM [NHR Data Mart Test].[dbo].[ClaimGeneral]a
	  inner join
	  (
	select 
	Claimid,
	ROW_NUMBER() OVER(PARTITION BY 
					 [ClaimId]
				
				ORDER BY [ExtractDate]) AS RowNum
	FROM [NHR Data Mart Test].[dbo].[ClaimGeneral] 
	) b on b.ClaimId = a.ClaimId
	where b.RowNum > 1
 --Get a unique list of ClaimID's from delta that either don't exist in the Warehouse claimGeneral or have changed---

if OBJECT_ID('tempdb..#TempHistory') is Not Null
 drop table #TempHistory

SELECT 
distinct

a.ClaimId,
a.extractDate

into #temphistory

FROM [NHR Data Mart Test].[Staging].[ClaimGeneral] a WITH (NOLOCK) JOIN [NHR Data Mart Test].[dbo].[ClaimGeneral] b WITH (NOLOCK)
ON a.ClaimId = b.ClaimId
WHERE
(
ISNULL(a.ClaimId,0) <> ISNULL(b.ClaimId,0) OR
ISNULL(a.ClaimRef,'') <> ISNULL(b.ClaimRef,'') OR
ISNULL(a.OldRef,'') <> ISNULL(b.OldRef,'') OR
ISNULL(a.ClaimantFirstName,'') <> ISNULL(b.ClaimantFirstName,'') OR
ISNULL(a.ClaimantSurname,'') <> ISNULL(b.ClaimantSurname,'') OR
ISNULL(a.PatientFirstName,'') <> ISNULL(b.PatientFirstName,'') OR
ISNULL(a.PatientSurname,'') <> ISNULL(b.PatientSurname,'') OR
ISNULL(a.ScheduleName,'') <> ISNULL(b.ScheduleName,'') OR
ISNULL(a.ClaimStatusTypeName,'') <> ISNULL(b.ClaimStatusTypeName,'') OR
ISNULL(a.CurrentStatusType,'') <> ISNULL(b.CurrentStatusType,'') OR
ISNULL(a.StatusDateChange,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.StatusDateChange,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.SettlementDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.SettlementDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.IncidentDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.IncidentDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.NotificationDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.NotificationDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.DateOfEntry,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.DateOfEntry,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.CreationDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.CreationDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.OpenDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.OpenDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.CloseDate,CONVERT(datetime,'01/01/1800')) <> ISNULL(b.CloseDate,CONVERT(datetime,'01/01/1800')) OR
ISNULL(a.SchemeAbbrev,'') <> ISNULL(b.SchemeAbbrev,'') OR
ISNULL(a.MemberCode,'') <> ISNULL(b.MemberCode,'') OR
ISNULL(a.MemberName,'') <> ISNULL(b.MemberName,'') OR
ISNULL(a.MemberRef,'') <> ISNULL(b.MemberRef,'') OR
ISNULL(a.GroupedClaimsCode,'') <> ISNULL(b.GroupedClaimsCode,'') OR
ISNULL(a.GroupedClaimsDescription,'') <> ISNULL(b.GroupedClaimsDescription,'') OR
ISNULL(a.SiteCode,'') <> ISNULL(b.SiteCode,'') OR
ISNULL(a.SiteName,'') <> ISNULL(b.SiteName,'') OR
ISNULL(a.EstSettlementDate,0) <> ISNULL(b.EstSettlementDate,0) OR
ISNULL(a.IncidentDescription,'') <> ISNULL(b.IncidentDescription,'') OR
ISNULL(a.UserWhoEnteredFirstName,'') <> ISNULL(b.UserWhoEnteredFirstName,'') OR
ISNULL(a.UserWhoEnteredSurname,'') <> ISNULL(b.UserWhoEnteredSurname,'') OR
ISNULL(a.HandlerFirstName,'') <> ISNULL(b.HandlerFirstName,'') OR
ISNULL(a.HandlerSurname,'') <> ISNULL(b.HandlerSurname,'') OR
ISNULL(a.TotalClaim,0.0) <> ISNULL(b.TotalClaim,0.0) OR
ISNULL(a.TotalOSEstimate,0.0) <> ISNULL(b.TotalOSEstimate,0.0) OR
ISNULL(a.OSDamages,0.0) <> ISNULL(b.OSDamages,0.0) OR
ISNULL(a.OSDefenceCosts,0.0) <> ISNULL(b.OSDefenceCosts,0.0) OR
ISNULL(a.OSPlaintifCosts,0.0) <> ISNULL(b.OSPlaintifCosts,0.0) OR
ISNULL(a.TotalPaid,0.0) <> ISNULL(b.TotalPaid,0.0) OR
ISNULL(a.DamagesPaid,0.0) <> ISNULL(b.DamagesPaid,0.0) OR
ISNULL(a.DefenceCostsPaid,0.0) <> ISNULL(b.DefenceCostsPaid,0.0) OR
ISNULL(a.ClaimantCostsPaid,0.0) <> ISNULL(b.ClaimantCostsPaid,0.0) OR
ISNULL(a.NHSLAPayments,0.0) <> ISNULL(b.NHSLAPayments,0.0) OR
ISNULL(a.MemberPayments,0.0) <> ISNULL(b.MemberPayments,0.0) OR
ISNULL(a.NHSLADefenceCostsPaid,0.0) <> ISNULL(b.NHSLADefenceCostsPaid,0.0) OR
ISNULL(a.ApplicableExcess,0.0) <> ISNULL(b.ApplicableExcess,0.0) OR
ISNULL(a.ActualExcessRPSTOnly,0.0) <> ISNULL(b.ActualExcessRPSTOnly,0.0) OR
ISNULL(a.NHSLAFunded,0.0) <> ISNULL(b.NHSLAFunded,0.0) OR
ISNULL(a.InquestCosts,0) <> ISNULL(b.InquestCosts,0) OR
ISNULL(a.Mediation,0) <> ISNULL(b.Mediation,0) OR
ISNULL(a.Probability,'') <> ISNULL(b.Probability,'') OR
ISNULL(a.PercentageShare,0) <> ISNULL(b.PercentageShare,0) OR
ISNULL(a.DefenceSolicitorId,0) <> ISNULL(b.DefenceSolicitorId,0) OR
ISNULL(a.SolicitorDescription,'') <> ISNULL(b.SolicitorDescription,'') OR
ISNULL(a.SolicitorRef,'') <> ISNULL(b.SolicitorRef,'') OR
ISNULL(a.DefenceSolicitorName,'') <> ISNULL(b.DefenceSolicitorName,'') OR
ISNULL(a.ClaimantSolicitorOrganisationId,0) <> ISNULL(b.ClaimantSolicitorOrganisationId,0) OR
ISNULL(a.ClaimantSolicitor,'') <> ISNULL(b.ClaimantSolicitor,'') OR
ISNULL(a.PendingFirstReserve,0) <> ISNULL(b.PendingFirstReserve,0) OR
ISNULL(a.PortalClaim,0) <> ISNULL(b.PortalClaim,0) OR
ISNULL(a.ExitReason,'') <> ISNULL(b.ExitReason,'') OR
ISNULL(a.ExitComments,'') <> ISNULL(b.ExitComments,'') OR
ISNULL(a.ExitedBy,'') <> ISNULL(b.ExitedBy,'') OR
ISNULL(a.ClaimType,'') <> ISNULL(b.ClaimType,'') OR
ISNULL(a.[VoidClaimFlag],'') <> ISNULL(b.[VoidClaimFlag],'') OR
ISNULL(a.[SchemeAbbrevAdj],'') <> ISNULL(b.[SchemeAbbrevadj],'') OR
ISNULL(a.[ClinicalNonClinical],'') <> ISNULL(b.[ClinicalNonClinical],'') OR
ISNULL(a.[SuccessfulUnsuccessful],'') <> ISNULL(b.[SuccessfulUnsuccessful],'') OR
ISNULL(a.[ClosureDateSettlementDateForPPOs],'') <> ISNULL(b.[ClosureDateSettlementDateForPPOs],'') OR
ISNULL(a.[InternalGroupedClaimsCode],'') <> ISNULL(b.[InternalGroupedClaimsCode],'') OR
ISNULL(a.[InternalGroupedClaimsDescription],'') <> ISNULL(b.[InternalGroupedClaimsDescription],'') 
)
and ISNULL(b.ExtractDate,'')  <  ISNULL(a.ExtractDate,'') 

-------------------------------------------------------------------------------------------------------------------------------------

--Sequence Changed rows for populating events table

if OBJECT_ID('tempdb..#TempHistoryA') is Not Null
 drop table #TempHistoryA
  select 
  *
  into #TempHistoryA
  from(

  select
  * 
  , 1 as Version
 
  ,null as DeleteFlag
  

   FROM [NHR Data Mart Test].[dbo].[ClaimGeneral] WITH (NOLOCK)
   where ClaimID in (select distinct claimid  FROM #TempHistory)

   union all

 
  SELECT 
		b.PK_DateKey as DateKey
	  ,a.*
	  ,(RANK() OVER(PARTITION BY a.[ClaimId] ORDER BY a.[ExtractDate])) + 1 as Version
 
     ,null as DeleteFlag

  FROM [NHR Data Mart Test].[Staging].[ClaimGeneral]a WITH (NOLOCK)
    inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
    inner join #temphistory c on c.claimid = a.claimid
							 and a.extractdate >= c.extractdate 

  )d
  Order by claimid, Version

  Update r

  set r.Version = b.version


  from [#TempHistoryA]r

Inner join
		(
		select 
		Claimid, 
		Version,
		RANK() OVER(PARTITION BY [ClaimId] ORDER BY Version) as NEwOrder
		from [#TempHistoryA]
		) as  B on b.ClaimId = r.claimid
			and b.Version = r.version



 
  


 if OBJECT_ID('tempdb..#TempChangesX') is Not Null
 drop table #TempChangesX

DECLARE @x xml

SET @x = (
   SELECT  
        t2.ClaimID AS [@key]
      , t2.Version AS [@version]
      , ( SELECT t1.* FOR XML PATH('t1'), TYPE ,ELEMENTS XSINIL) AS [*]
      , ( SELECT t2.* FOR XML PATH('t2'), TYPE ,ELEMENTS XSINIL) AS [*]
   FROM #TempHistoryA AS t1
   INNER JOIN #TempHistoryA AS t2
   ON t1.ClaimID = t2.ClaimID
   AND t1.Version = t2.Version - 1
   FOR XML   PATH('row'), ROOT('root')
   --FOR XML AUTO  , ROOT('root') , ELEMENTS XSINIL
   );
  --select @x
   

--WITH Nodes AS (
   SELECT
        C.value('../../@key', 'int') AS [Key]
      , C.value('../../@version', 'int') AS Version_ID
      , C.value('local-name(..)', 'varchar(255)')AS Version_Alias
      , C.value('local-name(.)', 'varchar(255)') AS Field
      , C.value('.', 'varchar(max)') AS Val
	  --, C.value('not(@xsi:nil = "true")','varchar(max)') AS Val
	  into #TempChangesX

   FROM @x.nodes('/root/row/*/*') AS T(C)
   --)
   --select * from #TempChangesX
      --select * from #TempChanges
    if OBJECT_ID('tempdb..#TempChanges') is Not Null
	drop table #TempChanges
	SELECT 
	[Key] as ClaimID,
	x.ExtractDate, 
	Field
	, case when Max(CASE Version_Alias WHEN 't1' THEN Val END) = '' then null else Max(CASE Version_Alias WHEN 't1' THEN Val END) end  AS [Initial Value]
	, case when Max(CASE Version_Alias WHEN 't2' THEN Val END) = '' then null else Max(CASE Version_Alias WHEN 't2' THEN Val END) end  AS [New Value]

	Into #TempChanges

	FROM [#TempChangesX]v
	inner join [#TempHistoryA]x on x.ClaimId = v.[Key]
						and x.Version = v.Version_ID
						--and x.ExtractDate = v.
	where Field not in ('CMSTimestamp','ExtractDate','Version','DailyLoadNumber','DateKey')

	GROUP BY 
	[Key],
	x.ExtractDate,
	Field
	HAVING Max(CASE Version_Alias WHEN 't1' THEN Val END) <> Max(CASE Version_Alias WHEN 't2' THEN Val END)

 

delete from  [NHR Data Mart Test].[dbo].[ClaimGeneral] where ClaimID in (select distinct claimid  FROM #TempHistoryA)

 update a
		set a.DeleteFlag = 1
 from [#TempHistoryA]a
 inner join(
			select 
			claimid, 
			max(Version) as LastVersion  
			FROM #TempHistoryA  
			  
			group by ClaimId
			) b on b.ClaimId = a.ClaimId 
			and b.LastVersion <> a.Version
 



delete   from [#TempHistoryA] where DeleteFlag = 1 --get only latest version to replace what is in Warehouse ClaimGeneral



 --select * from [ldndw1\reporting].[Informatics_Reporting].[staging].[ClaimGeneral]  where claimid = 221869
--seleckt * from [NHR Data Mart Test].[dbo].[ClaimGeneral] where claimid = 91897
--select * from [#TempHistoryA]  where claimid = 249710
--select * from #TempChanges where claimid = 249710
--select * from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where claimid = 249710


insert into [NHR Data Mart Test].[dbo].[ClaimGeneral]
select
		b.ID as DateKey
	  ,[ClaimId]
      ,[ClaimRef]
      ,[OldRef]
      ,[ClaimantFirstName]
      ,[ClaimantSurname]
      ,[PatientFirstName]
      ,[PatientSurname]
      ,[ScheduleName]
      ,[ClaimStatusTypeName]
      ,[CurrentStatusType]
      ,[StatusDateChange]
      ,[SettlementDate]
      ,[IncidentDate]
      ,[NotificationDate]
      ,[DateOfEntry]
      ,[CreationDate]
      ,[OpenDate]
      ,[CloseDate]
      ,[SchemeAbbrev]
      ,[MemberCode]
      ,[MemberName]
      ,[MemberRef]
      ,[GroupedClaimsCode]
      ,[GroupedClaimsDescription]
      ,[SiteCode]
      ,[SiteName]
      ,[EstSettlementDate]
      ,[IncidentDescription]
      ,[UserWhoEnteredFirstName]
      ,[UserWhoEnteredSurname]
      ,[HandlerFirstName]
      ,[HandlerSurname]
      ,[TotalClaim]
      ,[TotalOSEstimate]
      ,[OSDamages]
      ,[OSDefenceCosts]
      ,[OSPlaintifCosts]
      ,[TotalPaid]
      ,[DamagesPaid]
      ,[DefenceCostsPaid]
      ,[ClaimantCostsPaid]
      ,[NHSLAPayments]
      ,[MemberPayments]
      ,[NHSLADefenceCostsPaid]
      ,[ApplicableExcess]
      ,[ActualExcessRPSTOnly]
      ,[NHSLAFunded]
      ,[InquestCosts]
      ,[Mediation]
      ,[Probability]
      ,[PercentageShare]
      ,[DefenceSolicitorId]
      ,[SolicitorDescription]
      ,[SolicitorRef]
      ,[DefenceSolicitorName]
      ,[ClaimantSolicitorOrganisationId]
      ,[ClaimantSolicitor]
      ,[PendingFirstReserve]
      ,[PortalClaim]
      ,[ExitReason]
      ,[ExitComments]
      ,[ExitedBy]
      ,[ClaimType]
      ,[CMSTimestamp]
      ,[ExtractDate]
      ,[DailyLoadNumber]
	  ,[VoidClaimFlag]
      ,[SchemeAbbrevadj]
      ,[ClinicalNonClinical]
      ,[SuccessfulUnsuccessful]
      ,[ClosureDateSettlementDateForPPOs]
      ,[InternalGroupedClaimsCode]
      ,[InternalGroupedClaimsDescription]
	  from [#TempHistoryA]a
	  inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)


	  --Add claims that currently do not exist:

			--An attempt to speed things up...
			 if OBJECT_ID('tempdb..#TempClaimID') is Not Null
			drop table #TempClaimID
			 select distinct  claimid into #TempClaimID from [NHR Data Mart Test].[dbo].[ClaimGeneral]
	  
 
insert into [NHR Data Mart Test].[dbo].[ClaimGeneral]
select
		b.ID as DateKey
	  ,a.[ClaimId]
      ,[ClaimRef]
      ,[OldRef]
      ,[ClaimantFirstName]
      ,[ClaimantSurname]
      ,[PatientFirstName]
      ,[PatientSurname]
      ,[ScheduleName]
      ,[ClaimStatusTypeName]
      ,[CurrentStatusType]
      ,[StatusDateChange]
      ,[SettlementDate]
      ,[IncidentDate]
      ,[NotificationDate]
      ,[DateOfEntry]
      ,[CreationDate]
      ,[OpenDate]
      ,[CloseDate]
      ,[SchemeAbbrev]
      ,[MemberCode]
      ,[MemberName]
      ,[MemberRef]
      ,[GroupedClaimsCode]
      ,[GroupedClaimsDescription]
      ,[SiteCode]
      ,[SiteName]
      ,[EstSettlementDate]
      ,[IncidentDescription]
      ,[UserWhoEnteredFirstName]
      ,[UserWhoEnteredSurname]
      ,[HandlerFirstName]
      ,[HandlerSurname]
      ,[TotalClaim]
      ,[TotalOSEstimate]
      ,[OSDamages]
      ,[OSDefenceCosts]
      ,[OSPlaintifCosts]
      ,[TotalPaid]
      ,[DamagesPaid]
      ,[DefenceCostsPaid]
      ,[ClaimantCostsPaid]
      ,[NHSLAPayments]
      ,[MemberPayments]
      ,[NHSLADefenceCostsPaid]
      ,[ApplicableExcess]
      ,[ActualExcessRPSTOnly]
      ,[NHSLAFunded]
      ,[InquestCosts]
      ,[Mediation]
      ,[Probability]
      ,[PercentageShare]
      ,[DefenceSolicitorId]
      ,[SolicitorDescription]
      ,[SolicitorRef]
      ,[DefenceSolicitorName]
      ,[ClaimantSolicitorOrganisationId]
      ,[ClaimantSolicitor]
      ,[PendingFirstReserve]
      ,[PortalClaim]
      ,[ExitReason]
      ,[ExitComments]
      ,[ExitedBy]
      ,[ClaimType]
      ,[CMSTimestamp]
      ,[ExtractDate]
      ,[DailyLoadNumber]
	  ,[Void Claim Flag] as [VoidClaimFlag]
      ,[SchemeAbbrev adj] as [SchemeAbbrevadj]
      ,[Clinical / Non Clinical] as [ClinicalNonClinical]
      ,[Successful/Unsuccessful] as [SuccessfulUnsuccessful]
      ,[Closure Date (Settlement Year for PPOs)] as [ClosureDateSettlementDateForPPOs]
      ,[InternalGroupedClaimsCode]
      ,[InternalGroupedClaimsDescription]
	  from [ldndw1\reporting].[Informatics_Reporting].[etl].[ClaimGeneral]a WITH (NOLOCK)
	  inner join [ldndw1\reporting].[Informatics_Reporting].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
	  --where not exists (select claimid from [NHR Data Mart Test].[dbo].[ClaimGeneral]where ClaimId = a.claimid)
	  left join #TempClaimID c on c.claimid = a.claimid	

	  where c.claimid is null


	   

	  --Populate stuff into episodes table

	INSERT INTO [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes](
																	[ExtractSourceID],
																	[DateKey],
																	Claimid,
																	[ExtractDate] ,
																	[Field],
																	[Initial Value],
																	[New Value],
																	OldDateTime,
																	NewDateTime,
																	OldMoneyValue,
																	NewMoneyValue 
																	)

	SELECT 
	(select [ExtractSourceID] from [ref].[ExtractSourceID] where TableName = 'ClaimGeneral' and TableSchema = 'dbo'),
	b.id as DateKey,
	Claimid,
	ExtractDate,
	Field,
	case when ((TRY_PARSE([Initial Value] as datetime)is null OR (TRY_PARSE([Initial Value] as datetime)is not null AND CHARINDEX('.',[Initial Value]) > 0)) AND (TRY_PARSE([Initial Value] as float) is null OR (TRY_PARSE([Initial Value] as float)is not null AND CHARINDEX('.',[Initial Value]) = 0)) ) then [Initial Value] else null end,
	case when ((TRY_PARSE([New Value] as datetime)is null OR (TRY_PARSE([New Value] as datetime)is not null AND CHARINDEX('.',[New Value]) > 0)) AND (TRY_PARSE([New Value] as float) is null OR (TRY_PARSE([New Value] as float)is not null AND CHARINDEX('.',[New Value]) = 0)) ) then [New Value] else null end,
	case when (TRY_PARSE([Initial Value] as datetime)is not null AND CHARINDEX('.',[Initial Value]) = 0)then  convert(datetime,[Initial Value]) else null end,
	case when (TRY_PARSE([New Value] as datetime)is not null AND CHARINDEX('.',[New Value]) = 0) then  convert(datetime,[New Value]) else null end,
	case when (TRY_PARSE([Initial Value] as float)is not null AND CHARINDEX('.',[Initial Value]) > 0) then  convert(money,[Initial Value]) else null end,
	case when (TRY_PARSE([New Value] as float)is not null AND CHARINDEX('.',[New Value]) > 0) then  convert(money,[New Value]) else null end
	from #TempChanges a
	inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
	order by claimid, Field, ExtractDate

 Update r


   set r.SequenceOfChange = b.SequenceOfChange


  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]r

Inner join
		(
		select 
		Claimid, 
		[ExtractSourceID],
		Field,
		ExtractDate,
		RANK() OVER(PARTITION BY [ExtractSourceID],[ClaimId],Field ORDER BY ExtractDate) as SequenceOfChange
		from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]
		) as  B on b.ClaimId = r.claimid
			and b.ExtractDate = r.ExtractDate
			and b.Field = r.Field
			and b.[ExtractSourceID] = r.[ExtractSourceID]
 
 
  Update s


   set s.LastForDay = case when b.LastForDay = s.SequenceOfChange then 1 else null end


  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]s

left join
		(
		select 
		[ExtractSourceID],
		Claimid, 
		Field,
		Convert(Date,ExtractDate) as ExtractDate,
		 Max(SequenceOfChange) as LastForDay
		from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]
	 
		Group by
		[ExtractSourceID], 
		Claimid, 
		Field,
		Convert(Date,ExtractDate)
		) as  B on b.ClaimId = s.claimid
			and b.ExtractDate = Convert(Date,s.ExtractDate)
			and b.Field = s.Field
			and b.[ExtractSourceID] = s.[ExtractSourceID]
 
	 drop table #TempHistory
	 drop table #TempHistoryA
	 drop table #TempChanges
	 drop table #TempChangesX

 End


 --select *  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] order by claimid, ExtractHistoryId

 --update r

	--	set r.DateKey = b.ID


 --from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]r
 --inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on convert(date,b.[Calendar Day]) = convert(date,r.ExtractDate)