USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__Activity_Data]    Script Date: 17/06/2020 13:16:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__Activity_Data] 
-- Amended for PD Upgrade
AS
BEGIN

 






			IF OBJECT_ID('tempdb..#MissingStuff') IS NOT NULL 
					 dROP TABLE #MissingStuff
		 select 
		   distinct
		   UserFullName as StaffFullName,
		   UserID as StaffUserID,
		   StaffEnterpriseID,
		   UserRegistryID as StaffRegistryID,
		   oRGANIZATIONrEGISTRYid AS pdregistryID,
		   OrganizationName as Team,
		   [Parent Org],
		   TeamType,
		   PostCode,
		   OrganisationCCG,
		   OrgSTP,
		   [NHS Region],
		 
		   deptenterpriseid as EnterpriseID
		   into #MissingStuff
  	from [ETL_Local_PROD].[dbo].[AT_Login_Details] with (nolock)

	 


--DROP INDEX  [AuditPatient_New].CMC_ID_Date

 

			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanData]
			select 
			a.PatAuditID,
			a.CMC_ID,
			actionTime,
			ActionType,
			comment,
			case ActionType when 'custom-consent_removed' then 'delete' else REPLACE(ActionType,'custom-','') end as DerivedActionType,
			ActionTypeOrder as ActivityOrderNo,
			OverAllOrder,
			y.STAFFEnterpriseID,
		
			y.StaffUserId as [StaffUserId],
			y.StaffODSCode as ODSCode,
			y.StaffActiveDescription as[StaffActiveDescription],
			y.StaffProviderTypeDescription,
 
			y.StaffForename +' ' + y.StaffSurname as StaffFullName,
 
			a.StaffRegistryId,
	 
			a.DeptPDRegistryID   as PDRegistryID,
 
			z.Organization as  [ItemId],
			z.DeptName as [Team],
			cast(null as [nvarchar](255)) as [Parent Org],
			cast(null as [varchar](255)) as [TeamType],
			cast(null as [varchar](255)) as [PostCode],
			cast(null as varchar(255)) as OrganisationCCG,
			cast(null as varchar(255)) as OrgSTP,
			cast(null as varchar(255)) as [NHS Region],
			z.DeptODSCode,
 
			z.deptEnterpriseID as EnterpriseID,
			cast(null as [nvarchar](max)) as [PatientCCG],
			cast(null as [varchar](50)) as [PatientSTP],

			LoginReference,
			z.Organization as CMC_OrItem,
			y.Individual CMC_Individual_ItemID,
			y.StaffRegistryId as CMC_Individual_PDRegistryID,
 
			cast(null as varchar(9))  as App
		 

  
		  into [ETL_Local_PROD].[dbo].[AT_CarePlanData]


		  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a with (nolock)
		  left join [ETL_Local_PROD].[dbo].[AT_Staff]y on y.StaffRegistryId = a.StaffRegistryId	
		left join [ETL_Local_PROD].[dbo].[AT_PD_Dept] z on z.DeptPDRegistryID = a.DeptPDRegistryID

		order by a.ActionTime

		--select top 5 * from [ETL_Local_PROD].[dbo].[AuditPatient_New]
		--select top 5 * from [ETL_Local_PROD].[dbo].[AT_Staff]
		--select top 5 * from ETL_PROD.dbo.CMC_Individual 
		--select top 5  * from [ETL_Local_PROD].[dbo].[AT_PD_Dept]#
		--select top 5 * from [ETL_PROD].[dbo].[CMC_Organization]
	
					IF OBJECT_ID('tempdb..#ProviderTypes') IS NOT NULL 
					 dROP TABLE #ProviderTypes
					 select  
					 *,
					 ROW_NUMBER() over (PARTITION by individual order by individual) as rn 
					 into #ProviderTypes
					 from ETL_PROD.dbo.CMC_Individual_ProviderTypes with (nolock)

 

 



 
 
--CREATE NONCLUSTERED INDEX CMC_ID_Date
--ON [ETL_Local_PROD].[dbo].[AuditPatient_New](CMC_ID,actionTime);


  update r

			set	
			
			r.app = case Domain when '%HS_EMIS' then 'EMIS' when '%HS_PC' then 'Portal' when '%HS_Smartcard' then 'Smartcard' else 'CMC' end

 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r

	left join [ETL_PROD].[dbo].[CMC_AuditLogin]aa with (nolock) on aa.ItemId = r.LoginReference

	 update r

			set	
			 --StaffUserId = cc.UserID,
			
			----StaffActiveDescription = tu.Description,
			--StaffProviderTypeDescription = tt.Description,
			[Parent Org] = f.[Parent Org],
			TeamType = f.TeamType,
		    PostCode = cast(f.POSTCODE as varchar(255)),
 
			PatientCCG = coalesce(g.CCG,'(Care plan not currently published)'),
			PatientSTP = j.STP,
			r.OrganisationCCG = f.[Team Specified CCG]

	 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
	left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on f.ActivityTeam = r.team
	left join [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]g with (nolock) on g.CMC_ID = r.CMC_ID
	left join [ETL_Local_PROD].[Reference].[STP]j on j.CCGLONG_TRUNC = g.CCG



 

	 update r

			set	
			 
			StaffProviderTypeDescription =  tt.Description 
	 

	 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
 
 
	left join #ProviderTypes pt on pt.Individual = CMC_Individual_ItemID  and pt.rn=1
	left join ETL_PROD.dbo.Coded_IndType tt  with (nolock)on tt.Code =  pt.ProviderType  
	where StaffProviderTypeDescription is null
 



 update a

    set a.PostCode = coalesce(hh.Postcode,g.postcode)


  from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]a

	left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]g on g.[Organisation Code] = DEptODSCode
	left join [ETL_Local_PROD].[ODSData].[searchods]hh on hh.ODS = DEptODSCode

	where a.PostCode is null


--select   * from [ETL_Local_PROD].[ODSData].[searchods] where Postcode = 'N12 8TT'
	


	update a

		set a.PostCode = coalesce(hhh.postcode,gg.postcode,hhhh.postcode,ggg.postcode)



	from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]a

	left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]gg on gg.[Organisation Name] = a.Team
	left join [ETL_Local_PROD].[ODSData].[searchods]hhh on hhh.[Team or GP] = a.Team
		left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]ggg on ggg.[Organisation Name] = a.[Parent Org]
	left join [ETL_Local_PROD].[ODSData].[searchods]hhhh on hhhh.[Parent] = a.[Parent Org]

	where a.PostCode is null

	if object_id('tempdb..#Temp1') is not null
	 drop table #Temp1

		select 
		distinct  
		ltrim(rtrim(REPLACE(CCG, ' CCG', ''))) as CCG, 
		STP,
		[NHS England REgion] 
		into #Temp1
		from [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]



	update f
			set		f.OrganisationCCG =  coalesce(f.OrganisationCCG,i.ccg),
					f.OrgSTP = coalesce(k.stp,i.stp),
					f.[NHS Region] = coalesce(k.[NHS England REgion],i.[NHS England REgion])


	from [ETL_Local_PROD].[dbo].[AT_CarePlanData]f
	left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = f.Postcode
	left join #Temp1 k on k.CCG = f.OrganisationCCG




		update r
				set r.ActivityOrderNo = a.RN2
		
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
		inner join 
					(
					select
					CMC_ID,
					DerivedActionType, 
					actiontime,
					ROW_NUMBER() OVER(PARTITION BY CMC_ID,DerivedActionType ORDER by actiontime  ) AS RN2
					from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		 
					)a on a.CMC_ID = r.CMC_ID
					and a.ActionTime = r.ActionTime
						and a.DerivedActionType = r.DerivedActionType



		-------------------------------------------------------------------------


			update rr
				set rr.postcode = x.postcode,
					rr.OrganisationCCG = x.OrganisationCCG,
					rr.OrgSTP = x.OrgSTP,
					rr.[NHS Region] = x.[NHS Region]

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]rr
		left join #MissingStuff x on x.StaffRegistryID = rr.StaffRegistryId
									and x.Team = rr.Team
where rr.OrganisationCCG is null


	update rr
				set rr.postcode = x.postcode,
					rr.OrganisationCCG = x.OrganisationCCG,
					rr.OrgSTP = x.OrgSTP,
					rr.[NHS Region] = x.[NHS Region],
					rr.Team = x.Team,
					rr.[Parent Org] = x.[Parent Org],
					rr.TeamType = x.TeamType,
					rr.EnterpriseID = x.EnterpriseID

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]rr
		left join #MissingStuff x on x.StaffRegistryID = rr.StaffRegistryId
									and x.pdregistryID  = rr.PDRegistryID
where rr.Team is null



			update r
		set OrganisationCCG  = REPLACE(OrganisationCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r


		update r
		set PatientCCG  = REPLACE(PatientCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r

 
		update r
		set PatientCCG  = REPLACE(PatientCCG, 'Cross Border: ', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r
		where charindex('Cross Border: ',PatientCCG)>0


	 
	--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] 

	--where cmc_id = 100077583	order by overallorder
	--select * from AT_Staff where left((StaffForename +' '+ StaffSurname),11) = 'JEan Harris'


IF OBJECT_ID('tempdb..#tempSingleLog') IS NOT NULL 
					 dROP TABLE #tempSingleLog
 
select
	   
       a.[SessionID]
      ,[Active]
      ,[UserRegistryID]
      ,[OrganizationRegistryID]
      ,a.[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
	  ,TeamType
	  ,[Parent Org]
	  ,ROW_NUMBER() OVER(PARTITION BY [UserRegistryID] ORDER by [LoginRowId],a.itemid  ASC) AS RN2
	  ,d.FirstSesionLogin as FinalLoginTime
	  ,c.LastSessionLogout as FinalLogoutTime
	  ,e.SessionDur as TotalActiveTimeOfSession
      ,[UserAgent]
	  , DerivedDevicetype
      ,[Browser]
      ,[BrowserVersion]
      ,[BrowserMode]
      ,[IsMobile]
	  ,Domain
	  ,Success
	  ,SoftFailure
	  ,OrganisationCCG
	  ,OrgSTP
	  ,[NHS Region]
	  --,case when b.LastSessionRow = a.RN3 then 1 else null end as lastRowFlag
	  into #tempSingleLog
from ETL_Local_PROD.dbo.AT_Login_Details a
left join
				(
				select 
			sessionid,
			UserID,
			max(rn3) as LastSessionRow 
			from   ETL_Local_PROD.dbo.AT_Login_Details 
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)b on b.SessionID = a.SessionID and b.UserID = a.UserID
		left join
				(
					select 
			sessionid,
			UserID,
			max(FinalLogoutTime) as LastSessionLogout
			from   ETL_Local_PROD.dbo.AT_Login_Details 
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)c on c.SessionID = a.SessionID and c.UserID = a.UserID

		left join 
				(
 					select 
					sessionid,
					UserID,
					min(FinalLoginTime) as FirstSesionLogin
					from   ETL_Local_PROD.dbo.AT_Login_Details 
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)d on d.SessionID = a.SessionID and d.UserID = a.UserID


		left join 
				(
 					select 
					sessionid,
					UserID,
					sum(SessionDurationInMinutes) SessionDur
					from   ETL_Local_PROD.dbo.AT_Login_Details 
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)e on e.SessionID = a.SessionID and e.UserID = a.UserID

where  b.LastSessionRow = a.RN3



			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanViewData]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

			Select 
			distinct
			a.CMC_ID,
			a.PatientCCG,
			a.PatientSTP,
			a.ActionTime,
			a.ActionType,
			a.DerivedActionType,
			ActivityOrderNo,
			Comment,
			a.StaffRegistryId,
			a.StaffEnterpriseID,
			coalesce(b.OrganizationRegistryID,PDregistryID) as OrganizationRegistryID,
			a.EnterpriseID,
			a.ODSCode,
			a.StaffFullName,
			coalesce(b.UserID,StaffUserid) as StaffUserID,
			a.StaffProviderTypeDescription,
			a.Team,
			a.TeamType,
			a.[Parent Org],
			PostCode,
			coalesce(a.organisationccg,b.OrganisationCCG) as OrganisationCCG,
			coalesce(a.orgSTP,b.OrgSTP) as OrgSTP,
			coalesce(a.[NHS Region],b.[NHS Region]) as OrgNHSRegion,
			a.App,
			b.UserRole, 
			b.UserAgent, 
			b.DerivedDevicetype, 
			b.Browser, 
			b.BrowserVersion, 
		    Success,
		    SoftFailure,
			b.FinalLoginTime, 
			b.FinalLogoutTime, 
			b.TotalActiveTimeOfSession
		

			into [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

			From [ETL_Local_PROD].[dbo].[AT_CarePlanData] a 
			Left Join #tempSingleLog b On b.UserRegistryID = a.StaffRegistryId
										And
										(
										b.FinalLoginTime <= a.actionTime 
										And 
										b.FinalLogoutTime >= coalesce(a.actionTime,GetDate())
										)
			Where  a.DerivedActionType = 'view' 
			Order By a.actionTime


			 
			--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]where FinalLoginTime is null 
			--and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')
			

		update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.SessionDurationInMinutes

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
		 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
														and 
														(
														s.FinalLoginTime <= r.actiontime
														And 
														s.FinalLogoutTime >= r.ActionTime
														)
			where r.FinalLoginTime is null
	
	 
										 
			--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]where FinalLoginTime is null 
			--and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')
			

update r

			set OrganisationCCG = coalesce(r.organisationccg,s.OrganisationCCG),
				OrgSTP = coalesce(r.orgSTP,s.OrgSTP),
				OrgNHSRegion = coalesce(r.OrgNHSRegion,s.[NHS Region]),
				USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure,
				FinalLoginTime = s.FinalLoginTime, 
				FinalLogoutTime = s.FinalLogoutTime, 
				TotalActiveTimeOfSession = s.SessionDurationInMinutes

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
		 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
														 
														and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime)
														and s.App = r.App
														 
			where r.FinalLoginTime is null
			and s.FinalLogoutTime is null
	
	
update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.FinalLoginTime <= r.actiontime and s.OrganizationName = r.Team), 
				FinalLogoutTime = (select min(FinalLogoutTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.FinalLogoutTime >= r.actiontime and s.OrganizationName = r.Team)
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
			
			where r.FinalLoginTime is null
	 
	and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')


	update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and convert(Date,s.FinalLoginTime) = convert(date,r.actiontime) and s.OrganizationName = r.Team ) 
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
 
		where r.FinalLoginTime is null
	 
	and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')

	update r

			set  FinalLoginTime = (select max(FinalLoginTime) from ETL_Local_PROD.dbo.AT_Login_Details s where s.UserRegistryID = r.StaffRegistryId and s.app = r.app and dateadd(day,-1,convert(Date,s.FinalLoginTime)) = convert(date,r.actiontime) and s.OrganizationName = r.Team ) 
	 

		 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
	     
		 where r.FinalLoginTime is null
	 
		and team not in ('EXCLUDE','CMC TEAM','CMC TEST DOCTORS','COORDINATE MY CARE TEAM','Intersystems Support')




	update r
			set  
				 USerRole = s.UserRole,		
				UserAgent = s.UserAgent, 
				DerivedDevicetype = s.DerivedDevicetype, 
				Browser = s.Browser, 
				BrowserVersion = s.BrowserVersion, 
				Success = s.Success,
				SoftFailure = s.SoftFailure 

	 from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r
	 left join ETL_Local_PROD.dbo.AT_Login_Details s on s.UserRegistryID = r.StaffRegistryId
													and s.FinalLoginTime = r.FinalLoginTime
													and s.App = r.app
													and s.OrganizationName = r.Team
where r.UserRole is null


				if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]


		SELECT  
		[CMC_ID]
      ,[actionTime]
      ,[Financial Year]
      ,[ActionType]
      ,[DerivedActionType]
      ,[StaffEnterpriseID]
 
      ,[StaffFullName]
      ,[StaffUserId]
      ,[ODSCode]
      ,[StaffActiveDescription]
      ,[StaffProviderTypeDescription]
      ,[PDRegistryID]
      ,[ItemId]
      ,[Team]
      --,[StaffODSCode]
      ,[EnterpriseID]
      ,[PatientCCG]
	  ,PatientSTP
      ,[NHS Region]
      ,TeamType
	  ,PostCode
	  ,OrganisationCCG as [TeamCCG]
      --,ORgCCG as [TeamCCG]
	  ,ORGSTP
      ,[Parent Org] 
      ,[App]


  into [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]

from [ETL_Local_PROD].[dbo].[AT_CarePlanData]a
left join  [ETL_Local_PROD].[dbo].[DIM_Date]b on b.[Calendar Day] = convert(date,a.ActionTime)
where DerivedActionType = 'create'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/**

Care Plans with a draft that has been created after the most recent published date

**/
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	if OBJECT_ID ('Tempdb..#AT_LastAction') is not null
 	drop table #AT_LastAction
		select
		[CMC_ID]
		,[actionTime]
		,DerivedActionType
		,comment
		,row_number() over (partition by [CMC_ID] order by OverAllOrder)  as ActionOverAllOrder
		,null as LastAction  
		,null as SecondLastAction
		into #AT_LastAction
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		where DerivedActionType in ('revise','publish','discard')
		order by OverAllOrder

		Update r

				set r.LastAction = case when s.LastAction is not null then 1 else 0 end

		from #AT_LastAction r
		left join
				(
				select
				CMC_id,
				max(ActionOverAllOrder) as LastAction
				from #AT_LastAction 
				group by 
				CMC_id
				)s on s.CMC_ID = r.CMC_ID
				and s.LastAction = r.ActionOverAllOrder

		Update r

				set r.SecondLastAction = case when s.ActionOverAllOrder is not null then 1 else 0 end

		from #AT_LastAction r
		left join
				(
				select
				CMC_id ,
				ActionOverAllOrder
				from #AT_LastAction 
				where LastAction = 1
				)s on s.CMC_ID = r.CMC_ID
				and s.ActionOverAllOrder = r.ActionOverAllOrder + 1




		--select * from #AT_LastAction order by CMC_ID,ActionOverAllOrder


		  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]') is not null
				drop table [ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]
				select 
				a.cmc_id,
				a.DerivedActionType,
				a.Comment,
				convert(date,a.ActionTime) as ActionDate,
				convert(time,a.ActionTime) as ActionTime,
				b.NHS_Number,
				b.Date_Original_Approval,
				b.Date_Latest_Approval,
				Title +' '+FORENAME+' '+SURNAME as PatientName,
				DoB,
				DoD,
				DoD_PDS,
				PRIMARY_ADDRESS,
				PRIMARY_POSTCODE,
				GP_Practice,
				CCG,
				CommissioningArea

				into [ETL_Local_PROD].[dbo].[AT_Published_with_Outstanding_Draft]

				from #AT_LastAction a
				inner join [ETL_Local_PROD].[dbo].[AT_Patient_General]b on b.CMC_ID = a.CMC_ID
				where LastAction = 1 and DerivedActionType = 'revise'


		 


--select top 50000 * 
--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where cmc_id = 100000013

--order by CMC_ID, OverAllOrder
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/**

Unpublished Careplan Information

**/
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



	if OBJECT_ID ('Tempdb..#AT_Patient_CMCID') is not null
 	drop table #AT_Patient_CMCID 
	select 
	Patient, 
	cast(n.PatientNumber as bigint) as CMC_ID 
	into #AT_Patient_CMCID
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	where AssigningAuthority = 'CMC'

 


	if OBJECT_ID ('Tempdb..#AT_Patient_NHs') is not null
 	drop table #AT_Patient_NHs 
	select 
	pn.Patient, 
	n.PatientNumber as NHS_Number ,
	o.CMC_ID
	into #AT_Patient_NHs
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	left join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	left join #AT_Patient_CMCID o on o.Patient = pn.Patient
	where AssigningAuthority = 'NHS'


 --select *from #AT_Patient_NHs
 
 


	if OBJECT_ID ('Tempdb..#AT_Patient_Numbers') is not null
 	drop table #AT_Patient_Numbers
	select 
	distinct
	--a.Patient, 
	CMC_ID,
	--b.NHS_Number  
	cast(null as nvarchar(20)) as NHS_Number
	into #AT_Patient_Numbers
	from #AT_Patient_CMCID a

	union

	select
	distinct
	CMC_ID,
	cast(null as nvarchar(20)) as NHS_Number
	FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	--left join #AT_Patient_NHs b on b.Patient = a.Patient


	update r
			set r.NHS_Number = b.NHS_Number

	from #AT_Patient_Numbers r
	left join #AT_Patient_NHs b on b.CMC_ID = r.CMC_ID


	--select * from #AT_Patient_Numbers where NHS_Number is null
 
 	if OBJECT_ID ('Tempdb..#AT_Patient_NumbersNotPub') is not null
 	drop table #AT_Patient_NumbersNotPub
 SELECT a.[ItemID]
      ,[Patient]
      ,[AssigningAuthorityName]
      ,[Extension] as NHS_Number
	  ,MRN as CMC_id
      ,[Root]
      ,[Status]
      ,[Type]
      ,[Usage]
	   ,[AssigningAuthority]
      ,[BirthDateTime]
      ,[BirthMonth]
      ,[BirthOrder]
      ,[BirthYear]
      ,[CommunicationPreference]
      ,[CreatedBy]
      ,[CreatedOn]
      ,[CustomClassName]
      ,[CustomXMLString]
      ,[DeathTime]
      ,[Facility]
      ,[FullName]
      ,[LastEnteredBy]
      ,[LastEnteredOn]
      ,[LastEnteredOnC]
      ,[UTCLastEnteredOn]
      ,[UTCLastEnteredOnC]
      ,[LastUpdated]
      ,[MothersMaidenSurname]
      ,[MPIID]
      --,[MRN]
      ,[SSN]
      ,[VIP]
	  into #AT_Patient_NumbersNotPub
  FROM [ETL_PROD].[dbo].[CMC_Registry_Patient_Identifier]a
  inner join [ETL_PROD].[dbo].[CMC_Registry_Patient]b on b.ItemID = a.Patient
  
 
--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General]  where cmc_ID =  100011450



	if OBJECT_ID ('Tempdb..#Published') is not null
		drop table #Published

 select cmc_id into #Published from [ETL_Local_PROD].[dbo].[AT_Patient_General] 

    	if OBJECT_ID ('Tempdb..#UnPublished') is not null
		drop table #UnPublished

		SELECT [CMC_ID]
		,max(OverAllOrder) as LAstActionOrder,
		DerivedActionType 

	   into #UnPublished

	   FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	   where cmc_id not in (select * from #Published)
	   group by cmc_id,DerivedActionType




	    if OBJECT_ID ('Tempdb..#UnpublishedPLans') is not null
		drop table #UnpublishedPLans
		select

		a.CMC_ID,
		coalesce(d.NHS_Number,dd.nhs_number) as NHS_Number,
		dd.FullName,
		convert(Date,dd.BirthDateTime) as DOB,
	 
		c.actionTime,
		c.DerivedActionType,
		--c. ,
		row_number() over (partition by a.[CMC_ID] order by LAstActionOrder)  as LastActionOverAllOrder, 
		case  when c.DerivedActionType in ('create','publish') then  row_number() over (partition by a.[CMC_ID],c.DerivedActionType order by LAstActionOrder) else null end  as CreatePublishOrder, 
		case when b.LastActionOVerAll is not null then 1 else null end  as LastActionFlag,
		f.Description as WithdrawnReason, 
		c.StaffFullName,
		c.StaffUserId,
		c.StaffProviderTypeDescription,
		c.Team,
		c.PostCode,
		c.OrganisationCCG as TeamCCG,
		c.TeamType,
		c.App,
		c.[Parent Org] as TeamParentOrg 

		into #UnpublishedPLans
		from #UnPublished a
		left join
				(
				select
				CMC_ID,
				Max(LAstActionOrder) as LastActionOVerAll
		from #UnPublished 
		group by CMC_ID
		)b on b.CMC_ID = a.CMC_ID and b.LastActionOVerAll = a.LAstActionOrder
		left join [ETL_Local_PROD].[dbo].[AT_CarePlanData]c on c.CMC_ID = a.CMC_ID and c.OverAllOrder = a.LAstActionOrder and c.DerivedActionType = a.DerivedActionType
		left join #AT_Patient_Numbers d on d.CMC_ID = a.CMC_ID
		left join #AT_Patient_NumbersNotPub dd on dd.CMC_id = a.CMC_ID
		left join [ETL_PROD].[dbo].[CMC_ConsentWithdrawn]e on e.CMCID = a.CMC_ID
		left join [ETL_PROD].[dbo].[Coded_DeleteType]f on f.code = e.DeleteType
		left join AT_Staff g on g.StaffRegistryId = c.StaffRegistryId


 
	
	
			if OBJECT_ID ('Tempdb..#DEleted') is not null
				drop table #DEleted
			select
			*
			into #DEleted
			from
			(

			select 
			* 
			from #UnpublishedPLans
			where cmc_ID in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('delete'))
			--and LastActionFlag = 1

			) d where d.LastActionFlag = 1

			order by cmc_id, LastActionOverAllOrder


		if OBJECT_ID ('Tempdb..#NeverPublished') is not null
			drop table #NeverPublished

 
				select
				 *
				 into #NeverPublished
				from
				(
					 select 
					 * 
					 from #UnpublishedPLans
					 where CMC_ID not in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('publish'))
					 --and LastActionFlag = 1
					 and WithdrawnReason is null
					 --and actionTime >= '2019-04-01'
				)d
				where d.CMC_ID not in	(
										(select CMC_id from #DEleted)
										)
						order by cmc_id, LastActionOverAllOrder
		
 		if OBJECT_ID ('Tempdb..#Restricted') is not null
			drop table #Restricted
 
			select   		 
			distinct
					cast(	RIGHT(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1),
							len(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1)
								) -1
							)
						 as bigint)
								as CMC_ID,
1 as IsProtected
	
	into #Restricted
		FROM [ETL_PROD].[dbo].[CMC_Patient]
where IsProtected = 1 



 --select * from #Restricted where CMC_ID = 100011450


  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]

		select
		a.CMC_ID,
		a.NHS_Number,
		a.FullName as [Patient Name],
		a.DOB as [Patient DOB],
		a.team as [Created by Team],
		a.TeamType as [Created by TeamType],
		a.TeamCCG as [Created by TEam CCG],
		a.actionTime  as [Date Care Plan Created],
		d.[Month Name],
		d.[Financial Year],
		a.staffFullName as [Created By],
		a.StaffProviderTypeDescription as [Created Staff-Type],
		case when c.CMC_ID is not null then 1 else null end as 'NEver Published Flag'
 

		into [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]
		
		from #UnpublishedPLans a
		left join #DEleted b on b.CMC_ID = a.CMC_ID
		left join #NeverPublished c on c.CMC_ID = a.CMC_ID and c.LastActionFlag = 1
		left join [ETL_Local_PROD].[dbo].[DIM_Date]d on d.[Calendar Day] = convert(date,a.ActionTime)

		where 
		a.DerivedActionType = 'create'
		and a.WithdrawnReason is null
		and b.CMC_ID is null


	--  Report tables addded May 2020 - we always need more tables in the poxy database!! --------------	
		

	DECLARE 
		@EndDate date,  
		@StartDate Date
 

		
	set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	set @EndDate =  convert(Date,dateadd(d,-(day(getdate())),getdate()))
	print @StartDate
	Print @EndDate

 

 

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT   [ID]
	,ROW_NUMBER() OVER(ORDER by ID ASC) AS RowNumb
	,DEnse_RANK() OVER  ( ORDER BY [Week Of Year] ASC)  AS RowNumbWeek
	--,convert(date,dateadd(week,datediff(week,0,[Calendar Day]),0)) as WeekStart
	,case when [Week Day] = 1 then  DATEADD(DAY, 2 - DATEPART(WEEKDAY, dateadd(day,-1,[Calendar Day])), CAST(dateadd(day,-1,[Calendar Day]) AS DATE)) else DATEADD(DAY, 2 - DATEPART(WEEKDAY, [Calendar Day]), CAST([Calendar Day] AS DATE))end  as WeekStart
	,case when [Week Day] = 1 then [Calendar Day] else dateadd(day,6,DATEADD(DAY, 2 - DATEPART(WEEKDAY, [Calendar Day]), CAST([Calendar Day] AS DATE)))end  as  WeekEnd
	--,convert(date,case when [Week day] = 1 then dateadd(day,6,[Calendar Day]) else  dateadd(day,6,DATEADD(dd, -(DATEPART(dw, [Calendar Day])-1), [Calendar Day]))end)   as WeekEnd
      ,[Calendar Day] as MyDate
	  ,convert(varchar,[Calendar Day],103) as CalendarDayField
	  ,[Month Start Date]

    
  FROM [ETL_Local_PROD].[dbo].[DIM_Date]
  where [Calendar Day] >= @StartDate and [Calendar Day] < @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT *
	into #Temp_CTE_Date		
	FROM cte
	OPTION (MAXRECURSION 0)

	--select * from #Temp_CTE_Date order by WeekStart
	--select dateadd(d,-(day(getdate()-1)),getdate())





 
		if OBJECT_ID ('Tempdb..#PreReport') is not null
			drop table #PreReport




	  SELECT
	  [PatAuditID]
      ,[CMC_ID]
      ,[actionTime]
      ,[ActionType]
      ,[comment]
      ,[DerivedActionType]
      ,[ActivityOrderNo]
      ,[OverAllOrder]
      ,[STAFFEnterpriseID]
      ,[StaffUserId]
      ,[ODSCode]
      ,[StaffActiveDescription]
      ,coalesce([StaffProviderTypeDescription],'Not Recorded') as [StaffProviderTypeDescription]
	  ,[StaffFullName]
      --,dbo.ProperCase([StaffFullName]) as [StaffFullName]
      ,[StaffRegistryId]
      ,[PDRegistryID]
      ,[ItemId]
	  ,TEam
      --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
      ,[Parent Org]
      ,[TeamType]
      ,[PostCode]
      ,REPLACE([OrganisationCCG], ' CCG', '') as [OrganisationCCG]
      ,[OrgSTP]
      ,[NHS Region]
      ,[DeptODSCode]
      ,[EnterpriseID]
      ,[PatientCCG]
      ,[PatientSTP]
      ,[LoginReference]
      ,[CMC_OrItem]
      ,[CMC_Individual_ItemID]
      ,[CMC_Individual_PDRegistryID]
      ,[App]
	  ,case
	  when charindex('audit',DerivedActionType)> 0 then 'Audit'
	  when DerivedActionType in ('clinic_event_added','clinical_event_updated','death_date_added','death_date_removed','deceased_updated','generate_dna_cpr','revise') then 'Revise'
	  when charindex('create',DerivedActionType)> 0 then 'Create'
	  when charindex('publish',DerivedActionType)> 0 then 'Publish'
	  when charindex('delete',DerivedActionType)> 0 then 'Delete'
	  when charindex('discard',DerivedActionType)> 0 then 'Discard'
	  when charindex('enroll',DerivedActionType)> 0 then 'Enroll'
	  when charindex('initiated',DerivedActionType)> 0 then 'Initiated'
	  when DerivedActionType in ('lr_claimed','lr_expired','patient_found','patient_list') then 'Search'
	  when charindex('print',DerivedActionType)> 0 then 'Print'
	  when charindex('proxy',DerivedActionType)> 0 then 'Proxy'
	  when charindex('request',DerivedActionType)> 0 then 'Request'
	  when charindex('subscription',DerivedActionType)> 0 then 'Subscription'
	  when charindex('view',DerivedActionType)> 0 then 'View'
	  else DerivedActionType
	  End as REport_ActionType

	  into #PreReport
	  --into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]


  FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]

  where convert(Date,actiontime)>= @StartDate and convert(Date,actiontime) < @EndDate

  and DerivedActionType <> 'save'

  

delete from #PreReport where DerivedActionType = 'publish' and ActivityOrderNo > 1


  	if OBJECT_ID ('Tempdb..#PreReportUsers') is not null
			drop table #PreReportUsers
			select
			distinct 
			  [StaffFullName]
			  ,[StaffProviderTypeDescription]
 
			  ,TEam
			  --,dbo.ProperCase(convert(varchar(400),[Team])) as TEam
		 
			  ,[TeamType]
	 

			  into #PreReportUsers

			from #PreReport

			--select * from #PreReportUsers
  
		if OBJECT_ID ('Tempdb..#PreReportLogins') is not null
			drop table #PreReportLogins

			SELECT  
			--[UserRegistryID]
			--  ,[OrganizationRegistryID]
			  --,
			  [UserID]
			  ,[UserRole]
			  ,[ETL_Local_PROD].[dbo].[ProperCase]([UserFullName])as [UserFullName]
			  ,[OrganizationName]
			  --,[deptenterpriseid]
			  --,[StaffEnterpriseID]
			  ,[StaffORgStartDate]
			  ,[StaffORgEndDate]
			  ,a.[TeamType]
			  ,c.StaffProviderTypeDescription
			  ,a.[Parent Org]
			  ,b.[Month Start Date] as MonthActivity
			
			  ----,[LoginDate]
			  --,[SessionDuration]
			  --,[DerivedDevicetype]
			  ,a.[PostCode]
			  ,a.[OrganisationCCG]
			  ,[OrgSTP]
			  ,[NHS Region]
			  ,count(*) as Total
			  --,[Domain]
			  --,[App]
			  --,[ActionType]

			  into #PreReportLogins

		  FROM [ETL_Local_PROD].[dbo].[AT_Logins_Daily]a
		  left join [ETL_Local_PROD].[dbo].[DIM_Date]b on b.[Calendar Day] = convert(Date,LoginDate)
		  inner join #PreReportUsers c on c.StaffFullName = a.UserFullName
									and c.Team = a.OrganizationName
									 
		  group by
		   [UserID]
			  ,[UserRole]
			  ,[UserFullName]
			  ,[OrganizationName]
			  ,c.StaffProviderTypeDescription
			  ,[StaffORgStartDate]
			  ,[StaffORgEndDate]
			  ,a.[TeamType]
			  ,a.[Parent Org]
			  ,b.[Month Start Date]
			  --,[DerivedDevicetype]
			  ,a.[PostCode]
			  ,a.[OrganisationCCG]
			  ,[OrgSTP]
			  ,[NHS Region]




			  --select * from #PreReportLogins











		if OBJECT_ID ('Tempdb..#PreReport2') is not null
			drop table #PreReport2
			select
			d.*
			into #PreReport2
			from
			(
			select
			 convert(date,dateadd(d,-(day(b.actionTime-1)),b.actionTime))  as MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[StaffFullName]
			 ,b.[Team]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]
			  ,b.REport_ActionType
			  ,Count(*) as Total
			   
			   from [#PreReport]b
		
			   group by

	   				 convert(date,dateadd(d,-(day(b.actionTime-1)),b.actionTime)) 
				 ,b.[StaffProviderTypeDescription]
				 ,b.[StaffFullName]
				 ,b.[Team]
 
				  ,b.[Parent Org]
				  ,b.[TeamType]
				  ,b.[OrganisationCCG]
				  ,b.REport_ActionType



				  union 

				  select
			 MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[UserFullName]
			 ,b.[OrganizationName]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,REPLACE(b.[OrganisationCCG], ' CCG', '') as [OrganisationCCG]
			  ,'Daily Logins' as REport_ActionType
			  ,Count(*) as Total

				  from #PreReportLogins b
				 group by
				  MonthActivity
			 ,b.[StaffProviderTypeDescription]
			 ,b.[UserFullName]
			 ,b.[OrganizationName]
			  ,b.[Parent Org]
			  ,b.[TeamType]
			  ,b.[OrganisationCCG]

	  )d



	   update x
				set StaffFullName = [ETL_Local_PROD].[dbo].[ProperCase]([StaffFullName]),
				TEam = [ETL_Local_PROD].[dbo].[ProperCase](convert(varchar(400),[Team])) 

	   from #PreReport2 x






  			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]
   
    

	select  
	distinct
	a.[Month Start Date] as ActionTime
 
     , replace([StaffProviderTypeDescription],'General Medical Practitioner: No Organisation Sub-Type','GP') as [StaffProviderTypeDescription]
	 , [StaffFullName]
	 , [Team]
      , [Parent Org]
      , [TeamType]
	  , [OrganisationCCG]
	  ,CAST(NULL AS VARCHAR(400)) AS STP
	  ,cast(null as date) as [Staff ORganisation Start Date]
	  ,cast(null as date) as [Staff ORganisation End Date]
	  , Report_ActionType
	  ,null as Total

	  into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]
 
		from [#PreReport2]b
		cross join (select distinct [Month Start Date]from #Temp_CTE_Date  )a


			order by   a.[Month Start Date]



		--select * from [#PreReport2]b where b.TEam = 'Abbey Road MEdical Practice' and monthactivity = '2019-11-01'
		--	select 
		--* 
		--from  [#PreReport2]b 
		--where b.TEam = 'Abbey Road MEdical Practice' 
		--and monthactivity = '2019-11-01' 
		--and stafffullname = 'S Sen' 
		--and REport_ActionType = 'Search'
		--order by StaffFullName,REport_ActionType


		--select 
		--* 
		--from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]b 
		--where b.TEam = 'Homerton University Hospital Care of The Elderly Dept' 
		----and actiontime = '2019-11-01' 
		--and stafffullname = 'Sana Mufti'
		----and REport_ActionType = 'Search'
		--order by StaffFullName,REport_ActionType
		--and convert(Date,actionTime)>= '2019-04-01' and  convert(Date,actionTime)<= '2020-05-31'
		--and convert(date,dateadd(d,-(day(actionTime-1)),actionTime)) = [Month Start Date]
 
 --select distinct team from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where charindex('homerton',[Parent ORg])>0


update b
		set b.Total = coalesce(c.Total,0),
		b.[Staff ORganisation Start Date] = d.StaffORgStartDate,
		b.[Staff ORganisation End Date] = d.StaffORgEndDate,
		B.STP = E.STP

from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]b

left join #PreReport2 c on c.MonthActivity = ActionTime
					and c.[StaffProviderTypeDescription] = b.StaffProviderTypeDescription
					and c.StaffFullName = b.StaffFullName
					and c.TEam = b.Team
					and c.[Parent Org] = b.[Parent Org]
					and c.REport_ActionType = b.REport_ActionType
left join #PreReportLogins d on d.UserFullName = b.StaffFullName
							and d.OrganizationName = b.Team
LEFT JOIN [ETL_Local_PROD].[Reference].[STP]E ON E.CCGLONG_TRUNC = B.OrganisationCCG





  	if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]
 

   SELECT 
   distinct
   STP,
   [Parent Org],
    Team, 
   (select min(actiontime)from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where team = a.Team and Total > 0 ) as TeamStartDate,
    (select max(actiontime)from [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] where team = a.Team and Total > 0) as LastTeamAction

   into [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference]
  FROM [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]a

 
 --select * from  [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_OrgTeam_Reference] where  TEam = 'Homerton University Hospital Care of The Elderly Dept' 

   alter table [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table] 
   alter column team nvarchar(400)
   
	  CREATE INDEX ActiTeam
ON [ETL_Local_PROD].[dbo].[AT_TEam_Activity_Report_Data_Table]  (actiontime, team);

		end