USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__Activity_Data]    Script Date: 13/05/2020 09:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__Activity_Data] 
-- Amended for PD Upgrade
AS
BEGIN

IF OBJECT_ID('tempdb..#tempsTAFF') IS NOT NULL 
					 dROP TABLE #tempsTAFF

	SELECT
	I.PDRegistryID,
	i.EnterpriseID as StaffEnterpriseID,
  
 	  n.GivenName +' '+ n.FamilyName as StaffFullName,
		  cc.UserID as StaffUserId,
		  i.ODSCode as StaffODSCode,
		 tu.Description as  StaffActiveDescription,
		  tt.Description as StaffProviderTypeDescription

		  INTO #tempsTAFF

	 FROM ETL_PROD.dbo.CMC_Individual i 
			left join ETL_PROD.dbo.CMC_Name n with (nolock) on i.Name = n.ItemId
			left join ETL_PROD.dbo.CMC_UserIdentifier u with (nolock) on i.PDRegistryID = u.Extension
			left join ETL_PROD.dbo.CMC_UserClinician cc with (nolock) on u.UserClinician = cc.itemid
			left join ETL_PROD.dbo.Coded_IndStatus tu with (nolock) on i.StatusCode = tu.Code
			left join (select *,ROW_NUMBER() over (PARTITION by individual order by individual) as rn from ETL_PROD.dbo.CMC_Individual_ProviderTypes) pt   on i.ItemId = pt.Individual and pt.rn=1
			left join ETL_PROD.dbo.Coded_IndType tt with (nolock) on pt.ProviderType = tt.Code








			IF OBJECT_ID('tempdb..#MissingStuff') IS NOT NULL 
					 dROP TABLE #MissingStuff
		 select 
		   distinct
		   UserFullName as StaffFullName,
		   UserID as StaffUserID,
		   StaffEnterpriseID,
		   UserRegistryID as StaffRegistryID,
		   oRGANIZATIONrEGISTRYid AS pdregistryID,
		   OrganizationName as Team,
		   [Parent Org],
		   TeamType,
		   PostCode,
		   OrganisationCCG,
		   OrgSTP,
		   [NHS Region],
		 
		   deptenterpriseid as EnterpriseID
		   into #MissingStuff
  	from [ETL_Local_PROD].[dbo].[AT_Login_Details] with (nolock)


					IF OBJECT_ID('tempdb..#IndividualDEtails') IS NOT NULL 
					 dROP TABLE #IndividualDEtails
					 select 
					 i.Name,
					 i.ODSCode,
					 i.EnterpriseID,
					 i.PDRegistryId,
					 StatusCode
					 into #IndividualDEtails
					 from ETL_PROD.dbo.CMC_Individual i with (nolock)


DROP INDEX  [AuditPatient_New].CMC_ID_Date

 

		if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanData]
			  select 
			  a.PatAuditID,
			  a.CMC_ID,
			  actionTime,
			  ActionType,
			  comment,
			  case ActionType when 'custom-consent_removed' then 'delete' else REPLACE(ActionType,'custom-','') end as DerivedActionType,
			  ActionTypeOrder as ActivityOrderNo,
			  OverAllOrder,
			coalesce( B.STAFFEnterpriseID ,i.EnterpriseID) as [StaffEnterpriseID],
			B.StaffFullName as [StaffFullName],
			B.StaffUserId as [StaffUserId],
			coalesce(B.StaffODSCode,i.ODSCode) as [StaffODSCode],
			 B.StaffActiveDescription as[StaffActiveDescription],
			 B.StaffProviderTypeDescription as StaffProviderTypeDescription,
			 -- i.EnterpriseID as StaffEnterpriseID,
			 --n.GivenName +' '+ n.FamilyName as StaffFullName,
			 -- cc.UserID as StaffUserId,
			 -- i.ODSCode as StaffODSCode,
			 --tu.Description as  StaffActiveDescription,
			 -- tt.Description as StaffProviderTypeDescription,
			 a.StaffRegistryId,
			  --a.DeptPDRegistryID as PDRegistryID,
			COALESCE(a.DeptPDRegistryID,d.PDRegistryID)  as PDRegistryID,
			 --e.ItemId,
			 -- e.Name as Team,
			 --   f.[Parent Org],
			 -- f.TeamType,
		  --cast(f.POSTCODE as varchar(255)) as PostCode,
		 cast(null as [varchar](36)) as  [ItemId],
	cast(null as [varchar](max)) as [Team],
	cast(null as [nvarchar](255)) as [Parent Org],
	cast(null as [varchar](255)) as [TeamType],
	cast(null as [varchar](255)) as [PostCode],
		  cast(null as varchar(255)) as OrganisationCCG,
	      cast(null as varchar(255)) as OrgSTP,
		  cast(null as varchar(255)) as [NHS Region],
		d.ODSCode,
		
			  --isnull(g.CCG,'(Care plan not currently published)') as PatientCCG,
			  --j.STP as PatientSTP,
 
	d.EnterpriseID,
	cast(null as [nvarchar](max)) as [PatientCCG],
	cast(null as [varchar](50)) as [PatientSTP],

	LoginReference,
	d.name as CMC_OrItem,
	i.Name as CMC_Individual_ItemID,
	i.PDRegistryID as CMC_Individual_PDRegistryID,
	i.StatusCode as StatusCode,
	cast(null as varchar(9))  as App
		 

  
		  into [ETL_Local_PROD].[dbo].[AT_CarePlanData]


		  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a with (nolock)
		  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.DeptPDRegistryId
		  left join #IndividualDEtails i with (nolock) on i.PDRegistryID = a.StaffRegistryID
		  LEFT JOIN #tempsTAFF B ON B.PDRegistryID = A.StaffRegistryId


		order by a.ActionTime


	

	
					IF OBJECT_ID('tempdb..#ProviderTypes') IS NOT NULL 
					 dROP TABLE #ProviderTypes
					 select  
					 *,
					 ROW_NUMBER() over (PARTITION by individual order by individual) as rn 
					 into #ProviderTypes
					 from ETL_PROD.dbo.CMC_Individual_ProviderTypes with (nolock)

 

 


--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] with (nolock) where StaffRegistryID is null

update f
		set f.team = e.name,
		f.ItemId = e.ItemId

from [ETL_Local_PROD].[dbo].[AT_CarePlanData]f

left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = f.CMC_OrItem


 
 
CREATE NONCLUSTERED INDEX CMC_ID_Date
ON [ETL_Local_PROD].[dbo].[AuditPatient_New](CMC_ID,actionTime);


  update r

			set	
			
			StaffFullName = coalesce(r.stafffullname,n.GivenName +' '+ n.FamilyName),
			r.app = case Domain when '%HS_EMIS' then 'EMIS' when '%HS_PC' then 'Portal' when '%HS_Smartcard' then 'Smartcard' else 'CMC' end

 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r

	left join ETL_PROD.dbo.CMC_Name n  with (nolock)on n.ItemId = r.CMC_Individual_ItemID
	left join [ETL_PROD].[dbo].[CMC_AuditLogin]aa with (nolock) on aa.ItemId = r.LoginReference

	 update r

			set	
			 --StaffUserId = cc.UserID,
			
			----StaffActiveDescription = tu.Description,
			--StaffProviderTypeDescription = tt.Description,
			[Parent Org] = f.[Parent Org],
			TeamType = f.TeamType,
		    PostCode = cast(f.POSTCODE as varchar(255)),
 
			PatientCCG = coalesce(g.CCG,'(Care plan not currently published)'),
			PatientSTP = j.STP

	 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r

 
	--left join ETL_PROD.dbo.CMC_Individual i with (nolock) on i.PDRegistryID = r.StaffRegistryID
	--left join ETL_PROD.dbo.CMC_UserIdentifier u  with (nolock)on u.Extension = CMC_Individual_PDRegistryID
	--left join ETL_PROD.dbo.CMC_UserClinician cc  with (nolock)on cc.itemid = u.UserClinician 
	--left join ETL_PROD.dbo.Coded_IndStatus tu  with (nolock)on r.StatusCode = tu.Code
	----left join #ProviderTypes pt on pt.Individual = CMC_Individual_ItemID  and pt.rn=1
	----left join ETL_PROD.dbo.Coded_IndType tt  with (nolock)on pt.ProviderType = tt.Code

	left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on ltrim(rtrim(f.ActivityTeam)) = ltrim(rtrim(r.team))
	left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g with (nolock) on g.CMC_ID = r.CMC_ID
	left join [ETL_Local_PROD].[Reference].[STP]j on j.CCGLONGNAME = g.CCG



	--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] 

 --where cmc_id = 100077583	order by overallorder
 
	 update r

			set	
			 StaffUserId = coalesce(r.staffuserid,cc.UserID),
			
			StaffActiveDescription = coalesce(r.StaffActiveDescription,tu.Description),
			StaffProviderTypeDescription = coalesce(r.StaffProviderTypeDescription,tt.Description)
	 

	 from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
	--left join [ETL_PROD].[dbo].[CMC_AuditLogin]aa with (nolock) on aa.ItemId = r.LoginReference

	left join ETL_PROD.dbo.CMC_UserIdentifier u  with (nolock)on u.Extension = CMC_Individual_PDRegistryID
	left join ETL_PROD.dbo.CMC_UserClinician cc  with (nolock)on cc.itemid = u.UserClinician 
	left join ETL_PROD.dbo.Coded_IndStatus tu  with (nolock)on r.StatusCode = tu.Code
	left join #ProviderTypes pt on pt.Individual = CMC_Individual_ItemID  and pt.rn=1
	left join ETL_PROD.dbo.Coded_IndType tt  with (nolock)on pt.ProviderType = tt.Code
 



 update a

    set a.PostCode = coalesce(hh.Postcode,g.postcode)


  from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]a

	left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]g on g.[Organisation Code] = ODSCode
	left join [ETL_Local_PROD].[ODSData].[searchods]hh on hh.ODS = ODSCode

	where a.PostCode is null




	update a

		set a.PostCode = coalesce(hhh.postcode,gg.postcode,hhhh.postcode,ggg.postcode)



	from  [ETL_Local_PROD].[dbo].[AT_CarePlanData]a

	left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]gg on gg.[Organisation Name] = a.Team
	left join [ETL_Local_PROD].[ODSData].[searchods]hhh on hhh.[Team or GP] = a.Team
		left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]ggg on ggg.[Organisation Name] = a.[Parent Org]
	left join [ETL_Local_PROD].[ODSData].[searchods]hhhh on hhhh.[Parent] = a.[Parent Org]

	where a.PostCode is null


	update f
			set		f.OrganisationCCG =  i.ccg,
					f.OrgSTP = i.stp,
					f.[NHS Region] = i.[NHS England REgion]


	from [ETL_Local_PROD].[dbo].[AT_CarePlanData]f
	left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = f.Postcode


	 



		update r
				set r.ActivityOrderNo = a.RN2
		
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
		inner join 
					(
					select
					CMC_ID,
					DerivedActionType, 
					actiontime,
					ROW_NUMBER() OVER(PARTITION BY CMC_ID,DerivedActionType ORDER by actiontime  ) AS RN2
					from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		 
					)a on a.CMC_ID = r.CMC_ID
					and a.ActionTime = r.ActionTime
						and a.DerivedActionType = r.DerivedActionType



		-------------------------------------------------------------------------


			update rr
				set rr.postcode = x.postcode,
					rr.OrganisationCCG = x.OrganisationCCG,
					rr.OrgSTP = x.OrgSTP,
					rr.[NHS Region] = x.[NHS Region]

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]rr
		left join #MissingStuff x on x.StaffRegistryID = rr.StaffRegistryId
									and x.Team = rr.Team
where rr.OrganisationCCG is null


	update rr
				set rr.postcode = x.postcode,
					rr.OrganisationCCG = x.OrganisationCCG,
					rr.OrgSTP = x.OrgSTP,
					rr.[NHS Region] = x.[NHS Region],
					rr.Team = x.Team,
					rr.[Parent Org] = x.[Parent Org],
					rr.TeamType = x.TeamType,
					rr.EnterpriseID = x.EnterpriseID

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]rr
		left join #MissingStuff x on x.StaffRegistryID = rr.StaffRegistryId
									and x.pdregistryID  = rr.PDRegistryID
where rr.Team is null



			update r
		set OrganisationCCG  = REPLACE(OrganisationCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r


		update r
		set PatientCCG  = REPLACE(PatientCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r

 
		update r
		set PatientCCG  = REPLACE(PatientCCG, 'Cross Border: ', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r
		where charindex('Cross Border: ',PatientCCG)>0



IF OBJECT_ID('tempdb..#tempSingleLog') IS NOT NULL 
					 dROP TABLE #tempSingleLog
 
select
	   
       a.[SessionID]
      ,[Active]
      ,[UserRegistryID]
      ,[OrganizationRegistryID]
      ,a.[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
	  ,TeamType
	  ,[Parent Org]
	  ,ROW_NUMBER() OVER(PARTITION BY [UserRegistryID] ORDER by [LoginRowId],a.itemid  ASC) AS RN2
	  ,d.FirstSesionLogin as FinalLoginTime
	  ,c.LastSessionLogout as FinalLogoutTime
	  ,e.SessionDur as TotalActiveTimeOfSession
      ,[UserAgent]
	  , DerivedDevicetype
      ,[Browser]
      ,[BrowserVersion]
      ,[BrowserMode]
      ,[IsMobile]
	  ,Domain
	  ,Success
	  ,SoftFailure
	  ,OrganisationCCG
	  ,OrgSTP
	  ,[NHS Region]
	  --,case when b.LastSessionRow = a.RN3 then 1 else null end as lastRowFlag
	  into #tempSingleLog
from ETL_Local_PROD.dbo.AT_Login_Details a
left join
				(
				select 
			sessionid,
			UserID,
			max(rn3) as LastSessionRow 
			from   ETL_Local_PROD.dbo.AT_Login_Details 
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)b on b.SessionID = a.SessionID and b.UserID = a.UserID
		left join
				(
					select 
			sessionid,
			UserID,
			max(FinalLogoutTime) as LastSessionLogout
			from   ETL_Local_PROD.dbo.AT_Login_Details 
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)c on c.SessionID = a.SessionID and c.UserID = a.UserID

		left join 
				(
 					select 
					sessionid,
					UserID,
					min(FinalLoginTime) as FirstSesionLogin
					from   ETL_Local_PROD.dbo.AT_Login_Details 
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)d on d.SessionID = a.SessionID and d.UserID = a.UserID


		left join 
				(
 					select 
					sessionid,
					UserID,
					sum(SessionDurationInMinutes) SessionDur
					from   ETL_Local_PROD.dbo.AT_Login_Details 
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)e on e.SessionID = a.SessionID and e.UserID = a.UserID

where  b.LastSessionRow = a.RN3



			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanViewData]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

			Select 
			distinct
			a.CMC_ID,
			a.PatientCCG,
			a.ActionTime,
			a.ActionType,
			a.DerivedActionType,
			ActivityOrderNo,
			Comment,
			a.StaffRegistryId,
			a.StaffEnterpriseID,
			coalesce(b.OrganizationRegistryID,PDregistryID) as OrganizationRegistryID,
			a.EnterpriseID,
			a.ODSCode,
			a.StaffFullName,
			coalesce(b.UserID,StaffUserid) as StaffUserID,
			a.StaffProviderTypeDescription,
			a.Team,
			a.TeamType,
			a.[Parent Org],
			PostCode,
			coalesce(a.organisationccg,b.OrganisationCCG) as OrganisationCCG,
			coalesce(a.orgSTP,b.OrgSTP) as OrgSTP,
			coalesce(a.[NHS Region],b.[NHS Region]) as OrgNHSRegion,
			a.App,
			b.UserRole, 
			b.UserAgent, 
			b.DerivedDevicetype, 
			b.Browser, 
			b.BrowserVersion, 
		    Success,
		    SoftFailure,
			b.FinalLoginTime, 
			b.FinalLogoutTime, 
			b.TotalActiveTimeOfSession
		

			into [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

			From [ETL_Local_PROD].[dbo].[AT_CarePlanData] a 
			Left Join #tempSingleLog b On b.UserRegistryID = a.StaffRegistryId
										And
										(
										b.FinalLoginTime <= a.actionTime 
										And 
										b.FinalLogoutTime >= a.actionTime 
										)
			Where  a.DerivedActionType = 'view' 
			Order By a.actionTime


			



				if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]


		SELECT  
		[CMC_ID]
      ,[actionTime]
      ,[Financial Year]
      ,[ActionType]
      ,[DerivedActionType]
      ,[StaffEnterpriseID]
 
      ,[StaffFullName]
      ,[StaffUserId]
      ,[StaffODSCode]
      ,[StaffActiveDescription]
      ,[StaffProviderTypeDescription]
      ,[PDRegistryID]
      ,[ItemId]
      ,[Team]
      ,[ODSCode]
      ,[EnterpriseID]
      ,[PatientCCG]
	  ,PatientSTP
      ,[NHS Region]
      ,TeamType
	  ,PostCode
	  ,OrganisationCCG as [TeamCCG]
      --,ORgCCG as [TeamCCG]
	  ,ORGSTP
      ,[Parent Org] 
      ,[App]


  into [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]

from [ETL_Local_PROD].[dbo].[AT_CarePlanData]a
left join  [ETL_Local_PROD].[dbo].[DIM_Date]b on b.[Calendar Day] = convert(date,a.ActionTime)
where DerivedActionType = 'create'





----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/**

Unpublished Careplan Information

**/
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



	if OBJECT_ID ('Tempdb..#AT_Patient_CMCID') is not null
 	drop table #AT_Patient_CMCID 
	select 
	Patient, 
	cast(n.PatientNumber as bigint) as CMC_ID 
	into #AT_Patient_CMCID
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	where AssigningAuthority = 'CMC'

 


	if OBJECT_ID ('Tempdb..#AT_Patient_NHs') is not null
 	drop table #AT_Patient_NHs 
	select 
	pn.Patient, 
	n.PatientNumber as NHS_Number ,
	o.CMC_ID
	into #AT_Patient_NHs
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	left join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	left join #AT_Patient_CMCID o on o.Patient = pn.Patient
	where AssigningAuthority = 'NHS'


 --select *from #AT_Patient_NHs
 
 


	if OBJECT_ID ('Tempdb..#AT_Patient_Numbers') is not null
 	drop table #AT_Patient_Numbers
	select 
	distinct
	--a.Patient, 
	CMC_ID,
	--b.NHS_Number  
	cast(null as nvarchar(20)) as NHS_Number
	into #AT_Patient_Numbers
	from #AT_Patient_CMCID a

	union

	select
	distinct
	CMC_ID,
	cast(null as nvarchar(20)) as NHS_Number
	FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	--left join #AT_Patient_NHs b on b.Patient = a.Patient


	update r
			set r.NHS_Number = b.NHS_Number

	from #AT_Patient_Numbers r
	left join #AT_Patient_NHs b on b.CMC_ID = r.CMC_ID


	--select * from #AT_Patient_Numbers where NHS_Number is null
 
 	if OBJECT_ID ('Tempdb..#AT_Patient_NumbersNotPub') is not null
 	drop table #AT_Patient_NumbersNotPub
 SELECT a.[ItemID]
      ,[Patient]
      ,[AssigningAuthorityName]
      ,[Extension] as NHS_Number
	  ,MRN as CMC_id
      ,[Root]
      ,[Status]
      ,[Type]
      ,[Usage]
	   ,[AssigningAuthority]
      ,[BirthDateTime]
      ,[BirthMonth]
      ,[BirthOrder]
      ,[BirthYear]
      ,[CommunicationPreference]
      ,[CreatedBy]
      ,[CreatedOn]
      ,[CustomClassName]
      ,[CustomXMLString]
      ,[DeathTime]
      ,[Facility]
      ,[FullName]
      ,[LastEnteredBy]
      ,[LastEnteredOn]
      ,[LastEnteredOnC]
      ,[UTCLastEnteredOn]
      ,[UTCLastEnteredOnC]
      ,[LastUpdated]
      ,[MothersMaidenSurname]
      ,[MPIID]
      --,[MRN]
      ,[SSN]
      ,[VIP]
	  into #AT_Patient_NumbersNotPub
  FROM [ETL_PROD].[dbo].[CMC_Registry_Patient_Identifier]a
  inner join [ETL_PROD].[dbo].[CMC_Registry_Patient]b on b.ItemID = a.Patient
  
 
--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General]  where cmc_ID =  100011450



	if OBJECT_ID ('Tempdb..#Published') is not null
		drop table #Published

 select cmc_id into #Published from [ETL_Local_PROD].[dbo].[AT_Patient_General] 

    	if OBJECT_ID ('Tempdb..#UnPublished') is not null
		drop table #UnPublished

		SELECT [CMC_ID]
		,max(OverAllOrder) as LAstActionOrder,
		DerivedActionType 

	   into #UnPublished

	   FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	   where cmc_id not in (select * from #Published)
	   group by cmc_id,DerivedActionType




	    if OBJECT_ID ('Tempdb..#UnpublishedPLans') is not null
		drop table #UnpublishedPLans
		select

		a.CMC_ID,
		coalesce(d.NHS_Number,dd.nhs_number) as NHS_Number,
		dd.FullName,
		convert(Date,dd.BirthDateTime) as DOB,
	 
		c.actionTime,
		c.DerivedActionType,
		--c. ,
		row_number() over (partition by a.[CMC_ID] order by LAstActionOrder)  as LastActionOverAllOrder, 
		case  when c.DerivedActionType in ('create','publish') then  row_number() over (partition by a.[CMC_ID],c.DerivedActionType order by LAstActionOrder) else null end  as CreatePublishOrder, 
		case when b.LastActionOVerAll is not null then 1 else null end  as LastActionFlag,
		f.Description as WithdrawnReason, 
		c.StaffFullName,
		c.StaffUserId,
		c.StaffProviderTypeDescription,
		c.Team,
		c.PostCode,
		c.OrganisationCCG as TeamCCG,
		c.TeamType,
		c.App,
		c.[Parent Org] as TeamParentOrg 

		into #UnpublishedPLans
		from #UnPublished a
		left join
				(
				select
				CMC_ID,
				Max(LAstActionOrder) as LastActionOVerAll
		from #UnPublished 
		group by CMC_ID
		)b on b.CMC_ID = a.CMC_ID and b.LastActionOVerAll = a.LAstActionOrder
		left join [ETL_Local_PROD].[dbo].[AT_CarePlanData]c on c.CMC_ID = a.CMC_ID and c.OverAllOrder = a.LAstActionOrder and c.DerivedActionType = a.DerivedActionType
		left join #AT_Patient_Numbers d on d.CMC_ID = a.CMC_ID
		left join #AT_Patient_NumbersNotPub dd on dd.CMC_id = a.CMC_ID
		left join [ETL_PROD].[dbo].[CMC_ConsentWithdrawn]e on e.CMCID = a.CMC_ID
		left join [ETL_PROD].[dbo].[Coded_DeleteType]f on f.code = e.DeleteType
		left join AT_Staff g on g.StaffRegistryId = c.StaffRegistryId


 
	
	
			if OBJECT_ID ('Tempdb..#DEleted') is not null
				drop table #DEleted
			select
			*
			into #DEleted
			from
			(

			select 
			* 
			from #UnpublishedPLans
			where cmc_ID in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('delete'))
			--and LastActionFlag = 1

			) d where d.LastActionFlag = 1

			order by cmc_id, LastActionOverAllOrder


		if OBJECT_ID ('Tempdb..#NeverPublished') is not null
			drop table #NeverPublished

 
				select
				 *
				 into #NeverPublished
				from
				(
					 select 
					 * 
					 from #UnpublishedPLans
					 where CMC_ID not in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('publish'))
					 --and LastActionFlag = 1
					 and WithdrawnReason is null
					 --and actionTime >= '2019-04-01'
				)d
				where d.CMC_ID not in	(
										(select CMC_id from #DEleted)
										)
						order by cmc_id, LastActionOverAllOrder
		
 		if OBJECT_ID ('Tempdb..#Restricted') is not null
			drop table #Restricted
 
			select   		 
			distinct
					cast(	RIGHT(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1),
							len(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1)
								) -1
							)
						 as bigint)
								as CMC_ID,
1 as IsProtected
	
	into #Restricted
		FROM [ETL_PROD].[dbo].[CMC_Patient]
where IsProtected = 1 



 --select * from #Restricted where CMC_ID = 100011450


  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]

		select
		a.CMC_ID,
		a.NHS_Number,
		a.FullName as [Patient Name],
		a.DOB as [Patient DOB],
		a.team as [Created by Team],
		a.TeamType as [Created by TeamType],
		a.TeamCCG as [Created by TEam CCG],
		a.actionTime  as [Date Care Plan Created],
		d.[Month Name],
		d.[Financial Year],
		a.staffFullName as [Created By],
		a.StaffProviderTypeDescription as [Created Staff-Type],
		case when c.CMC_ID is not null then 1 else null end as 'NEver Published Flag'
 

		into [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]
		
		from #UnpublishedPLans a
		left join #DEleted b on b.CMC_ID = a.CMC_ID
		left join #NeverPublished c on c.CMC_ID = a.CMC_ID and c.LastActionFlag = 1
		left join [ETL_Local_PROD].[dbo].[DIM_Date]d on d.[Calendar Day] = convert(date,a.ActionTime)

		where 
		a.DerivedActionType = 'create'
		and a.WithdrawnReason is null
		and b.CMC_ID is null


		



		end