USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MASTERBUILD_AuditPatient_AuditCareplan]    Script Date: 29/04/2020 11:08:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[AT_MASTERBUILD_AuditPatient_AuditCareplan] 
-- Amended for PD Upgrade
AS
BEGIN



 
	 if OBJECT_ID ('Tempdb..#AuditPatient') is not null
	drop table #AuditPatient
	select
	cast(ltrim(rtrim(RIGHT(GenusId,CHARINDEX('||',REVERSE(GenusId))-1)))as Nvarchar(75)) as GenusID,
	cast(REPLACE(ad.GenusId,'PatientSummary||','')as Nvarchar(75)) as CMC_ID,
	cast(REPLACE(FromVersionId,'PatientSummary','PS')as Nvarchar(75))  as FromPatientSummary,
	cast(REPLACE(ToVersionId,'PatientSummary','PS')as Nvarchar(75))  as ToPatientSummary,
	ItemId as PatAuditID,
	ActionTime,
	ActionType,
	(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=1) as StaffRegistryId,
	(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=3) as DeptPDRegistryId,
	cast((select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=5)as Nvarchar(100))  as Role,
	-- Add CMC_AuditLogin linkage info MS 4.7.16
	LoginRowId as LoginReference,
	Comment
	into #AuditPatient
 
	from ETL_PROD.dbo.CMC_AuditData ad with (nolock) 
 
	Where 
	 not exists (select PatAuditID from [ETL_Local_PROD].[dbo].[AuditPatient_New] z where ad.ItemId = z.PatAuditID)
	and  
	(Actor <> 'System' and ActionType not in ('Login','Logout'))
	and RecordName = 'PatientSummary'
	--and ltrim(rtrim(RIGHT(GenusId,CHARINDEX('||',REVERSE(GenusId))-1))) in (select distinct GenusId from [ETL_Local_PROD].[dbo].[AT_CarePlanVersion])
 
	--select top 50 * from #AuditPatient

--	ALTER TABLE [ETL_Local_PROD].[dbo].[AuditPatient_New] 
--DROP COLUMN AuditDataType;



	insert into [ETL_Local_PROD].[dbo].[AuditPatient_New] 

	SELECT
	GenusID,
	CMC_ID,
	FromPatientSummary,
	ToPatientSummary,
	PatAuditID,
	ActionTime,
	ActionType,
	StaffRegistryId,
	DeptPDRegistryId,
	Role,
	LoginReference,
	null as OverAllOrder,
	null as ActionTypeOrder,
	 Comment

 

  FROM #AuditPatient x

  Where not exists (select PatAuditID from [ETL_Local_PROD].[dbo].[AuditPatient_New] z with (nolock) where x.PatAuditID = z.PatAuditID)

 

 update r
		set r.OverAllOrder = b.OverAllOrder,
			r.ActionTypeOrder = b.ActionTypeOrder

 from  [ETL_Local_PROD].[dbo].[AuditPatient_New] r
 left join
 (
 select
 PatAuditID,
 CMC_ID,
 ActionTime,
 ActionType,
ROW_NUMBER() over (PARTITION by CMC_ID  order by ActionTime,PatAuditID)  as OverAllOrder,
ROW_NUMBER() over (PARTITION by CMC_ID,ActionType order by ActionTime,PatAuditID) as ActionTypeOrder
 from  [ETL_Local_PROD].[dbo].[AuditPatient_New] 
 )as b on b.PatAuditID = r.PatAuditID



 --drop table #AuditPatient



insert into [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New]
 select
REPLACE(ad.GenusId,'CarePlan||','') as CMC_ID,
FromVersionId as FromCarePlan,
ToVersionId as ToCarePlan,
ItemId as CPAuditID,
null as OverAllOrder,
null as ActionTypeOrder,
ActionTime,
ActionType,
(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=1) as StaffRegistryId,
(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=3) as DeptPDRegistryId,
(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=5) as Role,
Comment

from  ETL_PROD.dbo.CMC_AuditData ad with (nolock) where Actor <> 'System' and ActionType not in ('Login','Logout') and RecordName = 'CarePlan' 
and not exists (select CPAuditID from [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New] z with (nolock) where ad.ItemId = z.CPAuditID)

--select top 500 * from [ETL_Local_PROD].[dbo].[AuditPatient_New] order by CMC_ID, overallOrder
--select top 500 * from [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New] order by CMC_ID, overallOrder
 update r
		set r.OverAllOrder = b.OverAllOrder,
			r.ActionTypeOrder = b.ActionTypeOrder

 from  [AuditPatient_CarePlan_New] r
 left join
 (
 select
 CPAuditID,
 CMC_ID,
 ActionTime,
 ActionType,
ROW_NUMBER() over (PARTITION by CMC_ID  order by ActionTime,CPAuditID)  as OverAllOrder,
ROW_NUMBER() over (PARTITION by CMC_ID,ActionType order by ActionTime,CPAuditID) as ActionTypeOrder
 from  [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New]
 )as b on b.CPAuditID = r.CPAuditID




 --select top 50 * from [AT_AccessDataDetail]

--view [Reporting].[Cache-AccessDataDetail]

 insert into  [ETL_Local_PROD].[dbo].[AT_AccessDataDetail] 
	select
	PatAuditID,
	ap.cmc_id,
	--OverAllOrder,
	--ActionTypeOrder,

	ActionTime as ActivityDate,
	ActionType as [Access Type],
	s.StaffRegistryId,
	d1.DeptPDRegistryId,
	s.StaffEnterpriseId,
	ISNULL(s.StaffForename + ' ','') + ISNULL(s.StaffSurname,'') as [User Name],
	d1.DeptEnterpriseId as ActivityEnterpriseId,
	d1.DeptName as name,
	coalesce(f.teamtype,d1.LocalCMCOrgTypeDescription) as TeamType,
	s.StaffActiveDescription as Active_Status,
	s.StaffProviderTypeDescription as UserType,
	io.CMCRoleDescription,
	ap.Role,
	-- MS 11.3.16 add version information
	ap.FromPatientSummary, 
	ap.ToPatientSummary



	from [ETL_Local_PROD].[dbo].[AuditPatient_New]  ap
	join [ETL_Local_PROD].[dbo].[AT_Staff] s on s.StaffRegistryId = ap.StaffRegistryId
	join [ETL_Local_PROD].[dbo].[AT_PD_Dept] d1 on d1.DeptPDRegistryId = ap.DeptPDRegistryId
	join [ETL_Local_PROD].[dbo].[AT_IndToOrg] io on io.StaffEnterpriseId = s.StaffEnterpriseId and io.DeptEnterpriseId = d1.DeptEnterpriseId
	left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f on f.ActivityTeam = d1.DeptName

	where not exists (select x.PatAuditID from [ETL_Local_PROD].[dbo].[AT_AccessDataDetail]x  where x.PatAuditID = ap.PatAuditID)


	  if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID] 
	select
	ItemId,
	ROW_NUMBER() over (  order by ItemId, actionTime)  as OverAllOrder

	into [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID] 

	from ETL_PROD.dbo.CMC_AuditData

	CREATE NONCLUSTERED INDEX [itemRow] ON [dbo].[AT_CMC_AuditData_RowID] 
(
	ItemId ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

 END
