USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MASTERBUILD_AuditPatient_AuditCareplan]    Script Date: 05/08/2021 11:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[AT_MASTERBUILD_AuditPatient_AuditCareplan] 
-- Amended for PD Upgrade
AS
BEGIN



 
	 if OBJECT_ID ('Tempdb..#AuditPatient') is not null
	drop table #AuditPatient
	select
	cast(ltrim(rtrim(RIGHT(GenusId,CHARINDEX('||',REVERSE(GenusId))-1)))as Nvarchar(75)) as GenusID,
	cast(REPLACE(ad.GenusId,'PatientSummary||','')as Nvarchar(75)) as CMC_ID,
	cast(REPLACE(FromVersionId,'PatientSummary','PS')as Nvarchar(75))  as FromPatientSummary,
	cast(REPLACE(ToVersionId,'PatientSummary','PS')as Nvarchar(75))  as ToPatientSummary,
	ItemId as PatAuditID,
	ActionTime,
	ActionType,
	(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=1) as StaffRegistryId,
	(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=3) as DeptPDRegistryId,
	cast((select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=5)as Nvarchar(100))  as Role,
	-- Add CMC_AuditLogin linkage info MS 4.7.16
	LoginRowId as LoginReference,
	Comment
	into #AuditPatient
 
	from ETL_PROD.dbo.CMC_AuditData ad with (nolock) 
 
	Where 
	 not exists (select PatAuditID from [ETL_Local_PROD].[dbo].[AuditPatient_New] z where ad.ItemId = z.PatAuditID)
	and  
	(Actor <> 'System' and ActionType not in ('Login','Logout'))
	and RecordName = 'PatientSummary'
	--and ltrim(rtrim(RIGHT(GenusId,CHARINDEX('||',REVERSE(GenusId))-1))) in (select distinct GenusId from [ETL_Local_PROD].[dbo].[AT_CarePlanVersion])
 
	--select top 50 * from #AuditPatient

--	ALTER TABLE [ETL_Local_PROD].[dbo].[AuditPatient_New] 
--DROP COLUMN AuditDataType;



	insert into [ETL_Local_PROD].[dbo].[AuditPatient_New] 

	SELECT
	GenusID,
	CMC_ID,
	FromPatientSummary,
	ToPatientSummary,
	PatAuditID,
	ActionTime,
	ActionType,
	StaffRegistryId,
	DeptPDRegistryId,
	Role,
	LoginReference,
	null as OverAllOrder,
	null as ActionTypeOrder,
	 Comment

 

  FROM #AuditPatient x

  Where not exists (select PatAuditID from [ETL_Local_PROD].[dbo].[AuditPatient_New] z with (nolock) where x.PatAuditID = z.PatAuditID)

 

 update r
		set r.OverAllOrder = b.OverAllOrder,
			r.ActionTypeOrder = b.ActionTypeOrder

 from  [ETL_Local_PROD].[dbo].[AuditPatient_New] r
 left join
 (
 select
 PatAuditID,
 CMC_ID,
 ActionTime,
 ActionType,
ROW_NUMBER() over (PARTITION by CMC_ID  order by ActionTime,PatAuditID)  as OverAllOrder,
ROW_NUMBER() over (PARTITION by CMC_ID,ActionType order by ActionTime,PatAuditID) as ActionTypeOrder
 from  [ETL_Local_PROD].[dbo].[AuditPatient_New] 
 )as b on b.PatAuditID = r.PatAuditID



 --drop table #AuditPatient



insert into [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New]
 select
REPLACE(ad.GenusId,'CarePlan||','') as CMC_ID,
FromVersionId as FromCarePlan,
ToVersionId as ToCarePlan,
ItemId as CPAuditID,
null as OverAllOrder,
null as ActionTypeOrder,
ActionTime,
ActionType,
(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=1) as StaffRegistryId,
(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=3) as DeptPDRegistryId,
(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=5) as Role,
Comment

from  ETL_PROD.dbo.CMC_AuditData ad with (nolock) where Actor <> 'System' and ActionType not in ('Login','Logout') and RecordName = 'CarePlan' 
and not exists (select CPAuditID from [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New] z with (nolock) where ad.ItemId = z.CPAuditID)

--select top 500 * from [ETL_Local_PROD].[dbo].[AuditPatient_New] with (nolock)order by CMC_ID, overallOrder
--select top 500 * from [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New] order by CMC_ID, overallOrder
 update r
		set r.OverAllOrder = b.OverAllOrder,
			r.ActionTypeOrder = b.ActionTypeOrder

 from  [AuditPatient_CarePlan_New] r
 left join
 (
 select
 CPAuditID,
 CMC_ID,
 ActionTime,
 ActionType,
ROW_NUMBER() over (PARTITION by CMC_ID  order by ActionTime,CPAuditID)  as OverAllOrder,
ROW_NUMBER() over (PARTITION by CMC_ID,ActionType order by ActionTime,CPAuditID) as ActionTypeOrder
 from  [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New]
 )as b on b.CPAuditID = r.CPAuditID



	--select * from  [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID] 
	--where overallorder =
	--		(select max(overallorder) from [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID] )

 --select top 50 * from [AT_AccessDataDetail]

--view [Reporting].[Cache-AccessDataDetail]


		declare @MaxVal Bigint,
				@MaxTime date

		set @MaxVal = ( select max(overallorder) from [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID]  )
		set @MaxTime = (DATEADD(day,-14,(select convert(date,actionTime) from  [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID] where overallorder = @MaxVal)))

 
	--	 select * into #TempTTR from [ETL_PROD].[dbo].[CMC_AuditData] with (nolock) where convert(date,ActionTime)>= '2021-03-21' 

	--	 truncate table  [ETL_PROD].[dbo].[CMC_AuditData] 
	--insert into  [ETL_PROD].[dbo].[CMC_AuditData] select *  from  [ETL_PROD].[dbo].[CMC_AuditData_Copy] 
		 --select max(actiontime) from  [ETL_PROD].[dbo].[CMC_AuditData] 


	 if OBJECT_ID ('Tempdb..#AuditDataRowID') is not null
	drop table #AuditDataRowID
		select
	ItemId,
	actionTime,
	AuditType,
	cast(ltrim(rtrim(replace(REPLACE(ItemId,'doc',''),'Registry',''))) as BigInt) as AuditID ,
	cast(null as bigint) as RowID

	into #AuditDataRowID

	from [ETL_PROD].[dbo].[CMC_AuditData] x
	  Where 
	  not exists (select ItemId from [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID]  z with (nolock) where x.ItemId = z.ItemId)
	  and convert(date,x.actiontime)>= @MaxTime
 

 
 
		update x
		set x.RowID = y.OverAllOrder

	from #AuditDataRowID x
	inner join 
			(select 
			auditid,
			ROW_NUMBER() over (  order by AuditID, actionTime)  as OverAllOrder
			from #AuditDataRowID 
			)y on y.AuditID = x.AuditID



		insert into [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID] 
		select
		ItemId,
		AuditID,
		actionTime,
		@MaxVal + RowID  as OverAllOrder
		from #AuditDataRowID x
		where not exists (select AuditID from [ETL_Local_PROD].[dbo].[AT_CMC_AuditData_RowID]  z with (nolock) where x.AuditID = z.AuditID)
		order by AuditID,actionTime

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


	delete from [ETL_PROD].[dbo].[CMC_AuditData] where convert(date, actiontime) < @MaxTime
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  

  --care plan

	 if OBJECT_ID ('Tempdb..#AuditPatientRowID') is not null
	drop table #AuditPatientRowID
		select
	CPAuditID,
	actionTime,
	cast(ltrim(rtrim(REPLACE(CPAuditID,'doc',''))) as BigInt) as AuditID,
	cast(null as bigInt)as  NewOverAllORder,
	ROW_NUMBER() over (  order by CPAuditID, actionTime)  as OverAllOrder

	into #AuditPatientRowID

	from [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New]

		update x
		set x.NewOverAllORder = y.OverAllOrder

	from [#AuditPatientRowID]x
	inner join 
			(select 
			auditid,
			ROW_NUMBER() over (  order by AuditID, actionTime)  as OverAllOrder
			from [#AuditPatientRowID]
			)y on y.AuditID = x.AuditID




	  if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_RowID]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_RowID]
	select
	AuditID,
	CPAuditID,
	actionTime,
	NewOverAllORder as OverAllOrder

	into [ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_RowID]

	from #AuditPatientRowID
	order by NewOverAllORder

		
		--select * from [ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_RowID] order by OverAllOrder


		--select * from [#AuditPatientRowID] order by NewOverAllORder
 
 --AuditPatient
 
	 if OBJECT_ID ('Tempdb..#AuditPatientNew_RowID') is not null
	drop table #AuditPatientNew_RowID
		select
	PatAuditID,
	actionTime,
	cast(ltrim(rtrim(REPLACE(PatAuditID,'doc',''))) as BigInt) as AuditID,
	cast(null as bigInt)as  NewOverAllORder

	into #AuditPatientNew_RowID

	from [ETL_Local_PROD].[dbo].[AuditPatient_New]

		update x
		set x.NewOverAllORder = y.OverAllOrder

	from #AuditPatientNew_RowID x
	inner join 
			(select 
			auditid,
			ROW_NUMBER() over (  order by AuditID, actionTime)  as OverAllOrder
			from #AuditPatientNew_RowID
			)y on y.AuditID = x.AuditID

 
	  if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_New_RowID]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_New_RowID]
	select
	AuditID,
	PatAuditID,
	actionTime,
	NewOverAllORder as OverAllOrder

	into [ETL_Local_PROD].[dbo].[AT_CMC_AuditPatient_New_RowID]

	from #AuditPatientNew_RowID
	order by NewOverAllORder








			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_AuditPatient_LastDateStamp]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_AuditPatient_LastDateStamp]
			select 
			distinct
			max(actiontime) as LastDate
			into [ETL_Local_PROD].[dbo].[AT_AuditPatient_LastDateStamp]
			from [ETL_Local_PROD].[dbo].[AuditPatient_New] 

 

			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_AuditCarePlan_LastDateStamp]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_AuditCarePlan_LastDateStamp]
			select 
			distinct
			max(actiontime) as LastDate
			into [ETL_Local_PROD].[dbo].[AT_AuditCarePlan_LastDateStamp]
			from [ETL_Local_PROD].[dbo].[AuditPatient_CarePlan_New]



	 
		

 END
