USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__Provider_directory_Organsations_Departments]    Script Date: 02/08/2021 09:32:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__Provider_directory_Organsations_Departments] 
-- Amended for PD Upgrade
AS
BEGIN
	
	
	
	IF OBJECT_ID('tempdb..#Orgs') IS NOT NULL 
		dROP TABLE #Orgs
  
		select
		distinct
		null as id,
		null as ProRN,
		z.DeptName as [Team]
		,z.DeptODSCode
		,z.deptEnterpriseID as EnterpriseID
		,z.DeptPDRegistryId
		,cast(null as date) as ORgOpenDate
		,cast(null as date) as ORgCloseDate
		,cast(null as date) as [Org to ORg Start Date]
		,cast(null as date) as [Org to Org End Date]
		,null as ParentOrganizationEID
		,cast(null as varchar(max)) as Parent
		,cast(null as varchar(255)) as TypeCodedValue
		,cast(null as varchar(200))as OrgStatus
		,cast(null as varchar(max))as OrgType
		,null as IsParentFlag
		,null as IgnoreFlag
		,cast(null as varchar(255)) as PostCode
		,cast(null as varchar(255)) as [PostCode_NoGaps] 
		,cast(null as varchar(255)) as [PostCode_7]
		,cast(null as varchar(255)) as [PostCode_6]
		,cast(null as varchar(255)) as [PostCode_5]
		,cast(null as varchar(255)) as [PostCode_4]


		,Cast(null as varchar(255)) as CCG
		,Cast(null as Varchar(255)) as [Local Authority]
		,Cast(null as Varchar(255)) as [Region]	
			
		into #Orgs
		
		FROM   (  
				--pd_DEPT
				-----------------------------------------------------------------------------------------------------------------------------------
				select 
				ROW_NUMBER() over ( order by o.Organization,o.DeptEnterpriseID,o.DeptPDRegistryID)  as DeptKey,
				n.Name as DeptName,
				t.OrganizationType,
				tl.Description as OrganizationTypeDescription,
				o.Organization,
				o.DeptSource,
				o.DeptEnterpriseID,
				o.DeptPDRegistryID,
				o.DeptLocalCMCId,
				o.LocalCMCOrgType,
				ol.Description as LocalCMCOrgTypeDescription,
				o.DeptODSCode,
				o.DeptOpenDate,
				o.DeptCloseDate

 

				from 
					(
		
					select 
					raw.ItemId as Organization,
					-- shorten fields so we can create indexes MS 16.2.16
					cast(case when raw.Source is null then 'CC' else raw.Source end as varchar(25)) as DeptSource,
					ISNULL(pd.ItemId,raw.ItemId) as PDItemId,
					ISNULL(pd.enterpriseid,raw.enterpriseid) as DeptEnterpriseId,
					ISNULL(pd.PDRegistryID,raw.PDRegistryID) as DeptPDRegistryId,
					ISNULL(pd.Name,raw.Name) as Name,
					cast(ISNULL(pd.LocalCMCID,raw.LocalCMCID) as varchar(255)) as DeptLocalCMCID,
					ISNULL(pd.ODSCode,raw.ODSCode) as DeptODSCode,
					ISNULL(pd.OpenDate,raw.OpenDate) as DeptOpenDate,
					ISNULL(pd.CloseDate,raw.CloseDate) as DeptCloseDate,
					ISNULL(pd.LocalCMCOrgType,raw.LocalCMCOrgType) as LocalCMCOrgType
					-- use cached version of CMC_Organization, with indexes, for performance MS 7.8.16
	 

					from 
						(
						select ItemId, 
						cast(Source as varchar(255)) as Source, 
						EnterpriseID,
						PDRegistryID,
						Name,
						cast(LocalCMCId as varchar(255)) as LocalCMCId, 
						cast(ODSCode as varchar(255)) as ODSCode, 
						OpenDate,
						CloseDate,
						LocalCMCOrgType,
						RegistryID 


						from ETL_PROD.dbo.cmc_organization with (nolock)
						where ETL_PROD.dbo.cmc_organization.ItemId not like 'CarePlan|%|%|%|%|%|LCA'
						and ETL_PROD.dbo.cmc_organization.ItemId not like 'PS|%|%|%|%|%|LCA'
						)raw
						left join 
						(
						select ItemId, 
						cast(Source as varchar(255)) as Source, 
						EnterpriseID,
						PDRegistryID,
						Name,
						cast(LocalCMCId as varchar(255)) as LocalCMCId, 
						cast(ODSCode as varchar(255)) as ODSCode, 
						OpenDate,
						CloseDate,
						LocalCMCOrgType,
						RegistryID 

						from ETL_PROD.dbo.cmc_organization with (nolock)
						where ETL_PROD.dbo.cmc_organization.ItemId not like 'CarePlan|%|%|%|%|%|LCA'
						and ETL_PROD.dbo.cmc_organization.ItemId not like 'PS|%|%|%|%|%|LCA'
						)
						pd on raw.registryid = pd.pdregistryid and raw.Source is null
												and raw.RegistryID is not null and pd.PDRegistryID is not null
						) o 
						left join 
						(
						select 
						Organization,
						MIN(organizationtype) as OrganizationType 
						from ETL_PROD.dbo.CMC_Organization_OrganizationTypeCodes  with (nolock) 
						group by Organization
						)t  on o.PDItemId = t.Organization
						left join ETL_PROD.dbo.Coded_OrgType tl  with (nolock) on tl.Code = t.OrganizationType
						left join ETL_PROD.dbo.Coded_LocalCMCOrgType ol  with (nolock) on ol.code = o.LocalCMCOrgType
						left join ETL_PROD.dbo.CMC_OrganizationName n  with (nolock) on n.ItemId = o.Name
						-- Exclude Last Clinical Approver rows for 15.1 release
						where n.ItemId not like 'CarePlan|%|%|%|%|%|LCA'
						AND n.ItemId not like 'PS|%|%|%|%|%|LCA'
						and o.DeptSource  = 'PD'
------------------------------------------------------------------------------------------------- 
			--)z on z.DeptPDRegistryID = a.DeptPDRegistryID
			)z
			 Where z.deptEnterpriseID is not null
			--and z.deptEnterpriseID = 100144440
			 
			--drop table #OrgBackUp 
			--select * into #OrgBackUp from #Orgs
			--drop table #Orgs
			--select * into #Orgs  from #OrgBackUp
			--select * from #Orgs where EnterpriseID = 100074756
			
			update aa

			set aa.Parent = e.Name,
			aa.ParentOrganizationEID = c.ParentOrganizationEID,
			aa.ORgOpenDate = dd.OpenDate,
			aa.ORgCloseDate = dd.CloseDate,
			aa.TypeCodedValue = h.Description,
			aa.OrgType = f.Description,
			aa.OrgStatus = x.Description,
			aa.[Org to Org End Date] = ds.EndDate,
			aa.[Org to ORg Start Date] = ds.StartDate


			from #Orgs aa
			inner join [ETL_PROD].[dbo].[CMC_OrgToOrg] c on c.ChildOrganizationEID = aa.EnterpriseID
				left join [ETL_PROD].[dbo].[Coded_OrgOrgRelationshipType]h on h.Code = c.TypeCodedValue
				inner join [ETL_PROD].[dbo].[CMC_Organization]d on d.EnterpriseID = c.ParentOrganizationEID and d.CloseDate is null and (d.LocalCMCOrgType <> 106 or  d.LocalCMCOrgType is null)and d.Source = 'pd'
				left join [ETL_PROD].[dbo].[CMC_OrganizationName]e on e.[ItemId] = d.ItemId
				left join [ETL_PROD].[dbo].[Coded_LocalCMCOrgType]f on f.Code = d.LocalCMCOrgType
				left join [ETL_PROD].[dbo].[Coded_OrgStatus]x on x.Code = d.StatusCodedValue
				left join [ETL_PROD].[dbo].[CMC_Organization]dd on dd.EnterpriseID = c.ChildOrganizationEID 
				left join [ETL_PROD].[dbo].[CMC_OrganizationName]ee on ee.[ItemId] = dd.ItemId
				left join [ETL_PROD].[dbo].[Coded_LocalCMCOrgType]ff on ff.Code = dd.LocalCMCOrgType
				left join [ETL_PROD].[dbo].[CMC_OrgToOrg_DateSpan]z on z.OrgToOrg = c.ItemId
				left join ETL_PROD.dbo.CMC_DateSpan ds on ds.ItemId = z.DateSpan
				where 
				c.TypeCodedValue in ('MEMBER','09')
				and e.Source = 'pd'
				and ds.EndDate is null
				--and ee.Name <> 'CMC TEST DOCTORS'


					--select * from [ETL_PROD].[dbo].[CMC_Organization]where EnterpriseID= 100043333
					--select *  from [ETL_PROD].[dbo].[CMC_OrgToOrg]where ChildOrganizationEID   in (100074756) and TypeCodedValue in ('MEMBER','09')
				--	s [ETL_PROD].[dbo].[CMC_OrgToOrg_DateSpan]z on z.OrgToOrg = c.ItemId
				--left join ETL_PROD.dbo.CMC_DateSpan ds on ds.ItemId = z.DateSpan
			delete from #Orgs where team = 'CMC TEST DOCTORS'--where OrgStatus = 'closed' or team = 'CMC TEST DOCTORS'
				--select * from #Orgs where EnterpriseID =100126872 
	
				--	select * from #Orgs order by parent
/**
				IF OBJECT_ID('tempdb..#Orgs') IS NOT NULL 
				dROP TABLE #Orgs
  
				select 
				ee.Name as [Team],
				
				d.ODSCode as DeptODSCode,
				c.ChildOrganizationEID as EnterpriseID,
				dd.PDRegistryID as DEptPDRegistryID,
				ds.StartDate as [Org to ORg Start Date],
				ds.EndDate as [Org to Org End Date],
				d.OpenDate as ORgOpenDate,
				d.CloseDate as ORgCloseDate,
				c.ParentOrganizationEID as ParentOrganizationEID,
				d.PDRegistryID as OrgPDRegistryID,
				e.name as Parent,
				h.description as TypeCodedValue,
				f.Description as OrgType,
				x.Description as OrgStatus,

				null as IsParentFlag,
				null as IgnoreFlag,
				cast(null as varchar(255)) as PostCode,
				Cast(null as varchar(255)) as CCG,
				Cast(null as Varchar(255)) as [Local Authority],
				Cast(null as Varchar(255)) as [Region]	
	
				into #Orgs
			 
				from [ETL_PROD].[dbo].[CMC_OrgToOrg] c
				left join [ETL_PROD].[dbo].[Coded_OrgOrgRelationshipType]h on h.Code = c.TypeCodedValue
				inner join [ETL_PROD].[dbo].[CMC_Organization]d on d.EnterpriseID = c.ParentOrganizationEID and d.CloseDate is null and (d.LocalCMCOrgType <> 106 or  d.LocalCMCOrgType is null)and d.Source = 'pd'
				left join [ETL_PROD].[dbo].[CMC_OrganizationName]e on e.[ItemId] = d.ItemId
				left join [ETL_PROD].[dbo].[Coded_LocalCMCOrgType]f on f.Code = d.LocalCMCOrgType
				left join [ETL_PROD].[dbo].[Coded_OrgStatus]x on x.Code = d.StatusCodedValue
				left join [ETL_PROD].[dbo].[CMC_Organization]dd on dd.EnterpriseID = c.ChildOrganizationEID 
				left join [ETL_PROD].[dbo].[CMC_OrganizationName]ee on ee.[ItemId] = dd.ItemId
				left join [ETL_PROD].[dbo].[Coded_LocalCMCOrgType]ff on ff.Code = dd.LocalCMCOrgType
				left join [ETL_PROD].[dbo].[CMC_OrgToOrg_DateSpan]z on z.OrgToOrg = c.ItemId
				left join ETL_PROD.dbo.CMC_DateSpan ds on ds.ItemId = z.DateSpan
 

		 
				where 
				--ChildOrganizationEID   in (100074756)
				--and 
				c.TypeCodedValue in ('MEMBER','09')
				and e.Source = 'pd'
				and ds.EndDate is null
				and ee.Name <> 'CMC TEST DOCTORS'


		 	select * from[ETL_PROD].[dbo].[CMC_OrganizationName] where itemid = '100117466O'
			select * from [ETL_PROD].[dbo].[CMC_Organization]where EnterpriseID= 100043333
			 select * from [ETL_PROD].[dbo].[Coded_OrgStatus]x
			--select *  from [ETL_PROD].[dbo].[CMC_OrgToOrg]where ChildOrganizationEID   in (100074756)
			 
			----select top 5* FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a with (nolock) where DeptPDRegistryId = 897561

			 

**/


update f
					set f.ORgCloseDate = g.CloseDate,
					f.ORgOpenDate = g.OpenDate
			from #Orgs f
			inner join  [ETL_PROD].[dbo].[CMC_Organization]g on g.EnterpriseID = f.EnterpriseID 




			update r

			set r.Parent = s.[Team or GP],
			r.OrgType = 'General Practice'

			from #Orgs r 
			inner join [ETL_Local_PROD].[ODSData].[searchods]s on s.ODS = r.DeptODSCode and s.Type = 'General Medical Practice'
			
			where r.OrgType = 'General Practice' or R.OrgType is null
			--select * from #Orgs order by Team
			--select * from #Orgs where EnterpriseID in (100072019)
			--where OrgType = 'General Practice'
			--select * from #Orgs where charindex('OOH',team)>0
  

			--			select * from #Orgs where DeptODSCode is null
			--			select * from #Orgs order by Parent,  Team
			--			select * from #Orgs where OrgStatus = 'closed'
			--			select * from #Orgs where Team in ('ELFT CH DEMENTIA SERVICE TEAM')
			--select * from [ETL_Local_PROD].[ODSData].[searchods] where [Team or GP] = 'THE NELSON MEDICAL PRACTICE'
			--select * from AT_PD_Dept where DeptName =  'THE NELSON MEDICAL PRACTICE'
		--select * from [ETL_Local_PROD].[ODSData].[searchods] where ods in ('E87024',	'E87742')
			--select * from [ETL_Local_PROD].[ODSData].[searchods] where charindex('CASTLEVIEW',[team or gp])>0 order by [team or gp]
			--select * from #Orgs where charindex('jefferies',[team])>0

			update r

			set r.Parent = r.team

			from #Orgs r 

			where OrgType = 'General Practice'
			and DeptODSCode is null
		



			update f

				set f.Parent = e.Name

			from #Orgs f
			left join [ETL_PROD].[dbo].[CMC_Organization]d on d.EnterpriseID = f.ParentOrganizationEID --and d.CloseDate is null and d.LocalCMCOrgType <> 106
			left join [ETL_PROD].[dbo].[CMC_OrganizationName]e on e.[ItemId] = d.ItemId  and e.Source = 'pd'
			where f.Parent is null and f.ParentOrganizationEID is not null



			Update x

				set x.ParentOrganizationEID = x.EnterpriseID,
					x.Parent = x.Team 
			from #Orgs x
			where x.ParentOrganizationEID is null or ParentOrganizationEID = 100099077

			update z
				set z.IsParentFlag = 1
			from #Orgs z
			where (EnterpriseID = ParentOrganizationEID) OR (parent = Team)



						update f

				set f.ParentOrganizationEID = EnterpriseID,
					f.Parent = f.Team

			from #Orgs f
			where OrgType =  'General Practice'


			update r

			set r.OrgType = t.Description
			--select r.*,t.DEscription

			from #Orgs r
			inner join [ETL_PROD].[dbo].[CMC_Organization] s on s.EnterpriseID = r.ParentOrganizationEID
			inner join [ETL_PROD].[dbo].[Coded_LocalCMCOrgType]t on t.Code = s.LocalCMCOrgType
			where r.OrgType is null
					 

					 --select * from #Orgs where EnterpriseID in (100072019)
						--			select * from #Orgs where DeptODSCode is null
			--			select * from #Orgs order by Parent,  Team
			--select * from [ETL_Local_PROD].[ODSData].[searchods]
			--			update f
			--		set f.PostCode = g.Postcode
			--From #Orgs f
			--left join [ETL_Local_PROD].[ODSData].[searchods]g on g.ODS = f.DeptODSCode




			update f
					set f.PostCode = g.Postcode,
						f.[PostCode_NoGaps] = REPLACE(g.Postcode , ' ', '') ,
						f.[PostCode_7]= left(g.Postcode,7),
						f.[PostCode_6] = left(g.Postcode,6),
						f.[PostCode_5] = left(g.Postcode,5),
						f.[PostCode_4] = left(g.Postcode,4)
				from #Orgs f
			left join [ETL_Local_PROD].[ODSData].[searchods]g on g.ODS = f.DeptODSCode

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

					if object_id('tempdb..#Temp2') is not null
					drop table #Temp2

					select 
					distinct  
					ltrim(rtrim(REPLACE(CCG, ' CCG', ''))) as CCG, 
					STP,
					[NHS England REgion],
					[PCDS],
					REPLACE([PCDS] , ' ', '') as [PCDS_NoGaps] ,
					left(PCDS,7) as [PCDS_7],
					left(PCDS,6) as [PCDS_6],
					left(PCDS,5) as [PCDS_5],
					left(PCDS,4) as [PCDS_4]
					into #Temp2
					from [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]


					if object_id('tempdb..#Temp3') is not null
					drop table #Temp3

					select 
					distinct  
					ltrim(rtrim(REPLACE(CCG, ' CCG', ''))) as CCG, 
					STP,
					[NHS England REgion],
					[Local Authority],
					[PCDS],
					REPLACE([PCDS] , ' ', '') as [PCDS_NoGaps] ,
					left(PCDS,7) as [PCDS_7],
					left(PCDS,6) as [PCDS_6],
					left(PCDS,5) as [PCDS_5],
					left(PCDS,4) as [PCDS_4]
					into #Temp3
					from [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA_NEW]

					--------------------------------------------------------------------------------------------------------------------------------------------------------
					
					--select * from #Orgs where EnterpriseID in (100072019)
					--select * from #Temp2 where PCDS = 'SW6 4UL'
					
					update s

					set s.CCG = coalesce(pc.ccg,pc2.ccg )

					from  [#Orgs]s

					left join  [#Temp2]pc on pc.PCDS = s.POSTCODE
					left join  [#Temp2]pc2 on pc2.[PCDS_NoGaps] = s.PostCode_NoGaps 





					update s

					set s.CCG =  ss.ccg 

					from  [#Orgs]s
					inner join  [#Temp2]ss on ss.PCDS_7 = s.PostCode_7
				 

					where s.CCG is null 



						update s

					set s.CCG =  t.ccg 

					from  [#Orgs]s
				 
					inner join  [#Temp2]t on t.PCDS_6 = s.PostCode_6

					where s.CCG is null 

 

					update s

					set s.CCG =  u.ccg 

					from  [#Orgs]s
					inner join  [#Temp2]u on u.PCDS_5 = s.PostCode_5
			 

					where s.CCG is null 



					update s

					set s.CCG =  v.ccg 

					from  [#Orgs]s
					inner join  [#Temp2]v on v.PCDS_4 = s.PostCode_4

					where s.CCG is null 




					---LOCAL AUTHORITIES


					update s
					set s.[Local Authority] = coalesce(pc.[Local Authority],pc2.[Local Authority])
					from [#Orgs]s 
					left join  [#Temp3]pc on pc.PCDS = s.POSTCODE
					left join  [#Temp3]pc2 on pc2.[PCDS_NoGaps] = s.PostCode_NoGaps




					update s

					set s.[Local Authority] = ss.[Local Authority] 

					from  [#Orgs]s
					inner join  [#Temp3]ss on ss.PCDS_7 = s.PostCode_7
		 

					where s.[Local Authority] is null 



	update s

					set s.[Local Authority] = t.[Local Authority]

					from  [#Orgs]s
					inner join  [#Temp3]t on t.PCDS_6 = s.PostCode_6

					where s.[Local Authority] is null 



					update s

					set s.[Local Authority] =  u.[Local Authority] 

					from  [#Orgs]s
					inner join  [#Temp3]u on u.PCDS_5 = s.PostCode_5

					where s.[Local Authority] is null 


					update s

					set s.[Local Authority] = v.[Local Authority]

					from  [#Orgs]s
					inner join  [#Temp3]v on v.PCDS_4 = s.PostCode_4

					where s.[Local Authority] is null 


---------------------------------------------------------------------



					update s

					set s.region = coalesce(pc.[NHS England REgion],pc2.[NHS England REgion])

					from [#Orgs]s 
					left join  [#Temp3]pc on pc.PCDS = s.POSTCODE
					left join  [#Temp3]pc2 on pc2.[PCDS_NoGaps] = s.PostCode_NoGaps

				
				
				
				
				
				
					update s

					set s.Region = ss.[NHS England REgion] 

					from  [#Orgs]s
					inner join  [#Temp3]ss on ss.PCDS_7 = s.PostCode_7
		 

					where s.Region is null 



					update s

					set s.Region = t.[NHS England REgion]
					from  [#Orgs]s
					inner join  [#Temp3]t on t.PCDS_6 = s.PostCode_6

					where s.Region is null 



					update s

					set s.Region =  u.[NHS England REgion] 

					from  [#Orgs]s
					inner join  [#Temp3]u on u.PCDS_5 = s.PostCode_5

					where s.Region is null 


					update s

					set s.Region = v.[NHS England REgion]

					from  [#Orgs]s
					inner join  [#Temp3]v on v.PCDS_4 = s.PostCode_4

					where s.Region is null 

	




					update s

					set s.region = coalesce(ss.[NHS England REgion],t.[NHS England REgion])

					from  [#Orgs]s
					left join  [#Temp3]ss on ss.PCDS_7 = left(s.POSTCODE,7)
					left join  [#Temp3]t on t.PCDS_6 = left(s.POSTCODE,6)

					where s.region is null 


					update s

					set s.region = coalesce(u.[NHS England REgion],v.[NHS England REgion])

					from  [#Orgs]s
					left join  [#Temp3]u on u.PCDS_5 = left(s.POSTCODE,5)
					left join  [#Temp3]v on v.PCDS_4 = left(s.POSTCODE,4)

					where s.region is null 


					--select * from #Orgs where EnterpriseID in (100072019)


			if object_id('tempdb..#TempOT') is not null
			drop table #TempOT

			SELECT   b.Description as OrgTypeName
			,a.EnterpriseID
			,ROW_NUMBER() over (partition by a.EnterpriseID order by b.Code ) as rn
			into #TempOT
			from [ETL_PROD].[dbo].[CMC_Organization]a
			inner join [ETL_PROD].[dbo].[CMC_Organization_OrganizationTypeCodes]aa on aa.organization = a.ItemId
			inner join [ETL_PROD].[dbo].[Coded_OrgType]b on b.Code = aa.OrganizationType
 
  --where Organization = '100043269o'
  delete from #TempOT where EnterpriseID not in (select distinct EnterpriseID from #Orgs where OrgType is null)

  --select * from #TempOT order by EnterpriseID
  delete from #TempOT where rn = 2


  Update f
		set f.OrgType = g.OrgTypeName
  from [#Orgs]f
  inner join #TempOT g on g.EnterpriseID = f.EnterpriseID 


-------------------------------------------------------------------------------------------------------------------------------------ADD GP's NOT IN THIS ACTIVITY DATA

	if object_id('tempdb..#Orgs2') is not null
	 drop table [#Orgs2]

SELECT   distinct
       [GP_Practice]
	   ,GP_EnterpriseID
	   ,null as ParentEID
	   ,Cast(null as Varchar(500)) as ParentORg
	   ,c.DeptPDRegistryID
	   ,g.Postcode
	   ,REPLACE(g.Postcode , ' ', '') as [PostCode_NoGaps]
	   ,left(g.Postcode,7)  as [PostCode_7]
	   ,left(g.Postcode,6) as [PostCode_6] 
	   ,left(g.Postcode,5) as [PostCode_5]
	  ,left(g.Postcode,4) as [PostCode_4]
      ,a.[CCG] as PatGEnCCG
	  ,Cast(null as Varchar(255)) as Region
 		,Cast(case when  charindex('test', GP_PRactice)>0 then 'TEST PATIENT' else null end as varchar(255)) as CCG
		,Cast(null as Varchar(255)) as [Local Authority]
      ,c.DeptODSCode
      ,[GPODSCode]
	  ,c.DeptOpenDate
	  ,c.DeptCloseDate
	  ,
	  case
	  when c.LocalCMCOrgTypeDescription is null
	  then 
		case 
			when g.type in ('NHS Trust','NHS Trust Site') then 'Acute Trust'
			when g.Type in ('General Medical Practice','GP','Branch Surgery') then 'General Practice' 
			when g.type in ('Care Home','Care Home HQ','Care Trust','Care Trust Site') then 'Care Agency'
				else g.type
			end
		ELse c.LocalCMCOrgTypeDescription
	 end as OrgType
      into #Orgs2
  FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]a
 
  left join [ETL_Local_PROD].[dbo].[AT_PD_Dept]c on c.DeptEnterpriseID = a.GP_EnterpriseID
  	left join [ETL_Local_PROD].[ODSData].[searchods]g on g.ODS = c.DeptODSCode

		--select * from #Orgs where EnterpriseID =100126872 
		--select * from #Orgs2 where GP_EnterpriseID = 100126872
  --where charindex('test', GP_PRactice)=0
  --order by b.ccg
 --select distinct type from   [ETL_Local_PROD].[ODSData].[searchods]
 -- select * from #Orgs2
		update aa

			set aa.ParentEID = c.ParentOrganizationEID,
				aa.ParentORg = e.Name
		from #Orgs2 aa
     

	 		inner join [ETL_PROD].[dbo].[CMC_Organization] a  with (nolock)  on a.EnterpriseID = aa.GP_EnterpriseID and a.Source = 'pd'
			left join [ETL_PROD].[dbo].[CMC_OrganizationName]b  with (nolock)  on b.[ItemId] = a.ItemId
			inner join [ETL_PROD].[dbo].[CMC_OrgToOrg]c  with (nolock)  on c.ChildOrganizationEID = aa.GP_EnterpriseID and c.TypeCodedValue in ('MEMBER','09') and (deleted <> 1 or deleted is null)--not in ( '05','01') 
			left join [ETL_PROD].[dbo].[Coded_OrgStatus]x on x.Code = a.StatusCodedValue
			inner join [ETL_PROD].[dbo].[CMC_Organization]d  with (nolock)  on d.EnterpriseID = c.ParentOrganizationEID and d.CloseDate is null and d.LocalCMCOrgType not in ( 106,11)
			left join [ETL_PROD].[dbo].[CMC_OrganizationName]e  with (nolock)  on e.[ItemId] = d.ItemId  and e.Source = 'pd'
			left join [ETL_PROD].[dbo].[Coded_OrgOrgRelationshipType]h  with (nolock)  on h.Code = c.TypeCodedValue
			left join [ETL_PROD].[dbo].[Coded_LocalCMCOrgType]f  with (nolock)  on f.Code = a.LocalCMCOrgType

			--select * from #Orgs2
--------------------------------------------------------------------------------------------------------------------------------------------------------
					update s

					set s.CCG = coalesce(pc.ccg,pc2.ccg )

					from  [#Orgs2]s

					left join  [#Temp2]pc on pc.PCDS = s.POSTCODE
					left join  [#Temp2]pc2 on pc2.[PCDS_NoGaps] = s.PostCode_NoGaps 





					update s

					set s.CCG =  ss.ccg 

					from  [#Orgs2]s
					inner join  [#Temp2]ss on ss.PCDS_7 = s.PostCode_7
				 

					where s.CCG is null 



						update s

					set s.CCG =  t.ccg 

					from  [#Orgs2]s
				 
					inner join  [#Temp2]t on t.PCDS_6 = s.PostCode_6

					where s.CCG is null 

 

					update s

					set s.CCG =  u.ccg 

					from  [#Orgs2]s
					inner join  [#Temp2]u on u.PCDS_5 = s.PostCode_5
			 

					where s.CCG is null 



					update s

					set s.CCG =  v.ccg 

					from  [#Orgs2]s
					inner join  [#Temp2]v on v.PCDS_4 = s.PostCode_4

					where s.CCG is null 




					---LOCAL AUTHORITIES


					update s
					set s.[Local Authority] = coalesce(pc.[Local Authority],pc2.[Local Authority])
					from [#Orgs2]s 
					left join  [#Temp3]pc on pc.PCDS = s.POSTCODE
					left join  [#Temp3]pc2 on pc2.[PCDS_NoGaps] = s.PostCode_NoGaps




					update s

					set s.[Local Authority] = ss.[Local Authority] 

					from  [#Orgs2]s
					inner join  [#Temp3]ss on ss.PCDS_7 = s.PostCode_7
		 

					where s.[Local Authority] is null 



	update s

					set s.[Local Authority] = t.[Local Authority]

					from  [#Orgs2]s
					inner join  [#Temp3]t on t.PCDS_6 = s.PostCode_6

					where s.[Local Authority] is null 



					update s

					set s.[Local Authority] =  u.[Local Authority] 

					from  [#Orgs2]s
					inner join  [#Temp3]u on u.PCDS_5 = s.PostCode_5

					where s.[Local Authority] is null 


					update s

					set s.[Local Authority] = v.[Local Authority]

					from  [#Orgs2]s
					inner join  [#Temp3]v on v.PCDS_4 = s.PostCode_4

					where s.[Local Authority] is null 


---------------------------------------------------------------------



					update s

					set s.region = coalesce(pc.[NHS England REgion],pc2.[NHS England REgion])

					from [#Orgs2]s 
					left join  [#Temp3]pc on pc.PCDS = s.POSTCODE
					left join  [#Temp3]pc2 on pc2.[PCDS_NoGaps] = s.PostCode_NoGaps

				
				
				
				
				
				
					update s

					set s.Region = ss.[NHS England REgion] 

					from  [#Orgs2]s
					inner join  [#Temp3]ss on ss.PCDS_7 = s.PostCode_7
		 

					where s.Region is null 



					update s

					set s.Region = t.[NHS England REgion]
					from  [#Orgs2]s
					inner join  [#Temp3]t on t.PCDS_6 = s.PostCode_6

					where s.Region is null 



					update s

					set s.Region =  u.[NHS England REgion] 

					from  [#Orgs2]s
					inner join  [#Temp3]u on u.PCDS_5 = s.PostCode_5

					where s.Region is null 


					update s

					set s.Region = v.[NHS England REgion]

					from  [#Orgs2]s
					inner join  [#Temp3]v on v.PCDS_4 = s.PostCode_4

					where s.Region is null 

	




					update s

					set s.region = coalesce(ss.[NHS England REgion],t.[NHS England REgion])

					from  [#Orgs2]s
					left join  [#Temp3]ss on ss.PCDS_7 = left(s.POSTCODE,7)
					left join  [#Temp3]t on t.PCDS_6 = left(s.POSTCODE,6)

					where s.region is null 


					update s

					set s.region = coalesce(u.[NHS England REgion],v.[NHS England REgion])

					from  [#Orgs2]s
					left join  [#Temp3]u on u.PCDS_5 = left(s.POSTCODE,5)
					left join  [#Temp3]v on v.PCDS_4 = left(s.POSTCODE,4)

					where s.region is null 



			update f

			set f.CCG = ltrim(rtrim(replace([GP CCG],'CCG','')))


			from #Orgs2 f
			inner join [ETL_Local_PROD].[ODSData].[searchods]g on g.Postcode = f.Postcode
			where ltrim(rtrim(replace(PatGEnCCG,'CCG','')))  <> CCG and CHARINDEX('cross border',PatGEnCCG)=0
			and g.[GP CCG] is not null
			and ltrim(rtrim(replace([GP CCG],'CCG',''))) <> 'NHS SOUTH EAST LONDON'
			and ltrim(rtrim(replace([GP CCG],'CCG',''))) <> 'NHS SOUTH WEST LONDON'
			and ltrim(rtrim(replace([GP CCG],'CCG',''))) <> 'NHS NORTH CENTRAL LONDON'
			and charindex('CCG',[GP CCG])>0



			update g

			set g.CCG = ltrim(rtrim(replace(PatGEnCCG,'CCG',''))),
			g.region = case when PatGEnCCG ='Cross Border: NHS WEST ESSEX CCG' then 'East of England' else g.region end

			from #Orgs2 g
			where ltrim(rtrim(replace(PatGEnCCG,'CCG','')))  <> CCG 
			and region = 'London'
			and charindex('Unknown/Practice not a Practice:',PatGEnCCG)= 0


		--select * from #Orgs order by Parent
		--select * from #Orgs2
		--select distinct orgtype,derivedteamtype from  [AT_Organisation_to_Department_Provider_Directory] 
		--select distinct * from  [AT_Organisation_to_Department_Provider_Directory] where  orgtype = 'Urgent Care Centre' and derivedteamtype = 'COMMUNITY PROVIDER'
		-- select distinct * from  [AT_Organisation_to_Department_Provider_Directory] where  orgtype = 'NHS PS Hospital ePACT Site' and derivedteamtype is null

		-- select * from [ETL_Local_PROD].[ODSData].[searchods]where ods = '03WAD'
		--select top 5 * from #Orgs where enterpriseid = 100072019

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]
			
			select
			EnterpriseID,
			ParentOrganizationEID,
			Team,
			DeptODSCode,
			DeptPDRegistryId,
			Parent,
			IsParentFlag,
			OrgType,
			b.TeamType as DerivedTeamType,
			a.PostCode,
			a.CCG,
			c.STP,
			[Local Authority],
			Region,
			ORgOpenDate,
			ORgCloseDate

			into [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]

			from #Orgs a
			left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.Team
			left join  [ETL_Local_PROD].[Reference].[STP]c on c.CCGLONG_TRUNC = a.CCG
			order by Parent, IsParentFlag desc,Team



				insert into [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]

				select 
				GP_EnterpriseID as EnterpriseID,
				coalesce(ParentEID,GP_EnterpriseID ) as ParentOrganizationEID,
				GP_Practice as Team,
				DeptODSCode,
				DeptPDRegistryId,
				coalesce(ParentORg,GP_Practice) as   Parent,
				1 as IsParentFlag,
				OrgType,
				case when a.OrgType = 'General Practice' then 'PRIMARY CARE' else b.TeamType end   as DerivedTeamType,
				a.PostCode,
				a.CCG,
				--c.NEW_CCG_Pseudo,
				c.STP,
				[Local Authority],
				Region,
				DeptOpenDate as  ORgOpenDate,
				DeptCloseDate ORgCloseDate
			
				from #Orgs2 a 
				left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.GP_Practice
				left join  [ETL_Local_PROD].[Reference].[STP]c on c.CCGLONG_TRUNC = a.CCG
			
				where a.GP_EnterpriseID not in (select enterpriseid from #Orgs)



					update c

					set c.CCG = d.CCG


					from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]c

					inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Non_Primary_Team_to_CCG]d on d.EnterpriseID = c.EnterpriseID

		
					update c

					set c.[derivedteamtype] = d.[FinalTeamType]


					from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]c
					inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory_Derived_TeamType]d on coalesce(d.[orgtype],'') = coalesce(c.OrgType,'') 
																							and coalesce(d.[derivedteamtype],'') = coalesce(c.[derivedteamtype],'')  

					update d
					set d.DerivedTeamType = case When charindex (' mental ',parent)>0 then 'MENTAL HEALTH PROVIDER' else d.DerivedTeamType end

					from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]d

					--update h

					--set ccg = ltrim(rtrim(REplace( team , ' CCG', '')) ) 

					--from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]h
					--where charindex('ccg',team)>0
					--and  ltrim(rtrim(REplace( team , ' CCG', '')) ) <> CCG


					--select *
					 
					--from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]h
					--where charindex('ccg',team)>0
					--and  ltrim(rtrim(REplace( team , ' CCG', '')) ) <> CCG
					--order by team



					update b
					set b.CCG = case 
					when  DeptODSCode = 'H85683' then 'NHS Sutton'
					when  DeptODSCode = 'G85039' then 'NHS Lambeth'
					when  DeptODSCode  = 'F85067' then 'NHS Haringey'
					when  DeptODSCode  = 'H85076' then 'NHS Merton'
					when  DeptODSCode = 'H85055' then 'NHS Kingston'
				
					Else b.CCG
					end

					from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]b

					--As requested by Marta Mulyak 07/06/2021

					update f
							set DerivedTeamType = 'AMBULANCE TRUST'
					from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]f
					where enterpriseid in
					(
					'100072829',
					'100144440'
					)
					OR DerivedTeamType = '999 PROVIDER'





	--				select * from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory] where parent = 'ROYAL FREE LONDON NHS FOUNDATION TRUST'
	--				select * from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory] where parent = 'ROYAL FREE LONDON NHS FOUNDATION TRUST'

					--select * from #Orgs where EnterpriseID = 100072019
					--	select * from [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory_TEST] where charindex('st john''s',team)>0 AND parent = 'ROYAL FREE LONDON NHS FOUNDATION TRUST'
 end