USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[DePivotPatientDetail]    Script Date: 07/08/2020 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DePivotPatientDetail]
AS

BEGIN
declare @sql nvarchar(max);
declare @name varchar(255);
DECLARE valueCursor CURSOR
-- Generalise MS 19.3.16
FOR SELECT c.name from sys.all_columns c join sys.all_objects o on c.object_id=o.object_id and c.name not like '#%' and c.name not like '%_CDA'
      and o.name = 'AT_Patient_General_Historic_Inc' and c.name not in ('cmc_id','VersionNumber');
OPEN valueCursor;
FETCH NEXT FROM valueCursor INTO @name;
WHILE @@FETCH_STATUS = 0
  begin
  set @sql = 'insert into AllDataAnswers
                select cmc_id,''' +
                @name + ''',' + @name + ',VersionNumber,getdate()
                from (select * from AT_Patient_General_Historic_Inc) p
                where ' + @name + ' is not null
                and ' + @name + ' <> ''''
                and (select count(*) from AllDataAnswers a
                  where a.cmc_id = p.cmc_id
                  and [Column] = ''' + @name + '''
                  and a.VersionNumber = p.VersionNumber) = 0
              ';
  print @sql;
  execute (@sql);
  FETCH NEXT FROM valueCursor INTO @name;
  END
CLOSE valueCursor;
DEALLOCATE valueCursor;
END


--[ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]