USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MASTERBUILD_PatientDetails_Build]    Script Date: 11/06/2020 15:43:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[AT_MASTERBUILD_PatientDetails_Build] 

AS
BEGIN



   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CMCID]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_CMCID]
  select 
Patient, 
cast(n.PatientNumber as bigint) as CMC_ID 
into [ETL_Local_PROD].[dbo].[AT_CMCID]
from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
where AssigningAuthority = 'CMC'

 



if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_NHSNumbers]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_NHSNumbers]
select 
Patient, 
n.PatientNumber as NHS_Number 
into [ETL_Local_PROD].[dbo].[AT_NHSNumbers]
from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
where AssigningAuthority = 'NHS'







	if OBJECT_ID ('Tempdb..#PatTele') is not null
	drop table #PatTele
		SELECT
		*
		INTO #PatTele
		FROM
		(
		  SELECT
		no.PatientNumber as CMC_ID,
		ps.Patient,
		ContactType,ContactValue,
		ROW_NUMBER() over (partition by no.PatientNumber,ContactType order by pa.PATIENT DESC) as ContactNo,
		ct.Description as ContactTypeDescription
		from ETL_PROD.dbo.CMC_PatientSummary ps
		join ETL_PROD.dbo.CMC_Patient p on ps.Patient = p.ItemId
		join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
		join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
		join ETL_PROD.dbo.CMC_Patient_ContactInfo pa on p.itemid = pa.Patient
		join ETL_PROD.dbo.CMC_ContactInfo a on a.ItemID = pa.ContactInfo 
		left join ETL_PROD.dbo.Coded_ContactType ct on a.ContactType = ct.code

		--where no.PatientNumber = 100013863
		)D WHERE ContactNo = 1

		--select * from #PatTele  where cmc_id = 100007061
		--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General] where cmc_id = 100007061
		--select * from (select cmc_id,Count(*) as Total from [ETL_Local_PROD].[dbo].[AT_Patient_General] group by CMC_ID )d where d.Total >1 



--Multiple lines per patient  this is eliminated by the current CMC record (derived from #Versions (each cmc care record for each pateint has a different patient number (ps.Patient)
	if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_PatAddress]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_PatAddress]

	SELECT
	Address,
	Null as Main_LastAddressflag,
	Null as Second_LastAddressflag,
	Null as Crr_Temp_LastAddressflag,
	no.PatientNumber as CMC_ID,
	ROW_NUMBER() over (partition by no.PatientNumber order by ps.Patient) as PatientNumber,
 
	ps.Patient,
	nm.GivenName + ' ' + Nm.FamilyName as PatName,
	a.StreetLine, 
	a.Line2, 
	a.City, 
	a.County, 
	a.PostalCode,
	a.CCAddressUse, 
	a.CCDwellingType,
	a.CCFromTime, 
	a.CCToTime,
	a.CCLivingConditions,
	a.CCKeySafeDetails, 
	a.CCResidenceNotes,
	ISNULL(a.StreetLine,'') +
	  case 
		when a.StreetLine is not null and rtrim(a.StreetLine) <> '' and a.Line2 is not null and rtrim(a.Line2) <> ''then ', ' 
			else '' 
			end + ISNULL(a.Line2,'') + 
		case 
			when a.City is not null and rtrim(a.City) <> '' then ', ' 
			else '' end +ISNULL(a.City,'') + 
		case 
			when a.County is not null and rtrim(a.County) <> '' then ', ' 
			else '' end +ISNULL(a.County,'') 
	as CombinedAddress,
 
	ROW_NUMBER() over (partition by ps.Patient order by Address,a.CCFromTime) as AddressNo,
	au.Description as CCAddressUseDescription,
	dt.Description as CCDwellingTypeDescription,
	-- MS 19.2.16 add living conditions description
	lc.Description as CCLivingConditionsDescription

	into [ETL_Local_PROD].[dbo].[AT_PatAddress]

	from ETL_PROD.dbo.CMC_PatientSummary ps
	join ETL_PROD.dbo.CMC_Patient p on ps.Patient = p.ItemId
	join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
	join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
	join ETL_PROD.dbo.CMC_Patient_Addresses pa on p.itemid = pa.Patient
	join ETL_PROD.dbo.CMC_Address a on pa.Address = a.ItemID
	left join ETL_PROD.dbo.Coded_AddressUse au on a.CCAddressUse = au.code
	left join ETL_PROD.dbo.Coded_DwellingType dt on a.CCDwellingType = dt.code
	left join ETL_PROD.dbo.Coded_LivingConditions lc on a.CCLivingConditions = lc.code
	left join [ETL_PROD].[dbo].[CMC_Name]Nm on nm.ItemId = p.ItemId
	--WHERE no.PatientNumber IN (
	--							100015671, --This returns two rows for the same person but it seems one is generates for each care plan
	--							100015678
	--							)
 
	 ORDER BY no.PatientNumber, a.StreetLine



	 --select top 500 * from ETL_PROD.dbo.CMC_Patient where name in ( 'PS||100007994||1','PS||100007994||3')






	 update r
			set r.Main_LastAddressflag = case  when s.LastAddress is not null then 1 else null end,
				r.Second_LastAddressflag = case  when t.LastAddress is not null then 1 else null end,
				r.Crr_Temp_LastAddressflag = case  when u.LastAddress is not null then 1 else null end

	 from [ETL_Local_PROD].[dbo].[AT_PatAddress] r
	 left join 
				(
				select
				CMC_ID,
				max(PatientNumber) as LastAddress

				from [ETL_Local_PROD].[dbo].[AT_PatAddress]
				where CCAddressUse = 'MAIN'
			
				group by CMC_ID
				)s on s.CMC_ID = r.CMC_ID 
				and s.LastAddress = r.PatientNumber
	 left join 
				(
				select
				CMC_ID,
				max(PatientNumber) as LastAddress

				from [ETL_Local_PROD].[dbo].[AT_PatAddress]
				where CCAddressUse = 'SECO'
				group by CMC_ID
				)t on t.CMC_ID = r.CMC_ID 
				and t.LastAddress = r.PatientNumber
	 left join 
				(
				select
				CMC_ID,
				max(PatientNumber) as LastAddress

				from [ETL_Local_PROD].[dbo].[AT_PatAddress]
				where CCAddressUse in ('CURR','TEMP')
				group by CMC_ID
				)u on u.CMC_ID = r.CMC_ID 
				and u.LastAddress = r.PatientNumber




	 --select * from #PatAddress where Patient = 'PS||100011841||4'
	--select *  from [ETL_Local_PROD].[dbo].[AT_PatAddress] where cmc_id = 100007994
	--			where 
	--			--CCAddressUse = 'MAIN'
	--			--and 
	--			cmc_id = 100007994

 





   if OBJECT_ID ('Tempdb..#PatLPA') is not null
 drop table #PatLPA

 SELECT
no.PatientNumber as CMC_ID,PatientSummary,
Name,FromTime,Comments,
SupportContact,
ROW_NUMBER() over (partition by patientsummary order by SupportContact) as LPANo

into #PatLPA

from ETL_PROD.dbo.CMC_PatientSummary ps
join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
join ETL_PROD.dbo.CMC_PatientSummary_SupportContacts psc on ps.ItemId = psc.PatientSummary
join ETL_PROD.dbo.CMC_SupportContact sc on psc.SupportContact = sc.itemid
join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
where SupportContactType = 'POA'

--select * from #PatLPA where cmc_ID = 100013863

--  if OBJECT_ID ('Tempdb..#PatTele') is not null
-- drop table #PatTele
-- SELECT
--CMC_ID, p.SupportContact, LPANo,
--i.ContactType, i.ContactValue,
--ROW_NUMBER() over (partition by cmc_id,LPANo order by ContactInfo) as ContactInfoNo

--into #PatTele

--from #PatLPA p
--join ETL_PROD.dbo.CMC_SupportContact_ContactInfo sci on p.SupportContact = sci.SupportContact
--join ETL_PROD.dbo.CMC_ContactInfo i on sci.ContactInfo = i.ItemID
 --select * from #PatLPA
 --select * from #PatTele
  --select * from #PatTele where cmc_ID = 100013863
  --100013863




 


--SELECT * FROM ETL_PROD.dbo.CMC_ContactInfo WHERE ItemID =   100013863

--SELECT 
--* 
--FROM ETL_PROD.dbo.CMC_Patient P
--LEFT JOIN ETL_PROD.dbo.CMC_Patient_ContactInfo pa ON p.itemid = pa.Patient
--join ETL_PROD.dbo.CMC_ContactInfo a on a.ItemID = pa.ContactInfo 

 


--#PDDept


 
if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_AddressGP]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_AddressGP]
select 
case when d.AddressOrder = 1 then 1 else null end as CurrentAddressFlag,
d.*
into [ETL_Local_PROD].[dbo].[AT_AddressGP]
from
(
SELECT 
distinct 
convert(date,a.creationDateTime) as CreationDate,
convert(date,ds.StartDate) as StartDate,
convert(date,ds.EndDate) as EndDate,
row_number() over (partition by DeptEnterpriseId order by coalesce(a.creationDateTime,convert(date,ds.StartDate))desc) as AddressOrder,
DeptEnterpriseId,
a.StreetLine, 
a.Line2, 
a.City, 
a.County, 
a.PostalCode,
ISNULL(a.StreetLine,'') +
  case when a.StreetLine is not null and rtrim(a.StreetLine) <> '' 
       and a.Line2 is not null and rtrim(a.Line2) <> ''
       then ', ' else '' end + 
ISNULL(a.Line2,'') + case when a.City is not null and rtrim(a.City) <> '' then ', ' else '' end +
ISNULL(a.City,'') + case when a.County is not null and rtrim(a.County) <> '' then ', ' else '' end +
ISNULL(a.County,'') as CombinedAddress

FROM [ETL_PROD].[dbo].[CMC_Location] lo 
join [ETL_Local_PROD].[dbo].[AT_PD_Dept] d on lo.OrganizationEID = deptenterpriseid
join ETL_PROD.dbo.CMC_Address a on lo.AddressEID = a.PDEnterpriseID
left join etl_PROD.dbo.CMC_Location_DateSpan lods on lo.ItemId = lods.Location
left join etl_PROD.dbo.CMC_DateSpan ds on lods.DateSpan = ds.ItemId
-- ensure ind->org info is omitted from this view MS 6.4.16
where lo.IndividualEID is null
-- exclude deleted and expired/unstarted locations MS 25.8.16
and lo.Deleted is null
and (ds.StartDate is null or CAST(startdate as date) <= CAST(getdate() as DATE))
and (ds.EndDate is null or  CAST(enddate as date) > CAST(getdate() as DATE))

 
) d 



if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Emails]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_Emails]
select
 distinct
 
 case 
 when em.Address like '%nhs.net' then row_number() over (partition by DeptEnterpriseId order by Email) else null end as EmailOrder , 
 DeptEnterpriseId,
 em.Address as Email,
 convert(date,ds.StartDate) as StartDate,
 convert(date,ds.EndDate) as EndDate

 into [ETL_Local_PROD].[dbo].[AT_Emails]

  FROM [ETL_PROD].[dbo].[CMC_Location] lo 
  join [ETL_Local_PROD].[dbo].[AT_PD_Dept] d on lo.OrganizationEID = deptenterpriseid
-- change CMC_Location_Contacts/CMC_ContactInfo_Emails to CMC_Location_Emails
  join ETL_PROD.dbo.CMC_Location_Emails cp on cp.Location = Lo.ItemId
  join ETL_PROD.dbo.CMC_Email em on cp.Email = em.ItemId
left join ETL_PROD.dbo.CMC_Location_DateSpan lods on lo.ItemId = lods.Location
left join ETL_PROD.dbo.CMC_DateSpan ds on lods.DateSpan = ds.ItemId
-- ensure ind->org info is omitted from this view MS 6.4.16
where lo.IndividualEID is null
-- exclude deleted and expired/unstarted locations MS 25.8.16
and lo.Deleted is null
-- exclude FLAGGING emails MS 17.2.17
and em.TypeCodedValue <> 'FLAGGING'
and (ds.StartDate is null or CAST(startdate as date) <= CAST(getdate() as DATE))
and (ds.EndDate is null or  CAST(enddate as date) > CAST(getdate() as DATE))







 if OBJECT_ID ('Tempdb..#TelephoneGP') is not null
 drop table #TelephoneGP

SELECT 
distinct 
case when left(isnull(ph.FullNumber,ph.TelephoneNumber) ,2) <> '07' then row_number() over (partition by DeptEnterpriseId order by case when tt.Description = 'Business Phone' then 1 else left(isnull(ph.FullNumber,ph.TelephoneNumber),5) end )else null end as No_07_PhoneOrder,
case when left(isnull(ph.FullNumber,ph.TelephoneNumber) ,2) = '07' then row_number() over (partition by DeptEnterpriseId order by case when tt.Description = 'Business Phone' then 1 else left(isnull(ph.FullNumber,ph.TelephoneNumber),5) end )else null end as Yes_07_PhoneOrder,
DeptEnterpriseId, 
isnull(ph.FullNumber,ph.TelephoneNumber) as Telephone, 
tt.Description as TelephoneType,
convert(date, creationDateTime) as CreationDate,
convert(date,ds.StartDate) as StartDate,
convert(date,ds.EndDate) as EndDate

into #TelephoneGP

  FROM [ETL_PROD].[dbo].[CMC_Location] lo join PDDepartment d on lo.OrganizationEID = deptenterpriseid
-- change CMC_Location_Contacts/CMC_ContactInfo_Phones to CMC_Location_Phones  
  join ETL_PROD.dbo.CMC_Location_Phones cp on cp.Location = Lo.ItemId
  join ETL_PROD.dbo.CMC_Telecom ph on cp.Phone = ph.ItemId
left join ETL_PROD.dbo.CMC_Location_DateSpan lods on lo.ItemId = lods.Location
left join ETL_PROD.dbo.CMC_DateSpan ds on lods.DateSpan = ds.ItemId
left join etl_prod.dbo.Coded_TelecomType tt on tt.Code = ph.TypeCodedValue
-- ensure ind->org info is omitted from this view MS 6.4.16
where lo.IndividualEID is null
-- exclude deleted and expired/unstarted locations MS 25.8.16
and lo.Deleted is null
and (ds.StartDate is null or CAST(ds.startdate as date) <= CAST(getdate() as DATE))
and (ds.EndDate is null or  CAST(ds.enddate as date) > CAST(getdate() as DATE))

order by DeptEnterpriseId


--A dynamic column table for the symptoms

 if OBJECT_ID ('Tempdb..#Sample') is not null
 drop table  #Sample

CREATE TABLE #Sample
(
    CMC_ID varchar(max)
    , CarePlan varchar(36)
    , Symptom varchar(255)
    , SymptomNo  Int
	,SymptomDescription varchar(max)
);

DECLARE @SQL VARCHAR(MAX) = 'SELECT CMC_ID';

INSERT INTO #Sample  
SELECT
no.PatientNumber as CMC_ID,
pscp.CarePlan,
sp.Symptom,
--sp.NoteText,
convert(int,ROW_NUMBER() over (partition by pscp.CarePlan order by sp.Symptom)) as SymptomNo,
sc.Description as SymptomDescription
from ETL_PROD.dbo.CMC_PatientSummary ps
join ETL_PROD.dbo.CMC_Patient p on ps.Patient = p.ItemId
join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
join ETL_PROD.dbo.CMC_PatientSummary_CarePlan pscp on pscp.PatientSummary = ps.ItemId
join ETL_PROD.dbo.CMC_CarePlan_SymptomPlans cps on pscp.CarePlan = cps.CarePlan
join ETL_PROD.dbo.CMC_SymptomPlan sp on cps.SymptomPlan = sp.ItemId
left join ETL_PROD.dbo.Coded_Symptom sc on sp.Symptom = sc.code
where sp.NoteText is not null
--and  no.PatientNumber = '100022416'

;
if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Symptoms]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_Symptoms]
SELECT @SQL += '
    , MAX(CASE WHEN SymptomNo = ' + convert(varchar,SymptomNo) + ' THEN Symptom END) AS [SymptomNo_' + convert(varchar,SymptomNo) + ']
    , MAX(CASE WHEN SymptomNo = ' + convert(varchar,SymptomNo) + ' THEN SymptomDescription END) AS [SymptomDescription_' + convert(varchar,SymptomNo) + ']'
FROM (SELECT DISTINCT  SymptomNo  AS SymptomNo FROM #Sample) AS T
ORDER BY   T.SymptomNo  ;

SET @SQL += ' into [ETL_Local_PROD].[dbo].[AT_Symptoms] FROM #Sample GROUP BY CMC_ID;';


EXECUTE (@SQL);

DROP TABLE #Sample;

--select * from ##Symptoms

--drop table ##Symptoms


if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_PatDiagnosis]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_PatDiagnosis]
 
	SELECT
	no.PatientNumber as CMC_ID,
	ps.Patient,
	dia.DiagnosisCode,
	MainDiagnosis,
	OnsetTime,
	ToTime,
	FamilyAware,
	PatientAware,
	Comments,
	dia.DiagnosisCategory,
	ROW_NUMBER() over (partition by patientsummary order by Diagnosis) as DiagnosisNo,
	ROW_NUMBER() over (partition by ps.Patient order by case when MainDiagnosis =1 then 1 else 0 end desc,case when dcc.Description <>'Migrated' then dia.ItemId else 'Q' end) as PatDiagRN,--For Final patient Table
	-- Add descriptions MS 18.2.16
	diac.Description as DiagnosisDescription,
	case when dcc.Description = 'Migrated' then (case dcc.Description
  when 'Migrated' then demo.Classified_Diagnosis
-- Add details re primary and secondary sites MS 2.5.16
  when 'Cancer - Primary Site' then 'Cancer - Primary Site - ' + diac.Description
  when 'Cancer - Secondary Site' then 'Cancer - Secondary Site - ' + diac.Description
  else dcc.Description end) else dcc.Description end  as DiagnosisCategoryDescription,
	dbo.DiagnosisCategory
(case dcc.Description
  when 'Migrated' then demo.Classified_Diagnosis
-- Add details re primary and secondary sites MS 2.5.16
  when 'Cancer - Primary Site' then 'Cancer - Primary Site - ' + diac.Description
  when 'Cancer - Secondary Site' then 'Cancer - Secondary Site - ' + diac.Description
  else dcc.Description end)
as DiagnosisCategoryDescriptionCancer,
	-- Add diagnosis item id MS 12.9.16
	dia.ItemId as DiagnosisItemId,
--	di.Value as Diagnoses_CDA,
--dbo.htmlStripper(di.Value) as Diagnoses,
-- Correct classified diagnosis handling MS 8.3.16
case dcc.Description
  when 'Migrated' then demo.Classified_Diagnosis
-- Add details re primary and secondary sites MS 2.5.16
  when 'Cancer - Primary Site' then 'Cancer - Primary Site - ' + dcc.Description
  when 'Cancer - Secondary Site' then 'Cancer - Secondary Site - ' + diac.Description
  else dcc.Description end as Classified_Diagnosis,
  cast(null as varchar(max)) as [Classified Diagnosis for Report]


	into [ETL_Local_PROD].[dbo].[AT_PatDiagnosis]

	from ETL_PROD.dbo.CMC_PatientSummary ps
	join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
	join ETL_PROD.dbo.CMC_PatientSummary_Diagnoses pdia on ps.ItemId = pdia.PatientSummary
	join ETL_PROD.dbo.CMC_Diagnosis dia on pdia.Diagnosis = dia.ItemId
	join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
	join ETL_PROD.dbo.Coded_Diagnosis_DiagnosisCode diac on dia.DiagnosisCode = diac.Code
	join ETL_PROD.dbo.Coded_DiagnosisCategory dcc on dia.DiagnosisCategory = dcc.Code
	left join (select cmc_id,classified_diagnosis from Protocol.PatientDemographics) demo on demo.CMC_ID = no.PatientNumber
	 

	 --select distinct  MainDiagnosis,[Main Classified Diagnosis] from [ETL_Local_PROD].[dbo].[AT_DistinctDiagnosis] where [Main Classified Diagnosis for Report] = 'other'


update r
set r.[Classified Diagnosis for Report] = 		
case
--Breast – breast
when Classified_Diagnosis like 'Cancer%Breast'  or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Breast' then 'Breast'
--Brain - Brain 
when Classified_Diagnosis like 'Cancer%Brain'  or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Brain'  then 'Brain'
when Classified_Diagnosis = 'Cancer Diagnosis – Eye, Brain and Other CNS' then 'Brain'
--Female genital – cervix, ovary, uterus, vagina, vulva
when Classified_Diagnosis like 'Cancer%Cervix'   or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Cervix' then 'Female Genital Organs'
when Classified_Diagnosis like 'Cancer%Ovary'   or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Ovary' then 'Female Genital Organs'
when Classified_Diagnosis like 'Cancer%Uterus'   or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'uterus' then 'Female Genital Organs'
when Classified_Diagnosis like 'Cancer%Vagina'   or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'vagina' then 'Female Genital Organs'
when Classified_Diagnosis like 'Cancer%Vulva'   or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'vulva' then 'Female Genital Organs'
when Classified_Diagnosis = 'Cancer Diagnosis – Female Genital Organs' then 'Female Genital Organs'
--Head & neck – larynx, mouth, tongue, thyroid
when Classified_Diagnosis like 'Cancer%Larynx' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'larynx' then 'Head and neck'
when Classified_Diagnosis like 'Cancer%Mouth, including lip' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Mouth, including lip' then 'Head and neck'
when Classified_Diagnosis like 'Cancer%Thyroid' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'thyroid' then 'Head and neck'
when Classified_Diagnosis like 'Cancer%Tongue' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'tongue' then 'Head and neck'
when Classified_Diagnosis = 'Cancer Diagnosis – Lip, Oral and Pharynx' then 'Head and neck'
--Haematology – leukaemia, lymphoma, multiple myeloma
when Classified_Diagnosis like 'Cancer%Leukaemia' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Leukaemia'  then 'Haematology'
when Classified_Diagnosis like 'Cancer%Lymphoma' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Lymphoma' then 'Haematology'
when Classified_Diagnosis like 'Cancer%Multiple myeloma' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Multiple myeloma' then 'Haematology'
when Classified_Diagnosis = 'Cancer Diagnosis – Lymphoid, Haematopoitic' then 'Haematology'
--Male genital – prostate, testis
when Classified_Diagnosis like 'Cancer%Prostate' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Prostate'  then 'Male Genital Organs'
when Classified_Diagnosis like 'Cancer%Testis' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'testis' then 'Male Genital Organs'
when Classified_Diagnosis = 'Cancer Diagnosis – Male Genital Organs' then 'Male Genital Organs'
--Lung – lung, mesothelioma
when Classified_Diagnosis like 'Cancer%Lung' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'lung'  then 'Lung'
when Classified_Diagnosis like 'Cancer%Mesothelioma' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Mesothelioma' then 'Lung'
when Classified_Diagnosis = 'Cancer Diagnosis – Respiratory and Intrathoracic' then 'Lung'
--Sarcoma - sarcoma
when Classified_Diagnosis like 'Cancer%Sarcoma' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Sarcoma' then 'Sarcoma'

--Skin - malignant melanoma, skin (other)
when Classified_Diagnosis like 'Cancer%Skin%' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription in ('Skin - Malignant melanoma','Skin - Other (all)') then 'Skin'
--Urinary tract – bladder, kidney
when Classified_Diagnosis like 'Cancer%Bladder' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Bladder'   then 'Urinary tract'
when Classified_Diagnosis like 'Cancer%Kidney'or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'kidney' then 'Urinary tract'
when Classified_Diagnosis = 'Cancer Diagnosis – Urinary Tract' then 'Urinary tract'
when Classified_Diagnosis = 'Cardiac' then 'Cardiac'
when Classified_Diagnosis = 'Heart Failure' then 'Cardiac'
when Classified_Diagnosis = 'Other Heart and Circulatory Conditions' then 'Cardiac'
-- or Vascular?
when Classified_Diagnosis = 'Dementia' then 'Dementia'
when Classified_Diagnosis = 'Elderly/Frail' then 'Elderly/Frail'
when Classified_Diagnosis = 'Endocrine' then 'Endocrine'
--GI tract – oesophagus, stomach, pancreas, liver (primary), colon, rectum, anus
when Classified_Diagnosis like 'Cancer%Anus' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Anus'  then	'GI tract'
when Classified_Diagnosis like 'Cancer%Oesophagus' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Oesophagus' then 'GI tract'
when Classified_Diagnosis like 'Cancer%Stomach' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'stomach' then 'GI tract'
when Classified_Diagnosis like 'Cancer%Pancreas' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Pancreas' then	'GI tract'
when Classified_Diagnosis like 'Cancer%Rectum' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Rectum' then 'GI tract'
when Classified_Diagnosis like 'Cancer%Colon'or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Colon'  then 'GI tract'
when Classified_Diagnosis like 'Cancer%Liver primary' or Classified_Diagnosis = 'Cancer - Primary Site - Cancer - Primary site' and DiagnosisDescription = 'Liver primary' then 'GI tract'

when Classified_Diagnosis = 'GI tract' then 'GI tract'
when Classified_Diagnosis = 'Cancer Diagnosis – Digestive Organs' then 'GI tract'
when Classified_Diagnosis = 'Haematology (not cancer)' then 'Haematology – not cancer'
when Classified_Diagnosis = 'Hepatic' then 'Hepatic'
when Classified_Diagnosis = 'HIV Disease/AIDS' then 'HIV Disease/AIDS'
when Classified_Diagnosis = 'Mental Illness' then 'Mental Illness'
when Classified_Diagnosis = 'Musculo-Skeletal' then 'Musculo-Skeletal'
when Classified_Diagnosis = 'Motor Neurone Disease' then 'Neurological'
when Classified_Diagnosis = 'Neurological' then 'Neurological'
when Classified_Diagnosis = 'Neurological Conditions' then 'Neurological'
when Classified_Diagnosis = 'Chronic Renal Failure' then 'Renal'
when Classified_Diagnosis = 'Renal' then 'Renal'
when Classified_Diagnosis = 'Chronic Obstructive Pulmonary Disease (COPD)' then 'Respiratory'
when Classified_Diagnosis = 'Chronic Respiratory Disease' then 'Respiratory'
when Classified_Diagnosis = 'Cystic Fibrosis' then 'Respiratory' 
when Classified_Diagnosis = 'Interstitial Lung Disease (ILD)' then 'Respiratory'
when Classified_Diagnosis = 'Respiratory' then 'Respiratory'
when Classified_Diagnosis = 'Vascular' then 'Vascular'

when Classified_Diagnosis = 'Other (Please Specify)' then 'Unspecified'
-- these are old system uncategorised diagnoses, hence omitted from the bar chart because they could be absolutely anything
when Classified_Diagnosis is NULL then 'Unspecified'

else 'Other' end

  from [ETL_Local_PROD].[dbo].[AT_PatDiagnosis] r 


  

if OBJECT_ID ('Tempdb..#Diag') is not null
 drop table #Diag

SELECT 
distinct
		[CMC_ID]
		,Cast(null as varchar(max)) as	[MainDiagnosisCategoryDescription]
		,Cast(null as varchar(max)) as	[MainDiagnosis]
		,Cast(null as varchar(30)) as	[MainDiagnosisCode]
		,cast(null as varchar(max)) as  [Main Classified Diagnosis]
		,cast(null as varchar(max)) as  [Main Classified Diagnosis for Report]
		,Cast(null as varchar(100)) as  [Main Cancer - Non Cancer]
		,Cast(null as varchar(max)) as	[SecondDiagnosisCategoryDescription]
		,Cast(null as varchar(max)) as	[SecondDiagnosis]
		,Cast(null as varchar(30)) as	[SecondDiagnosisCode]
		,cast(null as varchar(max)) as  [Second Classified Diagnosis]
		,cast(null as varchar(max)) as  [Second Classified Diagnosis for Report]
		,Cast(null as varchar(100)) as  [Second Cancer - Non Cancer]

      --,[Patient]
      --,[DiagnosisCode]
      --,[MainDiagnosis]
      --,[OnsetTime]
      --,[ToTime]
      --,[FamilyAware]
      --,[PatientAware]
      --,[Comments]
      --,[DiagnosisCategory]
      --,[DiagnosisNo]
      --,[PatDiagRN]
      --,[DiagnosisDescription]
      --,[DiagnosisCategoryDescription]
      --,[DiagnosisItemId]

	  Into #Diag

  FROM [ETL_Local_PROD].[dbo].[AT_PatDiagnosis]




  update r

		set r.MainDiagnosis = s.DiagnosisDescription,
			r.MainDiagnosisCategoryDescription = s.DiagnosisCategoryDescription,
			r.MainDiagnosisCode = s.DiagnosisCode,
			r.[Main Classified Diagnosis] = s.Classified_Diagnosis,
			r.[Main Classified Diagnosis for Report] = s.[Classified Diagnosis for Report],
			r.SecondDiagnosis = t.DiagnosisDescription,
			r.SecondDiagnosisCategoryDescription = t.DiagnosisCategoryDescription,
			r.SecondDiagnosisCode = t.DiagnosisCode,
		    r.[Second Classified Diagnosis] = t.Classified_Diagnosis,
			r.[Second Classified Diagnosis for Report] = t.[Classified Diagnosis for Report]
			

  from #Diag r 
  left join 
			(
			select
			distinct
			CMC_ID,
			DiagnosisDescription,
			DiagnosisCategoryDescription,
			DiagnosisCode,
			Classified_Diagnosis,
			[Classified Diagnosis for Report]
			FROM [ETL_Local_PROD].[dbo].[AT_PatDiagnosis]
			where DiagnosisNo = 1
			)s on s.CMC_ID = r.CMC_ID
  left join 
			(
			select
			distinct
			CMC_ID,
			DiagnosisDescription,
			DiagnosisCategoryDescription,
			DiagnosisCode,
			Classified_Diagnosis,
			[Classified Diagnosis for Report]
			FROM [ETL_Local_PROD].[dbo].[AT_PatDiagnosis]
			where DiagnosisNo = 2
			)t on t.CMC_ID = r.CMC_ID



			--select * from [ETL_Local_PROD].[dbo].[AT_DistinctDiagnosis] where [Main Classified Diagnosis for Report] = 'other'
			--select * from [ETL_Local_PROD].[dbo].[AT_PatDiagnosis]
			--select * from #Diag






update f

		set f.[Main Cancer - Non Cancer] = case when charindex('Cancer',[Main Classified Diagnosis])>0 then 'Cancer' else 'Non Cancer' end,
			f.[Second Cancer - Non Cancer] = case when charindex('Cancer',[Second Classified Diagnosis])>0 then 'Cancer' else 'Non Cancer' end
from #Diag f



if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_DistinctDiagnosis]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_DistinctDiagnosis]
	select
	*
	into [ETL_Local_PROD].[dbo].[AT_DistinctDiagnosis]
	from #Diag 




---Patient alerts also has multiple rowsa - one for every cmc record created by patient
 if OBJECT_ID ('Tempdb..#PatAlert') is not null
 drop table #PatAlert
SELECT
no.PatientNumber as CMC_ID,
ps.Patient,
a.Alert,AlertType,FromTime,ToTime,Comments,
ROW_NUMBER() over (partition by patientsummary order by pa.Alert) as AlertNo,
ac.Description as AlertDescription,
at.Description as AlertTypeDescription

into #PatAlert

from ETL_PROD.dbo.CMC_PatientSummary ps
join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
join ETL_PROD.dbo.CMC_PatientSummary_Alerts pa on ps.ItemId = pa.PatientSummary
join ETL_PROD.dbo.CMC_Alert a on pa.Alert = a.ItemId
join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
left join etl_PROD.dbo.Coded_AlertCode ac on a.alert = ac.code
left join etl_PROD.dbo.Coded_AlertType at on a.alerttype = at.code




 if OBJECT_ID ('Tempdb..#PatAlias') is not null
	drop table #PatAlias

	SELECT 
	sel1.*,
	ROW_NUMBER() over (partition by Patient order by Surname,Forename,MiddleName,Title) as AliasNo
	into #PatAlias
	from 
	(
		select 
		distinct
		no.PatientNumber as CMC_ID,
		ps.Patient,
		a.NamePrefix as Title,
		np.Description as TitleDescription,
		a.GivenName as Forename,
		a.MiddleName,
		a.FamilyName as Surname
		from ETL_PROD.dbo.CMC_PatientSummary ps
		join ETL_PROD.dbo.CMC_Patient p on ps.Patient = p.ItemId
		join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
		join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
		join ETL_PROD.dbo.CMC_Patient_Aliases pa on p.itemid = pa.Patient
		join ETL_PROD.dbo.CMC_Name a on pa.Alias = a.ItemID
		left join ETL_PROD.dbo.Coded_NamePrefix np on a.NamePrefix = np.Code
	) sel1

	--select * from #PatAlias
	 
  if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_StaffDeptContext]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_StaffDeptContext]
 
select 
poc.ItemId as ProviderOrgContext, 
poc.Organization as POC_Org,
s.*, 
d.*

 into [ETL_Local_PROD].[dbo].[AT_StaffDeptContext]

from ETL_PROD.dbo.CMC_ProviderOrgContext poc
left join ETL_PROD.dbo.CMC_IndividualProvider ip on poc.Provider = ip.ItemId
left join ETL_PROD.dbo.CMC_Individual i on i.PDRegistryID = ip.RegistryID
left join [ETL_Local_PROD].[dbo].[AT_Staff] s on s.Individual = i.ItemID
left join [ETL_Local_PROD].[dbo].[AT_Dept]  d on d.Organization = poc.Organization  
-- Exclude LastClinicalApprover rows introduced in 15.1 release 
where ip.ItemId not like 'CarePlan|%|%|%|%|%|LCA'
AND ip.ItemId not like 'PS|%|%|%|%|%|LCA'
AND poc.ItemId not like 'CarePlan|%|%|%|%|%|LCA'
AND poc.ItemId not like 'PS|%|%|%|%|%|LCA'

 
 










   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Accurate_Entered_by]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_Accurate_Entered_by]
	SELECT [CMC_ID]
      ,PatAuditID as AuditId
      ,ToPatientSummary as [PatientSummary]
      ,[ActionTime]
      ,[ActionType]
       ,cast(null as Varchar(max)) as [DeptName]
      ,cast(null as Varchar(255)) as [OrganizationType]
      ,cast(null as Varchar(max)) as [OrganizationTypeDescription]
      ,cast(null as Varchar(36)) as [Organization]
      ,cast(null as Varchar(25)) as [DeptSource]
      ,null as [DeptEnterpriseID]
      ,[DeptPDRegistryID]
      ,cast(null as Varchar(255)) as [DeptLocalCMCId]
      ,cast(null as Varchar(255)) as [LocalCMCOrgType]
      ,cast(null as Varchar(max)) as [LocalCMCOrgTypeDescription]
      ,cast(null as Varchar(255)) as [DeptODSCode]
      ,cast(null as date) as [DeptOpenDate]
      ,cast(null as date) as [DeptCloseDate]
      ,null as [StaffEnterpriseID]
      ,cast(null as Varchar(36)) as [Individual]
      ,cast(null as Varchar(max)) as [StaffTitle]
      ,cast(null as Varchar(max)) as [StaffTitleDescription]
      ,cast(null as Varchar(max)) as [StaffForename]
      ,cast(null as Varchar(max)) as [StaffMiddleName]
      ,cast(null as Varchar(max)) as [StaffSurname]
      ,cast(null as Varchar(max)) as [StaffODSCode]
      ,cast(null as Varchar(max)) as [StaffLocalCMCId]
      ,cast(null as  date) as [StaffCreatedDate]
      ,cast(null as Varchar(255)) as [StaffActive]
      ,cast(null as Varchar(max)) as [StaffActiveDescription]
      ,cast(null as Varchar(max)) as [StaffDescription]
      ,cast(null as Varchar(255)) as [StaffProviderType]
      ,cast(null as Varchar(max)) as [StaffProviderTypeDescription]
      ,cast(null as Varchar(255)) as [StaffRegistryId]
      ,cast(null as Varchar(max)) as [StaffUserId]
      ,cast(null as Varchar(36)) as [StaffUserClinician]

	  into [ETL_Local_PROD].[dbo].[AT_Accurate_Entered_by]

	FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]ap
  --left join [ETL_Local_PROD].[dbo].[AT_Staff] s on ap.StaffRegistryId = s.StaffRegistryId
  --left join [ETL_Local_PROD].[dbo].[AT_Dept] d on ap.DeptPDRegistryId = d.DeptPDRegistryId
	where ActionType in ('create','revise')



	update r
			
			set r.DeptName = d.DeptName,
				r.[OrganizationType] = d.OrganizationType,
				r.[OrganizationTypeDescription] = d.[OrganizationTypeDescription],
				r.[Organization] = d.[Organization],
				r.[DeptSource] = d.[DeptSource],
				r.[DeptEnterpriseID] = d.[DeptEnterpriseID],
				r.[DeptLocalCMCId] = d.[DeptLocalCMCId],
				r.[LocalCMCOrgType] = d.[LocalCMCOrgType],
				r.[LocalCMCOrgTypeDescription] = d.[LocalCMCOrgTypeDescription],
				r.[DeptODSCode] = d.[DeptODSCode],
				r.[DeptOpenDate] = d.[DeptOpenDate],
				r.[DeptCloseDate] = d.[DeptCloseDate]
			

	from [ETL_Local_PROD].[dbo].[AT_Accurate_Entered_by]r
	--left join [ETL_Local_PROD].[dbo].[AT_Staff] s on s.StaffRegistryId = r.StaffRegistryId
    left join [ETL_Local_PROD].[dbo].[AT_PD_Dept] d on d.DeptPDRegistryId = r.DeptPDRegistryId 




	update r
			
			set r.[StaffEnterpriseID] = s.[StaffEnterpriseID],
				r.[Individual] = s.[Individual],
				r.[StaffTitle] = s.[StaffTitle],
				r.[StaffTitleDescription] = s.[StaffTitleDescription],
				r.[StaffForename] = s.[StaffForename],
				r.[StaffMiddleName] = s.[StaffMiddleName],
				r.[StaffSurname] = s.[StaffSurname],
				r.[StaffODSCode] = s.[StaffODSCode],
				r.[StaffLocalCMCId] = s.[StaffLocalCMCId],
				r.[StaffCreatedDate] = s.[StaffCreatedDate],
				r.[StaffActive] = s.[StaffActive],
				r.[StaffActiveDescription] = s.[StaffActiveDescription],
				r.[StaffDescription] = s.[StaffDescription],
				r.[StaffProviderType] = s.[StaffProviderType],
				r.[StaffProviderTypeDescription] = s.[StaffProviderTypeDescription],
				r.[StaffRegistryId] = s.[StaffRegistryId],
				r.[StaffUserId] = s.[StaffUserId],
				r.[StaffUserClinician] = s.[StaffUserClinician]


	from [ETL_Local_PROD].[dbo].[AT_Accurate_Entered_by]r
	left join [ETL_Local_PROD].[dbo].[AT_Staff] s on s.StaffRegistryId = r.StaffRegistryId
   





  --select top 10000 *  from [ETL_Local_PROD].[dbo].[AT_Accurate_Entered_by]

--select top 10 * from [ETL_Local_PROD].[dbo].[AT_Staff] 
--select top 10 * from [ETL_Local_PROD].[dbo].[AT_Dept]
--select count(*)FROM [ETL_Local_PROD].[dbo].[AuditPatient_New] where ActionType in ('create','revise')
   /** table Work...


  ALTER TABLE [ETL_Local_PROD].[dbo].[AuditPatient_New]
   ADD CONSTRAINT PK_AuditTransactionOrder_ItemID PRIMARY KEY CLUSTERED (PatAuditID);

  ALTER INDEX PK_AuditTransactionOrder_ItemID ON [ETL_Local_PROD].[dbo].[AuditPatient_New]  DISABLE
  go
  ALTER INDEX PK_AuditTransactionOrder_ItemID ON [ETL_Local_PROD].[dbo].[AuditPatient_New] REBUILD
  go

  select top 5000 * from [ETL_Local_PROD].[dbo].[AuditPatient_New] 
  SELECT MAX(LEN(Role)) FROM [ETL_Local_PROD].[dbo].[AuditPatient_New] 

  ALTER TABLE [ETL_Local_PROD].[dbo].[AuditPatient_New] 
  ADD 
      OverAllOrder int, 
	 ActionTypeOrder int;
	

  ALTER TABLE [ETL_Local_PROD].[dbo].[AuditPatient_New] 
  ALTER COLUMN Role NVARCHAR(100) NOT NULL;

    ALTER TABLE [ETL_Local_PROD].[dbo].[AuditPatient_New] 
  ALTER COLUMN ToPatientSummary NVARCHAR(75) ;

      ALTER TABLE [ETL_Local_PROD].[dbo].[AuditPatient_New] 
  ALTER COLUMN [GenusId] NVARCHAR(75) ;

  CREATE INDEX CMCID_ActionType
ON [ETL_Local_PROD].[dbo].[AuditPatient_New]  (CMC_ID, ActionType);

  CREATE INDEX Role_ActionType
ON [ETL_Local_PROD].[dbo].[AuditPatient_New]  (Role, ActionType);

  CREATE INDEX CareRecord_Date
ON [ETL_Local_PROD].[dbo].[AuditPatient_New]  (CMC_ID, ActionTime);

  CREATE INDEX CareRecord_PatAuditIndex
ON [ETL_Local_PROD].[dbo].[AuditPatient_New]  (CMC_ID, PatAuditID);


  ALTER TABLE [Sales].[SalesOrderDetail] ADD  CONSTRAINT [PK_SalesOrderDetail_SalesOrderID_SalesOrderDetailID] PRIMARY KEY CLUSTERED 
(
    [SalesOrderID] ASC,
    [SalesOrderDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

**/

  --select * from #PatientHSCContacts where CMC_ID = 100013863


   if OBJECT_ID ('Tempdb..#PatientHSCContacts') is not null
	drop table #PatientHSCContacts

select 
sel1.*,
np1.Description as StaffTitleDescription,
np2.Description as NamePrefixDescription,
dpr.Description as RoleDescription,
dor.Description as OrgRoleDescription

into #PatientHSCContacts

from
	(
		SELECT
		no.PatientNumber as CMC_ID,
		ps.ItemID as PatientSummary,

		pa.Provider,
		a.StaffEnterpriseID,
		a.Individual,
		a.StaffTitle,
		a.StaffForename,
		a.StaffMiddleName,
		a.StaffSurname,
		a.StaffODSCode,
		a.StaffLocalCMCId,
		a.StaffCreatedDate,
		a.StaffActive,
		a.StaffDescription,
		DeptName,
		OrganizationType,
		OrganizationTypeDescription,
		a.Organization,
		a.DeptSource,
		DeptEnterpriseID,
		a.DeptPDRegistryID,
		a.DeptLocalCMCId,
		a.LocalCMCOrgType,
		a.LocalCMCOrgTypeDescription,
		a.DeptODSCode,
		a.DeptOpenDate,
		a.DeptCloseDate,
		b.Role,
		b.OrgRole,
		b.Comment,
		b.FromTime,
		b.ToTime,
		isnull(b.SelectedProviderCareProviderType,ip.CareProviderType) as CareProviderType,
		isnull(b.SelectedProviderNamePrefix,ip.NamePrefix) as NamePrefix,
		isnull(b.SelectedProviderGivenName,ip.GivenName) as GivenName,
		isnull(b.SelectedProviderFamilyName,ip.FamilyName) as FamilyName,
		b.SelectedOrgName,
		b.SelectedOrgType,
		case when b.MainHealthcareContact = 1 then 'Y' else 'N' end as MainHealthcareContact,
		ROW_NUMBER() over (partition by ps.ItemId order by pa.Provider) as ProviderNo

		from ETL_PROD.dbo.CMC_PatientSummary ps with (nolock)
		join ETL_PROD.dbo.CMC_Patient_PatientNumbers po with (nolock) on po.Patient = ps.ItemID
		join ETL_PROD.dbo.CMC_PatientNumber no with (nolock) on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
		join ETL_PROD.dbo.CMC_PatientSummary_Providers pa with (nolock) on ps.itemid = pa.PatientSummary
		join ETL_PROD.dbo.CMC_DocumentProvider b with (nolock) on pa.Provider = b.Provider
		left join [ETL_Local_PROD].[dbo].[AT_StaffDeptContext] a on pa.Provider = a.ProviderOrgContext
		left join ETL_PROD.dbo.CMC_IndividualProvider ip with (nolock) on ip.ItemId = b.Provider

		--where no.PatientNumber = 100013863

	) sel1
-- Add title and role descriptions MS 19.2.16
left join ETL_PROD.dbo.Coded_NamePrefix np1 with (nolock) on StaffTitle = np1.code
left join ETL_PROD.dbo.Coded_NamePrefix np2 with (nolock) on NamePrefix = np2.code
left join ETL_PROD.dbo.Coded_DocumentProviderRole dpr with (nolock) on Role = dpr.code
left join ETL_PROD.dbo.Coded_DocumentOrganizationRole dor with (nolock) on OrgRole = dor.code

   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_PatientHSCContacts]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts]
	select
	*
	into [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts]
	from #PatientHSCContacts









  if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]

	select 
	CMC_ID, 
	PatientSummary, 
	RegisteredGP, 
	CCG,
	-- Add new CCG ODS field for all, not just London MS 7.3.16
	case 
		when CCG = 'NHS SURREY DOWNS CCG' then NULL 
			else DeptODSCode 
	end as London_CCG_ODS,
	-- This field populated only if not Unknown/Cross-Border
	DeptODSCode as CCG_ODS,
	case
	  when CCG = 'NHS SURREY DOWNS CCG' then 'Surrey Downs'
	  when CCG like 'Cross Border%' then 'Cross Border'
	  when CCG like 'Unknown%' then 'Unknown'
		else 'London'
	end as CommissioningArea,
	SurgeryEId,
	GPEId,
	Surgery

	into [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP]

	from
	(select
	cmc_id,
	c.PatientSummary,
	Provider as RegisteredGP,
	case
	-- workaround for West London
	  when h.name6 = 'NHS WEST LONDON CCG' then h.name6
	  when h.name5 = 'NHS WEST LONDON CCG' then h.name5
	  when h.typedesc6 = 'CCG' then h.name6
	  when h.typedesc5 = 'CCG' then h.name5
	  when h.name6 like '%CCG' then 'Cross Border: ' + h.name6
	  when h.name5 like '%CCG' then 'Cross Border: ' + h.name5
	-- workaround for org to org links that have gone walkies
	  when m.dept_parent like '%CCG' then
		case m.dept_parent
		  when 'NHS WEST LONDON (K&C & QPP) CCG' then 'NHS WEST LONDON CCG'
		  else m.dept_parent end 
	  else 'Unknown/Practice not a Practice: ' + isnull(h.name6,'not given') end as CCG,
	ROW_NUMBER() over (partition by c.patientsummary
-- MS 3.11.16 proper sequencing
	order by
	case when h.typedesc6='CCG' then 0 when h.typedesc5='CCG' then 0 else 1 end,
	h.name6,h.name5) as prn,
	DeptEnterpriseId as SurgeryEId,
	StaffEnterpriseId as GPEId,
	DeptName as Surgery
	from #PatientHSCContacts c
	left join  [ETL_Local_PROD].[dbo].[AT_Dept_Heirarchy] h on c.DeptEnterpriseID = h.eid7
	left join Protocol.ODSReconciliationCandidates m on c.DeptLocalCMCId = m.dept_id
	where role = 'REG'
	-- take end date into account MS 21.3.16
	and (c.ToTime is null or cast(c.ToTime as date) > CAST(getdate() as DATE))
	and (c.FromTime is null or cast(c.FromTime as date) <= CAST(getdate() as DATE))
	) sel1
	-- Remove any possible duplicates MS 21.3.16
	left join (select *,ROW_NUMBER() over (PARTITION by deptname
	-- MS 3.11.16 proper sequencing
	order by deptenterpriseid) as drn from [ETL_Local_PROD].[dbo].[AT_PD_Dept]) d
	  on sel1.CCG = d.DeptName
	where (drn=1 or drn is null) and prn=1

	 
	if OBJECT_ID ('Tempdb..#PatientCPRApprovers') is not null
	drop table #PatientCPRApprovers
	select CPR,
	apr.ApprovalTime,
	apr.ApproverName,ROW_NUMBER() OVER (partition by cpr order by approvaltime) as rn 
	into #PatientCPRApprovers
	from ETL_PROD.dbo.CMC_CPR_Approvers ap 
	left join ETL_PROD.dbo.CMC_CPRApprover apr on ap.Approver = apr.itemid

 
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 
----------------------
	 if OBJECT_ID ('Tempdb..#IndOrgEmails') is not null
	 drop table #IndOrgEmails
		SELECT 
		distinct 
		StaffEnterpriseId,
		DeptEnterpriseId,
		em.Address as Email,
		-- Add email location MS 5.2.17
		lo.EnterpriseID as EmailLocation,
		-- Add isPrimary flag MS 19.3.17
		em.isPrimary
		into #IndOrgEmails
		  FROM [ETL_PROD].[dbo].[CMC_Location] lo join Ind2Org io on lo.OrganizationEID = io.deptenterpriseid and lo.IndividualEID = io.StaffEnterpriseID
		-- change CMC_Location_Contacts/CMC_ContactInfo_Emails to CMC_Location_Emails  
		  join ETL_PROD.dbo.CMC_Location_Emails cp on cp.Location = Lo.ItemId
		  join ETL_PROD.dbo.CMC_Email em on cp.Email = em.ItemId
		-- Active ind2orgs only MS 21.2.17
		  where (StartDate is null or CAST(startdate as date) <= CAST(getdate() as date))
		  and (endDate is null or CAST(enddate as date) > CAST(getdate() as date))

-------------------------
--ALTER view [dbo].[PDDeptEmails] as
-- Amended for PD Upgrade
	if OBJECT_ID ('Tempdb..#PDDeptEmails') is not null
	drop table #PDDeptEmails
	SELECT 
	distinct DeptEnterpriseId,
	em.Address as Email

	into #PDDeptEmails

	FROM [ETL_PROD].[dbo].[CMC_Location] lo join PDDepartment d on lo.OrganizationEID = deptenterpriseid
	-- change CMC_Location_Contacts/CMC_ContactInfo_Emails to CMC_Location_Emails
	  join ETL_PROD.dbo.CMC_Location_Emails cp on cp.Location = Lo.ItemId
	  join ETL_PROD.dbo.CMC_Email em on cp.Email = em.ItemId
	left join ETL_PROD.dbo.CMC_Location_DateSpan lods on lo.ItemId = lods.Location
	left join ETL_PROD.dbo.CMC_DateSpan ds on lods.DateSpan = ds.ItemId
	-- ensure ind->org info is omitted from this view MS 6.4.16
	where lo.IndividualEID is null
	-- exclude deleted and expired/unstarted locations MS 25.8.16
	and lo.Deleted is null
	-- exclude FLAGGING emails MS 17.2.17
	and em.TypeCodedValue <> 'FLAGGING'
	and (ds.StartDate is null or CAST(startdate as date) <= CAST(getdate() as DATE))
	and (ds.EndDate is null or  CAST(enddate as date) > CAST(getdate() as DATE))


 


--ALTER view [dbo].[Cache-AuditApprovals] as
-- Amended for PD Upgrade

--ALTER view [dbo].[Cache-WorkbaseDQInfo] as


	if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_WorkbaseDQInfo]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_WorkbaseDQInfo]
		select 
		[DeptKey]
      ,[DeptName]
      ,[OrganizationType]
      ,[OrganizationTypeDescription]
      ,[Organization]
      ,[DeptSource]
      ,[DeptEnterpriseID]
      ,[DeptPDRegistryID]
      ,[DeptLocalCMCId]
      ,[LocalCMCOrgType]
      ,[LocalCMCOrgTypeDescription]
      ,[DeptODSCode]
      ,[DeptOpenDate]
      ,[DeptCloseDate]

		,WorkbaseEmail
		,WorkbaseDeptEId 

		--into [ETL_Local_PROD].[dbo].[AT_WorkbaseDQInfo]
		into [ETL_Local_PROD].[dbo].[AT_WorkbaseDQInfo]
		from [ETL_Local_PROD].[dbo].[AT_PD_Dept] d
		left join
				  (
				  select 
				  Email as WorkbaseEmail, 
				  DeptEnterpriseId as WorkbaseDeptEid,
					 ROW_NUMBER() over (PARTITION by DeptEnterpriseId order by DeptEnterpriseId) as rn
				   from #PDDeptEmails
				   ) we on d.DeptEnterpriseID = WorkbaseDeptEId and we.rn=1


--ALTER view [dbo].[Cache-AssessorDQInfo] as
-- Amended for PD Upgrade
-- Add organisation MS 3.11.16
-- Correct de-dup handling MS 19.2.17
	--if OBJECT_ID ('Tempdb..#AssessorDQInfo') is not null
	--drop table #AssessorDQInfo
	  --if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_AssessorDQInfo]') is not null
	truncate table [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo]
	insert into [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo]

		select 
		distinct 
	[Individual]+cast([DeptKey] as varchar(400)) as DQKey
	,s.[StaffEnterpriseID]
      ,[Individual]
      ,[StaffTitle]
      ,[StaffTitleDescription]
      ,[StaffForename]
      ,[StaffMiddleName]
      ,[StaffSurname]
      ,[StaffODSCode]
      ,[StaffLocalCMCId]
      ,[StaffCreatedDate]
      ,[StaffActive]
      ,[StaffActiveDescription]
      ,[StaffDescription]
      ,[StaffProviderType]
      ,[StaffProviderTypeDescription]
      ,[StaffRegistryId]
      ,[StaffUserId]
      ,[StaffUserClinician]
	,[DeptKey]
      ,[DeptName]
      ,[OrganizationType]
      ,[OrganizationTypeDescription]
      ,[Organization]
      ,[DeptSource]
      ,d.[DeptEnterpriseID]
      ,[DeptPDRegistryID]
      ,[DeptLocalCMCId]
      ,[LocalCMCOrgType]
      ,[LocalCMCOrgTypeDescription]
      ,[DeptODSCode]
      ,[DeptOpenDate]
      ,[DeptCloseDate]
		,AssessorEmail 
 
		from [ETL_Local_PROD].[dbo].[AT_IndToOrg] sd
		join [AT_Staff] s on sd.StaffEnterpriseID = s.StaffEnterpriseID
		join [ETL_Local_PROD].[dbo].[AT_PD_Dept] d on sd.DeptEnterpriseID = d.DeptEnterpriseID
		left join
		-- Correct de-dup handling MS 19.2.17
		  (select 
		  distinct 
		  Email as AssessorEmail, 
		  StaffEnterpriseId as AssessorEmailEid,
		  DeptEnterpriseId as AssessorEmailWorkbaseEid,
		-- Correct de-dup handling MS 19.2.17
		  ROW_NUMBER() over (PARTITION by StaffEnterpriseId,DeptEnterpriseId order by StaffEnterpriseId,DeptEnterpriseId, email) as rn
		-- nhs.net check no longer needed once IndOrgEmails in use MS 30.1.17
		  from #IndOrgEmails) ae on sd.StaffEnterpriseId = AssessorEmailEId
		-- Correct de-dup handling MS 19.2.17
		   and sd.DeptEnterpriseId = AssessorEmailWorkbaseEid and (ae.rn=1 or ae.rn is null)

  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

--ALTER view [dbo].[Cache-AuditApprovals] as
-- Amended for PD Upgrade
  
 --select top 5 * from [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo] 
 
 --select cast([Individual]+cast([DeptKey] as varchar(200)) as Nvarchar(400)) as DQKey,* into [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo] from #AssessorDQInfo
 
   if OBJECT_ID ('Tempdb..#PatOA') is not null
	drop table #PatOA
select 
*
into #PatOA
from
(
select
CMC_ID,
ActionTime as Date_Original_Assessment,
ROW_NUMBER() over (PARTITION by cmc_id order by actiontime) as rn 
from [ETL_Local_PROD].[dbo].[AuditPatient_New] 
where ActionType = 'create')d where d.rn=1

 
--   if OBJECT_ID ('Tempdb..#PatOAP') is not null
--	drop table #PatOAP
--select 
--*
--into #PatOAP
--from
--(
--select
--CMC_ID,
--ActionTime as Date_Original_Assessment,
--ROW_NUMBER() over (PARTITION by cmc_id order by actiontime) as rn 
--from [ETL_Local_PROD].[dbo].[AuditPatient_New] 
--where ActionType = 'Publish')d where d.rn=1

 
  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  /**


  
  ALTER TABLE [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo] 
  ALTER COLUMN DQKey NVARCHAR(400) NOT NULL;



  ALTER TABLE [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo] 
   ADD CONSTRAINT PK_DQKey PRIMARY KEY CLUSTERED (DQKey);

  ALTER INDEX PK_AuditTransactionOrder_ItemID ON [ETL_Local_PROD].[dbo].[AuditPatient_New]  DISABLE
  go
  ALTER INDEX PK_AuditTransactionOrder_ItemID ON [ETL_Local_PROD].[dbo].[AuditPatient_New] REBUILD
  go

  
  CREATE INDEX KeyStaffDept
ON [ETL_Local_PROD].[dbo].[AT_AssessorDQInfo]   (DQKey,[deptpdregistryid],StaffRegistryId);


 so.StaffRegistryId	= r.From_StaffRegistryId and so.deptpdregistryid = r.From_deptpdregistryid 


  CREATE INDEX CareRecord_PatAuditIndex
ON [ETL_Local_PROD].[dbo].[AuditPatient_New]  (CMC_ID, PatAuditID);

**/

--  	from [ETL_Local_PROD].[dbo].[AT_CarePlanVersion] a
--Left join ETL_PROD.dbo.CMC_CarePlan cp on cp.ItemId = a.LastCarePlan  
--Left join ETL_PROD.dbo.CMC_CarePlan cp1 on cp1.ItemId = a.FirstCarePlan  

		exec [dbo].[AT__MetadataDeptEids_SP] 
		exec [dbo].[AT__MetadataStaffEids_SP] 



  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


    if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Patient_General]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_Patient_General]

	select 
	
	po.CMC_ID,
	NHS_Number,
	'Yes' as OnNewSystem,
	a.LastestVersion as VersionNumber,
	a.GenusId,
	a.FirstVersion as FirstVersionNumber,
	ps.itemid as PatientSummary,
	p.itemid as Patient,
	cp.ItemId as Care_Plan,
	 rc.runcomplete  as DataLoadDate,

	-- Genuine Available Care Plan Check
	-- 7 = Consent Withdrawn
	case when c.Type = '7' then 'Y' else 'N' end as IsSoftDeleted,
	--* 
	--pad.CombinedAddress as #MAIN_ADDRESS,

	-- Metadata
	cp.DateLastSaved,
	cp1.EnteredBy as OriginalEnteredBy,
	eb1.DeptEnterpriseID as OriginalWorkbaseEId,
	-- Simplified version
	isnull(cast(demo.Add_Date as date),convert(date,aup.ActionTime)) as Add_Date,
	cp1.LastApprovedBy as OriginalApprovedBy,
	--ap.OriginalApproverWorkbaseEId ,
	isnull(cast(demo.Date_original_Approval as date),convert(date,auz.ActionTime)) as Date_Original_Approval,

	cast(null as varchar(max)) as OriginalApprover,
	cast(null as varchar(300)) as OriginalApproverJobTitle,
	cast(null as varchar(max)) as OriginalApproverWorkbase,
	cast(null as varchar(255)) as OriginalApproverWorkbaseODS,
	cast(null as varchar(max)) as Original_Approver_Prof_Group,
	null as OriginalApproverWorkbaseEId,
-- MS 18.3.17 Add original approver ODS code & role information
	cast(null as varchar(max)) as OriginalApproverODS,

	cast(null as varchar(max)) as Original_Approver_Role_Description,

	'Completed' as OriginalAssessmentStatus,
	oa.Date_Original_Assessment,
	isnull(la.AuditId,cp1.EnteredBy) as LatestEnteredBy,
	isnull(la.ActionTime,cast(demo.Date_Latest_Assessment as datetime)) as Date_Latest_Assessment,
	cp.LastApprovedBy as LatestApprovedBy,
	cp.LastApprovedTime as Date_Latest_Approval,

	
		-- Add title code MS 7.3.16
		NamePrefix as PatTitle,
		npc.Description as TITLE,
		n.GivenName as FORENAME,
		n.MiddleName,
		-- deal with duff apostrophes MS 11.2.17
		replace(n.FamilyName,'&apos;','''') as SURNAME,
		n.CCPreferredName as PreferredName,
		cast(p.DateOfBirth as date) as DoB,
		isnull(
		  DateDiff(year,p.DateOfBirth,getdate()) -
			case
			  when dbo.Date(year(getdate()),month(p.DateOfBirth),day(p.DateOfBirth)) <
				getdate() then 0
			  else 1 end,-1) as Age,
		p.Gender as GENDER,
		p.MaritalStatus as MARITALSTATUS,
		p.EthnicGroup as ETHNICITY,
		p.LivingCondDetails,
		p.Religion as RELIGION,
		p.PrimaryLanguage as PrimaryLanguage,
		p.PrimaryLangDetails,
		cast(p.DateOfDeath as date) as DoD,
		p.DeathLocation,
		p.DeathSourceInfo,
		p.DeathLocationOther,
		p.DeathVariance,
		p.DeathVarianceOther,
		case p.IsProtected when 0 then 'N' else 'Y' end as Restricted,
		p.PDSOverride,
		-- Currently no non-null values
		case
		  when pds.[fact of death] is not null and pds.[Fact of Death] = 'D' then
		 cast(pds.[date of death] as date) 
		  else null end as DoD_PDS,
		case [Fact of Death]
		  when 'D' then 'Deceased'
		  else 'Living' end as DeceasedPDS,
		pds.[Trace Result NHS Number] as PDS_NHS_Number,
		case 
		  when pds.[Record Type] is null then
			case
			  when pn.NHS_Number is null then '03.Not present, not yet traced'
			  else '02.Present, not yet traced' end 
		  when pds.[Record Type] = '30' then '01.Present and verified'
		  when pds.[Record Type] = '20' then '01.Missing but successfully identified via trace'
		  when pds.[Record Type] = '33' then '01.Present, but replacement indicated by trace'
		  when pds.[Record Type] = '40' then '01.Present, but replacement indicated by trace'
		  else
			case
			  when pn.NHS_Number is null then '04.Missing, trace attempted, no match or multiple matches found'
			  else '04.Present, trace attempted, no match or multiple matches found' end
		  end as PDS_Status,
	(select CONVERT(date,[Latest Add Date Reconciled]) from PDSStatistics) as PDS_Reconciliation_Date,

	case when pscmain.Main_LastAddressflag = 1 then pscmain.CombinedAddress end as MAIN_ADDRESS,
	case when pscmain.Main_LastAddressflag = 1 then pscmain.PostalCode end as MAIN_POSTCODE,
	case when pscmain.Main_LastAddressflag = 1 then pscmain.CombinedAddress end as PRIMARY_ADDRESS,
	case when pscmain.Main_LastAddressflag = 1 then pscmain.PostalCode end as PRIMARY_POSTCODE,
	case when pscTemp.Crr_Temp_LastAddressflag = 1 then pscTemp.CombinedAddress end as CURRENT_ADDRESS,
	case when pscTemp.Crr_Temp_LastAddressflag = 1 then pscTemp.PostalCode end as CURRENT_POSTCODE,
	case when pscSecond.Second_LastAddressflag = 1 then pscSecond.CombinedAddress end as SECONDARY_ADDRESS,
	case when pscSecond.Second_LastAddressflag = 1 then pscSecond.PostalCode end as SECONDARY_POSTCODE,
	hct.ContactValue  as Home_Phone,
	mct.contactType as Mobile_Phone,
	wct.contactType as Work_Phone,
	ect.contactType as Email,
	oct.contactType as Other_Phone,

 
		-- GP Information
		gp.Surgery as GP_Practice,
		gp.CCG,
		gp.CommissioningArea,
		gp.London_CCG_ODS as London_CCG_ODS,
		-- Add more general CCG ODS code MS 7.3.16
		gp.CCG_ODS,


			-- Consent Information
		c.Clinician as ConsentedBy,
		 cast(c.DateObtained as date)  as ConsentedDate,
		c.Type as CONSENT,
		c.Comments as MC_DET,
		p.ReqCopy as REQ_COPY,
		cp.PlannedReviewer as PlannedReviewer,
		cast(cp.PlannedReviewTime as date)  as PlannedReviewDate,

		-- Contacts
		c.POADocLocation,

		-- Medical Background
		pr.Clinician as PrognosisByRef,
		rtrim(isnull(pri.StaffTitleDescription + ' ','') + isnull(pri.StaffForename + ' ','') + isnull(pri.StaffSurname,'')) as PrognosisClinicianName,
		pri.DeptName as PrognosisClinicianWorkbase,
-- add Prognosis Clinician Workbase ODS MS 18.3.17
pri.DeptODSCode as PrognosisClinicianWorkbaseODS,
		pr.FamilyAwareProgDetails as PA_FAMPRODDETAILS,
		pr.FamilyAwarePrognosis as PA_FAMPROD,
		pr.PatientAwareProgDetails as PA_PRODDETAILS,
		pr.PatientAwarePrognosis as PA_PROD,
		pr.TimeFrame,
		pr.TimeFrameUnits as ALT_PROGNOSIS,
		pr.Surprise as Surprise,
		cast(pr.UpdatedOn as date) as DATE_PROGNOSIS,
		mb.ADRTDetails,
		mb.ADRTExists as ADRTExists,
		mb.DisabilityDetails as COMM_DIFF_DETAIL,
		mb.FamilyAwareDiagDetails as C_AWAREDETAILS,
		mb.FamilyAwareDiagnosis as C_AWARE,
		mb.HaveDisability as COMMDIFF,
		mb.LevelOfTrtmnt as CEILTREAT,
		mb.LevelOfTrtmntDetails as CT_DET,
		mb.OtherSignifHx as SIGNIFICANT_MEDICAL,
		mb.PatientAwareDiagDetails as P_AWAREDETAILS,
		mb.PatientAwareDiagnosis as P_AWARE,
		mb.WHOPerf as WHPERF,
		cast(mb.WHOPerfTime as date) as WHP_DATE,
		-- Handle primary and secondary cancers properly MS 2.5.16
		dc.DiagnosisCategory as Classified_Diagnosis,
		dc.DiagnosisCode as DiagnosisCode,

		-- CPR
		cast(cpr.CPRReviewDate as date) as REVIEW_DATE,
		cpr.ChildInvolv,
		-- Currently no non-null values
		cpr.ChildParentConsult,
		-- Currently no non-null values
		cpr.Clinician as CPRBy,
		cpr.ClinicianAware as VALIDAD,
		cpr.AdditionalDetail as POSITION,
		cast(cpr.ClinicianTime as date) as DNARDATE1,
		cpr.CourtOrder,
		-- Currently no non-null values
		cpr.DNACPRFormLocation as ORDER_YES,
		cpr.DNACPRFormUploaded,
		-- Currently no non-null values
		cpr.Decision as CARDIO_YN,
		cast(cpr.DecisionTime as date) as CPRDECDATE,
		cpr.FamilyDiscussion as RESUS_FAMILY,
		cpr.FamilyDiscussionComments as RESUS_FAMDET,
		cast(cpr.FamilyDiscussionTime as date) as FamilyDiscussionTime,
		case cpr.HasBeenAgreed when 0 then 'N' else 'Y' end as HasBeenAgreed,
		cpr.JudgeCourt,
		-- Currently no non-null values
		cpr.JudgeCourtLocation,
		-- Currently no non-null values
		cpr.JudgeCourtTime,
		-- Currently no non-null values
		cpr.OtherTeamMemb as NAMEMEM,
		cpr.PatientDiscussion as RESUS_PATIENT,
		cpr.PatientDiscussionComments as RESUS_PATIENTDET,
		cast(cpr.PatientDiscussionTime as date) as PatientDiscussionTime,
		cpr.PtAbleToDecide as HAVECAP,
		cpr.WelfareAttourney as APPOINTWA,
		cpr.WhyCPRInapp as CLINPROB,
		ap1.ApproverName as DNARNAME1,
		ap2.ApproverName as DNARNAME2,
		ap3.ApproverName as DNARNAME3,
		cast(ap1.ApprovalTime as date)as DNARDATE2,
		cast(ap2.ApprovalTime as date) as DNARDATE3,
		cast(ap3.ApprovalTime as date) as DNARDATE4,

	 -- Social Background
	pkg.DS1500 as DS1500,
	pkg.Equipment as EQUIP,
	pkg.EquipmentNotes as EQUIP_DETAIL,
	pkg.FamilySupport as FAM_SUPPORT,
	pkg.FamilySupportNotes as FAM_SUPPORT_Y,
	pkg.HomecareHelp as HOMECARE,
	pkg.HomecareHelpNotes as HOMECARE_DET,
	pkg.PatientReceipt as CAREPLAN,
	pkg.PatientReceiptNotes as CAREPLAN_DETAIL,

	 -- Medications
	ms.Anticoags as Anticoags,
	ms.Insulin as Insulin,
	ms.MedListLocation,
	ms.Opioids as OPIOID,
	ms.OtherInfo as MED_OTH,
	ms.Steroids as Steroids,


	 -- Preferences
	pf.CulturalRelNeeds as CULTURAL,
	pf.FamilyAwarePref as FAMILY_AWAR,
	pf.OrganDonat as WISHES,
	pf.OrganDonatDet as WISHES_YES,
	pf.PatientWishes as PERCARE_PLAN,
	pf.PlaceCare as PPC,
	pf.PlaceCareDet as PPDDiscuss,
	pf.PlaceCareDet,
	-- unconfuse things
	pf.PlaceDeath1 as PPD1,
	pf.PlaceDeath1Det as PPCDiscuss,
	-- unconfuse things
	pf.PlaceDeath1Det,
	pf.PlaceDeath2 as PPD2,
	pf.PlaceDeath2Det

 into [ETL_Local_PROD].[dbo].[AT_Patient_General]

	from [ETL_Local_PROD].[dbo].[AT_CarePlanVersion] a
Left join ETL_PROD.dbo.CMC_CarePlan cp on cp.ItemId = a.LastCarePlan  
Left join ETL_PROD.dbo.CMC_CarePlan cp1 on cp1.ItemId = a.FirstCarePlan  -----Originally entered by
left join AT_StaffDeptContext eb1 on eb1.ProviderOrgContext = cp1.EnteredBy
Left join ETL_PROD.dbo.CMC_PatientSummary ps on ps.ItemID =  a.LastPatientSummary  
Left join ETL_PROD.dbo.CMC_Patient p on p.ItemId = ps.Patient  
Left join ETL_PROD.dbo.CMC_Name n on n.itemid = p.Name  
Left join AT_CMCID po on po.Patient = ps.ItemID
Left join AT_NHSNumbers pn on pn.Patient = ps.ItemID

--left join [ETL_Local_PROD].[dbo].[AT_AuditApprovals] ap on ap.cmc_id = a.FirstCarePlan  

--select top 40 * from #AuditApprovals

Left join [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP] gp on gp.patientsummary = ps.ItemId
left join ETL_PROD.dbo.CMC_CarePackage pkg on pkg.ItemId = ps.CarePackage
left join ETL_PROD.dbo.CMC_Consent c on c.ItemId = p.Consent
left join ETL_PROD.dbo.CMC_CPR cpr on ps.CPR = cpr.ItemId
left join ETL_PROD.dbo.CMC_MedicalBackground mb on ps.MedicalBackground = mb.ItemId
left join ETL_PROD.dbo.CMC_MedicationSummary ms on ms.ItemId = ps.MedicationSummary
left join ETL_PROD.dbo.CMC_PatientSummary_PatientPreferences psf on ps.ItemId = psf.PatientSummary
left join ETL_PROD.dbo.CMC_PatientPreference pf on psf.PatientPreference = pf.ItemId
left join ETL_PROD.dbo.CMC_Prognosis pr on ps.Prognosis = pr.ItemId
left join [ETL_Local_PROD].[dbo].[AT_StaffDeptContext] pri on pri.ProviderOrgContext = pr.Clinician

left join (select * from #PatientCPRApprovers where rn=1) ap1 on cpr.ItemId = ap1.CPR
left join (select * from #PatientCPRApprovers where rn=2) ap2 on cpr.ItemId = ap2.CPR
left join (select * from #PatientCPRApprovers where rn=3) ap3 on cpr.ItemId = ap3.CPR

--select * from AT_PatAddress where CMC_ID = 100007994
left join AT_PatAddress pscmain on pscmain.CMC_ID = a.GenusID and pscmain.Main_LastAddressFlag = 1
left join AT_PatAddress pscSecond on pscSecond.CMC_ID = a.GenusID and pscSecond.Second_LastAddressFlag = 1
left join AT_PatAddress pscTemp on pscTemp.CMC_ID = a.GenusID and pscTemp.Crr_Temp_LastAddressflag = 1
 --select * from [AT_CarePlanVersion] 

--select * from #PatTele where CMC_ID =  100013863
--left join #PatTele hct on hct.Patient = ps.Patient 
left join #PatTele hct on hct.Patient = ps.Patient and hct.contactType = 'HOME' 
left join #PatTele mct on mct.Patient = ps.Patient and mct.contactType = 'MOBILE' 
left join #PatTele wct on wct.Patient = ps.Patient and wct.contactType = 'WORK' 
left join #PatTele ect on ect.Patient = ps.Patient and ect.contactType = 'EMAIL'
left join #PatTele oct on oct.Patient = ps.Patient and oct.contactType = 'OTHER'

left join ETL_PROD.dbo.Coded_NamePrefix npc on npc.code = n.NamePrefix
--select * from #PatDiagnosis
left join AT_PatDiagnosis dc on dc.Patient = po.Patient  and dc.PatDiagRN = 1
 
left join (select top 1 * from ETL_PROD.dbo.CMC_RUN_COMPLETE where ItemId=1) rc on 1=1
left join #PatOA oa on oa.CMC_ID = po.CMC_ID
--left join #PatOAP oap on oap.CMC_ID = po.CMC_ID
--select * from #PatOA
 
left join [ETL_Local_PROD].[dbo].[AuditPatient_New]aup on aup.CMC_ID = po.CMC_ID and aup.ActionType = 'Create' and aup.ActionTypeOrder = 1
left join [ETL_Local_PROD].[dbo].[AuditPatient_New]auz on auz.CMC_ID = po.CMC_ID and auz.ActionType = 'Publish' and auz.ActionTypeOrder = 1
left join (
select cmc_id,add_date,Date_Original_Assessment,Date_Latest_Assessment,original_approval_date as date_original_approval from Protocol.OldSystemCarePlans
union all
select cmc_id,add_date,Date_Original_Assessment,Date_Latest_Assessment,original_approval_date as date_original_approval from Protocol.OldSystemCarePlansMigratedDuplicates
) demo on demo.CMC_ID = po.CMC_ID

left join [ETL_Local_PROD].[dbo].[AT_Accurate_Entered_by] la on la.patientsummary = ps.ItemId
left join Load.PDS on pds.[Local PID] = po.CMC_ID

--100085130






update f
				set OriginalApprover = coalesce(dd.StaffFullName,ap.OriginalApprover,mse.OriginalApprover) ,
					OriginalApproverJobTitle = coalesce(dd.staffprovidertypedescription, ap.OriginalApproverJobTitle,mse.OriginalApproverJobTitle),
					OriginalApproverWorkbase = coalesce(dd.team,ap.OriginalApproverWorkbase,CAST(mde.OriginalApproverWorkbase AS VARCHAR(MAX))),
					OriginalApproverWorkbaseODS = coalesce(dd.DeptODSCode, ap.OriginalApproverWorkbaseODS,mde.OriginalApproverWorkbaseODS),
					Original_Approver_Prof_Group = coalesce(dd.teamtype,ap.OriginalApproverProfGroup,mde.OriginalApproverProfGroup),
					OriginalApproverWorkbaseEId = coalesce(dd.staffenterpriseID, caST(ap.OriginalApproverWorkbaseEid AS VARCHAR(MAX)),mde.OriginalApproverWorkbaseEid),
					OriginalApproverODS = coalesce(ap.OriginalApproverODS,mse.OriginalApproverODS),
					--Original_Approver_Role = (select role from reference.RolesCDA r where r.job_title = isnull(ap.OriginalApproverJobTitle,mse.OriginalApproverJobTitle)),
					Original_Approver_Role_Description = coalesce(ap.OriginalApproverJobTitle,mse.OriginalApproverJobTitle,dd.staffprovidertypedescription)

from [ETL_Local_PROD].[dbo].[AT_Patient_General] f

left join AuditApprovals ap on ap.cmc_id = f.cmc_id
left join Protocol.MetadataStaffEids mse on CONVERT(BIGINT,mse.cmc_id) = f.cmc_id
left join Protocol.MetadataDeptEids mde on CONVERT(BIGINT,mde.cmc_id) = f.cmc_id
left join 
			(
			SELECT *
  FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
  where DerivedActionType = 'Publish' and ActivityOrderNo = 1
  and CMC_ID in (select distinct Cmc_id from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where DerivedActionType = 'create')  
			)dd on dd.CMC_ID = f.CMC_ID

 
 --select top 5* from [ETL_Local_PROD].[dbo].[AT_Patient_General] where OriginalApprover is not null
 --select top 5* FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]

			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]

			select
			ROW_NUMBER() OVER(PARTITION BY CMC_ID ORDER by c.TeamType  ) AS RN2,
			d.*,
			STP,
			c.ActivityTeam as OriginalPublisherTeam,
			c.[Parent Org] as OriginalPublisherParentOrg,
			c.TeamType as OriginalPublisherTeamType
			into [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]
			from
			(

		SELECT  
		a.[CMC_ID],
		a.[NHS_Number],
		[OnNewSystem],
		[VersionNumber],
		[GenusId],
		[FirstVersionNumber],
		[#PatientSummary] as [PatientSummary],
		[#Patient] as [Patient],
		[#Care_Plan] as [Care_Plan],
		--[DataLoadDate], -- date
		[#IsSoftDeleted] as [IsSoftDeleted],
		a.[DateLastSaved], -- date
		[#OriginalEnteredBy] as [OriginalEnteredBy],
		null as [OriginalWorkbaseEId],
		convert(Date,a.[Add_Date]) as [Add_Date], -- date
		[#OriginalApprovedBy] as [OriginalApprovedBy],
		convert(Date,[Date_Original_Approval]) as [Date_Original_Approval], -- date
		[OriginalApprover],
		[OriginalApproverJobTitle],
		[OriginalApproverWorkbase],
		[OriginalApproverWorkbaseODS],
		a.[Original_Approver_Prof_Group],
		[OriginalApproverWorkbaseEId],
		[OriginalApproverODS],



		[Original_Approver_Role_Description],
		a.[OriginalAssessmentStatus],
		a.[Date_Original_Assessment],
		[#LatestEnteredBy] as [LatestEnteredBy],
		a.[Date_Latest_Assessment],
		[#LatestApprovedBy] as [LatestApprovedBy],
		[Date_Latest_Approval],
		--[#TITLE] as [TITLE],
		a.[TITLE],
		a.[FORENAME],
		[MiddleName],
		a.[SURNAME],
		a.[PreferredName],
		convert(date,a.[DoB]) as [DoB], -- date
		[Age],
		[#GENDER] as [GENDER],
		[#MARITALSTATUS] as [MARITALSTATUS],
		[#ETHNICITY] as [ETHNICITY],
		a.[LivingCondDetails],
		[#RELIGION] as [RELIGION],
		[#PrimaryLanguage] as [PrimaryLanguage],
		a.[PrimaryLangDetails],
		convert(date,a.[DoD_Demographics]) AS [DoD], -- date
		case b.DODPLACE
  when '1.Home' then 'Home' 
  when '2.Care Home/Nursing' then 'Care Home/Nursing'
  when '2.Care Home/Residential' then 'Care Home/Residential' 
  when '3.Hospice' then 'Hospice' 
  when '4.Community Hospital' then 'Community Hospital'
  when '4.Hospital' then 'Hospital'
  when '5.Other' then 'Other' 
  when '6.Not recorded' then NULL
  else b.DODPLACE end as [DeathLocation],
		[INF_DEATH] as [DeathSourceInfo],
		[OTHERPS] as [DeathLocationOther],
		[#VARIANCE] as [DeathVariance],
		[OTHERPSA] as [DeathVarianceOther],
		a.[#Restricted] as [Restricted],
		[PDSOverride],
		convert(date,a.[DOD_PDS]) as [DOD_PDS], -- date
		[#DeceasedPDS] as [DeceasedPDS],
		a.[PDS_NHS_Number],
		a.[PDS_Status],
		convert(date,a.[PDS_Reconciliation_Date]) as [PDS_Reconciliation_Date], -- date
		[#MAIN_ADDRESS] as [MAIN_ADDRESS],
		[#MAIN_POSTCODE] as [MAIN_POSTCODE],
		[#PRIMARY_ADDRESS] as [PRIMARY_ADDRESS],
		[#PRIMARY_POSTCODE] as [PRIMARY_POSTCODE],
		[#CURRENT_ADDRESS] as [CURRENT_ADDRESS],
		[#CURRENT_POSTCODE] as [CURRENT_POSTCODE],
		[#SECONDARY_ADDRESS] as [SECONDARY_ADDRESS],
		[#SECONDARY_POSTCODE] as [SECONDARY_POSTCODE],
		[#Home_Phone] as [Home_Phone],
		[#Mobile_Phone] as [Mobile_Phone],
		[#Work_Phone] as [Work_Phone],
		[#Email] as [Email],
		a.[#Other_Phone] as [Other_Phone],
		[#RegisteredGP] as [GP_Practice],
		[CCG],
		[CommissioningArea],
		[#London_CCG_ODS] as [London_CCG_ODS],
		[CCG_ODS]
		,
		[#ConsentedBy] as [ConsentedBy],
		a.[ConsentedOn] as [ConsentedDate],
		case b.consent
  when '1.Parent/legal guardian' then 'The patient is aged 17 years or younger, and their parent/legal guardian has agreed to the creation of a personalised care plan and the sharing of information as above'
  when '1.Patient 16-17' then 'The patient is aged 16 or 17 years and has given their own consent'
  when '1.Patient consents' then 'The patient is an adult (18+) and has agreed to the creation of a personalised care plan and sharing of information as above'
  when '2.Best interest applies' then 'The patient is an adult (18+) but lacks mental capacity to make the above decisions. A clinical decision has been made in their best interest in consultation with the family/carers, if possible'
  when '2.Best interest under 18' then 'The patient is aged 17 years or younger. It has not been possible to obtain consent of a parent/legal guardian, but a clinical decision has been made in their best interest'
  when '3.Power of Attorney' then 'The patient is an adult (18+) but lacks mental capacity to make the above decisions. Consent has been given by an appointed person with Lasting Power of Attorney for health and welfare'
  when '4.LSL-Consent Field Not Migrated' then 'LSL-Consent Field Not Migrated' 
  when '4.Yes (unspecified)' then 'Yes (unspecified)'
  when '5.Refused' then 'Refused'
  when '5.Withdrawn' then 'Withdrawn'
  when '6.Not recorded' then NULL
else b.consent end  as [CONSENT],
		[MC_DET],
		[#REQ_COPY] as [REQ_COPY],
		[#PlannedReviewer] as [PlannedReviewer],
		Convert(Date,[REVIEW]) as [PlannedReviewDate], -- date
		[POADocLocation],
		[#PrognosisBy] as [PrognosisByRef],
		[PrognosisClinician] as [PrognosisClinicianName],
		[PrognosisClinicianWorkbase],
		[PrognosisClinicianWorkbaseODS],
		[PA_FAMPRODDETAILS],
		[#PA_FAMPROD] as [PA_FAMPROD],
		[PA_PRODDETAILS],
		[#PA_PROD] as [PA_PROD],
		[TimeFrame],
		[#ALT_PROGNOSIS] as [ALT_PROGNOSIS],
		[#Surprise] as [Surprise],
		convert(date,[DATE_PROGNOSIS]) as [DATE_PROGNOSIS], -- date
		[ADRTDetails],
		[#ADRTExists] as [ADRTExists],
		[COMM_DIFF_DETAIL],
		[C_AWAREDETAILS],
		[#C_AWARE] as [C_AWARE],
		[#COMMDIFF] as [COMMDIFF],
		[#CEILTREAT] as [CEILTREAT],
		[CT_DET],
		[SIGNIFICANT_MEDICAL],
		[P_AWAREDETAILS],
		[#P_AWARE] as [P_AWARE],
		case b.WHPERF
  when '1.0 - fully active and more or less as you were before your illness' then '0. Fully Active And More Or Less As You Were Before Illness'
  when '2.1 - cannot carry out heavy physical work, but can do anything else' then '1. Cannot Carry Out Heavy Physical Work, But Can Do Anything Else'
  when '3.2 - up and about more than half the day; you can look after yourself' then '2. Up And About More Than Half A Day, You Can Also Look After Yourself, But Are Not Well Enough To Work'
  when '4.3 - in bed or sitting in a chair for more than half the day you need some help in looking after yourself' then '3. In Bed Or Sitting In A Chair For More Than Half The Day. Will Need Some Help In Looking After Yourself'
  when '5.4 - in bed or a chair all the time and need a lot of looking after' then '4. In Bed Or Chair Most Of The Time And Needs A Lot Of Looking After'
  when '6.5 - patient has died' then 'Dead'
  when '6.Not recorded' then NULL
  else b.WHPERF end as [WHPERF],
		convert(Date,[WHP_DATE]) as [WHP_DATE], -- date
		[#Classified_Diagnosis] as [Classified_Diagnosis],
		[#DiagnosisCode] as [DiagnosisCode],
		convert(Date,[REVIEW_DATE]) as [REVIEW_DATE], -- date
		[ChildInvolv],
		[ChildParentConsult],
		[#CPRBy] as [CPRBy],
		[#VALIDAD] as [VALIDAD],
		[POSITION],
		convert(Date,[DNARDATE1]) as [DNARDATE1], -- date

		[CourtOrder],
		[ORDER_YES],
		[DNACPRFormUploaded],
		case b.CARDIO_YN
  when '1.Yes' then 'Yes'
  when '2.No' then 'No'
  when '3.Decision not yet made' then 'Decision Not Yet Made'
  when '4.Not recorded' then NULL
  else b.CARDIO_YN end as [CARDIO_YN],
		convert(Date,[CPRDECDATE]) as [CPRDECDATE], -- date
		case rtrim(b.resus_family)
when '1.Yes' then 'Yes'
when 'Not Yet Discussed With Family /Carer' then 'No - not yet discussed'
when '3.Not yet discussed with family/carer' then 'No - not yet discussed'
when 'No' then 'No - not yet discussed'
when '2.No' then 'No - not yet discussed'
when 'Family/Carer Not Wishing To Have Discussion' then 'No - not willing to discuss'
when '4.Family/carer not wishing to have discussion' then 'No - not willing to discuss'
when '7.Not recorded' then NULL
when '6.No family/carer to discuss with' then 'No Family /Carer To Discuss With'
when '5.Patient not wishing family/carer to be involved in the discussion' then 'Patient Not Wishing Family /Carer To Be Involved In The Discussion'
else rtrim(b.resus_family) end as [RESUS_FAMILY],
		[RESUS_FAMDET],
		convert(Date,[FamilyDiscussionTime]) as [FamilyDiscussionTime] , -- date
		[HasBeenAgreed],
		[JudgeCourt],
		[JudgeCourtLocation],
		Convert(Date,[JudgeCourtTime]) as [JudgeCourtTime],
		[NAMEMEM],
		case rtrim(b.resus_patient)
when '1.Yes' then 'Yes'
when 'Patient not able to discuss' then 'No - not able to discuss'
when '5.Patient not able to discuss' then 'No - not able to discuss'
when 'Not yet discussed with patient' then 'No - not yet discussed'
when '3.Not yet discussed with patient' then 'No - not yet discussed'
when 'No' then 'No - not yet discussed'
when '2.No' then 'No - not yet discussed'
when 'Patient not wishing to have discussion' then 'No - not willing to discuss'
when '4.Patient not wishing to have discussion' then 'No - not willing to discuss'
when '6.Not recorded' then NULL
else rtrim(b.resus_patient) end as [RESUS_PATIENT],
		[RESUS_PATIENTDET],
		convert(Date,[PatientDiscussionTime]) as [PatientDiscussionTime], -- date
		[#HAVECAP] as [HAVECAP],
		[#APPOINTWA] as [APPOINTWA],
		[CLINPROB],
		a.[DNARNAME1],
		a.[DNARNAME2],
		a.[DNARNAME3],
		convert(Date,[DNARDATE2]) as [DNARDATE2], -- date
		convert(Date,[DNARDATE3]) as [DNARDATE3], -- date
		convert(Date,[DNARDATE4]) as [DNARDATE4], -- date
		[#DS1500] as [DS1500],
		[#EQUIP] as [EQUIP],
		[EQUIP_DETAIL],
		[#FAM_SUPPORT] as [FAM_SUPPORT],
		[FAM_SUPPORT_Y],
		[#HOMECARE] as [HOMECARE],
		[HOMECARE_DET],
		[#CAREPLAN] as [CAREPLAN],
		[CAREPLAN_DETAIL],
		[#Anticoags] as [Anticoags],
		[#Insulin] as [Insulin],
		[MedListLocation],
		[#OPIOID] as [OPIOID],
		[MED_OTH],
		[#Steroids] as [Steroids],
		a.[CULTURAL],
		[FAMILY_AWAR],
		[#WISHES] as [WISHES],
		[WISHES_YES],
		[PERCARE_PLAN],
		[#PPC] as [PPC],
		[PPDDiscuss],
		[PlaceCareDet],
		case b.PPD1
  when '1.Home' then 'Home'
  when '2.Care Home' then 'Care Home'
  when '3.Hospice' then 'Hospice' 
  when '4.Community Hospital' then 'Community Hospital' 
  when '4.Hospital' then 'Hospital' 
  when '5.Other' then 'Other'
  when '6.Not yet discussed' then 'Not Yet Discussed' 
  when '7.No wish to state' then 'Patient Not Wishing to State Preference' 
  when '7.Not able to discuss' then 'Patient Not Able to Discuss'
  when '8.Not recorded' then NULL
  else b.PPD1 end as PPD1, 
		[PPCDiscuss],
		[PlaceDeath1Det],
		case b.PPD2
  when '1.Home' then 'Home'
  when '2.Care Home' then 'Care Home'
  when '3.Hospice' then 'Hospice' 
  when '4.Community Hospital' then 'Community Hospital' 
  when '4.Hospital' then 'Hospital' 
  when '5.Other' then 'Other'
  when '6.Not yet discussed' then 'Not Yet Discussed' 
  when '7.No wish to state' then 'Patient Not Wishing to State Preference' 
  when '7.Not able to discuss' then 'Patient Not Able to Discuss'
  when '8.Not recorded' then NULL
  else b.PPD2 end as [PPD2],
		[PlaceDeath2Det]



		FROM [ETL_Local_PROD].[dbo].[PatientDetailHistoric]a
		left join [ETL_Local_PROD].[Protocol].[OldSystemCarePlans]b on b.CMC_ID = a.CMC_ID
		where a.cmc_ID not in (select CMC_ID from [ETL_Local_PROD].[dbo].[AT_Patient_General])



		union 

		 select 
		 [CMC_ID]
			  ,[NHS_Number]
			  ,[OnNewSystem]
			  ,[VersionNumber]
			  ,[GenusId]
			  ,[FirstVersionNumber]
			  ,[PatientSummary]
			  ,[Patient]
			  ,[Care_Plan]
			  ----,[DataLoadDate]
			  ,[IsSoftDeleted]
			  ,[DateLastSaved]
			  ,[OriginalEnteredBy]
			  ,[OriginalWorkbaseEId]
			  ,[Add_Date] -- date
			  ,[OriginalApprovedBy]
			  ,[Date_Original_Approval] -- date
			  ,[OriginalApprover]
			  ,[OriginalApproverJobTitle]
			  ,[OriginalApproverWorkbase]
			  ,[OriginalApproverWorkbaseODS]
			  ,[Original_Approver_Prof_Group]
			  ,[OriginalApproverWorkbaseEId]
			  ,[OriginalApproverODS]
			  ,[Original_Approver_Role_Description]
			  ,[OriginalAssessmentStatus]
			  ,[Date_Original_Assessment] -- date
			  ,[LatestEnteredBy]
			  ,[Date_Latest_Assessment] -- date
			  ,[LatestApprovedBy]
			  ,[Date_Latest_Approval] -- date
			  --,[PatTitle]
			  ,[TITLE]
			  ,[FORENAME]
			  ,[MiddleName]
			  ,[SURNAME]
			  ,[PreferredName]
			  ,[DoB] -- date
			  ,[Age]
			  ,[GENDER]
			  ,[MARITALSTATUS]
			  ,[ETHNICITY]
			  ,[LivingCondDetails]
			  ,[RELIGION]
			  ,[PrimaryLanguage]
			  ,[PrimaryLangDetails]
			  ,[DoD] -- date
			  ,[DeathLocation]
			  ,[DeathSourceInfo]
			  ,[DeathLocationOther]
			  ,[DeathVariance]
			  ,[DeathVarianceOther]
			  ,[Restricted]
			  ,[PDSOverride]
			  ,[DoD_PDS] -- date
			  ,[DeceasedPDS]
			  ,[PDS_NHS_Number]
			  ,[PDS_Status]
			  ,[PDS_Reconciliation_Date] -- date
			  ,[MAIN_ADDRESS]
			  ,[MAIN_POSTCODE]
			  ,[PRIMARY_ADDRESS]
			  ,[PRIMARY_POSTCODE]
			  ,[CURRENT_ADDRESS]
			  ,[CURRENT_POSTCODE]
			  ,[SECONDARY_ADDRESS]
			  ,[SECONDARY_POSTCODE]
			  ,[Home_Phone]
			  ,[Mobile_Phone]
			  ,[Work_Phone]
			  ,[Email]
			  ,[Other_Phone]
			  ,[GP_Practice]
			  ,[CCG]
			  ,[CommissioningArea]
			  ,[London_CCG_ODS]
			  ,[CCG_ODS]
			  ,[ConsentedBy]
			  ,[ConsentedDate] -- date
			  ,[CONSENT]
			  ,[MC_DET]
			  ,[REQ_COPY]
			  ,[PlannedReviewer]
			  ,[PlannedReviewDate] -- date
			  ,[POADocLocation]
			  ,[PrognosisByRef]
			  ,[PrognosisClinicianName]
			  ,[PrognosisClinicianWorkbase]
			  ,[PrognosisClinicianWorkbaseODS]
			  ,[PA_FAMPRODDETAILS]
			  ,[PA_FAMPROD]
			  ,[PA_PRODDETAILS]
			  ,[PA_PROD]
			  ,[TimeFrame]
			  ,[ALT_PROGNOSIS]
			  ,[Surprise]
			  ,[DATE_PROGNOSIS] -- date
			  ,[ADRTDetails]
			  ,[ADRTExists]
			  ,[COMM_DIFF_DETAIL]
			  ,[C_AWAREDETAILS]
			  ,[C_AWARE]
			  ,[COMMDIFF]
			  ,[CEILTREAT]
			  ,[CT_DET]
			  ,[SIGNIFICANT_MEDICAL]
			  ,[P_AWAREDETAILS]
			  ,[P_AWARE]
			  ,[WHPERF]
			  ,[WHP_DATE] -- date
			  ,[Classified_Diagnosis]
			  ,[DiagnosisCode]
			  ,[REVIEW_DATE]
			  ,[ChildInvolv]
			  ,[ChildParentConsult]
			  ,[CPRBy]
			  ,[VALIDAD]
			  ,[POSITION]
			  ,[DNARDATE1] -- date
			  ,[CourtOrder]
			  ,[ORDER_YES]
			  ,[DNACPRFormUploaded]
			  ,[CARDIO_YN]
			  ,[CPRDECDATE]
			  ,[RESUS_FAMILY]
			  ,[RESUS_FAMDET]
			  ,[FamilyDiscussionTime]
			  ,[HasBeenAgreed]
			  ,[JudgeCourt]
			  ,[JudgeCourtLocation]
			  ,[JudgeCourtTime]
			  ,[NAMEMEM]
			  ,[RESUS_PATIENT]
			  ,[RESUS_PATIENTDET]
			  ,[PatientDiscussionTime]
			  ,[HAVECAP]
			  ,[APPOINTWA]
			  ,[CLINPROB]
			  ,[DNARNAME1]
			  ,[DNARNAME2]
			  ,[DNARNAME3]
			  ,[DNARDATE2]
			  ,[DNARDATE3]
			  ,[DNARDATE4]
			  ,[DS1500]
			  ,[EQUIP]
			  ,[EQUIP_DETAIL]
			  ,[FAM_SUPPORT]
			  ,[FAM_SUPPORT_Y]
			  ,[HOMECARE]
			  ,[HOMECARE_DET]
			  ,[CAREPLAN]
			  ,[CAREPLAN_DETAIL]
			  ,[Anticoags]
			  ,[Insulin]
			  ,[MedListLocation]
			  ,[OPIOID]
			  ,[MED_OTH]
			  ,[Steroids]
			  ,[CULTURAL]
			  ,[FAMILY_AWAR]
			  ,[WISHES]
			  ,[WISHES_YES]
			  ,[PERCARE_PLAN]
			  ,[PPC]
			  ,[PPDDiscuss]
			  ,[PlaceCareDet]
			  ,[PPD1]
			  ,[PPCDiscuss]
			  ,[PlaceDeath1Det]
			  ,[PPD2]
			  ,[PlaceDeath2Det]


		 FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]

		 )d
		   left join  [ETL_Local_PROD].[Reference].[STP]  b on b.[CCGLONGNAME] = d.[CCG]
		   left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]c on c.ActivityTeam = d.[OriginalApproverWorkbase]

	delete  from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc] where rn2 > 1
		--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc] where cmc_id =  100012587
		--SELECT * FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]where cmc_id =  100043091 order by OverAllOrder

		 	update r
		set CCG  = REPLACE(CCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc] r

 
		update r
		set CCG  = REPLACE(CCG, 'Cross Border: ', '')

		from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc]r
		where charindex('Cross Border: ',CCG)>0



		
---added may 2020 for the DQ11 stuff------------------------------------------------------------------------------------------------------------------
		  if OBJECT_ID ('Tempdb..#StaffDEptAct') is not null
			drop table #StaffDEptAct
		select CarePlan as Actor, s.*, d.[DeptKey]
			  ,[DeptName]
			  ,[OrganizationType]
			  ,[OrganizationTypeDescription]
			  ,[Organization]
			  ,[DeptSource] as [DeptSource]
			  ,[DeptEnterpriseID] as [DeptEnterpriseID]
			  ,[DeptPDRegistryID]
			  ,[DeptLocalCMCId]
			  ,[LocalCMCOrgType]
			  ,[LocalCMCOrgTypeDescription]
			  ,[DeptODSCode]
			  ,[DeptOpenDate]
			  ,[DeptCloseDate]

			  into #StaffDEptAct

		from ETL_PROD.dbo.CMC_DocumentActor da
		left join AT_Staff s on s.StaffRegistryId = da.IndRegistryID
		left join AT_PD_Dept d on d.DeptPDRegistryID = da.OrgRegistryID


		  if OBJECT_ID ('Tempdb..#IndToOrgAddress') is not null
			drop table #IndToOrgAddress
		SELECT 
		distinct 
		StaffEnterpriseId,
		DeptEnterpriseId,
		a.StreetLine, 
		a.Line2, 
		a.City, 
		a.County, 
		a.PostalCode,
		ISNULL(a.StreetLine,'') +
		  case when a.StreetLine is not null and rtrim(a.StreetLine) <> '' 
			   and a.Line2 is not null and rtrim(a.Line2) <> ''
			   then ', ' else '' end + 
		ISNULL(a.Line2,'') + case when a.City is not null and rtrim(a.City) <> '' then ', ' else '' end +
		ISNULL(a.City,'') + case when a.County is not null and rtrim(a.County) <> '' then ', ' else '' end +
		ISNULL(a.County,'') as CombinedAddress,
		-- add address location MS 5.2.17
		lo.EnterpriseID as AddressLocation

		into #IndToOrgAddress

		FROM [ETL_PROD].[dbo].[CMC_Location] lo join Ind2Org io on lo.OrganizationEID = io.deptenterpriseid and lo.IndividualEID = io.StaffEnterpriseID
		join ETL_PROD.dbo.CMC_Address a on lo.AddressEID = a.PDEnterpriseID
		-- Active ind2orgs only MS 21.2.17
		  where (StartDate is null or CAST(startdate as date) <= CAST(getdate() as date))
		  and (endDate is null or CAST(enddate as date) > CAST(getdate() as date))

		  		  if OBJECT_ID ('Tempdb..#PDDeptAddress') is not null
			drop table #PDDeptAddress
			  SELECT 
			  distinct 
			  DeptEnterpriseId,
				a.StreetLine, 
				a.Line2, 
				a.City, 
				a.County, 
				a.PostalCode,
				ISNULL(a.StreetLine,'') +
				  case when a.StreetLine is not null and rtrim(a.StreetLine) <> '' 
					   and a.Line2 is not null and rtrim(a.Line2) <> ''
					   then ', ' else '' end + 
				ISNULL(a.Line2,'') + case when a.City is not null and rtrim(a.City) <> '' then ', ' else '' end +
				ISNULL(a.City,'') + case when a.County is not null and rtrim(a.County) <> '' then ', ' else '' end +
				ISNULL(a.County,'') as CombinedAddress

				into #PDDeptAddress

				FROM [ETL_PROD].[dbo].[CMC_Location] lo with (nolock) join AT_PD_Dept d on lo.OrganizationEID = deptenterpriseid
				join ETL_PROD.dbo.CMC_Address a with (nolock) on lo.AddressEID = a.PDEnterpriseID
				left join etl_PROD.dbo.CMC_Location_DateSpan lods with (nolock) on lo.ItemId = lods.Location
				left join etl_PROD.dbo.CMC_DateSpan ds with (nolock) on lods.DateSpan = ds.ItemId
				-- ensure ind->org info is omitted from this view MS 6.4.16
				where lo.IndividualEID is null
				-- exclude deleted and expired/unstarted locations MS 25.8.16
				and lo.Deleted is null
				and (ds.StartDate is null or CAST(startdate as date) <= CAST(getdate() as DATE))
				and (ds.EndDate is null or  CAST(enddate as date) > CAST(getdate() as DATE))








			if OBJECT_ID ('Tempdb..#IndToOrgEmails') is not null
			drop table #IndToOrgEmails

		  SELECT 
		  distinct 
		  StaffEnterpriseId,
		  DeptEnterpriseId,
		  em.Address as Email,
		-- Add email location MS 5.2.17
		lo.EnterpriseID as EmailLocation,
		-- Add isPrimary flag MS 19.3.17
		em.isPrimary

		into #IndToOrgEmails

		  FROM [ETL_PROD].[dbo].[CMC_Location] lo join Ind2Org io on lo.OrganizationEID = io.deptenterpriseid and lo.IndividualEID = io.StaffEnterpriseID
		-- change CMC_Location_Contacts/CMC_ContactInfo_Emails to CMC_Location_Emails  
		  join ETL_PROD.dbo.CMC_Location_Emails cp on cp.Location = Lo.ItemId
		  join ETL_PROD.dbo.CMC_Email em on cp.Email = em.ItemId
		-- Active ind2orgs only MS 21.2.17
		  where (StartDate is null or CAST(startdate as date) <= CAST(getdate() as date))
		  and (endDate is null or CAST(enddate as date) > CAST(getdate() as date))



		--if OBJECT_ID ('Tempdb..#PDDeptEmails') is not null
		--	drop table #PDDeptEmails
		--	SELECT 
		--	distinct 
		--	DeptEnterpriseId,
		--	em.Address as Email

		--	into #PDDeptEmails

		--	  FROM [ETL_PROD].[dbo].[CMC_Location] lo join AT_PD_Dept d on lo.OrganizationEID = deptenterpriseid
		--	-- change CMC_Location_Contacts/CMC_ContactInfo_Emails to CMC_Location_Emails
		--	  join ETL_PROD.dbo.CMC_Location_Emails cp on cp.Location = Lo.ItemId
		--	  join ETL_PROD.dbo.CMC_Email em on cp.Email = em.ItemId
		--	left join ETL_PROD.dbo.CMC_Location_DateSpan lods on lo.ItemId = lods.Location
		--	left join ETL_PROD.dbo.CMC_DateSpan ds on lods.DateSpan = ds.ItemId
		--	-- ensure ind->org info is omitted from this view MS 6.4.16
		--	where lo.IndividualEID is null
		--	-- exclude deleted and expired/unstarted locations MS 25.8.16
		--	and lo.Deleted is null
		--	-- exclude FLAGGING emails MS 17.2.17
		--	and em.TypeCodedValue <> 'FLAGGING'
		--	and (ds.StartDate is null or CAST(startdate as date) <= CAST(getdate() as DATE))
		--	and (ds.EndDate is null or  CAST(enddate as date) > CAST(getdate() as DATE))



			if OBJECT_ID ('Tempdb..#IndToOrgPhones') is not null
			drop table #IndToOrgPhones
			SELECT 
			distinct 
			Staffenterpriseid,
			DeptEnterpriseId, 
			isnull(ph.FullNumber,ph.TelephoneNumber) as Telephone,
			-- Add phone location MS 5.2.17
			lo.EnterpriseID as PhoneLocation

			into #IndToOrgPhones

			  FROM [ETL_PROD].[dbo].[CMC_Location] lo join Ind2Org io on lo.OrganizationEID = io.deptenterpriseid and lo.IndividualEID = io.StaffEnterpriseID
			  join etl_PROD.dbo.cmc_location_phones loc on lo.itemid = loc.location
			  join ETL_PROD.dbo.CMC_Telecom ph on loc.Phone = ph.ItemId
			-- Active ind2orgs only MS 21.2.17
			  where (StartDate is null or CAST(startdate as date) <= CAST(getdate() as date))
			  and (endDate is null or CAST(enddate as date) > CAST(getdate() as date))

			if OBJECT_ID ('Tempdb..#PDDeptPhones') is not null
			drop table #PDDeptPhones
			SELECT 
			distinct 
			DeptEnterpriseId, 
			isnull(ph.FullNumber,ph.TelephoneNumber) as Telephone, 
			tt.Description as TelephoneType

			into #PDDeptPhones

			  FROM [ETL_PROD].[dbo].[CMC_Location] lo with (nolock) join AT_PD_Dept d on lo.OrganizationEID = deptenterpriseid
			-- change CMC_Location_Contacts/CMC_ContactInfo_Phones to CMC_Location_Phones  
			  join ETL_PROD.dbo.CMC_Location_Phones cp with (nolock) on cp.Location = Lo.ItemId
			  join ETL_PROD.dbo.CMC_Telecom ph with (nolock) on cp.Phone = ph.ItemId
			left join ETL_PROD.dbo.CMC_Location_DateSpan lods with (nolock) on lo.ItemId = lods.Location
			left join ETL_PROD.dbo.CMC_DateSpan ds with (nolock) on lods.DateSpan = ds.ItemId
			left join etl_prod.dbo.Coded_TelecomType tt with (nolock) on tt.Code = ph.TypeCodedValue
			-- ensure ind->org info is omitted from this view MS 6.4.16
			where lo.IndividualEID is null
			-- exclude deleted and expired/unstarted locations MS 25.8.16
			and lo.Deleted is null
			and (ds.StartDate is null or CAST(ds.startdate as date) <= CAST(getdate() as DATE))
			and (ds.EndDate is null or  CAST(ds.enddate as date) > CAST(getdate() as DATE))
	


	


			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_PatientLatestApproverContactInfo]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_PatientLatestApproverContactInfo]

			

select CMC_ID,
ContactTypeDescription,
ContactValue 

into [ETL_Local_PROD].[dbo].[AT_PatientLatestApproverContactInfo]

from
		(
		select 
		*,
		ROW_NUMBER() over
		(partition by CMC_ID,contactvalue order by case when contacttypedescription like 'Organization%' then 1 else 0 end) as rn 
		
		from

		(
			select CMC_ID,'Address and Postcode' as contacttypedescription,ltrim(rtrim(isnull(a.CombinedAddress+' ','') + ISNULL(a.PostalCode,''))) as contactvalue from [ETL_Local_PROD].[dbo].[AT_Patient_General] hs
			join #StaffDEptAct sd on hs.LatestApprovedBy = sd.Actor
			join #IndToOrgAddress a on a.StaffEnterpriseId = sd.StaffEnterpriseID
			and a.DeptEnterpriseId = sd.deptEnterpriseId
			union all
			select CMC_ID,'EMail',ltrim(rtrim(e.Email)) from [ETL_Local_PROD].[dbo].[AT_Patient_General] hs
			join #StaffDEptAct sd on hs.LatestApprovedBy = sd.Actor
			join #IndToOrgEmails e on e.StaffEnterpriseId = sd.StaffEnterpriseID
			and e.DeptEnterpriseId = sd.deptEnterpriseId
			union all
			select CMC_ID,case when LEFT(p.Telephone,2) = '07' then 'Mobile Phone' else 'Work Phone' end,p.Telephone from [ETL_Local_PROD].[dbo].[AT_Patient_General] hs
			join #StaffDEptAct sd on hs.LatestApprovedBy = sd.Actor
			join #IndToOrgPhones p on p.StaffEnterpriseId = sd.StaffEnterpriseID
			and p.DeptEnterpriseId = sd.deptEnterpriseId
			union all
			select CMC_ID,'Organization EMail',ltrim(rtrim(e.Email)) from [ETL_Local_PROD].[dbo].[AT_Patient_General] hs
			join #StaffDEptAct sd on hs.LatestApprovedBy = sd.Actor
			join #PDDeptEmails e on e.DeptEnterpriseId = sd.DeptEnterpriseID
			union all
			select CMC_ID,case when LEFT(p.Telephone,2) = '07' then 'Organization Mobile Phone' else 'Organization Work Phone' end,p.Telephone from [ETL_Local_PROD].[dbo].[AT_Patient_General] hs
			join #StaffDEptAct sd on hs.LatestApprovedBy = sd.Actor
			join #PDDeptPhones p on p.DeptEnterpriseId = sd.DeptEnterpriseID
			union all
			select CMC_ID,'Organization Address and Postcode',ltrim(rtrim(isnull(p.CombinedAddress+' ','') + ISNULL(p.PostalCode,''))) from [ETL_Local_PROD].[dbo].[AT_Patient_General] hs
			join #StaffDEptAct sd on hs.LatestApprovedBy = sd.Actor
			join #PDDeptAddress p on p.DeptEnterpriseId = sd.DeptEnterpriseID
			where ltrim(rtrim(isnull(p.CombinedAddress+' ','') + ISNULL(p.PostalCode,''))) <> ''
			) sel1
		
		) sel2
		where rn = 1
		and ContactValue is not null
		and rtrim(ContactValue) <> ''

-----------------------------------------------------------------------------------------------------------------------------------------------------

	if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_PatientHSC_ContactInfo]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_PatientHSC_ContactInfo]


	select 
	Provider,
	ContactTypeDescription,
	ContactValue 

	into [ETL_Local_PROD].[dbo].[AT_PatientHSC_ContactInfo]

	from
	(select *,
	ROW_NUMBER() over
	(partition by provider,contactvalue order by case when contacttypedescription like 'Organization%' then 1 else 0 end) as rn from
	(
	-- First the non-PD information
	select hs.Provider,ct.Description as ContactTypeDescription,replace(ci.ContactValue,'See right','See comments') as ContactValue from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts] hs
	join ETL_PROD.dbo.CMC_IndividualProvider_Telecoms ipt with (nolock) on hs.Provider = ipt.IndividualProvider
	join ETL_PROD.dbo.CMC_ContactInfo ci with (nolock) on ipt.Telecom = ci.ItemId
	join ETL_PROD.dbo.Coded_ContactType ct with (nolock) on ci.ContactType = ct.Code
	-- Exclude LastClinicalApprover rows introduced in 15.1 release 
	where ci.ItemId not like 'CarePlan|%|%|%|%|%|LCA|%|%'
	AND ci.ItemId not like 'PS|%|%|%|%|%|LCA|%|%'
	-- Pick up email & postal addresses and 'phone numbers from new IndOrg email/'phone/address setup MS 3.11.16
	union all
	select hs.Provider,'Address and Postcode',ltrim(rtrim(isnull(a.CombinedAddress+' ','') + ISNULL(a.PostalCode,''))) from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts] hs
	join AT_StaffDeptContext sd on hs.Provider = sd.ProviderOrgContext
	join #IndToOrgAddress a on a.StaffEnterpriseId = sd.StaffEnterpriseID and a.DeptEnterpriseId = sd.deptEnterpriseId
	union all
	select hs.Provider,'EMail',ltrim(rtrim(e.Email)) from PatientHSCContacts hs
	join AT_StaffDeptContext sd on hs.Provider = sd.ProviderOrgContext
	join #IndToOrgEmails e on e.StaffEnterpriseId = sd.StaffEnterpriseID and e.DeptEnterpriseId = sd.deptEnterpriseId
	union all
	-- Change to Work Phone label to match PD providers MS 19.2.16
	select hs.Provider,case when LEFT(p.Telephone,2) = '07' then 'Mobile Phone' else 'Work Phone' end,p.Telephone from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts]  hs
	join StaffDeptContext sd on hs.Provider = sd.ProviderOrgContext
	join #IndToOrgPhones p on p.StaffEnterpriseId = sd.StaffEnterpriseID and p.DeptEnterpriseId = sd.deptEnterpriseId
	-- add organization information MS 20.2.16
	union all
	select hs.Provider,'Organization EMail',ltrim(rtrim(e.Email)) from PatientHSCContacts hs
	join AT_StaffDeptContext sd on hs.Provider = sd.ProviderOrgContext
	join #PDDeptEmails e on e.DeptEnterpriseId = sd.DeptEnterpriseID
	union all
	select hs.Provider,case when LEFT(p.Telephone,2) = '07' then 'Organization Mobile Phone' else 'Organization Work Phone' end,p.Telephone from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts]  hs
	join StaffDeptContext sd on hs.Provider = sd.ProviderOrgContext
	join #PDDeptPhones p on p.DeptEnterpriseId = sd.DeptEnterpriseID
	union all
	select hs.Provider,'Organization Address and Postcode',ltrim(rtrim(isnull(p.CombinedAddress+' ','') + ISNULL(p.PostalCode,''))) from [ETL_Local_PROD].[dbo].[AT_PatientHSCContacts]  hs
	join AT_StaffDeptContext sd on hs.Provider = sd.ProviderOrgContext
	join #PDDeptAddress p on p.DeptEnterpriseId = sd.DeptEnterpriseID
	where ltrim(rtrim(isnull(p.CombinedAddress+' ','') + ISNULL(p.PostalCode,''))) <> ''
	) sel1
	where ContactValue is not null and rtrim(ContactValue) <> ''
	) sel2
	where rn = 1





 END