/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [GenusID]
      ,[CMC_ID]
      ,[FromPatientSummary]
      ,[ToPatientSummary]
      ,[PatAuditID]
      ,[ActionTime]
      ,[ActionType]
      ,[StaffRegistryId]
      ,[DeptPDRegistryId]
      ,[Role]
      ,[LoginReference]
      ,[OverAllOrder]
      ,[ActionTypeOrder]
  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]

  select distinct [ActionType]FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]


 
 	 if OBJECT_ID ('Tempdb..#AuditPatient') is not null
	drop table #AuditPatient
  select 
 
  a.* 
  into #AuditPatient
  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a 
  where CMC_ID  not in (select cmc_iD from [ETL_Local_PROD].[dbo].[AuditPatient_New] where [ActionType] = 'publish')
 and actionType = 'create'


 select 
 CMC_ID,
 (select top 1 convert(date,ActionTime) from #AuditPatient z where z.cmc_id = a.CMC_ID order by ActionTime desc ) as CreationDate

 from #AuditPatient a 

 select count(*) from #AuditPatient

     select top 50 *  FROM  [ETL_Local_PROD].[dbo].[AT_Staff] where staffRegistryid = 574948
    select *  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]where cmc_ID = 100062645
  select *  from ETL_PROD.dbo.cmc_organization


    select 
  a.* ,
  b.*
  
  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a
  inner join  [ETL_Local_PROD].[dbo].[AT_Staff]b on b.StaffRegistryID = a.StaffRegistryID
  
  
  where cmc_ID = 100056239
order by OverAllOrder






  select 
  a.* ,
  b.*
  ,
  e.Name
  --,
  --c.*
  
  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a
  inner join  [ETL_Local_PROD].[dbo].[AT_Staff]b on b.StaffRegistryID = a.StaffRegistryID
  inner join [ETL_PROD].[dbo].[CMC_IndToOrg]c on c.EnterpriseID = b.StaffEnterpriseID
  inner join [ETL_PROD].[dbo].[CMC_Organization]d on d.EnterpriseID = c.OrganizationEID
  inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e on e.ItemID = d.name
  where cmc_ID = 100062645
  --and d.EnterpriseID is not null
order by OverAllOrder
 

   select top 5* FROM[ETL_PROD].[dbo].[CMC_Organization]
   select top 5* FROM [ETL_PROD].[dbo].[CMC_OrganizationName]
  select top 5* FROM [ETL_PROD].[dbo].[CMC_IndToOrg] where  enterpriseID like '%100157473%'
    select top 5* FROM[ETL_PROD].[dbo].[CMC_Organization]
 select top 5* from [ETL_Local_PROD].[dbo].[AT_PDToOrg]
select top 5* from  [ETL_Local_PROD].[dbo].[AT_Staff]
  select top 5* from [ETL_Local_PROD].[dbo].[AT_Dept]
 select top 5* FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]
  --select top 5* from[ETL_Local_PROD].[dbo].[AT_Dept_Heirarchy]

  select 
  
 a.EnterpriseID,
 b.Name,
 a.CloseDate
  
  
  FROM[ETL_PROD].[dbo].[CMC_Organization]a
  inner join  [ETL_PROD].[dbo].[CMC_OrganizationName]b on b.ItemID = a.name
  where a.enterpriseID like '%100157473%'


  select count(*) from [ETL_PROD].[dbo].[CMC_Organization] where EnterpriseID is not null