--/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT TOP (1000) [ItemId]
--      ,[AuditType]
--      ,[ActionTime]
--      ,[LocalTime]
--      ,[Actor]
--      ,[Comment]
--      ,[ModelName]
--      ,[RecordName]
--      ,[GenusId]
--      ,[FromVersionId]
--      ,[ToVersionId]
--      ,[SourceURI]
--      ,[IndRegistryID]
--      ,[OrgRegistryID]
--      ,[Roles]
--      ,[Domain]
--      ,[AppID]
--      ,[REGISTRYRoles]
--      ,[MRNs]
--      ,[LoginRowId]
--      ,[ActionType]
--  FROM [ETL_PROD].[dbo].[CMC_AuditData]




	IF OBJECT_ID('[ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test]') IS NOT NULL 
	dROP TABLE [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test]

		  select 
		  a.ITemID as Audit_ItemID,
		  CSPSessionID,
		  cast(REPLACE(a.GenusId,'PatientSummary||','')as Nvarchar(75))CMC_ID,
		  a.AuditType,
		  a.actionTime,
		  a.ActionType,
		  case a.ActionType when 'custom-consent_removed' then 'delete' else REPLACE(a.ActionType,'custom-','') end as DerivedActionType,
		 actor,
		 Comment,
		 Modelname,
		 RecordName,
		 IndRegistryID,
		 OrgRegistryID,
		 Roles,
		 a.Domain,
		 AppID,
		 LoginRowid,
		 Cast(null as varchar(max))  as StaffRegistryId,
		 Cast(null as varchar(max))  as DeptPDRegistryId,
	     --(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=1) as StaffRegistryId,
	     --(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=3) as DeptPDRegistryId,
		  --b.StaffEnterpriseID,
		  null as StaffEnterpriseID,
		  --b.StaffForename,
		  --b.StaffSurname,
		  Cast(null as varchar(max)) as StaffForename,
		  Cast(null as varchar(max)) as StaffSurname,
		   --ltrim(coalesce(b.StaffTitle,'')+' '+ coalesce(b.StaffForename,'')+' '+ coalesce(b.StaffSurname,'')) as StaffFullName,
		   Cast(null as varchar(max)) as StaffFullName,
		  --StaffUserId,
		  Cast(null as varchar(max)) as StaffUserId,
		  Cast(null as varchar(max)) as StaffODSCode,
		  Cast(null as varchar(max)) as StaffActiveDescription,
		  Cast(null as varchar(max)) as StaffProviderTypeDescription,
		  Cast(null as varchar(255)) as PDRegistryID,
		 --d.PDRegistryID,
		 Cast(null as varchar(255)) as ItemId,
		 --e.ItemId,
		 Cast(null as varchar(max)) as Team, 
		  --e.Name as Team,
		  Cast(null as varchar(max)) as ODSCode,
		  --d.ODSCode,
		  null as EnterpriseID,
		  --d.EnterpriseID,
		  --isnull(CCG,'(Care plan not currently published)') as PatientCCG,
		  cast(null as varchar(600)) as PatientCCG,
		  --d.name  as OrgNameName
		  Cast(null as nvarchar(255)) as [Parent Org],
		  --f.[Parent Org],
		  Cast(null as varchar(255)) as TeamType,
		  --f.TeamType,
		 case a.Domain when '%HS_EMIS' then 'EMIS' when '%HS_PC' then 'Portal' when '%HS_Smartcard' then 'Smartcard' else 'CMC' end as App
		  --,
		  --f.Parent as ParentOrg

  
		  into [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test]


		  FROM [ETL_PROD].[dbo].[CMC_AuditData]a
		  left join [ETL_PROD].[dbo].[CMC_AuditLogin]aa on aa.ItemId = a.LoginRowId
		  --inner join  [ETL_Local_PROD].[dbo].[AT_Staff]b on b.StaffRegistryID = (select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=1) 
		  --inner join [ETL_PROD].[dbo].[CMC_Organization]d on d.PDRegistryID  = a.DeptPDRegistryId
		  --inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e on e.ItemID = d.name
		  --left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f on f.ActivityTeam = e.Name
		  --left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g on g.CMC_ID = a.CMC_ID
  --where e.Name in ('The Argyle Nursing Homes Service')

		  Where Convert(date,actionTime) >= '2019-04-01'



		  	 if OBJECT_ID ('Tempdb..#AuditPatient') is not null
				drop table #AuditPatient

				select
				Audit_ItemID,  
				 splitdata,
				 (select ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|') as rn
				 
				into #AuditPatient
				from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test]r


		  Update r
				set StaffRegistryId = (select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=1)

		  from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test]r




		  	  	 if OBJECT_ID ('Tempdb..#AuditPatient') is not null
				drop table #AuditPatient
		select  
				Audit_ItemID, 
				Actor,  
		 
				--LEFT(Actor, CHARINDEX('%', Actor) - 1) as RemoveRest,
				case when (charindex('CMC_SuperUser',actor) = 0 AND charindex('HS_PC',actor) = 0 AND charindex('Proxy',actor) = 0) then SUBSTRING(Actor,0,CHARINDEX('|',Actor,0)) 
				else null end as StaffRegistryId
				,
				case when (charindex('CMC_SuperUser',actor) = 0 AND charindex('HS_PC',actor) = 0 AND charindex('Proxy',actor) = 0)  then right(SUBSTRING(Actor,CHARINDEX('||',Actor)+1, CHARINDEX('||',Actor,CHARINDEX('||',Actor)+1) -CHARINDEX('||',Actor)-1), 
				len(SUBSTRING(Actor,CHARINDEX('||',Actor)+1, CHARINDEX('||',Actor,CHARINDEX('||',Actor)+1) -CHARINDEX('||',Actor)-1))-1) 
				else null end as DeptPDRegistryId

				--into #AuditPatient

				from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test]
			 where Audit_ItemID in( 'Doc13336586','Doc13336587')
			   --where charindex('%HSCC_CMC_SuperUser',actor) = 0
		  
		 select *	      


		  from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test] 
		  where Audit_ItemID in( 'Doc13336587','Doc13336588')

		select * from  (select 
						splitdata 
						from (
								select 
								splitdata,ROW_NUMBER() over (order by offset) as rn 
								from [ETL_Local_PROD].[dbo].[SplitString]('603412||886644||%HSCC_CMC_CarePlanApprover||%HS_CC||||876500||35493||||','|')
								) sel1 
								where rn=1
								
								)d

		select * from  (select 
						splitdata 
						from (
								select 
								splitdata,ROW_NUMBER() over (order by offset) as rn 
								from [ETL_Local_PROD].[dbo].[SplitString]('603412||886644||%HSCC_CMC_CarePlanApprover||%HS_CC||||876500||35493||||','|')
								) sel1 
								where rn=3
								
								)d

(select splitdata from (select splitdata,ROW_NUMBER() over (order by offset) as rn from [ETL_Local_PROD].[dbo].[SplitString](Actor,'|')) sel1 where rn=1)



		  select top 5* from [ETL_PROD].[dbo].[CMC_AuditData] where ActionTime >= '2019-12-01'
		  select top 5* from [ETL_PROD].[dbo].[CMC_ActivityLog] where LoginTime  >= '2019-12-01'
		  select top 5* from [ETL_PROD].[dbo].[CMC_AuditLogin] 
		  
		  ||||||%HS_PC||||910022||||||
		 

		  select top 5* from [ETL_Local_PROD].[dbo].[AuditPatient_New] 

		   
		  select top 500* from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test] where charindex('%HS_PC',actor)>0
		  select distinct comment from [ETL_PROD].[dbo].[CMC_AuditData]

		  ||||%HSCC_CMC_SuperUser||||||||||Subscription||198832
		  ||||%HSCC_CMC_SuperUser||||||||||Subscription||198832

select top 500  actor,
substring(
       actor
      ,1+len(actor)-charindex('||||',stuff(reverse(actor),1,1,''))
      ,charindex('||||||',stuff(reverse(actor),1,1,''))-1) 
from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test] 
where charindex('%HS_PC',actor)>0


create table t (str varchar(64));
insert into t values
 ('1*2*3*4*45*')
 ,('1*2*3*4*500*')
 ,('1*2*3*4*5*6*300*');
select 
    str
  , last_value = substring(
       str
      ,1+len(str)-charindex('*',stuff(reverse(str),1,1,''))
      ,charindex('*',stuff(reverse(str),1,1,''))-1)
from t;