/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [GenusID]
      ,[CMC_ID]
      ,[FromPatientSummary]
      ,[ToPatientSummary]
      ,[PatAuditID]
      ,[ActionTime]
      ,[ActionType]
      ,[StaffRegistryId]
      ,[DeptPDRegistryId]
      ,[Role]
      ,[LoginReference]
      ,[OverAllOrder]
      ,[ActionTypeOrder]
  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]
  where PatAuditID = 'Doc13482743'