/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT *  
--  FROM [ETL_PROD].[dbo].[CMC_Alert]
--  where [AlertType] = 'HIU'




select
distinct
d.CMC_ID,
FromTime,
Comments,
AlertDescription

from
 
  (
  SELECT
no.PatientNumber as CMC_ID,
ps.Patient,
a.Alert,AlertType,FromTime,ToTime,Comments,
ROW_NUMBER() over (partition by patientsummary order by pa.Alert) as AlertNo,
ac.Description as AlertDescription,
at.Description as AlertTypeDescription
from ETL_PROD.dbo.CMC_PatientSummary ps
join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
join ETL_PROD.dbo.CMC_PatientSummary_Alerts pa on ps.ItemId = pa.PatientSummary
join ETL_PROD.dbo.CMC_Alert a on pa.Alert = a.ItemId
join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
left join etl_PROD.dbo.Coded_AlertCode ac on a.alert = ac.code
left join etl_PROD.dbo.Coded_AlertType at on a.alerttype = at.code


 where [AlertType] = 'HIU'
 and CHARINDEX('test',Comments)=0
 )d



 