/****** Script for SelectTopNRows command from SSMS  ******/


		DECLARE 
		@EndDate date,  
		@StartDate Date,
		@MonthEnd date, 
		@MonthStart date,
		@TotalMonths int,
		@MonthCounter int = 0,
		@SnapDateStart Date,
		@SnapDateEnd Date


	set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	set @EndDate =  DATEADD(DAY, -(DAY(getdate())), getdate())
	
	set @MonthStart =  dateadd(d,-(day(dateadd(m,-1,getdate()-2))),dateadd(m,-1,getdate()-1)) 
	set @MonthEnd = EOMONTH(@MonthStart)

 

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT 
	DATEPART(Day,@StartDate)as RowNumb,
	CASE WHEN DATEPART(Day,@StartDate) = 1 THEN @StartDate 
				ELSE DATEADD(Month,DATEDIFF(Month,0,@StartDate)+1,0) END AS myDate
	            
	UNION ALL
	SELECT
	RowNumb+1 as RowNumb,--this is a field to be used with the for loop below
	 DATEADD(Month,1,myDate)

	FROM cte
	WHERE DATEADD(Month,1,myDate) <=  @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT RowNumb,myDate
	into #Temp_CTE_Date		
	FROM cte
	OPTION (MAXRECURSION 0)

	--print @MonthStart 
	--Print @MonthEnd 
	--print @StartDate
	--Print @EndDate

	--select * from #Temp_CTE_Date
	--select top 5* FROM [ETL_Local_PROD].[dbo].[Cache-PatientDetailSpan]
	 --select top 5*  FROM [ETL_Local_PROD].[dbo].[Cache-PatientDetailSpan]
	  --select  top 100 * from Reporting.TeamAudit where [Access Type] like 'revise%' 
	 --select distinct TeamType from Reporting.TeamAudit 

	IF OBJECT_ID('tempdb..#TempViews') IS NOT NULL 
	dROP TABLE #TempViews
 
	select  a.cmc_id, 
	 convert(date,DATEADD(month, DATEDIFF(month, 0, convert(date,ActivityDate)), 0)) as ActivityMonth,
	 convert(date,ActivityDate) as ActivityDate,
	 convert(date,DoD_PDS) as DateOfDeath_PDS,
 
	ActivityEnterpriseId,
	a.originalWorkbaseEID,
    a.CCG
      ,Surgery as GPPractice
	  ,case 
			when [Access Type] in (
									'clinical_event_updated',
									'create care plan version',
									'create demographics',
									'create demographics (later re-entered on new system)',
									'death_date_added',
									'death_date_removed',
									'deceased_updated',
									'generate_dna_cpr',
									'pds_update',
									'proxy_added',
									'proxy_removed',
									'request_actioned',
									'request_completed',
									'request_removed_death',
									'revise',
									'subscription_modified',
									'update demographics',
									'update demographics (later re-entered on new system)'
									)
									then 'Edit'

		when [Access Type] like 'view%' then 'View'
			Else null
	End as ActivityType
	,coalesce(case 
		When TeamType in ('Out Of Hour GP Provider','111 Provider','Ambulance Trust','A&E','Urgent Care Centre') Then 'Urgent Care'
		when TeamType = 'General Practice' then 'GP'
		when TeamType in ('Community Trust','Mental Health Trust') then 'Community Services'
		when TeamType ='Acute Trust' then 'Acute/Tertiary Services'
		when TeamType is null and charindex('NHS trust',c.Area ) > 0 then 'Acute/Tertiary Services'
		when TeamType is null and charindex('CCG',c.Area ) > 0 and  charindex('NHS trust',d.OrganizationTypeDescription ) > 0 then 'Acute/Tertiary Services'
		when TeamType is null and charindex('CCG',c.Area ) > 0 and  charindex('GP Practices',d.OrganizationTypeDescription )> 0 then 'GP'
			else TeamType
	End,Area) as Team
	--,
	--c.area
	into #TempViews
	from 
	Reporting.TeamAudit a
	join (select *, 
	-- force uniqueness MS 29.5.16
	ROW_NUMBER() over (partition by activitydepartmentid order by team) as rn from
	Reporting.DisambiguatedActivityTeams) at
	on a.ActivityEnterpriseId = at.ActivityDepartmentID
	and rn=1
	join PatientDetailSpan pd on a.cmc_id = pd.cmc_id
	left join OrgArea c ON c.DeptEnterpriseId = a.OriginalWorkbaseEId
	left join(	SELECT  
		distinct
      [DeptName]
      ,[OrganizationTypeDescription]
      ,[DeptEnterpriseID] 
	  FROM [ETL_Local_PROD].[dbo].[AT_Dept] 
	  )d on d.DeptEnterpriseID = a.OriginalWorkbaseEId
 



	--select top 5 * from Reporting.TeamAudit 
	--select  * from #TempViews

	 select distinct Team,Area,DeptName,OrganizationTypeDescription child, parent from #TempViews where GPPractice = 'THE NORTHWICK SURGERY'

	 select distinct  Area from #TempViews Where Team is null
	select * FROM  #TempViews  where GPPractice = 'THE NORTHWICK SURGERY'
	select * FROM [ETL_Local_PROD].[dbo].[AT_Dept]  where [DeptName] = 'THE NORTHWICK SURGERY'
	

  
