/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ItemId]
,LEFT([ItemId], charindex('1', [ItemId]) - 1)  as ItemCSub
,SUBSTRING([ItemId], CHARINDEX('1', [ItemId]) + 1, LEN([ItemId]))
,CAST(SUBSTRING(ItemId,4,Len(ItemId)) as numeric) as ItemNo
      ,[AuditType]
      ,[ActionTime]
      ,[LocalTime]
      ,[Actor]
      ,[Comment]
      ,[ModelName]
      ,[RecordName]
      ,[GenusId]
      ,[FromVersionId]
      ,[ToVersionId]
      ,[SourceURI]
      ,[IndRegistryID]
      ,[OrgRegistryID]
      ,[Roles]
      ,[Domain]
      ,[AppID]
      ,[REGISTRYRoles]
      ,[MRNs]
      ,[LoginRowId]
      ,[ActionType]
  FROM [ETL_PROD].[dbo].[CMC_AuditData]

  --select top 500 *   FROM [ETL_PROD].[dbo].[CMC_AuditData]