USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_Loging_and_Activity_Data]    Script Date: 21/04/2020 13:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[AT_Loging_and_Activity_Data] 
-- Amended for PD Upgrade
AS
BEGIN



	
	declare @StartDate Date
	set @StartDate = dateadd(year,-1,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	--print @StartDate
		IF OBJECT_ID('tempdb..#tempsTAFF') IS NOT NULL 
					 dROP TABLE #tempsTAFF

	SELECT
	I.PDRegistryID,
	i.EnterpriseID as StaffEnterpriseID,
  
 	  n.GivenName +' '+ n.FamilyName as StaffFullName,
		  cc.UserID as StaffUserId,
		  i.ODSCode as StaffODSCode,
		 tu.Description as  StaffActiveDescription,
		  tt.Description as StaffProviderTypeDescription

		  INTO #tempsTAFF

	 FROM ETL_PROD.dbo.CMC_Individual i 
			left join ETL_PROD.dbo.CMC_Name n on i.Name = n.ItemId
			left join ETL_PROD.dbo.CMC_UserIdentifier u on i.PDRegistryID = u.Extension
			left join ETL_PROD.dbo.CMC_UserClinician cc on u.UserClinician = cc.itemid
			left join ETL_PROD.dbo.Coded_IndStatus tu on i.StatusCode = tu.Code
			left join (select *,ROW_NUMBER() over (PARTITION by individual order by individual) as rn from ETL_PROD.dbo.CMC_Individual_ProviderTypes) pt on i.ItemId = pt.Individual and pt.rn=1
			left join ETL_PROD.dbo.Coded_IndType tt on pt.ProviderType = tt.Code



			
 	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Login_Details]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Login_Details]

		SELECT  
		a.[ItemId]
      ,[SessionID]
      ,[Active]
      ,[UserRegistryID]
      ,[OrganizationRegistryID]
	  ,h.StaffProviderTypeDescription
	  ,h.StaffActiveDescription
      ,[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
	  ,f.TeamType
	  ,f.[Parent Org]
	  ,ROW_NUMBER() over (order by sessionid, a.itemid ) as rn
	  ,ROW_NUMBER() OVER(PARTITION BY [UserRegistryID] ORDER by [LoginRowId],[LogoutReason] ASC) AS RN2
	  ,ROW_NUMBER() OVER(PARTITION BY sessionid ORDER by a.itemid  ASC) AS RN3
	  ,null as RowBeforlaterFlag  
      ,[LoginTime]
      ,[LogoutTime]
	  ,Cast(null as datetime) as FinalLoginTime
	  ,Cast(null as datetime) as FinalLogoutTime
      ,[LogoutReason]
      ,[SessionDuration]
	  ,([SessionDuration]/60) as SessionDurationInMinutes
	  ,null as NewSessionDuratiom
	  ,null as NewSessionDurationMinutes
      ,[UserAgent]
	  ,case
		when [IsMobile] = 1 and  charindex('iPhone',[UserAgent])> 0 then 'iPhone'
		when [IsMobile] = 1 and  charindex('iPad',[UserAgent])> 0 then 'iPad'
		When [IsMobile] = 1 and  (CHARINDEX('Android',[UserAgent])>0 and CHARINDEX('Mobile Safari',[UserAgent])>0) then 'Android mobile'
		When [IsMobile] = 1 and  (CHARINDEX('Android',[UserAgent])>0 and CHARINDEX('Mobile',[UserAgent])= 0) then 'Android Tablet'
		When [IsMobile] = 0 and  (CHARINDEX('Linux',[UserAgent])>0 and CHARINDEX('Mobile',[UserAgent])= 0) then 'PC'
		when [IsMobile] = 0 and  charindex('Windows NT',[UserAgent])> 0 then 'PC'
		when [IsMobile] = 0 and  charindex('Macintosh; Intel Mac OS X',[UserAgent])> 0 then 'iPad'
		when [IsMobile] = 0 and (charindex('mobile',[UserAgent])>0 and charindex('Windows NT',[UserAgent])> 0)  then 'Tablet PC'
		when [IsMobile] = 0 and (charindex('mobile',[UserAgent])>0 and charindex('Macintosh; Intel Mac OS X',[UserAgent])> 0)  then 'iPad'
		else [UserAgent]
		End as DerivedDevicetype
      ,[Browser]
      ,[BrowserVersion]
      ,[BrowserMode]
      ,a.[LoginRowId]
      ,[IsMobile]
	  ,b.Domain
	  ,b.Success
	  ,b.SoftFailure
	  ,coalesce(i.ccg, g.CCG) as OrganisationCCG
	  ,coalesce(i.stp,g.STP) as OrgSTP
      ,coalesce(i.[NHS England REgion], g.[NHS Region]) as OrgNHSRegion

	  into [ETL_Local_PROD].[dbo].[AT_Login_Details]
	  --,b.*
  FROM [ETL_PROD].[dbo].[CMC_ActivityLog]a with (nolock)
  left join [ETL_PROD].[dbo].[CMC_AuditLogin]b on b.CspSessionId = a.SessionID
  	  inner join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID  = a.OrganizationRegistryID
		  inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
		  left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on f.ActivityTeam = a.[OrganizationName]
		  left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]g on g.[Organisation Code] = ODSCode
		  left join #tempsTAFF h on h.PDRegistryID = a.UserRegistryID
		  left join [ETL_Local_PROD].[ODSData].[searchods]hh on hh.ODS = ODSCode
		  left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = hh.Postcode
 
  where 

  convert(date,loginTime) >= dateadd(year,-1,@StartDate)

  order by sessionid,a.ItemId



   update r
		set r.OrganisationCCG = i.CCG,
			r.OrgNHSRegion= i.[NHS England REgion],
			r.OrgSTP = i.STP
		
from  [ETL_Local_PROD].[dbo].[AT_Login_Details] r

  		left join [ETL_Local_PROD].[ODSData].[searchods]h on h.[Team or GP] = ltrim(rtrim(r.[Parent Org]))
		left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = h.Postcode


where OrganisationCCG is Null



   update r
		set r.OrganisationCCG = i.CCG,
			r.OrgNHSRegion= i.[NHS England REgion],
			r.OrgSTP = i.STP
		
from  [ETL_Local_PROD].[dbo].[AT_Login_Details] r

  		left join [ETL_Local_PROD].[ODSData].[searchods]h on h.[Team or GP] = ltrim(rtrim(r.OrganizationName))
		left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = h.Postcode


where OrganisationCCG is Null


  update r
		set r.OrganisationCCG = h.CCG,
			r.OrgNHSRegion= h.[NHS Region],
			r.OrgSTP = h.STP
		
from  [ETL_Local_PROD].[dbo].[AT_Login_Details] r
left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]h on h.[Parent Org Name] = ltrim(rtrim(r.[Parent Org]))

where OrganisationCCG is Null


update r
		set r.OrganisationCCG = h.CCG,
			r.OrgNHSRegion= h.[NHS Region],
			r.OrgSTP = h.STP 
		
from  [ETL_Local_PROD].[dbo].[AT_Login_Details]r
left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]h on h.[Organisation Name] = ltrim(rtrim(r.OrganizationName))

where OrganisationCCG is Null


 
		update x
				set x.RowBeforlaterFlag = Case when  (a.LogoutTime > x.LoginTime) then 1 else null end
 
		
	from [ETL_Local_PROD].[dbo].[AT_Login_Details]x		
	LEFT JOIN [ETL_Local_PROD].[dbo].[AT_Login_Details]a on  a.UserID = x.UserID
							and  a.rn2 = x.RN2 - 1

	
 --select * from [ETL_Local_PROD].[dbo].[AT_Login_Details]

 
		update x
		set  x.FinalLoginTime = x.LoginTime,
			x.FinalLogoutTime = case when a.RowBeforlaterFlag = 1 and x.LogoutTime < a.LogoutTime then a.LogoutTime else x.LogoutTime end
			
		
	from [ETL_Local_PROD].[dbo].[AT_Login_Details]x		
	LEFT JOIN [ETL_Local_PROD].[dbo].[AT_Login_Details]a on  a.UserID = x.UserID
								and a.rn2 = (x.rn2 + 1)


update r
		set r.NewSessionDuratiom = DATEDIFF(second,FinalLoginTime,FinalLogoutTime),
			r.NewSessionDurationMinutes = DATEDIFF(second,FinalLoginTime,FinalLogoutTime)/60

from [ETL_Local_PROD].[dbo].[AT_Login_Details]r


--delete from [ETL_Local_PROD].[dbo].[AT_Login_Details] where RowBeforlaterFlag = 1







 	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Logins_Daily]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Logins_Daily]
	SELECT  
       [UserRegistryID]
      ,[OrganizationRegistryID]
      ,[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
      ,[TeamType]
      ,[Parent Org]
      ,Convert(date,[FinalLoginTime]) as LoginDate
      ,sum([NewSessionDurationMinutes]) as SessionDuration
      --,[UserAgent]
      ,[DerivedDevicetype]
      --,[Browser]
      --,[BrowserVersion]
      --,[BrowserMode]
      ,[OrganisationCCG]
      ,[OrgSTP]
      ,[OrgNHSRegion]
	  into [ETL_Local_PROD].[dbo].[AT_Logins_Daily]

	 FROM [ETL_Local_PROD].[dbo].[AT_Login_Details]
	 where RowBeforlaterFlag is null
	 group by
	   [UserRegistryID]
      ,[OrganizationRegistryID]
      ,[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
      ,[TeamType]
      ,[Parent Org]
	  ,Convert(date,[FinalLoginTime])
	   --,[UserAgent]
      ,[DerivedDevicetype]
      --,[Browser]
      --,[BrowserVersion]
      --,[BrowserMode]
      ,[OrganisationCCG]
      ,[OrgSTP]
      ,[OrgNHSRegion]



	  --select * from [ETL_Local_PROD].[dbo].[AT_Logins_Daily]where UserRegistryID = 1000348
	  --select * from [ETL_Local_PROD].[dbo].[AT_Login_Details] where UserRegistryID = 1000348


IF OBJECT_ID('tempdb..#tempSingleLog') IS NOT NULL 
					 dROP TABLE #tempSingleLog
 
select
	   
       a.[SessionID]
      ,[Active]
      ,[UserRegistryID]
      ,[OrganizationRegistryID]
      ,a.[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
	  ,TeamType
	  ,[Parent Org]
	  ,d.FirstSesionLogin as FinalLoginTime
	  ,c.LastSessionLogout as FinalLogoutTime
	  ,e.SessionDur as TotalActiveTimeOfSession
      ,[UserAgent]
	  , DerivedDevicetype
      ,[Browser]
      ,[BrowserVersion]
      ,[BrowserMode]
      ,[IsMobile]
	  ,Domain
	  ,Success
	  ,SoftFailure
	  ,OrganisationCCG
	  ,OrgSTP
	  ,OrgNHSRegion
	  --,case when b.LastSessionRow = a.RN3 then 1 else null end as lastRowFlag
	  into #tempSingleLog
from ETL_Local_PROD.dbo.AT_Login_Details a
left join
				(
				select 
			sessionid,
			UserID,
			max(rn3) as LastSessionRow 
			from   ETL_Local_PROD.dbo.AT_Login_Details 
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)b on b.SessionID = a.SessionID and b.UserID = a.UserID
		left join
				(
					select 
			sessionid,
			UserID,
			max(LogoutTime) as LastSessionLogout
			from   ETL_Local_PROD.dbo.AT_Login_Details 
			--where sessionid = '4VAq8LIfl4'
			group by SessionID,UserID
				)c on c.SessionID = a.SessionID and c.UserID = a.UserID

		left join 
				(
 					select 
					sessionid,
					UserID,
					min(LoginTime) as FirstSesionLogin
					from   ETL_Local_PROD.dbo.AT_Login_Details 
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)d on d.SessionID = a.SessionID and d.UserID = a.UserID


		left join 
				(
 					select 
					sessionid,
					UserID,
					sum(SessionDurationInMinutes) SessionDur
					from   ETL_Local_PROD.dbo.AT_Login_Details 
					--where sessionid = '4VAq8LIfl4'
					group by SessionID,UserID
				)e on e.SessionID = a.SessionID and e.UserID = a.UserID

where  b.LastSessionRow = a.RN3
 

 --	declare @StartDate Date
	--set @StartDate = dateadd(year,-1,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	


 
  

IF OBJECT_ID('tempdb..#tempView') IS NOT NULL 
					 dROP TABLE #tempView

		
		  select 
		  a.CMC_ID,
		  actionTime,
		  ActionType,
		  case ActionType when 'custom-consent_removed' then 'delete' else REPLACE(ActionType,'custom-','') end as DerivedActionType,
		  B.STAFFEnterpriseID as StaffEnterpriseID,
		  a.StaffRegistryId,
		  Comment,
		  --b.StaffForename,
		  --b.StaffSurname,
		  B.StaffFullName,
		  B.StaffUserId,
		  B.StaffODSCode,
		 B.StaffActiveDescription,
		 B.StaffProviderTypeDescription,
		 d.PDRegistryID,
		 e.ItemId,
		  e.Name as Team,
		  d.ODSCode,
		  d.EnterpriseID,
		  isnull(CCG,'(Care plan not currently published)') as PatientCCG,
		  --d.name  as OrgNameName
		  f.[Parent Org],
		  f.TeamType,
		 case Domain when '%HS_EMIS' then 'EMIS' when '%HS_PC' then 'Portal' when '%HS_Smartcard' then 'Smartcard' else 'CMC' end as App
		  --,
		  --f.Parent as ParentOrg

  
		  into #tempView
 

		  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a with (nolock)
		  left join [ETL_PROD].[dbo].[CMC_AuditLogin]aa with (nolock) on aa.ItemId = a.LoginReference
		  --inner join  [ETL_Local_PROD].[dbo].[AT_Staff]b with (nolock) on b.StaffRegistryID = a.StaffRegistryID
		   LEFT JOIN #tempsTAFF B ON B.PDRegistryID = A.StaffRegistryId
		  inner join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID  = a.DeptPDRegistryId
		  inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
		  left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on ltrim(rtrim(f.ActivityTeam)) = ltrim(rtrim(e.Name))
		  left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g with (nolock) on g.CMC_ID = a.CMC_ID
  --where e.Name in ('The Argyle Nursing Homes Service')

		  Where Convert(date,actionTime) >= dateadd(year,-1,@StartDate)
 
	and charindex('view',ActionType)>0
		  --and 
		  --(
				--charindex('print',ActionType)>0
		  --or	charindex('view',ActionType)>0
		  --or	charindex('revise',ActionType)>0
		  --or	charindex('create',ActionType)>0
		  --or	charindex('consent_removed',ActionType)>0
		  --or	charindex('publish',ActionType)>0

		  --)
 
  
			order by OverAllOrder

 -- 	declare @StartDate Date
	--set @StartDate = dateadd(year,-1,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))

			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanViewData]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

			Select 
			distinct
			a.CMC_ID,
			a.PatientCCG,
			a.ActionTime,
			a.ActionType,
			a.DerivedActionType,
			Comment,
			a.StaffRegistryId,
			a.StaffEnterpriseID,
			coalesce(b.OrganizationRegistryID,PDregistryID) as OrganizationRegistryID,
			a.EnterpriseID,
			a.ODSCode,
			a.StaffFullName,
			coalesce(b.UserID,StaffUserid) as StaffUserID,
			a.StaffProviderTypeDescription,
			a.Team,
			a.TeamType,
			a.[Parent Org],
			b.OrganisationCCG,
			b.OrgSTP,
			b.OrgNHSRegion,
			a.App,
			b.UserRole, 
			b.UserAgent, 
			b.DerivedDevicetype, 
			b.Browser, 
			b.BrowserVersion, 
		    Success,
		    SoftFailure,
			b.FinalLoginTime, 
			b.FinalLogoutTime, 
			b.TotalActiveTimeOfSession
		

			into [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

			From #tempView a 
			Left Join #tempSingleLog b On b.UserRegistryID = a.StaffRegistryId
			And
			(
			b.FinalLoginTime <= a.actionTime 
			And 
			b.FinalLogoutTime >= a.actionTime 
			)
			Where  Convert(date,a.actionTime) >= @StartDate And a.DerivedActionType = 'view' Order By a.actionTime




--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData]





			UPDATE R
					SET R.OrganisationCCG = B.OrganisationCCG,
						R.OrgSTP = B.OrgSTP,
						R.OrgNHSRegion = B.OrgNHSRegion,
						R.UserRole = B.UserRole,
						R.UserAgent = B.UserAgent,
						R.DerivedDevicetype = B.DerivedDevicetype,
						R.Browser = B.Browser,
						R.BrowserVersion = B.BrowserVersion,
						R.FinalLoginTime = B.FinalLoginTime,
						R.FinalLogoutTime = NULL,
						R.TotalActiveTimeOfSession = B.TotalActiveTimeOfSession,
						r.Success = b.Success,
						r.SoftFailure = b.SoftFailure
				
			FROM [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]R
			Left Join #tempSingleLog b On b.UserRegistryID = R.StaffRegistryId
			And
			(
			b.FinalLoginTime <= r.actionTime
			And 
			CONVERT(DATE,b.FinalLogoutTime) >= CONVERT(DATE,r.actionTime)
			)

			WHERE R.FinalLoginTime IS NULL



			
   update r
		set r.OrganisationCCG = i.CCG,
			r.OrgNHSRegion= i.[NHS England REgion],
			r.OrgSTP = i.STP
		
from  [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r

  		left join [ETL_Local_PROD].[ODSData].[searchods]h on h.[Team or GP] = ltrim(rtrim(r.Team))
		left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = h.Postcode

		where OrganisationCCG is Null

   update r
		set r.OrganisationCCG = i.CCG,
			r.OrgNHSRegion= i.[NHS England REgion],
			r.OrgSTP = i.STP
		
from  [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]r

  		left join [ETL_Local_PROD].[ODSData].[searchods]h on h.[Team or GP] = ltrim(rtrim(r.[Parent Org]))
		left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = h.Postcode

		where OrganisationCCG is Null





			 update r
		set r.OrganisationCCG = h.CCG,
			r.OrgNHSRegion= h.[NHS Region],
			r.OrgSTP = h.STP
		
		from  [ETL_Local_PROD].[dbo].[AT_CarePlanViewData] r
		left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]h on h.[Parent Org Name] = ltrim(rtrim(r.[Parent Org]))

		where OrganisationCCG is Null


		update r
				set r.OrganisationCCG = h.CCG,
					r.OrgNHSRegion= h.[NHS Region],
					r.OrgSTP = h.STP 
		
		from  [ETL_Local_PROD].[dbo].[AT_CarePlanViewData] r
		left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]h on h.[Organisation Name] = ltrim(rtrim(r.Team))

		where OrganisationCCG is Null



		update r
		set OrganisationCCG  = REPLACE(OrganisationCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData] r


		update r
		set PatientCCG  = REPLACE(PatientCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData] r

 
		update r
		set PatientCCG  = REPLACE(PatientCCG, 'Cross Border: ', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanViewData] r
		where charindex('Cross Border: ',PatientCCG)>0



				
					IF OBJECT_ID('tempdb..#tempCreate') IS NOT NULL 
					 dROP TABLE #tempCreate
 
				select
				distinct
				cmc_id
				into #tempCreate
				 FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]
				 where charindex('create',ActionType)>0



				--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] WHERE StaffFullName = 'Claire Luchterhand'
				
				
				
				if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanData]
			  select 
			  a.CMC_ID,
			  actionTime,
			  ActionType,
			  comment,
			  case ActionType when 'custom-consent_removed' then 'delete' else REPLACE(ActionType,'custom-','') end as DerivedActionType,
			  ActionTypeOrder as ActivityOrderNo,
			  OverAllOrder,
			  i.EnterpriseID as StaffEnterpriseID,
			 n.GivenName +' '+ n.FamilyName as StaffFullName,
			  cc.UserID as StaffUserId,
			  i.ODSCode as StaffODSCode,
			 tu.Description as  StaffActiveDescription,
			  tt.Description as StaffProviderTypeDescription,
			  a.StaffRegistryId,
			 d.PDRegistryID,
			 e.ItemId,
			  e.Name as Team,
			
			  coalesce(ii.ccg,hh.ccg) as OriginalOrgCCG,
			  [Parent CCG] as OrgCCG,
			  cast(coalesce(k.STP,kk.stp) as varchar(max)) as ORGSTP,
			  coalesce(ii.[NHS England REgion],  h.[NHS Region]) as [NHS Region],
			  d.ODSCode,
			  d.EnterpriseID,
			  isnull(g.CCG,'(Care plan not currently published)') as PatientCCG,
			  j.STP as PatientSTP,
			  f.[Parent Org],
			  f.TeamType,
			 case Domain when '%HS_EMIS' then 'EMIS' when '%HS_PC' then 'Portal' when '%HS_Smartcard' then 'Smartcard' else 'CMC' end as App
		 

  
		  into [ETL_Local_PROD].[dbo].[AT_CarePlanData]


		  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]a with (nolock)
		  left join [ETL_PROD].[dbo].[CMC_AuditLogin]aa with (nolock) on aa.ItemId = a.LoginReference
 
		  left join ETL_PROD.dbo.CMC_Individual i on i.PDRegistryID = a.StaffRegistryID
			left join ETL_PROD.dbo.CMC_Name n on i.Name = n.ItemId
			left join ETL_PROD.dbo.CMC_UserIdentifier u on i.PDRegistryID = u.Extension
			left join ETL_PROD.dbo.CMC_UserClinician cc on u.UserClinician = cc.itemid
			left join ETL_PROD.dbo.Coded_IndStatus tu on i.StatusCode = tu.Code
			left join (select *,ROW_NUMBER() over (PARTITION by individual order by individual) as rn from ETL_PROD.dbo.CMC_Individual_ProviderTypes) pt on i.ItemId = pt.Individual and pt.rn=1
			left join ETL_PROD.dbo.Coded_IndType tt on pt.ProviderType = tt.Code
		  inner join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.DeptPDRegistryId
		  inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
		  left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on ltrim(rtrim(f.ActivityTeam)) = ltrim(rtrim(e.Name))
		  left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g with (nolock) on g.CMC_ID = a.CMC_ID
		  left join [ETL_Local_PROD].[ODSData].[searchods]h on h.ODS = d.ODSCode
		  left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]ii on ii.PCDs = h.Postcode
		  left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]hh on hh.[Organisation Code] = d.ODSCode
			left join [ETL_Local_PROD].[Reference].[STP]j on j.CCGLONGNAME = g.CCG
		left join [ETL_Local_PROD].[Reference].[STP]k on k.CCGLONGNAME = h.[GP CCG]
		left join [ETL_Local_PROD].[Reference].[STP]kk on kk.CCGLONGNAME = hh.CCG 
		  --Where a.CMC_ID = 100081684--in (select cmc_id from #tempCreate)
		    Where a.CMC_ID  in (select cmc_id from #tempCreate)
 
-- select   * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where cmc_ID = 100082128
-- select   * from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where OriginalOrgCCG = 'NHS Hastings and Rother'
-- select top 5 *  FROM [ETL_Local_PROD].[dbo].[AuditPatient_New]
----select * from  ETL_PROD.dbo.CMC_Individual Order by EnterpriseID
-- select * from [ETL_PROD].[dbo].[CMC_Organization]

--	update r
--				set r.OrgCCG = h.CCG,
--					r.[NHS Region] = h.[NHS Region],
--					r.ODSCode = h.[Organisation Code]
		
--		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
--		inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.name = r.Team and e.Source = 'PD'
--		inner join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.name = e.ItemId
--		  left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on ltrim(rtrim(f.ActivityTeam)) = ltrim(rtrim(e.Name))
--		  left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g with (nolock) on g.CMC_ID = r.CMC_ID
--		  left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]h on h.[Organisation Code] = d.ODSCode

--select * from [ETL_PROD].[dbo].[CMC_OrganizationName]where name  = 'GUY''S AND ST THOMAS'' TRUST - CMC PILOT'
--select * from [ETL_PROD].[dbo].[CMC_Organization] where  name	 = '100133373O'
--select   * from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
--CMC014
		update r
				set r.OrgCCG = i.CCG,
					r.[NHS Region] = i.[NHS England REgion] ,
					ORGSTP = i.STP
		
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
		left join [ETL_Local_PROD].[ODSData].[searchods]h on h.[Team or GP] = ltrim(rtrim(r.[Parent Org]))
		left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = h.Postcode
		where OrgCCG is Null


		--select * from [ETL_Local_PROD].[dbo].[AT_CarePlanData],
		--select * from [ETL_Local_PROD].[ODSData].[searchods] where charindex('GUY''S AND ST THOMAS''',[Team or GP])>0 = 'GUY''S AND ST THOMAS'' NHS FOUNDATION TRUST'
		--select * from [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA] where PCDs = 'SE1 7EH'

			update r
				set r.OrgCCG = i.CCG,
					r.[NHS Region] = i.[NHS England REgion] ,
					ORGSTP = i.STP
		
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
		left join [ETL_Local_PROD].[ODSData].[searchods]h on h.[Team or GP] = ltrim(rtrim(r.Team))
		left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = h.Postcode
		where OrgCCG is Null




		update r
				set r.OrgCCG = h.CCG,
					r.[NHS Region] = h.[NHS Region],
					r.ODSCode = h.[Organisation Code]
		
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
		left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]h on h.[Organisation Name] = ltrim(rtrim(r.Team))

		where OrgCCG is Null



		update r
				set r.ActivityOrderNo = a.RN2
		
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r
		inner join 
					(
					select
					CMC_ID,
					DerivedActionType, 
					actiontime,
					ROW_NUMBER() OVER(PARTITION BY CMC_ID,DerivedActionType ORDER by actiontime  ) AS RN2
					from [ETL_Local_PROD].[dbo].[AT_CarePlanData]
		 
					)a on a.CMC_ID = r.CMC_ID
					and a.ActionTime = r.ActionTime
						and a.DerivedActionType = r.DerivedActionType



		update r
				set r.OriginalOrgCCG = coalesce(OriginalOrgCCG,orgccg)
		
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]r

		-------------------------------------------------------------------------

			update r
		set OrgCCG  = REPLACE(OrgCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r


		update r
		set PatientCCG  = REPLACE(PatientCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r

 
		update r
		set PatientCCG  = REPLACE(PatientCCG, 'Cross Border: ', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r
		where charindex('Cross Border: ',PatientCCG)>0

			update r
		set OriginalOrgCCG  = REPLACE(OriginalOrgCCG, ' CCG', '')

		from [ETL_Local_PROD].[dbo].[AT_CarePlanData] r

		update j
				set j.ORGSTP = k.STP
			
		from [ETL_Local_PROD].[dbo].[AT_CarePlanData]j
		left join
				(select 
				distinct 
				STP,
				ltrim(rtrim(REPLACE( CCG, ' CCG', '')))as CCG 
				from [ETL_Local_PROD].[dbo].[AT_ODS_Data]
				where ccg is not null
				)k on k.CCG = j.OriginalOrgCCG

				where j.ORGSTP is null
				and j.OriginalOrgCCG is not null
		--select * from [ETL_Local_PROD].[dbo].[AT_Login_Details]where UserFullName = 'Cianan O''sullivan' and rowbeforlaterflag is null order by ORganizationName
		--select distinct OriginalOrgCCG,ORGSTP  from [ETL_Local_PROD].[dbo].[AT_CarePlanData] where ORGSTP is null order by  OriginalOrgCCG
		






				if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]


		SELECT  
		[CMC_ID]
      ,[actionTime]
      ,[Financial Year]
      ,[ActionType]
      ,[DerivedActionType]
      ,[StaffEnterpriseID]
 
      ,[StaffFullName]
      ,[StaffUserId]
      ,[StaffODSCode]
      ,[StaffActiveDescription]
      ,[StaffProviderTypeDescription]
      ,[PDRegistryID]
      ,[ItemId]
      ,[Team]
      ,[ODSCode]
      ,[EnterpriseID]
      ,[PatientCCG]
	  ,PatientSTP
      ,[NHS Region]
      ,TeamType
	  ,OriginalOrgCCG as [TeamCCG]
      --,ORgCCG as [TeamCCG]
	  ,ORGSTP
      ,[Parent Org] 
      ,[App]


  into [ETL_Local_PROD].[dbo].[AT_CarePlanCreationData]

from [ETL_Local_PROD].[dbo].[AT_CarePlanData]a
left join  [ETL_Local_PROD].[dbo].[DIM_Date]b on b.[Calendar Day] = convert(date,a.ActionTime)
where DerivedActionType = 'create'





----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/**

Unpublished Careplan Information

**/
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



	if OBJECT_ID ('Tempdb..#AT_Patient_CMCID') is not null
 	drop table #AT_Patient_CMCID 
	select 
	Patient, 
	cast(n.PatientNumber as bigint) as CMC_ID 
	into #AT_Patient_CMCID
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	where AssigningAuthority = 'CMC'

 


	if OBJECT_ID ('Tempdb..#AT_Patient_NHs') is not null
 	drop table #AT_Patient_NHs 
	select 
	pn.Patient, 
	n.PatientNumber as NHS_Number ,
	o.CMC_ID
	into #AT_Patient_NHs
	from ETL_PROD.dbo.CMC_Patient_PatientNumbers pn
	left join ETL_PROD.dbo.CMC_PatientNumber n on n.ItemId = pn.PatientNumber
	left join #AT_Patient_CMCID o on o.Patient = pn.Patient
	where AssigningAuthority = 'NHS'


 --select *from #AT_Patient_NHs
 
 


	if OBJECT_ID ('Tempdb..#AT_Patient_Numbers') is not null
 	drop table #AT_Patient_Numbers
	select 
	distinct
	--a.Patient, 
	CMC_ID,
	--b.NHS_Number  
	cast(null as nvarchar(20)) as NHS_Number
	into #AT_Patient_Numbers
	from #AT_Patient_CMCID a

	union

	select
	distinct
	CMC_ID,
	cast(null as nvarchar(20)) as NHS_Number
	FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	--left join #AT_Patient_NHs b on b.Patient = a.Patient


	update r
			set r.NHS_Number = b.NHS_Number

	from #AT_Patient_Numbers r
	left join #AT_Patient_NHs b on b.CMC_ID = r.CMC_ID


	--select * from #AT_Patient_Numbers where NHS_Number is null
 
 	if OBJECT_ID ('Tempdb..#AT_Patient_NumbersNotPub') is not null
 	drop table #AT_Patient_NumbersNotPub
 SELECT a.[ItemID]
      ,[Patient]
      ,[AssigningAuthorityName]
      ,[Extension] as NHS_Number
	  ,MRN as CMC_id
      ,[Root]
      ,[Status]
      ,[Type]
      ,[Usage]
	   ,[AssigningAuthority]
      ,[BirthDateTime]
      ,[BirthMonth]
      ,[BirthOrder]
      ,[BirthYear]
      ,[CommunicationPreference]
      ,[CreatedBy]
      ,[CreatedOn]
      ,[CustomClassName]
      ,[CustomXMLString]
      ,[DeathTime]
      ,[Facility]
      ,[FullName]
      ,[LastEnteredBy]
      ,[LastEnteredOn]
      ,[LastEnteredOnC]
      ,[UTCLastEnteredOn]
      ,[UTCLastEnteredOnC]
      ,[LastUpdated]
      ,[MothersMaidenSurname]
      ,[MPIID]
      --,[MRN]
      ,[SSN]
      ,[VIP]
	  into #AT_Patient_NumbersNotPub
  FROM [ETL_PROD].[dbo].[CMC_Registry_Patient_Identifier]a
  inner join [ETL_PROD].[dbo].[CMC_Registry_Patient]b on b.ItemID = a.Patient
  
 
--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General]  where cmc_ID =  100011450



	if OBJECT_ID ('Tempdb..#Published') is not null
		drop table #Published

 select cmc_id into #Published from [ETL_Local_PROD].[dbo].[AT_Patient_General] 

    	if OBJECT_ID ('Tempdb..#UnPublished') is not null
		drop table #UnPublished

		SELECT [CMC_ID]
		,max(OverAllOrder) as LAstActionOrder,
		DerivedActionType 

	   into #UnPublished

	   FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]
	   where cmc_id not in (select * from #Published)
	   group by cmc_id,DerivedActionType




	    if OBJECT_ID ('Tempdb..#UnpublishedPLans') is not null
		drop table #UnpublishedPLans
		select

		a.CMC_ID,
		coalesce(d.NHS_Number,dd.nhs_number) as NHS_Number,
		dd.FullName,
		convert(Date,dd.BirthDateTime) as DOB,
	 
		c.actionTime,
		c.DerivedActionType,
		--c. ,
		row_number() over (partition by a.[CMC_ID] order by LAstActionOrder)  as LastActionOverAllOrder, 
		case  when c.DerivedActionType in ('create','publish') then  row_number() over (partition by a.[CMC_ID],c.DerivedActionType order by LAstActionOrder) else null end  as CreatePublishOrder, 
		case when b.LastActionOVerAll is not null then 1 else null end  as LastActionFlag,
		f.Description as WithdrawnReason, 
		c.StaffFullName,
		c.StaffUserId,
		c.StaffProviderTypeDescription,
		c.Team,
		c.OriginalOrgCCG as TeamCCG,
		c.TeamType,
		c.App,
		c.[Parent Org] as TeamParentOrg 

		into #UnpublishedPLans
		from #UnPublished a
		left join
				(
				select
				CMC_ID,
				Max(LAstActionOrder) as LastActionOVerAll
		from #UnPublished 
		group by CMC_ID
		)b on b.CMC_ID = a.CMC_ID and b.LastActionOVerAll = a.LAstActionOrder
		left join [ETL_Local_PROD].[dbo].[AT_CarePlanData]c on c.CMC_ID = a.CMC_ID and c.OverAllOrder = a.LAstActionOrder and c.DerivedActionType = a.DerivedActionType
		left join #AT_Patient_Numbers d on d.CMC_ID = a.CMC_ID
		left join #AT_Patient_NumbersNotPub dd on dd.CMC_id = a.CMC_ID
		left join [ETL_PROD].[dbo].[CMC_ConsentWithdrawn]e on e.CMCID = a.CMC_ID
		left join [ETL_PROD].[dbo].[Coded_DeleteType]f on f.code = e.DeleteType
		left join AT_Staff g on g.StaffRegistryId = c.StaffRegistryId


 
	
	
			if OBJECT_ID ('Tempdb..#DEleted') is not null
				drop table #DEleted
			select
			*
			into #DEleted
			from
			(

			select 
			* 
			from #UnpublishedPLans
			where cmc_ID in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('delete'))
			--and LastActionFlag = 1

			) d where d.LastActionFlag = 1

			order by cmc_id, LastActionOverAllOrder


		if OBJECT_ID ('Tempdb..#NeverPublished') is not null
			drop table #NeverPublished

 
				select
				 *
				 into #NeverPublished
				from
				(
					 select 
					 * 
					 from #UnpublishedPLans
					 where CMC_ID not in (select CMC_id from #UnpublishedPLans where   DerivedActionType  in ('publish'))
					 --and LastActionFlag = 1
					 and WithdrawnReason is null
					 --and actionTime >= '2019-04-01'
				)d
				where d.CMC_ID not in	(
										(select CMC_id from #DEleted)
										)
						order by cmc_id, LastActionOverAllOrder
		
 		if OBJECT_ID ('Tempdb..#Restricted') is not null
			drop table #Restricted
 
			select   		 
			distinct
					cast(	RIGHT(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1),
							len(
								left(right(Name, len(Name)- CHARINDEX('||', Name)), charindex('||',right(Name, len(Name)- CHARINDEX('||', Name)))-1)
								) -1
							)
						 as bigint)
								as CMC_ID,
1 as IsProtected
	
	into #Restricted
		FROM [ETL_PROD].[dbo].[CMC_Patient]
where IsProtected = 1 



 --select * from #Restricted where CMC_ID = 100011450


  	   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]') is not null
		drop table [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]

		select
		a.CMC_ID,
		a.NHS_Number,
		a.FullName as [Patient Name],
		a.DOB as [Patient DOB],
		a.team as [Created by Team],
		a.TeamType as [Created by TeamType],
		a.TeamCCG as [Created by TEam CCG],
		a.actionTime  as [Date Care Plan Created],
		d.[Month Name],
		d.[Financial Year],
		a.staffFullName as [Created By],
		a.StaffProviderTypeDescription as [Created Staff-Type],
		case when c.CMC_ID is not null then 1 else null end as 'NEver Published Flag'
 

		into [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]
		
		from #UnpublishedPLans a
		left join #DEleted b on b.CMC_ID = a.CMC_ID
		left join #NeverPublished c on c.CMC_ID = a.CMC_ID and c.LastActionFlag = 1
		left join [ETL_Local_PROD].[dbo].[DIM_Date]d on d.[Calendar Day] = convert(date,a.ActionTime)

		where 
		a.DerivedActionType = 'create'
		and a.WithdrawnReason is null
		and b.CMC_ID is null


		



		end