USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [NCAS].[05_Create_Suspensions_Exclusions_Base_Data]    Script Date: 29/08/2018 17:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [NCAS].[05_Create_Suspensions_Exclusions_Base_Data]

AS

SET NOCOUNT ON

--SELECT *  FROM  [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]
--SELECT *  FROM  [Informatics_Reporting].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]
IF OBJECT_ID('[Informatics_Reporting].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]') IS NOT NULL 
		dROP TABLE [Informatics_Reporting].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]

SELECT 
distinct

M.CaseId, 
EpisodeNumber,
m.[Lead Adviser],
[Adviser],
m.[Lead Advice Service],
m.[Advice Service],
Convert(date,M.Referral_Date) as [Innitial Contact Date],
--Convert(date,M.Referral_Date) as Referral_Date,
v.[Month Start Date] as  [Innitial Contact Month],
[Financial Year] as [Innitial Contact Financial Year] ,
[Sector],
[Profession],
[Country_Region] as  [Report_Region],
[Case_Type],
[Stage],
[Case_Status],
[Last Open Date],
[Last Closed Date],
[Current ReOpen Flag],
[Organisation_Name_At_Referral],
[Current_Employing_Contract_Org],
[Country_Region],
[GMC_GDC_Number],
[Gender],
[Age_At_Referral],
[Ethnicity],
[Ethnicity_Group],
[GradeDescription],
[GradeGroup],
[Specialty],
[Specialty_group],
w.SummaryConcernSection as CaseMainConcerns,
Disability,
 
--case 
--	when (Month(M.Referral_Date) >= 4 and Month(M.Referral_Date) <=12)
--		then(convert(varchar(4),DATEPART(yy, CONVERT(DATE, M.Referral_Date)))+'/'+convert(varchar(2),right(DATEPART(yy, dateadd(year,1,CONVERT(DATE, M.Referral_Date))),2)))
--			else (convert(varchar(4),DATEPART(yy, dateadd(year,-1,CONVERT(DATE, M.Referral_Date))))+'/'+convert(varchar(2),right(DATEPART(yy, CONVERT(DATE, M.Referral_Date)),2)))
--end as [Year],
convert(date, e.ImmediateSeDate) as [Immediate Suspension Date],
convert(date,E.FormalSeDate) as [Formal Suspension Date],
Convert(date,e.EndSeDate) as [Suspension End Date],
REPLACE(REPLACE(REPLACE(g.Description, CHAR(10), ''), CHAR(13), ''), CHAR(9), '')as MainConcern,
REPLACE(REPLACE(REPLACE(h.Description, CHAR(10), ''), CHAR(13), ''), CHAR(9), '')as EndReasonNotes,
e.GroundsForSe,  
f.Description as GoverningRegulation,
null as RowNumber



  into [Informatics_Reporting].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]

FROM [EKS_Archive2].[Core].[Episode]e
left join [EKS_Archive2].[Core].[SeGoverningRegulation]f ON f.SeGoverningRegulationId = e.GoverningRegulationId 
left join [EKS_Archive2].[Core].[SeMainConcern]g ON g.SeMainConcernId = e.MainConcernId 
left join [EKS_Archive2].[Core].[SeEndReason]h ON h.SeEndReasonId = e.SeEndReasonId 
inner join [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] M on m.caseid = e.CaseId
left join [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]w on w.caseid = e.caseid
left join Informatics_Reporting.dbo.DIM_Date v on v.[Calendar Day] = convert(date,m.Referral_Date)
where 
 
e.IsVoid <> 1

Order by m.caseid, EpisodeNumber
--select * from #temp1 order by CaseId,EpisodeNumber


--select * from [Informatics_Reporting].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data] where caseid = 556
--select * FROM [EKS_Archive2].[Core].[Episode] where caseid = 556

update r

		set r.RowNumber = b.xRank

from [Informatics_Reporting].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]r
left join
		(

		select
		caseid,
		EpisodeNumber,
		RANK() OVER (  ORDER BY  caseid, EpisodeNumber) AS xRank
	 from [Informatics_Reporting].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]
	
 
   ) b on b.CaseId = r.caseid
	and b.EpisodeNumber = r.EpisodeNumber
  