USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_Commissioners_Report_Personal_Community_Extract_SP]    Script Date: 26/11/2021 10:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[AT_Commissioners_Report_Personal_Community_Extract_SP] 
-- Amended for PD Upgrade
AS
BEGIN


	DECLARE 
		@EndDate date,  
		@StartDate Date,
		@WeekEnd date,
		@ReportDate date,
		@WeekStart date,
		@totalWeeks int,
		@WeekCounter int = 0,
		@SnapDateStart Date,
		@SnapDateEnd Date,
		@YearStartDate Date

		set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
 
	set @EndDate =  EOMONTH(getdate())--DATEADD(DAY, -(DAY(getdate())), getdate())
	print @StartDate
	Print @EndDate
 
	 

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT  distinct
 
	 
	 [Month Start Date]
      ,[Month End Date]
	  ,[Year Start Date]
 
      
  FROM [ETL_Local_PROD].[dbo].[DIM_Date]
  where [Calendar Day] >= @StartDate and [Calendar Day] < @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT 
	ROW_NUMBER() OVER(ORDER by [Month Start Date] ASC) AS RowNumb,
	*
	into #Temp_CTE_Date		
	FROM cte
	OPTION (MAXRECURSION 0)


	set @totalWeeks = (select MAX(Rownumb) from #Temp_CTE_Date  ) 

	 												
	WHILE @WeekCounter <= @totalWeeks BEGIN
		SET @WeekCounter = @WeekCounter + 1
		set @ReportDate = (select [Month Start Date] from  #Temp_CTE_Date where RowNumb = @WeekCounter)
		set @YearStartDate = (select [Year Start Date] from  #Temp_CTE_Date where RowNumb =  @WeekCounter)
		set @SnapDateEnd = (select [Month End Date] from  #Temp_CTE_Date where RowNumb = @WeekCounter)

		IF OBJECT_ID('tempdb..#Temp22') IS NOT NULL 
		dROP TABLE #Temp22
		select 
		e.[Financial Year],
		@YearStartDate  as [Year Start Date],
		e.Quarter,
	 
		@ReportDate as [Report Month],
		d.*
		into
		#Temp22
		from
		(


		SELECT 
		'Initiated' as ReportName,
		cast(null as varchar(255))  as GP_Practice,
		GPOrgRegId,
		cast(null as varchar(255)) as ODSCode,
		cast(null as varchar(255)) as CCG,
		COUNT(*) as Total
		FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a


		where IsEdit=0
  
		and 
		(
		CAST(SubmitTime as Date)>= @ReportDate
		and
		CAST(SubmitTime as Date)<= @SnapDateEnd
		)
		group by

		GPOrgRegId

  union

  SELECT 
  'Completed' as ReportName,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  cast(null as varchar(255)) as ODSCode,
  cast(null as varchar(255)) as CCG,
  COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a

  where IsEdit=0

  and 
	  (
	  CAST(CompleteTime as Date)>= @ReportDate
		 and
	  CAST(CompleteTime as Date)<= @SnapDateEnd
	  )
group by
 
GPOrgRegId

 union	


    SELECT 'Initiated and Not Complete' as ReportName, --USED For COmmissioners Workbook

    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,

  cast(null as varchar(255)) as ODSCode,

  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_Local_PROD].[dbo].[AT_MyCMC_CoreData]a

  where IsEdit=0
	and  (cast(CompleteTime as date) > @SnapDateEnd OR CompleteTime is null)
  and 
	  (

	  CAST(SubmitTime as Date)<= @SnapDateEnd
	  )
group by

GPOrgRegId
 

union

    SELECT 'Initiated and Not Complete - In Month' as ReportName,

    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,

  cast(null as varchar(255)) as ODSCode,

  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_Local_PROD].[dbo].[AT_MyCMC_CoreData]a

  where IsEdit=0

  and 
		  (
	  CAST(SubmitTime as Date)>= @ReportDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
 and  (cast(CompleteTime as date) > @SnapDateEnd OR CompleteTime is null)
group by

GPOrgRegId

 

union

    SELECT 'Initiated and Not Complete - CurrentFinYear' as ReportName,

    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,

  cast(null as varchar(255)) as ODSCode,

  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_Local_PROD].[dbo].[AT_MyCMC_CoreData]a

  where IsEdit=0

  and 
		  (
	  CAST(SubmitTime as Date)>= @YearStartDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
 and  (cast(CompleteTime as date) > @SnapDateEnd OR CompleteTime is null)
group by

GPOrgRegId

union

    SELECT 'Initiated and Complete - In Month' as ReportName,

    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,

  cast(null as varchar(255)) as ODSCode,

  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a

  where IsEdit=0

  and 
		  (
	  CAST(SubmitTime as Date)>= @ReportDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
 and  (
		cast(CompleteTime as date) <= @SnapDateEnd 
		AND 
		cast(CompleteTime as date) >= @ReportDate
		
		)
group by

GPOrgRegId

union

    SELECT 'Initiated and Complete - CurrentFinYear' as ReportName,
 
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,

  cast(null as varchar(255)) as ODSCode,

  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a

  where IsEdit=0

  and 
		  (
	  CAST(SubmitTime as Date)>= @YearStartDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
	and  
		(
		cast(CompleteTime as date) >= @YearStartDate
		AND
		cast(CompleteTime as date) <= @SnapDateEnd 
		
		)
	group by

	GPOrgRegId

 
 
union

    SELECT 'Initiated - CurrentFinYear' as ReportName,

    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,

  cast(null as varchar(255)) as ODSCode,

  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a



  where IsEdit=0

  and 
		  (
	  CAST(SubmitTime as Date)>= @YearStartDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
 
group by

GPOrgRegId

 


union

    SELECT 'Initiated previous months and Complete - In Month ' as ReportName,
 
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,

  cast(null as varchar(255)) as ODSCode,

  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a



  where IsEdit=0

  and 
		  (
	  CAST(SubmitTime as Date) < @ReportDate
		 
	     )
 and  (
		cast(CompleteTime as date) <= @SnapDateEnd 
		AND 
		cast(CompleteTime as date) >= @ReportDate
		
		)
group by

GPOrgRegId


  union



  SELECT 'Initiated and Complete' as ReportName,		--USED For COmmissioners Workbook

    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,

  cast(null as varchar(255)) as ODSCode,

  cast(null as varchar(255)) as CCG,
  COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a

  where IsEdit=0
  and Complete=1
  and 
	  (
	  CAST(SubmitTime as Date)>= @ReportDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	  )
group by

GPOrgRegId

  
    

		)d
		 
	  left join 
	  (
	  select
	  distinct
	  [Month Start Date],
	  [Financial Year],
	  [YEar Start Date],
		Quarter
	  from [ETL_Local_PROD].[dbo].[DIM_Date]
	  where [Month Start Date] = @ReportDate
	  )
	  e on e.[Month Start Date] = @ReportDate
	  
 --select * from [ETL_Local_PROD].[dbo].[DIM_Date]
 if @WeekCounter = 1 
	begin 
 
	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract] 

	select * into [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract] from #Temp22

	end

	ELSE

	begin

	insert into [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]
	select * from #Temp22
	where not EXISTS (SELECT * FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]  WHERE [Report Month] = @ReportDate ) 
	end
 
	END


 
  delete from  [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]   where [Report Month] is null

	update x
		set x.GP_Practice = d.Parent,
			x.odscode = d.DeptODSCode,
			x.ccg	= d.CCG

	from [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract] x
	inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]d on d.DeptPDRegistryId = x.GPOrgRegId



    delete from  [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]   where GP_Practice is null


 

  End

