USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_NewCacheUpdated_Pt_1a]    Script Date: 14/05/2020 09:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/** =============================================
 What a f**king mess! And you can quote me on that.. A. Turner March 2020
---- =============================================**/

ALTER PROCEDURE [dbo].[AT_NewCacheUpdated_Pt_1a]

AS

BEGIN


	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[CacheOrganization]') is not null
	drop table [ETL_Local_PROD].[dbo].[CacheOrganization]
 
	Select 
	* 
	into [ETL_Local_PROD].[dbo].[CacheOrganization] 
	from [ETL_Local_PROD].[dbo].[AT_CacheOrg] with (nolock)

	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[Department]') is not null
	drop table [ETL_Local_PROD].[dbo].[Department] 
 
	select 
	* 
	into [ETL_Local_PROD].[dbo].[Department]  
	from [ETL_Local_PROD].[dbo].[AT_Dept] with (nolock)


		 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[DeptHierarchy]') is not null
	drop table [ETL_Local_PROD].[dbo].[DeptHierarchy] 
	select 
	* 
	into [ETL_Local_PROD].[dbo].[DeptHierarchy] 
	from [ETL_Local_PROD].[dbo].[AT_Dept_Heirarchy] with (nolock)

	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[Staff]') is not null
	drop table [ETL_Local_PROD].[dbo].[Staff] 
	select 
	* 
	into Staff 
	from [ETL_Local_PROD].[dbo].[AT_Staff] with (nolock)

		 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[StaffDeptContext]') is not null
	drop table [ETL_Local_PROD].[dbo].[StaffDeptContext] 

	select poc.ItemId as ProviderOrgContext, s.*, d.*
	into [ETL_Local_PROD].[dbo].[StaffDeptContext] 
	from ETL_PROD.dbo.CMC_ProviderOrgContext poc
	left join ETL_PROD.dbo.CMC_IndividualProvider ip on poc.Provider = ip.ItemId
	left join ETL_PROD.dbo.CMC_Individual i on i.PDRegistryID = ip.RegistryID
	left join AT_Staff s on s.Individual = i.ItemID
	left join AT_Dept d on d.Organization = poc.Organization
	-- Exclude LastClinicalApprover rows introduced in 15.1 release 
	where ip.ItemId not like 'CarePlan|%|%|%|%|%|LCA'
	AND ip.ItemId not like 'PS|%|%|%|%|%|LCA'
	AND poc.ItemId not like 'CarePlan|%|%|%|%|%|LCA'
	AND poc.ItemId not like 'PS|%|%|%|%|%|LCA'


	
	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[IndOrgAddresses]') is not null
	drop table [ETL_Local_PROD].[dbo].[IndOrgAddresses] 


	SELECT 
	distinct 
	StaffEnterpriseId,
	DeptEnterpriseId,
	a.StreetLine, 
	a.Line2, 
	a.City, 
	a.County, 
	a.PostalCode,
	ISNULL(a.StreetLine,'') +
	  case when a.StreetLine is not null and rtrim(a.StreetLine) <> '' 
		   and a.Line2 is not null and rtrim(a.Line2) <> ''
		   then ', ' else '' end + 
	ISNULL(a.Line2,'') + case when a.City is not null and rtrim(a.City) <> '' then ', ' else '' end +
	ISNULL(a.City,'') + case when a.County is not null and rtrim(a.County) <> '' then ', ' else '' end +
	ISNULL(a.County,'') as CombinedAddress,
	-- add address location MS 5.2.17
	lo.EnterpriseID as AddressLocation

	into [ETL_Local_PROD].[dbo].[IndOrgAddresses] 

	FROM [ETL_PROD].[dbo].[CMC_Location] lo  with (nolock)
	join [ETL_Local_PROD].[dbo].[AT_IndToOrg] io  with (nolock) on lo.OrganizationEID = io.deptenterpriseid and lo.IndividualEID = io.StaffEnterpriseID
	join ETL_PROD.dbo.CMC_Address a  with (nolock) on lo.AddressEID = a.PDEnterpriseID
	-- Active [ETL_Local_PROD].[dbo].[AT_IndToOrg]s only MS 21.2.17
	  where (StartDate is null or CAST(startdate as date) <= CAST(getdate() as date))
	  and (endDate is null or CAST(enddate as date) > CAST(getdate() as date))



  	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[IndOrgEmails]') is not null
	drop table [ETL_Local_PROD].[dbo].[IndOrgEmails] 


	SELECT 
	distinct 
	StaffEnterpriseId,
	DeptEnterpriseId,
	em.Address as Email,
	-- Add email location MS 5.2.17
	lo.EnterpriseID as EmailLocation,
	-- Add isPrimary flag MS 19.3.17
	em.isPrimary

	into [ETL_Local_PROD].[dbo].[IndOrgEmails] 

	  FROM [ETL_PROD].[dbo].[CMC_Location] lo  with (nolock)
	  join [ETL_Local_PROD].[dbo].[AT_IndToOrg] io  with (nolock) on lo.OrganizationEID = io.deptenterpriseid and lo.IndividualEID = io.StaffEnterpriseID
	-- change CMC_Location_Contacts/CMC_ContactInfo_Emails to CMC_Location_Emails  
	  join ETL_PROD.dbo.CMC_Location_Emails cp  with (nolock) on cp.Location = Lo.ItemId
	  join ETL_PROD.dbo.CMC_Email em  with (nolock) on cp.Email = em.ItemId
	-- Active [ETL_Local_PROD].[dbo].[AT_IndToOrg]s only MS 21.2.17
	  where (StartDate is null or CAST(startdate as date) <= CAST(getdate() as date))
	  and (endDate is null or CAST(enddate as date) > CAST(getdate() as date))
 
   	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[IndOrgPhones]') is not null
	drop table [ETL_Local_PROD].[dbo].[IndOrgPhones] 

	 SELECT 
	 distinct 
	 Staffenterpriseid,
	 DeptEnterpriseId, 
	 isnull(ph.FullNumber,ph.TelephoneNumber) as Telephone,
	-- Add phone location MS 5.2.17
	lo.EnterpriseID as PhoneLocation

	into [ETL_Local_PROD].[dbo].[IndOrgPhones] 

	  FROM [ETL_PROD].[dbo].[CMC_Location] lo  with (nolock)
	  join [ETL_Local_PROD].[dbo].[AT_IndToOrg] io  with (nolock) on lo.OrganizationEID = io.deptenterpriseid and lo.IndividualEID = io.StaffEnterpriseID
	  join etl_PROD.dbo.cmc_location_phones loc  with (nolock) on lo.itemid = loc.location
	  join ETL_PROD.dbo.CMC_Telecom ph  with (nolock) on loc.Phone = ph.ItemId
	-- Active [ETL_Local_PROD].[dbo].[AT_IndToOrg]s only MS 21.2.17
	  where (StartDate is null or CAST(startdate as date) <= CAST(getdate() as date))
	  and (endDate is null or CAST(enddate as date) > CAST(getdate() as date))

 
    	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[PatientHSCContacts]') is not null
		drop table [ETL_Local_PROD].[dbo].[PatientHSCContacts] 
		select 
		sel1.*,
		np1.Description as StaffTitleDescription,
		np2.Description as NamePrefixDescription,
		dpr.Description as RoleDescription,
		dor.Description as OrgRoleDescription

		into [ETL_Local_PROD].[dbo].[PatientHSCContacts] 

		from
			(
				SELECT
				no.PatientNumber as CMC_ID,
				ps.ItemID as PatientSummary,

				pa.Provider,
				a.StaffEnterpriseID,
				a.Individual,
				a.StaffTitle,
				a.StaffForename,
				a.StaffMiddleName,
				a.StaffSurname,
				a.StaffODSCode,
				a.StaffLocalCMCId,
				a.StaffCreatedDate,
				a.StaffActive,
				a.StaffDescription,
				DeptName,
				OrganizationType,
				OrganizationTypeDescription,
				a.Organization,
				a.DeptSource,
				DeptEnterpriseID,
				a.DeptPDRegistryID,
				a.DeptLocalCMCId,
				a.LocalCMCOrgType,
				a.LocalCMCOrgTypeDescription,
				a.DeptODSCode,
				a.DeptOpenDate,
				a.DeptCloseDate,
				b.Role,
				b.OrgRole,
				b.Comment,
				b.FromTime,
				b.ToTime,
				isnull(b.SelectedProviderCareProviderType,ip.CareProviderType) as CareProviderType,
				isnull(b.SelectedProviderNamePrefix,ip.NamePrefix) as NamePrefix,
				isnull(b.SelectedProviderGivenName,ip.GivenName) as GivenName,
				isnull(b.SelectedProviderFamilyName,ip.FamilyName) as FamilyName,
				b.SelectedOrgName,
				b.SelectedOrgType,
				case when b.MainHealthcareContact = 1 then 'Y' else 'N' end as MainHealthcareContact,
				ROW_NUMBER() over (partition by ps.ItemId order by pa.Provider) as ProviderNo

				from ETL_PROD.dbo.CMC_PatientSummary ps  with (nolock)
				join ETL_PROD.dbo.CMC_Patient_PatientNumbers po  with (nolock) on po.Patient = ps.ItemID
				join ETL_PROD.dbo.CMC_PatientNumber no  with (nolock) on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
				join ETL_PROD.dbo.CMC_PatientSummary_Providers pa  with (nolock) on ps.itemid = pa.PatientSummary
				join ETL_PROD.dbo.CMC_DocumentProvider b  with (nolock) on pa.Provider = b.Provider
				left join [ETL_Local_PROD].[dbo].[StaffDeptContext] a  with (nolock) on pa.Provider = a.ProviderOrgContext
				left join ETL_PROD.dbo.CMC_IndividualProvider ip  with (nolock) on ip.ItemId = b.Provider

 			) sel1
		-- Add title and role descriptions MS 19.2.16
		left join ETL_PROD.dbo.Coded_NamePrefix np1  with (nolock)on StaffTitle = np1.code
		left join ETL_PROD.dbo.Coded_NamePrefix np2  with (nolock) on NamePrefix = np2.code
		left join ETL_PROD.dbo.Coded_DocumentProviderRole dpr  with (nolock) on Role = dpr.code
		left join ETL_PROD.dbo.Coded_DocumentOrganizationRole dor  with (nolock) on OrgRole = dor.code




    	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[PatientRegisteredGP]') is not null
		drop table [ETL_Local_PROD].[dbo].[PatientRegisteredGP] 
 
		select 
		* 
		into [ETL_Local_PROD].[dbo].[PatientRegisteredGP]  
		from [ETL_Local_PROD].[dbo].[AT_PatientRegistered_GP] with (nolock)

		PRINT 'End Section One'
		PRINT GETDATE()

		WAITFOR DELAY '00:01:00' -- WAIT ONE before first incremental builds

		PRINT 'Start Section Two'
		PRINT GETDATE()


		 
 

		PRINT 'End Section Two'
		PRINT GETDATE()

		WAITFOR DELAY '00:01:00' -- WAIT TWO after first incremental builds

		PRINT 'Start Section Three'
		PRINT GETDATE()
		-------------------------------------------------------------------------------------------------------------------------------------------------------------------


		 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AccurateEnteredBy]') is not null
		drop table [ETL_Local_PROD].[dbo].[AccurateEnteredBy] 
 
		select 
		* 
		into AccurateEnteredBy 
		from [ETL_Local_PROD].[dbo].[AT_AccuratelyEnteredBy] with (nolock)


		drop table Load.PDS
		select * into Load.PDS from Load.[Cache-PDS] with (nolock)
-- correct position for this one as it's used by PatientDetail MS 12.8.16

	 if OBJECT_ID ('[ETL_Local_PROD].[dbo].[PatientAddresses]') is not null
		drop table [ETL_Local_PROD].[dbo].[PatientAddresses] 
 
		select 
		* into 
		PatientAddresses 
		from [ETL_Local_PROD].[dbo].[AT_PatAddress] with (nolock)



		-- correct position for this one as it's used by PatientDetail MS 28.9.16
			drop table PatientContactInfo
			select * into PatientContactInfo from [Cache-PatientContactInfo] with (nolock)
		---------------------------------------------------------------------
		-- Moved to above Patient Detail build as this table is required for Patient Detail
		-- Issues found during second data reconciliation on Data Quality reports
		-- GW 23/07/2019
		drop table PatientDiagnoses
		select * into PatientDiagnoses from [Cache-PatientDiagnoses] with (nolock)
		CREATE NONCLUSTERED INDEX [Main] ON [dbo].[PatientDiagnoses] 
		(
			[MainDiagnosis] ASC
		)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		----------------------------------------------------------------------
		drop table PatientDetail
		select * into PatientDetail from [Cache-PatientDetail] with (nolock) -- updated to run off AuditPateint_NEw 13/05/2020


		insert into CDA.PatientUUID
		select cmc_id,newid() from PatientDetail pd with (nolock)
		where cmc_id not in (select cmc_id from CDA.PatientUUID)
		insert into CDA.PatientTemplateUUID
		select pd.cmc_id,t.[Template ID],newid()
		from PatientDetail pd with (nolock)
		join Reference.Templates t on 1=1
		left join CDA.PatientTemplateUUID u
		on pd.cmc_id=u.cmc_id and t.[Template ID] = u.[Template ID]
		where u.cmc_id is null
		drop table PatientAlerts
		select * into PatientAlerts from [Cache-PatientAlerts] with (nolock)
		drop table PatientAliases
		select * into PatientAliases from [Cache-PatientAliases] with (nolock)
		drop table PatientAllergies
		select * into PatientAllergies from [Cache-PatientAllergies] with (nolock)
		drop table PatientDisabilities
		select * into PatientDisabilities from [Cache-PatientDisabilities] with (nolock)
		drop table PatientHSCContactInfo
		select * into PatientHSCContactInfo from [Cache-PatientHSCContactInfo] with (nolock)
		drop table PatientMedications
		select * into PatientMedications from [Cache-PatientMedications] with (nolock)
		-- cache PatientDiagnoses MS 19.10.16
		---------------------------------------------------------------------
		-- Moved to above Patient Detail build as this table is required for Patient Detail
		-- Issues found during second data reconciliation on Data Quality reports
		-- GW 23/07/2019
		/*drop table PatientDiagnoses
		select * into PatientDiagnoses from [Cache-PatientDiagnoses] with (nolock)
		CREATE NONCLUSTERED INDEX [Main] ON [dbo].[PatientDiagnoses] 
		(
			[MainDiagnosis] ASC
		)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		*/
		----------------------------------------------------------------------
		drop table CarePlanSymptoms
		select * into CarePlanSymptoms from [Cache-CarePlanSymptoms] with (nolock)
		-- move to before next entry which now uses it MS 18.3.17
		DROP TABLE [dbo].[AssessorDQInfo]
		select * into [dbo].[AssessorDQInfo] from [dbo].[Cache-AssessorDQInfo] with (nolock)
		-- Correct modified local cmc ids for migrated staff MS 19.2.17
		update AssessorDQInfo
		set StaffLocalCMCId =
		ISNULL(
		(select distinct primarystaffid from Protocol.MigratedStaffIdLookup l where l.staffuserid=AssessorDQInfo.staffuserid),
		stafflocalcmcid) 

		PRINT 'End Section Three'
		PRINT GETDATE()

	
		WAITFOR DELAY '00:01:00' -- WAIT THREE lowered from 2 - 5 minutes.
						 -- before Protocol tables


		PRINT 'Start Section Four'
		PRINT GETDATE()


		update protocol.accessdatadetail2 set ActivityDepartmentId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=ActivityDepartmentId)
		where activitydepartmentid in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.accuratelogins set LogonDepartmentId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=LogonDepartmentId)
		where Logondepartmentid in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.episodeteams set ActivityDeptId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=ActivityDeptId)
		where activitydeptid in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.extraaccessdetail set ActivityDepartmentId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=ActivityDepartmentId)
		where activitydepartmentid in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.migratedprofcontacts set CMCDeptIdchar =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=CMCDeptIdChar)
		where CMCdeptidchar in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.ODSReconciliationCandidates set Dept_Id =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=Dept_Id)
		where Dept_ID in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.oldsystemcareplans set PracticeExternalID =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=PracticeExternalID)
		where PracticeExternalID in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.oldsystemcareplans set OriginalWorkbaseId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=OriginalWorkbaseId)
		where OriginalWorkbaseId in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.oldsystemcareplans set LatestWorkbaseId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=LatestWorkbaseId)
		where LatestWorkbaseId in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.oldsystemcareplans set OriginalApproverWorkbaseId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=OriginalApproverWorkbaseId)
		where OriginalApproverWorkbaseId in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.oldsystemcareplans set LatestApproverWorkbaseId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=LatestApproverWorkbaseId)
		where LatestApproverWorkbaseId in (select localcmcid from protocol.MigratedDeptChanges) 

		update protocol.OldSystemCarePlansMigratedDuplicates set PracticeExternalID =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=PracticeExternalID)
		where PracticeExternalID in (select localcmcid from protocol.MigratedDeptChanges) 
		update protocol.oldsystemcareplansMigratedDuplicates set OriginalApproverWorkbaseId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=OriginalApproverWorkbaseId)
		where OriginalApproverWorkbaseId in (select localcmcid from protocol.MigratedDeptChanges) 
		update protocol.oldsystemcareplansMigratedDuplicates set LatestApproverWorkbaseId =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=LatestApproverWorkbaseId)
		where LatestApproverWorkbaseId in (select localcmcid from protocol.MigratedDeptChanges) 
		update protocol.palliativeclinicians set dept_external_id =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=dept_external_id)
		where dept_external_id in (select localcmcid from protocol.MigratedDeptChanges) 
		update protocol.patientdemographics set PracticeExternalID =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=PracticeExternalID)
		where PracticeExternalID in (select localcmcid from protocol.MigratedDeptChanges) 
		update protocol.patientdemographicsmigratedduplicates set PracticeExternalID =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=PracticeExternalID)
		where PracticeExternalID in (select localcmcid from protocol.MigratedDeptChanges) 
		update protocol.worktrayallocations set workbase_id =
		(select deptlocalcmcid from protocol.MigratedDeptChanges where localcmcid=workbase_id)
		where workbase_id in (select localcmcid from protocol.MigratedDeptChanges) 
		-- end MS 28.5.17

		PRINT 'End Section Four'
		PRINT GETDATE()

		WAITFOR DELAY '00:01:00' -- WAIT FOUR after Protocol tables

		PRINT 'Start Section Five'
		PRINT GETDATE()
		--select * from PatientHSCContactsHistoric
		drop table PatientHSCContactsHistoric
		select * into [PatientHSCContactsHistoric] from [Cache-PatientHSCContactsHistoric] with (nolock)
		drop table AllDataMedications
		select * into AllDataMedications from [Cache-AllDataMedications] with (nolock)
		drop table AllDataDisabilities
		select * into AllDataDisabilities from [Cache-AllDataDisabilities] with (nolock)
		drop table AllDataAddresses
		select * into AllDataAddresses from [Cache-AllDataAddresses] with (nolock)
		drop table AllDataContacts
		select * into AllDataContacts from [Cache-AllDataContacts] with (nolock)
		drop table AllDataContactInfo
		select * into AllDataContactInfo from [Cache-AllDataContactInfo] with (nolock)
		drop table AllDataAllergies
		select * into AllDataAllergies from [Cache-AllDataAllergies] with (nolock)
		drop table AllDataAliases
		select * into AllDataAliases from [Cache-AllDataAliases] with (nolock)
		drop table AllDataAlerts
		select * into AllDataAlerts from [Cache-AllDataAlerts] with (nolock)

		PRINT 'End Section Five added 15/02/2019'
		PRINT GETDATE()

		WAITFOR DELAY '00:01:00' -- WAIT FIVE Pivot Symptoms is where
								 -- New Cache Job had been crashing
		exec dbo.PivotSymptoms

		PRINT 'End Section Five Original'
		PRINT GETDATE()

		WAITFOR DELAY '00:01:00' -- WAIT FIVE Pivot Symptoms is where
								 -- New Cache Job had been crashing

		PRINT 'Start Section Six'
		PRINT GETDATE()


		drop table AllDataSymptoms
		select * into AllDataSymptoms from [Cache-AllDataSymptoms] with (nolock) --24 seconds
		drop table AllDataContactsHistoric
		select * into AllDataContactsHistoric from [Cache-AllDataContactsHistoric] with (nolock) --35 seconds
		drop table AllDataLPAHistoric
		select * into AllDataLPAHistoric from [Cache-AllDataLPAHistoric] with (nolock)--1 second
		DROP TABLE [dbo].[AllDataPersonalHistoric]
		select * into [dbo].[AllDataPersonalHistoric] from [dbo].[Cache-AllDataPersonalHistoric] with (nolock)-- 11 second
		DROP TABLE [dbo].[StaffDeptActor]
		select * into [dbo].[StaffDeptActor] from [dbo].[Cache-StaffDeptActor] with (nolock) -- 2 seconds
		DROP TABLE [dbo].[WorkbaseDQInfo]
		select * into [dbo].[WorkbaseDQInfo] from [dbo].[Cache-WorkbaseDQInfo] with (nolock) -- 1 second

		--These two take 12 seconds
		exec [dbo].[AT__MetadataDeptEids_SP] 
		exec [dbo].[AT__MetadataStaffEids_SP] 
	 



		if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AuditApprovals]') is not null -- 1 second
		drop table [ETL_Local_PROD].[dbo].[AuditApprovals] 
 
		select 
		* into 
		AuditApprovals from [ETL_Local_PROD].[dbo].[AT_AuditApprovals] with (nolock)
		-- add APV version 22.3.17

		exec [dbo].[AT__PatientDetail_AllPublishedVersions_SP] --4.5 minutes
		exec [dbo].[AT_AuditApprovals-AllPublishedVersions_SP] --20 seconds

	PRINT 'End of the shit that took so long before'
		PRINT GETDATE()

		DROP TABLE [dbo].[PatientDetailFull]
		select * into [dbo].[PatientDetailFull] from [dbo].[Cache-PatientDetailFull] with (nolock)

	 
	 
		DROP TABLE [Protocol].[PatientPractice]
		select * into [Protocol].[PatientPractice] from [Protocol].[Cache-PatientPractice] with (nolock)

		DROP TABLE [dbo].[PatientDetailHistoric]
		select * into [dbo].[PatientDetailHistoric] from [dbo].[Cache-PatientDetailHistoric] with (nolock)
	 
		DROP TABLE [dbo].[PatientDetailSpan]
		select * into [dbo].[PatientDetailSpan] from [dbo].[Cache-PatientDetailSpan] with (nolock)
	 
		DROP TABLE [dbo].[PatientDetailSpanAll]
		select * into [dbo].[PatientDetailSpanAll] from [dbo].[Cache-PatientDetailSpanAll] with (nolock)


		WAITFOR DELAY '00:01:00' 


		PRINT 'End Section Six'
		PRINT GETDATE()

		



		End