USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_Commissioner_Report_Emergency_View_Report_Data]    Script Date: 22/10/2021 15:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT_Commissioner_Report_Emergency_View_Report_Data] 
-- Amended for PD Upgrade
AS
BEGIN






		IF OBJECT_ID('tempdb..#TempOrg') IS NOT NULL 
		dROP TABLE #TempOrg
 
		SELECT 
  
		distinct
		null as RowNumber
		,c.Parent as ParentORg
		,[StaffUserId]
		,[StaffEnterpriseId]
		,[StaffRegistryId]
		,[StaffName]
		 
		,c.Team as  DeptName
		,coalesce(
		case 
		When [DerivedTeamType] in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'
		when (charindex('mental',[DerivedTeamType])>0 or charindex('Community',[DerivedTeamType])>0)  then 'COMMUNITY PROVIDER'
		when [DerivedTeamType] is null and charindex('CCG',c.Parent) > 0 and  charindex('GP Practices',c.Team)> 0 then 'PRIMARY CARE'
		When [DerivedTeamType] = 'UNKNOWN' then 'Not recorded'
		else TeamType
		end,'Not recorded'
		)   as [OrganizationTypeDescription]
		,[DerivedTeamType] as TeamType
		,a.[DeptODSCode]
		--     ,case
		-- when c.[DeptName] = 'ST GEORGES UNIVERSITY HOSPITALS EMERGENCY DEPARTMENT' then 100133407
		-- when c.[DeptName] = 'BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOSPITALS NHS TRUST' then 100072787
		-- when c.[DeptName] = 'CNWL Community Independence Service K and C' then 100099203
		-- when c.[DeptName] = 'ROYAL BROMPTON & HAREFIELD NHS FOUNDATION TRUST'then 100072833
		-- when c.[DeptName] in ('LCW','LCW OOH GPs') then 100099168
		-- when c.[DeptName] = 'MARIE CURIE CANCER CARE' then 100043269
		-- when c.[DeptName] in ('ST JOSEPHS HOSPICE ( )','ST JOSEPHS HOSPICE (DO NOT USE)','ST JOSEPHS HOSPICE') then 100064004
		-- when c.[DeptName] = 'The Pines Care Home with Nursing' then 100022323
		-- when c.[DeptName] in ('UNIVERSITY COLLEGE HOSPITAL EMERGENCY DEPARTMENT','University College London Hospital A & E Dept') then 100099190
		-- --when c.[DeptName] = '111 LAS' then 100104048
		-- else a.deptenterpriseid
		--end as   deptenterpriseid
		, a.deptenterpriseid
		,a.[DeptPDRegistryID]
		,[Created]
		,[Removed]
		,[CMCRoleDescription]
		,[StaffEmail]
		,[StaffJobTitle]
		,[StaffActiveDescription]
		,ltrim(rtrim(REplace( d.[GP CCG] , ' CCG', '')) ) as CCG
		,c.CCG as OriginalCCG
		,c.Region as  [NHS Region]

		,c.DeptODSCode as ODSCode
		,c.PostCode
		,Cast(null as Varchar(300)) as PCNName
		,Cast(null as Varchar(300)) as Ward
		,c.ORgCloseDate as CloseDate


		into #TempOrg

		FROM [ETL_Local_PROD].[dbo].[Logins]a
		inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]c on c.EnterpriseID = a.deptenterpriseid
		--  inner join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b on b.ActivityTeam = a.DeptName
		--  inner join [ETL_Local_PROD].[dbo].[AT_PD_Dept]c on c.DeptEnterpriseID = a.deptenterpriseid
		left join [ETL_Local_PROD].[ODSData].[searchods]d on d.ODS = c.DeptODSCode  
		--left join  [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]e on e.PCDS = c.Postcode

		where Removed is null
 
  --select * from #TempOrg where  charindex('111 las',DeptName)>0 order by staffname
--  select * from [ETL_Local_PROD].[dbo].[AT_PD_Dept] where DeptODSCode in
--  (
--  'RRU1L',
--'RRU94'
--)
 
	--select * from #TempOrg  where OrganizationTypeDescription = 'Urgent Care'	 
		--delete from #TempOrg where DeptName = 'HOMERTON UNIVERSITY HOSPITAL GP OOH' and ODSCode is null
 
		--select * from #TempOrg where DeptName = 'YOUR HEALTHCARE' and ODSCode is null
		--select *  from #TempOrg where DeptName = 'LCW 111' and PostCode is null
		--select *  from #TempOrg where DeptName in ('111 HARMONI<CARE UK>','CARE UK - CMC USER')
		 --select * from #TempOrg where   ODSCode ='F81062'
		  --select * from #TempOrg where  charindex('King george',DeptName)>0
		 --select top 5*   from  [ETL_Local_PROD].[dbo].[AT_Login_Details] where  charindex('chigwell',OrganizationName)>0
		 -- select *  from [ETL_Local_PROD].[dbo].[AT_PD_Dept] where  charindex('chigwell',DeptName)>0
		 --		 select top 5*   from  [ETL_Local_PROD].[dbo].[AT_Login_Details] where  deptenterpriseid =  100062440
delete from #tempOrg where OrganizationTypeDescription <> 'Urgent Care'	 

 update g
		set g.ParentORg = g.DeptName
 from #TempOrg g
 Where ParentORg is null


delete a from #TempOrg a   where  [NHS Region] <> 'London'

--select * from #TempOrg order by [NHS Region]

--select * from #TempOrg where deptenterpriseid = 100133407



 update r

		set r.RowNumber = g.RNumber

 from #TempOrg r
 left join
	 
		(
		select
		DeptName,
		ROW_NUMBER() OVER(partition by DeptName,CCG ORDER BY  closedate)  as RNumber,
	 
		ODSCode,
		deptenterpriseid,
		CloseDate
		from #TempOrg
		)g  on g.DeptName = r.DeptName
		and g.ODSCode = r.ODSCode
 


 update r
				
				set r.PCNName = s.PCNName

				from #TempOrg r
				left join  [ETL_Local_PROD].[dbo].[AT_Commissioners_Report_Primary_Care_Network_Core_Partners]s on s.PartnerOrganisationCode = r.ODSCode



				update r
				
				set r.ODSCode = t.ODS

				from #TempOrg r

				left join [ETL_Local_PROD].[ODSData].[searchods]t on t.Postcode = r.PostCode
																
				WHere r.ODSCode is null
		 

		 update r
				
				set r.PCNName = coalesce(s.PCNName,'Unknown')

				from #TempOrg r
				left join  [ETL_Local_PROD].[dbo].[AT_Commissioners_Report_Primary_Care_Network_Core_Partners]s on s.PartnerOrganisationCode = r.ODSCode
				WHere r.PCNName is null

 
			update war

					set war.Ward = b.[Health Authority]

			from #TempOrg war
			left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]b on b.PCDS = war.Postcode
 







  






 --truncate table [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care]

		DECLARE 
		@EndDate date,  
		@StartDate Date,
		@WeekEnd date,
		@ReportDate date,
		@WeekStart date,
		@totalWeeks int,
		@WeekCounter int = 0,
		@SnapDateStart Date,
		@SnapDateEnd Date

		set @StartDate = dateadd(week,-4,(select max( WeekStart) from  [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] ))
		--set @StartDate = convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120) --(select min([report day]) from [ETL_Local_PROD].[dbo].[AT_Perssonal_Community_Extract] where [Report week] = (select dateadd(week, -1,max([Report week])) from [ETL_Local_PROD].[dbo].[AT_Perssonal_Community_Extract] ))
 --set @StartDate = '2021-08-30'
		set @EndDate =  convert(Date,dateadd(week,datediff(week,7,getdate()),6))
	 

	 --print @Startdate

	 delete from [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] where weekStart >= @StartDate

		IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
		dROP TABLE #Temp_CTE_Date



		;WITH cte AS 
		(
		select 
		Distinct
		DEnse_RANK() OVER  ( ORDER BY WeekStart ASC)  AS RowNumb,
		WeekStart,
		WeekEnd
		from
		(
		SELECT
		
		 
		--,convert(date,dateadd(week,datediff(week,0,[Calendar Day]),0)) as WeekStart
		 case when [Week Day] = 1 then  DATEADD(DAY, 2 - DATEPART(WEEKDAY, dateadd(day,-1,[Calendar Day])), CAST(dateadd(day,-1,[Calendar Day]) AS DATE)) else DATEADD(DAY, 2 - DATEPART(WEEKDAY, [Calendar Day]), CAST([Calendar Day] AS DATE))end  as WeekStart
		,case when [Week Day] = 1 then [Calendar Day] else dateadd(day,6,DATEADD(DAY, 2 - DATEPART(WEEKDAY, [Calendar Day]), CAST([Calendar Day] AS DATE)))end  as  WeekEnd
		--,convert(date,case when [Week day] = 1 then dateadd(day,6,[Calendar Day]) else  dateadd(day,6,DATEADD(dd, -(DATEPART(dw, [Calendar Day])-1), [Calendar Day]))end)   as WeekEnd
		 
		FROM [ETL_Local_PROD].[dbo].[DIM_Date]
		where [Calendar Day] >= @StartDate and [Calendar Day] < @EndDate
		)d
		)

		--populate temp table with results so they can be used below...
		SELECT 
		a.*,
		cast(null as date) as WeekEnd2,
		null as DEleteFlag
		into #Temp_CTE_Date		
		FROM cte a 
		OPTION (MAXRECURSION 0)

 
	 


		DECLARE @id BIGINT
	SET @id = 0

	UPDATE #Temp_CTE_Date

		SET @id = Rownumb = @id + 1
		update x
		set x.WeekEnd2 = a.WeekEnd
		
	from #Temp_CTE_Date x		
	LEFT JOIN #Temp_CTE_Date a  on a.RowNumb = x.RowNumb + 1


			DECLARE @id2 BIGINT
	SET @id2 = 0

	UPDATE #Temp_CTE_Date

		SET @id2 = Rownumb = @id2 + 1

		update x
		set x.DEleteFlag = case when RowNumb%2 = 0 then 1 else 0 end
		
	from #Temp_CTE_Date x		
 
 
	--populate temp table with results so they can be used below...
 
 delete from #Temp_CTE_Date where DEleteFlag = 1


 update r
		set r.RowNumb = s.RowNumb2

 from #Temp_CTE_Date r
 left join

 (
 select
 WeekStart,
 DEnse_RANK() OVER  ( ORDER BY WeekStart ASC)  AS RowNumb2,
 RowNumb
  from #Temp_CTE_Date 
 )s on s.RowNumb = r.RowNumb



 delete from #Temp_CTE_Date where WeekEnd2 is null

 --select * from #Temp_CTE_Date

 
		 IF OBJECT_ID('tempdb..#TempOrg2') IS NOT NULL 
		dROP TABLE #TempOrg2
		select 
 
		 ParentORg
		,DeptName
		,OrganizationTypeDescription
		,TeamType
		,x.DeptEnterpriseId
		,b.WeekStart 
		,a.WeekEnd2 as WeekEnd
 
		,x.OriginalCCG as Burrough
		 into #TempOrg2
	    FROM #TempOrg x
	    cross join (select distinct WeekEnd2 from #Temp_CTE_Date  )a
		left join #Temp_CTE_Date b on b.WeekEnd2 = a.WeekEnd2 
	    group by
		b.WeekStart ,
		a.WeekEnd2,
		ParentORg,
		DeptName,
		x.DeptEnterpriseId,
		x.OriginalCCG ,
		TeamType,
		OrganizationTypeDescription 









			--select * from #TempOrg2 


		 


	

		 IF OBJECT_ID('tempdb..#TempViews') IS NOT NULL 
		dROP TABLE #TempViews
		SELECT a.[CMC_ID]
      ,[ActionTime] as ActivityDate
	  ,ROW_NUMBER() OVER(partition by a.cmc_id, [actionTime],[ActionType],stafffullname,team,[parent org],teamtype,postcode  ORDER BY activityOrderNo)  as RNumber
	  ,convert(date,DATEADD(month, DATEDIFF(month, 0, convert(date,[ActionTime])), 0)) as ActivityMonth
      ,[ActionType]
      ,[DerivedActionType]
      ,[ActivityOrderNo]
      ,[Comment]
      ,[StaffRegistryId]
      ,[StaffEnterpriseID]
	  ,null as Rowid
 
	  ,a.PatientCCG
	  ,a.PatientSTP
		, coalesce(
		case 
		When TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS') Then 'URGENT CARE'
		when (charindex('mental',TeamType)>0 or charindex('Community',TeamType)>0)  then 'COMMUNITY PROVIDER'
		when TeamType is null and charindex('CCG',[Parent Org]) > 0 and  charindex('GP Practices',[Team])> 0 then 'PRIMARY CARE'
		When TeamType = 'UNKNOWN' then 'Not recorded'
			else TeamType
			end,'Not Recorded'
		)  as OrganizationTypeDescription
      ,[EnterpriseID]
  
      ,[StaffFullName]
      ,[StaffUserID]
      ,[StaffProviderTypeDescription]
   
      ,[Team]
      ,[TeamType]
      ,[Parent Org]
      ,[PostCode]
      ,[OrganisationCCG]  
      ,[OrgSTP]
 
      ,[App]
 into #TempViews
  FROM [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]a
 
  
  
   Where  convert(date,ActionTime) >= @StartDate  and convert(date,ActionTime) <= @EndDate
 --and convert(date,ActionTime)>= '2018-04-01'
 and Team is not null
 and TeamType in ('A&E','999 PROVIDER','111 PROVIDER','OUT OF HOURS')
		
	delete  from #TempViews where RNumber >1 
	
	update p

			set p. Rowid = q.RNumber

	from #TempViews p
	left join (
				select
				CMC_id,
				ActivityDate,
				[ActionType],
				Team,
				ROW_NUMBER() OVER(ORDER BY  cmc_id,ActivityDate,[ActionType],team DESC)  as RNumber
				from #TempViews
		 
				)q ON q.cmc_id = p.cmc_ID 
					and q.ActivityDate = p.ActivityDate
					and q.Team = p.Team
					and q.[ActionType] = p.[ActionType]



 
  --select *  FROM [ETL_Local_PROD].[dbo].[AT_CarePlanViewData]

  --CElys Wood
  		 IF OBJECT_ID('tempdb..#TempOrg3') IS NOT NULL 
		dROP TABLE #TempOrg3

		select
		x.*
		--,coalesce(x.OrganizationTypeDescription,'Not Recorded') as OrganizationTypeDescription
	    ,(select Count(distinct staffenterpriseid) from [ETL_Local_PROD].[dbo].[Logins] d where   d.deptenterpriseid = x.deptenterpriseid and (d.StaffActiveDescription is null OR d.StaffActiveDescription not in ('closed','Retired')) and (Removed is NULL OR CAST(Removed as date)> WeekEnd) AND CAST(Created as Date)<= WeekEnd  ) as  ActiveLogins
 
		,(  
			Select  
			count(distinct staffenterpriseid )  from [ETL_Local_PROD].[dbo].[AT_Logins_Daily] e 
			Where Cast(e.LoginDate as Date)>= x.WeekStart AND Cast(e.LoginDate as Date)<= WeekEnd and e.deptenterpriseid = x.deptenterpriseid   
			--group by e.deptenterpriseid 
		  ) as UsersLoginAtLeastOnceInweek,
		  (
			Select  Count(*)  from [ETL_Local_PROD].[dbo].[AT_Logins_Hourly] e
			Where Cast(e.LoginDate as Date)>= WeekStart AND Cast(e.LoginDate as Date)<= WeekEnd
			and e.deptenterpriseid = x.deptenterpriseid
			--group by e.deptenterpriseid
		 ) as TotalLoginsByOrg,
 
	(select Count(*) from #TempViews ss where (ss.ActivityDate >= WeekStart and ss.ActivityDate <= WeekEnd)and ss.EnterpriseID = x.deptenterpriseid and ss.PatientSTP is not null) as [Total Views]


		into #TempOrg3
		from #TempORg2 x


		--select * from #TempORg3 where TeamType = 'A&E'

		--delete from [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] where WeekEnd >= '2020-08-30'
		--select *
		--into [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care]
		-- from #TempORg3
 insert into [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care]
 select 
 *
FROM
    #TempOrg3 a
WHERE NOT EXISTS (
    SELECT WeekEnd from [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] x
	where x.WeekEnd = a.WeekEnd
)
 
 --update q
	--	set q.DeptName = r.DeptName



 --from [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] q
 --inner join  [#TempOrg3]r on r.DeptEnterpriseId = q.DeptEnterpriseId
  
	
	--select * from #Temp44 
 
   
   delete from  [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] where OrganizationTypeDescription = 'exclude'


   update f

	set f.DeptName = g.Team,
		f.ParentORg = g.Parent

   from [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care]f
   inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]g on g.EnterpriseID = f.DeptEnterpriseId

   
    --select * from  [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] where  charindex('CHELSEA AND WESTMINSTER HOSPITAL', [ParentORg] )>0
   --select * from  [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] where TeamType = '111 PROVIDER' and charindex('111 las',deptname)>0
   --select *   from  [ETL_Local_PROD].[dbo].[AT_Careplan_View_Data_Urgent_Care] order by weekEnd 

   End