USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MASTERBUILD_Commissioners_Extract_All_Tables]    Script Date: 08/03/2020 14:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[AT_MASTERBUILD_Commissioners_Extract_All_Tables] 
-- Amended for PD Upgrade
AS
BEGIN




		DECLARE 
		@EndDate date,  
		@StartDate Date,
		@MonthEnd date, 
		@MonthStart date,
		@TotalMonths int,
		@MonthCounter int = 0,
		@SnapDateStart Date,
		@SnapDateEnd Date


	set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	set @EndDate =  DATEADD(DAY, -(DAY(getdate())), getdate())
	
	set @MonthStart =  dateadd(d,-(day(dateadd(m,-1,getdate()-2))),dateadd(m,-1,getdate()-1)) 
	set @MonthEnd = EOMONTH(@MonthStart)

	 

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT 
	DATEPART(Day,@StartDate)as RowNumb,
	CASE WHEN DATEPART(Day,@StartDate) = 1 THEN @StartDate 
				ELSE DATEADD(Month,DATEDIFF(Month,0,@StartDate)+1,0) END AS myDate
	            
	UNION ALL
	SELECT
	RowNumb+1 as RowNumb,--this is a field to be used with the for loop below
	 DATEADD(Month,1,myDate)

	FROM cte
	WHERE DATEADD(Month,1,myDate) <=  @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT RowNumb,myDate,[Year End Date],[Year Start Date],[Financial Year]
	into #Temp_CTE_Date		
	FROM cte a
	inner join [ETL_Local_PROD].[dbo].[DIM_Date] b on b.[Calendar Day] = convert(date,a.myDate)
	OPTION (MAXRECURSION 0)

	--print @MonthStart 
	--Print @MonthEnd 
	--print @StartDate
	--Print @EndDate

 
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#PDS') IS NOT NULL 
	dROP TABLE #PDS
	 select 
	 [Local PID], 
	 convert(date,[Date of Death]) as [Date of Death] 
	 into #PDS 
	 from [ETL_Local_PROD].[Load].[PDS] 



  IF OBJECT_ID('tempdb..#TempDeath') IS NOT NULL 
	dROP TABLE #TempDeath
 SELECT
		distinct
		[CMC_ID]
		,CCG
		,GP_Practice as Surgery
		,convert(date,Date_Original_Approval) as Date_Original_Approval
      ,coalesce(dod_PDS,convert(date,[DoD]),convert(date,a.[DOD_PDS])) as DOD
      --,[DoD]
      --,[DeathLocation]
     
      ,[PPD1]
	  ,case when DeathLocation = PPD1 then 1 else null end as PPDMatchFlag

	  into #TempDeath
  FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]a
  	left join [#PDS] pds on pds.[Local PID] = a.cmc_id
  where coalesce(convert(date,[DoD]),convert(date,a.[DOD_PDS])) is not null


 
--select top 10 *  FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  

 		IF OBJECT_ID('tempdb..#PatDetSpan') IS NOT NULL 
		dROP TABLE #PatDetSpan
		select
		*
		into #PatDetSpan	
		FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]a


		update x

				set x.DoD_PDS = coalesce(y.[Date of Death] , x.DoD_PDS)

		from #PatDetSpan x
		left join #PDS y on y.[Local PID] = x.CMC_ID


		
		 

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#TempViews') IS NOT NULL 
	dROP TABLE #TempViews
	
	select  
	a.OriginalWorkbaseEId,
	a.cmc_id, 
	null as Rowid,
 
	 convert(date,DATEADD(month, DATEDIFF(month, 0, convert(date,ActivityDate)), 0)) as ActivityMonth,
	 null as EditNumber,
 
	ActivityDate,
	convert(date,Date_Original_Approval) as  Date_Original_Approval,
	 convert(date,DoD_PDS) as DateOfDeath_PDS,
	  cast(null as varchar(2)) as DeathAuditFlag,
    CMCRoleDescription,
	UserType,
	null as ReportIsClinicianFlag,
	pd.[CommissioningArea],

    a.CCG
      ,GP_Practice
	  ,case 
			when  [Access Type] ='Publish'then 'Edit'
			when  [Access Type] like 'view%' then 'view'
 
			when [Access Type] in ('death_date_added','deceased_updated') then 'Death Audit'
 
	End as ActivityType,
 
	a.teamtype,
	cast(null as varchar(max)) as Team,
	 d.OrganizationTypeDescription ,
	activityTeam,
	cast(null as varchar(200)) as DerivedTeamType,
	Cast(null as varchar(500)) as ParentOrg
	--,
	--c.area
	into #TempViews

	from [ETL_Local_PROD].[dbo].[AT_TeamAudit] a

	left join (
				select *, 
				-- force uniqueness MS 29.5.16
				ROW_NUMBER() over (partition by activitydepartmentid order by team) as rn from
				[ETL_Local_PROD].Reporting.DisambiguatedActivityTeams) at
				on a.ActivityEnterpriseId = at.ActivityDepartmentID
				and rn=1
	left join [#PatDetSpan] pd on a.cmc_id = pd.cmc_id
 
	left join(	
				SELECT  
				distinct
				TeamName as [DeptName]
				,TeamType as [OrganizationTypeDescription]
				,[DeptEnterpriseID] 
				FROM [ETL_Local_PROD].[dbo].[AT_OrgArea] 
			)d on d.DeptEnterpriseID = a.OriginalWorkbaseEId
 
  
   Where  ([Access Type] like 'view%'  OR [Access Type] = 'publish' or [Access Type] in ('death_date_added','deceased_updated'))

	and CAST(ActivityDate as Date) >= dateadd(m,-12,@StartDate)
	and CAST(ActivityDate as Date) <= @EndDate

	 update l

		set l.team =  coalesce(case 
		When l.TeamType in ('Out Of Hour GP Provider','111 Provider','Ambulance Trust','A&E','Urgent Care Centre','999 Provider') Then 'Urgent Care'
		when l.TeamType = 'General Practice' then 'PRIMARY CARE'
		when l.TeamType in ('Community Trust','Mental Health Trust') then 'COMMUNITY PROVIDER'
		when l.TeamType ='Acute Trust' then 'SECONDARY CARE'
		when l.TeamType is null and charindex('NHS trust',c.Area ) > 0 then 'SECONDARY CARE'
		when l.TeamType is null and charindex('CCG',c.Area ) > 0 and  charindex('NHS trust',l.OrganizationTypeDescription ) > 0 then 'SECONDARY CARE'
		when l.TeamType is null  and  charindex('GP Practices',c.TEamType )> 0 then 'PRIMARY CARE'
			else l.TeamType
	End,c.Area)



   from #TempViews l
	 
	left join(	
				SELECT  
				distinct
				 TEamType
				,area
				,[DeptEnterpriseID] 
				FROM [ETL_Local_PROD].[dbo].[AT_OrgArea] 
			)c on c.DeptEnterpriseId = l.OriginalWorkbaseEId


	

	update p

			set p. Rowid = q.RNumber

	from #TempViews p
	left join (
				select
				CMC_id,
				ActivityDate,
				ActivityType,
				Team,
				ROW_NUMBER() OVER(ORDER BY  cmc_id,ActivityDate,ActivityType,team DESC)  as RNumber
				from #TempViews
		 
				)q ON q.cmc_id = p.cmc_ID 
					and q.ActivityDate = p.ActivityDate
					and q.Team = p.Team
					and q.ActivityType = p.ActivityType






	update r

			set r. EditNumber = s.PublishNumber

	from #TempViews r
	left join (
				select
				CMC_id,
				rOWid,
				ROW_NUMBER() over (partition by cmc_id order by   ActivityDate) as PublishNumber
				from #TempViews
				WHERE ActivityType = 'eDIT'
				)S ON S.cmc_id = r.cmc_ID 
					and s.Rowid = r.RowID

update x 

		set x.DeathAuditFlag = 1

from #TempViews x
Where cmc_ID in (select distinct CMC_ID from #TempViews where ActivityType = 'Death Audit' and DateOfDeath_PDS is not null)

--select * from #TempViews
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  

	 

	set @TotalMonths = (select MAX(Rownumb) from #Temp_CTE_Date where myDate < convert(date,DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0))) 
	--print @TotalMonths
	 
		--The first part gets all patients added to the waiting List within the month													
	WHILE @MonthCounter <= @TotalMonths BEGIN
		SET @MonthCounter = @MonthCounter + 1

		set @SnapDateStart = (select myDate from  #Temp_CTE_Date where RowNumb = @MonthCounter)
		set @SnapDateEnd = DATEADD(d, -1, DATEADD(m, DATEDIFF(m, 0, @SnapDateStart) + 1, 0))

		 

		IF OBJECT_ID('tempdb..#Temp22') IS NOT NULL 
		dROP TABLE #Temp22
		select 
	
		@SnapDateStart as ReportingMonth
		,@SnapDateEnd as MonthEnd
		,@MonthCounter as MonthCounter
	   ,d.[Financial Year] as ReportingFinYear
	   ,D.Quarter as FinQuarter
	   ,[CommissioningArea]
       ,a.CCG
	   ,b.STP
       ,GP_Practice as GPPractice
	 
	  
	  --Worksheet 1
	  ,sum(case when  ((convert(date,a.DoD_PDS) is null OR convert(date,a.DoD_PDS)  > @SnapDateEnd  )AND convert(date,a.Date_Original_Approval) <= @SnapDateEnd ) then 1 else null end) as [Unique Records Alive at Month End]
	  ,sum(case when convert(date,a.Date_Original_Approval) >= @SnapDateStart and convert(date,a.Date_Original_Approval) <= @SnapDateEnd then 1 else null end) as [Unique record published In Month]
	  ,sum(case when  ((convert(date,a.DoD_PDS) is null OR convert(date,a.DoD_PDS)>= @SnapDateStart  )AND convert(date,a.Date_Original_Approval) <= @SnapDateEnd ) then 1 else null end) as [Unique Records Alive in month]
	  ,(Select 
	  count(distinct cmc_ID) 
	  from #TempViews z 
	  where 
	  (
	  (z.DateOfDeath_PDS  > @SnapDateEnd  OR z.DateOfDeath_PDS is null )
	 and 
	  convert(date,z.Date_Original_Approval) <= @SnapDateEnd 
	  )
	  and 
	  (
	  z.ActivityDate >= Dateadd(m,-6,@SnapDateStart)
	 
	  )
	  and z.ActivityType in ('Edit','Publish')
	  and z.CommissioningArea = a.CommissioningArea 
	  and z.CCG = a.ccg 
	  and z.GP_Practice = a.GP_Practice
	  )  as [Live CMC with review in last 6 months]
	 ,(Select 
	  count(distinct cmc_ID) 
	  from #TempViews z 
	  where 
	  (
	  (z.DateOfDeath_PDS  > @SnapDateEnd  OR z.DateOfDeath_PDS is null )
	 and 
	  convert(date,z.Date_Original_Approval) <= @SnapDateEnd 
	  )
	  and 
	  (
	  z.ActivityDate >= Dateadd(m,-12,@SnapDateStart)
	 
	  )
	  and z.ActivityType in ('Edit','Publish')
	  and z.CommissioningArea = a.CommissioningArea 
	  and z.CCG = a.ccg 
	  and z.GP_Practice = a.GP_Practice
	  )  as [Live CMC with review in last 12 Months]	
	  ,(Select count(distinct cmc_ID) from #TempViews x where Team = 'Urgent Care' and  ActivityType = 'View' and  ActivityDate  >= @SnapDateStart and ActivityDate <= @SnapDateEnd and x.CommissioningArea = a.CommissioningArea and x.CCG = a.ccg and x.GP_Practice = a.GP_Practice) as [Unique records viewed By Urgent Care Services]
	  ,(Select count(*) from #TempViews y where Team = 'Urgent Care' and  ActivityType = 'View' and ActivityDate  >= @SnapDateStart and ActivityDate <= @SnapDateEnd  and y.CommissioningArea = a.CommissioningArea and y.CCG = a.ccg and y.GP_Practice = a.GP_Practice) as [Total Views by Urgent Care Services]

	
	  --,(select  count(distinct CMC_ID)  from Reporting.TeamAudit q where q.[Access Type] like 'revise%' and q.ActivityTeam = a.surgery and q.CCG = a.ccg and ActivityDate  >= @SnapDateStart and ActivityDate <= @SnapDateEnd and q.TeamType = 'Acute Trust'  ) as AcuteTertiaryUniquePlansEdited
	  --,(select  count(CMC_ID)  from Reporting.TeamAudit q where q.[Access Type] like 'revise%' and q.ActivityTeam = a.surgery and q.CCG = a.ccg and ActivityDate  >= @SnapDateStart and ActivityDate <= @SnapDateEnd and q.TeamType = 'Acute Trust'  ) as AcuteTertiaryTotalNumberOfEdits

	  ,sum(case when  ((convert(date,a.DoD_PDS)  >= @SnapDateStart and convert(date,a.DoD_PDS) <= @SnapDateEnd)AND convert(date,a.Date_Original_Approval) <= @SnapDateEnd )  then 1 else null end) as [Total Recorded as Deceased In-Month]--InMonthDeath
	  --,(Select  count(distinct cmc_ID)   from #TempViews zz   where (  DateOfDeath_PDS  >= @SnapDateStart  and  DateOfDeath_PDS <= @SnapDateEnd )  and zz.CommissioningArea = a.CommissioningArea   and zz.CCG = a.ccg   and zz.GPPractice = a.surgery) as InMonthDeathCompare
	 
	 --1 Month----------------------------------------------------
	  ,(Select 
	  count(distinct cmc_ID) 
	  from #TempViews z 
	  where 
	  (
	  z.DateOfDeath_PDS  >= @SnapDateStart 
	  and 
	  z.DateOfDeath_PDS <= @SnapDateEnd 
	  )
	  and 
	  (
	  z.ActivityDate >= Dateadd(m,-1,DateOfDeath_PDS)
	  and 
	  z.ActivityDate <= z.DateOfDeath_PDS
	  )
	  and z.CommissioningArea = a.CommissioningArea 
	  and z.CCG = a.ccg 
	  and z.GP_Practice = a.GP_Practice
	  and z.ActivityType = 'view'
	  and Team = 'Urgent Care'
	  ) as [Unique Records Viewed By Urgent Care Services within 1 Month Prior to Death Date]--Column 4: Number of unique CMC records where the person has been recorded as deceased during the month, that were viewed by Urgent Care services in the last month before the person was recorded on CMC as being deceased
	 

	  ,(Select 
	  count(*) 
	  from #TempViews w 
	  where 
	  (
	  w.DateOfDeath_PDS  >= @SnapDateStart 
	  and 
	  w.DateOfDeath_PDS <= @SnapDateEnd 
	  )
	  and 
	  (
	  w.ActivityDate >= Dateadd(m,-1,w.DateOfDeath_PDS)
	  and 
	  w.ActivityDate <= w.DateOfDeath_PDS
	  )
	  and w.CommissioningArea = a.CommissioningArea 
	  and w.CCG = a.ccg 
	  and w.GP_Practice = a.GP_Practice
	  and w.ActivityType = 'view'
	  and Team = 'Urgent Care'
	  ) as [Total Views by Urgent Care Services within 1 month prior to Death Date] --Column 5: Number of times the CMC records were viewed by urgent care services in the last month before the person was recorded on CMC or PDS as being deceased.
 --3Month------------------------------------------------------------------------------------------
 ,(Select 
	  count(distinct cmc_ID) 
	  from #TempViews z 
	  where 
	  (
	  z.DateOfDeath_PDS  >= @SnapDateStart 
	  and 
	  z.DateOfDeath_PDS <= @SnapDateEnd 
	  )
	  and 
	  (
	  z.ActivityDate >= Dateadd(m,-3,DateOfDeath_PDS)
	  and 
	  z.ActivityDate <= z.DateOfDeath_PDS
	  )
	  and z.CommissioningArea = a.CommissioningArea 
	  and z.CCG = a.ccg 
	  and z.GP_Practice = a.GP_Practice
	  and z.ActivityType = 'view'
	  and Team = 'Urgent Care'
	  ) as [Unique Records Viewed by Urgent Care Services within 3 Months Prior to Death Date] --Column 6: Number of unique CMC records where the person has been recorded as deceased during the period, that were viewed by urgent care services in the last 3 months before the person was recorded on CMC as being deceased.
	 

	  ,(Select 
	  count(*) 
	  from #TempViews w 
	  where 
	  (
	  w.DateOfDeath_PDS  >= @SnapDateStart 
	  and 
	  w.DateOfDeath_PDS <= @SnapDateEnd 
	  )
	  and 
	  (
	  w.ActivityDate >= Dateadd(m,-3,w.DateOfDeath_PDS)
	  and 
	  w.ActivityDate <= w.DateOfDeath_PDS
	  )
	  and w.CommissioningArea = a.CommissioningArea 
	  and w.CCG = a.ccg 
	  and w.GP_Practice = a.GP_Practice
	  and w.ActivityType = 'view'
	  and Team = 'Urgent Care'
	  ) as [Total Views by Urgent Care Services within 3 Months prior to Death Date] --Column 7: Number of times the CMC records were viewed by urgent care services in the last 3 months before the person was recorded on CMC or PDS as being deceased.
 -----------------------------------------------------------------------------------------------------
 ,(Select 
	  count(distinct cmc_ID) 
	  from #TempViews z 
	  where 
	  (
	  z.DateOfDeath_PDS  >= @SnapDateStart 
	  and 
	  z.DateOfDeath_PDS <= @SnapDateEnd 
	  )
	 
	  and z.CommissioningArea = a.CommissioningArea 
	  and z.CCG = a.ccg 
	  and z.GP_Practice = a.GP_Practice
	  and z.DeathAuditFlag = 1
	  ) as [Death Audit Completed] --Number of unique CMC records where the person, recorded as being deceased on either CMC or PDS during the reporting period, where an after death audit was completed on CMC.

 
 -- Column 9: Number of unique CMC records, where the person was recorded as deceased on either CMC or PDS during the reporting period, who achieved their preferred place of death.
	,(select count(*) from #TempDeath xx where xx.CCG = a.CCG and xx.surgery = a.GP_Practice and xx.DOD >= @SnapDateStart and xx.DOD <= @SnapDateEnd and xx.Date_Original_Approval  <= @SnapDateEnd and xx.PPDMatchFlag = 1) as [Preferred Place of Death Achieved]

	--select * from #TempDeath  

	  into #Temp22
	  FROM [#PatDetSpan]a
	  left JOIN Reference.STP b on b.CCGLONGNAME = a.CCG
	  left join [ETL_Local_PROD].[dbo].[DIM_Date]d on d.[Calendar Day] = @SnapDateStart
	  
 --select * from [ETL_Local_PROD].[dbo].[DIM_Date]

		group by
		d.[Financial Year],
	   D.Quarter ,
		[CommissioningArea]
		,b.STP
		,a.CCG
		,GP_Practice




	IF @MonthCounter = 1
	begin
	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]

	select * into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3] from #Temp22
	end
	ELSE
	begin
	insert into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]  

	select * from #Temp22
	end


	END

	delete from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3] where ReportingMonth is null

	--select * from #Temp11 
	 	--select * from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3] 
		--select top 5* from reporting.GPInformation
		--select top 5* FROM [ETL_Local_PROD].[dbo].[Cache-PatientDetailSpan]
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------	
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 






IF OBJECT_ID('tempdb..#TempOrg') IS NOT NULL 
	dROP TABLE #TempOrg
 select 
 distinct 
 a.DeptName,
 a.[DeptODSCode],
case when charindex('CCG',a.DeptName) > 0 then 'CCG' else     c.TeamType end as [OrganizationTypeDescription],
a.DeptEnterpriseId
 into #TempOrg 
 from Logins a
 --left join
	--		(

	--		SELECT distinct DeptEnterpriseID
 --     ,[OrganizationTypeDescription]
    
 -- FROM [ETL_Local_PROD].[dbo].[Department]
	--		)b on b.DeptEnterpriseID = a.DeptEnterpriseId
 left join  [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]c on c.ActivityTeam = a.DeptName
 where StaffActiveDescription = 'Active'
 --select distinct DeptName from  #TempOrg
--select top 10 *   from  Logins
 --select   *   from #TempOrg where [OrganizationTypeDescription] is null
 --select  *   from Reference.STP
 --select   *   from[ETL_Local_PROD].[dbo].[OrgArea]
 --select top 10 *   FROM [ETL_Local_PROD].[dbo].[Cache-PatientDetailSpan]
 --select distinct DeptName from  #TempOrg where deptName not in (select ActivityTeam from [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]) 

 --select * from [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]
 --drop table [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------	
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 DECLARE 
		@EndDate1 date,  
		@StartDate1 Date,
		@MonthEnd1 date, 
		@MonthStart1 date,
		@TotalMonths1 int,
		@MonthCounter1 int = 0,
		@SnapDateStart1 Date,
		@SnapDateEnd1 Date


	set @StartDate1 = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	set @EndDate1 =  DATEADD(DAY, -(DAY(getdate())), getdate())
	
	set @MonthStart1 =  dateadd(d,-(day(dateadd(m,-1,getdate()-2))),dateadd(m,-1,getdate()-1)) 
	set @MonthEnd1 = EOMONTH(@MonthStart1)
 
	set @TotalMonths1 = (select MAX(Rownumb) from #Temp_CTE_Date where myDate < convert(date,DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0))) 

 

		
	WHILE @MonthCounter1 <= @TotalMonths1 BEGIN
		SET @MonthCounter1 = @MonthCounter1 + 1

		set @SnapDateStart1 = (select myDate from  #Temp_CTE_Date where RowNumb = @MonthCounter1)
		set @SnapDateEnd1 = DATEADD(d, -1, DATEADD(m, DATEDIFF(m, 0, @SnapDateStart1) + 1, 0))

		IF OBJECT_ID('tempdb..#Temp33') IS NOT NULL 
		dROP TABLE #Temp33
		select 
		@SnapDateStart1 as ReportingMonth
		,@SnapDateEnd1 as MonthEnd
		,@MonthCounter1 as MonthCounter
		   ,d.[Financial Year] as ReportingFinYear
	   ,D.Quarter as FinQuarter
		,DeptName
		,x.DeptEnterpriseId
		,coalesce(OrganizationTypeDescription,'Not Recorded') as OrganizationTypeDescription
	    ,(select Count(distinct staffenterpriseid) from Logins d where   d.deptenterpriseid = x.deptenterpriseid and (Removed is NULL OR CAST(Removed as date)> @SnapDateEnd1) AND CAST(Created as Date)<= @SnapDateEnd1  ) as  ActiveLogins
 
		,(  
			Select  
			count(distinct staffenterpriseid )  from LogonsByDay e 
			Where Cast(e.LoginDate as Date)>= @SnapDateStart1 AND Cast(e.LoginDate as Date)<= @SnapDateEnd1 and e.deptenterpriseid = x.deptenterpriseid
			--group by e.deptenterpriseid 
		  ) as UsersLoginAtLeastOnceInMonth,
		  (
			Select  Count(*)  from LogonsByHour e
			Where Cast(e.LoginDate as Date)>= @SnapDateStart1 AND Cast(e.LoginDate as Date)<= @SnapDateEnd1
			and e.deptenterpriseid = x.deptenterpriseid
			--group by e.deptenterpriseid
		 ) as TotalLoginsByOrg,
		  (
		select  Count(distinct d.staffenterpriseid)  
		 from
		 (
			Select dd.deptenterpriseid, dd.staffenterpriseid, COUNT(*) as TotalLogins from LogonsByHour dd
			Where Cast(dd.LoginDate as Date)>= @SnapDateStart1 AND Cast(dd.LoginDate as Date)<= @SnapDateEnd1
			Group by   dd.deptenterpriseid, dd.staffenterpriseid
		)d 
		Where d.TotalLogins >= 10
		and d.deptenterpriseid = x.DeptEnterpriseId
		--group by deptenterpriseid
	) as Over10LoginUsers



	    into #Temp33
	    FROM #TempOrg x
		left join [ETL_Local_PROD].[dbo].[DIM_Date]d on d.[Calendar Day] = @SnapDateStart1
	    group by
		x.DeptName,
		x.DeptEnterpriseId,
		OrganizationTypeDescription,
		d.[Financial Year] ,
	   D.Quarter 

	IF @MonthCounter1 = 1
	begin
	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_4]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_4]

	select * into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_4] from #Temp33
	end
	ELSE
	begin
	insert into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_4]  
	select * from #Temp33
	end


	END



	--select * from #Temp44 
	delete v from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_4] v
	inner join
	(

	select
	Deptname,
	DeptEnterpriseId,
	sum(ActiveLogins) as AL,
	sum(UsersLoginAtLeastOnceInMonth) as UIM,
	sum(TotalLoginsByOrg) as TLB,
	sum(Over10LoginUsers) as OLU
	from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_4] 

	group by
	Deptname,
	DeptEnterpriseId
	) a on a.Deptname = v.DeptName
	and a.DeptEnterpriseId = v.DeptEnterpriseId
	where (a.AL = 0 and a.OLU = 0 and a.TLB = 0 and a.UIM = 0)

		--select * from #Temp11 
		--select * from #Temp44
		
			delete from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_4] where ReportingMonth is null

	
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 
 DECLARE 
		@EndDate2 date,  
		@StartDate2 Date,
		@MonthEnd2 date, 
		@MonthStart2 date,
		@TotalMonths2 int,
		@MonthCounter2 int = 0,
		@SnapDateStart2 Date,
		@SnapDateEnd2 Date


	set @StartDate2 = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
	set @EndDate2 =  DATEADD(DAY, -(DAY(getdate())), getdate())
	
	set @MonthStart2 =  dateadd(d,-(day(dateadd(m,-1,getdate()-2))),dateadd(m,-1,getdate()-1)) 
	set @MonthEnd2 = EOMONTH(@MonthStart2)
 
	set @TotalMonths2 = (select MAX(Rownumb) from #Temp_CTE_Date where myDate < convert(date,DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0))) 

  

	--print @StartDate2
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
	


	IF OBJECT_ID('tempdb..#TempCCG') IS NOT NULL 
	dROP TABLE #TempCCG
	
	select 
ROW_NUMBER() over (partition by CMC_ID order by ActivityDate) as rn,
 cmc_id,
ActivityDate as Date_Original_Approval,
a.CCG as DerivedCreationCCG,
a.ActivityTeam as OriginalApproverWorkbase,
coalesce(c.TeamType,'Unknown') as OriginalWorkbaseArea,
--c.parentOrg,
case when charindex('Cross Border',a.CCG)>0 then 'Cross Border' else   coalesce(b.STP,'Unknown') end as CommissioningArea
 
 into #TempCCG

from [ETL_Local_PROD].[dbo].[AT_TeamAudit]  a
 left JOIN Reference.STP b on b.CCGLONGNAME = a.CCG
 left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]c on c.ActivityTeam = a.ActivityTeam
 where [Access Type] = 'Publish'
and ActivityDate >= @StartDate2

 Delete from #TempCCG where rn <> 1

---------------------------------------------------------------------------------------------------------------------------------------------------------------------
  	IF OBJECT_ID('tempdb..#TempCommArea') IS NOT NULL 
	dROP TABLE #TempCommArea
  
    select 
	distinct 
	CommissioningArea, 
	CCG 
	into #TempCommArea
	FROM [#PatDetSpan]
 

--select * from #TempViews
--select * from #TempCCG
--select distinct OriginalWorkBaseArea from #TempCCG
--select distinct team from #TempViews
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


 
WHILE @MonthCounter2 <= @TotalMonths2 BEGIN
		SET @MonthCounter2 = @MonthCounter2 + 1

		set @SnapDateStart2 = (select myDate from  #Temp_CTE_Date where RowNumb = @MonthCounter2)
		set @SnapDateEnd2 = DATEADD(d, -1, DATEADD(m, DATEDIFF(m, 0, @SnapDateStart2) + 1, 0))

		IF OBJECT_ID('tempdb..#Temp55') IS NOT NULL 
		dROP TABLE #Temp55
		select 
		@SnapDateStart2 as ReportingMonth
		,@SnapDateEnd2 as MonthEnd
		,@MonthCounter2 as MonthCounter
		 ,d.[Financial Year] as ReportingFinYear
	   ,D.Quarter as FinQuarter
	   ,e.CommissioningArea
		,a.[CommissioningArea] as STP
		,DerivedCreationCCG as CCG
		--,OriginalApproverWorkbase as Site
  --Worksheet 2
	  ,sum(case when convert(date,a.Date_Original_Approval) >= @SnapDateStart2 and convert(date,a.Date_Original_Approval) <= @SnapDateEnd2 and OriginalWorkBaseArea = 'PRIMARY CARE' and DerivedCreationCCG = a.DerivedCreationCCG then 1 else null end) as [GP New CMC] --Unique record published by GP In Month
	  ,(select count(distinct CMC_ID)  from #TempViews q where q.ActivityType = 'Edit' and EditNumber > 1 and team = 'PRIMARY CARE' and q.CCG = a.DerivedCreationCCG and ActivityMonth = @SnapDateStart2 ) as [GP Unique Record Edits] --GP Unique Plans Edited
	  ,(select count(CMC_ID)  from #TempViews q where q.ActivityType = 'Edit' and EditNumber > 1 and team = 'PRIMARY CARE' and q.CCG = a.DerivedCreationCCG and ActivityMonth = @SnapDateStart2 ) as [GP Total Edits] --GP Total Number Of Edits

	  ,sum(case when convert(date,a.Date_Original_Approval) >= @SnapDateStart2 and convert(date,a.Date_Original_Approval) <= @SnapDateEnd2 and OriginalWorkBaseArea = 'SECONDARY CARE' and DerivedCreationCCG = a.DerivedCreationCCG then 1 else null end) as [Acute New CMC] --Unique record published by Acute/Tertiary Services
	  ,(select count(distinct CMC_ID)  from #TempViews q where q.ActivityType = 'Edit' and EditNumber > 1 and team = 'SECONDARY CARE' and q.CCG = a.DerivedCreationCCG and ActivityMonth = @SnapDateStart2 ) as [Acute Unique Record Edits] --Acute/Tertiary Services Unique Plans Edited
	  ,(select count(CMC_ID)  from #TempViews q where q.ActivityType = 'Edit' and EditNumber > 1 and team = 'SECONDARY CARE' and q.CCG = a.DerivedCreationCCG and ActivityMonth = @SnapDateStart2 ) as [Acute Total Edits] --Acute/Tertiary Services Total Number Of Edits

	  ,sum(case when convert(date,a.Date_Original_Approval) >= @SnapDateStart2 and convert(date,a.Date_Original_Approval) <= @SnapDateEnd2 and OriginalWorkBaseArea = 'COMMUNITY PROVIDER' and DerivedCreationCCG = a.DerivedCreationCCG then 1 else null end) as [Community Services New CMC] --Unique record published by Community Services
	  ,(select count(distinct CMC_ID)  from #TempViews q where q.ActivityType = 'Edit' and EditNumber > 1 and team = 'COMMUNITY PROVIDER' and q.CCG = a.DerivedCreationCCG and ActivityMonth = @SnapDateStart2 ) as [Community Services Unique Record Edits]--Community Services Unique Plans Edited
	  ,(select count(CMC_ID)  from #TempViews q where q.ActivityType = 'Edit' and EditNumber > 1 and team = 'COMMUNITY PROVIDER' and q.CCG = a.DerivedCreationCCG and ActivityMonth = @SnapDateStart2 ) as [Community Service Total Edits]--Community Services Total Number Of Edits
	 
	  ,sum(case when convert(date,a.Date_Original_Approval) >= @SnapDateStart2 and convert(date,a.Date_Original_Approval) <= @SnapDateEnd2 and OriginalWorkBaseArea = 'Hospice' and DerivedCreationCCG = a.DerivedCreationCCG then 1 else null end) as [Hospice New CMC] --Unique record published by Hospice
	  ,(select count(distinct CMC_ID)  from #TempViews q where q.ActivityType = 'Edit' and EditNumber > 1 and team = 'Hospice' and q.CCG = a.DerivedCreationCCG and ActivityMonth = @SnapDateStart2 ) as [Hospice Unique Record Edits]--Hospice Unique Plans Edited
	  ,(select count(CMC_ID)  from #TempViews q where q.ActivityType = 'Edit' and EditNumber > 1 and team = 'Hospice' and q.CCG = a.DerivedCreationCCG and ActivityMonth = @SnapDateStart2 ) as [Hospice Total Edits]--Hospice Total Number Of Edits
		into #Temp55

		FROM #TempCCG a
		left join [ETL_Local_PROD].[dbo].[DIM_Date]d on d.[Calendar Day] = @SnapDateStart2  
		left join #TempCommArea e on e.CCG = a.DerivedCreationCCG
	    group by
	 
		  d.[Financial Year],
		  D.Quarter, 
		  e.CommissioningArea,
		a.[CommissioningArea],
		DerivedCreationCCG

	IF @MonthCounter2 = 1
	begin
	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]

	select * into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2] from #Temp55
	end
	ELSE
	begin
	insert into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]  

	select * from #Temp55
	end


	END

	delete  from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2] where charindex('CCG',ccg) = 0
   delete from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2] where ReportingMonth is null
	--select * from #TempCCG where DerivedCreationCCG = 'NHS CAMDEN CCG'


 

 --UPDATE SNAPSHOT TABLES--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 
 /**

			--Use this to overwrite a snapshot month if desired


			DECLARE 
		@EndDate date 

 
	set @EndDate =  DATEADD(DAY, -(DAY(getdate())), getdate())
 


	DELETE FROM [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_RecordAudit_DeathAudit]		WHERE SnapShotDate = @EndDate;		
	DELETE FROM [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_System_Users]				WHERE SnapShotDate = @EndDate;
	DELETE FROM [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_Pub_RevisionAudit]			WHERE SnapShotDate = @EndDate;

  **/

  
  


		INSERT INTO [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_RecordAudit_DeathAudit] 
			SELECT 
				   @EndDate as SnapShotDate
				  ,[ReportingMonth]
				  ,[MonthEnd]
				  ,[MonthCounter]
				  ,[ReportingFinYear]
				  ,[FinQuarter]
				  ,[CommissioningArea]
				  ,[CCG]
				  ,[STP]
				  ,[GPPractice]
				  ,[Unique Records Alive at Month End] as 'UniqueRecordsAliveAtMonthEnd'
				  ,[Unique record published In Month] as 'UniqueRecordsPublishedInMonth'
				  ,[Unique Records Alive in month] as 'UniqueRecordsAliveInMonth'
				  ,[Live CMC with review in last 6 months] as 'LiveCMCWithReviewInLast6Months'
				  ,[Live CMC with review in last 12 Months] as 'LiveCMCWithReviewInLast12Months'
				  ,[Unique records viewed By Urgent Care Services] as 'UniqueRecordsViewedByUrgentCareServices'
				  ,[Total Views by Urgent Care Services] as 'TotalViewsByUrgentCareServices'
				  ,[Total Recorded as Deceased In-Month] as 'TotalRecordedAsDeceasedInMonth'
				  ,[Unique Records Viewed By Urgent Care Services within 1 Month Prior to Death Date] as 'UniqueRecordsViewedByUrgentCareServicesWithin1MonthPriorToDeathDate'
				  ,[Total Views by Urgent Care Services within 1 month prior to Death Date] as 'TotalViewsByUrgentCareServicesWithin1MonthPriorToDeathDate'
				  ,[Unique Records Viewed by Urgent Care Services within 3 Months Prior to Death Date] as 'UniqueRecordsViewedByUrgentCareServicesWithin3MonthsPriorToDeathDate'
				  ,[Total Views by Urgent Care Services within 3 Months prior to Death Date] as 'TotalViewsByUrgentCareServicesWithin3MonthsPriorToDeathDate'
				  ,[Death Audit Completed] as 'DeathAuditCompleted'
				  ,[Preferred Place of Death Achieved] as 'PreferredPlaceofDeathAchieved' 
				
				  from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]
		EXCEPT
			SELECT * from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_RecordAudit_DeathAudit] 


		INSERT INTO [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_System_Users]
			SELECT @EndDate as SnapShotDate,*  from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_4]
		EXCEPT
			SELECT * from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_System_Users]


		INSERT INTO [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_Pub_RevisionAudit]
			SELECT 
				   @EndDate as SnapShotDate
				  ,[ReportingMonth]
				  ,[MonthEnd]
				  ,[MonthCounter]
				  ,[ReportingFinYear]
				  ,[FinQuarter]
				  ,[CommissioningArea]
				  ,[STP]
				  ,[CCG]
				  ,[GP New CMC] as 'GPNewCMC'
				  ,[GP Unique Record Edits] as 'GPUniqueRecordEdits'
				  ,[GP Total Edits] as 'GPTotalEdits'
				  ,[Acute New CMC] as 'AcuteNewCMC'
				  ,[Acute Unique Record Edits] as 'AcuteUniqueRecordEdits'
				  ,[Acute Total Edits] as 'AcuteTotalEdits'
				  ,[Community Services New CMC] as 'CommunityServicesNewCMC'
				  ,[Community Services Unique Record Edits] as 'CommunityServicesUniqueRecordEdits'
				  ,[Community Service Total Edits] as 'CommunityServiceTotalEdits'
				  ,[Hospice New CMC] as 'HospiceNewCMC'
				  ,[Hospice Unique Record Edits] as 'HospiceUniqueRecordEdits'
				  ,[Hospice Total Edits] as 'HospiceTotalEdits'
				 
      
			  FROM [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]
		EXCEPT
			SELECT * from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Archive_Pub_RevisionAudit]





-- Fin Year Comparator


 
 DECLARE 
		@CurrentMonthEnd date,
		@CurrentFinYEar Date,
		@CurrentMonthEnd1 date,
		@CurrentFinYear1 date,
		@CurrentMonthEnd2 date,
		@CurrentFinYear2 date,
		@CurrentMonthEnd3 date,
		@SQL nvarchar (max),
		@SQL2 nvarchar (max),
		@FinColText varchar(10),
		@FinColText1 varchar(10),
		@FinColText2 varchar(10)



			set @CurrentMonthEnd = (select convert(date,Mydate) as MyDate from #Temp_CTE_Date where Rownumb = (select MAX(Rownumb) from #Temp_CTE_Date where myDate < convert(date,DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0)))) 
			set @CurrentMonthEnd1 = DATEADD(year,-1,@CurrentMonthEnd)
			set @CurrentMonthEnd2 = DATEADD(year,-2,@CurrentMonthEnd)
			set @CurrentMonthEnd3 = DATEADD(year,-3,@CurrentMonthEnd)
			set @CurrentFinYEar = (select [Year Start Date]  from #Temp_CTE_Date where mydate = @CurrentMonthEnd)
			set @CurrentFinYEar1 = DATEADD(Year,-1,@CurrentFinYEar)
			set @CurrentFinYEar2 = DATEADD(Year,-2,@CurrentFinYEar)
			set @FinColText = (select [Financial Year] from #Temp_CTE_Date where MyDate = @CurrentMonthEnd)
			set @FinColText1 = (select [Financial Year] from #Temp_CTE_Date where MyDate = @CurrentMonthEnd1)
			set @FinColText2 = (select [Financial Year] from #Temp_CTE_Date where MyDate = @CurrentMonthEnd2)

			--Print @CurrentFinYEar
			--print @CurrentFinYEar1
			--print @CurrentMonthEnd
	
	
 /**
  


**/

IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Commissioner_Report_FY_YTD_Data_Newly_Publish]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_FY_YTD_Data_Newly_Publish]



	select	@SQL	= '
	 
	select 
		Distinct
       [CommissioningArea]
      ,[CCG]
      ,[STP]
      ,[GPPractice]
	 ,(
		 select 
		 sum(b.[Unique record published In Month]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]b
 
		 Where convert(date,b.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,b.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and b.CommissioningArea = a.CommissioningArea
	and b.ccg = a.ccg
	and b.STP = a.STP 
	and b.GPPractice = a.GPPractice 
	) as [Published YTD: '+ cast(@FinColText as varchar(8))+']

	 ,(
		 select 
		 sum(b.[Unique record published In Month]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]b
 
		 Where convert(date,b.ReportingMonth) >= '''+ cast(@CurrentFinYEar1 AS VARCHAR(30)) + ''' and convert(date,b.ReportingMonth) <= ''' +cast( @CurrentMonthEnd1 AS VARCHAR(30)) + '''
	and b.CommissioningArea = a.CommissioningArea
	and b.ccg = a.ccg
	and b.STP = a.STP 
	and b.GPPractice = a.GPPractice 
	) as [Published YTD: '+ cast(@FinColText1 as varchar(8))+']
,(
		 select 
		 sum(b.[Unique record published In Month]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]b
 
		 Where convert(date,b.ReportingMonth) >= '''+ cast(@CurrentFinYEar2 AS VARCHAR(30)) + ''' and convert(date,b.ReportingMonth) <= ''' +cast( @CurrentMonthEnd2 AS VARCHAR(30)) + '''
	and b.CommissioningArea = a.CommissioningArea
	and b.ccg = a.ccg
	and b.STP = a.STP 
	and b.GPPractice = a.GPPractice 
	) as [Published YTD: '+ cast(@FinColText2 as varchar(8))+']

	----------------------------------------------------------------------------------------------------------------------------------------------------------
	-- YEar Totals
	----------------------------------------------------------------------------------------------------------------------------------------------------------
,(
		 select 
		 sum(b.[Unique record published In Month]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]b
 
		 Where convert(date,b.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,b.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and b.CommissioningArea = a.CommissioningArea
	and b.ccg = a.ccg
	and b.STP = a.STP 
	and b.GPPractice = a.GPPractice 
	) as [Published Total FY: '+ cast(@FinColText as varchar(8))+']

	 ,(
		 select 
		 sum(b.[Unique record published In Month]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]b
 
		 Where convert(date,b.ReportingMonth) >= '''+ cast(@CurrentFinYEar1 AS VARCHAR(30)) + ''' and convert(date,b.ReportingMonth) < ''' +cast( @CurrentFinYEar AS VARCHAR(30)) + '''
	and b.CommissioningArea = a.CommissioningArea
	and b.ccg = a.ccg
	and b.STP = a.STP 
	and b.GPPractice = a.GPPractice 
	) as [Published Total FY: '+ cast(@FinColText1 as varchar(8))+']
,(
		 select 
		 sum(b.[Unique record published In Month]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]b
 
		 Where convert(date,b.ReportingMonth) >= '''+ cast(@CurrentFinYEar2 AS VARCHAR(30)) + ''' and convert(date,b.ReportingMonth) < ''' +cast( @CurrentFinYEar1 AS VARCHAR(30)) + '''
	and b.CommissioningArea = a.CommissioningArea
	and b.ccg = a.ccg
	and b.STP = a.STP 
	and b.GPPractice = a.GPPractice 
	) as [Published Total FY: '+ cast(@FinColText2 as varchar(8))+']

		----------------------------------------------------------------------------------------------------------------------------------------------------------
	-- NEw Published + Edits by TEam Type (WorkSheet 2) YEar Total
	----------------------------------------------------------------------------------------------------------------------------------------------------------
	into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_FY_YTD_Data_Newly_Publish]
 
 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_1_3]a
  where a.stp is not null
		group by
		[CommissioningArea]
      ,[CCG]
      ,[STP]
      ,[GPPractice]

	  '
	  --print	@SQL

exec	(@SQL)





IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Commissioner_Report_FY_YTD_Data_Newly_Publish_By_TeamType]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_FY_YTD_Data_Newly_Publish_By_TeamType]


	select	@SQL2	= '
	select
	distinct
	[CommissioningArea]
	,[STP]
	,[CCG]

			----------------------------------------------------------------------------------------------------------------------------------------------------------
	-- NEw  
	----------------------------------------------------------------------------------------------------------------------------------------------------------
	,(
		 select 
		 sum([GP New CMC]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]c
 
		 Where convert(date,c.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,c.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and c.CommissioningArea = a.CommissioningArea
	and c.ccg = a.ccg
	and c.STP = a.STP 
 
	) as [GP New CMC Total FY: '+ cast(@FinColText as varchar(8))+']
	,(
		 select 
		 sum([Acute New CMC]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]c
 
		 Where convert(date,c.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,c.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and c.CommissioningArea = a.CommissioningArea
	and c.ccg = a.ccg
	and c.STP = a.STP 
 
	) as [Acute New CMC Total FY: '+ cast(@FinColText as varchar(8))+']
	,(
		 select 
		 sum([Community Services New CMC]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]c
 
		 Where convert(date,c.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,c.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and c.CommissioningArea = a.CommissioningArea
	and c.ccg = a.ccg
	and c.STP = a.STP 
 
	) as [Community Services New CMC Total FY: '+ cast(@FinColText as varchar(8))+']
	,(
		 select 
		 sum([Hospice New CMC]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]c
 
		 Where convert(date,c.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,c.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and c.CommissioningArea = a.CommissioningArea
	and c.ccg = a.ccg
	and c.STP = a.STP 
 
	) as [Hospice New CMC Total FY: '+ cast(@FinColText as varchar(8))+']
			----------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Edits
	----------------------------------------------------------------------------------------------------------------------------------------------------------
	,(
		 select 
		 sum([GP Unique Record Edits]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]c
 
		 Where convert(date,c.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,c.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and c.CommissioningArea = a.CommissioningArea
	and c.ccg = a.ccg
	and c.STP = a.STP 
 
	) as [GP Unique Records Edits Total FY: '+ cast(@FinColText as varchar(8))+']
	,(
		 select 
		 sum([Acute Unique Record Edits]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]c
 
		 Where convert(date,c.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,c.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and c.CommissioningArea = a.CommissioningArea
	and c.ccg = a.ccg
	and c.STP = a.STP 
 
	) as [Acute Unique Records Edits Total FY: '+ cast(@FinColText as varchar(8))+']
	,(
		 select 
		 sum([Community Services Unique Record Edits]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]c
 
		 Where convert(date,c.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,c.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and c.CommissioningArea = a.CommissioningArea
	and c.ccg = a.ccg
	and c.STP = a.STP 
 
	) as [Community Services Unique Records Edit Total FY: '+ cast(@FinColText as varchar(8))+']
	,(
		 select 
		 sum([Hospice Unique Record Edits]) 
		 from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]c
 
		 Where convert(date,c.ReportingMonth) >= '''+ cast(@CurrentFinYEar AS VARCHAR(30)) + ''' and convert(date,c.ReportingMonth) <= ''' +cast( @CurrentMonthEnd AS VARCHAR(30)) + '''
	and c.CommissioningArea = a.CommissioningArea
	and c.ccg = a.ccg
	and c.STP = a.STP 
 
	) as [Hospice Unique Records Edit Total FY: '+ cast(@FinColText as varchar(8))+']


	into [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_FY_YTD_Data_Newly_Publish_By_TeamType]

	from [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Worksheet_2]a
	  where a.stp <> ''Cross Border''
		group by
		[CommissioningArea]
      ,[CCG]
      ,[STP]
      

	'
	  --print	@SQL

exec	(@SQL2)

 end