USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_ClaimGeneral_ExtractHistoryEpisodes]    Script Date: 30/05/2018 11:24:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter procedure [dbo].[sp_Update_ClaimRiskCategory_ExtractHistoryEpisodes]

 AS
 BEGIN

 --Populate Staging Table from Informatics delta Feeds

if OBJECT_ID('[NHR Data Mart Test].[Staging].[ClaimRiskCategory]') is Not Null
drop table [NHR Data Mart Test].[Staging].[ClaimRiskCategory]


 select * into  [NHR Data Mart Test].[Staging].[ClaimRiskCategory] from [ldndw1\reporting].[Informatics_Reporting].[staging].[ClaimRiskCategory] WITH (NOLOCK)


 

-----------------------------------------------------------------------------------------------------------------------------------------------

 --Get a unique list of ClaimID's from delta that either don't exist in the Warehouse claimGeneral or have changed---

if OBJECT_ID('tempdb..#TempHistory') is Not Null
 drop table #TempHistory

SELECT 
distinct

a.ClaimId,
a.extractDate

into #temphistory

FROM [NHR Data Mart Test].[Staging].[ClaimRiskCategory] a WITH (NOLOCK) JOIN [NHR Data Mart Test].[dbo].[ClaimRiskCategory] b WITH (NOLOCK)
ON a.ClaimId = b.ClaimId
WHERE
(
ISNULL(a.ClaimId,0) <> ISNULL(b.ClaimId,0) OR
ISNULL(a.ClaimRef,'') <> ISNULL(b.ClaimRef,'') OR
ISNULL(a.Cause1L1,'') <> ISNULL(b.Cause1L1,'') OR
ISNULL(a.Cause1L2,'') <> ISNULL(b.Cause1L2,'') OR
ISNULL(a.Cause1L3,'') <> ISNULL(b.Cause1L3,'') OR
ISNULL(a.Cause2L1,'') <> ISNULL(b.Cause2L1,'') OR
ISNULL(a.Cause2L2,'') <> ISNULL(b.Cause2L2,'') OR
ISNULL(a.Cause2L3,'') <> ISNULL(b.Cause2L3,'') OR
ISNULL(a.Cause3L1,'') <> ISNULL(b.Cause3L1,'') OR
ISNULL(a.Cause3L2,'') <> ISNULL(b.Cause3L2,'') OR
ISNULL(a.Cause3L3,'') <> ISNULL(b.Cause3L3,'') OR
ISNULL(a.Injury1L1,'') <> ISNULL(b.Injury1L1,'') OR
ISNULL(a.Injury1L2,'') <> ISNULL(b.Injury1L2,'') OR
ISNULL(a.Injury1L3,'') <> ISNULL(b.Injury1L3,'') OR
ISNULL(a.Injury2L1,'') <> ISNULL(b.Injury2L1,'') OR
ISNULL(a.Injury2L2,'') <> ISNULL(b.Injury2L2,'') OR
ISNULL(a.Injury2L3,'') <> ISNULL(b.Injury2L3,'') OR
ISNULL(a.Injury3L1,'') <> ISNULL(b.Injury3L1,'') OR
ISNULL(a.Injury3L2,'') <> ISNULL(b.Injury3L2,'') OR
ISNULL(a.Injury3L3,'') <> ISNULL(b.Injury3L3,'') OR
ISNULL(a.Location1L1,'') <> ISNULL(b.Location1L1,'') OR
ISNULL(a.Location1L2,'') <> ISNULL(b.Location1L2,'') OR
ISNULL(a.Location1L3,'') <> ISNULL(b.Location1L3,'') OR
ISNULL(a.Location2L1,'') <> ISNULL(b.Location2L1,'') OR
ISNULL(a.Location2L2,'') <> ISNULL(b.Location2L2,'') OR
ISNULL(a.Location2L3,'') <> ISNULL(b.Location2L3,'') OR
ISNULL(a.Location3L1,'') <> ISNULL(b.Location3L1,'') OR
ISNULL(a.Location3L2,'') <> ISNULL(b.Location3L2,'') OR
ISNULL(a.Location3L3,'') <> ISNULL(b.Location3L3,'') OR
ISNULL(a.RootCause1L1,'') <> ISNULL(b.RootCause1L1,'') OR
ISNULL(a.RootCause1L2,'') <> ISNULL(b.RootCause1L2,'') OR
ISNULL(a.RootCause1L3,'') <> ISNULL(b.RootCause1L3,'') OR
ISNULL(a.RootCause2L1,'') <> ISNULL(b.RootCause2L1,'') OR
ISNULL(a.RootCause2L2,'') <> ISNULL(b.RootCause2L2,'') OR
ISNULL(a.RootCause2L3,'') <> ISNULL(b.RootCause2L3,'') OR
ISNULL(a.RootCause3L1,'') <> ISNULL(b.RootCause3L1,'') OR
ISNULL(a.RootCause3L2,'') <> ISNULL(b.RootCause3L2,'') OR
ISNULL(a.RootCause3L3,'') <> ISNULL(b.RootCause3L3,'') OR
ISNULL(a.Specialty,'') <> ISNULL(b.Specialty,'') OR
ISNULL(a.Speciality1L1,'') <> ISNULL(b.Speciality1L1,'') OR
ISNULL(a.Speciality1L2,'') <> ISNULL(b.Speciality1L2,'') OR
ISNULL(a.Speciality1L3,'') <> ISNULL(b.Speciality1L3,'') OR
ISNULL(a.Speciality2L1,'') <> ISNULL(b.Speciality2L1,'') OR
ISNULL(a.Speciality2L2,'') <> ISNULL(b.Speciality2L2,'') OR
ISNULL(a.Speciality2L3,'') <> ISNULL(b.Speciality2L3,'') OR
ISNULL(a.Speciality3L1,'') <> ISNULL(b.Speciality3L1,'') OR
ISNULL(a.Speciality3L2,'') <> ISNULL(b.Speciality3L2,'') OR
ISNULL(a.Speciality3L3,'') <> ISNULL(b.Speciality3L3,'') OR
ISNULL(a.Standard1L1,'') <> ISNULL(b.Standard1L1,'') OR
ISNULL(a.Standard1L2,'') <> ISNULL(b.Standard1L2,'') OR
ISNULL(a.Standard1L3,'') <> ISNULL(b.Standard1L3,'') OR
ISNULL(a.Standard2L1,'') <> ISNULL(b.Standard2L1,'') OR
ISNULL(a.Standard2L2,'') <> ISNULL(b.Standard2L2,'') OR
ISNULL(a.Standard2L3,'') <> ISNULL(b.Standard2L3,'') OR
ISNULL(a.Standard3L1,'') <> ISNULL(b.Standard3L1,'') OR
ISNULL(a.Standard3L2,'') <> ISNULL(b.Standard3L2,'') OR
ISNULL(a.Standard3L3,'') <> ISNULL(b.Standard3L3,'') OR
ISNULL(a.DefaultRiskCategoryOrdering,0) <> ISNULL(b.DefaultRiskCategoryOrdering,0)
)
and ISNULL(b.ExtractDate,'')  <  ISNULL(a.ExtractDate,'') 

-------------------------------------------------------------------------------------------------------------------------------------

--Sequence Changed rows for populating events table

if OBJECT_ID('tempdb..#TempHistoryA') is Not Null
 drop table #TempHistoryA
  select 
  *
  into #TempHistoryA
  from(

  select
  * 
  , 1 as Version
 
  ,null as DeleteFlag
  

   FROM [NHR Data Mart Test].[dbo].[ClaimRiskCategory] WITH (NOLOCK)
   where ClaimID in (select distinct claimid  FROM #TempHistory)

   union all

 
  SELECT 
		b.PK_DateKey as DateKey
	  ,a.*
	  ,(RANK() OVER(PARTITION BY a.[ClaimId] ORDER BY a.[ExtractDate])) + 1 as Version
 
     ,null as DeleteFlag

  FROM [NHR Data Mart Test].[Staging].[ClaimRiskCategory]a WITH (NOLOCK)
    inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
    inner join #temphistory c on c.claimid = a.claimid
							 and a.extractdate >= c.extractdate 

  )d
  Order by claimid, Version

  Update r

  set r.Version = b.version


  from [#TempHistoryA]r

Inner join
		(
		select 
		Claimid, 
		Version,
		RANK() OVER(PARTITION BY [ClaimId] ORDER BY Version) as NEwOrder
		from [#TempHistoryA]
		) as  B on b.ClaimId = r.claimid
			and b.Version = r.version


 

 
  


 if OBJECT_ID('tempdb..#TempChangesX') is Not Null
 drop table #TempChangesX

DECLARE @x xml

SET @x = (
   SELECT  
        t2.ClaimID AS [@key]
      , t2.Version AS [@version]
      , ( SELECT t1.* FOR XML PATH('t1'), TYPE ,ELEMENTS XSINIL) AS [*]
      , ( SELECT t2.* FOR XML PATH('t2'), TYPE ,ELEMENTS XSINIL) AS [*]
   FROM #TempHistoryA AS t1
   INNER JOIN #TempHistoryA AS t2
   ON t1.ClaimID = t2.ClaimID
   AND t1.Version = t2.Version - 1
   FOR XML   PATH('row'), ROOT('root')
   --FOR XML AUTO  , ROOT('root') , ELEMENTS XSINIL
   );
  select @x
   

--WITH Nodes AS (
   SELECT
        C.value('../../@key', 'int') AS [Key]
      , C.value('../../@version', 'int') AS Version_ID
      , C.value('local-name(..)', 'varchar(255)')AS Version_Alias
      , C.value('local-name(.)', 'varchar(255)') AS Field
      , C.value('.', 'varchar(max)') AS Val
	  --, C.value('not(@xsi:nil = "true")','varchar(max)') AS Val
	  into #TempChangesX

   FROM @x.nodes('/root/row/*/*') AS T(C)
   --)
   --select * from #TempChangesX
      --select * from #TempChanges
    if OBJECT_ID('tempdb..#TempChanges') is Not Null
	drop table #TempChanges
	SELECT 
	[Key] as ClaimID,
	x.ExtractDate, 
	Field
	, case when Max(CASE Version_Alias WHEN 't1' THEN Val END) = '' then null else Max(CASE Version_Alias WHEN 't1' THEN Val END) end  AS [Initial Value]
	, case when Max(CASE Version_Alias WHEN 't2' THEN Val END) = '' then null else Max(CASE Version_Alias WHEN 't2' THEN Val END) end  AS [New Value]

	Into #TempChanges

	FROM [#TempChangesX]v
	inner join [#TempHistoryA]x on x.ClaimId = v.[Key]
						and x.Version = v.Version_ID
						--and x.ExtractDate = v.
	where Field not in ('CMSTimestamp','ExtractDate','Version','DailyLoadNumber','DateKey')

	GROUP BY 
	[Key],
	x.ExtractDate,
	Field
	HAVING Max(CASE Version_Alias WHEN 't1' THEN Val END) <> Max(CASE Version_Alias WHEN 't2' THEN Val END)

 

delete from  [NHR Data Mart Test].[dbo].[ClaimRiskCategory] where ClaimID in (select distinct claimid  FROM #TempHistoryA)

 update a
		set a.DeleteFlag = 1
 from [#TempHistoryA]a
 inner join(
			select 
			claimid, 
			max(Version) as LastVersion  
			FROM #TempHistoryA  
			  
			group by ClaimId
			) b on b.ClaimId = a.ClaimId 
			and b.LastVersion <> a.Version
 



delete   from [#TempHistoryA] where DeleteFlag = 1 --get only latest version to replace what is in Warehouse ClaimGeneral



 --select * from [ldndw1\reporting].[Informatics_Reporting].[staging].[ClaimGeneral]  where claimid = 221869
--seleckt * from [NHR Data Mart Test].[dbo].[ClaimGeneral] where claimid = 91897
--select * from [#TempHistoryA]  where claimid = 249710
--select * from #TempChanges where claimid = 249710
--select * from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where claimid = 249710


insert into [NHR Data Mart Test].[dbo].[ClaimRiskCategory]
select
		b.ID as DateKey
	  ,[ClaimId]
      ,[ClaimRef]
      ,[Cause1L1]
      ,[Cause1L2]
      ,[Cause1L3]
      ,[Cause2L1]
      ,[Cause2L2]
      ,[Cause2L3]
      ,[Cause3L1]
      ,[Cause3L2]
      ,[Cause3L3]
      ,[Injury1L1]
      ,[Injury1L2]
      ,[Injury1L3]
      ,[Injury2L1]
      ,[Injury2L2]
      ,[Injury2L3]
      ,[Injury3L1]
      ,[Injury3L2]
      ,[Injury3L3]
      ,[Location1L1]
      ,[Location1L2]
      ,[Location1L3]
      ,[Location2L1]
      ,[Location2L2]
      ,[Location2L3]
      ,[Location3L1]
      ,[Location3L2]
      ,[Location3L3]
      ,[RootCause1L1]
      ,[RootCause1L2]
      ,[RootCause1L3]
      ,[RootCause2L1]
      ,[RootCause2L2]
      ,[RootCause2L3]
      ,[RootCause3L1]
      ,[RootCause3L2]
      ,[RootCause3L3]
      ,[Specialty]
      ,[Speciality1L1]
      ,[Speciality1L2]
      ,[Speciality1L3]
      ,[Speciality2L1]
      ,[Speciality2L2]
      ,[Speciality2L3]
      ,[Speciality3L1]
      ,[Speciality3L2]
      ,[Speciality3L3]
      ,[Standard1L1]
      ,[Standard1L2]
      ,[Standard1L3]
      ,[Standard2L1]
      ,[Standard2L2]
      ,[Standard2L3]
      ,[Standard3L1]
      ,[Standard3L2]
      ,[Standard3L3]
      ,[DefaultRiskCategoryOrdering]
      ,[CMSTimestamp]
      ,[ExtractDate]
      ,[DailyLoadNumber]
	  from [#TempHistoryA]a
	  inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)

	  --Populate stuff into episodes table

	INSERT INTO [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes](
																	[ExtractSourceID],
																	[DateKey],
																	Claimid,
																	[ExtractDate] ,
																	[Field],
																	[Initial Value],
																	[New Value],
																	OldDateTime,
																	NewDateTime,
																	OldMoneyValue,
																	NewMoneyValue 
																	)

	SELECT 
	(select [ExtractSourceID] from [ref].[ExtractSourceID] where TableName = 'ClaimRiskCategory' and TableSchema = 'dbo'),
	b.id as DateKey,
	Claimid,
	ExtractDate,
	Field,
	case when ((TRY_PARSE([Initial Value] as datetime)is null OR (TRY_PARSE([Initial Value] as datetime)is not null AND CHARINDEX('.',[Initial Value]) > 0)) AND (TRY_PARSE([Initial Value] as float) is null OR (TRY_PARSE([Initial Value] as float)is not null AND CHARINDEX('.',[Initial Value]) = 0)) ) then [Initial Value] else null end,
	case when ((TRY_PARSE([New Value] as datetime)is null OR (TRY_PARSE([New Value] as datetime)is not null AND CHARINDEX('.',[New Value]) > 0)) AND (TRY_PARSE([New Value] as float) is null OR (TRY_PARSE([New Value] as float)is not null AND CHARINDEX('.',[New Value]) = 0)) ) then [New Value] else null end,
	case when (TRY_PARSE([Initial Value] as datetime)is not null AND CHARINDEX('.',[Initial Value]) = 0)then  convert(datetime,[Initial Value]) else null end,
	case when (TRY_PARSE([New Value] as datetime)is not null AND CHARINDEX('.',[New Value]) = 0) then  convert(datetime,[New Value]) else null end,
	case when (TRY_PARSE([Initial Value] as float)is not null AND CHARINDEX('.',[Initial Value]) > 0) then  convert(money,[Initial Value]) else null end,
	case when (TRY_PARSE([New Value] as float)is not null AND CHARINDEX('.',[New Value]) > 0) then  convert(money,[New Value]) else null end
	from #TempChanges a
	inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
	order by claimid, Field, ExtractDate

 Update r


   set r.SequenceOfChange = b.SequenceOfChange


  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]r

Inner join
		(
		select 
		Claimid, 
		[ExtractSourceID],
		Field,
		ExtractDate,
		RANK() OVER(PARTITION BY [ExtractSourceID],[ClaimId],Field ORDER BY ExtractDate) as SequenceOfChange
		from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]
		) as  B on b.ClaimId = r.claimid
			and b.ExtractDate = r.ExtractDate
			and b.Field = r.Field
			and b.[ExtractSourceID] = r.[ExtractSourceID]
 
 
  Update s


   set s.LastForDay = case when b.LastForDay = s.SequenceOfChange then 1 else null end


  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]s

left join
		(
		select 
		[ExtractSourceID],
		Claimid, 
		Field,
		Convert(Date,ExtractDate) as ExtractDate,
		 Max(SequenceOfChange) as LastForDay
		from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]
	 
		Group by
		[ExtractSourceID], 
		Claimid, 
		Field,
		Convert(Date,ExtractDate)
		) as  B on b.ClaimId = s.claimid
			and b.ExtractDate = Convert(Date,s.ExtractDate)
			and b.Field = s.Field
			and b.[ExtractSourceID] = s.[ExtractSourceID]
 


 drop table #TempHistory
 drop table #TempHistoryA
 drop table #TempChanges
 drop table #TempChangesX

 End


 --select *  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] order by claimid, ExtractHistoryId

 --update r

	--	set r.DateKey = b.ID


 --from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]r
 --inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on convert(date,b.[Calendar Day]) = convert(date,r.ExtractDate)