USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [ref].[SP_Claim_Scheme_Change]    Script Date: 30/07/2018 10:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	ALTER procedure [ref].[SP_Claim_Scheme_Change]

	 AS
	 BEGIN

	 if OBJECT_ID('tempdb..#text_table0') is not null
	 drop table #text_table0
 		SELECt

			Claimid,
			ChangeDateTime,
			Details
			,
			case when Charindex('.',
			substring( LEFT(Details, charindex('. Mem', Details)-1), CHARINDEX('Scheme: ', Details) + len('Scheme: '), LEN(Details))
			)> 0 
			then 
			LEFT(substring( LEFT(Details, charindex('. Mem', Details)-1), CHARINDEX('Scheme: ', Details) + len('Scheme: '), LEN(Details)), CHARINDEX('.',substring( LEFT(Details, charindex('. Mem', Details)-1), CHARINDEX('Scheme: ', Details) + len('Scheme: '), LEN(Details)))-1)
			else
			substring( LEFT(Details, charindex('. Mem', Details)-1), CHARINDEX('Scheme: ', Details) + len('Scheme: '), LEN(Details))
			End as ModEx

			into #text_table0

	  FROM [ldndw1\reporting].[ClaimsManagement].[dbo].[ClaimHistory] with (nolock)
	  where 
	  (
	  charindex('Scheme',details)>0
	  and
	  charindex('Claim Added',details)>0
	  )
	  order by details







	 if OBJECT_ID('tempdb..#text_table2') is not null   
	drop table #text_table2
		 
			 SELECt
			Claimid,
			ChangeDateTime,
			details,
	 charindex('from: ', Details ,0) as From_Index,
	charindex(' to: ', Details , charindex('from: ', Details ,0)) as to_index,
	charindex('.', Details , charindex(' to: ', Details , charindex('from: ', Details ,0))) as dot_index
	into #text_table2
	  FROM [ldndw1\reporting].[ClaimsManagement].[dbo].[ClaimHistory] with (nolock)

	  where charindex('Scheme changed',details)>0





	 if OBJECT_ID('tempdb..#FinText') is not null     
	drop table #FinText
	select
 
	a.ClaimId,
	RANK() OVER(PARTITION BY a.claimid ORDER BY ChangeDateTime) as RowNum,
	convert(date,c.CreationDate) as CreationDate,
	ChangeDateTime, 
	substring(Details, from_index+5, to_index - from_index - 6) as From_Value,
	substring(Details, to_index+4, dot_index - to_index - 4) as To_Value

	into #FinText

	from [#text_table2]A
	left join [ldndw1\reporting].[ClaimsManagement].[dbo].[vw_ClaimGeneral]C with (nolock) on c.ClaimId = a.ClaimId
	order by a.claimid,ChangeDateTime


	--select top 5 * from #FinText
	--select top 5 * from #text_table0


	 if OBJECT_ID('tempdb..#Scheme') is not null     
	drop table #Scheme


	select
	claimid,
	
	RANK() OVER(PARTITION BY claimid ORDER BY  ChangeDateTime) as RowNum,
	a.id as DateKey,
	--convert(date,DATEADD(month, DATEDIFF(month, 0, convert(date,ChangeDateTime)), 0)) as ChangeDateMonth,
	ChangeDateTime,
	ltrim(rtrim(To_Value)) as Scheme,
	null as LastForMonthFlag,
	null as lastForDayFlag,
	null as FirstScheme,
	null as LastScheme
	into #Scheme

	from(
	select
	Claimid,
	ChangeDateTime,
	To_Value
	from #FinText

	union 

	select
	Claimid,
	ChangeDateTime,
	ModEx as from_Value
	from [#text_table0]
	)d 
	inner join [NHR Data Mart Test].[dbo].[DIM_Date]a on a.[Calendar Day] = d.ChangeDateTime
	Order by ClaimId,ChangeDateTime



	insert into #Scheme
	select
	claimid,
	1 as RowNum,
	b.id as DateKey,
	CreationDate,
	SchemeAbbrev as Scheme,
	null as LastForMonthFlag,
	null as lastForDayFlag,
	null as FirstScheme,
	null as LastScheme
	from [ldndw1\reporting].[ClaimsManagement].[dbo].[vw_ClaimGeneral]a with (nolock)
	 inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on b.[Calendar Day] = CreationDate
				where NOT EXISTS (
						 select distinct Claimid from #Scheme b
						 where b.ClaimId = a.ClaimId
						)
			
			 
-----------------------------------------------
-- select * FROM [ClaimsManagement].[dbo].[ClaimHistory] where  claimid = 161746 order by ClaimHistoryId
--select * from #Scheme where  claimid = 160504
--select * from [#Temp1x]where  claimid = 160504
--select * from #FinText where  claimid = 161746
--select * from [Archive2].[dbo].[vw_ClaimGeneral] where  claimid = 141543

	update f

		set f.FirstScheme = case when RowNum = 1 then 1 else null end,
			f.LastScheme = case when b.LastRow = f.RowNum then 1 else null end

	from [#Scheme]f
	left join
			(
			select
			Claimid,
			max(RowNum) as LastRow

			from [#Scheme] 
			Group by Claimid
			) as b on b.claimid = f.claimid 






	update g

			set g.LastForMonthFlag = 1


	from [#Scheme]g
	inner join
			(
			select
			Claimid,
			max(RowNum) as LastRow

			from [#Scheme] a
			inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on b.[Calendar Day] =a. changedatetime
			Group by Claimid,
			[Month Start Date]

			) as c on c.claimid = g.claimid 
			and c.LastRow = g.RowNum


			update h

			set h.LastForDayflag = 1


			from [#Scheme]h
			inner join
			(
			select
			Claimid,
			max(RowNum) as LastRow

			from [#Scheme] 
			 --where  claimid = 195693
			Group by Claimid,
			convert(date,Changedatetime)

			) as c on c.claimid = h.claimid 
			and c.LastRow = h.RowNum


		--select claimid,CreationDate from [Archive2].[dbo].[vw_ClaimGeneral] where claimid not in (select distinct Claimid from #Scheme)


		

		--select * from #Scheme where claimid = 50581


		----select count (distinct claimid) from #scheme
		----select count (distinct claimid) from [Archive2].[dbo].[vw_ClaimGeneral]
		-- select * FROM [ClaimsManagement].[dbo].[ClaimHistory] where  claimid = 50581 order by ClaimHistoryId
		--select * from [Archive2].[dbo].[vw_ClaimGeneral] where  claimid = 50581
		--select * from #Scheme where  claimid = 160504
		--select * from [#Temp1x]where  claimid = 160504
		--select * from #FinText where  claimid = 161746


		if OBJECT_ID('[NHR Data Mart Test].[ref].[Claim_Scheme]') is not null
		drop table [NHR Data Mart Test].[ref].[Claim_Scheme]

		select
		*
		into [NHR Data Mart Test].[ref].[Claim_Scheme]
		from #Scheme



		end	
	

	--select * from [NHR Data Mart Test].[ref].[Claim_Scheme]
		--ALTER TABLE [Informatics_Reporting].[dbo].[DIM_Claim_Scheme]  ADD PK_SchemeHistoryID int identity(1,1) not null

		--ALTER TABLE [Informatics_Reporting].[dbo].[DIM_Claim_Scheme]
		--add CONSTRAINT  SchemeHistory_PK  PRIMARY KEY CLUSTERED(PK_SchemeHistoryID )


 

