USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT__REDWOOD_CLI_Extract_SP]    Script Date: 13/12/2021 12:20:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[AT__REDWOOD_CLI_Extract_SP] 
-- Amended for PD Upgrade
AS
BEGIN

/**

Patient Relationship Manager (PRM telephone platform)
CLI - telephone number (Calling Line Identity
get rid of practice code
main contact number only

email to: redwoodprm@nhs.net

Weekly

**/


		if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_PatientContactInfo]')is not null
		drop table [ETL_Local_PROD].[dbo].[AT_PatientContactInfo]
		SELECT
		no.PatientNumber as CMC_ID,
		ps.Patient,
		ContactType,
		ContactValue,
		ROW_NUMBER() over (partition by ps.Patient order by pa.ContactInfo) as ContactNo,
		ct.Description as ContactTypeDescription

		into [ETL_Local_PROD].[dbo].[AT_PatientContactInfo]

		from ETL_PROD.dbo.CMC_PatientSummary ps
		join ETL_PROD.dbo.CMC_Patient p on ps.Patient = p.ItemId
		join ETL_PROD.dbo.CMC_Patient_PatientNumbers po on po.Patient = ps.ItemID
		join ETL_PROD.dbo.CMC_PatientNumber no on no.ItemId = po.PatientNumber and no.AssigningAuthority = 'CMC'
		join ETL_PROD.dbo.CMC_Patient_ContactInfo pa on p.itemid = pa.Patient
		join ETL_PROD.dbo.CMC_ContactInfo a on pa.ContactInfo = a.ItemID
		left join ETL_PROD.dbo.Coded_ContactType ct on a.ContactType = ct.code
		inner join [ETL_Local_PROD].[dbo].[AT_Patient_General]pd on pd.PatientSummary = ps.Patient
		where no.PatientNumber <> 100000001

		--select * from [ETL_Local_PROD].[dbo].[AT_PatientContactInfo] where contactvalue = '02087484532'
					 
		if OBJECT_ID ('tempdb..#Temp1') is not null
		drop table #Temp1


		select 
		distinct

		CMC_ID,
		CLI, 
		Provider,
		[Contract Line],
		CA,
		CCG,
		[Carer CLI]

		into #Temp1

		from
		(select distinct 
		pd.CMC_ID,
		replace(replace(replace(REPLACE(pci.ContactValue,' ',''),'-',''),'(',''),')','') as CLI,
		l.Provider,
		l.ContractLine as [Contract Line],
		'CA' as CA,
		--pd.Practice_ODS as GP,
		pd.London_CCG_ODS as CCG,
		'' as [Carer CLI]
		from [ETL_Local_PROD].[dbo].[AT_PatientContactInfo] pci
		join [ETL_Local_PROD].[dbo].[AT_Patient_General] pd on pci.Patient = pd.Patient
		and pci.ContactType <> 'WORK' --and pci.contactno = 1
		----and charindex('@',pci.ContactValue)=0
		and dod is null and dod_PDS is null
		-- and NURSINGHOME is null
		join [ETL_Local_PROD].[Reference].[CLIExtractLookup] l
		on pd.London_CCG_ODS = l.[CCG Code]) sel1
		-- Exclude care homes (by matching with whole CQC directory for simplicity) MS 13.2.16
		left join [ETL_Local_PROD].[Load].[CQCDirectory] q
		on q.[telephone number] = cli
		where q.[telephone number] is null
		and LEN(CLI) = 11
		
		--and charindex('@',CLI)>0
		--select * from [ETL_Local_PROD].[Reference].[CLIExtractLookup]
			--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General]
		--select * from #Temp1 where CLI = '07541021973'
		--select distinct 
		--*
		--from [ETL_Local_PROD].[dbo].[PatientContactInfo] pci
		--select * from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc] where cmc_id = 100104611
		--  where replace(replace(replace(REPLACE( ContactValue,' ',''),'-',''),'(',''),')','') = '02037337851'
--		select * from [ETL_Local_PROD].[dbo].[AT_Patient_General_Historic_Inc] where cmc_ID in ('5038',
--'5041',
--'5138',
--'25733',
--'100009348')



		update x
				set x.CLI = (
								select 
								top 1 
								replace(replace(replace(REPLACE(pci.ContactValue,' ',''),'-',''),'(',''),')','') 
								from  [ETL_Local_PROD].[dbo].[PatientContactInfo] pci 
								where pci.cmc_ID = x.cmc_id
								and charindex('@',ContactValue) = 0
								and pci.ContactType <> 'WORK'
								)

		from [#Temp1]x
		 where charindex('@',CLI)>0


		 update x
				set x.CLI = (
								select 
								top 1 
								replace(replace(replace(REPLACE(pci.ContactValue,' ',''),'-',''),'(',''),')','') 
								from  [ETL_Local_PROD].[dbo].[PatientContactInfo] pci 
								where 
								pci.cmc_ID = x.cmc_id
								and 
								charindex('@',ContactValue) = 0
					 
								--and pci.ContactType <> 'WORK'
								)

		from [#Temp1]x
		 where charindex('@',CLI)>0


	

		 	if OBJECT_ID ('tempdb..#Temp2') is not null
				drop table #Temp2
				select
				Distinct
			--			ROW_NUMBER() OVER(partition by CLI ORDER BY  Provider  DESC)  as RNumber,
			--ROW_NUMBER() OVER(partition by CLI,Provider ORDER BY  CCG  DESC)  as RNumber2,
		 null as RNumber,
			CLI, 
			Provider,
			[Contract Line],
			CA,
			--GP,
			CCG,
			[Carer CLI]
			into #Temp2
			from #Temp1
  

  update r

		set r.RNumber = s.RNumber
  from #Temp2 r
  left join
			(
			select
			ROW_NUMBER() OVER(partition by CLI ORDER BY Provider, [Contract Line]  DESC)  as RNumber,
			CLI, 
			[Contract Line],
			Provider
			from #Temp2
			)s on s.CLI = r.CLI
			and s.Provider = r.Provider
			and s.[Contract Line] = r.[Contract Line]



  	 --select * from #Temp2 where CLI = '02086602531'


	  


		 --select * from #Temp3 where CLI = '02077032112'
		 
	 delete  from #temp2 where RNumber > 1

	 --select * from #Temp2 where [Contract Line] in( 'Hillingdon','NWL','INWL')
				

update f
		set Provider = 'LCW',
			[Contract Line] = 'NWL LCW'

from #Temp2 f
where [Contract Line] in( 'Hillingdon','NWL','INWL')

			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_REDWOOD_CLI_Extract]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_REDWOOD_CLI_Extract]
			select
			DISTINCT
			CLI, 
			Provider,
			[Contract Line],
			CA,
			--GP,
			CCG,
			[Carer CLI]

			into [ETL_Local_PROD].[dbo].[AT_REDWOOD_CLI_Extract]
			from #Temp2



 

 	drop table #Temp1
 	drop table #Temp2
 
 delete from [ETL_Local_PROD].[dbo].[AT_REDWOOD_CLI_Extract] where CLI is null
	end

	--select * from[ETL_Local_PROD].[dbo].[AT_REDWOOD_CLI_Extract] where cmc_id in
	--	(
	--	100047271,
	--	100048068,
	--	100048176,
	--	100048289,
	--	100048318,
	--	17229,
	--	100054758,
	--	100059453,
	--	100079742
	--)

	--select * from PatientContactInfo where CMC_ID in
	--(
	--	100047271,
	--	100048068,
	--	100048176,
	--	100048289,
	--	100048318,
	--	17229,
	--	100054758,
	--	100059453,
	--	100079742
	--)

	--select  * from  [ETL_Local_PROD].[dbo].[AT_REDWOOD_CLI_Extract] where CLI = '02077032112'