USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [EKS].[Archive_2_01_Create_EKS_Case_Details]    Script Date: 23/08/2018 12:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [EKS].[Archive_2_01_Create_EKS_Case_Details]

AS

SET NOCOUNT ON

/**
	28/01/2016:
				This builds a table that is refreshed every day that has all the fields within the five tabs 
				that make up the EKS 'Case Details' section.
**/




----------------Part 1 A creates a table that converts the CORE.CaseLink table into something more useful - all linked cases are on one row.

If object_ID('[NHR Data Mart Test].[EKS].[REF_EKS_Link_Reasons]') is not null
	Drop table [NHR Data Mart Test].[EKS].[REF_EKS_Link_Reasons]



If object_ID('tempdb..#sum23') is not null
drop table #sum23
select
Rank() over ( Partition by CASE_A_ID Order by CASE_B_ID) as CaseOrder,
CASE_A_ID,
CASE_B_ID,
CASE_LINK_REASON
Into #Sum23
from
(
SELECT 
PrimaryCaseId as CASE_A_ID, 
LinkCaseId as CASE_B_ID , 
CaseLinkReason as CASE_LINK_REASON 
FROM
[ldndw1\reporting].[EKS_Archive2].[Core].[CaseLink] CL 
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Cases]  C1 WITH (NOLOCK) ON CL.PrimaryCaseId = C1.CaseId
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Cases]  C2 WITH (NOLOCK) ON CL.LinkCaseId = C2.CaseId
--where LinkCaseId = 2742
UNION

SELECT 

LinkCaseId as CASE_A_ID, 
PrimaryCaseId as CASE_B_ID , 
CaseLinkReason as CASE_LINK_REASON 
FROM
[ldndw1\reporting].[EKS_Archive2].[Core].[CaseLink] CL
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Cases]  C1 WITH (NOLOCK) ON CL.PrimaryCaseId = C1.CaseId
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Cases]  C2 WITH (NOLOCK) ON CL.LinkCaseId = C2.CaseId
--where LinkCaseId = 2742
) as d
order by CASE_A_ID



If object_ID('tempdb..#Sample') is not null
	Drop table #Sample

create table #Sample
(
CaseID_X int, 
CaseOrder int,
LinkedCaseID int,
Link_Reason varchar(max)
);
Declare @SQL varchar(max) = 'Select CaseID_X';


Insert Into #Sample (CaseID_X,CaseOrder, LinkedCaseID, Link_Reason)
		(Select CASE_A_ID,CaseOrder, CASE_B_ID,CASE_LINK_REASON from #Sum23);

		Select @SQL += '
		,Max(case when CaseOrder = ' + Convert(Varchar, CaseOrder
		) + ' Then LinkedCaseID End) as [Link_Case_ID_' + Convert(Varchar,CaseOrder)+'],
		Max(Case When CaseOrder = ' + Convert(Varchar,CaseOrder) + ' Then Link_reason End) as [Link_Reason_' + Convert(Varchar,CaseOrder) + ']'
		
		from (Select Distinct CaseOrder from #Sample ) as t
		Order by T.CaseOrder;


		Set @SQL += 'into [NHR Data Mart Test].[EKS].[REF_EKS_Link_Reasons] From #Sample Group by CaseID_X;';
		Execute (@SQL);


--part 1B Creates a table populated with caseWroker details for each case
--select * from [NHR Data Mart Test].[EKS].[REF_EKS_Link_Reasons]

if OBJECT_ID('tempdb..#Sample3') is not null
drop table #Sample3

   CREATE TABLE #Sample3
(
    CaseID INT --claimId
    , xRank INT -- PayOrder
    , DisplayName Varchar(max) -- DateRaised
    , RoleName Varchar(200)-- Amount
);



INSERT INTO #Sample3 (CaseID, xRank, DisplayName, RoleName)
 (SELECT 
CaseId,
 RANK() OVER (PARTITION BY Caseid,c.roleName  ORDER BY coalesce(a.RowEditDate,b.roweditDate)) AS xRank,
 b.DisplayName,
 SUBSTRING(c.RoleName, CHARINDEX(' ', c.RoleName)  + 1, LEN(c.RoleName)) as RoleName

  FROM [ldndw1\reporting].[EKS_Archive2].[Core].[CaseUser] a
  left join [ldndw1\reporting].[EKS_Archive2].[Core].[Appuser]b WITH (NOLOCK) on b.AppuserId = a.UserId
  left join [ldndw1\reporting].[EKS_Archive2].[Core].[Role]c WITH (NOLOCK) on c.RoleId = a.RoleId

)
 --select * from [ldndw1\reporting].[EKS_Archive2].[Core].[CaseUser]
--select * from [ldndw1\reporting].[EKS_Archive2].[Core].[Appuser]
--select * from [ldndw1\reporting].[EKS_Archive2].[Core].[Role]
--select * from #Sample3 where CaseID = 13461
--select * from #Sample2 where CaseID = 13461

if OBJECT_ID('tempdb..#Sample2') is not null
drop table #Sample2
  select 
  a.CaseID as CaseIDC,
  A.DisplayName,
  A.RoleName
  into [#Sample2]
  from [#Sample3]a	
  left join
  (
  select 
  CaseID,
  Max(xRank) as MaxiRank,
  RoleName
  from [#Sample3]
  --where caseid = 13461
  group by caseid,
  RoleName
  ) as b on b.CaseID = a.caseid
  and b.RoleName = a.RoleName 
  and b.MaxiRank = a.xRank
  where b.MaxiRank is not null
  order by a.Caseid


  if OBJECT_ID('[NHR Data Mart Test].[Staging].[TempEKSColumns]') is not null
  drop table [NHR Data Mart Test].[Staging].[TempEKSColumns]

  if OBJECT_ID('tempdb..#Sample22') is not null
drop table #Sample22

  declare @ColumnNames  Nvarchar(Max) = '' 
  Declare @RoleName Table (Rolename  Varchar(200) not null)
  Declare @SQL2 NVarchar(Max) = ''
  insert into @RoleName select distinct rolename from #Sample2


  select @ColumnNames  +=   QuoteName(RoleName) +',' from @RoleName
  set @ColumnNames = LEft(@ColumnNames,Len(@ColumnNames)-1)
  --print @ColumnNames

  set @SQL2 =

	'
 
	
	
	SELECT
	*
	into [NHR Data Mart Test].[Staging].[TempEKSColumns]
	 FROM
	 (
		SELECT 
	*
		FROM #Sample2
	 ) AS P
	PIVOT
	(
	  Min(DisplayName) FOR RoleName IN ('+ @ColumnNames + ')
	  ) AS pv '

	 EXEC SP_Executesql @SQL2


 select * into #Sample22 from [NHR Data Mart Test].[Staging].[TempEKSColumns]

 drop table [NHR Data Mart Test].[Staging].[TempEKSColumns]

 
 
----Part 2 creates the table and starts by getting a distinct list of CaseID's to base everything else on:


If object_ID('tempdb..#Temp0') is not null
drop table #Temp0
SELECT
 distinct
  Caseid
  into #temp0
FROM [ldndw1\reporting].[EKS_Archive2].[Core].[Cases] WITH (NOLOCK) order by caseid



If object_ID('tempdb..#Referrer') is not null
drop table #Referrer
select 
		a.referrerID,
		a.staffPosition,
		a.availability,
		a.ResponsibleFlag,
		OrgOtherDetails,
		e.Description As ReferrerType,
		f.Description as ReferrerRegion,
		b.OrgFormalName as OrgNameAtReferral,
		c.OrgFormalName as EmployeeContractOrg,
		d.OrgFormalName as EmployeeContractOrgCurrent

		into #Referrer

		from [ldndw1\reporting].[EKS_Archive2].[Core].[Referrer]a
		left join [ldndw1\reporting].[EKS_Archive2].[Core].[Organisation]b WITH (NOLOCK) on b.orgID = a.OrgNameAtReferral
		left join [ldndw1\reporting].[EKS_Archive2].[Core].[Organisation]c WITH (NOLOCK) on c.orgID = a.EmployContractOrg
		left join [ldndw1\reporting].[EKS_Archive2].[Core].[Organisation]d WITH (NOLOCK) on d.orgID = a.EmployContractOrgCurrent
		left join [ldndw1\reporting].[EKS_Archive2].[Core].[OrgType]e WITH (NOLOCK) on a.ReferrerTypeId = e.OrgTypeId
		left join [ldndw1\reporting].[EKS_Archive2].[Core].[OrgRegion]f  WITH (NOLOCK) on a.OrgRegionId =  f.OrgregionId








If object_ID('tempdb..#Temp10') is not null
drop table #Temp10

SELECT     
a.CaseId, 
a.CaseNo, 
b.Description AS Office, --Advice Brief [Office]
a.ReferralDate, --Advice Brief [Referral Date]
e.Description AS Status, --Advice Brief [Case Status]
f.Description AS Type,--Advice Brief [Case Type]
d.Description AS Stage, --Advice Brief [Stage]
a.Summary, --Advice Brief [Case Summary]
g.Title as Referrer_Title,
g.Name1 AS ReferrerName1, --Referrer Details [Given Name]
g.Lastname AS ReferrerName2, --Referrer Details [Surname]
a.RowCreateDate, 
a.CaseFileLocation, 
j.Description CallBackPriority, --Advice Brief [Call Back Priority]
i.Description AS ProblemFirstSeen, --Advice Brief [Problem First Identified]
r.StaffPosition AS referrerPosition, --Referrer Details [Caller's Position]
REPLACE(REPLACE(REPLACE(r.Availability, CHAR(10), ''), CHAR(13), ''), CHAR(9), '')as Availability,
--[ldndw1\reporting].[EKS_Archive2].[Core].[Referrer].Availability,
r.ResponsibleFlag,
REPLACE(REPLACE(REPLACE(r.OrgOtherDetails, CHAR(10), ''), CHAR(13), ''), CHAR(9), '')as OrgOtherDetails,
REPLACE(REPLACE(REPLACE(g.AddressWork, CHAR(10), ''), CHAR(13), ''), CHAR(9), '')as AddressWork, --Referrer Details [Address]
REPLACE(REPLACE(REPLACE(g.PostcodeWork, CHAR(10), ''), CHAR(13), ''), CHAR(9), '')as PostcodeWork,
g.TelWork, --Referrer Details [Direct]
g.TelSecretary, --Referrer Details [Secretary]
g.TelMobileWork, --Referrer Details [Mobile]
g.EMailWork, --Referrer Details [Email]
r.OrgNameAtReferral, --Referrer Details [Organisation name at referral]
r.EmployeeContractOrg, --Referrer Details [Employing/contracting organisation if Different]
r.EmployeeContractOrgCurrent,--Referrer Details [Current employing/contracting organisation]
r.ReferrerType, --Referrer Details [Referrer Type]
r.ReferrerRegion,--Referrer Details [Country/Region]
IBL.DescriptionList AS InvestigatingBodies -- Advice Brief [Other bodies involved]

into #Temp10

--FROM [ldndw1\reporting].[EKS_Archive2].[Core].[Organisation] AS O_1 
from [ldndw1\reporting].[EKS_Archive2].[Core].[Cases] a
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Office]b WITH (NOLOCK) ON a.OfficeId = b.OfficeId 
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Appuser]c WITH (NOLOCK) ON a.CaseCreatedBy = c.AppuserId 
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[CaseStage]d WITH (NOLOCK) ON a.CaseStageId = d.CaseStageId 
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[CaseStatus]e WITH (NOLOCK) ON a.CaseStatusId = e.CaseStatusId 
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[CaseType]f WITH (NOLOCK) ON a.CaseTypeId = f.CaseTypeId 
left join [ldndw1\reporting].[EKS_Archive2].[Core].[Contact]g WITH (NOLOCK) on g.contactid = a.referrerID  
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[ProblemLagPeriod]i WITH (NOLOCK) ON a.ProblemLagPeriodId = i.ProblemLagPeriodId 
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[CallBackPriority]j WITH (NOLOCK) ON a.CallBackPriority= j.CallBackPriorityId
left join #Referrer r on r.referrerID = a.referrerID
CROSS APPLY [NHR Data Mart Test].[EKS].[InvestigatingBodyListing](a.CaseId) IBL


--Practitioner Details
If object_ID('tempdb..#Temp3') is not null
drop table #Temp3
select
dd.Description as Problem_First_Identified,
A.CaseId, 
a.CaseNo as Case_Number, 
cc.Forename1+' '+cc.Surname as  Case_Created_By,
a.ReferralDate as Referral_Date, 

a.Summary, 
hh.Description as Case_Type,
C.Description AS Stage, 
B.Description AS Case_Status, 
A.ComplaintStatus as Complaint_Status, 
a.InformationRequestStatus as Information_Request_Status, 
case 
when  a.StudyGroup is null then null
when a.StudyGroup = 0 then '[No Group]'
else 'Group '+ convert(varchar,a.StudyGroup)
end as Study_Group, 
D.Description AS Type,
A.CaseStatusId,

A.CaseStageId,

A.ComplaintStatus, 
InformationRequestStatus, 
StudyGroup, 
a.ProblemLagPeriodId, 
a.CallBackPriority, 

A.ReferrerId,
F.OrgNameAtReferral,
H.OrgFormalName AS OrgNameAtReferralDes,
J.OrgFormalName AS EmployContractOrgName, 
F.OrgRegionId,
F.EmployContractOrgCurrent, 
K.OrgFormalName AS EmployContractorOrgCurrentDesc, 
F.ReferrerTypeId,
N.Description AS [Organisation Type], 
A.PractitionerId,
E.ProfessionTypeId,
M.Description AS ProfessionalType, -- Linked Cases [Profession]
x.Description as ContractType,
E.GradeId,
R.Description AS GradeDescription,  -- Practitioner information [Grade]
t.Description aS GradeGroup, -- Practitioner information [Grade Group]***** Check Join*****Not sure if 'parentId] from grade is correct join...
E.EthnicityGroupId,
E.EthnicityId,
w.Description as Ethnicity,
s.Description as Ethnicity_Group,-- Practitioner information [Ethnicity Group]
v.Description as Gender,
case when e.Disability = 1 then 'Yes' else 'No' end as Disability,
case when e.PractitionerAware =  1 then 'Yes' else 'No' end as PractitionerAware,
case when e.FairProcessInfoSent =  1 then 'Yes' else 'No' end as FairProcessInfoSent, 
y.Description as SuspensionStatus,
z.Description as PracticeSize,
aa.Description as LengthInPostRB,
ff.Description as Time_Practicing_In_UK,
case when u.BestContactAddress = 0 then 'Address 1 - Work' else 'Address 2 - Alternative' end as BestContactAddress,
u.Name1 as Given_name_1,
u.Name2 as Given_name_2,
u.Name3 as Given_name_3,
u.Lastname as Surname,
u.AddressWork as Address_Work_Prac, -- Practitioner information [Address]
u.PostcodeWork as Post_Code_Work_Prac,
u.TelWork as Tel_Work_Prac, -- Practitioner information [Direct]
u.TelSecretary as Tel_Sec_Prac, -- Practitioner information [Secretary]
u.TelMobileWork as Tel_Mob_Prac, -- Practitioner information [Mobile]
u.EMailWork as Email_Work_Prac, -- Practitioner information [Email]
u.AddressHome as AlternativeAddress,
u.PostcodeHome as PostCode_Home,
u.TelHome as TelephoneNumber_Home,
u.TelMobilePersonal as MobileTelephoneNumber_Home,
u.EMailPersonal aS email_Adress_Home,
u.DateOfBirth as DOB,
ee.Description as Age_At_Referral, --(Practitioner)
e.Availability,
E.RegNumber,
E.SectorId,
O.Description AS SectorDescription, -- Linked Cases [Sector]
E.SpecialityId,
P.Description AS SpecialityDesc,-- Practitioner information [Specialty]
sp.Description AS SpecialityGroup , -- Practitioner information [Specialty Group]
E.QualificationLocationId, 
Q.Description AS QualificationLocationDesc, -- Practitioner information [Country of first professional qualification]
G.Description AS Region, 
A.RowCreateDate, 
A.RowCreateUser,
A.RowEditDate, 
A.RowEditUser, 
A.RowStatus, 
a.CaseFileLocation, -- Linked Cases [Case file location]
a.SecureFiling,-- Linked Cases [In secure filing]
a.OffSiteStorage, -- Linked Cases [In off-site storage]
gg.Forename1+' '+gg.Surname as  FileHeldBy, -- Linked Cases [File held by]
a.NumCaseFiles, -- Linked Cases [Number case files]*****************Check**********************
a.NumAssessorWorkbooks, -- Linked Cases [Number of Assesor workbooks]
SeCurrent, 
A.RowTracking

into #Temp3


FROM [ldndw1\reporting].[EKS_Archive2].[Core].[Cases] A  WITH (NOLOCK) 
left join [ldndw1\reporting].[EKS_Archive2].[Core].[CaseStatus] B WITH (NOLOCK) ON A.CaseStatusId=B.CaseStatusId
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[CaseStage] C WITH (NOLOCK) ON A.CaseStageId = C.CaseStageId
INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[CaseType] D WITH (NOLOCK) ON A.CaseTypeId=D.CaseTypeId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Practitioner] E WITH (NOLOCK) ON A.PractitionerId=E.PractitionerId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Referrer] F WITH (NOLOCK) ON A.ReferrerId=F.ReferrerId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[OrgRegion] G WITH (NOLOCK) ON F.OrgRegionId=G.OrgRegionId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Organisation] H WITH (NOLOCK) ON F.OrgNameAtReferral=H.OrgId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Organisation] J WITH (NOLOCK) ON F.EmployContractOrg=J.OrgId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Organisation] K WITH (NOLOCK) ON F.EmployContractOrgCurrent = K.OrgId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[ProfessionType] M WITH (NOLOCK) ON E.ProfessionTypeId=M.ProfessionTypeId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[SpecialityGroup] sp WITH (NOLOCK) ON E.SpecialityGroupId = sp.SpecialityGroupId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[OrgType] N WITH (NOLOCK) ON H.OrgTypeId=N.OrgTypeId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Sector] O WITH (NOLOCK) ON E.SectorId = O.SectorId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Speciality] P WITH (NOLOCK) ON E.SpecialityId=P.SpecialityId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[QualificationLocation] Q WITH (NOLOCK) ON E.QualificationLocationId = Q.QualificationLocationId
LEFT JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[Grade] R WITH (NOLOCK) ON E.GradeId = R.GradeId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[EthnicityGroup]s WITH (NOLOCK) on s.EthnicityGroupId = E.EthnicityGroupId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[GradeGroup]t WITH (NOLOCK) on t.GradeGroupId = r.ParentId
 left join [ldndw1\reporting].[EKS_Archive2].[Core].[Contact]u WITH (NOLOCK) on u.ContactId = e.ContactId
left join  [ldndw1\reporting].[EKS_Archive2].[Core].[Gender]v WITH (NOLOCK) on v.GenderId = u.Gender
left join  [ldndw1\reporting].[EKS_Archive2].[Core].[Ethnicity]w WITH (NOLOCK) on w.EthnicityId = e.EthnicityId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[ContractType]x WITH (NOLOCK) on x.ContractTypeId = e.ContractTypeId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[SeStatusAtRef]y WITH (NOLOCK) on y.SeStatusAtRefId = e.SuspensionStatus
left join  [ldndw1\reporting].[EKS_Archive2].[Core].[PracticeSize]z WITH (NOLOCK) on z.PracticeSizeId = e.PracticeSizeId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[StaffEmploymentPeriod] aa WITH (NOLOCK) on aa.StaffEmploymentPeriodId = e.StaffEmploymentPeriodId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[Appuser]cc WITH (NOLOCK) on cc.AppuserId = a.CaseCreatedBy
left join [ldndw1\reporting].[EKS_Archive2].[Core].[ProblemLagPeriod]dd WITH (NOLOCK) on dd.ProblemLagPeriodId = a.ProblemLagPeriodId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[AgeGroup]ee WITH (NOLOCK) on ee.AgeGroupId = e.AgeGroupId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[PracticingPeriod]ff WITH (NOLOCK) on ff.PracticingPeriodId = e.PracticingPeriodId
left join [ldndw1\reporting].[EKS_Archive2].[Core].[Appuser]gg WITH (NOLOCK) on gg.AppuserId = a.FileHeldBy
left join  [ldndw1\reporting].[EKS_Archive2].[Core].[CaseType]hh WITH (NOLOCK) on hh.CaseTypeId = a.CaseTypeId







If object_ID('tempdb..#Temp1') is not null
drop table #Temp1
select
A.CaseId, 
--Case Worker Details-----------------------------------------------------

df.*,

--Advice Brief-----------------------------------------------------------

a.Case_Number, 
Case_Created_By,
bb.Office, 
Referral_Date, 
bb.InvestigatingBodies as Other_Bodies_Involved,
a.Summary, 
Case_Type,
a.Stage, 
a.Case_Status, 
A.ComplaintStatus as Complaint_Status, 
a.Information_Request_Status, 
a.Study_Group, 
a.Problem_First_Identified,
bb.CallBackPriority as Call_Back_Priority,

--Referrer Details------------------------------------------------------

bb.Referrer_Title,
bb.ReferrerName1 as Referrer_Given_Name, --Referrer Details [Given Name]
bb.ReferrerName2 as Referrer_Surname, --Referrer Details [Surname]
bb.AddressWork as Referrer_Adress, --Referrer Details [Address]
bb.PostcodeWork as Referrer_PostCode,
bb.TelWork as Referrer_Direct_Tel, --Referrer Details [Direct]
bb.TelSecretary as Referrer_Secretary_Tel, --Referrer Details [Secretary]
bb.TelMobileWork as Referrer_Mobile_tel, --Referrer Details [Mobile]
bb.EMailWork as Referrer_Email, --Referrer Details [Email]
bb.Availability as Referrer_Availability,
bb.referrerPosition as Callers_Position, --Referrer Details [Caller's Position]
case 
	when bb.ResponsibleFlag = 1 then 'Yes'
	when bb.ResponsibleFlag = 0 then 'No'
	else null
End as Responsible_Officer,
bb.OrgNameAtReferral as Organisation_Name_At_Referral	, --Referrer Details [Organisation name at referral]
bb.ReferrerType as Referrer_Type, --Referrer Details [Referrer Type]
bb.EmployeeContractOrg as Emp_Cont_Org_If_Different, --Referrer Details [Employing/contracting organisation if Different]
bb.EmployeeContractOrgCurrent as Current_Employing_Contract_Org,--Referrer Details [Current employing/contracting organisation]
ltrim(rtrim(SUBSTRING(bb.ReferrerRegion, CHARINDEX('-', bb.ReferrerRegion) + 1, LEN(bb.ReferrerRegion)))) as Country_Region,--Referrer Details [Country/Region]
bb.OrgOtherDetails as Unlisted_Org_Details,

--Linked Cases------------------------------------------------------

a.SectorDescription as Sector, -- Linked Cases [Sector]
a.CaseFileLocation, -- Linked Cases [Case file location]
a.FileHeldBy, -- Linked Cases [File held by]
a.NumCaseFiles, -- Linked Cases [Number case files]*****************Check**********************
a.ProfessionalType as Profession, -- Linked Cases [Profession]
a.SecureFiling as In_Secure_Filing,-- Linked Cases [In secure filing]
a.OffSiteStorage as In_Off_Site_Storage, -- Linked Cases [In off-site storage]
a.NumAssessorWorkbooks as Number_Of_Assesor_WorkBooks, -- Linked Cases [Number of Assesor workbooks]

xx.*,

--Practitioner Information------------------------------------------------------

a.Gender,
a.Age_At_Referral,	
a.Ethnicity,
a.Ethnicity_Group,-- Practitioner information [Ethnicity Group]
a.DOB as Date_Of_Birth,
a.QualificationLocationDesc, -- Practitioner information [Country of first professional qualification]
a.Time_Practicing_In_UK as When_Did_Prac_First_Start,
a.Disability as Practitioner_Disabled,
a.GradeDescription,  -- Practitioner information [Grade]
a.GradeGroup, -- Practitioner information [Grade Group]***** Check Join*****Not sure if 'parentId] from grade is correct join...
a.SpecialityDesc as Specialty,-- Practitioner information [Specialty]
a.SpecialityGroup as Specialty_group, -- Practitioner information [Specialty Group]
a.PractitionerAware as Practitioner_Aware,
a.ContractType as Contract_Type,
a.LengthInPostRB as How_Long_In_Post_RB,
a.PracticeSize as Practive_Size,
a.FairProcessInfoSent as Has_Fair_Processing_Info_Sent, 
a.SuspensionStatus as Suspension_Exclusion_Status,

--Practitioner Contact Details------------------------------------------------------

Given_name_1,
Given_name_2,
Given_name_3,
Surname,
a.RegNumber as GMC_GDC_Number, 
a.Address_Work_Prac as Practitioner_Work_Address, -- Practitioner information [Address]
a.Post_Code_Work_Prac as Practitioner_Work_PostCode,
a.Tel_Work_Prac as Practitioner_Direct_telephone, -- Practitioner information [Direct]
a.Tel_Sec_Prac as  Practitioner_Secretary_Telephone, -- Practitioner information [Secretary]
a.Tel_Mob_Prac as Practitioner_Mobile_Telephone, -- Practitioner information [Mobile]
a.Email_Work_Prac as Practitioner_Work_Email, -- Practitioner information [Email]
a.AlternativeAddress as Practitioner_Alternative_Address,
a.PostCode_Home as Practitioner_Alternative_PostCode,
a.TelephoneNumber_Home as Practitioner_Alternative_Telephone,
a.MobileTelephoneNumber_Home as Practitioner_Alternative_Mobile,
a.email_Adress_Home as Practitioner_Alternative_Email,
a.BestContactAddress as Preferred_Contact_Address,
a.Availability

into #temp1

from [#temp0]s
inner join #temp3 a on a.caseid = s.caseid -- General Case Details
left join  [NHR Data Mart Test].[EKS].[REF_EKS_Link_Reasons]xx WITH (NOLOCK) on xx.CaseID_X = s.CaseId
left join #Temp10 as bb on bb.CaseId = s.CaseId -- referrer details
left join #Sample22 as df on df.CaseIdc = s.CaseId
 

 


order by s.caseid


alter table #Temp1
drop column CaseId_X,Caseidc

delete from #temp1 where ltrim(rtrim(Case_Type)) = 'Void' or ltrim(rtrim(Stage)) = '0-Information only'

If object_ID('[NHR Data Mart Test].[EKS].[01_EKS_Case_Details]') is not null
	Drop table [NHR Data Mart Test].[EKS].[01_EKS_Case_Details]
	select 
	*
	into [NHR Data Mart Test].[EKS].[01_EKS_Case_Details]
	from [#temp1]

	--SELECT *  FROM [NHR Data Mart Test].[EKS].[01_EKS_Case_Details] order by caseid
	