USE [NHR Data Mart Test]
GO
/****** Object:  UserDefinedFunction [Core].[InvestigatingBodyListing]    Script Date: 20/08/2018 10:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create FUNCTION [EKS].[InvestigatingBodyListing]
(
	@CaseId int
)
RETURNS 
@Resulttable TABLE 
(
CaseId INT, DescriptionList VARCHAR(1000)
)
AS
BEGIN
	DECLARE @ResultList VARCHAR(1000)='', @BodyName VARCHAR(80)

	--SELECT * FROM  [ldndw1\reporting].[EKS_Archive2].[Core].InvestigationBody 
	--SELECT * FROM  [ldndw1\reporting].[EKS_Archive2].[Core].[CaseInvestigation]
	--SELECT CaseId, InvestigationBody.InvestigationBodyId, Description FROM [ldndw1\reporting].[EKS_Archive2].[Core].CaseInvestigation
	--INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].InvestigationBody ON [ldndw1\reporting].[EKS_Archive2].[Core].CaseInvestigation.InvestigationBodyId = [ldndw1\reporting].[EKS_Archive2].[Core].InvestigationBody.InvestigationBodyId


DECLARE Body CURSOR FAST_FORWARD READ_ONLY FOR
SELECT  b.[Description] FROM [ldndw1\reporting].[EKS_Archive2].[Core].[CaseInvestigation] a
	INNER JOIN [ldndw1\reporting].[EKS_Archive2].[Core].[InvestigationBody] b ON a.InvestigationBodyId = b.InvestigationBodyId
		WHERE CaseId = @CaseId

OPEN Body

FETCH NEXT FROM Body INTO @BodyName

WHILE @@FETCH_STATUS = 0
BEGIN

SET @ResultList=@ResultList+@BodyName+'; '
--SET @ResultList= (CASE WHEN @ResultList ='' THEN '' ELSE '; ' END) +@BodyName

FETCH NEXT FROM Body INTO @BodyName

END

CLOSE Body
DEALLOCATE Body
	
	INSERT INTO @Resulttable ( CaseId, DescriptionList )
	VALUES  ( @CaseId, @ResultList
	          )
	RETURN 
END

