USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_ClaimGeneral_Archive]    Script Date: 13/09/2018 11:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [NCAS].[sp_Refresh_NCAS_Monthly_Tables]

 AS
 BEGIN


If object_ID('[NHR Data Mart Test].[NCAS].[01_EKS_Case_Details]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[01_EKS_Case_Details]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[01_EKS_Case_Details]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[01_EKS_Case_Details]


 If object_ID('[NHR Data Mart Test].[NCAS].[05_EKS_Advice_Report_Data]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[05_EKS_Advice_Report_Data]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[05_EKS_Advice_Report_Data]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]


 
 If object_ID('[NHR Data Mart Test].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[06_EKS_Suspensions_Exclusions_Base_Data]


  
 If object_ID('[NHR Data Mart Test].[NCAS].[07_BOT_KPI_Report_Base_Data]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[07_BOT_KPI_Report_Base_Data]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[07_BOT_KPI_Report_Base_Data]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data]



  
 If object_ID('[NHR Data Mart Test].[NCAS].[04_EKS_COG_Assesment_Consideration]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[04_EKS_COG_Assesment_Consideration]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[04_EKS_COG_Assesment_Consideration]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration]



   
 If object_ID('[NHR Data Mart Test].[NCAS].[08_EKS_Case_Concern_High_Level]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[08_EKS_Case_Concern_High_Level]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[08_EKS_Case_Concern_High_Level]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[08_EKS_Case_Concern_High_Level]

 

  If object_ID('[NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[09_EKS_Data_CompleteNess]



   If object_ID('[NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess_Tab1]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess_Tab1]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess_Tab1]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[09_EKS_Data_CompleteNess_Tab1]


   If object_ID('[NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess_Tab2]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess_Tab2]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[09_EKS_Data_CompleteNess_Tab2]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[09_EKS_Data_CompleteNess_Tab2]




    If object_ID('[NHR Data Mart Test].[NCAS].[10_Case_Concerns_Summary_Data]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[10_Case_Concerns_Summary_Data]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[10_Case_Concerns_Summary_Data]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[10_Case_Concerns_Sumamry_Data]


 
    If object_ID('[NHR Data Mart Test].[NCAS].[10_CaseConcerns_All_Data]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[10_CaseConcerns_All_Data]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[10_CaseConcerns_All_Data]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]



  
    If object_ID('[NHR Data Mart Test].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns]


  
    If object_ID('[NHR Data Mart Test].[NCAS].[10_CaseConcerns_Summary]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[10_CaseConcerns_Summary]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[10_CaseConcerns_Summary]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]



     If object_ID('[NHR Data Mart Test].[NCAS].[10_WorkForce_Report_Data]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[10_WorkForce_Report_Data]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[10_WorkForce_Report_Data]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[10_WorkForce_Report_Data]



 
     If object_ID('[NHR Data Mart Test].[NCAS].[11_Referral_Assessment_Data]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[11_Referral_Assessment_Data]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[11_Referral_Assessment_Data]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data]


  
     If object_ID('[NHR Data Mart Test].[NCAS].[REF_EKS_Link_Reasons]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[REF_EKS_Link_Reasons]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[REF_EKS_Link_Reasons]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[REF_EKS_Link_Reasons]


 End