USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_EMIS_Availabilty_Practices_SP]    Script Date: 25/05/2021 11:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[AT_EMIS_Availabilty_Practices_SP] 

AS
BEGIN



			 	 if OBJECT_ID ('Tempdb..#MaxID2') is not null
					drop table #MaxID2
					select 
					DeptEnterpriseID, 
					Max(EventDate) as LastDate 
					into #MaxID2
					FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] 
					group by DeptEnterpriseID


				 if OBJECT_ID ('Tempdb..#MinID2') is not null
					drop table #MinID2
					select 
					DeptEnterpriseID, 
					Min(EventDate) as LastDate 
					into #MinID2
					FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog] 
					group by DeptEnterpriseID






			if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]') is not null
			drop table [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]

			select  
			distinct
			cast(null as Varchar(max)) as DeptName,
			--e.Name as DeptName,
			a.DeptEnterpriseID,
			cast(null as varchar(255)) as ODSCode,
			cast(null as varchar(255)) as CCG,
			cast(null as varchar(255)) as Postcode,
			cast(null as varchar(500)) as STP,
			cast(null as varchar(500))as [NHS Region],
			v.LastDate as FirstEventDate,
			w.LastDate as LastEventDate


		into [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]

		FROM [ETL_Local_PROD].[dbo].[AT_AvailabilityLog]a
		left join #MaxID2 w on w.DeptEnterpriseID = a.DeptEnterpriseID
		left join #MinID2 v on v.DeptEnterpriseID = a.DeptEnterpriseID

		Where a.DeptEnterpriseID is not null


		  update f

				set f.DeptName = e.name,
					f.ODSCode = d.ODSCode

		  from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]f
		  inner join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.EnterpriseID = f.DEptEnterpriseID
		  inner join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name

		  --select top 50 * from  [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices] where odscode is null


	
	  update a

			set a.PostCode =  hh.postcode 

	  from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]a 
	  inner join [ETL_Local_PROD].[dbo].[AT_Organisation_to_Department_Provider_Directory]hh on hh.EnterpriseID = a.DeptEnterpriseID
	--left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]f with (nolock) on f.ActivityTeam = a.DeptName
	--left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]g on g.[Organisation Code] = ODSCode
	--left join [ETL_Local_PROD].[ODSData].[searchods]hh on hh.ODS = ODSCode







	update f
			set		f.CCG =  i.ccg,
					f.STP = i.stp,
					f.[NHS Region] = i.[NHS England REgion]


	from [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]f
	left join [ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]i on i.PCDs = f.Postcode

 


	END


	