USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_Commissioners_Report_Personal_Community_Extract_SP]    Script Date: 17/11/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[AT_Commissioners_Report_Personal_Community_Extract_SP] 
-- Amended for PD Upgrade
AS
BEGIN


	DECLARE 
		@EndDate date,  
		@StartDate Date,
		@WeekEnd date,
		@ReportDate date,
		@WeekStart date,
		@totalWeeks int,
		@WeekCounter int = 0,
		@SnapDateStart Date,
		@SnapDateEnd Date,
		@YearStartDate Date

		set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
 
	set @EndDate =  EOMONTH(getdate())--DATEADD(DAY, -(DAY(getdate())), getdate())
	print @StartDate
	Print @EndDate
 
	 

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT  distinct
 
	 
	 [Month Start Date]
      ,[Month End Date]
	  ,[Year Start Date]
 
      
  FROM [ETL_Local_PROD].[dbo].[DIM_Date]
  where [Calendar Day] >= @StartDate and [Calendar Day] < @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT 
	ROW_NUMBER() OVER(ORDER by [Month Start Date] ASC) AS RowNumb,
	*
	into #Temp_CTE_Date		
	FROM cte
	OPTION (MAXRECURSION 0)

	 
	--select * from #Temp_CTE_Date order by rownumb desc
	 --select * from [ETL_PROD].[dbo].[PC_Acct_User]

	 	--select * from [ETL_PROD].[dbo].[CMC_OrganizationName]

	 
	set @totalWeeks = (select MAX(Rownumb) from #Temp_CTE_Date  ) 

	 												
	WHILE @WeekCounter <= @totalWeeks BEGIN
		SET @WeekCounter = @WeekCounter + 1
		set @ReportDate = (select [Month Start Date] from  #Temp_CTE_Date where RowNumb = @WeekCounter)
		set @YearStartDate = (select [Year Start Date] from  #Temp_CTE_Date where RowNumb =  @WeekCounter)
		set @SnapDateEnd = (select [Month End Date] from  #Temp_CTE_Date where RowNumb = @WeekCounter)

		IF OBJECT_ID('tempdb..#Temp22') IS NOT NULL 
		dROP TABLE #Temp22
		select 
		e.[Financial Year],
		@YearStartDate  as [Year Start Date],
		e.Quarter,
	 
		@ReportDate as [Report Month],
		d.*
		into
		#Temp22
		from
		(


		SELECT 
		'Initiated' as ReportName,
		cast(null as varchar(255))  as GP_Practice,
		GPOrgRegId,
		cast(null as varchar(255)) as ODSCode,
		cast(null as varchar(255)) as CCG,
		COUNT(*) as Total
		FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a


		where IsEdit=0
  
		and 
		(
		CAST(SubmitTime as Date)>= @ReportDate
		and
		CAST(SubmitTime as Date)<= @SnapDateEnd
		)
		group by

		GPOrgRegId

  union

  SELECT 
  'Completed' as ReportName,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  cast(null as varchar(255)) as ODSCode,
  cast(null as varchar(255)) as CCG,
  COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a

  where IsEdit=0
  --and Complete=1
  and 
	  (
	  CAST(CompleteTime as Date)>= @ReportDate
		 and
	  CAST(CompleteTime as Date)<= @SnapDateEnd
	  )
group by
 
GPOrgRegId

 union	


    SELECT 'Initiated and Not Complete' as ReportName, --USED For COmmissioners Workbook
  --e.name as GP_Practice,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  --d.ODSCode,
  cast(null as varchar(255)) as ODSCode,
--g.[CCG],
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


  where IsEdit=0
	and  (cast(CompleteTime as date) > @SnapDateEnd OR CompleteTime is null)
  and 
	  (

	  CAST(SubmitTime as Date)<= @SnapDateEnd
	  )
group by
--e.name,
--g.[CCG],
--d.ODSCode
GPOrgRegId
 

union

    SELECT 'Initiated and Not Complete - In Month' as ReportName,
  --e.name as GP_Practice,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  --d.ODSCode,
  cast(null as varchar(255)) as ODSCode,
--g.[CCG],
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


  where IsEdit=0
  --and Complete=0
  and 
		  (
	  CAST(SubmitTime as Date)>= @ReportDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
 and  (cast(CompleteTime as date) > @SnapDateEnd OR CompleteTime is null)
group by
--e.name,
--g.[CCG],
--d.ODSCode
GPOrgRegId

 

union

    SELECT 'Initiated and Not Complete - CurrentFinYear' as ReportName,
  --e.name as GP_Practice,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  --d.ODSCode,
  cast(null as varchar(255)) as ODSCode,
--g.[CCG],
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


  where IsEdit=0
  --and Complete=0
  and 
		  (
	  CAST(SubmitTime as Date)>= @YearStartDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
 and  (cast(CompleteTime as date) > @SnapDateEnd OR CompleteTime is null)
group by
--e.name,
--g.[CCG],
--d.ODSCode
GPOrgRegId

union

    SELECT 'Initiated and Complete - In Month' as ReportName,
  --e.name as GP_Practice,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  --d.ODSCode,
  cast(null as varchar(255)) as ODSCode,
--g.[CCG],
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


  where IsEdit=0
  --and Complete=0
  and 
		  (
	  CAST(SubmitTime as Date)>= @ReportDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
 and  (
		cast(CompleteTime as date) <= @SnapDateEnd 
		AND 
		cast(CompleteTime as date) >= @ReportDate
		
		)
group by
--e.name,
--g.[CCG],
--d.ODSCode
GPOrgRegId

union

    SELECT 'Initiated and Complete - CurrentFinYear' as ReportName,
  --e.name as GP_Practice,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  --d.ODSCode,
  cast(null as varchar(255)) as ODSCode,
--g.[CCG],
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


  where IsEdit=0
  --and Complete=0
  and 
		  (
	  CAST(SubmitTime as Date)>= @YearStartDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
	and  
		(
		cast(CompleteTime as date) >= @YearStartDate
		AND
		cast(CompleteTime as date) <= @SnapDateEnd 
		
		)
	group by
	--e.name,
	--g.[CCG],
	--d.ODSCode
	GPOrgRegId

 
 
union

    SELECT 'Initiated - CurrentFinYear' as ReportName,
  --e.name as GP_Practice,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  --d.ODSCode,
  cast(null as varchar(255)) as ODSCode,
--g.[CCG],
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


  where IsEdit=0
  --and Complete=0
  and 
		  (
	  CAST(SubmitTime as Date)>= @YearStartDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
 
group by
--e.name,
--g.[CCG],
--d.ODSCode
GPOrgRegId

 


union

    SELECT 'Initiated previous months and Complete - In Month ' as ReportName,
  --e.name as GP_Practice,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  --d.ODSCode,
  cast(null as varchar(255)) as ODSCode,
--g.[CCG],
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


  where IsEdit=0
  --and Complete=0
  and 
		  (
	  CAST(SubmitTime as Date) < @ReportDate
		 
	     )
 and  (
		cast(CompleteTime as date) <= @SnapDateEnd 
		AND 
		cast(CompleteTime as date) >= @ReportDate
		
		)
group by
--e.name,
--g.[CCG],
--d.ODSCode
GPOrgRegId


  union



  SELECT 'Initiated and Complete' as ReportName,		--USED For COmmissioners Workbook
  --e.name as GP_Practice,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  --d.ODSCode,
  cast(null as varchar(255)) as ODSCode,
--g.[CCG],
  cast(null as varchar(255)) as CCG,
  COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode
  where IsEdit=0
  and Complete=1
  and 
	  (
	  CAST(SubmitTime as Date)>= @ReportDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	  )
group by
--e.name,
--g.[CCG],
--d.ODSCode
GPOrgRegId

  
    

		)d
		 
	  left join 
	  (
	  select
	  distinct
	  [Month Start Date],
	  [Financial Year],
	  [YEar Start Date],
		Quarter
	  from [ETL_Local_PROD].[dbo].[DIM_Date]
	  where [Month Start Date] = @ReportDate
	  )
	  e on e.[Month Start Date] = @ReportDate
	  
 --select * from [ETL_Local_PROD].[dbo].[DIM_Date]
 if @WeekCounter = 1 
	begin 
 
	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract] 

	select * into [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract] from #Temp22

	end

	ELSE

	begin

	insert into [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]
	select * from #Temp22
	where not EXISTS (SELECT * FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]  WHERE [Report Month] = @ReportDate ) 
	end
 
	END


 
  delete from  [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]   where [Report Month] is null

	update x
		set x.GP_Practice = e.name,
			x.odscode = d.ODSCode,
			x.ccg	= ltrim(rtrim(REplace(coalesce(s.actual_CCG,g.CCG), ' CCG', ''))) 

	from [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract] x
	left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = x.GPOrgRegId
	left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
	left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
	left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode
	 left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Report_Wrong_CCG_Lookup]s on s.ODS =d.ODSCode

    delete from  [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]   where GP_Practice is null


 
  

  --select * from  [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]   order by [Report Month] desc


  End

 --select * from  [ETL_Local_PROD].[ODSData].[searchods] where ODS = 'F84119'
--    SELECT 'Initiated and Not Complete' as ReportName,
--  coalesce(g.CCG,f.[GP CCG]) as CCG,
--  COUNT(*) as Total
--   --a.*
--  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g on g.NHS_Number = a.Number_PatientNumber
--  where IsEdit=0
--  and Complete=0
--  and 
--	  (
--	  CAST(SubmitTime as Date)>= '2020-06-01'
--		 and
--	  CAST(SubmitTime as Date)<= '2020-06-30'
--	  )
--group by
--coalesce(g.CCG,f.[GP CCG])



--  SELECT 'Initiated and Complete' as ReportName,
--    coalesce(g.CCG,f.[GP CCG]) as CCG,
-- a.*
--  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g on g.NHS_Number = a.Number_PatientNumber
--  where IsEdit=0
--  and Complete=1
--  and 
--	  (
--	  CAST(SubmitTime as Date)>= '2020-06-01'
--		 and
--	  CAST(SubmitTime as Date)<= '2020-06-30'
--	  )
 