USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MyCMC_GP_Actiity]    Script Date: 20/04/2021 16:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[AT_MyCMC_GP_Actiity] 
-- Amended for PD Upgrade
AS
BEGIN





	DECLARE 
		@EndDate date,  
		@StartDate Date,
		@WeekEnd date,
		@ReportDate date,
		@WeekStart date,
		@totalWeeks int,
		@WeekCounter int = 0,
		@SnapDateStart Date,
		@SnapDateEnd Date

		set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
 
	set @EndDate =  EOMONTH(getdate())--DATEADD(DAY, -(DAY(getdate())), getdate())
	--print @StartDate
	--Print @EndDate


	 SELECT DATEADD(DAY, 2 - DATEPART(WEEKDAY, GETDATE()), CAST(GETDATE() AS DATE)) [Week_Start_Date]
	 Select DATEADD(DAY, 8 - DATEPART(WEEKDAY, GETDATE()), CAST(GETDATE() AS DATE)) [Week_End_Date]

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT  distinct
 

	 DATEADD(DAY, 2 - DATEPART(WEEKDAY, [calendar day]), CAST([calendar day] AS DATE)) [Week_Start_Date],
	 DATEADD(DAY, 8 - DATEPART(WEEKDAY, [calendar day]), CAST([calendar day] AS DATE)) [Week_End_Date]
 
      
  FROM [ETL_Local_PROD].[dbo].[DIM_Date]
  where [Calendar Day] >= @StartDate and [Calendar Day] < @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT 
 distinct
 	 ROW_NUMBER() OVER(ORDER by [Week_Start_Date] ASC) AS RowNumb,
	*
	into #Temp_CTE_Date		
	FROM cte
	OPTION (MAXRECURSION 0)

	 
	--select * from #Temp_CTE_Date order by rownumb  
	 --select * from [ETL_PROD].[dbo].[PC_Acct_User]

	 	--select * from [ETL_PROD].[dbo].[CMC_OrganizationName]

	 
	set @totalWeeks = (select MAX(Rownumb) from #Temp_CTE_Date  ) 

	 												
	WHILE @WeekCounter <= @totalWeeks BEGIN
		SET @WeekCounter = @WeekCounter + 1
		set @ReportDate = (select [Week_Start_Date] from  #Temp_CTE_Date where RowNumb = @WeekCounter)
 
		set @SnapDateEnd = (select [Week_End_Date] from  #Temp_CTE_Date where RowNumb = @WeekCounter)

		IF OBJECT_ID('tempdb..#Temp22') IS NOT NULL 
		dROP TABLE #Temp22
		select 
		e.[Financial Year],
		e.Quarter,
	 
		@SnapDateEnd as [Week_End_Date],
		d.*
		into
		#Temp22
		from
		(
		
    
    SELECT 
	'Initiated' as ReportName,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  cast(null as varchar(255)) as ODSCode,
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a


  where IsEdit=0
  
  and 
		  (
	  CAST(SubmitTime as Date)>= @ReportDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
group by

GPOrgRegId

  union

  SELECT 
  'Completed' as ReportName,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  cast(null as varchar(255)) as ODSCode,
  cast(null as varchar(255)) as CCG,
  COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a

  where IsEdit=0
 
  and 
	  (
	  CAST(CompleteTime as Date)>= @ReportDate
		 and
	  CAST(CompleteTime as Date)<= @SnapDateEnd
	  )
group by
 
GPOrgRegId

 


		)d
		 
	  left join 
	  (
	  select
	  distinct
	  [Calendar Day],
	  [Month Start Date],
	  [Financial Year],
		Quarter
	  from [ETL_Local_PROD].[dbo].[DIM_Date]
	  where [Calendar Day] = @ReportDate
	  )
	  e on e.[Calendar Day] = @ReportDate
	  
 --select * from [ETL_Local_PROD].[dbo].[DIM_Date]
 if @WeekCounter = 1 
	begin 
 
	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]

	select * into [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity] from #Temp22

	end

	ELSE

	begin

	insert into [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]
	select * from #Temp22
	where not EXISTS (SELECT * FROM [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity] WHERE [Week_End_Date] = @ReportDate ) 
	end
 
	END


 
  delete from  [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]   where [Week_End_Date] is null

	update x
		set x.GP_Practice = e.name,
			x.odscode = d.ODSCode,
			x.ccg	= ltrim(rtrim(REplace(g.CCG, ' CCG', ''))) 

	from [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]x
	left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = x.GPOrgRegId
	left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
	left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
	left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


    delete from  [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]   where GP_Practice is null


 
  
  	IF OBJECT_ID('tempdb..#GPCCG') IS NOT NULL 
			dROP TABLE #GPCCG
				SELECT 
				distinct
				[Financial Year]
				,[Year Start Date]
				,Dense_RANK() OVER (  ORDER BY [Report Month])  as MonthOrder
				,[Report Month]
				,a.CCG
				,a.GP_Practice
				,a.ODSCode
			 

				into #GPCCG

				FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]aa
				 cross join
				(
				select 
				distinct
						 aa.[GP_Practice]
				,ltrim(rtrim(REplace([CCG], ' CCG', ''))) as CCG,
				ODSCode
				FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]aa
				)a
		 
			where [Year Start Date] >=  convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120)
			
			
			--select * from #GPCCG order by [Report Month]
			
			 	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_MyCMC_Backlog]') IS NOT NULL 
			dROP TABLE [ETL_Local_PROD].[dbo].[AT_MyCMC_Backlog]
			SELECT 
		distinct
		[Financial Year]
		,[Year Start Date]
		,Dense_RANK() OVER (  ORDER BY [Report Month])  as MonthOrder
		,[Report Month]
		,aa.[GP_Practice]
		,ltrim(rtrim(REplace([CCG], ' CCG', ''))) as CCG
		--,(sum(case when reportName = 'initiated' then aa.Total else 0 end) as [Initiated]
		,(select total FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]x where x.reportName = 'initiated' and x.ODSCode = aa.ODSCode and x.[Report Month] = aa.[Report Month]) as Initiated
		,(select total FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]x where x.reportName = 'Initiated previous months and Complete - In Month ' and x.ODSCode = aa.ODSCode and x.[Report Month] = aa.[Report Month]) as [Completed - backlog]
		,(select total FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]x where x.reportName = 'Initiated and Complete - In Month'  and x.ODSCode = aa.ODSCode and x.[Report Month] = aa.[Report Month]) as Completed
		,(select total FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]x where x.reportName = 'Initiated and Not Complete - CurrentFinYear'  and x.ODSCode = aa.ODSCode and x.[Report Month] = aa.[Report Month]) as [Current Fin YEar Backlog]
		,(select total FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]x where x.reportName = 'Initiated and Complete - CurrentFinYear'  and x.ODSCode = aa.ODSCode and x.[Report Month] = aa.[Report Month]) as [Current Fin YEar Completed]
		,(select total FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]x where x.reportName = 'Initiated - CurrentFinYear'  and x.ODSCode = aa.ODSCode and x.[Report Month] = aa.[Report Month]) as [Current Fin YEar Initiated]
		,(select total FROM [ETL_Local_PROD].[dbo].[Commissioners_Report_Personal_Community_Extract]x where x.reportName = 'Initiated and Not Complete' and x.ODSCode = aa.ODSCode and x.[Report Month] = aa.[Report Month]) as Backlog
		--,sum(case when reportName = 'Completed' then aa.Total else 0 end) as [Completed]
		--,sum(case when ReportName = 'Initiated and Not Complete Weekly Report Version' then aa.total else null end) as backlog
		--,count(*t.Total as Backlog
		--,sum(case when reportName = 'initiated' then aa.Total else 0 end) - sum(case when reportName = 'Completed' then aa.Total else 0 end) as [Difference]

		into [ETL_Local_PROD].[dbo].[AT_MyCMC_Backlog]

		FROM [#GPCCG]aa
	 
		 
		where [Year Start Date] >=  convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120)
		--and GP_Practice = 'CLOVER HEALTH CENTRE'
		group by
				[Financial Year]
				,[Year Start Date]
		,[Report Month]
		,aa.[GP_Practice]
		,aa.ODSCode
		,ltrim(rtrim(REplace([CCG], ' CCG', '')))

  --select * from    [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]    order by [Report Month] desc


  End

  