USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_MyCMC_Incomplete]    Script Date: 28/04/2021 13:11:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[AT_MyCMC_Incomplete] 

AS
BEGIN



/**

Dear Andrew

Please can you arrange to send me a myCMC report every morning.  What I need for all patients who have a myCMC in draft is;
1.	Names of patients + NHS number
2.	Names of practice the patient belongs to
3.	Practice telephone number
4.	Practice email address

Each morning we will call and email the practice to tell them there is a plan in draft that needs approval.

select * from ETL_PROD.dbo.CMC_Telecom 



REPLACE(fld_or_variable, ' ', '')



**/

if OBJECT_ID ('Tempdb..#Telephone') is not null
 drop table #Telephone
 select
 ItemId,
 CountryCode,
 AreaCode,
 TelephoneNumber,
 REPLACE(FullNumber, ' ', '') as FullNumber,
 FullNumber as ORiginalFullNumber,
 IsPrimary,
 TypeCodedValue,
 StatusCodedValue
 into #Telephone
 from ETL_PROD.dbo.CMC_Telecom 






if OBJECT_ID ('Tempdb..#TelephoneGP') is not null
 drop table #TelephoneGP

SELECT 
distinct 
case when left(isnull(ph.FullNumber,ph.TelephoneNumber) ,2) <> '07' then row_number() over (partition by OrganizationEID order by case when tt.Description = 'Business Phone' then 1 else left(isnull(ph.FullNumber,ph.TelephoneNumber),5) end )else null end as No_07_PhoneOrder,
case when left(isnull(ph.FullNumber,ph.TelephoneNumber) ,2) = '07' then row_number() over (partition by OrganizationEID order by case when tt.Description = 'Business Phone' then 1 else left(isnull(ph.FullNumber,ph.TelephoneNumber),5) end )else null end as Yes_07_PhoneOrder,
OrganizationEID as DeptEnterpriseId, 
isnull(ph.FullNumber,ph.TelephoneNumber) as Telephone, 
tt.Description as TelephoneType,
convert(date, creationDateTime) as CreationDate,
convert(date,ds.StartDate) as StartDate,
convert(date,ds.EndDate) as EndDate

into #TelephoneGP

  FROM [ETL_PROD].[dbo].[CMC_Location] lo  
-- change CMC_Location_Contacts/CMC_ContactInfo_Phones to CMC_Location_Phones  
  join ETL_PROD.dbo.CMC_Location_Phones cp on cp.Location = Lo.ItemId
  join #Telephone ph on cp.Phone = ph.ItemId
left join ETL_PROD.dbo.CMC_Location_DateSpan lods on lo.ItemId = lods.Location
left join ETL_PROD.dbo.CMC_DateSpan ds on lods.DateSpan = ds.ItemId
left join etl_prod.dbo.Coded_TelecomType tt on tt.Code = ph.TypeCodedValue
-- ensure ind->org info is omitted from this view MS 6.4.16
where lo.IndividualEID is null
-- exclude deleted and expired/unstarted locations MS 25.8.16
and lo.Deleted is null
and (ds.StartDate is null or CAST(ds.startdate as date) <= CAST(getdate() as DATE))
and (ds.EndDate is null or  CAST(ds.enddate as date) > CAST(getdate() as DATE))

order by OrganizationEID

  
  	if OBJECT_ID ('Tempdb..#GPDetails') is not null
	drop table #GPDetails

select
 distinct
 lo.OrganizationEID,
 case 
 when em.Address like '%nhs.net' then row_number() over (partition by lo.OrganizationEID order by Email) else null end as EmailOrder , 
    row_number() over (partition by lo.OrganizationEID order by Email)  as EmailOrderaLL, 
 lo.OrganizationEID AS DeptEnterpriseId,
 em.Address as Email,
 convert(date,ds.StartDate) as StartDate,
 convert(date,ds.EndDate) as EndDate

 into #GPDetails

  FROM [ETL_PROD].[dbo].[CMC_Location] lo 
  join [ETL_Local_PROD].[dbo].[AT_PD_Dept] d on lo.OrganizationEID = deptenterpriseid
-- change CMC_Location_Contacts/CMC_ContactInfo_Emails to CMC_Location_Emails
  join ETL_PROD.dbo.CMC_Location_Emails cp on cp.Location = Lo.ItemId
  join ETL_PROD.dbo.CMC_Email em on cp.Email = em.ItemId
left join ETL_PROD.dbo.CMC_Location_DateSpan lods on lo.ItemId = lods.Location
left join ETL_PROD.dbo.CMC_DateSpan ds on lods.DateSpan = ds.ItemId
-- ensure ind->org info is omitted from this view MS 6.4.16

where lo.Deleted is null

-- exclude FLAGGING emails MS 17.2.17
and em.TypeCodedValue <> 'FLAGGING'
and (ds.StartDate is null or CAST(startdate as date) <= CAST(getdate() as DATE))
and (ds.EndDate is null or  CAST(enddate as date) > CAST(getdate() as DATE))

--select *
--from
--[ETL_PROD].[dbo].[CMC_Organization]d with (nolock) 
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--where d.EnterpriseID = 100063576



--select *from #GPDetails where OrganizationEID = 100063576
if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_MyCMC_CoreData]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_MyCMC_CoreData]

select
 distinct
--CMC_ID,
PatientSummaryId,
Name_GivenName +' '+ Name_FamilyName as PatientName,
Number_PatientNumber as NHS_Number,
row_number() over (partition by Number_PatientNumber order by LastUpdated desc)  as OrderaLL, 
EmailAddress as PatientEmail,
a.postcode as PatientPostCode,
a.gender,
GPOrgRegId,
e.Name,
f.[Organisation Name],
f.[Address Line 1],
f.[Address Line 2],
f.Postcode,
h.Email as GPEmail,
i.Telephone,
f.CCG,
Complete,
CompleteTime,
LastUpdated,
SubmitTime,
IsEdit,
InvalidReason,
IsValid,
case
	when j.CMC_ID is not null 
	then 1 
	else null 
end as [Created but Not Published Flag]
 
 into [ETL_Local_PROD].[dbo].[AT_MyCMC_CoreData]

FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest_Copy]a
 
 
left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
left join [ETL_Local_PROD].[dbo].[AT_ODS_Data]f with (nolock) on f.[Organisation Code] = d.ODSCode
left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g with (nolock) on g.NHS_Number = a.Number_PatientNumber
left join #GPDetails h on h.DeptEnterpriseID = d.EnterpriseID and h.EmailOrder = 1
left join #TelephoneGP i on i.DeptEnterpriseID = d.EnterpriseID and coalesce(No_07_PhoneORder,Yes_07_PhoneORder) = 1
left join [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans]j on (j.NHS_Number = a.Number_PatientNumber OR j.cmc_id = a.PatientSummaryId)-- added 14/12/2020 was not present when original query was built. Excludes plans that have been created but not published.

where 

(g.CMC_ID is null )
and Complete = 0 
and IsValid = 1


--select * from [ETL_Local_PROD].[dbo].[AT_UnpublishedPLans] where cmc_id = 100111669 order by nhs_number
--select * from #GPDetails where DeptEnterpriseId = 100062993
--select * from [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest_Copy]awhere GPEmail is null
 

 --select * from [ETL_Local_PROD].[dbo].[AT_MyCMC_CoreData] order by [Created but Not Publsihed Flag]

--select
--* 
--from [ETL_PROD].[dbo].[CMC_Organization]d with (nolock)  
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--wher[ETL_Local_PROD].[dbo].[AT_MyCMC_CoreData]e d.PDRegistryID = '291401'
 
end
