USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[AT_Commissioners_Report_Personal_Community_Extract_SP]    Script Date: 27/10/2020 08:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[AT_MyCMC_GP_Actiity] 
-- Amended for PD Upgrade
AS
BEGIN





	DECLARE 
		@EndDate date,  
		@StartDate Date,
		@WeekEnd date,
		@ReportDate date,
		@WeekStart date,
		@totalWeeks int,
		@WeekCounter int = 0,
		@SnapDateStart Date,
		@SnapDateEnd Date

		set @StartDate = dateadd(year,-2,convert(datetime, cast(year(dateadd(month, -3, getdate())) as varchar(10)) + '-04-01', 120))
 
	set @EndDate =  EOMONTH(getdate())--DATEADD(DAY, -(DAY(getdate())), getdate())
	--print @StartDate
	--Print @EndDate


	 SELECT DATEADD(DAY, 2 - DATEPART(WEEKDAY, GETDATE()), CAST(GETDATE() AS DATE)) [Week_Start_Date]
	 Select DATEADD(DAY, 8 - DATEPART(WEEKDAY, GETDATE()), CAST(GETDATE() AS DATE)) [Week_End_Date]

	IF OBJECT_ID('tempdb..#Temp_CTE_Date') IS NOT NULL 
	dROP TABLE #Temp_CTE_Date



	;WITH cte AS 
	(
	SELECT  distinct
 

	 DATEADD(DAY, 2 - DATEPART(WEEKDAY, [calendar day]), CAST([calendar day] AS DATE)) [Week_Start_Date],
	 DATEADD(DAY, 8 - DATEPART(WEEKDAY, [calendar day]), CAST([calendar day] AS DATE)) [Week_End_Date]
 
      
  FROM [ETL_Local_PROD].[dbo].[DIM_Date]
  where [Calendar Day] >= @StartDate and [Calendar Day] < @EndDate
	)

	--populate temp table with results so they can be used below...
	SELECT 
 distinct
 	 ROW_NUMBER() OVER(ORDER by [Week_Start_Date] ASC) AS RowNumb,
	*
	into #Temp_CTE_Date		
	FROM cte
	OPTION (MAXRECURSION 0)

	 
	--select * from #Temp_CTE_Date order by rownumb  
	 --select * from [ETL_PROD].[dbo].[PC_Acct_User]

	 	--select * from [ETL_PROD].[dbo].[CMC_OrganizationName]

	 
	set @totalWeeks = (select MAX(Rownumb) from #Temp_CTE_Date  ) 

	 												
	WHILE @WeekCounter <= @totalWeeks BEGIN
		SET @WeekCounter = @WeekCounter + 1
		set @ReportDate = (select [Week_Start_Date] from  #Temp_CTE_Date where RowNumb = @WeekCounter)
 
		set @SnapDateEnd = (select [Week_End_Date] from  #Temp_CTE_Date where RowNumb = @WeekCounter)

		IF OBJECT_ID('tempdb..#Temp22') IS NOT NULL 
		dROP TABLE #Temp22
		select 
		e.[Financial Year],
		e.Quarter,
	 
		@SnapDateEnd as [Week_End_Date],
		d.*
		into
		#Temp22
		from
		(
		
    
    SELECT 
	'Initiated' as ReportName,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  cast(null as varchar(255)) as ODSCode,
  cast(null as varchar(255)) as CCG,
   COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a


  where IsEdit=0
  
  and 
		  (
	  CAST(SubmitTime as Date)>= @ReportDate
		 and
	  CAST(SubmitTime as Date)<= @SnapDateEnd
	     )
group by

GPOrgRegId

  union

  SELECT 
  'Completed' as ReportName,
    cast(null as varchar(255))  as GP_Practice,
  GPOrgRegId,
  cast(null as varchar(255)) as ODSCode,
  cast(null as varchar(255)) as CCG,
  COUNT(*) as Total
  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a

  where IsEdit=0
  and Complete=1
  and 
	  (
	  CAST(CompleteTime as Date)>= @ReportDate
		 and
	  CAST(CompleteTime as Date)<= @SnapDateEnd
	  )
group by
 
GPOrgRegId

 


		)d
		 
	  left join 
	  (
	  select
	  distinct
	  [Month Start Date],
	  [Financial Year],
		Quarter
	  from [ETL_Local_PROD].[dbo].[DIM_Date]
	  where [Month Start Date] = @ReportDate
	  )
	  e on e.[Month Start Date] = @ReportDate
	  
 --select * from [ETL_Local_PROD].[dbo].[DIM_Date]
 if @WeekCounter = 1 
	begin 
 
	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]

	select * into [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity] from #Temp22

	end

	ELSE

	begin

	insert into [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]
	select * from #Temp22
	where not EXISTS (SELECT * FROM [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity] WHERE [Week_End_Date] = @ReportDate ) 
	end
 
	END


 
  delete from  [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]   where [Week_End_Date] is null

	update x
		set x.GP_Practice = e.name,
			x.odscode = d.ODSCode,
			x.ccg	= ltrim(rtrim(REplace(g.CCG, ' CCG', ''))) 

	from [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]x
	left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = x.GPOrgRegId
	left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
	left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
	left join[ETL_Local_PROD].[dbo].[AT_ENGLISH_POSTCODE_DATA]g on g.pcds = f.Postcode


    delete from  [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]   where GP_Practice is null


 
  

  --select * from    [ETL_Local_PROD].[dbo].[AT_MyCMC_Weekly_GP_Actiity]    order by [Report Month] desc


  End

  
  --select *   FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]where GPOrgRegId is null and Complete = 0
  --select *   FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest] where itemid = 1058
  --select * from [ETL_Local_PROD].[dbo].[AT_Patient_General] where Cmc_id = 100082647 
 --select * from  [ETL_Local_PROD].[ODSData].[searchods] where ODS = 'F84119'
--    SELECT 'Initiated and Not Complete' as ReportName,
--  coalesce(g.CCG,f.[GP CCG]) as CCG,
--  COUNT(*) as Total
--   --a.*
--  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g on g.NHS_Number = a.Number_PatientNumber
--  where IsEdit=0
--  and Complete=0
--  and 
--	  (
--	  CAST(SubmitTime as Date)>= '2020-06-01'
--		 and
--	  CAST(SubmitTime as Date)<= '2020-06-30'
--	  )
--group by
--coalesce(g.CCG,f.[GP CCG])



--  SELECT 'Initiated and Complete' as ReportName,
--    coalesce(g.CCG,f.[GP CCG]) as CCG,
-- a.*
--  FROM [ETL_PROD].[dbo].[CMC_PersonalCommunityRequest]a
--  left join [ETL_PROD].[dbo].[CMC_Organization]d with (nolock) on d.PDRegistryID = a.GPOrgRegId
--left join [ETL_PROD].[dbo].[CMC_OrganizationName]e with (nolock) on e.ItemID = d.name
--left join [ETL_Local_PROD].[ODSData].[searchods] f on f.ods = d.ODSCode
--left join [ETL_Local_PROD].[dbo].[AT_Patient_General]g on g.NHS_Number = a.Number_PatientNumber
--  where IsEdit=0
--  and Complete=1
--  and 
--	  (
--	  CAST(SubmitTime as Date)>= '2020-06-01'
--		 and
--	  CAST(SubmitTime as Date)<= '2020-06-30'
--	  )
 