USE [ETL_Local_PROD]
GO
/****** Object:  StoredProcedure [dbo].[DecodePortalData]    Script Date: 01/04/2020 08:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DecodePortalData]

AS

BEGIN
declare @sql nvarchar(max);
declare @itemid varchar(36);
declare @data varchar(max);
DECLARE valueCursor1 CURSOR FOR SELECT itemid,data from etl_PROD.dbo.PC_HSPortal_Logging_Log;
OPEN valueCursor1;
delete from PortalData;
FETCH NEXT FROM valueCursor1 INTO @itemid,@data;
WHILE @@FETCH_STATUS = 0
  begin
  exec ParsePortalData @itemid,@data;
  FETCH NEXT FROM valueCursor1 INTO @itemid,@data;
  END
CLOSE valueCursor1;
DEALLOCATE valueCursor1;

set @sql=
  N'DROP TABLE dbo.PortalDataPivot;
  select * into dbo.PortalDataPivot from
  (select itemid,Parent + case when parent='''' then '''' else ''|'' end + [Column] as [Column],[Value] from PortalData
  ) as source
  pivot
  (
  min([Value]) for [Column] in (' + 
   (select replace(replace(stuff((
    select * from
    (select distinct Parent + case when parent='' then '' else '|' end + [Column] as [Column] from PortalData) s1
    order by [column]
    for xml path('')),1,0,''),
    '<column>','['),'</column>','],')+'[#dummy#]')  + ')
  ) as AllData';
print @sql;
execute (@sql);
-- kludge to deal with empty data
if not EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PortalDataPivot]')) select * into portaldatapivot from etl_local_PROD.dbo.PortalDataPivot where 0=1;

--select * from portaldatapivot
END
