USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_AllPayments_ExtractHistoryEpisodes]    Script Date: 31/07/2018 09:31:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_Update_AllPayments_ExtractHistoryEpisodes]

 AS
 BEGIN


 --select * from [ldndw1\reporting].[Informatics_Reporting].[staging].[AllPayments] 






 --Populate Staging Table from Informatics delta Feeds

if OBJECT_ID('[NHR Data Mart Test].[Staging].[AllPayments]') is Not Null
drop table [NHR Data Mart Test].[Staging].[AllPayments]


 select * into  [NHR Data Mart Test].[Staging].[AllPayments] from [ldndw1\reporting].[Informatics_Reporting].[staging].[AllPayments] WITH (NOLOCK)
-----------------------------------------------------------------------------------------------------------------------------------------------

 --Get a unique list of ClaimID's from delta that either don't exist in the Warehouse claimGeneral or have changed---

if OBJECT_ID('tempdb..#TempHistory') is Not Null
 drop table #TempHistory

SELECT 
distinct

a.[ClaimPaymentItemId],
a.extractDate

into #temphistory

FROM [NHR Data Mart Test].[Staging].[AllPayments] a WITH (NOLOCK) 
inner JOIN [NHR Data Mart Test].[dbo].[AllPayments] b WITH (NOLOCK)
ON a.[ClaimPaymentItemId] = b.[ClaimPaymentItemId]
WHERE
	(
		ISNULL(a.[Payment Status],'') <> ISNULL(b.[Payment Status],'') 
	)
 

-------------------------------------------------------------------------------------------------------------------------------------
 
 --select top 5 * FROM [NHR Data Mart Test].[Staging].[AllPayments]

 --union all 
 --select top 5 * FROM[NHR Data Mart Test].[dbo].[AllPayments]
-- if OBJECT_ID('[NHR Data Mart Test].[dbo].[AllPayments]') is Not Null
--drop table [NHR Data Mart Test].[dbo].[AllPayments]
--select
--PK_DateKey as DateKey,
--a.*
--into [NHR Data Mart Test].[dbo].[AllPayments]
--from  [ldndw1\reporting].[Informatics_Reporting].[staging].[AllPayments]a
--inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
 --alter table [NHR Data Mart Test].[dbo].[AllPayments] add DateKey varchar(30)
 --update x
	--	set x.datekey = b.PK_DateKey
 
 --from [NHR Data Mart Test].[dbo].[AllPayments]x
 --inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,x.ExtractDate)
--Sequence Changed rows for populating events table

if OBJECT_ID('tempdb..#TempHistoryA') is Not Null
 drop table #TempHistoryA
  select 
  *
  into #TempHistoryA
  from(

  select
  * 
  , 1 as Version
 
  ,null as DeleteFlag
  

   FROM [NHR Data Mart Test].[dbo].[AllPayments] WITH (NOLOCK)
   where [ClaimPaymentItemId] in (select distinct [ClaimPaymentItemId]  FROM #TempHistory)

   union all

 
  SELECT 
		b.PK_DateKey as DateKey
	  ,a.*
	  ,(RANK() OVER(PARTITION BY a.[ClaimPaymentItemId] ORDER BY a.[ExtractDate])) + 1 as Version
 
     ,null as DeleteFlag

  FROM [NHR Data Mart Test].[Staging].[AllPayments]a WITH (NOLOCK)
    inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
    inner join #temphistory c on c.[ClaimPaymentItemId] = a.[ClaimPaymentItemId]
							 and a.extractdate >= c.extractdate 

  )d
  Order by [ClaimPaymentItemId], Version

  Update r

  set r.Version = b.version


  from [#TempHistoryA]r

Inner join
		(
		select 
		[ClaimPaymentItemId], 
		Version,
		RANK() OVER(PARTITION BY [ClaimPaymentItemId] ORDER BY Version) as NEwOrder
		from [#TempHistoryA]
		) as  B on b.[ClaimPaymentItemId] = r.[ClaimPaymentItemId]
			and b.Version = r.version



 
  


 if OBJECT_ID('tempdb..#TempChangesX') is Not Null
 drop table #TempChangesX

DECLARE @x xml

SET @x = (
   SELECT  
        t2.[ClaimPaymentItemId] AS [@key]
      , t2.Version AS [@version]
      , ( SELECT t1.* FOR XML PATH('t1'), TYPE ,ELEMENTS XSINIL) AS [*]
      , ( SELECT t2.* FOR XML PATH('t2'), TYPE ,ELEMENTS XSINIL) AS [*]
   FROM #TempHistoryA AS t1
   INNER JOIN #TempHistoryA AS t2
   ON t1.[ClaimPaymentItemId] = t2.[ClaimPaymentItemId]
   AND t1.Version = t2.Version - 1
   FOR XML   PATH('row'), ROOT('root')
   --FOR XML AUTO  , ROOT('root') , ELEMENTS XSINIL
   );
  select @x
   

--WITH Nodes AS (
   SELECT
        C.value('../../@key', 'int') AS [Key]
      , C.value('../../@version', 'int') AS Version_ID
      , C.value('local-name(..)', 'varchar(255)')AS Version_Alias
      , C.value('local-name(.)', 'varchar(255)') AS Field
      , C.value('.', 'varchar(max)') AS Val
	  --, C.value('not(@xsi:nil = "true")','varchar(max)') AS Val
	  into #TempChangesX

   FROM @x.nodes('/root/row/*/*') AS T(C)
   --)
   --select * from #TempChangesX
      --select * from #TempChanges
    if OBJECT_ID('tempdb..#TempChanges') is Not Null
	drop table #TempChanges
	SELECT 
	[Key] as [ClaimPaymentItemId],
	x.ExtractDate, 
	Field
	, case when Max(CASE Version_Alias WHEN 't1' THEN Val END) = '' then null else Max(CASE Version_Alias WHEN 't1' THEN Val END) end  AS [Initial Value]
	, case when Max(CASE Version_Alias WHEN 't2' THEN Val END) = '' then null else Max(CASE Version_Alias WHEN 't2' THEN Val END) end  AS [New Value]

	Into #TempChanges

	FROM [#TempChangesX]v
	inner join [#TempHistoryA]x on x.[ClaimPaymentItemId] = v.[Key]
						and x.Version = v.Version_ID
						--and x.ExtractDate = v.
	where Field not in ('CMSTimestamp','ExtractDate','Version','DailyLoadNumber','DateKey')

	GROUP BY 
	[Key],
	x.ExtractDate,
	Field
	HAVING Max(CASE Version_Alias WHEN 't1' THEN Val END) <> Max(CASE Version_Alias WHEN 't2' THEN Val END)

 

delete from  [NHR Data Mart Test].[dbo].[AllPayments] where [ClaimPaymentItemId] in (select distinct [ClaimPaymentItemId]  FROM #TempHistoryA)

 update a
		set a.DeleteFlag = 1
 from [#TempHistoryA]a
 inner join(
			select 
			[ClaimPaymentItemId], 
			max(Version) as LastVersion  
			FROM #TempHistoryA  
			  
			group by [ClaimPaymentItemId]
			) b on b.[ClaimPaymentItemId] = a.[ClaimPaymentItemId] 
			and b.LastVersion <> a.Version
 



delete   from [#TempHistoryA] where DeleteFlag = 1 --get only latest version to replace what is in Warehouse ClaimGeneral



 --select * from [ldndw1\reporting].[Informatics_Reporting].[staging].[ClaimGeneral]  where claimid = 221869
--seleckt * from [NHR Data Mart Test].[dbo].[ClaimGeneral] where claimid = 91897
--select * from [#TempHistoryA]  where claimid = 249710
--select * from #TempChanges where claimid = 249710
--select * from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] where claimid = 249710
 

 





insert into [NHR Data Mart Test].[dbo].[AllPayments]
select
		b.ID as DateKey
	  ,[ClaimPaymentItemId]
      ,[ClaimPaymentId]
      ,[LinkedClaimPaymentId]
      ,[ClaimRef]
      ,[ClaimId]
      ,[ScheduleName]
      ,[Scheme]
      ,[ClaimType]
      ,[Payment Status]
      ,[Payment Type Name]
      ,[Amount]
      ,[VAT]
      ,[VATRecoverable]
      ,[VATRate]
      ,[Approver]
      ,[InvoiceDescription]
      ,[Date Paid]
      ,[Date Raised]
      ,[Date Due]
      ,[Payment Type]
      ,[Funded By]
      ,[Payee]
      ,[MemberCode]
      ,[MemberName]
      ,[Speciality1L1]
      ,[Specialty]
      ,[Payment Year]
      ,[PaymentReference]
      ,[OpenAccountsRef]
      ,[Importer]
      ,[CMSTimestamp]
      ,[ExtractDate]
      ,[DailyLoadNumber]

	  from [#TempHistoryA]a
	  inner join [NHR Data Mart Test].[dbo].[DIM_Date]b WITH (NOLOCK) on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)

	  --Populate stuff into episodes table

	INSERT INTO [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes_Payments](
																	[ExtractSourceID],
																	[DateKey],
																	Claimid,
																	[ExtractDate] ,
																	[Field],
																	[Initial Value],
																	[New Value],
																	OldDateTime,
																	NewDateTime,
																	OldMoneyValue,
																	NewMoneyValue 
																	)

	SELECT 
	(select [ExtractSourceID] from [ref].[ExtractSourceID] where TableName = 'ClaimGeneral' and TableSchema = 'dbo'),
	b.id as DateKey,
	Claimid,
	ExtractDate,
	Field,
	case when ((TRY_PARSE([Initial Value] as datetime)is null OR (TRY_PARSE([Initial Value] as datetime)is not null AND CHARINDEX('.',[Initial Value]) > 0)) AND (TRY_PARSE([Initial Value] as float) is null OR (TRY_PARSE([Initial Value] as float)is not null AND CHARINDEX('.',[Initial Value]) = 0)) ) then [Initial Value] else null end,
	case when ((TRY_PARSE([New Value] as datetime)is null OR (TRY_PARSE([New Value] as datetime)is not null AND CHARINDEX('.',[New Value]) > 0)) AND (TRY_PARSE([New Value] as float) is null OR (TRY_PARSE([New Value] as float)is not null AND CHARINDEX('.',[New Value]) = 0)) ) then [New Value] else null end,
	case when (TRY_PARSE([Initial Value] as datetime)is not null AND CHARINDEX('.',[Initial Value]) = 0)then  convert(datetime,[Initial Value]) else null end,
	case when (TRY_PARSE([New Value] as datetime)is not null AND CHARINDEX('.',[New Value]) = 0) then  convert(datetime,[New Value]) else null end,
	case when (TRY_PARSE([Initial Value] as float)is not null AND CHARINDEX('.',[Initial Value]) > 0) then  convert(money,[Initial Value]) else null end,
	case when (TRY_PARSE([New Value] as float)is not null AND CHARINDEX('.',[New Value]) > 0) then  convert(money,[New Value]) else null end
	from #TempChanges a
	inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on convert(date,b.[Calendar Day]) = convert(date,a.ExtractDate)
	order by claimid, Field, ExtractDate

 Update r


   set r.SequenceOfChange = b.SequenceOfChange


  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]r

Inner join
		(
		select 
		Claimid, 
		[ExtractSourceID],
		Field,
		ExtractDate,
		RANK() OVER(PARTITION BY [ExtractSourceID],[ClaimId],Field ORDER BY ExtractDate) as SequenceOfChange
		from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]
		) as  B on b.ClaimId = r.claimid
			and b.ExtractDate = r.ExtractDate
			and b.Field = r.Field
			and b.[ExtractSourceID] = r.[ExtractSourceID]
 
 
  Update s


   set s.LastForDay = case when b.LastForDay = s.SequenceOfChange then 1 else null end


  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]s

left join
		(
		select 
		[ExtractSourceID],
		Claimid, 
		Field,
		Convert(Date,ExtractDate) as ExtractDate,
		 Max(SequenceOfChange) as LastForDay
		from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]
	 
		Group by
		[ExtractSourceID], 
		Claimid, 
		Field,
		Convert(Date,ExtractDate)
		) as  B on b.ClaimId = s.claimid
			and b.ExtractDate = Convert(Date,s.ExtractDate)
			and b.Field = s.Field
			and b.[ExtractSourceID] = s.[ExtractSourceID]
 
	 drop table #TempHistory
	 drop table #TempHistoryA
	 drop table #TempChanges
	 drop table #TempChangesX

 End


 --select *  from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes] order by claimid, ExtractHistoryId

 --update r

	--	set r.DateKey = b.ID


 --from [NHR Data Mart Test].[dbo].[ExtractHistoryEpisodes]r
 --inner join [NHR Data Mart Test].[dbo].[DIM_Date]b on convert(date,b.[Calendar Day]) = convert(date,r.ExtractDate)