USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [etl].[LoadMember]    Script Date: 10/04/2018 09:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [etl].[Ref Claim Share Delta]
AS
BEGIN


	/************* Materialise my ass *************/

	 DECLARE @Now DATETIME2 = (SELECT TOP 1 StartDate FROM [Informatics_Reporting].[etl].[ExtractHistory]  ORDER BY StartDate DESC)

	iF OBJECT_ID('tempdb..#Temp44') IS NOT NULL 
	drop table #Temp44
SELECT 
		Dense_Rank() OVER (partition by slc.claimid order by slc.ShareLinkId) as SequenceNumber,
		null as dayRank,
		slc.PercentageShare,	-- the percentage share when the task was approved
		slc.ShareLinkId,
		slc.claimid,		-- the ShareLink the claim belonged to when the task was approved 
		cast(null as datetime) as ActivityCompletedDate,
		null as LastForDayFlag,
		[TimeStamp],
		Cast(null as bigint) as CMSTIMESTAMP ,
		 @Now AS 'ExtractDate'
	
		into #Temp44

FROM			 [archive1].[dbo].[ShareLinkClaim] slc  with (nolock)

order by claimid,ShareLinkId



--select  * from #Temp44

update slc

		set slc.ActivityCompletedDate = coalesce(apa.CompletedDate,araa.CompletedDate)
		,
			cmstimestamp =   (select max(foo) from
							 
								(
								SELECT Foo = CAST(ar.Timestamp AS BIGINT) UNION ALL
								SELECT Foo = CAST(ara.Timestamp AS BIGINT) UNION ALL
								SELECT Foo = CAST(araa.Timestamp AS BIGINT) UNION ALL
								SELECT Foo = CAST(ap.Timestamp AS BIGINT) UNION ALL
								SELECT Foo = CAST(apa.Timestamp AS BIGINT) 
								)a
							) 
						 
			
			
			

from [#Temp44]slc


 --Find approved changes to reserves or claim shares made via a send referral task 
LEFT OUTER JOIN	[archive1].[dbo].[ActivityReferral] ar  with (nolock) ON		ar.NewShareLinkId = slc.ShareLinkId
										AND		ar.Outcome = 1
-- Get the related activity (a send referral task)
LEFT OUTER JOIN	[archive1].[dbo].[Activity] ara  with (nolock)  ON		ar.ActivityId = ara.ActivityId
-- Get the related approval activity (an approve referral task)
LEFT OUTER JOIN	[archive1].[dbo].[Activity] araa  with (nolock)  ON		ara.ActivityId = araa.ParentActivityId

-- Find approved changes to reserves or claim shares made via a make payment task 
LEFT OUTER JOIN	[archive1].[dbo].[ActivityPayment] ap  with (nolock) ON		ap.NewShareLinkId = slc.ShareLinkId
										AND		ap.Outcome = 1
-- Get the related activity (an approve payment task)
LEFT OUTER JOIN	[archive1].[dbo].[Activity] apa  with (nolock) ON		ap.ActivityId = apa.ActivityId

WHERE	
 
	(ap.NewShareLinkId IS NOT NULL
		OR ar.NewShareLinkId IS NOT NULL)


 

update r
		set r.ActivityCompletedDate = convert(date,c.CreationDate),
			r.CMSTIMESTAMP = case when r.CMSTIMESTAMP is null then(select max(foo) from
							 
								(
								SELECT Foo = CAST(r.Timestamp AS BIGINT) UNION ALL
								SELECT Foo = CAST(d.Timestamp AS BIGINT)   
								)a
							) else r.CMSTIMESTAMP end
from [#Temp44]r
left join [archive1].[dbo].[vw_ClaimGeneral] c  with (nolock) on c.ClaimId = r.ClaimId
left join [archive1].[dbo].[Claim] d on d.claimid = r.ClaimId
Where SequenceNumber = 1

--select top 5* from  [archive1].[dbo].[vw_ClaimGeneral]

delete a from [#Temp44]a where ActivityCompletedDate is null


update r
		set r.SequenceNumber = b.SequenceNumber2

from [#Temp44]r
left join 
		(
		select
		Claimid,
		Sharelinkid,
		SequenceNumber,
		ActivityCompletedDate,
		Dense_Rank() OVER (partition by  claimid order by ShareLinkId,SequenceNumber)  as SequenceNumber2
		from #Temp44
		--where 
		--claimid = 201347

		) as b on b.ClaimId = r.ClaimId
			and b.ShareLinkId = r.ShareLinkId
			and b.SequenceNumber = r.SequenceNumber





update slc
		set slc.dayRank = b.SequenceNumber2
from [#Temp44]slc

left join 
		(
		select
		Claimid,
		Sharelinkid,
		SequenceNumber,
		ActivityCompletedDate,
		Rank() OVER (partition by claimid,ActivityCompletedDate order by ShareLinkId) as SequenceNumber2
		from #Temp44
	

		) as b on b.ClaimId = slc.ClaimId
			and b.ShareLinkId = slc.ShareLinkId
			and b.SequenceNumber = slc.SequenceNumber


update f
		set f.LastForDayFlag = 1

from [#Temp44]f
inner join 
		(
		select
		Claimid,
		ActivityCompletedDate,
		Max(DayRank) as LastForDay
       from [#Temp44]
	   --where claimid = 201347
	   group by
	   Claimid,
		ActivityCompletedDate
		) as d on d.claimid = f.claimid 
			and d.ActivityCompletedDate = f.ActivityCompletedDate 
			and d.LastForDay = f.dayRank

	delete from #Temp44 where LastForDayFlag is null


	update r
		set r.SequenceNumber = b.SequenceNumber2

from [#Temp44]r
left join 
		(
		select
		Claimid,
		Sharelinkid,
		SequenceNumber,
		ActivityCompletedDate,
		Dense_Rank() OVER (partition by  claimid order by ShareLinkId,SequenceNumber)  as SequenceNumber2
		from #Temp44
		--where 
		--claimid = 201347

		) as b on b.ClaimId = r.ClaimId
			and b.ShareLinkId = r.ShareLinkId
			and b.SequenceNumber = r.SequenceNumber

	
		iF OBJECT_ID('tempdb..#Temp1') IS NOT NULL 
		drop table #Temp1
	
	
	select
	 cast(a.ShareLinkId as nvarchar)+'-'+cast(a.[claimid] as nvarchar)  as LinkID,
	 a.*
	into #Temp1
	from [#Temp44]a

	--select * from [Informatics_Reporting].[staging].[Ref_Claim_Share]  where sharelinkID = 1020554
	--select * from [Informatics_Reporting].[etl].[Ref_Claim_Share]  where sharelinkID = 1020554
	--select * from [Informatics_Reporting].[etl].[Ref_Claim_Share]  where claimid = 243855
	--select * from [Informatics_Reporting].[etl].[Ref_Claim_Share]  where ExtractDate = '2018-04-11 08:30:00.1030000'
	--select * from [Informatics_Reporting].[staging].[Ref_Claim_Share]  where ExtractDate = '2018-04-11 08:30:00.1030000'
	--select * from #Temp1
			--select * from [Informatics_Reporting].[etl].[Ref_Claim_Share] order by extractDate where sharelinkID = 989430
			--select * from [Informatics_Reporting].[staging].[Ref_Claim_Share] order by extractDate 
-- select sharelinkID from (select sharelinkID, count(sharelinkID) as total from [Informatics_Reporting].[etl].[Ref_Claim_Share] group by sharelinkID)a where a.total > 1
--drop table [Informatics_Reporting].[etl].[Ref_Claim_Share]
----select * into [Informatics_Reporting].[etl].[Ref_Claim_Share] from #Temp1
 --ALTER TABLE [Informatics_Reporting].[etl].[Ref_Claim_Share] DROP COLUMN [TimeStamp];
 --ALTER TABLE [Informatics_Reporting].[etl].[Ref_Claim_Share]  ADD LinkID datatype
--ShareLinkId		claimid
--44844				44856

--select * from [Informatics_Reporting].[etl].[Ref_Claim_Share] where ShareLinkId = 1056197
--select * from [Informatics_Reporting].[staging].[Ref_Claim_Share] where ShareLinkId = 1056197
--select * from [Informatics_Reporting].[staging].[Ref_Claim_Share]  where ExtractDate = '2018-04-11 08:30:00.1030000'

	/************* Insert New Records *************/

	INSERT INTO [Informatics_Reporting].[etl].[Ref_Claim_Share]
	SELECT 
	   Temp.LinkID,
	   temp.[SequenceNumber]
      ,temp.[dayRank]
      ,temp.[PercentageShare]
      ,temp.[ShareLinkId]
      ,temp.[claimid]
      ,temp.[ActivityCompletedDate]
      ,temp.[LastForDayFlag]
      ,temp.[CMSTIMESTAMP]
      ,temp.[ExtractDate]

	FROM [#Temp1] temp
	LEFT JOIN  [Informatics_Reporting].[etl].[Ref_Claim_Share] MSC
		ON	temp.LinkID = MSC.LinkID
	WHERE MSC.LinkID IS NULL

	/************* Insert Updated Records *************/
	--INSERT INTO [Informatics_Reporting].[etl].[Ref_Claim_Share]
	--SELECT 
	--	 Temp.LinkID,
	--   temp.[SequenceNumber]
 --     ,temp.[dayRank]
 --     ,temp.[PercentageShare]
 --     ,temp.[ShareLinkId]
 --     ,temp.[claimid]
 --     ,temp.[ActivityCompletedDate]
 --     ,temp.[LastForDayFlag]
 --     ,temp.[CMSTIMESTAMP]
 --     ,temp.[ExtractDate]
	--FROM [#Temp1] temp
	--INNER JOIN (
	--	SELECT [claimid], MAX(CMSTimestamp) as CMSTimestamp
	--	FROM [Informatics_Reporting].[etl].[Ref_Claim_Share]
	--	GROUP BY [claimid]
	--) MSC ON MSC.[claimid] = temp.[claimid]
	--WHERE MSC.CMSTimestamp < temp.CMSTimestamp

	/************ Delete 'False Positive' Data ************/
	;WITH cte AS (
	SELECT
	   LinkID
	  ,[SequenceNumber]
      ,[dayRank]
      ,[PercentageShare]
      ,[ShareLinkId]
      ,[claimid]
      ,[ActivityCompletedDate]
      ,[LastForDayFlag]
      ,[CMSTIMESTAMP]
      ,[ExtractDate]
		,ROW_NUMBER() OVER(PARTITION BY 
				 LinkID
	  ,[SequenceNumber]
      ,[dayRank]
      ,[PercentageShare]
      ,[ShareLinkId]
      ,[claimid]
      ,[ActivityCompletedDate]
      ,[LastForDayFlag]
			ORDER BY [claimid]) AS RowNum
		FROM [Informatics_Reporting].[etl].[Ref_Claim_Share]
	)
	DELETE FROM cte WHERE RowNum > 1



		Insert into [Informatics_Reporting].[Staging].[Ref_Claim_Share]
		SELECT
		*
 
		from  [Informatics_Reporting].[etl].[Ref_Claim_Share] etl
		where etl.ExtractDate = @Now


		/******* Refresh the ETL Table with the View *******/


		drop table [Informatics_Reporting].[etl].[Ref_Claim_Share]

		select 
		*
		into [Informatics_Reporting].[etl].[Ref_Claim_Share]
		from #Temp1




	/************* Clean up temp table *************/
	DROP TABLE [#Temp1]
	Drop Table #Temp44

END