USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [etl].[DW_LoadClaimGeneral]    Script Date: 05/06/2018 12:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [etl].[DW_ClaimRiskCategory]
AS
BEGIN

 
	/************* Materialise the view *************/
	DECLARE @Now DATETIME2 = (SELECT TOP 1 StartDate FROM [Informatics_Reporting].[etl].[ExtractHistory] WHERE EndDate IS NULL ORDER BY StartDate DESC)
	Declare @Order Int = (select Order_Of_Change FROM [Informatics_Reporting].[etl].[ExtractHistory] Where StartDate =  @Now)

	SELECT 
			[ClaimId]
      ,[ClaimRef]
      ,[Cause1L1]
      ,[Cause1L2]
      ,[Cause1L3]
      ,[Cause2L1]
      ,[Cause2L2]
      ,[Cause2L3]
      ,[Cause3L1]
      ,[Cause3L2]
      ,[Cause3L3]
      ,[Injury1L1]
      ,[Injury1L2]
      ,[Injury1L3]
      ,[Injury2L1]
      ,[Injury2L2]
      ,[Injury2L3]
      ,[Injury3L1]
      ,[Injury3L2]
      ,[Injury3L3]
      ,[Location1L1]
      ,[Location1L2]
      ,[Location1L3]
      ,[Location2L1]
      ,[Location2L2]
      ,[Location2L3]
      ,[Location3L1]
      ,[Location3L2]
      ,[Location3L3]
      ,[RootCause1L1]
      ,[RootCause1L2]
      ,[RootCause1L3]
      ,[RootCause2L1]
      ,[RootCause2L2]
      ,[RootCause2L3]
      ,[RootCause3L1]
      ,[RootCause3L2]
      ,[RootCause3L3]
      ,[Specialty]
      ,[Speciality1L1]
      ,[Speciality1L2]
      ,[Speciality1L3]
      ,[Speciality2L1]
      ,[Speciality2L2]
      ,[Speciality2L3]
      ,[Speciality3L1]
      ,[Speciality3L2]
      ,[Speciality3L3]
      ,[Standard1L1]
      ,[Standard1L2]
      ,[Standard1L3]
      ,[Standard2L1]
      ,[Standard2L2]
      ,[Standard2L3]
      ,[Standard3L1]
      ,[Standard3L2]
      ,[Standard3L3]
      ,[DefaultRiskCategoryOrdering]
      ,[CMSTimestamp]
		  ,@Now AS 'ExtractDate'
		  ,@Order as DailyLoadNumber
	INTO #TempClaimRiskCategory
	FROM [etl].[vw_ClaimRiskCategory] WITH (NOLOCK)


	--select * into [Informatics_Reporting].[etl].[ClaimRiskCategory]  from #TempClaimRiskCategory 

	

	/************* Insert New Records *************/
	INSERT INTO [etl].[ClaimRiskCategory]
	SELECT 
			DISTINCT 
		   temp.[ClaimId]
		  ,temp.[ClaimRef]
		  ,temp.[Cause1L1]
		  ,temp.[Cause1L2]
		  ,temp.[Cause1L3]
		  ,temp.[Cause2L1]
		  ,temp.[Cause2L2]
		  ,temp.[Cause2L3]
		  ,temp.[Cause3L1]
		  ,temp.[Cause3L2]
		  ,temp.[Cause3L3]
		  ,temp.[Injury1L1]
		  ,temp.[Injury1L2]
		  ,temp.[Injury1L3]
		  ,temp.[Injury2L1]
		  ,temp.[Injury2L2]
		  ,temp.[Injury2L3]
		  ,temp.[Injury3L1]
		  ,temp.[Injury3L2]
		  ,temp.[Injury3L3]
		  ,temp.[Location1L1]
		  ,temp.[Location1L2]
		  ,temp.[Location1L3]
		  ,temp.[Location2L1]
		  ,temp.[Location2L2]
		  ,temp.[Location2L3]
		  ,temp.[Location3L1]
		  ,temp.[Location3L2]
		  ,temp.[Location3L3]
		  ,temp.[RootCause1L1]
		  ,temp.[RootCause1L2]
		  ,temp.[RootCause1L3]
		  ,temp.[RootCause2L1]
		  ,temp.[RootCause2L2]
		  ,temp.[RootCause2L3]
		  ,temp.[RootCause3L1]
		  ,temp.[RootCause3L2]
		  ,temp.[RootCause3L3]
		  ,temp.[Specialty]
		  ,temp.[Speciality1L1]
		  ,temp.[Speciality1L2]
		  ,temp.[Speciality1L3]
		  ,temp.[Speciality2L1]
		  ,temp.[Speciality2L2]
		  ,temp.[Speciality2L3]
		  ,temp.[Speciality3L1]
		  ,temp.[Speciality3L2]
		  ,temp.[Speciality3L3]
		  ,temp.[Standard1L1]
		  ,temp.[Standard1L2]
		  ,temp.[Standard1L3]
		  ,temp.[Standard2L1]
		  ,temp.[Standard2L2]
		  ,temp.[Standard2L3]
		  ,temp.[Standard3L1]
		  ,temp.[Standard3L2]
		  ,temp.[Standard3L3]
		  ,temp.[DefaultRiskCategoryOrdering]
		  ,temp.[CMSTimestamp]
		  ,temp.ExtractDate
		  ,temp.DailyLoadNumber
	FROM #TempClaimRiskCategory temp
	LEFT JOIN [etl].[ClaimRiskCategory] CG  WITH (NOLOCK)
		ON temp.ClaimId = CG.ClaimId
	WHERE CG.ClaimId IS NULL


	/************* Insert Updated Records *************/
	INSERT INTO [etl].[ClaimRiskCategory]
	SELECT 
		DISTINCT 
		   temp.[ClaimId]
		  ,temp.[ClaimRef]
		  ,temp.[Cause1L1]
		  ,temp.[Cause1L2]
		  ,temp.[Cause1L3]
		  ,temp.[Cause2L1]
		  ,temp.[Cause2L2]
		  ,temp.[Cause2L3]
		  ,temp.[Cause3L1]
		  ,temp.[Cause3L2]
		  ,temp.[Cause3L3]
		  ,temp.[Injury1L1]
		  ,temp.[Injury1L2]
		  ,temp.[Injury1L3]
		  ,temp.[Injury2L1]
		  ,temp.[Injury2L2]
		  ,temp.[Injury2L3]
		  ,temp.[Injury3L1]
		  ,temp.[Injury3L2]
		  ,temp.[Injury3L3]
		  ,temp.[Location1L1]
		  ,temp.[Location1L2]
		  ,temp.[Location1L3]
		  ,temp.[Location2L1]
		  ,temp.[Location2L2]
		  ,temp.[Location2L3]
		  ,temp.[Location3L1]
		  ,temp.[Location3L2]
		  ,temp.[Location3L3]
		  ,temp.[RootCause1L1]
		  ,temp.[RootCause1L2]
		  ,temp.[RootCause1L3]
		  ,temp.[RootCause2L1]
		  ,temp.[RootCause2L2]
		  ,temp.[RootCause2L3]
		  ,temp.[RootCause3L1]
		  ,temp.[RootCause3L2]
		  ,temp.[RootCause3L3]
		  ,temp.[Specialty]
		  ,temp.[Speciality1L1]
		  ,temp.[Speciality1L2]
		  ,temp.[Speciality1L3]
		  ,temp.[Speciality2L1]
		  ,temp.[Speciality2L2]
		  ,temp.[Speciality2L3]
		  ,temp.[Speciality3L1]
		  ,temp.[Speciality3L2]
		  ,temp.[Speciality3L3]
		  ,temp.[Standard1L1]
		  ,temp.[Standard1L2]
		  ,temp.[Standard1L3]
		  ,temp.[Standard2L1]
		  ,temp.[Standard2L2]
		  ,temp.[Standard2L3]
		  ,temp.[Standard3L1]
		  ,temp.[Standard3L2]
		  ,temp.[Standard3L3]
		  ,temp.[DefaultRiskCategoryOrdering]
		  ,temp.[CMSTimestamp]
		  ,temp.ExtractDate
		  ,temp.DailyLoadNumber
	FROM #TempClaimRiskCategory temp
	INNER JOIN (
		SELECT ClaimId, MAX(CMSTimestamp) as CMSTimestamp
		FROM [etl].[ClaimRiskCategory]  WITH (NOLOCK)
		GROUP BY ClaimId
	) CG ON CG.ClaimId = temp.ClaimId
	WHERE CG.CMSTimestamp < temp.CMSTimestamp

 
-- ALTER TABLE [etl].[ClaimGeneral]
--DROP COLUMN [TeamPostId]; 

	 
--		ALTER TABLE [Staging].[ClaimGeneral]
--ADD DailyLoadNumber INT;


		/************ Delete 'False Positive' Data i.e. Where the exisiting row is identical to the newer row, it then keeps only the older row************/
	;WITH cte AS (
	SELECT
		 [ClaimId]
      ,[ClaimRef]
      ,[Cause1L1]
      ,[Cause1L2]
      ,[Cause1L3]
      ,[Cause2L1]
      ,[Cause2L2]
      ,[Cause2L3]
      ,[Cause3L1]
      ,[Cause3L2]
      ,[Cause3L3]
      ,[Injury1L1]
      ,[Injury1L2]
      ,[Injury1L3]
      ,[Injury2L1]
      ,[Injury2L2]
      ,[Injury2L3]
      ,[Injury3L1]
      ,[Injury3L2]
      ,[Injury3L3]
      ,[Location1L1]
      ,[Location1L2]
      ,[Location1L3]
      ,[Location2L1]
      ,[Location2L2]
      ,[Location2L3]
      ,[Location3L1]
      ,[Location3L2]
      ,[Location3L3]
      ,[RootCause1L1]
      ,[RootCause1L2]
      ,[RootCause1L3]
      ,[RootCause2L1]
      ,[RootCause2L2]
      ,[RootCause2L3]
      ,[RootCause3L1]
      ,[RootCause3L2]
      ,[RootCause3L3]
      ,[Specialty]
      ,[Speciality1L1]
      ,[Speciality1L2]
      ,[Speciality1L3]
      ,[Speciality2L1]
      ,[Speciality2L2]
      ,[Speciality2L3]
      ,[Speciality3L1]
      ,[Speciality3L2]
      ,[Speciality3L3]
      ,[Standard1L1]
      ,[Standard1L2]
      ,[Standard1L3]
      ,[Standard2L1]
      ,[Standard2L2]
      ,[Standard2L3]
      ,[Standard3L1]
      ,[Standard3L2]
      ,[Standard3L3]
      ,[DefaultRiskCategoryOrdering]
		,[ExtractDate]
		,DailyLoadNumber
		,ROW_NUMBER() OVER(PARTITION BY 
				 [ClaimId]
      ,[ClaimRef]
      ,[Cause1L1]
      ,[Cause1L2]
      ,[Cause1L3]
      ,[Cause2L1]
      ,[Cause2L2]
      ,[Cause2L3]
      ,[Cause3L1]
      ,[Cause3L2]
      ,[Cause3L3]
      ,[Injury1L1]
      ,[Injury1L2]
      ,[Injury1L3]
      ,[Injury2L1]
      ,[Injury2L2]
      ,[Injury2L3]
      ,[Injury3L1]
      ,[Injury3L2]
      ,[Injury3L3]
      ,[Location1L1]
      ,[Location1L2]
      ,[Location1L3]
      ,[Location2L1]
      ,[Location2L2]
      ,[Location2L3]
      ,[Location3L1]
      ,[Location3L2]
      ,[Location3L3]
      ,[RootCause1L1]
      ,[RootCause1L2]
      ,[RootCause1L3]
      ,[RootCause2L1]
      ,[RootCause2L2]
      ,[RootCause2L3]
      ,[RootCause3L1]
      ,[RootCause3L2]
      ,[RootCause3L3]
      ,[Specialty]
      ,[Speciality1L1]
      ,[Speciality1L2]
      ,[Speciality1L3]
      ,[Speciality2L1]
      ,[Speciality2L2]
      ,[Speciality2L3]
      ,[Speciality3L1]
      ,[Speciality3L2]
      ,[Speciality3L3]
      ,[Standard1L1]
      ,[Standard1L2]
      ,[Standard1L3]
      ,[Standard2L1]
      ,[Standard2L2]
      ,[Standard2L3]
      ,[Standard3L1]
      ,[Standard3L2]
      ,[Standard3L3]
      ,[DefaultRiskCategoryOrdering]
			ORDER BY [ClaimId]) AS RowNum
		FROM [etl].[ClaimRiskCategory]  WITH (NOLOCK)
	)
	DELETE FROM cte WHERE RowNum > 1

	--sp_rename '[Staging].[ClaimGeneral].[Actual Excess (RPST Only)]', 'ActualExcessRPSTOnly', 'COLUMN';

	/******* Insert the delta feed into table for export with SSIS *******/

		Insert into [Staging].[ClaimRiskCategory] 
		SELECT
		*
		from  [etl].[ClaimRiskCategory]  etl
		where etl.ExtractDate = @Now

	
		/******* Refresh the ETL Table with the View *******/


		drop table [etl].[ClaimRiskCategory] 

		select 
		*
		into [etl].[ClaimRiskCategory] 
		from #TempClaimRiskCategory


	/************* Drop Materialised View *************/
	DROP TABLE #TempClaimRiskCategory

END