USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [etl].[LoadAllPayments]    Script Date: 15/06/2018 14:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [etl].[LoadAllPayments]
AS
BEGIN
	/************* Materialise the view *************/
		DECLARE @Now DATETIME2 = (SELECT TOP 1 StartDate FROM [Informatics_Reporting].[etl].[ExtractHistory] WHERE EndDate IS NULL ORDER BY StartDate DESC)
		Declare @Order Int = (select Order_Of_Change FROM [Informatics_Reporting].[etl].[ExtractHistory] Where StartDate = @Now)
	SELECT 
	
		[ClaimPaymentItemId]
      ,[ClaimPaymentId]
      ,[LinkedClaimPaymentId]
      ,[ClaimRef]
      ,[ClaimId]
      ,[ScheduleName]
      ,[Scheme]
      ,[ClaimType]
      ,[Payment Status]
      ,[Payment Type Name]
      ,[Amount]
      ,[VAT]
      ,[VATRecoverable]
      ,[VATRate]
      ,[Approver]
      ,[InvoiceDescription]
      ,[Date Paid]
      ,[Date Raised]
      ,[Date Due]
      ,[Payment Type]
      ,[Funded By]
      ,[Payee]
      ,[MemberCode]
      ,[MemberName]
      ,[Speciality1L1]
      ,[Specialty]
      ,[Payment Year]
      ,[PaymentReference]
      ,[OpenAccountsRef]
      ,[Importer]
      ,[CMSTimestamp]
	  ,@Now AS 'ExtractDate'
	  ,@Order as DailyLoadNumber
	INTO #TempAllPayments
	FROM [etl].[vw_AllPayments]

	/************* Insert New Records *************/
	INSERT INTO [etl].[AllPayments]
	SELECT 
		 temp.[ClaimPaymentItemId]
      ,temp.[ClaimPaymentId]
      ,temp.[LinkedClaimPaymentId]
      ,temp.[ClaimRef]
      ,temp.[ClaimId]
      ,temp.[ScheduleName]
      ,temp.[Scheme]
      ,temp.[ClaimType]
      ,temp.[Payment Status]
      ,temp.[Payment Type Name]
      ,temp.[Amount]
      ,temp.[VAT]
      ,temp.[VATRecoverable]
      ,temp.[VATRate]
      ,temp.[Approver]
      ,temp.[InvoiceDescription]
      ,temp.[Date Paid]
      ,temp.[Date Raised]
      ,temp.[Date Due]
      ,temp.[Payment Type]
      ,temp.[Funded By]
      ,temp.[Payee]
      ,temp.[MemberCode]
      ,temp.[MemberName]
      ,temp.[Speciality1L1]
      ,temp.[Specialty]
      ,temp.[Payment Year]
      ,temp.[PaymentReference]
      ,temp.[OpenAccountsRef]
      ,temp.[Importer]
      ,temp.[CMSTimestamp]
	  ,temp.ExtractDate
	  ,temp.DailyLoadNumber
	FROM #TempAllPayments temp
	LEFT JOIN [etl].[AllPayments] AP
		ON	temp.[ClaimPaymentItemId] = AP.[ClaimPaymentItemId]
	WHERE AP.[ClaimPaymentItemId] IS NULL


	 


	/************* Insert Updated Records *************/
	INSERT INTO [etl].[AllPayments]
	SELECT 
		 temp.[ClaimPaymentItemId]
      ,temp.[ClaimPaymentId]
      ,temp.[LinkedClaimPaymentId]
      ,temp.[ClaimRef]
      ,temp.[ClaimId]
      ,temp.[ScheduleName]
      ,temp.[Scheme]
      ,temp.[ClaimType]
      ,temp.[Payment Status]
      ,temp.[Payment Type Name]
      ,temp.[Amount]
      ,temp.[VAT]
      ,temp.[VATRecoverable]
      ,temp.[VATRate]
      ,temp.[Approver]
      ,temp.[InvoiceDescription]
      ,temp.[Date Paid]
      ,temp.[Date Raised]
      ,temp.[Date Due]
      ,temp.[Payment Type]
      ,temp.[Funded By]
      ,temp.[Payee]
      ,temp.[MemberCode]
      ,temp.[MemberName]
      ,temp.[Speciality1L1]
      ,temp.[Specialty]
      ,temp.[Payment Year]
      ,temp.[PaymentReference]
      ,temp.[OpenAccountsRef]
      ,temp.[Importer]
      ,temp.[CMSTimestamp]
	  ,temp.ExtractDate
	  ,temp.DailyLoadNumber
	FROM #TempAllPayments temp
	INNER JOIN (
		SELECT [ClaimPaymentItemId], MAX(CMSTimestamp) as CMSTimestamp
		FROM [etl].[AllPayments]
		GROUP BY [ClaimPaymentItemId]
	) AP ON AP.[ClaimPaymentItemId] = temp.[ClaimPaymentItemId]
	WHERE AP.CMSTimestamp < temp.CMSTimestamp

	/************ Delete 'False Positive' Data ************/
	;WITH cte AS (
	SELECT
		 [ClaimPaymentItemId]
      ,[ClaimPaymentId]
      ,[LinkedClaimPaymentId]
      ,[ClaimRef]
      ,[ClaimId]
      ,[ScheduleName]
      ,[Scheme]
      ,[ClaimType]
      ,[Payment Status]
      ,[Payment Type Name]
      ,[Amount]
      ,[VAT]
      ,[VATRecoverable]
      ,[VATRate]
      ,[Approver]
      ,[InvoiceDescription]
      ,[Date Paid]
      ,[Date Raised]
      ,[Date Due]
      ,[Payment Type]
      ,[Funded By]
      ,[Payee]
      ,[MemberCode]
      ,[MemberName]
      ,[Speciality1L1]
      ,[Specialty]
      ,[Payment Year]
      ,[PaymentReference]
      ,[OpenAccountsRef]
      ,[Importer]
      ,[CMSTimestamp]
		,[ExtractDate]
		,DailyLoadNumber
		,ROW_NUMBER() OVER(PARTITION BY 
				 [ClaimPaymentItemId]
      ,[ClaimPaymentId]
      ,[LinkedClaimPaymentId]
      ,[ClaimRef]
      ,[ClaimId]
      ,[ScheduleName]
      ,[Scheme]
      ,[ClaimType]
      ,[Payment Status]
      ,[Payment Type Name]
      ,[Amount]
      ,[VAT]
      ,[VATRecoverable]
      ,[VATRate]
      ,[Approver]
      ,[InvoiceDescription]
      ,[Date Paid]
      ,[Date Raised]
      ,[Date Due]
      ,[Payment Type]
      ,[Funded By]
      ,[Payee]
      ,[MemberCode]
      ,[MemberName]
      ,[Speciality1L1]
      ,[Specialty]
      ,[Payment Year]
      ,[PaymentReference]
      ,[OpenAccountsRef]
      ,[Importer]
			ORDER BY [ClaimPaymentItemId]) AS RowNum
		FROM [etl].[AllPayments]
	)
	DELETE FROM cte WHERE RowNum > 1


	--sp_rename '[Staging].[ClaimGeneral].[Actual Excess (RPST Only)]', 'ActualExcessRPSTOnly', 'COLUMN';

	/******* Insert the delta feed into table for export with SSIS *******/

		Insert into [Staging].[AllPayments]
		SELECT
		*
		from  [etl].[AllPayments] etl
		where etl.ExtractDate = @Now


		/******* Refresh the ETL Table with the View *******/


		drop table [etl].[AllPayments]

		select 
		*
		into [etl].[AllPayments]
		from #TempAllPayments

 
	/************* Clean up temp table *************/
	DROP TABLE #TempAllPayments

END