/****** Script for SelectTopNRows command from SSMS  ******/
	   SELECT 
	   TOP 2 
	   [Report Type]
      ,a.[claimid]
      ,a.[claimref]
	  ,b.Scheme as [SchemeAbbrev]
      ,[Patient Name]
      ,[Original Handler]
      ,[Claims Team]
      ,[SortNumber]
      ,[CreationDate]
      ,[Creation_Quarter]

	

      ,[CloseDate]
      ,[Closure_Quarter]
      ,[SettlementDate]
      ,[Settlement Date Quarter]

	   ,cast(null as date) as [LOC Date]
      ,cast(null as date) as [LOR or Next Date]
      ,null as [LOC to LOR in Months]
      ,null as [Within 4 Months]
      ,cast(null as varchar(2)) as[Quarter]

	  --,cast(null as date) as [statusdate]

      ,[Shelf Life (yrs)]
      ,a.[Clinical/Non Clinical]
      ,[Type 2 Damages Tranche Band]
      ,[Type 2 Damages Tranche Range]
      ,[Type 3 Damages Tranche Band]
      ,[Type 3 Damages Tranche Range]
      ,[Event_Code]
      ,[Internal_Event_Code]
      ,a.[Total Damages]
      ,a.[TotalClaimantCosts]
      ,[CC_Percentage]
      ,[ClaimantCostTranche_Sort]
      ,[ClaimantCostTranche]
      ,[ClaimantCostTranche5]
      ,[ClaimantCostTranche5_Sort]

	  ,cast(null as date) as [statusdate]
      ,cast(null as varchar(2)) as [StatusDateQuarter]
      ,cast(null as date) as [1st damages payment >= 500 date]
      ,null as [Payment_Within_6_months]

      ,[Report_Start_Date]
      ,[Report_End_Date]
	   ,cast(null as date) as [Report_Start_Date2]
       ,cast(null as date) as [Report_End_Date2]
	  ,cast(null as date) as [LOC_LOR_StartDate]
      ,cast(null as date) as [LOC_LOR_EndDate]
	   FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Average_Claimant_Costs]a
		left join [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump]b with (nolock) on b.ClaimId = a.claimid

		union all

	   Select 
	   TOP 2 
	   [Report Type]
      ,a.[claimid]
      ,a.[claimref]
	  ,b.Scheme as [SchemeAbbrev]
      ,[Patient Name]
      ,[Original Handler]
      ,[Claims Team]
      ,[SortNumber]
      ,[CreationDate]
      ,[Creation_Quarter]

	

      ,[CloseDate]
      ,[Closure_Quarter]
      ,[SettlementDate]
      ,[Settlement Date Quarter]

	   ,cast(null as date) as [LOC Date]
      ,cast(null as date) as [LOR or Next Date]
      ,null as [LOC to LOR in Months]
      ,null as [Within 4 Months]
      ,cast(null as varchar(2)) as[Quarter]

	  --,cast(null as date) as [statusdate]

      ,[Shelf Life (yrs)]
      ,a.[Clinical/Non Clinical]
      ,[Type 2 Damages Tranche Band]
      ,[Type 2 Damages Tranche Range]
      ,[Type 3 Damages Tranche Band]
      ,[Type 3 Damages Tranche Range]
      ,[Event_Code]
      ,[Internal_Event_Code]
      ,a.[Total Damages]
      ,a.[TotalClaimantCosts]
      ,[CC_Percentage]
      ,[ClaimantCostTranche_Sort]
      ,[ClaimantCostTranche]
      ,[ClaimantCostTranche5]
      ,[ClaimantCostTranche5_Sort]

	  ,cast(null as date) as [statusdate]
      ,cast(null as varchar(2)) as [StatusDateQuarter]
      ,cast(null as date) as [1st damages payment >= 500 date]
      ,null as [Payment_Within_6_months]

      ,[Report_Start_Date]
      ,[Report_End_Date]
	   ,cast(null as date) as [Report_Start_Date2]
       ,cast(null as date) as [Report_End_Date2]
	  ,cast(null as date) as [LOC_LOR_StartDate]
      ,cast(null as date) as [LOC_LOR_EndDate]
	   FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Average_Damages]a
		left join [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump]b with (nolock) on b.ClaimId = a.claimid

		union all

	   Select 
	   TOP 2 
	   [Report Type]
      ,a.[claimid]
      ,a.[claimref]
	  ,b.Scheme as [SchemeAbbrev]
      ,[Patient Name]
      ,[Original Handler]
      ,[Claims Team]
      ,[SortNumber]
      ,[CreationDate]
      ,[Creation_Quarter]

	

      ,[CloseDate]
      ,[Closure_Quarter]
      ,[SettlementDate]
      ,[Settlement Date Quarter]

	   ,cast(null as date) as [LOC Date]
      ,cast(null as date) as [LOR or Next Date]
      ,null as [LOC to LOR in Months]
      ,null as [Within 4 Months]
      ,cast(null as varchar(2)) as[Quarter]

	  --,cast(null as date) as [statusdate]

      ,[Shelf Life (yrs)]
      ,a.[Clinical/Non Clinical]
      ,[Type 2 Damages Tranche Band]
      ,[Type 2 Damages Tranche Range]
      ,[Type 3 Damages Tranche Band]
      ,[Type 3 Damages Tranche Range]
      ,[Event_Code]
      ,[Internal_Event_Code]
      ,a.[Total Damages]
      ,a.[TotalClaimantCosts]
      ,[CC_Percentage]
      ,[ClaimantCostTranche_Sort]
      ,[ClaimantCostTranche]
      ,[ClaimantCostTranche5]
      ,[ClaimantCostTranche5_Sort]

	  ,cast(null as date) as [statusdate]
      ,cast(null as varchar(2)) as [StatusDateQuarter]
      ,cast(null as date) as [1st damages payment >= 500 date]
      ,null as [Payment_Within_6_months]

      ,[Report_Start_Date]
      ,[Report_End_Date]
	   ,cast(null as date) as [Report_Start_Date2]
       ,cast(null as date) as [Report_End_Date2]
	  ,cast(null as date) as [LOC_LOR_StartDate]
      ,cast(null as date) as [LOC_LOR_EndDate]
	    FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Average_Defence_Costs]a
		left join [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump]b with (nolock) on b.ClaimId = a.claimid
		
		union all

	   Select 
	   TOP 2 
	   [Report Type]
      ,a.[claimid]
      ,a.[claimref]
	  ,b.Scheme as [SchemeAbbrev]
      ,[Patient Name]
      ,[Original Handler]
      ,[Claims Team]
      ,[SortNumber]
      ,[CreationDate]
      ,[Creation_Quarter]

	

      ,[CloseDate]
      ,[Closure_Quarter]
      ,[SettlementDate]
      ,[Settlement Date Quarter]

	   ,cast(null as date) as [LOC Date]
      ,cast(null as date) as [LOR or Next Date]
      ,null as [LOC to LOR in Months]
      ,null as [Within 4 Months]
      ,cast(null as varchar(2)) as[Quarter]

	  --,cast(null as date) as [statusdate]

      ,[Shelf Life (yrs)]
      ,a.[Clinical/Non Clinical]
      ,[Type 2 Damages Tranche Band]
      ,[Type 2 Damages Tranche Range]
      ,[Type 3 Damages Tranche Band]
      ,[Type 3 Damages Tranche Range]
      ,[Event_Code]
      ,[Internal_Event_Code]
      ,a.[Total Damages]
      ,a.[TotalClaimantCosts]
      ,[CC_Percentage]
      ,[ClaimantCostTranche_Sort]
      ,[ClaimantCostTranche]
      ,[ClaimantCostTranche5]
      ,[ClaimantCostTranche5_Sort]

	  ,cast(null as date) as [statusdate]
      ,cast(null as varchar(2)) as [StatusDateQuarter]
      ,cast(null as date) as [1st damages payment >= 500 date]
      ,null as [Payment_Within_6_months]

      ,[Report_Start_Date]
      ,[Report_End_Date]
	   ,cast(null as date) as [Report_Start_Date2]
       ,cast(null as date) as [Report_End_Date2]
	  ,cast(null as date) as [LOC_LOR_StartDate]
      ,cast(null as date) as [LOC_LOR_EndDate]

		FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage]a
		left join [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump]b with (nolock) on b.ClaimId = a.claimid


		
		union all


	   Select 
	   TOP 2 
	   [Report Type]
      ,a.[claimid]
      ,a.[claimref]
	  ,b.Scheme as [SchemeAbbrev]
      ,[Patient Name]
      ,[Original Handler]
      ,[Claims Team]
      ,[SortNumber]
      ,[CreationDate]
      ,[Creation_Quarter]

	

      ,[CloseDate]
      ,[Closure_Quarter]
      ,[SettlementDate]
      ,[Settlement Date Quarter]

	   ,cast(null as date) as [LOC Date]
      ,cast(null as date) as [LOR or Next Date]
      ,null as [LOC to LOR in Months]
      ,null as [Within 4 Months]
      ,cast(null as varchar(2)) as[Quarter]

	  --,cast(null as date) as [statusdate]

      ,[Shelf Life (yrs)]
      ,a.[Clinical/Non Clinical]
      ,[Type 2 Damages Tranche Band]
      ,[Type 2 Damages Tranche Range]
      ,[Type 3 Damages Tranche Band]
      ,[Type 3 Damages Tranche Range]
      ,[Event_Code]
      ,[Internal_Event_Code]
      ,a.[Total Damages]
      ,a.[TotalClaimantCosts]
      ,[CC_Percentage]
      ,[ClaimantCostTranche_Sort]
      ,[ClaimantCostTranche]
      ,[ClaimantCostTranche5]
      ,[ClaimantCostTranche5_Sort]

	  ,cast(null as date) as [statusdate]
      ,cast(null as varchar(2)) as [StatusDateQuarter]
      ,cast(null as date) as [1st damages payment >= 500 date]
      ,null as [Payment_Within_6_months]

      ,[Report_Start_Date]
      ,[Report_End_Date]
	   ,cast(null as date) as [Report_Start_Date2]
       ,cast(null as date) as [Report_End_Date2]
	  ,cast(null as date) as [LOC_LOR_StartDate]
      ,cast(null as date) as [LOC_LOR_EndDate]
		FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Closure_Rates]a
		left join [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump]b with (nolock) on b.ClaimId = a.claimid

---------------------------------------------------------------------------------------------------------------------------
		union all

		SELECT TOP 2 
		'Non Clinical LOC LOR' as [Report Type]
	  ,a.[ClaimId]
      ,b.[ClaimRef]
	  ,[SchemeAbbrev]
      ,[Patient Name]
      ,[Original Handler]
      ,[Claims Team]
      ,[SortNumber]
	  ,[Creation Date] as CreationDate

	  ,cast(null as varchar(2)) as [Creation_Quarter]
      ,cast(b.[Closure Date] as date) as [CloseDate]
      ,cast(null as varchar(2)) as [Closure_Quarter]
      ,cast(b.[Settlement Date]as date) as [SettlementDate]
      ,cast(null as varchar(2)) as [Settlement Date Quarter]

	    ,[LOC Date]
      ,[LOR or Next Date]
      ,[LOC to LOR in Months]
      ,[Within 4 Months]
      ,[Quarter]



      ,null as [Shelf Life (yrs)]
      ,b.[Clinical/Non Clinical]
      ,null as [Type 2 Damages Tranche Band]
      ,cast(null as varchar(11)) as [Type 2 Damages Tranche Range]
      ,null as [Type 3 Damages Tranche Band]
      ,cast(null as varchar(100)) as [Type 3 Damages Tranche Range]
      ,left(ltrim(rtrim(g.[GroupedClaimsName])),3) as Event_Code
	  ,left(ltrim(rtrim(h.[GroupedClaimsName])),3) as Internal_Event_Code
      ,b.[Total Damages]
      ,b.[TotalClaimantCosts]

      ,cast(null as decimal(18,2)) as [CC_Percentage]
	  ,null as [ClaimantCostTranche_Sort]
      ,cast(null as varchar(20)) as [ClaimantCostTranche]
      ,cast(null as varchar(20)) as [ClaimantCostTranche5]
      ,null as [ClaimantCostTranche5_Sort]

       ,cast(null as date) as [statusdate]
      ,cast(null as varchar(2)) as [StatusDateQuarter]
      ,cast(null as date) as [1st damages payment >= 500 date]
      ,null as [Payment_Within_6_months]

      ,cast(null as date) as [Report_Start_Date]
      ,cast(null as date) as [Report_End_Date]

	    ,cast(null as date) as [Report_Start_Date2]
      ,cast(null as date) as [Report_End_Date2]

       ,[LOC_LOR_StartDate]
      ,[LOC_LOR_EndDate]
     

   FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_LOCLOR]a
    left join [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump]b with (nolock) on b.ClaimId = a.claimid
    inner join [Archive2].[dbo].[Claim]f with (nolock) on f.ClaimId = b.ClaimId
	left join [Archive2].[dbo].[GroupedClaims]g with (nolock) on g.GroupedclaimsId = f.GroupedClaimsId
	left join [Archive2].[dbo].[GroupedClaims]h with (nolock) on h.GroupedclaimsId = f.InternalGroupedClaimsId


			union all



  SELECT TOP 2 
		[Report Type]
      ,a.[claimid]
      ,a.[claimref]
	  ,b.Scheme as [SchemeAbbrev]
      ,[Patient Name]
      ,[Original Handler]
      ,[Claims Team]
      ,[SortNumber]
      ,a.[CreationDate]

	  ,cast(null as varchar(2)) as [Creation_Quarter]
      ,cast(b.[Closure Date] as date) as [CloseDate]
      ,cast(null as varchar(2)) as [Closure_Quarter]
      ,cast(b.[Settlement Date]as date) as [SettlementDate]
      ,cast(null as varchar(2)) as [Settlement Date Quarter]

	 ,cast(null as date) as [LOC Date]
      ,cast(null as date) as [LOR or Next Date]
      ,null as [LOC to LOR in Months]
      ,null as [Within 4 Months]
      ,cast(null as varchar(2)) as[Quarter]


      ,null as [Shelf Life (yrs)]
      ,b.[Clinical/Non Clinical]
      ,null as [Type 2 Damages Tranche Band]
      ,cast(null as varchar(11)) as [Type 2 Damages Tranche Range]
      ,null as [Type 3 Damages Tranche Band]
      ,cast(null as varchar(100)) as [Type 3 Damages Tranche Range]
      ,left(ltrim(rtrim(g.[GroupedClaimsName])),3) as Event_Code
	  ,left(ltrim(rtrim(h.[GroupedClaimsName])),3) as Internal_Event_Code
	  ,b.[Total Damages]
	  ,b.[TotalClaimantCosts]

      ,cast(null as decimal(18,2)) as [CC_Percentage]
	  ,null as [ClaimantCostTranche_Sort]
      ,cast(null as varchar(20)) as [ClaimantCostTranche]
      ,cast(null as varchar(20)) as [ClaimantCostTranche5]
      ,null as [ClaimantCostTranche5_Sort]



      ,[statusdate]
      ,[StatusDateQuarter]
      ,[1st damages payment >= 500 date]
      ,[Payment_Within_6_months]
      ,[Report_Start_Date]
      ,[Report_End_Date]
      ,[Report_Start_Date2]
      ,[Report_End_Date2]

	  ,cast(null as date) as [LOC_LOR_StartDate]
      ,cast(null as date) as [LOC_LOR_EndDate]

  FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Repudiated]a
  	inner join [Archive2].[dbo].[Claim]f with (nolock) on f.ClaimId = a.ClaimId
    left join [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump]b with (nolock) on b.ClaimId = f.claimid

	left join [Archive2].[dbo].[GroupedClaims]g with (nolock) on g.GroupedclaimsId = f.GroupedClaimsId
	left join [Archive2].[dbo].[GroupedClaims]h with (nolock) on h.GroupedclaimsId = f.InternalGroupedClaimsId


	--select * from [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Repudiated]