USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[SP_Payments_All]    Script Date: 24/07/2019 14:05:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_Payments_All] 
	
AS
BEGIN

IF OBJECT_ID('[Informatics_Reporting].[dbo].[payments_All]') IS NOT NULL


DROP TABLE [Informatics_Reporting].[dbo].[payments_All]

Select 
G.ClaimRef, 
G.ClaimId, 
G.ClaimStatusTypeName, 
G.ScheduleName, 
G.SchemeAbbrev As Scheme, 
S.PaymentStatusName As [Payment Status], 
T.PaymentTypeName As [Payment Type Name], 
I.Amount, 
i.VAT,
vc.VATRate,
vc.VATDescription,
t.VATRecoverable ,
Convert(date,P.DatePaid) As [Date Paid], 
case 
WHEN P.DateRaised > '2004-03-31' then d.[Financial Year] 
WHEN P.DateRaised > '1995-03-31' and P.DateRaised <= '2004-03-31' then e.[Financial Year]
else 'Unknown' 
end As PaymentYear, 
Convert(date,P.DateRaised) As [Date Raised], 
d.[Financial Year] As FinYearRaised, 
Convert(date,P.DateDue) As [Date Due],
t.DamDefClaim, 
(
Case 
When T.DamDefClaim = 1 Then 'Damages' 
When T.DamDefClaim = 2 Then 'Defence Costs' 
Else 'Claimant Costs' 
End
) As [Payment Type], 
cf.ClaimantFundingTypeName, 
F.FundTypeName As [Funded By], 
'Total Damages' = G.DamagesPaid + G.OSDamages, 
'Total Defence Costs' = G.OSDefenceCosts + G.DefenceCostsPaid, 
'Total Claimant Costs' = G.OSPlaintifCosts + G.ClaimantCostsPaid, 
G.MemberCode, 
G.MemberName, 
R.Speciality1L1, 
G.CreationDate, 
G.IncidentDate, 
P.OpenAccountsRef, 
P.PaymentReference, 
I.Description, 
(
Case 
When G.SchemeAbbrev In ('LTPS', 'PES', 'DH Liab') Then ' ' 
When R.Speciality1L1 In ('Antenatal Clinic', 'Community Midwifery', 'Obstetrics', 'Obstetrics / Gynaecology') Then 'Obstetrics' 
Else R.Speciality1L1 
End
) As Specialty,
g.GroupedClaimsCode,
g.InternalGroupedClaimsCode

into [Informatics_Reporting].[dbo].[payments_All]


From ClaimsManagement.dbo.ClaimPaymentItem I 
Inner Join ClaimsManagement.dbo.vw_ClaimGeneral G On G.ClaimId = I.ClaimId 
Left Outer Join ClaimsManagement.dbo.vw_ClaimRiskCategory R On G.ClaimId = R.ClaimId 
Inner Join ClaimsManagement.dbo.ClaimPayment P On I.ClaimPaymentId = P.ClaimPaymentId 
Inner Join ClaimsManagement.dbo.PaymentType T On I.PaymentTypeId = T.PaymentTypeId 
Inner Join ClaimsManagement.dbo.PaymentStatus S On P.StatusId = S.PaymentStatusId 
Inner Join ClaimsManagement.dbo.FundType F On P.FundTypeId = F.FundTypeId 
left join [ClaimsManagement].[dbo].[VATCode] vc on vc.VatcodeId = i.VATRateId
Left Outer Join ClaimsManagement.dbo.Claimant cl On G.ClaimId = cl.ClaimId 
Left Join Informatics_Reporting.dbo.DIM_Date d On d.[Calendar Day] = Convert(date,P.DateRaised) 
Left Join Informatics_Reporting.dbo.DIM_Date e On e.[Calendar Day] = Convert(date,P.DatePaid) 
Left Outer Join ClaimsManagement.dbo.ClaimantFunding cf On cl.ClaimantFundingId = cf.ClaimantFundingId 
Where G.ClaimStatusTypeName Not In ('Settled below excess', 'Claim Cancelled', 'No IBNR Cover') 
And S.PaymentStatusName In ('Approved', 'Awaiting 2nd Approval', 'Paid', 'Pending') 
And T.PaymentTypeName <> 'Handling Fee' 
 

 END