USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [Staging].[5_SP_KPI_SCORECARD_Scorecard_Handler_Tasks]    Script Date: 03/12/2018 14:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [Staging].[5_SP_KPI_SCORECARD_Scorecard_Handler_Tasks] AS

IF OBJECT_ID('tempdb..#TEMP1') IS NOT NULL
    DROP TABLE #TEMP1;

DECLARE @MonthEnd DATE;
SET @MonthEnd = DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE()) - 1, -1); 

--print @MonthEnd
-- clinical team task

SELECT e.Team,
       CASE WHEN E.[Leader Flag] <> 1 THEN E.[Handler_NewName]
           ELSE NULL
       END AS [Handler],
       SUM(CASE WHEN DATEDIFF(DAY, CONVERT(DATE, DueDate), @MonthEnd) >= 28 AND [Leader Flag] <> 1 THEN 1
               ELSE 0
           END) AS 'No Of Uncompleted Tasks Over 28 Calendar days Old ',
       SUM(CASE WHEN DATEDIFF(DAY, DueDate, @MonthEnd) >= 21 AND B.ActivityTypeName LIKE '%New Post%' AND [Leader Flag] <> 1 THEN 1
               ELSE 0
           END) AS 'No Of Uncompleted New Post Tasks Over 21 Calendar days Old',
       SUM(CASE WHEN DATEDIFF(DAY, DueDate, @MonthEnd) >= 4 AND B.ActivityTypeName LIKE '%Index%' AND [Leader Flag] <> 1 THEN 1
               ELSE 0
           END) AS 'No Of Uncompleted Index Correspondence Over 4 Calendar days Old',
       d.[Clinical/Non Clinical]
INTO #temp1
FROM [Archive2].[dbo].[Activity] a
     INNER JOIN [Archive2].[dbo].[ActivityType] b ON a.ActivityTypeId = b.ActivityTypeId
     INNER JOIN [Archive2].[dbo].[vw_ClaimGeneral] C ON A.ClaimId = C.ClaimId
     INNER JOIN [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump] D ON D.claimid = C.claimid
     LEFT JOIN [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] E ON E.[Claims Handler] = LTRIM(RTRIM(C.HandlerFirstName))+' '+LTRIM(RTRIM(C.HandlerSurname))
WHERE Completed = 0
      AND d.[Clinical/Non Clinical] = 'Clinical'
      AND e.ISCURRENT = 1
      AND Team IN('CNST Team 1', 'CNST Team 2', 'CNST Team 3', 'CNST Team 4', 'CNST Team 5', 'CNST Team 6', 'CNST Team 7', 'CNST Team 8')
     AND e.[Leader Flag] <> 1
     AND e.IsLastRow = 'Y'
GROUP BY e.Team,
         CASE             WHEN E.[Leader Flag] <> 1             THEN E.[Handler_NewName]
             ELSE NULL
         END,
         d.[Clinical/Non Clinical]


--select * from [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]


-- add non clinical team tasks
UNION ALL
SELECT e.Team,
       CASE WHEN E.[Leader Flag] <> 1 THEN E.[Handler_NewName]
            ELSE NULL
       END                                                                                                                                  AS [Handler],
       SUM(CASE WHEN DATEDIFF(DAY, CONVERT(DATE, DueDate), @MonthEnd) >= 28 AND [Leader Flag] <> 1                           THEN 1
                ELSE 0
           END)                                                                                                                             AS 'No Of Uncompleted Tasks Over 28 Calendar days Old ',
       SUM(CASE WHEN DATEDIFF(DAY, DueDate, @MonthEnd) >= 21 AND B.ActivityTypeName LIKE '%New Post%' AND [Leader Flag] <> 1 THEN 1
                ELSE 0
           END)                                                                                                                             AS 'No Of Uncompleted New Post Tasks Over 21 Calendar days Old',
       SUM(CASE WHEN DATEDIFF(DAY, DueDate, @MonthEnd) >= 4 AND B.ActivityTypeName LIKE '%Index%' AND [Leader Flag] <> 1     THEN 1
                ELSE 0
           END)                                                                                                                             AS 'No Of Uncompleted Index Correspondence Over 4 Calendar days Old',
       d.[Clinical/Non Clinical]
FROM [Archive2].[dbo].[Activity] a
     INNER JOIN [Archive2].[dbo].[ActivityType] b ON a.ActivityTypeId = b.ActivityTypeId
     INNER JOIN [Archive2].[dbo].[vw_ClaimGeneral] C ON A.ClaimId = C.ClaimId
     INNER JOIN [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump] D ON D.claimid = C.claimid
     LEFT JOIN [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] E ON E.[Claims Handler] = LTRIM(RTRIM(C.HandlerFirstName))+' '+LTRIM(RTRIM(C.HandlerSurname))
WHERE Completed = 0
AND d.[Clinical/Non Clinical] = 'Non Clinical'
AND e.ISCURRENT               = 1
AND Team                      IN('RPST Team 1', 'RPST Team 2', 'RPST Team 3')
AND e.[Leader Flag]           <> 1
AND e.IsLastRow               = 'Y'
GROUP BY e.Team,
         CASE WHEN E.[Leader Flag] <> 1 THEN E.[Handler_NewName]
              ELSE NULL
         END,
         d.[Clinical/Non Clinical]

-- add mst team tasks
UNION ALL
SELECT e.Team,
       CASE WHEN E.[Leader Flag] <> 1 THEN E.[Handler_NewName]
           ELSE NULL
       END                                                                                                                                  AS [Handler],
       SUM(CASE WHEN DATEDIFF(DAY, CONVERT(DATE, DueDate), @MonthEnd) >= 28 AND [Leader Flag] <> 1                           THEN 1         
                ELSE 0
           END)                                                                                                                             AS 'No Of Uncompleted Tasks Over 28 Calendar days Old ',
       SUM(CASE WHEN DATEDIFF(DAY, DueDate, @MonthEnd) >= 21 AND B.ActivityTypeName LIKE '%New Post%' AND [Leader Flag] <> 1 THEN 1
                ELSE 0
           END)                                                                                                                             AS 'No Of Uncompleted New Post Tasks Over 21 Calendar days Old',
       SUM(CASE WHEN DATEDIFF(DAY, DueDate, @MonthEnd) >= 4 AND B.ActivityTypeName LIKE '%Index%' AND [Leader Flag] <> 1     THEN 1
                ELSE 0
           END)                                                                                                                             AS 'No Of Uncompleted Index Correspondence Over 4 Calendar days Old',
       d.[Clinical/Non Clinical]
FROM [Archive2].[dbo].[Activity]                                        a
     INNER JOIN [Archive2].[dbo].[ActivityType]                         b ON a.ActivityTypeId   = b.ActivityTypeId
     INNER JOIN [Archive2].[dbo].[vw_ClaimGeneral]                      C ON A.ClaimId          = C.ClaimId
     INNER JOIN [Informatics_Reporting].[dbo].[arch2.vw_MemberDataDump] D ON D.claimid          = C.claimid
     LEFT JOIN [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]       E ON E.[Claims Handler] = LTRIM(RTRIM(C.HandlerFirstName))+' '+LTRIM(RTRIM(C.HandlerSurname))
WHERE Completed     = 0
AND e.ISCURRENT     = 1
AND Team            in ('MST','EN Team')
AND e.[Leader Flag] <> 1
AND e.IsLastRow     = 'Y'
GROUP BY e.Team,
         CASE WHEN E.[Leader Flag] <> 1 THEN E.[Handler_NewName]
              ELSE NULL
         END,
         d.[Clinical/Non Clinical]
ORDER BY Team,
         Handler;--,d.[Clinical/Non Clinical]

/*
-- drop table and prepopulate with new data
IF OBJECT_ID('[Informatics_Reporting].[dbo].[Inf_SSRS_ALL_Task]') IS NOT NULL
    DROP TABLE [Informatics_Reporting].[dbo].[Inf_SSRS_ALL_Task]; 

SELECT *
INTO [Informatics_Reporting].[dbo].[Inf_SSRS_ALL_Task]
FROM #tEMP1;
*/
--select * from [Informatics_Reporting].[dbo].[Inf_SSRS_ALL_Task] order by handler

DELETE FROM staging.KPIMaster WHERE [Inf_SSRS_ALL_Task] = 1



INSERT INTO staging.KPIMaster
    ([Team],
     [Handler],
     [No Of Uncompleted Tasks Over 28 Calendar days Old ],
     [No Of Uncompleted New Post Tasks Over 21 Calendar days Old],
     [No Of Uncompleted Index Correspondence Over 4 Calendar days Old],
     [Clinical/Non Clinical],
     [KPI_Ref_Claim_Handler_History],
     [KPI_Ref_Last_Handler],
     [KPI_LOC_LOR_MASTER],
     [KPI_Ref_PayHist],
     [KPI_Clinical_LOCLOR],
     [KPI_Clinical_Repudiated],
     [KPI_Clinical_Closure_Rates],
     [KPI_Clinical_Average_Claimant_Costs],
     [KPI_Clinical_NIL_Damages],
     [KPI_Clinical_Average_Damages],
     [KPI_Clinical_ShelfLife],
     [KPI_Clinical_Average_Defence_Costs],
     [KPI_ClaimantCost_vs_DamagesPercentage],
     [KPI_Clinical_Closure_Rates_Pivot],
     [KPI_Non_Clinical_LOCLOR],
     [KPI_Non_Clinical_Repudiated],
     [KPI_Non_Clinical_ShelfLife],
     [KPI_Non_Clinical_Closure_Rates],
     [KPI_Non_Clinical_Average_Damages],
     [KPI_Non_Clinical_Average_Claimant_Costs],
     [KPI_Non_Clinical_Average_Defence_Costs],
     [KPI_Non_Clinical_NIL_Damages],
     [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage],
     [KPI_Non_Clinical_Closure_Rates_Pivot],
     [Inf_SSRS_ALL_Task],
     [Inf_SSRS_Caseload_Clinical_detail],
     [Inf_SSRS_Caseload_Clinical],
     [Inf_SSRS_Caseload_Non_Clinical_detail],
     [Inf_SSRS_Caseload_Non_Clinical],
     [KPI_Clinical_ScoreCard_Average], 
     [KPI_Non_Clinical_ScoreCard_Average],
     [KPI_Clinical_ScoreCard], 
     [KPI_Non_Clinical_ScoreCard],
     [Internal_KPI_ReportSpecifications],
     [KPI_Ref_TASKS], 
     [Clinical],
     [Non_Clinical])
SELECT tem.*,
       0 [KPI_Ref_Claim_Handler_History],
       0 [KPI_Ref_Last_Handler],
       0 [KPI_LOC_LOR_MASTER],
       0 [KPI_Ref_PayHist],
       0 [KPI_Clinical_LOCLOR],
       0 [KPI_Clinical_Repudiated],
       0 [KPI_Clinical_Closure_Rates],
       0 [KPI_Clinical_Average_Claimant_Costs],
       0 [KPI_Clinical_NIL_Damages],
       0 [KPI_Clinical_Average_Damages],
       0 [KPI_Clinical_ShelfLife],
       0 [KPI_Clinical_Average_Defence_Costs],
       0 [KPI_ClaimantCost_vs_DamagesPercentage],
       0 [KPI_Clinical_Closure_Rates_Pivot],
       0 [KPI_Non_Clinical_LOCLOR],
       0 [KPI_Non_Clinical_Repudiated],
       0 [KPI_Non_Clinical_ShelfLife],
       0 [KPI_Non_Clinical_Closure_Rates],
       0 [KPI_Non_Clinical_Average_Damages],
       0 [KPI_Non_Clinical_Average_Claimant_Costs],
       0 [KPI_Non_Clinical_Average_Defence_Costs],
       0 [KPI_Non_Clinical_NIL_Damages],
       0 [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage],
       0 [KPI_Non_Clinical_Closure_Rates_Pivot],
       1 [Inf_SSRS_ALL_Task],
       0 [Inf_SSRS_Caseload_Clinical_detail],
       0 [Inf_SSRS_Caseload_Clinical],
       0 [Inf_SSRS_Caseload_Non_Clinical_detail],
       0 [Inf_SSRS_Caseload_Non_Clinical],
       0 [KPI_Clinical_ScoreCard_Average], 
       0 [KPI_Non_Clinical_ScoreCard_Average],
       0 [KPI_Clinical_ScoreCard], 
       0 [KPI_Non_Clinical_ScoreCard],
       0 [Internal_KPI_ReportSpecifications],
       0 [KPI_Ref_TASKS], 
       CASE WHEN tem.[Clinical/Non Clinical] = 'Clinical'     THEN 1 ELSE 0 END [Clinical],
       CASE WHEN tem.[Clinical/Non Clinical] = 'Non Clinical' THEN 1 ELSE 0 END [Non_Clinical]
FROM #tEMP1 tem;

