USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [NCAS].[sp_Refresh_NCAS_DAILY_Tables]    Script Date: 07/06/2019 12:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [NCAS].[sp_Refresh_NCAS_DAILY_Tables]

 AS
 BEGIN


If object_ID('[NHR Data Mart Test].[NCAS].[01_EKS_Case_Details_DAILY_REFRESH]') is not null
   Drop table [NHR Data Mart Test].[NCAS].[01_EKS_Case_Details_DAILY_REFRESH]

SELECT 
*
into [NHR Data Mart Test].[NCAS].[01_EKS_Case_Details_DAILY_REFRESH]

 FROM [ldndw1\reporting].[Informatics_Reporting].[NCAS].[01_EKS_Case_Details_Archive1]


 End