/****** Script for SelectTopNRows command from SSMS  ******/


 	IF OBJECT_ID('[ETL_Local_PROD].[dbo].[AT_Login_Details]') IS NOT NULL 
	dROP TABLE [ETL_Local_PROD].[dbo].[AT_Login_Details]

SELECT  a.[ItemId]
      ,[SessionID]
      ,[Active]
      ,[UserRegistryID]
      ,[OrganizationRegistryID]
      ,[UserID]
      ,[UserRole]
      ,[UserFullName]
      ,[OrganizationName]
	  ,b.TeamType
	  ,b.[Parent Org]
	  --, ROW_NUMBER() over (partition by [UserRegistryID] order by [LoginRowId] ) as rn
	  ,ROW_NUMBER() OVER(PARTITION BY [UserRegistryID] ORDER by [LoginRowId],[LogoutReason] ASC) AS RN2
	  ,null as RowBeforlaterFlag  
      ,[LoginTime]
      ,[LogoutTime]
	  ,Cast(null as datetime) as FinalLoginTime
	  ,Cast(null as datetime) as FinalLogoutTime
      ,[LogoutReason]
      ,[SessionDuration]
	  ,([SessionDuration]/60) as SessionDurationInMinutes
	  ,null as NewSessionDuratiom
	  ,null as NewSessionDurationMinutes
      ,[UserAgent]
	  ,case
		when [IsMobile] = 1 and  charindex('iPhone',[UserAgent])> 0 then 'iPhone'
		when [IsMobile] = 1 and  charindex('iPad',[UserAgent])> 0 then 'iPad'
		When [IsMobile] = 1 and  (CHARINDEX('Android',[UserAgent])>0 and CHARINDEX('Mobile Safari',[UserAgent])>0) then 'Android mobile'
		When [IsMobile] = 1 and  (CHARINDEX('Android',[UserAgent])>0 and CHARINDEX('Mobile',[UserAgent])= 0) then 'Android Tablet'
		When [IsMobile] = 0 and  (CHARINDEX('Linux',[UserAgent])>0 and CHARINDEX('Mobile',[UserAgent])= 0) then 'PC'
		when [IsMobile] = 0 and  charindex('Windows NT',[UserAgent])> 0 then 'PC'
		when [IsMobile] = 0 and  charindex('Macintosh; Intel Mac OS X',[UserAgent])> 0 then 'iPad'
		when [IsMobile] = 0 and (charindex('mobile',[UserAgent])>0 and charindex('Windows NT',[UserAgent])> 0)  then 'Tablet PC'
		when [IsMobile] = 0 and (charindex('mobile',[UserAgent])>0 and charindex('Macintosh; Intel Mac OS X',[UserAgent])> 0)  then 'iPad'
		else [UserAgent]
		End as DerivedDevicetype
      ,[Browser]
      ,[BrowserVersion]
      ,[BrowserMode]
      ,a.[LoginRowId]
      ,[IsMobile]

	  into [ETL_Local_PROD].[dbo].[AT_Login_Details]
	  --,b.*
  FROM [ETL_PROD].[dbo].[CMC_ActivityLog]a with (nolock)
  --left join [ETL_PROD].[dbo].[CMC_AuditLogin]b on b.CspSessionId = a.SessionID
  left join [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]b with (nolock) on b.ActivityTeam = a.[OrganizationName]
  where 
  --OrganizationName = 'LONDON AMBULANCE SERVICE NHS TRUST'
  --and 
  --convert(date,loginTime) >= '2020-01-01' and convert(date,loginTime)  <= '2020-01-31'
  convert(date,loginTime) >= '2019-04-01'
  --and LogoutReason = 'timeout'
  --and b.TeamType = 'Urgent Care'
  --and USERID = 'AbeyewardeneOrani'
  --and b.Success = 1
  --and b.LastLogin = a.LoginTime
  order by a.ItemId

  --select * from [ETL_Local_PROD].[dbo].[AT_Commissioner_Team_Org_Lookup]
  	/** 
	
		this part flags multiple rows for the same patient
		
	**/

 
 
		update x
				set x.RowBeforlaterFlag = Case when  (a.LogoutTime > x.LoginTime) then 1 else null end
 
		
	from [ETL_Local_PROD].[dbo].[AT_Login_Details]x		
	LEFT JOIN [ETL_Local_PROD].[dbo].[AT_Login_Details]a on  a.UserID = x.UserID
							and  a.rn2 = x.RN2 - 1

	
 

 
		update x
		set  x.FinalLoginTime = x.LoginTime,
			x.FinalLogoutTime = case when a.RowBeforlaterFlag = 1 and x.LogoutTime < a.LogoutTime then a.LogoutTime else x.LogoutTime end
			
		
	from [ETL_Local_PROD].[dbo].[AT_Login_Details]x		
	LEFT JOIN [ETL_Local_PROD].[dbo].[AT_Login_Details]a on  a.UserID = x.UserID
								and a.rn2 = (x.rn2 + 1)


update r
		set r.NewSessionDuratiom = DATEDIFF(second,FinalLoginTime,FinalLogoutTime),
			r.NewSessionDurationMinutes = DATEDIFF(second,FinalLoginTime,FinalLogoutTime)/60

from [ETL_Local_PROD].[dbo].[AT_Login_Details]r


delete from [ETL_Local_PROD].[dbo].[AT_Login_Details] where RowBeforlaterFlag = 1

    select * from [ETL_Local_PROD].[dbo].[AT_Login_Details] where USERID = 'AbeyewardeneOrani' order by userid,loginRowID
	
	    select * from #LoginActivity order by OrganizationName
	    select * from #LoginActivity order by userid,loginRowID
  --select top 500 * from [ETL_Local_PROD].[dbo].[AT_Staff]


  --select *  FROM [ETL_PROD].[dbo].[CMC_AuditData] where LoginRowId in (1399684,1399676) and ActionType  in ('Login','Logout')
    select top 5* from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test] --where StaffregistryID = 603412 and convert(date,Actiontime) = '2019-06-25' order by actionTime
 select top 5* FROM  [ETL_Local_PROD].[dbo].[AT_Login_Details]
  -- select distinct [UserAgent] FROM [ETL_PROD].[dbo].[CMC_ActivityLog] where [IsMobile] = 0 and OrganizationName = 'LONDON AMBULANCE SERVICE NHS TRUST' order by [UserAgent] 
 
  
  select * from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test]where StaffUSERID = 'AbeyewardeneOrani'

    select * from [ETL_Local_PROD].[dbo].[AT_Login_Details] where USERID = 'AbeyewardeneOrani' and convert(date,loginTime) = '2019-06-25'order by userid,loginRowID
	    select  * from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test] where StaffregistryID = 603412  order by actionTime


	 select  * from [ETL_PROD].[dbo].[AT_CMC_AuditData_Activity_Test] where IndRegistryID = 603412 and convert(date,Actiontime) = '2019-06-25' order by actionTime


	 select top 5 * from [ETL_Local_PROD].[dbo].[AT_Login_Details]
	 select top 5 * FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData]





	 select   * from [ETL_Local_PROD].[dbo].[AT_Login_Details] where UserID = 'BennettJames'  order by FinalLoginTime
	 	 select  * FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData] where StaffUserId = 'SmithJoshua'and  CMC_ID = 100000956 order by actionTime


		 select 
		 b.ItemId as LoginItemID,
		 a.* ,
		 b.finalLoginTime,
		 b.FinalLogoutTime,
		 b.NewSessionDurationMinutes as SessionDurationMinutes,
		 b.LogoutReason,
		 b.UserRole,
		 b.UserAgent,
		 b.DerivedDevicetype,
		 b.Browser,
		 b.BrowserVersion,
		 --b.IsMobile,
		 b.LoginRowId
		 
		 FROM [ETL_Local_PROD].[dbo].[AT_CarePlanData] a
		 left join [ETL_Local_PROD].[dbo].[AT_Login_Details]b on b.UserID = a.StaffUserId
		 and (
		 b.FinalLoginTime <= a.actionTime and b.FinalLogoutTime >= a.actionTime
		 OR 
		 b.FinalLoginTime <= a.actionTime and b.FinalLogoutTime = null
		 )
		 where StaffUserId = 'BennettJames'
		 and a.[Parent Org] = 'LONDON AMBULANCE SERVICE NHS TRUST'
		 --and StaffUserId = 'BennettKelvin'
		 and convert(date,actionTime) >= '2020-02-07'
		 and (LogoutReason <> 'second_login' or LogoutReason is null)
		 and DerivedActionType = 'view'
		 order by actionTime


		  select   * from [ETL_Local_PROD].[dbo].[AT_Login_Details] where LoginRowId = 877395--where ItemId in (475484,475485)