USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[SP_KPI_Last_Handler_Daily]    Script Date: 14/06/2018 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_KPI_Last_Handler_Daily]
AS
 BEGIN


/**
		Last Handler \V3 adds Original Claim Handler addition where it exists and adds a constraint column
		3.1 removed details criteria that removes part of details column after a bracket for those rows where 
		the search is: charindex('Claim Handler:',Details)> 0

 **/





 if OBJECT_ID('tempdb..#text_table') is not null
 drop table #text_table

 select
 [ClaimId],
 ClaimHistoryId,
 CMSUserId,
 ChangeDateTime,

case 
	when charindex('(',Details) > 0 
	then ltrim(rtrim(LEFT(Details, CHARINDEX('(', Details) - 1)))+'.'
	else Details end as Details

 into #text_table
  
 FROM  [Archive1].[dbo].[ClaimHistory] with (nolock) 
  where 
  (
  charindex('handler changed ',Details)> 0
  --or
  --charindex('Claim Handler:',Details)> 0
  )

	--order by ChangeDateTime

	union all

	 select
 [ClaimId],
 ClaimHistoryId,
 CMSUserId,
 ChangeDateTime,
 Details

  
 FROM  [Archive1].[dbo].[ClaimHistory] with (nolock) 
  where 
  (
  --charindex('handler changed ',Details)> 0
  --or
  charindex('Claim Handler:',Details)> 0
  )


	order by ChangeDateTime

    --select * from  #text_table0 where claimid = 160504
   --select * from #text_table where claimid = 5760 order by claimhistoryid
   --select *  FROM  [Archive1].[dbo].[ClaimHistory] where claimid = 160504 order by claimhistoryid
   --SELECT * FROM [Archive2].[dbo].[vw_ClaimGeneral]where claimid = 5760 


 if OBJECT_ID('tempdb..#text_table2') is not null   
drop table #text_table2
select
*
into #text_table2
from
(
select *, 
charindex('from: ', Details ,0) as From_Index,
charindex(' to: ', Details , charindex('from: ', Details ,0)) as to_index,
charindex('.', Details , charindex(' to: ', Details , charindex('from: ', Details ,0))) as dot_index
from #text_table
where charindex('handler changed',Details)> 0


)d



 if OBJECT_ID('tempdb..#text_table3') is not null   
drop table #text_table3
select
*
into #text_table3
from
(
select *, 
null as From_Index,
charindex('Claim Handler:', Details,0) as to_index,
charindex('.', Details , charindex('Claim Handler:', Details,0)) as dot_index
from #text_table
where charindex('Claim Handler:',Details)> 0
--and claimid = 160504

)d



--select claimid from #text_table2 where claimid not in (select distinct claimid from #text_table3)
--select * from #Text_table2 where claimid = 47486
--select * from [Archive2].[dbo].[vw_ClaimGeneral] where ClaimId = 47486
--  select *  FROM  [Archive1].[dbo].[ClaimHistory]  where claimid = 47486 order by ChangeDateTime
--('Admin','Claims Assistant')







--select * from #text_table Where claimid = 5760



 if OBJECT_ID('tempdb..#FinText') is not null     
drop table #FinText
select
null as Order_Of_Change,
[ClaimId],
 ClaimHistoryId,
CMSUserId,
ChangeDateTime,
ltrim(rtrim(replace(replace(substring(Details, from_index+6, to_index - from_index - 6),',',''),'.',''))) as From_Value,
cast(null as varchar(max)) as From_Team,
ltrim(rtrim(replace(replace(substring(Details, to_index+4, dot_index - to_index - 1),',',''),'.',''))) as To_Value,
cast(null as varchar(max)) as To_Team,
Cast(null as varchar(2)) as Last_Row,
Cast(null as varchar(2))  as Admin_only,
Cast(null as varchar(2)) as Admin_And_Misc_Only,
cast(null as varchar(max)) as Last_Handler,
cast(null as varchar(max)) as Last_Team

into #FinText

from [#text_table2]a
union all

select
null as Order_Of_Change,
[ClaimId],
 ClaimHistoryId,
CMSUserId,
ChangeDateTime,
null as From_Value,
cast(null as varchar(max)) as From_Team,
ltrim(rtrim(replace(replace(substring(Details, to_index+15, dot_index - to_index - 15),',',''),'.',''))) as To_Value,
cast(null as varchar(max)) as To_Team,
Cast(null as varchar(2)) as Last_Row,
Cast(null as varchar(2))  as Admin_only,
Cast(null as varchar(2)) as Admin_And_Misc_Only,
cast(null as varchar(max)) as Last_Handler,
cast(null as varchar(max)) as Last_Team

from [#text_table3]



--select * from  #FinText Where claimid = 5760

Update o

		set o.Order_Of_Change = p.TeamNum	

from [#FinText]o
left join
		(
		select
		claimid,
		DEnse_RANK() OVER(PARTITION BY  claimid ORDER BY Claimhistoryid,ChangeDateTime) as TeamNum,
		Claimhistoryid,
		ChangeDateTime

		from [#FinText]

		) as p on p.Claimid = o.claimid
			and p.ClaimHistoryId = o.claimhistoryid
			and p.ChangeDateTime = o.ChangeDateTime


 update p

	set To_Value = ltrim(rtrim(substring(ltrim(rtrim(to_value)), 1, (len(ltrim(rtrim(to_value))) - 2))))
		

 from [#FinText]p

 Where 
 (
 Right(ltrim(rtrim(to_value)),1) <> ' '
 and
 Right(ltrim(rtrim(to_value)),1) not LIKE '[0-9]' 
 and 
 charindex(' ',Right(ltrim(rtrim(to_value)),2)) = 1
 )



 

  insert into[#FinText]
  select
  *
  from
  (
  select
  1 as Order_Of_Change,
  Claimid,
 ''  as ClaimhistoryID,
  112233 as CMSUSerID,
  convert(date,CreationDate) as ChangeDateTime,
  null as From_Value,
  Null as From_Team,
  ltrim(rtrim(HandlerFirstName))+' '+ ltrim(rtrim(HandlerSurname))  as To_Value,
  cast(null as varchar(max)) as To_Team,
Cast(null as varchar(2)) as Last_Row,
Cast(null as varchar(2))  as Admin_only,
Cast(null as varchar(2)) as Admin_And_Misc_Only,
cast(null as varchar(max)) as Last_Handler,
cast(null as varchar(max)) as Last_Team
  FROM [Archive1].[dbo].[vw_ClaimGeneral] with (nolock) 

  )d
  Where  d.claimid not in (select distinct claimid from [#FinText])



 
 update s
	set From_Value = case 
						when From_Value = 'Sue Bloomfield' then 'Sue Ball' 
						when From_Value = 'Paula Smith' then 'Paula Middlewick'
						when From_Value = 'Samantha Eagle' then 'Samantha Berry' 
						when From_Value = 'Dave Duguid' then 'David Duguid' 
						when From_Value = 'Amuthan Ramakrishnalal' then 'Amuthan Rama'
						when From_Value = 'Olufunmilayo Oladimeji' then 'Funmi Oladimeji'
						else From_Value 
						end,
		To_Value = case 
						when To_Value  = 'Sue Bloomfield' then 'Sue Ball' 
						when To_Value  = 'Paula Smith' then 'Paula Middlewick'
						when To_Value  = 'Samantha Eagle' then 'Samantha Berry' 
						when To_Value  = 'Dave Duguid' then 'David Duguid'
						when To_Value = 'Amuthan Ramakrishnalal' then 'Amuthan Rama'
						when To_Value = 'Olufunmilayo Oladimeji' then 'Funmi Oladimeji'
						else To_Value  
						end
		
from [#FinText]s


update r

	set r.From_Team = case when From_Value is null then null else coalesce(b.Team,'Other') end,
		r.To_Team = coalesce(c.Team,'Other'),
		r.Last_Row = case when d.Last_Row = r.Order_Of_Change then 'Y' else null end


from [#FinText]r
left join  [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]b with (nolock) on 
																				(
																				ltrim(rtrim(b.[Claims Handler])) = ltrim(rtrim(From_Value))
																				OR
																				ltrim(rtrim(b.Handler_Old_Name)) = ltrim(rtrim(From_Value))
																				)
															
															

left join  [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]c with (nolock) on 
																				(
																				ltrim(rtrim(c.[Claims Handler])) = ltrim(rtrim(To_Value))
																				OR
																				ltrim(rtrim(c.Handler_Old_Name)) = ltrim(rtrim(To_Value))
																				)
															
															
left join
(
select
Claimid,
Max(Order_Of_Change) as Last_Row
from [#FinText]
group by
claimid
) as d on d.ClaimId = r.ClaimId 


--select * from  #FinText2 Where claimid = 2	
-- select * from [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]order by Handler_NewName
--select * from [Archive2].[dbo].[vw_ClaimGeneral]where claimref = '99CT448/004'


update f

		set f.Admin_only = case 

								when ((From_Team in ('Admin','Claims Assistant')) OR From_Team is null )and (To_Team in ('Admin','Claims Assistant')) THEN 'Y' else 'N' 
								
								end

from [#FinText]f


	 if OBJECT_ID('tempdb..#FinText2') is not null     
	 drop table #FinText2
--select * from #FinText where ClaimId = 147949 order by Order_Of_Change
;WITH Claim_CTE (Claimid)
AS
-- Define the CTE query.
(
   select distinct claimid from #text_table3
) 

	 select
	 Order_Of_Change,
	 a.Claimid,
	Convert(bigint,ClaimHistoryId) as  ClaimHistoryId,
	 CMSUserId,
	 ChangeDateTime,
	 From_Value,
	 From_Team,
	 To_Value,
	 To_Team,
	 Last_Row,
	 Admin_only,
	 --Admin_And_Misc_Only,
	--coalesce(
		--	(SELECT TOP 1 To_Value FROM [#FinText]t WHERE (t.ChangeDateTime <= a.ChangeDateTime) AND (a.claimid = t.claimid) and t.To_Team not in ('Admin','Claims Assistant','Miscellaneous') ORDER BY Order_Of_Change DESC) ,
		--	(SELECT TOP 1 To_Value FROM [#FinText]t WHERE (t.ChangeDateTime <= a.ChangeDateTime) AND (a.claimid = t.claimid) and t.To_Team not in ('Admin','Claims Assistant') ORDER BY Order_Of_Change DESC) 
		--	)
	 cast(null as varchar(max)) as [Last_Handler],
	 cast(null as varchar(max)) as Last_Team


	 into #FinText2
	 from [#FinText]a
	 inner join Claim_CTE b on b.Claimid = a.claimid

	 union all

	 select
	 Order_Of_Change,
	 a.Claimid,
	Convert(bigint,ClaimHistoryId) as  ClaimHistoryId,
	 CMSUserId,
	 ChangeDateTime,
	 From_Value,
	 From_Team,
	 To_Value,
	 To_Team,
	 Last_Row,
	 Admin_only,
	 --Admin_And_Misc_Only,
	--coalesce(
		--	(SELECT TOP 1 To_Value FROM [#FinText]t WHERE (t.ChangeDateTime <= a.ChangeDateTime) AND (a.claimid = t.claimid) and t.To_Team not in ('Admin','Claims Assistant','Miscellaneous') ORDER BY Order_Of_Change DESC) ,
		--	(SELECT TOP 1 To_Value FROM [#FinText]t WHERE (t.ChangeDateTime <= a.ChangeDateTime) AND (a.claimid = t.claimid) and t.To_Team not in ('Admin','Claims Assistant') ORDER BY Order_Of_Change DESC) 
		--	)
	 cast(null as varchar(max)) as [Last_Handler],
	 cast(null as varchar(max)) as Last_Team


	 from [#FinText]a
	 where CMSUserId = 112233

	 union all


	  select
	 Order_Of_Change + 1 as Order_Of_Change,
	 a.Claimid,
	 ClaimHistoryId,
	 CMSUserId,
	 ChangeDateTime,
	 From_Value,
	 From_Team,
	 To_Value,
	 To_Team,
	 Last_Row,
	 Admin_only,
	 --Admin_And_Misc_Only,
	--coalesce(
		--	(SELECT TOP 1 To_Value FROM [#FinText]t WHERE (t.ChangeDateTime <= a.ChangeDateTime) AND (a.claimid = t.claimid) and t.To_Team not in ('Admin','Claims Assistant','Miscellaneous') ORDER BY Order_Of_Change DESC) ,
		--	(SELECT TOP 1 To_Value FROM [#FinText]t WHERE (t.ChangeDateTime <= a.ChangeDateTime) AND (a.claimid = t.claimid) and t.To_Team not in ('Admin','Claims Assistant') ORDER BY Order_Of_Change DESC) 
		--	)
	 cast(null as varchar(max)) as [Last_Handler],
	 cast(null as varchar(max)) as Last_Team

	 from [#FinText]a
	 where claimid not in (select distinct claimid from Claim_CTE)
	and CMSUserId <> 112233

	union all

	select
	 1 as Order_Of_Change,
	 a.Claimid,
	  convert(bigint,convert(varchar,ClaimHistoryId)+convert(varchar,a.ClaimID)) as ClaimHistoryId,
	 CMSUserId,
	 s.CreationDate as  ChangeDateTime,
	null as  From_Value,
	null as From_Team,
	From_Value as  To_Value,
	From_Team as To_Team,
	null as Last_Row,
	 Admin_only,
	 --Admin_And_Misc_Only,
	 --coalesce(
		--	(SELECT TOP 1 To_Value FROM [#FinText]t WHERE (t.ChangeDateTime <= a.ChangeDateTime) AND (a.claimid = t.claimid) and t.To_Team not in ('Admin','Claims Assistant','Miscellaneous') ORDER BY Order_Of_Change DESC) ,
		--	(SELECT TOP 1 To_Value FROM [#FinText]t WHERE (t.ChangeDateTime <= a.ChangeDateTime) AND (a.claimid = t.claimid) and t.To_Team not in ('Admin','Claims Assistant') ORDER BY Order_Of_Change DESC) 
		--	)
	 cast(null as varchar(max)) as [Last_Handler],
	 cast(null as varchar(max)) as Last_Team

	 from [#FinText]a
	 left join[Archive2].[dbo].[vw_ClaimGeneral]s on s.ClaimId = a.ClaimId

	where a.claimid not in (select distinct claimid from Claim_CTE)
	and CMSUserId <> 112233
	 and Order_Of_Change = 1



	 update r
			set r.Last_Handler =  b.To_Value 

	 from [#FinText2]r
	cross apply
	(
	SELECT 
	
	TOP 1 To_Value 
	FROM [#FinText2]t 
	WHERE t.To_Team not in ('Admin','Claims Assistant','Miscellaneous','Other') 
	and claimid = r.ClaimId
	ORDER BY Order_Of_Change DESC
	) b





	 update r
			set r.Last_Handler =  c.To_Value 

	 from [#FinText2]r
	cross apply
	(
	SELECT 
	
	TOP 1 To_Value 
	FROM [#FinText2]t 
	WHERE t.To_Team not in ('Admin','Claims Assistant','Other') 
	and claimid = r.ClaimId
	ORDER BY Order_Of_Change DESC
	) c

	where Last_Handler is null

	


	 update r
			set r.Last_Handler =  d.To_Value 

	 from [#FinText2]r
	cross apply
	(
	SELECT 
	
	TOP 1 To_Value 
	FROM [#FinText2]t 
	WHERE  claimid = r.ClaimId
	ORDER BY Order_Of_Change DESC
	) d

	where Last_Handler is null



 update g

 set g.Last_Team = case when i.[Clinical / Non Clinical] not in ('Clinical','Both') OR  i.[Clinical / Non Clinical] is null then 'Other' else i.Team end 

from [#FinText2]g

left join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]i with (nolock) on 
																				(
																				ltrim(rtrim(i.[Claims Handler])) = ltrim(rtrim(g.Last_Handler))
																				OR
																				ltrim(rtrim(i.Handler_Old_Name)) = ltrim(rtrim(g.Last_Handler))
																				)
																			and i.IsCurrent = 1
														
left join [Archive2].[dbo].[Claim]d with (nolock) on d.ClaimId = g.ClaimId
left join [Archive2].[dbo].[Scheme]e with (nolock) on e.SchemeId = d.SchemeId

where  e.SchemeAbbrev in ('CNST','ELS','ExRHA' ,'DH CL')




 update g

 set g.Last_Team = case when i.[Clinical / Non Clinical] not in ('Non CLinical','Both') OR  i.[Clinical / Non Clinical] is null then 'Other' else i.Team end 

from [#FinText2]g

left join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]i with (nolock) on 
																				(
																				ltrim(rtrim(i.[Claims Handler])) = ltrim(rtrim(g.Last_Handler))
																				OR
																				ltrim(rtrim(i.Handler_Old_Name)) = ltrim(rtrim(g.Last_Handler))
																				)
																			and i.IsCurrent = 1
left join [Archive1].[dbo].[Claim]d with (nolock) on d.ClaimId = g.ClaimId
left join [Archive1].[dbo].[Scheme]e with (nolock) on e.SchemeId = d.SchemeId

where  e.SchemeAbbrev not in ('CNST','ELS','ExRHA' ,'DH CL')


Update h
		set h.Last_Handler = coalesce(i.Handler_NewName,h.Last_Handler)

from [#FinText2]h
left join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]i with (nolock) on 
																				(
																				ltrim(rtrim(i.[Claims Handler])) = ltrim(rtrim(h.Last_Handler))
																				OR
																				ltrim(rtrim(i.Handler_Old_Name)) = ltrim(rtrim(h.Last_Handler))
																				)















 if OBJECT_ID('[Informatics_Reporting].[dbo].[KPI_Ref_Claim_Handler_History]') is not null     
	drop table [Informatics_Reporting].[dbo].[KPI_Ref_Claim_Handler_History]
	select 
	Order_Of_Change,
	ClaimId,
	ChangeDateTime,
	From_Value,
	From_Team,
	To_Value,
	To_Team,
	Last_Handler,
	Last_Team,
	Last_Row
	into [Informatics_Reporting].[dbo].[KPI_Ref_Claim_Handler_History]
	from [#FinText2]
	order by ClaimId, Order_Of_Change

ALTER TABLE [Informatics_Reporting].[dbo].[KPI_Ref_Claim_Handler_History]  ADD PK_ReHandHistID int identity(1,1) not null

ALTER TABLE [Informatics_Reporting].[dbo].[KPI_Ref_Claim_Handler_History] 
add CONSTRAINT pk_Claim_Handler_Ref  PRIMARY KEY CLUSTERED(PK_ReHandHistID)



	 if OBJECT_ID('[Informatics_Reporting].[dbo].[KPI_Ref_Last_Handler_Daily]') is not null     
	drop table [Informatics_Reporting].[dbo].[KPI_Ref_Last_Handler_Daily]

	select 
	ClaimId,
	Last_Handler,
	Last_Team 
	into [Informatics_Reporting].[dbo].[KPI_Ref_Last_Handler_Daily]
	from [#FinText2]
	where Last_Row = 'Y' 
	order by ClaimId


	




	
  IF OBJECT_ID('tempdb..#Temp1v') IS NOT NULL 
	dROP TABLE #Temp1v
  SELECT 
  Claimid,
  RANK() OVER(PARTITION BY claimid ORDER BY  Order_Of_Change) as Order_Of_Change,
  null as SortNumber,
  ChangeDateTime,
  b.Handler_NewName as To_Value,
  To_Team as LastTeam ,
  b.Team as TeamAtTime,
  Cast(null as varchar(200)) as ReportTeam,
  c.Team as CurrentTeam,
  case when c.team <> b.team then c.Start_date else null end as DateOfTeamChange,
  Last_Handler,
	Last_Team,
	Last_Row

  into #Temp1v

  FROM [#FinText2]a  
  left join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] b on (ltrim(rtrim(b.[Claims Handler])) = ltrim(rtrim(a.To_Value)) OR ltrim(rtrim(b.[Handler_Old_Name])) = ltrim(rtrim(a.To_Value)))
															and (
																	(b.start_date is null and b.End_Date is null AND IsLastRow = 'Y')
																	OR 
																	(b.start_date <= convert(date,a.ChangeDateTime) and b.End_Date is null) 
																	OR 
																	(b.start_date is null and b.End_Date >= convert(date,a.ChangeDateTime) )
																	OR
																	(b.start_date <= convert(date,a.ChangeDateTime) and b.End_Date >=  convert(date,a.ChangeDateTime) ) 
																)
  left join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] c on (ltrim(rtrim(c.[Claims Handler])) = ltrim(rtrim(a.To_Value)) OR ltrim(rtrim(c.[Handler_Old_Name])) = ltrim(rtrim(a.To_Value)))
																and c.IsLastRow = 'Y'
 
  order by claimid, Order_Of_Change
 






	
  
update x
			set SortNumber = coalesce(case 
										when x.teamAtTime = 'MST' then 99
						 				 else d.ranking end,100)



	 from [#Temp1v]x with (nolock) 
	 left join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]d with (nolock) on 
																					
																					d.[Handler_NewName] = x.To_Value	
																					and d.Team = x.TeamAtTime
																				

		 		 
		 
		 update y
			set ReportTeam = case when SortNumber > 99 then 'Other' else TeamAtTime end



		from [#Temp1v]y

		 if OBJECT_ID('[Informatics_Reporting].[dbo].[KPI_Ref_Claim_Handler_History_With_Team_Change]') is not null     
		drop table [Informatics_Reporting].[dbo].[KPI_Ref_Claim_Handler_History_With_Team_Change]

		select 
		* 
		into [Informatics_Reporting].[dbo].[KPI_Ref_Claim_Handler_History_With_Team_Change]
		from [#Temp1v] 



	drop table #FinText
	drop table #FinText2
	drop table [#Temp1v] 

	End

