/****** Script for SelectTopNRows command from SSMS  ******/

USE [NHR Data Mart Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_AllPayments_ExtractHistoryEpisodes]    Script Date: 21/06/2018 11:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter procedure [KPI].[sp_Update_Open_Book_and_Litigation_Reports]

 AS
 BEGIN




if OBJECT_ID('[NHR Data Mart Test].[KPI].[Open_Book_and_Litigation_Reports]') is Not Null
Begin

truncate table [NHR Data Mart Test].[KPI].[Open_Book_and_Litigation_Reports]

ENd

Else
begin

CREATE TABLE [NHR Data Mart Test].[KPI].[Open_Book_and_Litigation_Reports](
	[ReportType] [varchar](23) NOT NULL,
	[Sub Report Type] [varchar](14) NULL,
	[Month End] [datetime] NULL,
	[ClaimType] [varchar](50) NULL,
	[OrderOfChange] [bigint] NULL,
	[Claims Handler] [nvarchar](255) NULL,
	[Team] [varchar](200) NULL,
	[Current Team] [nvarchar](255) NULL,
	[SortNumber] [int] NULL,
	[CurrentTeamSortNumber] [int] NULL,
	[Claim Reference] [nvarchar](255) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[Patient Name/Claimant Name] [nvarchar](255) NULL,
	[scheme] [nvarchar](255) NULL,
	[Schedule] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[Status Flag] [nvarchar](255) NULL,
	[Status Date] [datetime] NULL,
	[Settlement Date] [datetime] NULL,
	[Incident Date] [datetime] NULL,
	[Incident Year] [nvarchar](255) NULL,
	[NHSLA Notification Date] [datetime] NULL,
	[Notification Year] [nvarchar](255) NULL,
	[Closure date] [datetime] NULL,
	[Closure Year] [nvarchar](255) NULL,
	[Trust Code] [nvarchar](255) NULL,
	[Trust Name] [nvarchar](255) NULL,
	[Site] [nvarchar](255) NULL,
	[Group Code] [nvarchar](255) NULL,
	[Internal Group code] [nvarchar](255) NULL,
	[Settlement Year] [nvarchar](255) NULL,
	[Probability] [nvarchar](255) NULL,
	[PercemtageShare] [int] NULL,
	[DamagesTranche] [varchar](100) NULL,
	[TrancheSort] [int] NULL,
	[O/S Damages] [decimal](20, 4) NULL,
	[O/S Defence Costs] [decimal](20, 4) NULL,
	[O/S Claimant Costs] [decimal](20, 4) NULL,
	[O/S Estimate] [decimal](20, 4) NULL,
	[Damages Paid] [decimal](20, 4) NULL,
	[Defence Costs Paid] [decimal](20, 4) NULL,
	[Claimant Costs Paid] [decimal](20, 4) NULL,
	[Total Paid] [decimal](20, 4) NULL,
	[Total Damages] [decimal](20, 4) NULL,
	[Total Defence Costs] [decimal](20, 4) NULL,
	[Total Claimant Costs] [decimal](20, 4) NULL,
	[Total Claim] [decimal](20, 4) NULL,
	[Defence Solicitor] [nvarchar](255) NULL,
	[Claimant Solicitor] [nvarchar](255) NULL,
	[Speciality1L1] [nvarchar](255) NULL,
	[BaseLine] [int] NULL,
	[MonthEnd] [int] NULL,
	[PrevYEarMonthEnd] [int] NULL,
	[BaseLineDate] [date] NULL,
	[MonthEndDate] [date] NULL,
	[PreviousYEarDate] [date] NULL
) ON [PRIMARY]


End
 

insert into [NHR Data Mart Test].[KPI].[Open_Book_and_Litigation_Reports]


SELECT [ReportType]
      ,[Sub Report Type]
      ,[Month End]
      ,[ClaimType]
      ,[OrderOfChange]
      ,[Claims Handler]
      ,[Team]
      ,[Current Team]
      ,[SortNumber]
      ,[CurrentTeamSortNumber]
      ,[Claim Reference]
      ,[ClaimId]
      ,[Patient Name/Claimant Name]
      ,[scheme]
      ,[Schedule]
      ,[Status]
      ,[Status Flag]
      ,[Status Date]
      ,[Settlement Date]
      ,[Incident Date]
      ,[Incident Year]
      ,[NHSLA Notification Date]
      ,[Notification Year]
      ,[Closure date]
      ,[Closure Year]
      ,[Trust Code]
      ,[Trust Name]
      ,[Site]
      ,[Group Code]
      ,[Internal Group code]
      ,[Settlement Year]
      ,[Probability]
      ,[PercemtageShare]
      ,[DamagesTranche]
      ,[TrancheSort]
      ,[O/S Damages]
      ,[O/S Defence Costs]
      ,[O/S Claimant Costs]
      ,[O/S Estimate]
      ,[Damages Paid]
      ,[Defence Costs Paid]
      ,[Claimant Costs Paid]
      ,[Total Paid]
      ,[Total Damages]
      ,[Total Defence Costs]
      ,[Total Claimant Costs]
      ,[Total Claim]
      ,[Defence Solicitor]
      ,[Claimant Solicitor]
      ,[Speciality1L1]
      ,[BaseLine]
      ,[MonthEnd]
      ,[PrevYEarMonthEnd]
      ,[BaseLineDate]
      ,[MonthEndDate]
      ,[PreviousYEarDate]
  FROM [ldndw1\reporting].[Informatics_Reporting].[dbo].[Inf_SSRS_ScottHenning_Open_Book_Reports]

  union all

 --select distinct [Sub Report Type] FROM [Informatics_Reporting].[dbo].[Inf_SSRS_ScottHenning_Open_Book_Reports]

SELECT [ReportType]
      ,'Litigation' as [Sub Report Type]
      ,[Month End]
      ,[ClaimType]
      ,[OrderOfChange]
      ,[Claims Handler]
      ,[Team]
      ,[Current Team]
      ,[SortNumber]
      ,[CurrentTeamSortNumber]
      ,[Claim Reference]
      ,[ClaimId]
      ,[Patient Name/Claimant Name]
      ,[scheme]
      ,[Schedule]
      ,[Status]
      ,[Status Flag]
      ,[Status Date]
      ,[Settlement Date]
      ,[Incident Date]
      ,[Incident Year]
      ,[NHSLA Notification Date]
      ,[Notification Year]
      ,[Closure date]
      ,[Closure Year]
      ,[Trust Code]
      ,[Trust Name]
      ,[Site]
      ,[Group Code]
      ,[Internal Group code]
      ,[Settlement Year]
      ,[Probability]
      ,[PercemtageShare]
      ,[DamagesTranche]
      ,[TrancheSort]
      ,[O/S Damages]
      ,[O/S Defence Costs]
      ,[O/S Claimant Costs]
      ,[O/S Estimate]
      ,[Damages Paid]
      ,[Defence Costs Paid]
      ,[Claimant Costs Paid]
      ,[Total Paid]
      ,[Total Damages]
      ,[Total Defence Costs]
      ,[Total Claimant Costs]
      ,[Total Claim]
      ,[Defence Solicitor]
      ,[Claimant Solicitor]
      ,[Speciality1L1]
      ,[BaseLine]
      ,[MonthEnd]
      ,[PrevYEarMonthEnd]
      ,[BaseLineDate]
      ,[MonthEndDate]
      ,[PreviousYEarDate]
  FROM [ldndw1\reporting].[Informatics_Reporting].[dbo].[Inf_SSRS_ScottHenning_Open_Ltigation_Reports]


 End

 

 