USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [etl].[DW_LoadClaimGeneral]    Script Date: 19/07/2018 12:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [etl].[DW_LoadClaimGeneral]
AS
BEGIN
	/************* Materialise the view *************/
	DECLARE @Now DATETIME2 = (SELECT TOP 1 StartDate FROM [Informatics_Reporting].[etl].[ExtractHistory] WHERE EndDate IS NULL ORDER BY StartDate DESC)
	Declare @Order Int = (select Order_Of_Change FROM [Informatics_Reporting].[etl].[ExtractHistory] Where StartDate = @Now)

	SELECT [ClaimId]
		  ,[ClaimRef]
		  ,[OldRef]
		  ,[ClaimantFirstName]
		  ,[ClaimantSurname]
		  ,[PatientFirstName]
		  ,[PatientSurname]
		  ,[ScheduleName]
		  ,[ClaimStatusTypeName]
		  ,[CurrentStatusType]
		  ,[StatusDateChange]
		  ,[SettlementDate]
		  ,[IncidentDate]
		  ,[NotificationDate]
		  ,[DateOfEntry]
		  ,[CreationDate]
		  ,[OpenDate]
		  ,[CloseDate]
		  ,[Void Claim Flag]
		  ,[SchemeAbbrev]
		  ,[SchemeAbbrev adj]
		  ,[Clinical / Non Clinical]
		  ,[Successful/Unsuccessful]
		  ,[Closure Date (Settlement Year for PPOs)]
		  ,[MemberCode]
		  ,[MemberName]
		  ,[MemberRef]
		  ,[GroupedClaimsCode]
		  ,[GroupedClaimsDescription]
		  ,[InternalGroupedClaimsCode]
		  ,[InternalGroupedClaimsDescription]
		  ,[SiteCode]
		  ,[SiteName]
		  ,[EstSettlementDate]
		  --,Replace(REPLACE( REPLACE(REPLACE(REPLACE(IncidentDescription, CHAR(10), ''), CHAR(13), ''), CHAR(9), ''),char(0x000E) , ''),char(147),'')  --- added 14/05/2018 due to SP ETL process failing from weird stuff in Incident Description
		 , REPLACE(REPLACE(REPLACE(REPLACE(REPLACE
											 (REPLACE(REPLACE(REPLACE(REPLACE(REPLACE
											(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE
													(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE
															(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( 
															Replace(REPLACE( REPLACE(REPLACE(REPLACE(
																															IncidentDescription , CHAR(10), ''), CHAR(13), ''), CHAR(9), ''),char(0x000E) , ''),char(147),'')
																,NCHAR(1),N'?'),NCHAR(2),N'?'),NCHAR(3),N'?'),NCHAR(4),N'?'),NCHAR(5),N'?'),NCHAR(6),N'?')
														,NCHAR(7),N'?'),NCHAR(8),N'?'),NCHAR(11),N'?'),NCHAR(12),N'?'),NCHAR(14),N'?'),NCHAR(15),N'?')
												,NCHAR(16),N'?'),NCHAR(17),N'?'),NCHAR(18),N'?'),NCHAR(19),N'?'),NCHAR(20),N'?'),NCHAR(21),N'?')
										,NCHAR(22),N'?'),NCHAR(23),N'?'),NCHAR(24),N'?'),NCHAR(25),N'?'),NCHAR(26),N'?'),NCHAR(27),N'?')
									,NCHAR(28),N'?'),NCHAR(29),N'?'),NCHAR(30),N'?'),NCHAR(31),N'?')

 

		  as [IncidentDescription] 
		  ,[UserWhoEnteredFirstName]
		  ,[UserWhoEnteredSurname]
		  ,[HandlerFirstName]
		  ,[HandlerSurname]
		  ,[TotalClaim]
		  ,[TotalOSEstimate]
		  ,[OSDamages]
		  ,[OSDefenceCosts]
		  ,[OSPlaintifCosts]
		  ,[TotalPaid]
		  ,[DamagesPaid]
		  ,[DefenceCostsPaid]
		  ,[ClaimantCostsPaid]
		  ,[NHSLAPayments]
		  ,[MemberPayments]
		  ,[NHSLADefenceCostsPaid]
		  ,[ApplicableExcess]
		  ,[Actual Excess (RPST Only)]as [ActualExcessRPSTOnly]
		  ,[NHSLAFunded]
		  ,[InquestCosts]
		  ,[Mediation]
		  ,[Probability]
		  ,[PercentageShare]
		  ,[DefenceSolicitorId]
		  ,[SolicitorDescription]
		  ,[SolicitorRef]
		  ,[DefenceSolicitorName]
		  ,[ClaimantSolicitorOrganisationId]
		  ,[ClaimantSolicitor]
		  ,[PendingFirstReserve]
		  --,[TeamPostId]
		  --,[TeamPost]
		  ,[PortalClaim]
		  ,[ExitReason]
		  ,[ExitComments]
		  ,[ExitedBy]
		  ,[ClaimType]
		  ,[CMSTimestamp]
		  ,@Now AS 'ExtractDate'
		  ,@Order as DailyLoadNumber
	INTO #TempClaimGeneral
	FROM [etl].[vw_ClaimGeneral]  WITH (NOLOCK)

	/************* Insert New Records *************/
	INSERT INTO [etl].[ClaimGeneral]
	SELECT DISTINCT temp.[ClaimId]
		  ,temp.[ClaimRef]
		  ,temp.[OldRef]
		  ,temp.[ClaimantFirstName]
		  ,temp.[ClaimantSurname]
		  ,temp.[PatientFirstName]
		  ,temp.[PatientSurname]
		  ,temp.[ScheduleName]
		  ,temp.[ClaimStatusTypeName]
		  ,temp.[CurrentStatusType]
		  ,temp.[StatusDateChange]
		  ,temp.[SettlementDate]
		  ,temp.[IncidentDate]
		  ,temp.[NotificationDate]
		  ,temp.[DateOfEntry]
		  ,temp.[CreationDate]
		  ,temp.[OpenDate]
		  ,temp.[CloseDate]
		  ,temp.[SchemeAbbrev]
		  ,temp.[MemberCode]
		  ,temp.[MemberName]
		  ,temp.[MemberRef]
		  ,temp.[GroupedClaimsCode]
		  ,temp.[GroupedClaimsDescription]
		  ,temp.[SiteCode]
		  ,temp.[SiteName]
		  ,temp.[EstSettlementDate]
		  ,temp.[IncidentDescription]
		  ,temp.[UserWhoEnteredFirstName]
		  ,temp.[UserWhoEnteredSurname]
		  ,temp.[HandlerFirstName]
		  ,temp.[HandlerSurname]
		  ,temp.[TotalClaim]
		  ,temp.[TotalOSEstimate]
		  ,temp.[OSDamages]
		  ,temp.[OSDefenceCosts]
		  ,temp.[OSPlaintifCosts]
		  ,temp.[TotalPaid]
		  ,temp.[DamagesPaid]
		  ,temp.[DefenceCostsPaid]
		  ,temp.[ClaimantCostsPaid]
		  ,temp.[NHSLAPayments]
		  ,temp.[MemberPayments]
		  ,temp.[NHSLADefenceCostsPaid]
		  ,temp.[ApplicableExcess]
		  ,temp.[ActualExcessRPSTOnly]
		  ,temp.[NHSLAFunded]
		  ,temp.[InquestCosts]
		  ,temp.[Mediation]
		  ,temp.[Probability]
		  ,temp.[PercentageShare]
		  ,temp.[DefenceSolicitorId]
		  ,temp.[SolicitorDescription]
		  ,temp.[SolicitorRef]
		  ,temp.[DefenceSolicitorName]
		  ,temp.[ClaimantSolicitorOrganisationId]
		  ,temp.[ClaimantSolicitor]
		  ,temp.[PendingFirstReserve]
		  --,temp.[TeamPostId]
		  --,temp.[TeamPost]
		  ,temp.[PortalClaim]
		  ,temp.[ExitReason]
		  ,temp.[ExitComments]
		  ,temp.[ExitedBy]
		  ,temp.[ClaimType]
		  ,temp.[CMSTimestamp]
		  ,temp.ExtractDate
		  ,temp.DailyLoadNumber
	FROM #TempClaimGeneral temp
	LEFT JOIN [etl].[ClaimGeneral] CG  WITH (NOLOCK)
		ON temp.ClaimId = CG.ClaimId
	WHERE CG.ClaimId IS NULL


	/************* Insert Updated Records *************/
	INSERT INTO [etl].[ClaimGeneral]
	SELECT DISTINCT temp.[ClaimId]
		  ,temp.[ClaimRef]
		  ,temp.[OldRef]
		  ,temp.[ClaimantFirstName]
		  ,temp.[ClaimantSurname]
		  ,temp.[PatientFirstName]
		  ,temp.[PatientSurname]
		  ,temp.[ScheduleName]
		  ,temp.[ClaimStatusTypeName]
		  ,temp.[CurrentStatusType]
		  ,temp.[StatusDateChange]
		  ,temp.[SettlementDate]
		  ,temp.[IncidentDate]
		  ,temp.[NotificationDate]
		  ,temp.[DateOfEntry]
		  ,temp.[CreationDate]
		  ,temp.[OpenDate]
		  ,temp.[CloseDate]
		  ,temp.[SchemeAbbrev]
		  ,temp.[MemberCode]
		  ,temp.[MemberName]
		  ,temp.[MemberRef]
		  ,temp.[GroupedClaimsCode]
		  ,temp.[GroupedClaimsDescription]
		  ,temp.[SiteCode]
		  ,temp.[SiteName]
		  ,temp.[EstSettlementDate]
		  ,temp.[IncidentDescription]
		  ,temp.[UserWhoEnteredFirstName]
		  ,temp.[UserWhoEnteredSurname]
		  ,temp.[HandlerFirstName]
		  ,temp.[HandlerSurname]
		  ,temp.[TotalClaim]
		  ,temp.[TotalOSEstimate]
		  ,temp.[OSDamages]
		  ,temp.[OSDefenceCosts]
		  ,temp.[OSPlaintifCosts]
		  ,temp.[TotalPaid]
		  ,temp.[DamagesPaid]
		  ,temp.[DefenceCostsPaid]
		  ,temp.[ClaimantCostsPaid]
		  ,temp.[NHSLAPayments]
		  ,temp.[MemberPayments]
		  ,temp.[NHSLADefenceCostsPaid]
		  ,temp.[ApplicableExcess]
		  ,temp.[ActualExcessRPSTOnly]
		  ,temp.[NHSLAFunded]
		  ,temp.[InquestCosts]
		  ,temp.[Mediation]
		  ,temp.[Probability]
		  ,temp.[PercentageShare]
		  ,temp.[DefenceSolicitorId]
		  ,temp.[SolicitorDescription]
		  ,temp.[SolicitorRef]
		  ,temp.[DefenceSolicitorName]
		  ,temp.[ClaimantSolicitorOrganisationId]
		  ,temp.[ClaimantSolicitor]
		  ,temp.[PendingFirstReserve]
		  --,temp.[TeamPostId]
		  --,temp.[TeamPost]
		  ,temp.[PortalClaim]
		  ,temp.[ExitReason]
		  ,temp.[ExitComments]
		  ,temp.[ExitedBy]
		  ,temp.[ClaimType]
		  ,temp.[CMSTimestamp]
		  ,temp.ExtractDate
		  ,temp.DailyLoadNumber
	FROM #TempClaimGeneral temp
	INNER JOIN (
		SELECT ClaimId, MAX(CMSTimestamp) as CMSTimestamp
		FROM [etl].[ClaimGeneral]  WITH (NOLOCK)
		GROUP BY ClaimId
	) CG ON CG.ClaimId = temp.ClaimId
	WHERE CG.CMSTimestamp < temp.CMSTimestamp

 
-- ALTER TABLE [etl].[ClaimGeneral]
--DROP COLUMN [TeamPostId]; 

	 
--		ALTER TABLE [Staging].[ClaimGeneral]
--ADD DailyLoadNumber INT;


		/************ Delete 'False Positive' Data i.e. Where the exisiting row is identical to the newer row, it then keeps only the older row************/
	;WITH cte AS (
	SELECT
		 [ClaimId]
		,[ClaimRef]
		,[OldRef]
		,[ClaimantFirstName]
		,[ClaimantSurname]
		,[PatientFirstName]
		,[PatientSurname]
		,[ScheduleName]
		,[ClaimStatusTypeName]
		,[CurrentStatusType]
		,[StatusDateChange]
		,[SettlementDate]
		,[IncidentDate]
		,[NotificationDate]
		,[DateOfEntry]
		,[CreationDate]
		,[OpenDate]
		,[CloseDate]
		,[SchemeAbbrev]
		,[MemberCode]
		,[MemberName]
		,[MemberRef]
		,[GroupedClaimsCode]
		,[GroupedClaimsDescription]
		,[SiteCode]
		,[SiteName]
		,[EstSettlementDate]
		,[IncidentDescription]
		,[UserWhoEnteredFirstName]
		,[UserWhoEnteredSurname]
		,[HandlerFirstName]
		,[HandlerSurname]
		,[TotalClaim]
		,[TotalOSEstimate]
		,[OSDamages]
		,[OSDefenceCosts]
		,[OSPlaintifCosts]
		,[TotalPaid]
		,[DamagesPaid]
		,[DefenceCostsPaid]
		,[ClaimantCostsPaid]
		,[NHSLAPayments]
		,[MemberPayments]
		,[NHSLADefenceCostsPaid]
		,[ApplicableExcess]
		,[ActualExcessRPSTOnly]
		,[NHSLAFunded]
		,[InquestCosts]
		,[Mediation]
		,[Probability]
		,[PercentageShare]
		,[DefenceSolicitorId]
		,[SolicitorDescription]
		,[SolicitorRef]
		,[DefenceSolicitorName]
		,[ClaimantSolicitorOrganisationId]
		,[ClaimantSolicitor]
		,[PendingFirstReserve]
		--,[TeamPostId]
		--,[TeamPost]
		,[PortalClaim]
		,[ExitReason]
		,[ExitComments]
		,[ExitedBy]
		,[ClaimType]
		,[ExtractDate]
		,DailyLoadNumber
		,ROW_NUMBER() OVER(PARTITION BY 
				 [ClaimId]
				,[ClaimRef]
				,[OldRef]
				,[ClaimantFirstName]
				,[ClaimantSurname]
				,[PatientFirstName]
				,[PatientSurname]
				,[ScheduleName]
				,[ClaimStatusTypeName]
				,[CurrentStatusType]
				,[StatusDateChange]
				,[SettlementDate]
				,[IncidentDate]
				,[NotificationDate]
				,[DateOfEntry]
				,[CreationDate]
				,[OpenDate]
				,[CloseDate]
				,[SchemeAbbrev]
				,[MemberCode]
				,[MemberName]
				,[MemberRef]
				,[GroupedClaimsCode]
				,[GroupedClaimsDescription]
				,[SiteCode]
				,[SiteName]
				,[EstSettlementDate]
				,[IncidentDescription]
				,[UserWhoEnteredFirstName]
				,[UserWhoEnteredSurname]
				,[HandlerFirstName]
				,[HandlerSurname]
				,[TotalClaim]
				,[TotalOSEstimate]
				,[OSDamages]
				,[OSDefenceCosts]
				,[OSPlaintifCosts]
				,[TotalPaid]
				,[DamagesPaid]
				,[DefenceCostsPaid]
				,[ClaimantCostsPaid]
				,[NHSLAPayments]
				,[MemberPayments]
				,[NHSLADefenceCostsPaid]
				,[ApplicableExcess]
				,[ActualExcessRPSTOnly]
				,[NHSLAFunded]
				,[InquestCosts]
				,[Mediation]
				,[Probability]
				,[PercentageShare]
				,[DefenceSolicitorId]
				,[SolicitorDescription]
				,[SolicitorRef]
				,[DefenceSolicitorName]
				,[ClaimantSolicitorOrganisationId]
				,[ClaimantSolicitor]
				,[PendingFirstReserve]
				--,[TeamPostId]
				--,[TeamPost]
				,[PortalClaim]
				,[ExitReason]
				,[ExitComments]
				,[ExitedBy]
				,[ClaimType]
			ORDER BY [ClaimId]) AS RowNum
		FROM [etl].[ClaimGeneral]  WITH (NOLOCK)
	)
	DELETE FROM cte WHERE RowNum > 1

	--sp_rename '[Staging].[ClaimGeneral].[Actual Excess (RPST Only)]', 'ActualExcessRPSTOnly', 'COLUMN';

	/******* Insert the delta feed into table for export with SSIS *******/

		Insert into [Staging].[ClaimGeneral]
		SELECT
		*

		from  [etl].[ClaimGeneral] etl
		where etl.ExtractDate = @Now


		/******* Refresh the ETL Table with the View *******/


		drop table [etl].[ClaimGeneral]

		select 
		*
		into [etl].[ClaimGeneral]
		from #TempClaimGeneral


	/************* Drop Materialised View *************/
	DROP TABLE #TempClaimGeneral

END