USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [Staging].[7_SP_KPI_SCORECARD_Non_Clinical_Master]    Script Date: 03/12/2018 15:01:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [Staging].[7_SP_KPI_SCORECARD_Non_Clinical_Master] AS

 --  PART 1
 /**************************************/
--Temp table to speed up updates
IF OBJECT_ID('tempdb..#KPIMaster') IS NOT NULL
    DROP TABLE #KPIMaster;

SELECT *
INTO #KPIMaster
FROM staging.KPIMaster y 


IF OBJECT_ID('tempdb..#ClaimGeneral') IS NOT NULL
    DROP TABLE #ClaimGeneral;

SELECT GroupedClaimsCode,
       InternalGroupedClaimsCode,
       HandlerFirstName,
       HandlerSurname
INTO #ClaimGeneral
FROM [Archive2].[dbo].[vw_ClaimGeneral] y 
WHERE SchemeAbbrev     IN('CNST', 'ExRHA', 'DH CL', 'ELS')
AND CurrentStatusType <> 'Closed'


DECLARE @GCCode TABLE 
        ([Claims Handler] VARCHAR(MAX) NOT NULL,
          Num_Event        INT); 

--Create @GCCode table
INSERT INTO @GCCode
       SELECT *
       FROM
(
    SELECT LTRIM(RTRIM(a.HandlerFirstName))+' '+LTRIM(RTRIM(a.HandlerSurname)) AS [Claims Handler],
           SUM(CASE
                   WHEN e.Event = 1
                        OR f.Event = 1
                   THEN 1
                   ELSE 0
               END) AS Num_Event
    FROM #ClaimGeneral                                      a
    LEFT JOIN [Informatics_Reporting].[dbo].[CaseLoadEvent] e ON a.GroupedClaimsCode         = e.GroupedClaimsName
    LEFT JOIN [Informatics_Reporting].[dbo].[CaseLoadEvent] f ON a.InternalGroupedClaimsCode = f.GroupedClaimsName
    --WHERE SchemeAbbrev IN('CNST', 'ExRHA', 'DH CL', 'ELS')
    --AND CurrentStatusType <> 'Closed'
    GROUP BY LTRIM(RTRIM(a.HandlerFirstName))+' '+LTRIM(RTRIM(a.HandlerSurname))
) d;



--  PART 2


IF OBJECT_ID('tempdb..#Temp1') IS NOT NULL
    DROP TABLE #Temp1;

SELECT bb.[Handler_NewName] AS [Claims Handler],
       bb.[Team],
       COALESCE((SELECT CONVERT(FLOAT, SUM([Within 4 Months])) / NULLIF(CONVERT(FLOAT, COUNT(claimid)), 0)
                 FROM staging.KPIMaster
                 WHERE [Original Handler] = bb.[Handler_NewName]
                 AND Quarter = 'Q4'
                 AND [KPI_Non_Clinical_LOCLOR] = 1
                 GROUP BY [Original Handler]), 0) AS 'Response Time to Letter of Claim', --------------------------------------------------------------------------

       COALESCE((SELECT(CONVERT(FLOAT, COUNT(Closure_Quarter))/NULLIF((CONVERT(FLOAT,(SELECT COUNT(Creation_Quarter)
                                                                                      FROM staging.KPIMaster
                                                                                      WHERE [Original Handler] = a.[Original Handler]
                                                                                      AND Creation_Quarter = 'Q4'
                                                                                      AND [KPI_Non_Clinical_Closure_Rates] = 1))), 0))
                 FROM staging.KPIMaster a
                 WHERE Closure_Quarter = 'Q4'
                 AND [Original Handler] = bb.[Handler_NewName]
                 AND [KPI_Non_Clinical_Closure_Rates] = 1
                 GROUP BY [Original Handler]), 0) AS [Closure Rate], --------------------------------------------------------------------------------------------------------------------------------------------------------------------

       COALESCE((SELECT AVG([Shelf Life (yrs)])
                 FROM staging.KPIMaster a
                 WHERE [Original Handler] = bb.[Handler_NewName]
                 AND [Settlement Date Quarter] = 'Q4'
                 AND [KPI_Non_Clinical_ShelfLife] = 1
                 GROUP BY [Original Handler]), 0) AS [Shelf Life], ----------------------------------------------------------------------------------------------------------------------------------------------------

       COALESCE((SELECT CONVERT(BIGINT, AVG([Total Damages]))
                 FROM staging.KPIMaster
                 WHERE [Type 3 Damages Tranche Range] = '500 - 10,000'
                 AND [Original Handler] = bb.[Handler_NewName]
                 AND Closure_Quarter = 'Q4'
                 AND [KPI_Non_Clinical_Average_Damages] = 1
                 GROUP BY [Original Handler]), 0) AS [Average Damages (£500 - £10,000 damages tranche)], -------------------------------------------------------------------------------------------------------------------------------
       COALESCE((SELECT CONVERT(BIGINT, AVG([TotalClaimantCosts]))
                 FROM staging.KPIMaster
                 WHERE [ClaimantCostTranche] = '500 - 10,000'
                 AND [Original Handler] = bb.[Handler_NewName]
                 AND Closure_Quarter = 'Q4'
                 AND [KPI_Non_Clinical_Average_Claimant_Costs] = 1
                 GROUP BY [Original Handler]), 0) AS [Average Claimant Costs (£500 - £10,000 damages tranche)], --------------------------------------------------------------------------------------------------------------------------
       COALESCE((SELECT COUNT(*)
                 FROM staging.KPIMaster
                 WHERE [Claims Handler] = bb.[Handler_NewName]
                 AND [Inf_SSRS_Caseload_Non_Clinical_detail] = 1), 0) AS Caseloads, ------------------------------------------------------------------------------------------------------------------------------------------------------------------------

       COALESCE((SELECT CASE WHEN CONVERT(FLOAT, COUNT(a.claimid)) < NULLIF(CONVERT(FLOAT, (b.Clinical_Optimum_Caseload * b.WTE)), 0) THEN-1 * (1 - (CONVERT(FLOAT, COUNT(a.claimid)) / NULLIF(CONVERT(FLOAT, (b.Clinical_Optimum_Caseload * b.WTE)), 0)))
                            ELSE ABS(1 - (CONVERT(FLOAT, COUNT(a.claimid)) / NULLIF(CONVERT(FLOAT, (b.Clinical_Optimum_Caseload * b.WTE)), 0)))
                       END
                 FROM staging.KPIMaster a
                 INNER JOIN #KPIMaster b ON b.[Claims Handler] = a.[Claims Handler]
                 WHERE a.[Claims Handler] = bb.[Handler_NewName]
                 AND a.[Inf_SSRS_Caseload_Non_Clinical_detail] = 1
                 AND b.[Inf_SSRS_Caseload_Non_Clinical]        = 1
                 GROUP BY a.[Claims Handler],
                          b.Clinical_Optimum_Caseload,
                          b.WTE), 0) AS [Caseloads Variance], ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      COALESCE((SELECT CONVERT(FLOAT, COUNT(Claimid))/NULLIF(CONVERT(FLOAT,(SELECT COUNT(claimid)
                                                                            FROM staging.KPIMaster
                                                                            WHERE [Original Handler] = a.[Original Handler]
                                                                            AND Closure_Quarter      = 'Q4'
                                                                            AND [KPI_Non_Clinical_NIL_Damages] = 1)), 0)
               FROM staging.KPIMaster a
               WHERE [Report Type] = 'Closed NIL Damages Data'
               AND [Original Handler] = bb.[Handler_NewName]
               AND Closure_Quarter = 'Q4'
               AND [KPI_Non_Clinical_NIL_Damages] = 1
               GROUP BY [Original Handler]), 0) AS [Closed Nil Damages], ------------------------------------------------------------------------------------------------------------------------------------------------------------------
      COALESCE((SELECT CONVERT(FLOAT, SUM(CAST(CASE WHEN payment_within_6_months = 'Y' THEN 1 ELSE payment_within_6_months END AS INT))) / NULLIF(CONVERT(FLOAT, COUNT(claimid)), 0)
                FROM staging.KPIMaster
                WHERE StatusDateQuarter = 'Q4'
                AND [Original Handler] = bb.[Handler_NewName]
                AND [KPI_Non_Clinical_Repudiated] = 1
                GROUP BY [Original Handler]), 0) AS [Damages Payment within 6 mths Repudiated], ---------------------------------------------------------------------------------------------------------------------------------------------------
       COALESCE((SELECT CONVERT(FLOAT, SUM(TotalClaimantCosts)) / NULLIF(CONVERT(FLOAT, SUM([Total Damages])), 0)
                 FROM staging.KPIMaster
                 WHERE Closure_Quarter = 'Q4'
                 AND [Original Handler] = bb.[Handler_NewName]
                 AND ClaimantCostTranche5 = '500 - 5,000'
                 AND [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage] = 1
                 GROUP BY [Original Handler],
                          Closure_Quarter), 0) AS [Claimant Costs as % of Damages (£500 - £5,000 damages tranche)], --------------------------------------------------------------------------------------------------
       COALESCE((SELECT CONVERT(FLOAT, SUM(TotalClaimantCosts)) / NULLIF(CONVERT(FLOAT, SUM([Total Damages])), 0)
                 FROM staging.KPIMaster
                 WHERE [Original Handler] = bb.[Handler_NewName]
                 AND Closure_Quarter = 'Q4'
                 AND [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage] = 1
                 GROUP BY [Original Handler]), 0) AS [Claimant Costs as % of Damages (Overall)], -----------------------------------------------------------------------------------------------------------------------  
                 
       CAST(NULL AS INT) AS [Pt.1 Response Time to Letter of Claim], --------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.1 Closure Rate], ----------------------------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.1 Shelf Life], --------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.1 Average Damages (£500 - £10,000 damages tranche)], ----------------------------------------------------------------------------------------------------------
       NULL AS [Pt.1 Average Claimant Costs (£500 - £10,000 damages tranche)], ---------------------------------------------------------------------------------------------------
       NULL AS [Pt.1 Caseloads Variance], -----------------------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.1 Closed Nil Damages], -----------------------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.1 Damages Payment within 6 mths Repudiated], -------------------------------------------------------------------------------------------------------------------

       NULL AS [Pt.2 Response Time to Letter of Claim], ---------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.2 Closure Rate], -----------------------------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.2 Shelf Life], ---------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.2 Average Damages (£500 - £10,000 damages tranche)], -----------------------------------------------------------------------------------------------------------
       NULL AS [Pt.2 Average Claimant Costs (£500 - £10,000 damages tranche)], ----------------------------------------------------------------------------------------------------
       NULL AS [Pt.2 Caseloads Variance], -----------------------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.2 Closed Nil Damages], -----------------------------------------------------------------------------------------------------------------------------------------
       NULL AS [Pt.2 Damages Payment within 6 mths Repudiated], -------------------------------------------------------------------------------------------------------------------

       NULL AS [Total],
       NULL AS [KPI Rank],
       NULL AS [Total Task],
       NULL AS [Task Rank],
       CAST(NULL AS DECIMAL(18, 1)) AS [Grand Total],
       NULL AS [Overall Rank],
       CAST(NULL AS DECIMAL(18, 4)) AS [Tie Breaker a],
       NULL AS [Overall Rank a],
       CAST(NULL AS DECIMAL(18, 4)) AS [Tie Breaker b],
       NULL AS [Overall Rank b]
       INTO #Temp1
FROM [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] bb
WHERE bb.[Band 7/8] IS NOT NULL
      AND IsLastRow = 'Y'
      AND bb.[Clinical / Non Clinical] IN('Non Clinical', 'Both')
       AND bb.[Leader Flag] = 0
       AND bb.[Long Term Sick] IS NULL
       AND IsCurrent = 1
GROUP BY bb.[Handler_NewName],
         bb.[Team],
         bb.[Band 7/8]
ORDER BY bb.[Team],
         bb.[Handler_NewName];


-- PART 3

--- The Green Columns------

declare @End int, @Count int = 0, @Column varchar(max),@sql nvarchar(max)
set @End = 8

While @Count < @End
BEgin

set @Count = @Count + 1

set @Column = (SELECT DISTINCT  LTRIM(RTRIM([KPI Description]))
               FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Screcard_RAG]
               WHERE RowNum = @Count)

set @SQL = N'
			
			
						update x 
	
						set x.[Pt.1 '+ @Column + '] = coalesce(case	 
																	When x.['+ @Column + '] > 0 and x.['+ @Column + '] < d.Tolerance then 1
																	when x.['+ @Column + '] >= d.Tolerance and x.['+ @Column + '] < d.Target then 2
																	When x.['+ @Column + '] >= d.Target then 3
																	Else 0
																End,0)
														
														
		from [#temp1]x
		left join [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Screcard_RAG]d on ltrim(rtrim(d.[KPI Description])) = '''+ @Column +'''


		'
		--print @sql
		exec sp_executesql @sql;
	end
	

----The Blue Columns

declare @End2 int, @Count2 int = 0, @Column2 varchar(max),@sql2 nvarchar(max)

set @End2 = 7

While @Count2 <= @End2
BEgin


set @Count2 = @Count2 + 1

set @Column2 = ( SELECT DISTINCT
           LTRIM(RTRIM([KPI Description]))
    FROM [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Screcard_RAG]
    WHERE RowNum = @Count2)

		set @SQL2 = N'
			
			
						update x 
	
						set x.[Pt.2 '+ @Column2 + '] =	Coalesce(d.Score,0)

		from [#temp1]x
		left join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]c on c.[Claims Handler] = x.[Claims Handler] and iscurrent = 1 and islastRow = ''Y''
		left join [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Screcard_RAG_Score]d on ltrim(rtrim(d.[KPI Description])) = '''+ @Column2 +'''
																			and d.ScoringBand = x.[Pt.1 '+ @Column2 + ']
		'
		exec sp_executesql @sql2;


eND

		-- PART 4
/**
		_____________________________
		Split MST from the main table
		♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠
**/

	if OBJECT_ID('tempdb..#Temp4') is not null
	drop table #Temp4

	Select
	*
	into [#Temp4]
	from [#Temp1]a	
	where a.Team = 'MST'	

	delete from #Temp1 where team = 'MST'



	/**
			_________________
			 Ranking Process
			◘•◘•◘•◘•◘•◘•◘•◘•◘

	**/



------ooOO  Non MST  OOoo---ooOoo-----------ooOoo------------ooOoo-----------ooOoo------------ooOoo-----------ooOoo------------ooOoo-----------ooOoo------------ooOoo-----------ooOoo------------ooOoo

	update y

			set y.Total = a.Total,
			y.[KPI Rank] = a.xRank,
			y.[Total Task] = b.Total,
			y.[Task Rank] = b.RankX



	from [#Temp1]y
	left join
	(
	select
	[Claims Handler],
	(
		coalesce([Pt.2 Response Time to Letter of Claim],0)+
		coalesce([Pt.2 Closure Rate],0)+
		coalesce([Pt.2 Shelf Life],0)+
		coalesce([Pt.2 Average Damages (£500 - £10,000 damages tranche)],0)+
		coalesce([Pt.2 Average Claimant Costs (£500 - £10,000 damages tranche)],0)+
		coalesce([Pt.2 Caseloads Variance],0)+
		coalesce([Pt.2 Closed Nil Damages],0)+
		coalesce([Pt.2 Damages Payment within 6 mths Repudiated],0)
	)  as [Total],
		RANK() OVER (ORDER BY 
						(
				coalesce([Pt.2 Response Time to Letter of Claim],0)+
				coalesce([Pt.2 Closure Rate],0)+
				coalesce([Pt.2 Shelf Life],0)+
				coalesce([Pt.2 Average Damages (£500 - £10,000 damages tranche)],0)+
				coalesce([Pt.2 Average Claimant Costs (£500 - £10,000 damages tranche)],0)+
				coalesce([Pt.2 Caseloads Variance],0)+
				coalesce([Pt.2 Closed Nil Damages],0)+
				coalesce([Pt.2 Damages Payment within 6 mths Repudiated],0)
						) 
			desc) AS xRank
	

	from #Temp1


)as a on a.[Claims Handler] = y.[Claims Handler]

	left join 
			(
			select distinct	handler,
			       Total,
			       RANK() OVER (ORDER BY Total desc) as RankX
			from  staging.KPIMaster                                       aa
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] bb on (bb.[Claims Handler] = aa.Handler
              OR bb.Handler_Old_Name = aa.Handler)
			and bb.[Band 7/8] is not null
			and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
			and bb.[Leader Flag] = 0 
			and bb.[Long Term Sick] is null
			AND bb.IsCurrent = 1
			and bb.team not in ('MST','EN Team')
			Where [KPI_Ref_TASKS] = 1
            AND left(aa.Team,3) not in ('MST','EN Team')
			)as b on b.Handler = y.[Claims Handler]



update f
		set [Grand Total] = convert(float,(0.6 * Total))+convert(float,(0.4 * [Total Task])),
		f.[Overall Rank] = a.RankX

from [#Temp1]f
left join
		(
		select
		[Claims Handler],
		RANK() OVER (order by convert(float,(0.6 * Total)+convert(float,(0.4 * [Total Task])))desc)as RankX
		from [#Temp1]	
		) as a on a.[Claims Handler] = f.[Claims Handler]


update g

		set g.[Tie Breaker a] = case
									when a.Total > 1 
										then convert(decimal(18,10),g.[Grand Total]) + convert(decimal(18,10),g.[Response Time to Letter of Claim]/convert(decimal(18,10),100))
											else g.[Grand Total] 
								End


from [#Temp1]g
left join
		(
		select
		[Overall Rank],
		Count(*) as Total
		from [#Temp1]
		group by [Overall Rank]	
		) as a on a.[Overall Rank] = g.[Overall Rank]


------------------------------------------------------------------------------------------------------------------------------------------------------

update h
		set h.[Overall Rank a] = a.RankX

from [#Temp1]h
left join
		(
		select
		[Claims Handler],
		RANK() OVER (order by [Tie Breaker a]desc)as RankX
		from [#Temp1]	
		) as a on a.[Claims Handler] = h.[Claims Handler]


update i

		set i.[Tie Breaker b] =  case
									when a.Total > 1 
										then convert(decimal(18,10),i.[Tie Breaker a] + convert(decimal(18,10),(i.[Closure Rate]/100)))
											else i.[Tie Breaker a]
								End
								


from [#Temp1]i
left join
		(
		select
		[Overall Rank a],
		Count(*) as Total
		from [#Temp1]
		group by [Overall Rank A]	
		) as a on a.[Overall Rank A] = i.[Overall Rank A]





update j
		set j.[Overall Rank b] = a.RankX

from [#Temp1]j
left join
		(
		select
		[Claims Handler],
		RANK() OVER (order by [Tie Breaker b]desc)as RankX
		from [#Temp1]

		) as a on a.[Claims Handler] = j.[Claims Handler]




------ooOO  MST  OOoo---ooOoo-----------ooOoo------------ooOoo-----------ooOoo------------ooOoo-----------ooOoo------------ooOoo-----------ooOoo------------ooOoo-----------ooOoo------------ooOoo


update y

			set y.Total = a.Total,
			y.[KPI Rank] = a.xRank,
			y.[Total Task] = b.Total,
			y.[Task Rank] = b.RankX



	from [#Temp4]y
	left join
	(
	select
	[Claims Handler],
	(
		[Pt.2 Response Time to Letter of Claim]+
		[Pt.2 Closure Rate]+
		[Pt.2 Shelf Life]+
		[Pt.2 Average Damages (£500 - £10,000 damages tranche)]+
		[Pt.2 Average Claimant Costs (£500 - £10,000 damages tranche)]+
		[Pt.2 Caseloads Variance]+
		[Pt.2 Closed Nil Damages]+
		[Pt.2 Damages Payment within 6 mths Repudiated]
	)  as [Total],
		RANK() OVER (ORDER BY 
						(
				[Pt.2 Response Time to Letter of Claim]+
				[Pt.2 Closure Rate]+
				[Pt.2 Shelf Life]+
				[Pt.2 Average Damages (£500 - £10,000 damages tranche)]+
				[Pt.2 Average Claimant Costs (£500 - £10,000 damages tranche)]+
				[Pt.2 Caseloads Variance]+
				[Pt.2 Closed Nil Damages]+
				[Pt.2 Damages Payment within 6 mths Repudiated]
						) 
			desc) AS xRank
	

	from #Temp4
	where (
				[Pt.2 Response Time to Letter of Claim]+
				[Pt.2 Closure Rate]+
				[Pt.2 Shelf Life]+
				[Pt.2 Average Damages (£500 - £10,000 damages tranche)]+
				[Pt.2 Average Claimant Costs (£500 - £10,000 damages tranche)]+
				[Pt.2 Caseloads Variance]+
				[Pt.2 Closed Nil Damages]+
				[Pt.2 Damages Payment within 6 mths Repudiated]
		 ) is not null

)as a on a.[Claims Handler] = y.[Claims Handler]

	left join 
			(
			select
			distinct
			handler,
			Total,
			RANK() OVER (ORDER BY Total desc) as RankX
			from  staging.KPIMaster  aa
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on 
																			(
																			bb.[Claims Handler] = aa.Handler
																			OR
																			bb.Handler_Old_Name = aa.Handler
																			)
			and bb.[Band 7/8] is not null
			and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
			and bb.[Leader Flag] = 0 
			and bb.[Long Term Sick] is null
			AND bb.IsCurrent = 1
			and bb.team = 'MST'
			Where [KPI_Ref_TASKS] = 1 
            AND left(aa.Team,3) = 'MST'
			)as b on b.Handler = y.[Claims Handler]



update f
		set [Grand Total] = convert(float,(0.6 * Total))+convert(float,(0.4 * [Total Task])),
		f.[Overall Rank] = a.RankX

from [#Temp4]f
left join
		(
		select
		[Claims Handler],
		RANK() OVER (order by convert(float,(0.6 * Total)+convert(float,(0.4 * [Total Task])))desc)as RankX
		from [#Temp4]	
		) as a on a.[Claims Handler] = f.[Claims Handler]


update g

		set g.[Tie Breaker a] = case
									when a.Total > 1 
										then convert(decimal(18,10),g.[Grand Total]) + convert(decimal(18,10),g.[Response Time to Letter of Claim]/convert(decimal(18,10),100))
											else g.[Grand Total] 
								End


from [#Temp4]g
left join
		(
		select
		[Overall Rank],
		Count(*) as Total
		from [#Temp4]
		group by [Overall Rank]	
		) as a on a.[Overall Rank] = g.[Overall Rank]

--select * from #Temp1
------------------------------------------------------------------------------------------------------------------------------------------------------

update h
		set h.[Overall Rank a] = a.RankX

from [#Temp4]h
left join
		(
		select
		[Claims Handler],
		RANK() OVER (order by [Tie Breaker a]desc)as RankX
		from [#Temp4]	
		) as a on a.[Claims Handler] = h.[Claims Handler]


update i

		set i.[Tie Breaker b] =  case
									when a.Total > 1 
										then convert(decimal(18,10),i.[Tie Breaker a] + convert(decimal(18,10),(i.[Closure Rate]/100)))
											else i.[Tie Breaker a]
								End
								


from [#Temp4]i
left join
		(
		select
		[Overall Rank a],
		Count(*) as Total
		from [#Temp4]
		group by [Overall Rank A]	
		) as a on a.[Overall Rank A] = i.[Overall Rank A]





update j
		set j.[Overall Rank b] = a.RankX

from [#Temp4]j
left join
		(
		select
		[Claims Handler],
		RANK() OVER (order by [Tie Breaker b]desc)as RankX
		from [#Temp4]

		) as a on a.[Claims Handler] = j.[Claims Handler]




	if OBJECT_ID('tempdb..#Temp3') is not null
	drop table #Temp3

	select

	[Claims Handler],
	'Non Clinical' as ReportType,
	cast(null as varchar(2))as 'Response Time to Letter of Claim',
	cast(null as varchar(2))as 'Closure Rate',
	cast(null as varchar(2))as 'Shelf Life (nil damages tranche)',
	cast(null as varchar(2))as 'Shelf Life',
	cast(null as varchar(2))as 'Shelf Life (£1 - £100,000 damages tranche)',
	cast(null as varchar(2))as 'Average Damages (£500 - £50,000 damages tranche)',
	cast(null as varchar(2))as 'Average Damages (£500 - £10,000 damages tranche)',
	cast(null as varchar(2))as 'Average Claimant Costs (£500 - £50,000 damages tranche)',
	cast(null as varchar(2))as 'Average Claimant Costs (£500 - £10,000 damages tranche)',
	cast(null as varchar(2))as 'Caseloads Variance',
	cast(null as varchar(2))as 'Closed Nil Damages',
	cast(null as varchar(2))as 'Damages Payment within 6 mths Repudiated'


	into [#temp3]

	from
	(
	select * from [#Temp1]
	union all
	select * from #Temp4
	)x


DECLARE @userData2 TABLE(ReportType varchar(100),RowNum int not null,ColTitle varchar(max));

INSERT INTO @userData2
SELECT * from  (
    SELECT 
	'Non Clinical' as ReportType,
	1 as Rownum,
	'Response Time to Letter of Claim' as Coltitle
	Union all
	select
	'Non Clinical' as ReportType,
	2 as Rownum,
	'Closure Rate' as Coltitle
	Union all
	select
	'Non Clinical' as ReportType,
	3 as Rownum,
	'Shelf Life' as Coltitle
	union all
	select
	'Non Clinical' as ReportType,
	4 as Rownum,
	'Average Damages (£500 - £10,000 damages tranche)' as Coltitle
	union all
	select
	'Non Clinical' as ReportType,
	5 as Rownum,
	'Average Claimant Costs (£500 - £10,000 damages tranche)' as Coltitle
	union all
	select
	'Non Clinical' as ReportType,
	6 as Rownum,
	'Caseloads Variance' as Coltitle
	union all
	select
	'Non Clinical' as ReportType,
	7 as Rownum,
	'Closed Nil Damages' as Coltitle
	union all
	select
	'Non Clinical' as ReportType,
	8 as Rownum,
	'Damages Payment within 6 mths Repudiated' as Coltitle

  )d 
  
  insert into [Informatics_Reporting].[dbo].[KPI_Rag_Columns]
  select * from @userData2

declare @End5 int, @Count5 int = 0, @Column5 varchar(max),@sql5 nvarchar(max)

set @End5 = 8

While @Count5 <= @End5
BEgin


set @Count5 = @Count5 + 1

set @Column5 = (select Coltitle  FROM @userData2 where RowNum = @Count5)

		set @SQL5 = N'


						update x 
	
						set x.['+ @Column5 + '] =	
													case 
														when '''+ @Column5 +''' = ''Caseloads Variance''
															then 
																case
																	when b.['+ @Column5 + '] = 0 then ''G''
																	when b.['+ @Column5 + '] <= d.Target then ''G''
																	when b.['+ @Column5 + ']> d.target and b.['+ @Column5 + '] <= d.Tolerance then ''A''
																	When b.['+ @Column5 + '] > d.Tolerance then ''R''
																End
															Else
														case
															when b.['+ @Column5 + '] >= d.Target then ''G''
															when b.['+ @Column5 + '] < d.Target and b.['+ @Column5 + '] >= d.Tolerance then ''A''
															when b.['+ @Column5 + '] < d.Tolerance and b.['+ @Column5 + '] > 0 then ''R''
															when b.['+ @Column5 + '] = 0 then ''G''
														End
													End

		from [#temp3]x
		inner join 
		(
		select * from [#Temp1]
		union all
		select * from [#Temp4]
		)b on b.[Claims Handler] = x.[Claims Handler]

		left join [Informatics_Reporting].[dbo].[KPI_Non_Clinical_Screcard_RAG]d on ltrim(rtrim(d.[KPI Description])) = '''+ @Column5+''' 
																								   
																			
		'
		exec sp_executesql @sql5;

end


-- PART 5

 
--UPDATE [Informatics_Reporting].[dbo].[KPI_Non_Clinical_ScoreCard]
--    SET ReportMonth = TRY_CONVERT(Date, ReportMonth );


DECLARE @EndDate DATE
SET @EndDate = DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1) 

--PRINT @ENDDATE

--SELECT * FROM staging.KPIMaster WHERE ISNULL(ReportMonth, '1900-01-01') = @EndDate AND [KPI_Non_Clinical_ScoreCard] = 1 

--SELECT TOP 1 reportMonth FROM staging.KPIMaster WHERE ISNULL(ReportMonth, '1900-01-01') = @EndDate AND [KPI_Non_Clinical_ScoreCard] = 1 

IF EXISTS (SELECT TOP 1 reportMonth FROM staging.KPIMaster WHERE ISNULL(ReportMonth, '1900-01-01') = @EndDate AND [KPI_Non_Clinical_ScoreCard] = 1 )
	BEGIN 
		DELETE FROM staging.KPIMaster WHERE ISNULL(ReportMonth, '1900-01-01') = @EndDate AND [KPI_Non_Clinical_ScoreCard] = 1;
	
	INSERT INTO staging.KPIMaster
       ([ReportMonth]
      ,[Claims Handler]
      ,[Team]
      ,[Response Time to Letter of Claim]
      ,[Closure Rate]
      ,[Shelf Life]
      ,[Average Damages (£500 - £10,000 damages tranche)]
      ,[Average Claimant Costs (£500 - £10,000 damages tranche)]
      ,[Caseloads]
      ,[Caseloads Variance]
      ,[Closed Nil Damages]
      ,[Damages Payment within 6 mths Repudiated]
      ,[Claimant Costs as % of Damages (£500 - £5,000 damages tranche)]
      ,[Claimant Costs as % of Damages (Overall)]
      ,[Pt.1 Response Time to Letter of Claim]
      ,[Pt.1 Closure Rate]
      ,[Pt.1 Shelf Life]
      ,[Pt.1 Average Damages (£500 - £10,000 damages tranche)]
      ,[Pt.1 Average Claimant Costs (£500 - £10,000 damages tranche)]
      ,[Pt.1 Caseloads Variance]
      ,[Pt.1 Closed Nil Damages]
      ,[Pt.1 Damages Payment within 6 mths Repudiated]
      ,[Pt.2 Response Time to Letter of Claim]
      ,[Pt.2 Closure Rate]
      ,[Pt.2 Shelf Life]
      ,[Pt.2 Average Damages (£500 - £10,000 damages tranche)]
      ,[Pt.2 Average Claimant Costs (£500 - £10,000 damages tranche)]
      ,[Pt.2 Caseloads Variance]
      ,[Pt.2 Closed Nil Damages]
      ,[Pt.2 Damages Payment within 6 mths Repudiated]
      ,[Total]
      ,[KPI Rank]
      ,[Total Task]
      ,[Task Rank]
      ,[Grand Total]
      ,[Overall Rank]
      ,[Tie Breaker a]
      ,[Overall Rank a]
      ,[Tie Breaker b]
      ,[Overall Rank b]
      ,[KPI_Ref_Claim_Handler_History]
      ,[KPI_Ref_Last_Handler]
      ,[KPI_LOC_LOR_MASTER]
      ,[KPI_Ref_PayHist]
      ,[KPI_Clinical_LOCLOR]
      ,[KPI_Clinical_Repudiated]
      ,[KPI_Clinical_Closure_Rates]
      ,[KPI_Clinical_Average_Claimant_Costs]
      ,[KPI_Clinical_NIL_Damages]
      ,[KPI_Clinical_Average_Damages]
      ,[KPI_Clinical_ShelfLife]
      ,[KPI_Clinical_Average_Defence_Costs]
      ,[KPI_ClaimantCost_vs_DamagesPercentage]
      ,[KPI_Clinical_Closure_Rates_Pivot]
      ,[KPI_Non_Clinical_LOCLOR]
      ,[KPI_Non_Clinical_Repudiated]
      ,[KPI_Non_Clinical_ShelfLife]
      ,[KPI_Non_Clinical_Closure_Rates]
      ,[KPI_Non_Clinical_Average_Damages]
      ,[KPI_Non_Clinical_Average_Claimant_Costs]
      ,[KPI_Non_Clinical_Average_Defence_Costs]
      ,[KPI_Non_Clinical_NIL_Damages]
      ,[KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage]
      ,[KPI_Non_Clinical_Closure_Rates_Pivot]
      ,[Inf_SSRS_ALL_Task]
      ,[Inf_SSRS_Caseload_Clinical_detail]
      ,[Inf_SSRS_Caseload_Clinical]
      ,[Inf_SSRS_Caseload_Non_Clinical_detail]
      ,[Inf_SSRS_Caseload_Non_Clinical]
      ,[KPI_Clinical_ScoreCard_Average] 
      ,[KPI_Non_Clinical_ScoreCard_Average]
      ,[KPI_Clinical_ScoreCard] 
      ,[KPI_Non_Clinical_ScoreCard]
      ,[Internal_KPI_ReportSpecifications]
      ,[KPI_Ref_TASKS] 
      ,[Clinical]
      ,[Non_Clinical])

SELECT @EndDate AS ReportMonth,
       a.*,
       0 [KPI_Ref_Claim_Handler_History],
       0 [KPI_Ref_Last_Handler],
       0 [KPI_LOC_LOR_MASTER],
       0 [KPI_Ref_PayHist],
       0 [KPI_Clinical_LOCLOR],
       0 [KPI_Clinical_Repudiated],
       0 [KPI_Clinical_Closure_Rates],
       0 [KPI_Clinical_Average_Claimant_Costs],
       0 [KPI_Clinical_NIL_Damages],
       0 [KPI_Clinical_Average_Damages],
       0 [KPI_Clinical_ShelfLife],
       0 [KPI_Clinical_Average_Defence_Costs],
       0 [KPI_ClaimantCost_vs_DamagesPercentage],
       0 [KPI_Clinical_Closure_Rates_Pivot],
       0 [KPI_Non_Clinical_LOCLOR],
       0 [KPI_Non_Clinical_Repudiated],
       0 [KPI_Non_Clinical_ShelfLife],
       0 [KPI_Non_Clinical_Closure_Rates],
       0 [KPI_Non_Clinical_Average_Damages],
       0 [KPI_Non_Clinical_Average_Claimant_Costs],
       0 [KPI_Non_Clinical_Average_Defence_Costs],
       0 [KPI_Non_Clinical_NIL_Damages],
       0 [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage],
       0 [KPI_Non_Clinical_Closure_Rates_Pivot],
       0 [Inf_SSRS_ALL_Task],
       0 [Inf_SSRS_Caseload_Clinical_detail],
       0 [Inf_SSRS_Caseload_Clinical],
       0 [Inf_SSRS_Caseload_Non_Clinical_detail],
       0 [Inf_SSRS_Caseload_Non_Clinical],
       0 [KPI_Clinical_ScoreCard_Average], 
       0 [KPI_Non_Clinical_ScoreCard_Average],
       0 [KPI_Clinical_ScoreCard], 
       1 [KPI_Non_Clinical_ScoreCard],
       0 [Internal_KPI_ReportSpecifications],
       0 [KPI_Ref_TASKS], 
       0 [Clinical],
       1 [Non_Clinical]
	--into [Informatics_Reporting].[dbo].[KPI_Non_Clinical_ScoreCard]
FROM (SELECT *
      FROM [#Temp1]
      UNION
      SELECT *
      FROM [#Temp4]) a;
	
	
END
	ELSE
	BEGIN 

	INSERT INTO staging.KPIMaster 
        ([ReportMonth]
        ,[Claims Handler]
        ,[Team]
        ,[Response Time to Letter of Claim]
        ,[Closure Rate]
        ,[Shelf Life]
        ,[Average Damages (£500 - £10,000 damages tranche)]
        ,[Average Claimant Costs (£500 - £10,000 damages tranche)]
        ,[Caseloads]
        ,[Caseloads Variance]
        ,[Closed Nil Damages]
        ,[Damages Payment within 6 mths Repudiated]
        ,[Claimant Costs as % of Damages (£500 - £5,000 damages tranche)]
        ,[Claimant Costs as % of Damages (Overall)]
        ,[Pt.1 Response Time to Letter of Claim]
        ,[Pt.1 Closure Rate]
        ,[Pt.1 Shelf Life]
        ,[Pt.1 Average Damages (£500 - £10,000 damages tranche)]
        ,[Pt.1 Average Claimant Costs (£500 - £10,000 damages tranche)]
        ,[Pt.1 Caseloads Variance]
        ,[Pt.1 Closed Nil Damages]
        ,[Pt.1 Damages Payment within 6 mths Repudiated]
        ,[Pt.2 Response Time to Letter of Claim]
        ,[Pt.2 Closure Rate]
        ,[Pt.2 Shelf Life]
        ,[Pt.2 Average Damages (£500 - £10,000 damages tranche)]
        ,[Pt.2 Average Claimant Costs (£500 - £10,000 damages tranche)]
        ,[Pt.2 Caseloads Variance]
        ,[Pt.2 Closed Nil Damages]
        ,[Pt.2 Damages Payment within 6 mths Repudiated]
        ,[Total]
        ,[KPI Rank]
        ,[Total Task]
        ,[Task Rank]
        ,[Grand Total]
        ,[Overall Rank]
        ,[Tie Breaker a]
        ,[Overall Rank a]
        ,[Tie Breaker b]
        ,[Overall Rank b]
        ,[KPI_Ref_Claim_Handler_History]
        ,[KPI_Ref_Last_Handler]
        ,[KPI_LOC_LOR_MASTER]
        ,[KPI_Ref_PayHist]
        ,[KPI_Clinical_LOCLOR]
        ,[KPI_Clinical_Repudiated]
        ,[KPI_Clinical_Closure_Rates]
        ,[KPI_Clinical_Average_Claimant_Costs]
        ,[KPI_Clinical_NIL_Damages]
        ,[KPI_Clinical_Average_Damages]
        ,[KPI_Clinical_ShelfLife]
        ,[KPI_Clinical_Average_Defence_Costs]
        ,[KPI_ClaimantCost_vs_DamagesPercentage]
        ,[KPI_Clinical_Closure_Rates_Pivot]
        ,[KPI_Non_Clinical_LOCLOR]
        ,[KPI_Non_Clinical_Repudiated]
        ,[KPI_Non_Clinical_ShelfLife]
        ,[KPI_Non_Clinical_Closure_Rates]
        ,[KPI_Non_Clinical_Average_Damages]
        ,[KPI_Non_Clinical_Average_Claimant_Costs]
        ,[KPI_Non_Clinical_Average_Defence_Costs]
        ,[KPI_Non_Clinical_NIL_Damages]
        ,[KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage]
        ,[KPI_Non_Clinical_Closure_Rates_Pivot]
        ,[Inf_SSRS_ALL_Task]
        ,[Inf_SSRS_Caseload_Clinical_detail]
        ,[Inf_SSRS_Caseload_Clinical]
        ,[Inf_SSRS_Caseload_Non_Clinical_detail]
        ,[Inf_SSRS_Caseload_Non_Clinical]
        ,[KPI_Clinical_ScoreCard_Average] 
        ,[KPI_Non_Clinical_ScoreCard_Average]
        ,[KPI_Clinical_ScoreCard] 
        ,[KPI_Non_Clinical_ScoreCard]
        ,[Internal_KPI_ReportSpecifications]
        ,[KPI_Ref_TASKS] 
        ,[Clinical]
        ,[Non_Clinical])
	select @EndDate as ReportMonth,
	       a.*,
           0 [KPI_Ref_Claim_Handler_History],
           0 [KPI_Ref_Last_Handler],
           0 [KPI_LOC_LOR_MASTER],
           0 [KPI_Ref_PayHist],
           0 [KPI_Clinical_LOCLOR],
           0 [KPI_Clinical_Repudiated],
           0 [KPI_Clinical_Closure_Rates],
           0 [KPI_Clinical_Average_Claimant_Costs],
           0 [KPI_Clinical_NIL_Damages],
           0 [KPI_Clinical_Average_Damages],
           0 [KPI_Clinical_ShelfLife],
           0 [KPI_Clinical_Average_Defence_Costs],
           0 [KPI_ClaimantCost_vs_DamagesPercentage],
           0 [KPI_Clinical_Closure_Rates_Pivot],
           0 [KPI_Non_Clinical_LOCLOR],
           0 [KPI_Non_Clinical_Repudiated],
           0 [KPI_Non_Clinical_ShelfLife],
           0 [KPI_Non_Clinical_Closure_Rates],
           0 [KPI_Non_Clinical_Average_Damages],
           0 [KPI_Non_Clinical_Average_Claimant_Costs],
           0 [KPI_Non_Clinical_Average_Defence_Costs],
           0 [KPI_Non_Clinical_NIL_Damages],
           0 [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage],
           0 [KPI_Non_Clinical_Closure_Rates_Pivot],
           0 [Inf_SSRS_ALL_Task],
           0 [Inf_SSRS_Caseload_Clinical_detail],
           0 [Inf_SSRS_Caseload_Clinical],
           0 [Inf_SSRS_Caseload_Non_Clinical_detail],
           0 [Inf_SSRS_Caseload_Non_Clinical],
           0 [KPI_Clinical_ScoreCard_Average], 
           0 [KPI_Non_Clinical_ScoreCard_Average],
           0 [KPI_Clinical_ScoreCard], 
           1 [KPI_Non_Clinical_ScoreCard],
           0 [Internal_KPI_ReportSpecifications],
           0 [KPI_Ref_TASKS], 
           0 [Clinical],
           1 [Non_Clinical]
	--into [Informatics_Reporting].[dbo].[KPI_Non_Clinical_ScoreCard]
	FROM (SELECT *
          FROM [#Temp1]
          UNION
          SELECT *
          FROM [#Temp4]	)a


	END




/***********************************************************************************************************FIX THIS FIX THIS FIX THIS********/
/*
insert into [Informatics_Reporting].[dbo].[KPI_Ref_Handler_Report_RAG]
	select
	*
	
	from [#Temp3]a
	WHERE
	NOT EXISTS (SELECT * FROM [Informatics_Reporting].[dbo].[KPI_Ref_Handler_Report_RAG]c
      WHERE a.[Claims Handler] = c.[Claims Handler]
			and a.ReportType = c.ReportType)
	
    */

	drop table #Temp1
	drop table #Temp3
	drop table #Temp4

/**

Part 6
															
															********* TEAM AVERAGES ********* 

															Much like the first part above, 
															this calculates the averages
															per relevant Team - excluding 
															Team LEadera etc..

**/

--declare @EndDate date
--set @EndDate = DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1) 


DECLARE @Team TABLE([Team]Varchar(200) not null);

INSERT INTO @Team 
SELECT 
* 
from  
	(
		select
		distinct
		Team
		From [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] bb 
	
		where  bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
		and IsLastRow = 'Y'
		and bb.[Band 7/8] is not null
		and bb.[Leader Flag] = 0 
		and bb.[Long Term Sick] is null
		AND IsCurrent = 1
   
	)d

	IF EXISTS (SELECT 1 reportMonth FROM staging.KPIMaster WHERE ReportMonth = @EndDate /*right(CONVERT(VARCHAR(20),@EndDate,06), LEN(CONVERT(VARCHAR(20),@EndDate,06)) -3)*/ AND [KPI_Non_Clinical_ScoreCard_Average] = 1)
	BEGIN 
		DELETE FROM staging.KPIMaster WHERE ReportMonth = @EndDate /*RIGHT(CONVERT(VARCHAR(20),@EndDate,06), LEN(CONVERT(VARCHAR(20),@EndDate,06)) -3)*/ AND [KPI_Non_Clinical_ScoreCard_Average] = 1
	
	INSERT INTO staging.KPIMaster 
       ([ReportMonth]
       ,[Team]
       ,[Response Time to Letter of Claim]
       ,[Closure Rate]
       ,[Shelf Life]
       ,[Average Damages (£500 - £10,000 damages tranche)]
       ,[Average Claimant Costs (£500 - £10,000 damages tranche)]
       ,[Caseloads Variance]
       ,[Closed Nil Damages]
       ,[Damages Payment within 6 mths Repudiated]
       ,[Claimant Costs as % of Damages (£500 - £5,000 damages tranche)]
       ,[Claimant Costs as % of Damages (Overall)]
       ,[KPI_Ref_Claim_Handler_History]
       ,[KPI_Ref_Last_Handler]
       ,[KPI_LOC_LOR_MASTER]
       ,[KPI_Ref_PayHist]
       ,[KPI_Clinical_LOCLOR]
       ,[KPI_Clinical_Repudiated]
       ,[KPI_Clinical_Closure_Rates]
       ,[KPI_Clinical_Average_Claimant_Costs]
       ,[KPI_Clinical_NIL_Damages]
       ,[KPI_Clinical_Average_Damages]
       ,[KPI_Clinical_ShelfLife]
       ,[KPI_Clinical_Average_Defence_Costs]
       ,[KPI_ClaimantCost_vs_DamagesPercentage]
       ,[KPI_Clinical_Closure_Rates_Pivot]
       ,[KPI_Non_Clinical_LOCLOR]
       ,[KPI_Non_Clinical_Repudiated]
       ,[KPI_Non_Clinical_ShelfLife]
       ,[KPI_Non_Clinical_Closure_Rates]
       ,[KPI_Non_Clinical_Average_Damages]
       ,[KPI_Non_Clinical_Average_Claimant_Costs]
       ,[KPI_Non_Clinical_Average_Defence_Costs]
       ,[KPI_Non_Clinical_NIL_Damages]
       ,[KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage]
       ,[KPI_Non_Clinical_Closure_Rates_Pivot]
       ,[Inf_SSRS_ALL_Task]
       ,[Inf_SSRS_Caseload_Clinical_detail]
       ,[Inf_SSRS_Caseload_Clinical]
       ,[Inf_SSRS_Caseload_Non_Clinical_detail]
       ,[Inf_SSRS_Caseload_Non_Clinical]
       ,[KPI_Clinical_ScoreCard_Average] 
       ,[KPI_Non_Clinical_ScoreCard_Average]
       ,[KPI_Clinical_ScoreCard] 
       ,[KPI_Non_Clinical_ScoreCard]
       ,[Internal_KPI_ReportSpecifications]
       ,[KPI_Ref_TASKS] 
       ,[Clinical]
       ,[Non_Clinical])
	SELECT *,
           0 [KPI_Ref_Claim_Handler_History],
           0 [KPI_Ref_Last_Handler],
           0 [KPI_LOC_LOR_MASTER],
           0 [KPI_Ref_PayHist],
           0 [KPI_Clinical_LOCLOR],
           0 [KPI_Clinical_Repudiated],
           0 [KPI_Clinical_Closure_Rates],
           0 [KPI_Clinical_Average_Claimant_Costs],
           0 [KPI_Clinical_NIL_Damages],
           0 [KPI_Clinical_Average_Damages],
           0 [KPI_Clinical_ShelfLife],
           0 [KPI_Clinical_Average_Defence_Costs],
           0 [KPI_ClaimantCost_vs_DamagesPercentage],
           0 [KPI_Clinical_Closure_Rates_Pivot],
           0 [KPI_Non_Clinical_LOCLOR],
           0 [KPI_Non_Clinical_Repudiated],
           0 [KPI_Non_Clinical_ShelfLife],
           0 [KPI_Non_Clinical_Closure_Rates],
           0 [KPI_Non_Clinical_Average_Damages],
           0 [KPI_Non_Clinical_Average_Claimant_Costs],
           0 [KPI_Non_Clinical_Average_Defence_Costs],
           0 [KPI_Non_Clinical_NIL_Damages],
           0 [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage],
           0 [KPI_Non_Clinical_Closure_Rates_Pivot],
           0 [Inf_SSRS_ALL_Task],
           0 [Inf_SSRS_Caseload_Clinical_detail],
           0 [Inf_SSRS_Caseload_Clinical],
           0 [Inf_SSRS_Caseload_Non_Clinical_detail],
           0 [Inf_SSRS_Caseload_Non_Clinical],
           0 [KPI_Clinical_ScoreCard_Average], 
           1 [KPI_Non_Clinical_ScoreCard_Average],
           0 [KPI_Clinical_ScoreCard], 
           0 [KPI_Non_Clinical_ScoreCard],
           0 [Internal_KPI_ReportSpecifications],
           0 [KPI_Ref_TASKS], 
           0 [Clinical],
           1 [Non_Clinical]
			--into [Informatics_Reporting].[dbo].[KPI_Non_Clinical_ScoreCard_Average]
			from 
			(
			
			SELECT 
			--right(convert(varchar(20),@EndDate,06), len(convert(varchar(20),@EndDate,06)) -3)  as ReportMonth,
            @EndDate  as ReportMonth,
			aa.[Team],
			coalesce(
					(
					select
					convert(float,Sum([Within 4 Months]))/
					nullif(convert(float,count(claimid)),0)
					FROM staging.KPIMaster a
					inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_LOCLOR] = 1 
                    and Quarter = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Band 7/8] is not null
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1
					group by
					[Claims Team]
					)
					,0)
					 as 'Response Time to Letter of Claim',--------------------------------------------------------------------------

			coalesce((select 

				(convert(float,
							Count(Closure_Quarter)
						)
												/
												nullif((convert(float,
															(
															select 
															count(Creation_Quarter) 
															FROM staging.KPIMaster aa
															inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = aa.[Original Handler]
															where [KPI_Non_Clinical_Closure_Rates] = 1 
                                                            AND Creation_Quarter = 'Q4'
															and aa.[Claims Team] = a.[Claims Team]
															and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
															and bb.[Band 7/8] is not null
															and IsLastRow = 'Y'
															and bb.[Leader Flag] = 0 
															and bb.[Long Term Sick] is null
															AND IsCurrent = 1
															group by aa.[Claims Team]

															)
														)
												),0)
				)
			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_Closure_Rates] = 1 
                    AND Closure_Quarter = 'Q4'
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1
					and bb.[Band 7/8] is not null
					and a.[Claims Team] = aa.team


			group by
			[Claims Team]
			),0)
			as [Closure Rate],--------------------------------------------------------------------------------------------------------------------------------------------------------------------

			coalesce( (
			 select
			 avg([Shelf Life (yrs)]) 

			 FROM staging.KPIMaster a
			 inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_ShelfLife] = 1 
                    AND [Settlement Date Quarter] = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					and bb.[Band 7/8] is not null
					AND IsCurrent = 1

					group by 
					[Claims Team]

			),0) as [Shelf Life],----------------------------------------------------------------------------------------------------------------------------------------------------

			coalesce((
			select  
			convert(bigint,avg([Total Damages]))  
			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_Average_Damages] = 1
                    AND [Type 3 Damages Tranche Range] = '500 - 10,000'
					and Closure_Quarter = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Band 7/8] is not null
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1

			group by
			[Claims Team]
			),0)as [Average Damages (£500 - £10,000 damages tranche)],-------------------------------------------------------------------------------------------------------------------------------

			coalesce((
			select  

			convert(bigint,avg([TotalClaimantCosts]))
			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_Average_Claimant_Costs] = 1 
                    AND [ClaimantCostTranche] = '500 - 10,000'
					and Closure_Quarter = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Band 7/8] is not null
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1

			group by
			[claims team]

			),0)as [Average Claimant Costs (£500 - £10,000 damages tranche)],--------------------------------------------------------------------------------------------------------------------------

			coalesce((

		select
			Sum(Final_PErcentage) as Caseload_Variance
			from
			(
			SELECT
			a.[Team],
			count(a.claimid) as Total_Claims,
			convert(float,b.Clinical_Optimum_Caseload) as OptCaseLoad,
			convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler]) as TotalOtpPErWeight,
			Count(distinct b.[Claims Handler]) as Total_Handlers_Per_Weght,
			c.Total_Handlers as Total_Handlers,
			(Count(distinct b.[Claims Handler]) /convert(float,c.Total_Handlers) )as PercentageWeight,
			(count(a.claimid)-(convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler])))/(convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler])) as InitPErcentage,
			(count(a.claimid)-(convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler])))/(convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler]))*
			(Count(distinct b.[Claims Handler]) /convert(float,c.Total_Handlers) )as Final_Percentage
			  FROM staging.KPIMaster  a
			  inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] bb on bb.[claims handler] = a.[Claims Handler]
			  inner join 
						(
						  select 
						  a.[Claims Handler], 
						  (Clinical_Optimum_Caseload*bb.WTE) as Clinical_Optimum_Caseload
						  from staging.KPIMaster a 
						  inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Claims Handler]
						  where [Inf_SSRS_Caseload_Non_Clinical] = 1 
                          AND bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
							--and  a.[Team] = aa.Team
							and IsLastRow = 'Y'
							and bb.[Band 7/8] is not null
							and bb.[Leader Flag] = 0 
							and bb.[Long Term Sick] is null
							AND IsCurrent = 1

						
						) as b on b.[Claims Handler] = bb.[Claims Handler]
				left join 
						(
						  select
						  a.team, 
						  count(a.[Team]) as Total_Handlers
						  from staging.KPIMaster a 
						  inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Claims Handler]
						  where [Inf_SSRS_Caseload_Non_Clinical] = 1 
                          AND bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
							--and  a.[Team] = aa.Team
							and IsLastRow = 'Y'
							and bb.[Band 7/8] is not null
							and bb.[Leader Flag] = 0 
							and bb.[Long Term Sick] is null
							AND IsCurrent = 1
							group by
							a.team
						
						) as c on c.team = a.team															
			   where [Inf_SSRS_Caseload_Non_Clinical_detail] = 1
               and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
			   --and  a.[Team] = aa.Team
			   and IsLastRow                    = 'Y'
			   and bb.[Band 7/8]                is not null
			   and bb.[Leader Flag]             = 0 
			   and bb.[Long Term Sick]          is null
			   AND IsCurrent                    = 1


			  group by a.[Team],
			  b.Clinical_Optimum_Caseload,
			  c.Total_Handlers
			  ) d


			  where d.Team = aa.team
			  group by d.Team



			  ),0) as [Caseloads Variance],------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 

			coalesce((
			select  
			convert(float,
						Count(Claimid)
					)
						/
						nullif(convert(float,
									(
									select 
									count(claimid) 
									FROM staging.KPIMaster c
									inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = c.[Original Handler]
									where [KPI_Non_Clinical_NIL_Damages] = 1 
                                    AND Closure_Quarter = 'Q4'
									and c.[Claims Team] = a.[Claims Team]
									and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
									and IsLastRow = 'Y'
									and bb.[Band 7/8] is not null
									and bb.[Leader Flag] = 0 
									and bb.[Long Term Sick] is null
									AND IsCurrent = 1

									group by c.[Claims Team]
									)
								),0)
			FROM staging.KPIMaster                                             a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
			Where [KPI_Non_Clinical_NIL_Damages] = 1 
            and [Report Type]                    = 'Closed NIL Damages Data'
			and [Claims Team]                    = aa.Team
			and Closure_Quarter                  = 'Q4'
			and bb.[Clinical / Non Clinical]     in ('Non Clinical','Both')
			and IsLastRow                        = 'Y'
			and bb.[Band 7/8]                    is not null
			and bb.[Leader Flag]                 = 0 
			and bb.[Long Term Sick]              is null
			AND IsCurrent                        = 1

			group by a.[Claims Team]

			) ,0)
			as [Closed Nil Damages],------------------------------------------------------------------------------------------------------------------------------------------------------------------

			coalesce((	
			select 

			convert(float,sum(CAST(payment_within_6_months AS INT)))/nullif(convert(float,count(claimid)),0)
			FROM staging.KPIMaster                                        a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew] bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_Repudiated] = 1 
                    and StatusDateQuarter               = 'Q4'
					and [Claims Team]                   = aa.Team
					and bb.[Clinical / Non Clinical]    in ('Non Clinical','Both')
					and IsLastRow                       = 'Y'
					and bb.[Band 7/8]                   is not null
					and bb.[Leader Flag]                = 0 
					and bb.[Long Term Sick]             is null
					AND IsCurrent                       = 1

					group by [Claims Team]

			),0) as [Damages Payment within 6 mths Repudiated],---------------------------------------------------------------------------------------------------------------------------------------------------

			coalesce((
			select
			convert(float,sum(TotalClaimantCosts))/nullif(convert(float,Sum([Total Damages])),0)

			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
			Where [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage] = 1 
            and Closure_Quarter = 'Q4'
			and [Claims Team] = aa.Team
			and ClaimantCostTranche5 = '500 - 5,000'
			and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
			and IsLastRow = 'Y'
			and bb.[Band 7/8] is not null
			and bb.[Leader Flag] = 0 
			and bb.[Long Term Sick] is null
			AND IsCurrent = 1

			group by 
			[Claims Team],
			Closure_Quarter

			),0)as [Claimant Costs as % of Damages (£500 - £5,000 damages tranche)],--------------------------------------------------------------------------------------------------


			coalesce((
				select convert(float,sum(TotalClaimantCosts))/nullif(convert(float,Sum([Total Damages])),0) 
				FROM staging.KPIMaster a
				inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]

				Where [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage] = 1
                and Closure_Quarter = 'Q4'
				and [Claims Team] = aa.Team
				and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
				and IsLastRow = 'Y'
				and bb.[Band 7/8] is not null
				and bb.[Leader Flag] = 0 
				and bb.[Long Term Sick] is null
				AND IsCurrent = 1

				group by 
				[Claims Team],
				Closure_Quarter

			),0) as [Claimant Costs as % of Damages (Overall)]

			from @Team aa

			group by
 
			aa.[Team]

			)a
		 
			
			order by a.Team
	
	
	End
	Else
	Begin
	--select * from [Informatics_Reporting].[dbo].[KPI_Non_Clinical_ScoreCard_Average]
	--drop table  [Informatics_Reporting].[dbo].[KPI_Non_Clinical_ScoreCard_Average]	

/**************************************************************************************************************************************/

--DELETE FROM staging.KPIMaster WHERE [KPI_Non_Clinical_ScoreCard_Average] = 1;
	
		INSERT INTO staging.KPIMaster 
            ([ReportMonth]
            ,[Team]
            ,[Response Time to Letter of Claim]
            ,[Closure Rate]
            ,[Shelf Life]
            ,[Average Damages (£500 - £10,000 damages tranche)]
            ,[Average Claimant Costs (£500 - £10,000 damages tranche)]
            ,[Caseloads Variance]
            ,[Closed Nil Damages]
            ,[Damages Payment within 6 mths Repudiated]
            ,[Claimant Costs as % of Damages (£500 - £5,000 damages tranche)]
            ,[Claimant Costs as % of Damages (Overall)]
            ,[KPI_Ref_Claim_Handler_History]
            ,[KPI_Ref_Last_Handler]
            ,[KPI_LOC_LOR_MASTER]
            ,[KPI_Ref_PayHist]
            ,[KPI_Clinical_LOCLOR]
            ,[KPI_Clinical_Repudiated]
            ,[KPI_Clinical_Closure_Rates]
            ,[KPI_Clinical_Average_Claimant_Costs]
            ,[KPI_Clinical_NIL_Damages]
            ,[KPI_Clinical_Average_Damages]
            ,[KPI_Clinical_ShelfLife]
            ,[KPI_Clinical_Average_Defence_Costs]
            ,[KPI_ClaimantCost_vs_DamagesPercentage]
            ,[KPI_Clinical_Closure_Rates_Pivot]
            ,[KPI_Non_Clinical_LOCLOR]
            ,[KPI_Non_Clinical_Repudiated]
            ,[KPI_Non_Clinical_ShelfLife]
            ,[KPI_Non_Clinical_Closure_Rates]
            ,[KPI_Non_Clinical_Average_Damages]
            ,[KPI_Non_Clinical_Average_Claimant_Costs]
            ,[KPI_Non_Clinical_Average_Defence_Costs]
            ,[KPI_Non_Clinical_NIL_Damages]
            ,[KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage]
            ,[KPI_Non_Clinical_Closure_Rates_Pivot]
            ,[Inf_SSRS_ALL_Task]
            ,[Inf_SSRS_Caseload_Clinical_detail]
            ,[Inf_SSRS_Caseload_Clinical]
            ,[Inf_SSRS_Caseload_Non_Clinical_detail]
            ,[Inf_SSRS_Caseload_Non_Clinical]
            ,[KPI_Clinical_ScoreCard_Average] 
            ,[KPI_Non_Clinical_ScoreCard_Average]
            ,[KPI_Clinical_ScoreCard] 
            ,[KPI_Non_Clinical_ScoreCard]
            ,[Internal_KPI_ReportSpecifications]
            ,[KPI_Ref_TASKS] 
            ,[Clinical]
            ,[Non_Clinical])
			SELECT *,
                  0 [KPI_Ref_Claim_Handler_History],
                  0 [KPI_Ref_Last_Handler],
                  0 [KPI_LOC_LOR_MASTER],
                  0 [KPI_Ref_PayHist],
                  0 [KPI_Clinical_LOCLOR],
                  0 [KPI_Clinical_Repudiated],
                  0 [KPI_Clinical_Closure_Rates],
                  0 [KPI_Clinical_Average_Claimant_Costs],
                  0 [KPI_Clinical_NIL_Damages],
                  0 [KPI_Clinical_Average_Damages],
                  0 [KPI_Clinical_ShelfLife],
                  0 [KPI_Clinical_Average_Defence_Costs],
                  0 [KPI_ClaimantCost_vs_DamagesPercentage],
                  0 [KPI_Clinical_Closure_Rates_Pivot],
                  0 [KPI_Non_Clinical_LOCLOR],
                  0 [KPI_Non_Clinical_Repudiated],
                  0 [KPI_Non_Clinical_ShelfLife],
                  0 [KPI_Non_Clinical_Closure_Rates],
                  0 [KPI_Non_Clinical_Average_Damages],
                  0 [KPI_Non_Clinical_Average_Claimant_Costs],
                  0 [KPI_Non_Clinical_Average_Defence_Costs],
                  0 [KPI_Non_Clinical_NIL_Damages],
                  0 [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage],
                  0 [KPI_Non_Clinical_Closure_Rates_Pivot],
                  0 [Inf_SSRS_ALL_Task],
                  0 [Inf_SSRS_Caseload_Clinical_detail],
                  0 [Inf_SSRS_Caseload_Clinical],
                  0 [Inf_SSRS_Caseload_Non_Clinical_detail],
                  0 [Inf_SSRS_Caseload_Non_Clinical],
                  0 [KPI_Clinical_ScoreCard_Average], 
                  1 [KPI_Non_Clinical_ScoreCard_Average],
                  0 [KPI_Clinical_ScoreCard], 
                  0 [KPI_Non_Clinical_ScoreCard],
                  0 [Internal_KPI_ReportSpecifications],
                  0 [KPI_Ref_TASKS], 
                  0 [Clinical],
                  1 [Non_Clinical]
			--into [Informatics_Reporting].[dbo].[KPI_Non_Clinical_ScoreCard_Average]
			FROM (SELECT 
			--right(convert(varchar(20),@EndDate,06), len(convert(varchar(20),@EndDate,06)) -3)  as ReportMonth,
            @EndDate  as ReportMonth,
			aa.[Team],
			coalesce(
					(
					select
					convert(float,Sum([Within 4 Months]))/
					nullif(convert(float,count(claimid)),0)
					FROM staging.KPIMaster a
					inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_LOCLOR] = 1 
                    and Quarter = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Band 7/8] is not null
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1
					group by
					[Claims Team]
					)
					,0)
					 as 'Response Time to Letter of Claim',--------------------------------------------------------------------------

			coalesce((select 

				(convert(float,
							Count(Closure_Quarter)
						)
												/
												nullif((convert(float,
															(
															select 
															count(Creation_Quarter) 
															FROM staging.KPIMaster aa
															inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = aa.[Original Handler]
															where [KPI_Non_Clinical_Closure_Rates] = 1 
                                                            and Creation_Quarter = 'Q4'
															and aa.[Claims Team] = a.[Claims Team]
															and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
															and bb.[Band 7/8] is not null
															and IsLastRow = 'Y'
															and bb.[Leader Flag] = 0 
															and bb.[Long Term Sick] is null
															AND IsCurrent = 1
															group by aa.[Claims Team]

															)
														)
												),0)
				)
			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_Closure_Rates] = 1
                    and Closure_Quarter = 'Q4'
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1
					and bb.[Band 7/8] is not null
					and a.[Claims Team] = aa.team


			group by
			[Claims Team]
			),0)
			as [Closure Rate],--------------------------------------------------------------------------------------------------------------------------------------------------------------------

			coalesce( (
			 select
			 avg([Shelf Life (yrs)]) 

			 FROM staging.KPIMaster a
			 inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_ShelfLife] = 1
                    and [Settlement Date Quarter] = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					and bb.[Band 7/8] is not null
					AND IsCurrent = 1

					group by 
					[Claims Team]

			),0) as [Shelf Life],----------------------------------------------------------------------------------------------------------------------------------------------------

			coalesce((
			select  
			convert(bigint,avg([Total Damages]))  
			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_Average_Damages] = 1
                    and [Type 3 Damages Tranche Range] = '500 - 10,000'
					and Closure_Quarter = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Band 7/8] is not null
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1

			group by
			[Claims Team]
			),0)as [Average Damages (£500 - £10,000 damages tranche)],-------------------------------------------------------------------------------------------------------------------------------

			coalesce((
			select  

			convert(bigint,avg([TotalClaimantCosts]))
			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_Average_Claimant_Costs] = 1
                    and [ClaimantCostTranche] = '500 - 10,000'
					and Closure_Quarter = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Band 7/8] is not null
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1

			group by
			[claims team]

			),0)as [Average Claimant Costs (£500 - £10,000 damages tranche)],--------------------------------------------------------------------------------------------------------------------------

			coalesce((

		select
			Sum(Final_PErcentage) as Caseload_Variance
			from
			(
			SELECT
			a.[Team],
			count(a.claimid) as Total_Claims,
			convert(float,b.Clinical_Optimum_Caseload) as OptCaseLoad,
			convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler]) as TotalOtpPErWeight,
			Count(distinct b.[Claims Handler]) as Total_Handlers_Per_Weght,
			c.Total_Handlers as Total_Handlers,
			(Count(distinct b.[Claims Handler]) /convert(float,c.Total_Handlers) )as PercentageWeight,
			(count(a.claimid)-(convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler])))/(convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler])) as InitPErcentage,
			(count(a.claimid)-(convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler])))/(convert(float,b.Clinical_Optimum_Caseload)*Count(distinct b.[Claims Handler]))*
			(Count(distinct b.[Claims Handler]) /convert(float,c.Total_Handlers) )as Final_Percentage
			  FROM staging.KPIMaster a
			  inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Claims Handler]
			  inner join 
						(
						  select 
						  a.[Claims Handler], 
						  (Clinical_Optimum_Caseload*bb.WTE) as Clinical_Optimum_Caseload
						  from staging.KPIMaster a 
						  inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Claims Handler]
						  where [Inf_SSRS_Caseload_Non_Clinical] = 1
                          and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
							--and  a.[Team] = aa.Team
							and IsLastRow = 'Y'
							and bb.[Band 7/8] is not null
							and bb.[Leader Flag] = 0 
							and bb.[Long Term Sick] is null
							AND IsCurrent = 1

						
						) as b on b.[Claims Handler] = bb.[Claims Handler]
				left join 
						(
						  select
						  a.team, 
						  count(a.[Team]) as Total_Handlers
						  from staging.KPIMaster a 
						  inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Claims Handler]
						  where [Inf_SSRS_Caseload_Non_Clinical] = 1
                          and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
							--and  a.[Team] = aa.Team
							and IsLastRow = 'Y'
							and bb.[Band 7/8] is not null
							and bb.[Leader Flag] = 0 
							and bb.[Long Term Sick] is null
							AND IsCurrent = 1
							group by
							a.team
						
						) as c on c.team = a.team															
			   where [Inf_SSRS_Caseload_Non_Clinical_detail] = 1
               and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					--and  a.[Team] = aa.Team
					and IsLastRow = 'Y'
					and bb.[Band 7/8] is not null
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1


			  group by a.[Team],
			  b.Clinical_Optimum_Caseload,
			  c.Total_Handlers
			  ) d


			  where d.Team = aa.team
			  group by d.Team



			  ),0) as [Caseloads Variance],------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 

			coalesce((
			select  
			convert(float,
						Count(Claimid)
					)
						/
						nullif(convert(float,
									(
									select 
									count(claimid) 
									FROM staging.KPIMaster c
									inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = c.[Original Handler]
									where [KPI_Non_Clinical_NIL_Damages] = 1
                                    and Closure_Quarter = 'Q4'
									and c.[Claims Team] = a.[Claims Team]
									and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
									and IsLastRow = 'Y'
									and bb.[Band 7/8] is not null
									and bb.[Leader Flag] = 0 
									and bb.[Long Term Sick] is null
									AND IsCurrent = 1

									group by c.[Claims Team]
									)
								),0)
			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
			Where [KPI_Non_Clinical_NIL_Damages] = 1
            and [Report Type] = 'Closed NIL Damages Data'
			and [Claims Team] = aa.Team
			and Closure_Quarter = 'Q4'
			and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
			and IsLastRow = 'Y'
			and bb.[Band 7/8] is not null
			and bb.[Leader Flag] = 0 
			and bb.[Long Term Sick] is null
			AND IsCurrent = 1

			group by a.[Claims Team]

			) ,0)
			as [Closed Nil Damages],------------------------------------------------------------------------------------------------------------------------------------------------------------------

			coalesce((	
			select 

			convert(float,sum(CAST(payment_within_6_months AS INT)))/nullif(convert(float,count(claimid)),0)
			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]
					where [KPI_Non_Clinical_Repudiated] = 1
                    and StatusDateQuarter = 'Q4'
					and [Claims Team] = aa.Team
					and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
					and IsLastRow = 'Y'
					and bb.[Band 7/8] is not null
					and bb.[Leader Flag] = 0 
					and bb.[Long Term Sick] is null
					AND IsCurrent = 1

					group by [Claims Team]

			),0) as [Damages Payment within 6 mths Repudiated],---------------------------------------------------------------------------------------------------------------------------------------------------

			coalesce((
			select
			convert(float,sum(TotalClaimantCosts))/nullif(convert(float,Sum([Total Damages])),0)

			FROM staging.KPIMaster a
			inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]

			Where [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage] = 1 
            and Closure_Quarter = 'Q4'
			and [Claims Team] = aa.Team
			and ClaimantCostTranche5 = '500 - 5,000'
			and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
			and IsLastRow = 'Y'
			and bb.[Band 7/8] is not null
			and bb.[Leader Flag] = 0 
			and bb.[Long Term Sick] is null
			AND IsCurrent = 1

			group by 
			[Claims Team],
			Closure_Quarter

			),0)as [Claimant Costs as % of Damages (£500 - £5,000 damages tranche)],--------------------------------------------------------------------------------------------------


			coalesce((
				select convert(float,sum(TotalClaimantCosts))/nullif(convert(float,Sum([Total Damages])),0) 
				FROM staging.KPIMaster a
				inner join [Informatics_Reporting].[dbo].[ClaimsTeams_Andrew]bb on bb.[claims handler] = a.[Original Handler]

				Where [KPI_Non_Clinical_ClaimantCost_vs_DamagesPercentage] = 1
                and Closure_Quarter = 'Q4'
				and [Claims Team] = aa.Team
				and bb.[Clinical / Non Clinical] in ('Non Clinical','Both')
				and IsLastRow = 'Y'
				and bb.[Band 7/8] is not null
				and bb.[Leader Flag] = 0 
				and bb.[Long Term Sick] is null
				AND IsCurrent = 1

				group by 
				[Claims Team],
				Closure_Quarter

			),0) as [Claimant Costs as % of Damages (Overall)]

			from @Team aa

			group by
 
			aa.[Team]

			)a
		 
			
			order by a.Team

	End





