USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [EKS].[03_Create_SSRS_Advice_Report_Tables]    Script Date: 30/08/2018 12:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [NCAS].[03_Create_SSRS_Advice_Report_Tables]

AS

SET NOCOUNT ON



 IF object_ID('tempdb..#sum23') IS NOT NULL
	DROP TABLE #sum23

SELECT *
INTO #sum23
FROM (
	SELECT '01 Referral Date to Adviser Allocated' AS Report_Type,
		bb.Forename1 + ' ' + bb.Surname AS [Actioned By],
		a.CaseID,
		'Innitial Contact Date' AS [First Date Description],
		c.Referral_Date AS [First Date],
		b.Description AS [Second Date Description],
		convert(DATE, b.FirstActionedDate) AS [Second Date],

	   (datediff(day, c.Referral_Date, (coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1)))) 
	   - sum(convert(INT, d.[Weekend Flag])) + sum(convert(INT, d.[Holiday Flag]))) 
	   AS [Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

	FROM [EKS_Archive2].[Core].[CaseTask]                          a
	LEFT JOIN [EKS_Archive2].[Core].[Appuser]                     bb ON bb.AppuserId = a.ActionedUserId
	INNER JOIN [Informatics_Reporting].[EKS].[02_EKS_Case_Details] c ON c.CaseId     = a.CaseId
	LEFT JOIN (SELECT a.CaseID,
			          c.Description,
			          min(a.ActionedDate) AS FirstActionedDate,
			          c.ActionedByName
		       FROM [EKS_Archive2].[Core].[CaseTask] a
		       INNER JOIN (SELECT caseid,
				                  Description,
				                  ActionedDate,
				                  b.Forename1 + ' ' + b.Surname AS ActionedByName
			               FROM [EKS_Archive2].[Core].[CaseTask]     a
			               LEFT JOIN [EKS_Archive2].[Core].[Appuser] b ON b.AppuserId = a.ActionedUserId
			               WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated')) AS c ON c.caseid = a.caseid AND c.ActionedDate = a.ActionedDate
		       GROUP BY a.CaseId,
			            c.Description,
			            ActionedByName ) AS                          b ON b.CaseId            = a.caseid 
                                                                      AND b.FirstActionedDate >= a.ActionedDate

	LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]                    >= c.Referral_Date 
      AND d.[Calendar Day]             <= coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1))

	WHERE ltrim(rtrim(a.Description)) IN ('Adviser Allocated') AND a.Caseid IN (SELECT caseid
			                                                                    FROM [EKS_Archive2].[Core].[CaseTask]
			                                                                    WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated'))
                                                                                GROUP BY a.CaseID,
	                                                                                	 c.Referral_Date,
	                                                                                     bb.Forename1 + ' ' + bb.Surname,
	                                                                                  	 b.Description,
	                                                                                	 b.FirstActionedDate,
	                                                                                	 b.ActionedByName,
	                                                                                	 sector,
	                                                                                	 profession,
	                                                                                	 c.office
	
	UNION ALL
	
	SELECT '02 Referral Date to First Adviser callback' AS Report_Type,
		bb.Forename1 + ' ' + bb.Surname AS [Actioned By],
		a.CaseID,
		'Innitial Contact Date' AS [First Date Description],
		Convert(DATE, c.Referral_Date) AS [First Date],
		'First Adviser callback' AS [Second Date Description],
		convert(DATE, b.FirstActionedDate) AS [Second Date],

		(datediff(day, c.Referral_Date, (coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1)))) 
		- sum(convert(INT, d.[Weekend Flag])) + sum(convert(INT, d.[Holiday Flag]))) 
		AS [Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

	FROM [EKS_Archive2].[Core].[CaseTask]                  a
	LEFT JOIN [EKS_Archive2].[Core].[Appuser]             bb ON bb.AppuserId = a.ActionedUserId
	INNER JOIN [EKS].[02_EKS_Case_Details] c ON c.CaseId     = a.CaseId
	LEFT JOIN (
		SELECT a.CaseID,
			c.Description,
			min(a.ActionedDate) AS FirstActionedDate,
			c.ActionedByName
		FROM [EKS_Archive2].[Core].[CaseTask] a
		INNER JOIN (
			SELECT caseid,
				Description,
				ActionedDate,
				b.Forename1 + ' ' + b.Surname AS ActionedByName
			FROM [EKS_Archive2].[Core].[CaseTask] a
			LEFT JOIN [EKS_Archive2].[Core].[Appuser] b ON b.AppuserId = a.ActionedUserId
			WHERE ltrim(rtrim(Description)) IN ('first adviser callback')
			) AS c ON c.caseid = a.caseid AND c.ActionedDate = a.ActionedDate
		GROUP BY a.CaseId,
			c.Description,
			ActionedByName
		) AS b ON b.CaseId = a.caseid AND b.FirstActionedDate >= a.ActionedDate
	LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]  >= c.Referral_Date AND d.[Calendar Day] <= coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1))
	WHERE ltrim(rtrim(a.Description)) IN ('first adviser callback') AND a.Caseid IN (
			SELECT caseid
			FROM [EKS_Archive2].[Core].[CaseTask]
			WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated')
			)

	GROUP BY a.CaseID,
		c.Referral_Date,
		bb.Forename1 + ' ' + bb.Surname,
		b.Description,
		b.FirstActionedDate,
		b.ActionedByName,
		sector,
		profession,
		c.office
	
	UNION ALL
	


	SELECT '03 First Adviser callback to Advice Report Completed' AS Report_Type,
		bb.Forename1 + ' ' + bb.Surname AS [Actioned By],
		a.CaseID,
		'First Adviser callback' AS [First Date Description],
		convert(DATE, a.ActionedDate) AS [First Date],
		'First advice letter issued' AS [Second Date Description],
		convert(DATE, b.FirstActionedDate) AS [Second Date],

		(datediff(day, a.ActionedDate, (coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1)))) 
		- sum(convert(INT, d.[Weekend Flag])) + sum(convert(INT, d.[Holiday Flag]))) 
		AS [Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

	FROM [EKS_Archive2].[Core].[CaseTask] a
	LEFT JOIN [EKS_Archive2].[Core].[Appuser] bb ON bb.AppuserId = a.ActionedUserId
	INNER JOIN [EKS].[02_EKS_Case_Details] c ON c.CaseId = a.CaseId
	LEFT JOIN (
		SELECT a.CaseID,
			c.Description,
			min(a.ActionedDate) AS FirstActionedDate,
			c.ActionedByName
		FROM [EKS_Archive2].[Core].[CaseTask] a
		INNER JOIN (
			SELECT caseid,
				Description,
				ActionedDate,
				b.Forename1 + ' ' + b.Surname AS ActionedByName
			FROM [EKS_Archive2].[Core].[CaseTask] a
			LEFT JOIN [EKS_Archive2].[Core].[Appuser] b ON b.AppuserId = a.ActionedUserId
			WHERE ltrim(rtrim(Description)) IN ('First advice letter issued')
			) AS c ON c.caseid = a.caseid AND c.ActionedDate = a.ActionedDate
		WHERE ltrim(rtrim(a.Description)) IN ('First advice letter issued') AND a.Caseid IN (
				SELECT caseid
				FROM [EKS_Archive2].[Core].[CaseTask]
				WHERE ltrim(rtrim(Description)) IN ('First advice letter issued')
				)
		GROUP BY a.CaseId,
			c.Description,
			ActionedByName
		) AS b ON b.CaseId = a.caseid AND b.FirstActionedDate >= a.ActionedDate
	LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]   >= a.ActionedDate AND d.[Calendar Day] <= coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1))
	WHERE ltrim(rtrim(a.Description)) IN (
			'first adviser callback',
			'first adviser call-back'
			) AND a.Caseid IN (
			SELECT caseid
			FROM [EKS_Archive2].[Core].[CaseTask]
			WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated')
			)
	GROUP BY a.CaseID,
		a.Description,
		bb.Forename1 + ' ' + bb.Surname,
		c.referral_date,
		b.Description,
		a.ActionedDate,
		b.FirstActionedDate,
		b.ActionedByName,
		sector,
		profession,
		c.office
	
	UNION ALL
	
	SELECT '04 Adviser Report Completed to First Adviser Letter Issued' AS Report_Type,
		bb.Forename1 + ' ' + bb.Surname AS [Actioned by],
		a.CaseID,
		'Adviser report completed' AS [First Date Description],
		convert(DATE, a.ActionedDate) AS [First Date],
		'First advice letter issued' AS [Second Date Description],
		Convert(DATE, b.FirstActionedDate) AS [Second Date],

		(datediff(day, a.ActionedDate, (coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1)))) 
		- sum(convert(INT, d.[Weekend Flag])) + sum(convert(INT, d.[Holiday Flag]))) 
		AS [Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]
 
	FROM [EKS_Archive2].[Core].[CaseTask] a
	LEFT JOIN [EKS_Archive2].[Core].[Appuser] bb ON bb.AppuserId = a.ActionedUserId
	INNER JOIN [EKS].[02_EKS_Case_Details] c ON c.CaseId = a.CaseId
	LEFT JOIN (
		SELECT a.CaseID,
			c.Description,
			min(a.ActionedDate) AS FirstActionedDate,
			c.ActionedByName
		FROM [EKS_Archive2].[Core].[CaseTask] a
		INNER JOIN (
			SELECT caseid,
				Description,
				ActionedDate,
				b.Forename1 + ' ' + b.Surname AS ActionedByName
			FROM [EKS_Archive2].[Core].[CaseTask] a
			LEFT JOIN [EKS_Archive2].[Core].[Appuser] b ON b.AppuserId = a.ActionedUserId
			WHERE ltrim(rtrim(Description)) IN ('First advice letter issued')
			) AS c ON c.caseid = a.caseid AND c.ActionedDate = a.ActionedDate
		WHERE ltrim(rtrim(a.Description)) IN ('First advice letter issued') AND a.Caseid IN (
				SELECT caseid
				FROM [EKS_Archive2].[Core].[CaseTask]
				WHERE ltrim(rtrim(Description)) IN ('Adviser report completed')
				)

		GROUP BY a.CaseId,
			c.Description,
			ActionedByName
		) AS b ON b.CaseId = a.caseid AND b.FirstActionedDate >= a.ActionedDate
	LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]   >= a.ActionedDate AND d.[Calendar Day] <= coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1))
	WHERE ltrim(rtrim(a.Description)) IN ('Adviser report completed') AND a.Caseid IN (
			SELECT caseid
			FROM [EKS_Archive2].[Core].[CaseTask]
			WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated')
			)
	GROUP BY a.CaseID,
		a.Description,
		bb.Forename1 + ' ' + bb.Surname,
		b.Description,
		a.ActionedDate,
		b.FirstActionedDate,
		b.ActionedByName,
		c.Referral_Date,
		sector,
		profession,
		c.office
	) d


--Merge Lead Adviser and Adviser Column
 
--Include main concern in different columns
--Include last closure date
--Include re-opened date
 
--select * from [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]

IF OBJECT_ID('[Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]') IS NOT NULL
	DROP TABLE [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]
 
SELECT 

Report_Type,
c.CaseID,
m.[Lead Adviser],
[Adviser],
m.[Lead Advice Service],
m.[Advice Service],
Convert(date,M.Referral_Date) as [Initial Contact Date],
[Month Start Date] as  [Innitial Contact Month],
[Financial Year] as [Innitial Contact Financial Year] ,
m.Call_Back_Priority AS [Callback priority],
[Actioned By],
[Sector],
[Profession],
[Country_Region] as  [Report_Region],
[Case_Type],
[Stage],
[Case_Status],
[Last Open Date],
[Last Closed Date],
[Current ReOpen Flag],
[Organisation_Name_At_Referral],
[Current_Employing_Contract_Org],
[Country_Region],
[GMC_GDC_Number],
[Gender],
[Age_At_Referral],
[Ethnicity],
[Ethnicity_Group],
[GradeDescription],
[GradeGroup],
[Specialty],
[Specialty_group],
w.SummaryConcernSection as CaseMainConcerns,
Disability,	
[First Date Description],
[First Date],
[Second Date Description],
[Second Date],
[Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

INTO [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]
FROM [#sum23]                          c
INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] m ON m.caseid = c.CaseId
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]  = m.Referral_Date

left join [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]w on w.caseid = m.caseid


--select * from [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]
 