USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [NCAS].[03_Create_SSRS_Advice_Report_Tables_and _Case_Concerns]    Script Date: 10/06/2019 08:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [NCAS].[03_Create_SSRS_Advice_Report_Tables_and _Case_Concerns]

AS

SET NOCOUNT ON




	If object_ID('tempdb..#Temp1') is not null
	drop table #Temp1
	  select 
	  distinct
	  ROW_NUMBER() OVER (partition by x.caseid ORDER BY  x.caseid,bb.Description ) as Rowid,
	  x.caseid,
	  x.CaseConcernId,
	  bb.Description as ConcernSectionDesc,
 
	   case when c.ConcernGroupId = 20 then 'Identify misconduct' else d.[Summary Concern Detail Item]  end as ConcernGroup,
	  c.DisplayText as [Sub Concern Group],
 
	   b.DisplayText as ConCernItemDesc,
	  case 
	  when a.State1 = 1 and c.ConcernGroupId = 20 then 'At Work'
	  when a.State1 = 1 and c.ConcernGroupId <> 20 then 'Now'
	  when a.State2 = 1 and c.ConcernGroupId = 20 then 'Outside work'
	  when a.State2 = 1 and c.ConcernGroupId <> 20 then 'Being Considered'
	  else null end as State

 
	 into #Temp1
	 FROM [EKS_Archive1].[Core].[CaseConcern]x
	 inner join [EKS_Archive1].[Core].[CaseConcernItem]a on a.CaseConcernId = x.CaseConcernId
	  inner join [EKS_Archive1].[Core].[CaseConcernSection]aa on aa.CaseConcernId = a.CaseConcernId and aa.State = 1
	  inner join [EKS_Archive1].[Core].[ConcernSection]bb on bb.ConcernSectionId = aa.SectionId 
	  inner join [EKS_Archive1].[Core].[ConcernItem]b on b.ConcernItemId = a.ItemId
	  inner join [EKS_Archive1].[Core].[ConcernGroup]c on c.ConcernGroupId = b.ConcernGroupId   and c.ConcernSectionId = aa.SectionId 
		left join
				(

				SELECT [CaseId]
		  ,[Description] as [Summary Concern]
		  ,[DisplayText] as [Summary Concern Detail Item] 
 
  
	  FROM [EKS_Archive1].[Rpt].[CaseConcernReportHeader]
	   where 
 
	   state <> -1
	   and [Description] <> 'What actions are being taken locally'




				)d on d.CaseId = x.CaseId
					and d.[Summary Concern] = bb.Description
	  where 
 
	  (State1 = 1 OR State2 = 1)
	  and x.SnapshotDate is null
	  and bb.Description <> 'What actions are being taken locally'

  	
	If object_ID('tempdb..#Temp2') is not null
	drop table #Temp2

	select
	distinct
	null as Rowid,
	Caseid,
	ConcernSectionDesc
	into #Temp2
	from #Temp1


	--select * from #Temp2


	update g
			set g.Rowid = b.Rowid
	from [#Temp2]g
	left join
			(
			select
			ROW_NUMBER() OVER (partition by caseid ORDER BY   caseid,ConcernSectionDesc ) as Rowid,
			Caseid,
			ConcernSectionDesc
			from #Temp2
			) b on b.CaseId = g.caseid 
			and b.ConcernSectionDesc = g.ConcernSectionDesc


  	
	If object_ID('tempdb..#Temp3') is not null
	drop table #Temp3

	select
	distinct
	null as Rowid,
	b.Rowid as ConcernSectionRowID,
	a.Caseid,
	ConCernItemDesc
	into #Temp3
	from #Temp1 a
	left join [#Temp2]b on b.CaseId = a.CaseId and b.ConcernSectionDesc = a.ConcernSectionDesc
	order by ConCernItemDesc

 

	update g
			set g.Rowid = b.Rowid
	from [#Temp3]g
	left join
			(
			select
			ROW_NUMBER() OVER (partition by caseid  ORDER BY   caseid,ConcernSectionRowID,ConCernItemDesc ) as Rowid,
			Caseid,
			ConCernItemDesc,
			ConcernSectionRowID
			from #Temp3
 
			) b on b.CaseId = g.caseid 
			and b.ConCernItemDesc = g.ConCernItemDesc
			and b.ConcernSectionRowID = g.ConcernSectionRowID

	 	IF OBJECT_ID('[Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]') IS NOT NULL 
		   dROP TABLE [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]

	;WITH CTE_Concatenated1 AS
		(
		SELECT  
		RowID 
	   ,caseid  

	 ,cast(cast(RowID as varchar(2))+') '+  ConcernSectionDesc  as varchar(800))  as ConcernSectionDesc

		FROM    [#Temp2]a
		WHERE   RowID = 1
		UNION ALL
		SELECT  b. RowID
				,b.caseid  

			 ,cast(a.ConcernSectionDesc +' '+ cast((a.RowID+1) as varchar(2))+') '+   b.ConcernSectionDesc as varchar(800))  
		FROM    CTE_Concatenated1 a
		JOIN    [#Temp2]b
		ON      b. RowID = cast(a.RowID as int) + 1
		and b.CaseId = a.CaseId
 
	
		)
 
		,
 
	CTE_Concatenated2 AS
		(
		SELECT  
		RowID 
	   ,caseid  
	 ,cast( '1) '+  ConCernItemDesc  as varchar(max))  as ConCernItemDesc

		FROM    [#Temp3]a
		WHERE   RowID = 1
		UNION ALL
		SELECT  b. RowID
				,b.caseid  
			 ,cast(a.ConCernItemDesc +'; '+ 
		 
											case 
												when b.ConcernSectionRowID = (select ConcernSectionRowID from [#Temp3]x where x.caseid = b.caseid and x.rowid = a.Rowid ) 
													then ''
													else cast((b.ConcernSectionRowID ) as varchar(2))+') ' end
													 +   b.ConCernItemDesc as varchar(max))  

		FROM    CTE_Concatenated2 a
		JOIN    [#Temp3]b
		ON      b. RowID = cast(a.RowID as int) + 1
		and b.CaseId = a.CaseId
	
	
		)
  

	 select
	a.Caseid,
	ConcernSectionDesc as SummaryConcernSection,
	b.ConCernItemDesc as SectionDetail

	into [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]

	 from CTE_Concatenated1 a
	 left join
			(
			select 
			caseid,
			ConCernItemDesc
			FROM    CTE_Concatenated2
			WHERE   RowID = (SELECT MAX(RowID) FROM [#Temp3] where caseid = CTE_Concatenated2.caseid ) 
			) b on b.CaseId = a.CaseId
	 WHERE  a.RowID = (SELECT MAX(RowID) FROM [#Temp2] where caseid = a.CaseId) 




	 	IF OBJECT_ID('[Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]') IS NOT NULL 
		   dROP TABLE [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]

		   select
		   Rowid as RowNumber,
		   CaseID,
		   ConcernSectionDesc,
		   ConcernGroup,
		   [Sub Concern Group],
		   ConCernItemDesc,
		   State

		   into [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]

		   from #Temp1
		   order by caseid, Rowid

--select * from [EKS_Archive 1].[Core].[10_CaseConcerns_All_Data]order by caseid, RowNumber
--select * from  [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]

--select * from [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]order by caseid, RowNumber


  	IF OBJECT_ID('[Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns]') IS NOT NULL 
	drop table [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns]
	  
	  
	  declare @ColumnNames  Nvarchar(Max) = '' 
	  Declare @RoleName Table (Rolename  Varchar(200) not null)
	  Declare @SQL2 NVarchar(Max) = ''
	  insert into @RoleName  select distinct ConcernSectionDesc from [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]
							 					


		select @ColumnNames  +=   QuoteName(RoleName) +',' from @RoleName
		set @ColumnNames = LEft(@ColumnNames,Len(@ColumnNames)-1)
		--print @ColumnNames

		set @SQL2 =

		'
 
	
	
		SELECT
		*
		into [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns]
			FROM
			(
					select
					distinct
					caseid,
					ConcernSectionDesc
					from
					(
					select * from [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]
					)d

			) AS P
		PIVOT
		(
			count(ConcernSectionDesc) FOR ConcernSectionDesc IN ('+ @ColumnNames + ')
			) AS pv '

			EXEC SP_Executesql @SQL2


 IF object_ID('tempdb..#sum23') IS NOT NULL
	DROP TABLE #sum23

SELECT *
INTO #sum23
FROM (
	SELECT '01 Referral Date to Adviser Allocated' AS Report_Type,
		bb.Forename1 + ' ' + bb.Surname AS [Actioned By],
		a.CaseID,
		'Innitial Contact Date' AS [First Date Description],
		c.Referral_Date AS [First Date],
		b.Description AS [Second Date Description],
		convert(DATE, b.FirstActionedDate) AS [Second Date],

	   (datediff(day, c.Referral_Date, (coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1)))) 
	   - sum(convert(INT, d.[Weekend Flag])) + sum(convert(INT, d.[Holiday Flag]))) 
	   AS [Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

	FROM [EKS_Archive1].[Core].[CaseTask]                          a
	LEFT JOIN [EKS_Archive1].[Core].[Appuser]                     bb ON bb.AppuserId = a.ActionedUserId
	INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] c ON c.CaseId     = a.CaseId
	LEFT JOIN (SELECT a.CaseID,
			          c.Description,
			          min(a.ActionedDate) AS FirstActionedDate,
			          c.ActionedByName
		       FROM [EKS_Archive1].[Core].[CaseTask] a
		       INNER JOIN (SELECT caseid,
				                  Description,
				                  ActionedDate,
				                  b.Forename1 + ' ' + b.Surname AS ActionedByName
			               FROM [EKS_Archive1].[Core].[CaseTask]     a
			               LEFT JOIN [EKS_Archive1].[Core].[Appuser] b ON b.AppuserId = a.ActionedUserId
			               WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated','Adviser allocated for first adviser callback')) AS c ON c.caseid = a.caseid AND c.ActionedDate = a.ActionedDate
		       GROUP BY a.CaseId,
			            c.Description,
			            ActionedByName ) AS                          b ON b.CaseId            = a.caseid 
                                                                      AND b.FirstActionedDate >= a.ActionedDate

	LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]                    >= c.Referral_Date 
      AND d.[Calendar Day]             <= coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1))

	WHERE ltrim(rtrim(a.Description)) IN ('Adviser Allocated','Adviser allocated for first adviser callback') AND a.Caseid IN (SELECT caseid
			                                                                    FROM [EKS_Archive1].[Core].[CaseTask]
			                                                                    WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated','Adviser allocated for first adviser callback'))
                                                                                GROUP BY a.CaseID,
	                                                                                	 c.Referral_Date,
	                                                                                     bb.Forename1 + ' ' + bb.Surname,
	                                                                                  	 b.Description,
	                                                                                	 b.FirstActionedDate,
	                                                                                	 b.ActionedByName,
	                                                                                	 sector,
	                                                                                	 profession,
	                                                                                	 c.office
	
	UNION ALL
	
	SELECT '02 Referral Date to First Adviser callback' AS Report_Type,
		bb.Forename1 + ' ' + bb.Surname AS [Actioned By],
		a.CaseID,
		'Innitial Contact Date' AS [First Date Description],
		Convert(DATE, c.Referral_Date) AS [First Date],
		'First Adviser callback' AS [Second Date Description],
		convert(DATE, b.FirstActionedDate) AS [Second Date],

		(datediff(day, c.Referral_Date, (coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1)))) 
		- sum(convert(INT, d.[Weekend Flag])) + sum(convert(INT, d.[Holiday Flag]))) 
		AS [Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

	FROM [EKS_Archive1].[Core].[CaseTask]                  a
	LEFT JOIN [EKS_Archive1].[Core].[Appuser]             bb ON bb.AppuserId = a.ActionedUserId
	INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] c ON c.CaseId     = a.CaseId
	LEFT JOIN (
		SELECT a.CaseID,
			c.Description,
			min(a.ActionedDate) AS FirstActionedDate,
			c.ActionedByName
		FROM [EKS_Archive1].[Core].[CaseTask] a
		INNER JOIN (
			SELECT caseid,
				Description,
				ActionedDate,
				b.Forename1 + ' ' + b.Surname AS ActionedByName
			FROM [EKS_Archive1].[Core].[CaseTask] a
			LEFT JOIN [EKS_Archive1].[Core].[Appuser] b ON b.AppuserId = a.ActionedUserId
			WHERE ltrim(rtrim(Description)) IN ('first adviser callback')
			) AS c ON c.caseid = a.caseid AND c.ActionedDate = a.ActionedDate
		GROUP BY a.CaseId,
			c.Description,
			ActionedByName
		) AS b ON b.CaseId = a.caseid AND b.FirstActionedDate >= a.ActionedDate
	LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]  >= c.Referral_Date AND d.[Calendar Day] <= coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1))
	WHERE ltrim(rtrim(a.Description)) IN ('first adviser callback') AND a.Caseid IN (
			SELECT caseid
			FROM [EKS_Archive1].[Core].[CaseTask]
			WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated','Adviser allocated for first adviser callback')
			)

	GROUP BY a.CaseID,
		c.Referral_Date,
		bb.Forename1 + ' ' + bb.Surname,
		b.Description,
		b.FirstActionedDate,
		b.ActionedByName,
		sector,
		profession,
		c.office
	
	UNION ALL
	


	SELECT '03 First Adviser callback to Advice Report Completed' AS Report_Type,
		bb.Forename1 + ' ' + bb.Surname AS [Actioned By],
		a.CaseID,
		'First Adviser callback' AS [First Date Description],
		convert(DATE, a.ActionedDate) AS [First Date],
		'First advice letter issued' AS [Second Date Description],
		convert(DATE, b.FirstActionedDate) AS [Second Date],

		(datediff(day, a.ActionedDate, (coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1)))) 
		- sum(convert(INT, d.[Weekend Flag])) + sum(convert(INT, d.[Holiday Flag]))) 
		AS [Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

	FROM [EKS_Archive1].[Core].[CaseTask] a
	LEFT JOIN [EKS_Archive1].[Core].[Appuser] bb ON bb.AppuserId = a.ActionedUserId
	INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] c ON c.CaseId = a.CaseId
	LEFT JOIN (
		SELECT a.CaseID,
			c.Description,
			min(a.ActionedDate) AS FirstActionedDate,
			c.ActionedByName
		FROM [EKS_Archive1].[Core].[CaseTask] a
		INNER JOIN (
			SELECT caseid,
				Description,
				ActionedDate,
				b.Forename1 + ' ' + b.Surname AS ActionedByName
			FROM [EKS_Archive1].[Core].[CaseTask] a
			LEFT JOIN [EKS_Archive1].[Core].[Appuser] b ON b.AppuserId = a.ActionedUserId
			WHERE ltrim(rtrim(Description)) IN ('First advice letter issued')
			) AS c ON c.caseid = a.caseid AND c.ActionedDate = a.ActionedDate
		WHERE ltrim(rtrim(a.Description)) IN ('First advice letter issued') AND a.Caseid IN (
				SELECT caseid
				FROM [EKS_Archive1].[Core].[CaseTask]
				WHERE ltrim(rtrim(Description)) IN ('First advice letter issued')
				)
		GROUP BY a.CaseId,
			c.Description,
			ActionedByName
		) AS b ON b.CaseId = a.caseid AND b.FirstActionedDate >= a.ActionedDate
	LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]   >= a.ActionedDate AND d.[Calendar Day] <= coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1))
	WHERE ltrim(rtrim(a.Description)) IN (
			'first adviser callback',
			'first adviser call-back'
			) AND a.Caseid IN (
			SELECT caseid
			FROM [EKS_Archive1].[Core].[CaseTask]
			WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated','Adviser allocated for first adviser callback')
			)
	GROUP BY a.CaseID,
		a.Description,
		bb.Forename1 + ' ' + bb.Surname,
		c.referral_date,
		b.Description,
		a.ActionedDate,
		b.FirstActionedDate,
		b.ActionedByName,
		sector,
		profession,
		c.office
	
	UNION ALL
	
	SELECT '04 Adviser Report Completed to First Adviser Letter Issued' AS Report_Type,
		bb.Forename1 + ' ' + bb.Surname AS [Actioned by],
		a.CaseID,
		'Adviser report completed' AS [First Date Description],
		convert(DATE, a.ActionedDate) AS [First Date],
		'First advice letter issued' AS [Second Date Description],
		Convert(DATE, b.FirstActionedDate) AS [Second Date],

		(datediff(day, a.ActionedDate, (coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1)))) 
		- sum(convert(INT, d.[Weekend Flag])) + sum(convert(INT, d.[Holiday Flag]))) 
		AS [Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]
 
	FROM [EKS_Archive1].[Core].[CaseTask] a
	LEFT JOIN [EKS_Archive1].[Core].[Appuser] bb ON bb.AppuserId = a.ActionedUserId
	INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  c ON c.CaseId = a.CaseId
	LEFT JOIN (
		SELECT a.CaseID,
			c.Description,
			min(a.ActionedDate) AS FirstActionedDate,
			c.ActionedByName
		FROM [EKS_Archive1].[Core].[CaseTask] a
		INNER JOIN (
			SELECT caseid,
				Description,
				ActionedDate,
				b.Forename1 + ' ' + b.Surname AS ActionedByName
			FROM [EKS_Archive1].[Core].[CaseTask] a
			LEFT JOIN [EKS_Archive1].[Core].[Appuser] b ON b.AppuserId = a.ActionedUserId
			WHERE ltrim(rtrim(Description)) IN ('First advice letter issued')
			) AS c ON c.caseid = a.caseid AND c.ActionedDate = a.ActionedDate
		WHERE ltrim(rtrim(a.Description)) IN ('First advice letter issued') AND a.Caseid IN (
				SELECT caseid
				FROM [EKS_Archive1].[Core].[CaseTask]
				WHERE ltrim(rtrim(Description)) IN ('Adviser report completed')
				)

		GROUP BY a.CaseId,
			c.Description,
			ActionedByName
		) AS b ON b.CaseId = a.caseid AND b.FirstActionedDate >= a.ActionedDate
	LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]   >= a.ActionedDate AND d.[Calendar Day] <= coalesce(b.FirstActionedDate, DATEADD(MONTH, DATEDIFF(MONTH, - 1, GETDATE()) - 1, - 1))
	WHERE ltrim(rtrim(a.Description)) IN ('Adviser report completed') AND a.Caseid IN (
			SELECT caseid
			FROM [EKS_Archive1].[Core].[CaseTask]
			WHERE ltrim(rtrim(Description)) IN ('Adviser Allocated','Adviser allocated for first adviser callback')
			)
	GROUP BY a.CaseID,
		a.Description,
		bb.Forename1 + ' ' + bb.Surname,
		b.Description,
		a.ActionedDate,
		b.FirstActionedDate,
		b.ActionedByName,
		c.Referral_Date,
		sector,
		profession,
		c.office
	) d


--Merge Lead Adviser and Adviser Column
 
--Include main concern in different columns
--Include last closure date
--Include re-opened date
 
--select * from [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] 

declare @MonthEndTest date

set @MonthEndTEst = getdate()-1
--print @MonthEndTest [NCAS].[07_Create_BOT_KPI_Report_Base_Data]
--print eomonth(@MonthEndTest)
--Print eomonth(convert(date,GetDate()))

if eomonth(convert(date,GetDate())) = eomonth(@MonthEndTest)

Begin


IF OBJECT_ID('[Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]') IS NOT NULL
	DROP TABLE [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]
 
SELECT 

Report_Type,
c.CaseID,
m.[Lead Adviser],
[Adviser],
m.[Lead Advice Service],
m.[Advice Service],
Convert(datetime,M.Referral_Date) as [Initial Contact Date],
Convert(datetime,[Month Start Date]) as  [Innitial Contact Month],
[Financial Year] as [Innitial Contact Financial Year] ,
m.Call_Back_Priority AS [Callback priority],
[Actioned By],
[Sector],
[Profession],
[Country_Region] as  [Report_Region],
[Case_Type],
[Stage],
[Case_Status],
Convert(datetime,[Last Open Date]) as [Last Open Date] ,
Convert(datetime,[Last Closed Date]) as [Last Closed Date],
[Current ReOpen Flag],
[Organisation_Name_At_Referral],
[Current_Employing_Contract_Org],
[Country_Region],
[GMC_GDC_Number],
[Gender],
[Age_At_Referral],
[Ethnicity],
[Ethnicity_Group],
[GradeDescription],
[GradeGroup],
[Specialty],
[Specialty_group],
w.SummaryConcernSection as CaseMainConcerns,
Disability,	
[First Date Description],
Convert(datetime,[First Date]) as [First Date],
[Second Date Description],
Convert(datetime,[Second Date]) as [Second Date],
[Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

INTO [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]
FROM [#sum23]                          c
INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  m ON m.caseid = c.CaseId
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]  = m.Referral_Date

left join [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]w on w.caseid = m.caseid


--select * from [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]
 END

 ELSE

 Begin

 IF OBJECT_ID('[Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary_Archive2]') IS NOT NULL 
		   dROP TABLE [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary_Archive2]

		   select 
		   *
		   into [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary_Archive2]
		   from [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]


	 	IF OBJECT_ID('[Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Archive2]') IS NOT NULL 
		   dROP TABLE [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Archive2]

		      select 
		   *
		   into [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Archive2]
		   from [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]


 	IF OBJECT_ID('[Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns_Archive2]') IS NOT NULL 
	drop table [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns_Archive2]

	      select 
		   *
		   into [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns_Archive2]
		   from [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Main_Concerns]


IF OBJECT_ID('[Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]') IS NOT NULL
	DROP TABLE [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]

  
SELECT 

Report_Type,
c.CaseID,
m.[Lead Adviser],
[Adviser],
m.[Lead Advice Service],
m.[Advice Service],
Convert(datetime,M.Referral_Date) as [Initial Contact Date],
Convert(datetime,[Month Start Date]) as  [Innitial Contact Month],
[Financial Year] as [Innitial Contact Financial Year] ,
m.Call_Back_Priority AS [Callback priority],
[Actioned By],
[Sector],
[Profession],
[Country_Region] as  [Report_Region],
[Case_Type],
[Stage],
[Case_Status],
Convert(datetime,[Last Open Date]) as [Last Open Date] ,
Convert(datetime,[Last Closed Date]) as [Last Closed Date],
[Current ReOpen Flag],
[Organisation_Name_At_Referral],
[Current_Employing_Contract_Org],
[Country_Region],
[GMC_GDC_Number],
[Gender],
[Age_At_Referral],
[Ethnicity],
[Ethnicity_Group],
[GradeDescription],
[GradeGroup],
[Specialty],
[Specialty_group],
w.SummaryConcernSection as CaseMainConcerns,
Disability,	
[First Date Description],
Convert(datetime,[First Date]) as [First Date],
[Second Date Description],
Convert(datetime,[Second Date]) as [Second Date],
[Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

INTO [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data]
FROM [#sum23]                          c
INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  m ON m.caseid = c.CaseId
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]  = m.Referral_Date

left join [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]w on w.caseid = m.caseid


IF OBJECT_ID('[Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data_Archive2]') IS NOT NULL
	DROP TABLE [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data_Archive2]
 
SELECT 

Report_Type,
c.CaseID,
m.[Lead Adviser],
[Adviser],
m.[Lead Advice Service],
m.[Advice Service],
Convert(datetime,M.Referral_Date) as [Initial Contact Date],
Convert(datetime,[Month Start Date]) as  [Innitial Contact Month],
[Financial Year] as [Innitial Contact Financial Year] ,
m.Call_Back_Priority AS [Callback priority],
[Actioned By],
[Sector],
[Profession],
[Country_Region] as  [Report_Region],
[Case_Type],
[Stage],
[Case_Status],
Convert(datetime,[Last Open Date]) as [Last Open Date] ,
Convert(datetime,[Last Closed Date]) as [Last Closed Date],
[Current ReOpen Flag],
[Organisation_Name_At_Referral],
[Current_Employing_Contract_Org],
[Country_Region],
[GMC_GDC_Number],
[Gender],
[Age_At_Referral],
[Ethnicity],
[Ethnicity_Group],
[GradeDescription],
[GradeGroup],
[Specialty],
[Specialty_group],
w.SummaryConcernSection as CaseMainConcerns,
Disability,	
[First Date Description],
Convert(datetime,[First Date]) as [First Date],
[Second Date Description],
Convert(datetime,[Second Date]) as [Second Date],
[Time Taken Working Days OR Month-End wait if no Adviser Alocated Date]

INTO [Informatics_Reporting].[NCAS].[05_EKS_Advice_Report_Data_Archive2]
FROM [#sum23]                          c
INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  m ON m.caseid = c.CaseId
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  d ON d.[Calendar Day]  = m.Referral_Date

left join [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]w on w.caseid = m.caseid


IF OBJECT_ID('[Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary_Archive2]') IS NOT NULL
drop table [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary_Archive2]
select
*
into [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary_Archive2]

from [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]


IF OBJECT_ID('[Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Archive2]') IS NOT NULL
drop table [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Archive2]
select
*
into [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data_Archive2]

from [Informatics_Reporting].[NCAS].[10_CaseConcerns_All_Data]



END

 
