USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [NCAS].[06_Create_EKS_COG_Assement_Consideration]    Script Date: 10/06/2019 10:36:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [NCAS].[06_Create_EKS_COG_Assement_Consideration]

AS

SET NOCOUNT ON





  If object_ID('tempdb..#sum23') is not null
drop table #sum23

SELECT 
caseid,
tasksequence as OrigTaskSeq,
Rank() over ( Partition by Caseid Order by TaskSequence) TaskSequence,

Description,
TargetDate,
ActionedDate,
a.ActionedUserId

into #sum23

  FROM [EKS_Archive1].[Core].[CaseTask]a
  
  where description in 
  (
	'Referral form issued'
	,
	'Referral form back'
  )
  --and caseid = 1875
  and  ActionedDate is not null
and caseid in
			(
			select
			a.caseid
			FROM [EKS_Archive1].[Core].[CaseProgressionHistory]a
			inner join
			(
			select
			caseid,
			max(CaseProgHistoryId) as lasTHist
			FROM [EKS_Archive1].[Core].[CaseProgressionHistory]
			
			group by
			caseid
			) as b on b.CaseId = a.caseid
				and b.lasTHist = a.CaseProgHistoryId
			--where a.CaseStatusId = 1

			

			) 




delete  from #sum23 where tasksequence = 1 and Description = 'Referral form back'





delete s from [#sum23]s 
inner join
(
select
distinct
b.*

from [#sum23]a
inner join  [#sum23]b on b.CaseId = a.CaseId 
					and b.Description = 'Referral form issued'
					and b.ActionedDate <= a.ActionedDate
					and b.OrigTaskSeq > a.OrigTaskSeq

) as m on m.CaseId = s.caseid
		and m.TaskSequence = s.TaskSequence


update r
	set r.TaskSequence = s.TaskSequence

from [#sum23]r
left join
(
select
caseid,
OrigTaskSeq,
Rank() over ( Partition by Caseid Order by OrigTaskSeq) TaskSequence

from [#sum23]

) as s on s.caseid = r.caseid
	  and s.OrigTaskSeq = r.OrigTaskSeq

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  If object_ID('tempdb..#sum25') is not null
drop table #sum25

SELECT 
caseid,
tasksequence as OrigTaskSeq,
Rank() over ( Partition by Caseid Order by TaskSequence) TaskSequence,

Description,
coalesce(TargetDate,ActionedDate) as StartDate

into #sum25

  FROM [EKS_Archive1].[Core].[CaseTask]
  where description in 
  (
	'Case suitable for assessment'
	,
	'Asssessment ruled out'
  )

and caseid in
			(
			select
			a.caseid
			FROM [EKS_Archive1].[Core].[CaseProgressionHistory]a
			inner join
			(
			select
			caseid,
			max(CaseProgHistoryId) as lasTHist
			FROM [EKS_Archive1].[Core].[CaseProgressionHistory]
			
			group by
			caseid
			) as b on b.CaseId = a.caseid
				and b.lasTHist = a.CaseProgHistoryId
			--where a.CaseStatusId = 1
			) 
and TaskTypeId = 2		

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

declare @MonthEndTest date

set @MonthEndTEst = getdate()-1
--print @MonthEndTest 
--print eomonth(@MonthEndTest)
--Print eomonth(convert(date,GetDate()))

if eomonth(convert(date,GetDate())) = eomonth(@MonthEndTest)

Begin


if OBJECT_ID('[Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration]') is not null
	drop table [Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration]

	 
	
SELECT


a.caseid,
x.[Lead Adviser],
[Adviser],
x.[Lead Advice Service],
x.[Advice Service],
z.[Month Start Date] as [Initial Contact Month],
z.[Financial Year] as [Initial Contact Year],
convert(datetime,x.Referral_Date) as [Initial Contact Date],
[Sector],
[Profession],
[Country_Region] as  [Report_Region],
[Case_Type],
[Stage],
[Case_Status],
convert(datetime,x.[Last Open Date]) as [Last Open Date],
convert(datetime,x.[Last Closed Date])as [Last Closed Date],
x.[Current ReOpen Flag],
[Organisation_Name_At_Referral],
[Current_Employing_Contract_Org],
[Country_Region],
[GMC_GDC_Number],
[Gender],
[Age_At_Referral],
[Ethnicity],
[Ethnicity_Group],
[GradeDescription],
[GradeGroup],
[Specialty],
[Specialty_group],
w.SummaryConcernSection as CaseMainConcerns,
x.Disability,

a.description as [Start Action Description],
 bb.Forename1 + ' ' + bb.Surname AS [Actioned by],
convert(datetime,a.actionedDate) as [Start Action Date],
convert(datetime,y.[Month Start Date]) as [Start Action Month],
y.[Financial Year] as [Start Action Year],

b.description as [Return Action Description],
convert(datetime,b.actionedDate) as [Return Action Date],
 
datediff(d,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) as TimeTaken,
case
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) <= 3 then '3'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 4 and 6 then '6'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 7 and 12 then '12'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 13 and 18 then '18'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) > 18 then '24+'
End as TimeBand,
convert(datetime,c.StartDate) as [Suitable for Assesment Start Date],
 
convert(datetime,d.StartDate) as [Assesment NOT Suitable Date] 

into [Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration]

from [#sum23]a
inner join [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] x on x.CaseId = a.CaseId
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  z ON z.[Calendar Day]  = x.Referral_Date
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  y ON y.[Calendar Day]  = convert(date,a.ActionedDate)
LEFT JOIN [EKS_Archive1].[Core].[Appuser] bb ON bb.AppuserId = a.ActionedUserId
left join [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]w on w.caseid = x.caseid
left join [#sum23]b on b.caseid = a.caseid
					and b.tasksequence = a.TaskSequence + 1
left join [#sum25]c on c.CaseId = a.CaseId 
					and c.Description = 'Case suitable for assessment'
left join [#sum25]d on d.CaseId = a.CaseId 
					and d.Description = 'Asssessment ruled out'


where 

a.Description = 'Referral form issued'

 


order by a.actionedDate

--select * from [Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration]
--select * from [EKS_Archive1].[Core].[02_EKS_Case_Details]where caseid = 14286
END
ELSE
BEGIN



if OBJECT_ID('[Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration]') is not null
	drop table [Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration]

	 
	
SELECT


a.caseid,
x.[Lead Adviser],
[Adviser],
x.[Lead Advice Service],
x.[Advice Service],
z.[Month Start Date] as [Initial Contact Month],
z.[Financial Year] as [Initial Contact Year],
convert(datetime,x.Referral_Date) as [Initial Contact Date],
[Sector],
[Profession],
[Country_Region] as  [Report_Region],
[Case_Type],
[Stage],
[Case_Status],
convert(datetime,x.[Last Open Date]) as [Last Open Date],
convert(datetime,x.[Last Closed Date])as [Last Closed Date],
x.[Current ReOpen Flag],
[Organisation_Name_At_Referral],
[Current_Employing_Contract_Org],
[Country_Region],
[GMC_GDC_Number],
[Gender],
[Age_At_Referral],
[Ethnicity],
[Ethnicity_Group],
[GradeDescription],
[GradeGroup],
[Specialty],
[Specialty_group],
w.SummaryConcernSection as CaseMainConcerns,
x.Disability,

a.description as [Start Action Description],
 bb.Forename1 + ' ' + bb.Surname AS [Actioned by],
convert(datetime,a.actionedDate) as [Start Action Date],
convert(datetime,y.[Month Start Date]) as [Start Action Month],
y.[Financial Year] as [Start Action Year],

b.description as [Return Action Description],
convert(datetime,b.actionedDate) as [Return Action Date],
 
datediff(d,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) as TimeTaken,
case
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) <= 3 then '3'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 4 and 6 then '6'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 7 and 12 then '12'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 13 and 18 then '18'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) > 18 then '24+'
End as TimeBand,
convert(datetime,c.StartDate) as [Suitable for Assesment Start Date],
 
convert(datetime,d.StartDate) as [Assesment NOT Suitable Date] 

into [Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration]

from [#sum23]a
inner join [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] x on x.CaseId = a.CaseId
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  z ON z.[Calendar Day]  = x.Referral_Date
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  y ON y.[Calendar Day]  = convert(date,a.ActionedDate)
LEFT JOIN [EKS_Archive1].[Core].[Appuser] bb ON bb.AppuserId = a.ActionedUserId
left join [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]w on w.caseid = x.caseid
left join [#sum23]b on b.caseid = a.caseid
					and b.tasksequence = a.TaskSequence + 1
left join [#sum25]c on c.CaseId = a.CaseId 
					and c.Description = 'Case suitable for assessment'
left join [#sum25]d on d.CaseId = a.CaseId 
					and d.Description = 'Asssessment ruled out'


where 

a.Description = 'Referral form issued'

 


order by a.actionedDate


if OBJECT_ID('[Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration_Archive2]') is not null
	drop table [Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration_Archive2]

	 
	
SELECT


a.caseid,
x.[Lead Adviser],
[Adviser],
x.[Lead Advice Service],
x.[Advice Service],
z.[Month Start Date] as [Initial Contact Month],
z.[Financial Year] as [Initial Contact Year],
convert(datetime,x.Referral_Date) as [Initial Contact Date],
[Sector],
[Profession],
[Country_Region] as  [Report_Region],
[Case_Type],
[Stage],
[Case_Status],
convert(datetime,x.[Last Open Date]) as [Last Open Date],
convert(datetime,x.[Last Closed Date])as [Last Closed Date],
x.[Current ReOpen Flag],
[Organisation_Name_At_Referral],
[Current_Employing_Contract_Org],
[Country_Region],
[GMC_GDC_Number],
[Gender],
[Age_At_Referral],
[Ethnicity],
[Ethnicity_Group],
[GradeDescription],
[GradeGroup],
[Specialty],
[Specialty_group],
w.SummaryConcernSection as CaseMainConcerns,
x.Disability,

a.description as [Start Action Description],
 bb.Forename1 + ' ' + bb.Surname AS [Actioned by],
convert(datetime,a.actionedDate) as [Start Action Date],
convert(datetime,y.[Month Start Date]) as [Start Action Month],
y.[Financial Year] as [Start Action Year],

b.description as [Return Action Description],
convert(datetime,b.actionedDate) as [Return Action Date],
 
datediff(d,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) as TimeTaken,
case
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) <= 3 then '3'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 4 and 6 then '6'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 7 and 12 then '12'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) Between 13 and 18 then '18'
when datediff(m,convert(date,a.actionedDate),coalesce(convert(date,b.actionedDate),DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)))) > 18 then '24+'
End as TimeBand,
convert(datetime,c.StartDate) as [Suitable for Assesment Start Date],
 
convert(datetime,d.StartDate) as [Assesment NOT Suitable Date] 

into [Informatics_Reporting].[NCAS].[07_EKS_COG_Assesment_Consideration_Archive2]

from [#sum23]a
inner join [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] x on x.CaseId = a.CaseId
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  z ON z.[Calendar Day]  = x.Referral_Date
LEFT JOIN [Informatics_Reporting].[dbo].[DIM_Date]  y ON y.[Calendar Day]  = convert(date,a.ActionedDate)
LEFT JOIN [EKS_Archive1].[Core].[Appuser] bb ON bb.AppuserId = a.ActionedUserId
left join [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary]w on w.caseid = x.caseid
left join [#sum23]b on b.caseid = a.caseid
					and b.tasksequence = a.TaskSequence + 1
left join [#sum25]c on c.CaseId = a.CaseId 
					and c.Description = 'Case suitable for assessment'
left join [#sum25]d on d.CaseId = a.CaseId 
					and d.Description = 'Asssessment ruled out'


where 

a.Description = 'Referral form issued'

 


order by a.actionedDate


END