USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [NCAS].[11_Create_Referral_Assessment_Data]    Script Date: 10/06/2019 10:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NCAS].[11_Create_Referral_Assessment_Data]
AS



IF object_ID('[Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data]') IS NOT NULL
	DROP TABLE [Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data]

	declare @MonthEnd date

	set @MonthEnd = DATEADD(DAY, -(DAY(getdate())), getdate())


DECLARE @Age TABLE (
	Age_At_Referral VARCHAR(250),
	Report_Age VARCHAR(250)
	)

INSERT INTO @Age
SELECT '35-39',
	'<40'

UNION ALL

SELECT '<30',
	'<40'

UNION ALL

SELECT '70+',
	'60+'

UNION ALL

SELECT '30-34',
	'<40'

UNION ALL

SELECT '55-59',
	'50-59'

UNION ALL

SELECT '50-54',
	'50-59'

UNION ALL

SELECT '65-69',
	'60+'

UNION ALL

SELECT 'Not known',
	'Not known'

UNION ALL

SELECT 'Not applicable (General case)',
	'Not applicable (General case)'

UNION ALL

SELECT '40-44',
	'40-49'

UNION ALL

SELECT '60-64',
	'60+'

UNION ALL

SELECT '45-49',
	'40-49'

--select distinct Age_At_Referral from  [EKS_Archive1].[Core].[02_EKS_Case_Details]
DECLARE @GCCode2 TABLE (
	[Reporting Month] VARCHAR(10) ,
	--[Referral Date] date,
	Caseid BIGINT,
	adviser VARCHAR(max),
	[From Milestone Actioned Date] DATE,
	[From Milestone Type] VARCHAR(200),
	[From Milestone Description] VARCHAR(200),
	[To Milestone Actioned Date] DATE,
	--[To Milestone Type] Varchar(200),
	[To Milestone Description] VARCHAR(200)
	);

INSERT INTO @GCCode2
--Fiona Cronin requested Financial year be based on Milestone to date and not Milestone from date
select
--SELECT datename(year, (
--			CASE 
--				WHEN DATEPART(Day, a.[ACTIONEDDATE]) = 1
--					THEN a.[ACTIONEDDATE]
--				ELSE DATEADD(mm, DATEDIFF(mm, 0, a.[ACTIONEDDATE]), 0)
--				END
--			)) + ' - ' + left(datename(month, (
--				CASE 
--					WHEN DATEPART(Day, a.[ACTIONEDDATE]) = 1
--						THEN a.[ACTIONEDDATE]
--					ELSE DATEADD(mm, DATEDIFF(mm, 0, a.[ACTIONEDDATE]), 0)
--					END
--				)), 3) AS [Reporting Month],

cast(null as varchar(10)) AS [Reporting Month],
	--null as [Referral Date],
	a.CaseId,
	--coalesce(c.Adviser, c.Senior_Advisor) AS Adviser,--JC Modified - no senior_adviser field 31/08/2018
    c.Adviser,
	convert(DATE, a.[ACTIONEDDATE]) AS [From Milestone Actioned Date],
	--d.Description as [Task Type],
	b.Description AS [From Milestone Type],
	a.description AS [From Milestone Description],
	(
		SELECT min(ActionedDate)
		FROM [EKS_Archive1].[Core].[CaseTask]
		WHERE caseid = a.caseid AND description IN ('Final report issued') AND ActionedDate >= a.ActionedDate
		) AS [To Milestone Actioned Date],
	--cast(null as varchar(200)) as [To Milestone Type],
	cast(NULL AS VARCHAR(200)) AS [To Milestone Description]
FROM [EKS_Archive1].[Core].[CaseTask] a
LEFT JOIN [EKS_Archive1].[Core].[CaseStage] b ON b.CaseStageId = a.CaseStageId
INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details] c ON c.caseid = a.CaseId
LEFT JOIN [EKS_Archive1].[Core].[TaskType] d ON d.TaskTypeId = a.TaskTypeId
WHERE (a.description IN ('Referral form back')) AND a.notApplicable <> 1
	--and a.TaskTypeId = 2
	--and 
	--(
	--a.ActionedDate >= @StartDate
	--and 
	--a.ActionedDate < @EndDate
	--)
	AND (
		SELECT min(ActionedDate)
		FROM [EKS_Archive1].[Core].[CaseTask]
		WHERE caseid = a.caseid AND description IN ('Final report issued') AND ActionedDate >= a.ActionedDate
		)  IS NOT NULL
	--and a.ActionedDate is not null

UPDATE r
SET r.[To Milestone Description] = CASE 
		WHEN [To Milestone Actioned Date] IS NOT NULL
			THEN 'Final report issued'
		ELSE NULL
		END,
		r.[Reporting Month] = datename(year, (
			CASE 
				WHEN DATEPART(Day, coalesce([To Milestone Actioned Date],@MonthEnd)) = 1
					THEN [To Milestone Actioned Date]
				ELSE DATEADD(mm, DATEDIFF(mm, 0, coalesce([To Milestone Actioned Date],@MonthEnd)), 0)
				END
			)) + ' - ' + left(datename(month, (
				CASE 
					WHEN DATEPART(Day, coalesce([To Milestone Actioned Date],@MonthEnd)) = 1
						THEN [To Milestone Actioned Date]
					ELSE DATEADD(mm, DATEDIFF(mm, 0, coalesce([To Milestone Actioned Date],@MonthEnd)), 0)
					END
				)), 3) 
FROM @GCCode2 r


declare @MonthEndTest date

set @MonthEndTEst = getdate()-1
--print @MonthEndTest 
--print eomonth(@MonthEndTest)
--Print eomonth(convert(date,GetDate()))

if eomonth(convert(date,GetDate())) = eomonth(@MonthEndTest)

Begin




SELECT [Reporting Month],
	e.[Referral_Date],
	d.Caseid,
	d.adviser,
	e.Age_At_Referral,
	coalesce(g.Report_Age, 'Incomplete') AS [Report Age],
	e.Country_Region,
	e.Ethnicity,
	e.Ethnicity_Group,
	e.Gender,
	e.GradeDescription,
	e.GradeGroup,
	e.Profession,
	e.QualificationLocationDesc,
	e.Sector,
	e.Specialty,
	e.Specialty_group,
	f.SummaryConcernSection AS [Main Case Concerns],
	z.Description AS Disability,
	[From Milestone Actioned Date],
	[From Milestone Type],
	[From Milestone Description],
	[To Milestone Actioned Date],
	[To Milestone Description]
INTO [Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data]
FROM @GCCode2 d
LEFT JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  e ON e.CaseId = d.Caseid
LEFT JOIN [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary] f ON f.caseid = d.Caseid
LEFT JOIN @Age g ON g.Age_At_Referral = e.Age_At_Referral
LEFT JOIN [EKS_Archive1].[Core].[Cases] x ON x.caseid = d.caseid
LEFT JOIN [EKS_Archive1].[Core].[Practitioner] y ON y.[PractitionerId] = x.[PractitionerId]
LEFT JOIN [EKS_Archive1].[Core].[DisabilityType] z ON z.[DisabilityTypeId] = y.[DisabilityTypeId]
ORDER BY [Reporting Month],
	Caseid,
	[From Milestone Actioned Date]
	--select * FROM[EKS_Archive 2].[Core].[10_CaseConcerns_Summary]
	--	select * FROM [EKS_Archive 2].[Core].[CaseTask] where caseid = 11773
	--	select * from [EKS_Archive 2].[Core].[11_Referral_Assessment_Data] where caseid = 7107
	--	SELECT *
	--FROM [EKS_Archive 2].[Core].[02_EKS_Case_Details]
	--where caseid = 7107
END

ELSE

BEGIN


IF object_ID('[Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data]') IS NOT NULL
	DROP TABLE [Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data]
SELECT [Reporting Month],
	e.[Referral_Date],
	d.Caseid,
	d.adviser,
	e.Age_At_Referral,
	coalesce(g.Report_Age, 'Incomplete') AS [Report Age],
	e.Country_Region,
	e.Ethnicity,
	e.Ethnicity_Group,
	e.Gender,
	e.GradeDescription,
	e.GradeGroup,
	e.Profession,
	e.QualificationLocationDesc,
	e.Sector,
	e.Specialty,
	e.Specialty_group,
	f.SummaryConcernSection AS [Main Case Concerns],
	z.Description AS Disability,
	[From Milestone Actioned Date],
	[From Milestone Type],
	[From Milestone Description],
	[To Milestone Actioned Date],
	[To Milestone Description]
INTO [Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data]
FROM @GCCode2 d
LEFT JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  e ON e.CaseId = d.Caseid
LEFT JOIN [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary] f ON f.caseid = d.Caseid
LEFT JOIN @Age g ON g.Age_At_Referral = e.Age_At_Referral
LEFT JOIN [EKS_Archive1].[Core].[Cases] x ON x.caseid = d.caseid
LEFT JOIN [EKS_Archive1].[Core].[Practitioner] y ON y.[PractitionerId] = x.[PractitionerId]
LEFT JOIN [EKS_Archive1].[Core].[DisabilityType] z ON z.[DisabilityTypeId] = y.[DisabilityTypeId]
ORDER BY [Reporting Month],
	Caseid,
	[From Milestone Actioned Date]
	 


	 
IF object_ID('[Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data_Archive2]') IS NOT NULL
	DROP TABLE [Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data_Archive2]
SELECT [Reporting Month],
	e.[Referral_Date],
	d.Caseid,
	d.adviser,
	e.Age_At_Referral,
	coalesce(g.Report_Age, 'Incomplete') AS [Report Age],
	e.Country_Region,
	e.Ethnicity,
	e.Ethnicity_Group,
	e.Gender,
	e.GradeDescription,
	e.GradeGroup,
	e.Profession,
	e.QualificationLocationDesc,
	e.Sector,
	e.Specialty,
	e.Specialty_group,
	f.SummaryConcernSection AS [Main Case Concerns],
	z.Description AS Disability,
	[From Milestone Actioned Date],
	[From Milestone Type],
	[From Milestone Description],
	[To Milestone Actioned Date],
	[To Milestone Description]
INTO [Informatics_Reporting].[NCAS].[11_Referral_Assessment_Data_Archive2]
FROM @GCCode2 d
LEFT JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  e ON e.CaseId = d.Caseid
LEFT JOIN [Informatics_Reporting].[NCAS].[10_CaseConcerns_Summary] f ON f.caseid = d.Caseid
LEFT JOIN @Age g ON g.Age_At_Referral = e.Age_At_Referral
LEFT JOIN [EKS_Archive1].[Core].[Cases] x ON x.caseid = d.caseid
LEFT JOIN [EKS_Archive1].[Core].[Practitioner] y ON y.[PractitionerId] = x.[PractitionerId]
LEFT JOIN [EKS_Archive1].[Core].[DisabilityType] z ON z.[DisabilityTypeId] = y.[DisabilityTypeId]
ORDER BY [Reporting Month],
	Caseid,
	[From Milestone Actioned Date]


	END