USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [NCAS].[07_Create_BOT_KPI_Report_Base_Data]    Script Date: 10/06/2019 10:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [NCAS].[07_Create_BOT_KPI_Report_Base_Data]

AS

SET NOCOUNT ON

declare @MonthEndTest date

set @MonthEndTEst = getdate()-1
--print @MonthEndTest 
--print eomonth(@MonthEndTest)
--Print eomonth(convert(date,GetDate()))

if eomonth(convert(date,GetDate())) = eomonth(@MonthEndTest)

Begin
	
	IF OBJECT_ID('[Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data]') IS NOT NULL 
		DROP TABLE [Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data]

		SELECT a.caseid,
		       caseTaskid,
		       RANK() OVER (PARTITION BY a.caseid,ltrim(rtrim(Description)) ORDER BY caseTaskid ) AS TaskRank,
		       a.ActionedDate,
		LTRIM(RTRIM(Description)) AS Description
		INTO [Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data]
		FROM [EKS_Archive1].[Core].[CaseTask]                          a
		INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  b ON b.CaseId = a.CaseId
		WHERE LTRIM(RTRIM(Description)) IN ('BOT - action plan drafted',
										    'BOT - action plan issued',
										    'BOT request for review of external Action Plan accepted',
										    'BOT - action plan reviewed',
										    'BOT request for Action Plan accepted')

	    AND b.Case_Status NOT IN ('Void')

		End
		ELSE
		BEGIN

		
	IF OBJECT_ID('[Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data]') IS NOT NULL 
		DROP TABLE [Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data]

		SELECT a.caseid,
		       caseTaskid,
		       RANK() OVER (PARTITION BY a.caseid,ltrim(rtrim(Description)) ORDER BY caseTaskid ) AS TaskRank,
		       a.ActionedDate,
		LTRIM(RTRIM(Description)) AS Description
		INTO [Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data]
		FROM [EKS_Archive1].[Core].[CaseTask]                          a
		INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  b ON b.CaseId = a.CaseId
		WHERE LTRIM(RTRIM(Description)) IN ('BOT - action plan drafted',
										    'BOT - action plan issued',
										    'BOT request for review of external Action Plan accepted',
										    'BOT - action plan reviewed',
										    'BOT request for Action Plan accepted')

	    AND b.Case_Status NOT IN ('Void')


		
	IF OBJECT_ID('[Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data_Archive2]') IS NOT NULL 
		DROP TABLE [Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data_Archive2]

		SELECT a.caseid,
		       caseTaskid,
		       RANK() OVER (PARTITION BY a.caseid,ltrim(rtrim(Description)) ORDER BY caseTaskid ) AS TaskRank,
		       a.ActionedDate,
		LTRIM(RTRIM(Description)) AS Description
		INTO [Informatics_Reporting].[NCAS].[07_BOT_KPI_Report_Base_Data_Archive2]
		FROM [EKS_Archive1].[Core].[CaseTask]                          a
		INNER JOIN [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  b ON b.CaseId = a.CaseId
		WHERE LTRIM(RTRIM(Description)) IN ('BOT - action plan drafted',
										    'BOT - action plan issued',
										    'BOT request for review of external Action Plan accepted',
										    'BOT - action plan reviewed',
										    'BOT request for Action Plan accepted')

	    AND b.Case_Status NOT IN ('Void')


		END