USE [Informatics_Reporting]
GO
/****** Object:  StoredProcedure [NCAS].[12_Create_Regional_Referral_Data]    Script Date: 10/06/2019 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE  [NCAS].[12_Create_Regional_Referral_Data]

AS

SET NOCOUNT ON

 
declare @MonthEndTest date

set @MonthEndTEst = getdate()-1
--print @MonthEndTest 
--print eomonth(@MonthEndTest)
--Print eomonth(convert(date,GetDate()))

if eomonth(convert(date,GetDate())) = eomonth(@MonthEndTest)

Begin





If object_ID('[Informatics_Reporting].[NCAS].[12_Regional_Referral_Data]') is not null
drop table [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data]
  select 
  --*
 a.CaseId,
 a.stage,
  case 
  when ltrim(rtrim(Country_Region)) = 'N - Wales' then 'Wales'
   when ltrim(rtrim(Country_Region)) in ('OT - Ireland','N - Northern Ireland') then 'Northern Ireland'
   when ltrim(rtrim(Country_Region)) = 'N-Scotland' then 'Scotland'
	when ltrim(rtrim(Country_Region)) = 'OT-Gibraltar' then 'Gibraltar'
	when ltrim(rtrim(Country_Region)) = 'OT-Guernsey' then 'Guernsey'
	when ltrim(rtrim(Country_Region)) = 'OT-Isle of Man' then 'Isle of Man'
	when ltrim(rtrim(Country_Region)) = 'OT-Jersey' then 'Jersey'
   else ltrim(rtrim(Country_Region))
   End as Region,
   Country_Region,
  Organisation_Name_At_Referral as Organisation,
  GradeDescription,
  GradeGroup,
  Sector,
  Profession,
  Case_Status,
  convert(date,Referral_Date) as Referral_Date,
  b.LastClosureDate,

  Convert(varchar,(year(dateadd(month, 9, Referral_Date)) - 1)) + '/' + right(convert(varchar,(year(dateadd(month, 9, Referral_Date)))),2)  AS [Referral Year],
  Case when 
			(
			ltrim(rtrim(Case_Status)) = 'Open' and datediff(year,Referral_Date,getdate()) >= 3 
			)
			then 1 
		when ltrim(rtrim(Case_Status)) = 'Closed' and datediff(month,Referral_Date,b.LastClosureDate)>= 36 then 1
			
			else 0 end as [Open 3 Years],

  case 
	when ltrim(rtrim(Case_Status)) in ( 'Closed','Inactive') then datediff(month,Referral_Date,b.LastClosureDate)
	when ltrim(rtrim(Case_Status)) = 'Open'   and b.LastClosureDate is null then datediff(month,Referral_Date,GetDate())
	when ltrim(rtrim(Case_Status)) = 'Open'   and b.LastClosureDate is not null then datediff(month,Referral_Date,b.LastClosureDate )
    End as LengthOfCase,
  Cast(null as varchar(100)) LengthOfCaseGrouper,
  Specialty
  into [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data]
 FROM [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  a

   left join
			(
			SELECT 
      [CaseId]

      ,max([HistoryDate]) as LastClosureDate
 
  FROM  [EKS_Archive1].[Core].[CaseProgressionHistory]
  where CaseStatusId = 2

  group by [CaseId]


			)as b on b.CaseId = a.caseid

   Where ltrim(rtrim([Country_Region])) in
   (
	'N - Northern Ireland',
	'N - Wales',
	'Wales',
	'OT - Ireland',
	'Northern Ireland',
	'N-Scotland',
	'OT-Gibraltar',
	'OT-Guernsey',
	'OT-Isle of Man',
	'OT-Jersey',
	'Gibraltar',
	'Guernsey',
	'Scotland',
	'Ireland',
	'Isle of Man',
	'Jersey'


  )
and CASE_Status <> 'Void'
and a.Stage <> '0-Information only'
	and Case_Type not in  -- Added 26/04/2019 to match criteria on Melody's KPI reference sheet
							(
							'Notification',
							'Team member',
							'Reference case',
							'Commissioned assessment',
							'Linked service case'

							)
--and a.caseid = 2947
--Less than 3 months	
--3 to 6 months	
--6 months to 12 months	
--12 months to 1 year	
--1 year to 2 years	
--2 years to 3 years	
--More than 3 years	

update r
		set r.LengthOfCaseGrouper = case 
										when LengthOfCase < 3 then 'Less than 3 months'
										when LengthOfCase between 3 and 6 then '3 to 6 months'
										when LengthOfCase between 7 and 12 then '6 months to 12 months'
										when LengthOfCase between 13 and 24 then '1 year to 2 years'
										when LengthOfCase between 25 and 36 then '2 years to 3 years'
										when LengthOfCase > 36 then 'More than 3 years'
										end

from [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data]r


END

ELSE

BEGIN




If object_ID('[Informatics_Reporting].[NCAS].[12_Regional_Referral_Data]') is not null
drop table [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data]
  select 
  --*
 a.CaseId,
 a.stage,
  case 
  when ltrim(rtrim(Country_Region)) = 'N - Wales' then 'Wales'
   when ltrim(rtrim(Country_Region)) in ('OT - Ireland','N - Northern Ireland') then 'Northern Ireland'
   when ltrim(rtrim(Country_Region)) = 'N-Scotland' then 'Scotland'
	when ltrim(rtrim(Country_Region)) = 'OT-Gibraltar' then 'Gibraltar'
	when ltrim(rtrim(Country_Region)) = 'OT-Guernsey' then 'Guernsey'
	when ltrim(rtrim(Country_Region)) = 'OT-Isle of Man' then 'Isle of Man'
	when ltrim(rtrim(Country_Region)) = 'OT-Jersey' then 'Jersey'
   else ltrim(rtrim(Country_Region))
   End as Region,
   Country_Region,
  Organisation_Name_At_Referral as Organisation,
  GradeDescription,
  GradeGroup,
  Sector,
  Profession,
  Case_Status,
  convert(date,Referral_Date) as Referral_Date,
  b.LastClosureDate,

  Convert(varchar,(year(dateadd(month, 9, Referral_Date)) - 1)) + '/' + right(convert(varchar,(year(dateadd(month, 9, Referral_Date)))),2)  AS [Referral Year],
  Case when 
			(
			ltrim(rtrim(Case_Status)) = 'Open' and datediff(year,Referral_Date,getdate()) >= 3 
			)
			then 1 
		when ltrim(rtrim(Case_Status)) = 'Closed' and datediff(month,Referral_Date,b.LastClosureDate)>= 36 then 1
			
			else 0 end as [Open 3 Years],

  case 
	when ltrim(rtrim(Case_Status)) in ( 'Closed','Inactive') then datediff(month,Referral_Date,b.LastClosureDate)
	when ltrim(rtrim(Case_Status)) = 'Open'   and b.LastClosureDate is null then datediff(month,Referral_Date,GetDate())
	when ltrim(rtrim(Case_Status)) = 'Open'   and b.LastClosureDate is not null then datediff(month,Referral_Date,b.LastClosureDate )
    End as LengthOfCase,
  Cast(null as varchar(100)) LengthOfCaseGrouper,
  Specialty
  into [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data]
 FROM [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  a

   left join
			(
			SELECT 
      [CaseId]

      ,max([HistoryDate]) as LastClosureDate
 
  FROM  [EKS_Archive1].[Core].[CaseProgressionHistory]
  where CaseStatusId = 2

  group by [CaseId]


			)as b on b.CaseId = a.caseid

   Where ltrim(rtrim([Country_Region])) in
   (
	'N - Northern Ireland',
	'N - Wales',
	'Wales',
	'OT - Ireland',
	'Northern Ireland',
	'N-Scotland',
	'OT-Gibraltar',
	'OT-Guernsey',
	'OT-Isle of Man',
	'OT-Jersey',
	'Gibraltar',
	'Guernsey',
	'Scotland',
	'Ireland',
	'Isle of Man',
	'Jersey'


  )
and CASE_Status <> 'Void'
and a.Stage <> '0-Information only'
	and Case_Type not in  -- Added 26/04/2019 to match criteria on Melody's KPI reference sheet
							(
							'Notification',
							'Team member',
							'Reference case',
							'Commissioned assessment',
							'Linked service case'

							)
--and a.caseid = 2947
--Less than 3 months	
--3 to 6 months	
--6 months to 12 months	
--12 months to 1 year	
--1 year to 2 years	
--2 years to 3 years	
--More than 3 years	

update r
		set r.LengthOfCaseGrouper = case 
										when LengthOfCase < 3 then 'Less than 3 months'
										when LengthOfCase between 3 and 6 then '3 to 6 months'
										when LengthOfCase between 7 and 12 then '6 months to 12 months'
										when LengthOfCase between 13 and 24 then '1 year to 2 years'
										when LengthOfCase between 25 and 36 then '2 years to 3 years'
										when LengthOfCase > 36 then 'More than 3 years'
										end

from [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data]r





If object_ID('[Informatics_Reporting].[NCAS].[12_Regional_Referral_Data_Archive2]') is not null
drop table [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data_Archive2]
  select 
  --*
 a.CaseId,
 a.stage,
  case 
  when ltrim(rtrim(Country_Region)) = 'N - Wales' then 'Wales'
   when ltrim(rtrim(Country_Region)) in ('OT - Ireland','N - Northern Ireland') then 'Northern Ireland'
   when ltrim(rtrim(Country_Region)) = 'N-Scotland' then 'Scotland'
	when ltrim(rtrim(Country_Region)) = 'OT-Gibraltar' then 'Gibraltar'
	when ltrim(rtrim(Country_Region)) = 'OT-Guernsey' then 'Guernsey'
	when ltrim(rtrim(Country_Region)) = 'OT-Isle of Man' then 'Isle of Man'
	when ltrim(rtrim(Country_Region)) = 'OT-Jersey' then 'Jersey'
   else ltrim(rtrim(Country_Region))
   End as Region,
   Country_Region,
  Organisation_Name_At_Referral as Organisation,
  GradeDescription,
  GradeGroup,
  Sector,
  Profession,
  Case_Status,
  convert(date,Referral_Date) as Referral_Date,
  b.LastClosureDate,

  Convert(varchar,(year(dateadd(month, 9, Referral_Date)) - 1)) + '/' + right(convert(varchar,(year(dateadd(month, 9, Referral_Date)))),2)  AS [Referral Year],
  Case when 
			(
			ltrim(rtrim(Case_Status)) = 'Open' and datediff(year,Referral_Date,getdate()) >= 3 
			)
			then 1 
		when ltrim(rtrim(Case_Status)) = 'Closed' and datediff(month,Referral_Date,b.LastClosureDate)>= 36 then 1
			
			else 0 end as [Open 3 Years],

  case 
	when ltrim(rtrim(Case_Status)) in ( 'Closed','Inactive') then datediff(month,Referral_Date,b.LastClosureDate)
	when ltrim(rtrim(Case_Status)) = 'Open'   and b.LastClosureDate is null then datediff(month,Referral_Date,GetDate())
	when ltrim(rtrim(Case_Status)) = 'Open'   and b.LastClosureDate is not null then datediff(month,Referral_Date,b.LastClosureDate )
    End as LengthOfCase,
  Cast(null as varchar(100)) LengthOfCaseGrouper,
  Specialty
  into [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data_Archive2]
 FROM [Informatics_Reporting].[NCAS].[01_EKS_Case_Details]  a

   left join
			(
			SELECT 
      [CaseId]

      ,max([HistoryDate]) as LastClosureDate
 
  FROM  [EKS_Archive1].[Core].[CaseProgressionHistory]
  where CaseStatusId = 2

  group by [CaseId]


			)as b on b.CaseId = a.caseid

   Where ltrim(rtrim([Country_Region])) in
   (
	'N - Northern Ireland',
	'N - Wales',
	'Wales',
	'OT - Ireland',
	'Northern Ireland',
	'N-Scotland',
	'OT-Gibraltar',
	'OT-Guernsey',
	'OT-Isle of Man',
	'OT-Jersey',
	'Gibraltar',
	'Guernsey',
	'Scotland',
	'Ireland',
	'Isle of Man',
	'Jersey'


  )
and CASE_Status <> 'Void'
and a.Stage <> '0-Information only'
	and Case_Type not in  -- Added 26/04/2019 to match criteria on Melody's KPI reference sheet
							(
							'Notification',
							'Team member',
							'Reference case',
							'Commissioned assessment',
							'Linked service case'

							)
--and a.caseid = 2947
--Less than 3 months	
--3 to 6 months	
--6 months to 12 months	
--12 months to 1 year	
--1 year to 2 years	
--2 years to 3 years	
--More than 3 years	

update r
		set r.LengthOfCaseGrouper = case 
										when LengthOfCase < 3 then 'Less than 3 months'
										when LengthOfCase between 3 and 6 then '3 to 6 months'
										when LengthOfCase between 7 and 12 then '6 months to 12 months'
										when LengthOfCase between 13 and 24 then '1 year to 2 years'
										when LengthOfCase between 25 and 36 then '2 years to 3 years'
										when LengthOfCase > 36 then 'More than 3 years'
										end

from [Informatics_Reporting].[NCAS].[12_Regional_Referral_Data_Archive2]r


END
