
--select
--a.CMC_ID,
--c.Surgery,
--c.CCG,
--c.CommissioningArea,
--c.London_CCG_ODS

-- FROM [ETL_Local_PROD].[dbo].[Cache-PatientDetail]a
--  select top 10 * from  [ETL_Local_PROD].[dbo].[Cache-PatientRegisteredGP]c on c.CMC_ID = a.CMC_ID




  			If object_ID('tempdb..#Temp1') is not null
			drop table #Temp1
		    select 
			CMC_ID 
			into #Temp1 
			FROM [ETL_Local_PROD].[dbo].[AT_Patient_General]
			where   
		 (convert(date,DoD_PDS) is null OR convert(date,DoD_PDS) >= '2020-01-01')
		 AND convert(date,Date_Original_Approval) <= '2020-01-31'


	 




			select 
			distinct
			a.CMC_ID,
			 Surgery,
			CCG,
			CommissioningArea,
			London_CCG_ODS
			from [ETL_Local_PROD].[dbo].[PatientRegisteredGP]a
			inner join #Temp1 b on b.CMC_ID = a.CMC_ID
			where London_CCG_ODS is not null
			and ltrim(rtrim(Surgery)) = 'CLOISTER ROAD SURGERY'
		 

			sum(case when  ((convert(date,a.DoD_PDS) is null OR convert(date,a.DoD_PDS)>= @SnapDateStart  )AND convert(date,a.Date_Original_Approval) <= @SnapDateEnd ) then 1 else null end)