USE [master]
GO
/****** Object:  Database [ODSDataMay2019]    Script Date: 05/12/2019 13:53:56 ******/
CREATE DATABASE [ODSDataMay2019]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ODSDataMay2019', FILENAME = N'E:\Data\MSSQL13.MSSQLSERVER\MSSQL\Data\ODSDataMay2019.mdf' , SIZE = 193536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ODSDataMay2019_log', FILENAME = N'F:\Log\ODSDataMay2019_log.ldf' , SIZE = 922304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ODSDataMay2019].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ODSDataMay2019]
GO
USE [ODSDataMay2019]
GO
/****** Object:  Schema [odsdata]    Script Date: 05/12/2019 13:53:59 ******/
CREATE SCHEMA [odsdata]
GO
/****** Object:  Table [odsdata].[Health Authority]    Script Date: 05/12/2019 13:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Health Authority](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Extended Postcode]    Script Date: 05/12/2019 13:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Extended Postcode](
	[Postcode] [nvarchar](8) NOT NULL,
	[Health Authority of Residence] [nvarchar](3) NULL,
	[PCG of Residence] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Primary Care Organisation]    Script Date: 05/12/2019 13:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Primary Care Organisation](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  View [odsdata].[PCOtoHealthAuthority]    Script Date: 05/12/2019 13:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [odsdata].[PCOtoHealthAuthority]
with schemabinding
as
SELECT 
p.[Organisation Name] as [CCG Name],
p.[Organisation Code] as [CCG Code],
h.[Organisation Name] as [Health Authority Name],
h.[Organisation Code] as [Health Authority Code],
'Health Authority' as [Health Authority Type],
COUNT_BIG(*) as num
  FROM [ODSData].[Extended Postcode] e
  join ODSData.[Health Authority] h on e.[Health Authority of Residence] = h.[Organisation Code]
  join odsdata.[Primary Care Organisation] p on e.[PCG of Residence] = p.[Organisation Code]
  group by
  p.[Organisation Name],p.[Organisation Code],h.[Organisation Name],h.[Organisation Code]
GO
/****** Object:  Table [odsdata].[NHS Trust]    Script Date: 05/12/2019 13:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[NHS Trust](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Local Authority Site]    Script Date: 05/12/2019 13:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Local Authority Site](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Local Authority]    Script Date: 05/12/2019 13:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Local Authority](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[General Medical Practitioner]    Script Date: 05/12/2019 13:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[General Medical Practitioner](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[General Medical Practice]    Script Date: 05/12/2019 13:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[General Medical Practice](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](2) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[CSU]    Script Date: 05/12/2019 13:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[CSU](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Care Trust Site]    Script Date: 05/12/2019 13:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Care Trust Site](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Care Trust]    Script Date: 05/12/2019 13:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Care Trust](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Care Home HQ]    Script Date: 05/12/2019 13:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Care Home HQ](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Care Home]    Script Date: 05/12/2019 13:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Care Home](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Branch Surgeries]    Script Date: 05/12/2019 13:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Branch Surgeries](
	[Organisation Code] [nvarchar](9) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Shared Services]    Script Date: 05/12/2019 13:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Shared Services](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Private Healthcare Provider Site]    Script Date: 05/12/2019 13:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Private Healthcare Provider Site](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Private Healthcare Provider]    Script Date: 05/12/2019 13:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Private Healthcare Provider](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Prison]    Script Date: 05/12/2019 13:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Prison](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Primary Care Organisation Site]    Script Date: 05/12/2019 13:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Primary Care Organisation Site](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Other]    Script Date: 05/12/2019 13:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Other](
	[Organisation Code] [nvarchar](8) NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[Non NHS Organisation]    Script Date: 05/12/2019 13:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[Non NHS Organisation](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [odsdata].[NHS Trust Site]    Script Date: 05/12/2019 13:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [odsdata].[NHS Trust Site](
	[Organisation Code] [nvarchar](8) NOT NULL,
	[Organisation Name] [nvarchar](100) NULL,
	[RO Code] [nvarchar](3) NULL,
	[HA Code] [nvarchar](3) NULL,
	[Address Line 1] [nvarchar](35) NULL,
	[Address Line 2] [nvarchar](35) NULL,
	[Address Line 3] [nvarchar](35) NULL,
	[Address Line 4] [nvarchar](35) NULL,
	[Address Line 5] [nvarchar](35) NULL,
	[Postcode] [nvarchar](8) NULL,
	[Open Date] [nvarchar](8) NULL,
	[Close Date] [nvarchar](8) NULL,
	[Status Code] [nvarchar](1) NULL,
	[Organisation Sub Type Code] [nvarchar](1) NULL,
	[Parent Organisation Code] [nvarchar](6) NULL,
	[Join Parent Date] [nvarchar](8) NULL,
	[Left Parent Date] [nvarchar](8) NULL,
	[Contact Telephone Number] [nvarchar](12) NULL,
	[Contact Name] [nvarchar](50) NULL,
	[Address Type] [nvarchar](2) NULL,
	[Field0] [nvarchar](10) NULL,
	[Amended Record Indicator] [nvarchar](1) NULL,
	[Wave Number] [nvarchar](2) NULL,
	[Current GPFH or PCG Code] [nvarchar](5) NULL,
	[Current GPFH Type] [nvarchar](1) NULL,
	[Field27] [nvarchar](1) NULL,
	[Field28] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  View [odsdata].[Cache-SearchODS]    Script Date: 05/12/2019 13:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [odsdata].[Cache-SearchODS]
as
with odsall as
(
select 'Branch Surgery' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Branch Surgeries]
union all
select 'General Medical Practice' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[General Medical Practice]
union all
select 'GP' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[General Medical Practitioner]
union all
select 'NHS Trust' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[NHS Trust]
union all
select 'NHS Trust Site' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[NHS Trust Site]
union all
select 'Care Trust' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Care Trust]
union all
select 'Care Trust Site' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Care Trust Site]
union all
select 'Non NHS Organisation' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Non NHS Organisation]
union all
select 'Care Home' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Care Home]
union all
select 'Care Home HQ' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Care Home HQ]
union all
select 'Health Authority' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Health Authority]
union all
select 'Local Authority' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Local Authority]
union all
select 'Local Authority Site' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Local Authority Site]
union all
select 'CCG' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Primary Care Organisation]
-- new entries 10.4.17 (Hospice removed)
union all
select 'CCG Site' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Primary Care Organisation Site]
union all
select 'Commissioning Support Unit (CSU)' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[CSU]
union all
select 'Shared Services' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Shared Services]
union all
select 'Private Healthcare Provider' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Private Healthcare Provider]
union all
select 'Private Healthcare Provider Site' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Private Healthcare Provider Site]
union all
select 'Prison' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Prison]
union all
select 'Other' as [Type],
 [Organisation Code],[Organisation Name],[RO Code],[HA Code],[Address Line 1],[Address Line 2]
,[Address Line 3],[Address Line 4],[Address Line 5],[Postcode],[Open Date],[Close Date],[Status Code]
,[Organisation Sub Type Code],[Parent Organisation Code],[Join Parent Date],[Left Parent Date],[Contact Telephone Number]
,[Contact Name],[Address Type],[Field0],[Amended Record Indicator],[Wave Number],[Current GPFH or PCG Code]
,[Current GPFH Type],[Field27],[Field28]
from odsdata.[Other]
),
odsparent as
-- Add health authority details for CCGs MS 1.5.15
(select distinct
 o1.[Type],o1.[Organisation Code],o1.[Organisation Name],o1.[RO Code],o1.[HA Code],o1.[Address Line 1],o1.[Address Line 2]
,o1.[Address Line 3],o1.[Address Line 4],o1.[Address Line 5],o1.[Postcode],o1.[Open Date],o1.[Close Date],o1.[Status Code]
,o1.[Organisation Sub Type Code],o1.[Parent Organisation Code],o1.[Join Parent Date],o1.[Left Parent Date],o1.[Contact Telephone Number]
,o1.[Contact Name],o1.[Address Type],o1.[Field0],o1.[Amended Record Indicator],o1.[Wave Number],o1.[Current GPFH or PCG Code]
,o1.[Current GPFH Type],o1.[Field27],o1.[Field28], 
 isnull(o2.[Organisation Name],o3.[Health Authority Name]) as Parent,
 isnull(o2.[TYPE],o3.[Health Authority Type]) as ParentType,
 isnull(o2.[Organisation Code],o3.[Health Authority Code]) as ParentODS
from odsall o1
  left join odsall o2
    on o1.[Parent Organisation Code] = o2.[Organisation Code]
  left join odsdata.PCOtoHealthAuthority o3
    on o1.[Organisation Code] = o3.[CCG Code]),
ccg as
(select distinct o1.[Organisation Code], o2.[Organisation Name] as CCG
from odsall o1
  join odsall o2
    on o1.[Current GPFH or PCG Code] = o2.[Organisation Code]) 
select distinct
[Type],
[Organisation Name] as [Team or GP],
parent + ' (' + parenttype + ')' as Parent,
ccg as [GP CCG],
o.[Organisation Code] as ODS,
isnull([Address Line 1] + ' ','') +
isnull([Address Line 2] + ' ','') +
isnull([Address Line 3] + ' ','') +
isnull([Address Line 4] + ' ','') +
isnull([Address Line 5],'') as [Address],
Postcode,
case replace([Open Date],' ','')
  when '' then NULL
  else cast([Open Date] as date)
  end as [Open Date],
case replace([Close Date],' ','')
  when '' then NULL
  else cast([Close Date] as date)
  end as [Close Date],
case replace([Join Parent Date],' ','')
  when '' then NULL
  else cast([Join Parent Date] as date)
  end as [Join Parent Date],
case replace([Left Parent Date],' ','')
  when '' then NULL
  else cast([Left Parent Date] as date)
  end as [Left Parent Date],
-- Add parent ODS code MS 13.3.15
ParentODS,
-- Add split parent info MS 1.5.15
parent as ParentTeam,
parenttype as ParentType,
-- MS 6.12.16 add telephone number
replace(o.[Contact Telephone Number],' ','') as Telephone
from odsparent o
left join ccg c on o.[Organisation Code] = c.[Organisation Code]
GO
USE [master]
GO
