 

   if OBJECT_ID ('[ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]') is not null
	drop table [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]
SELECT 
 
	 distinct
	 
	  b.DeptName
	  ,h.ods7 as ODSCode
	  ,case
	-- workaround for West London
	  when h.name6 = 'NHS WEST LONDON CCG' then h.name6
	  when h.name5 = 'NHS WEST LONDON CCG' then h.name5
	  when h.typedesc6 = 'CCG' then h.name6
	  when h.typedesc5 = 'CCG' then h.name5
	  when h.name6 like '%CCG' then 'Cross Border: ' + h.name6
	  when h.name5 like '%CCG' then 'Cross Border: ' + h.name5
	-- workaround for org to org links that have gone walkies
	 
	  else 'Unknown/Practice not a Practice: ' + isnull(h.name6,'not given') end as CCG
	  into [ETL_Local_PROD].[dbo].[AT_EMIS_Availability_Practices]
 
  FROM [ETL_Local_PROD].[dbo].[AvailabilityLog]a
  left join AT_PD_Dept b on b.DeptEnterpriseID = a.DeptEnterpriseID
  left join [ETL_Local_PROD].[dbo].[AT_Dept_Heirarchy] h on h.eid7 = a.DeptEnterpriseID


  'NHS ENFIELD CCG'


 